<div class="row">

    <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
        <div class="smallstat box">
            <div class="boxchart-overlay blue">
                <div class="boxchart"><canvas width="64" height="30" style="display: inline-block; width: 64px; height: 30px; vertical-align: top;"></canvas></div>
            </div>
            <span class="title">Entities</span>
            <span class="value">4 589</span>
        </div>
    </div><!--/col-->

    <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
        <div class="smallstat box">
            <div class="boxchart-overlay red">
                <div class="boxchart"><canvas width="64" height="30" style="display: inline-block; width: 64px; height: 30px; vertical-align: top;"></canvas></div>
            </div>
            <span class="title">Products</span>
            <span class="value">789</span>
        </div>
    </div><!--/col-->

    <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
        <div class="smallstat box">
            <i class="fa fa-barcode grey"></i>
            <span class="title">Items</span>
            <span class="value">1 999</span>
        </div>
    </div><!--/col-->

    <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
        <div class="smallstat box">
            <i class="fa fa-camera green"></i>
            <span class="title">Resources</span>
            <span class="value">2562</span>
        </div>
    </div><!--/col-->

</div><!--/row-->

<div class="row">
    <!--<div class="col-lg-6 col-md-6 col-sm-6">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-list"></i>Weekly Stats</h2>
                <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <ul class="dashboard-list">
                    <li>
                        <a href="#">
                            <i class="fa fa-arrow-up red"></i>
                            <span class="red">92</span>
                            New Products
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-arrow-up blue"></i>
                            <span class="blue">15</span>
                            New Items
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-arrow-up green"></i>
                            <span class="green">36</span>
                            New Resources
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-plus blue"></i>
                            <span class="blue">45</span>
                            Complete Products
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-minus red"></i>
                            <span class="red">23</span>
                            Incomplete Products
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
    
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-bullhorn"></i>Server Status</h2>
            </div>
            <div class="box-content alerts">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Server is operational<br/>
                    <!--Server load: 90%<br/>
                    Server uptime: 25 days, 2 hours-->
                </div>
            </div>

        </div>
    </div>
</div>

<!--<div class="row">
<div class="col-lg-6">
    <div class="box"> 
        <div class="box-header">
            <h2><i class="fa fa-bullhorn"></i>Channels</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-content alerts">
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                EpiServer Channel was published - 30 min
            </div>
        </div>

    </div>
</div>
</div>-->

<div class="row">
    <div class="main">
        
    </div>
    <div class="sidebar"></div>
</div>

<div id="footer"></div>