/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
    font-family: sans-serif;
}

.alertify {
    background: #FFF;
  
    -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
    -moz-background-clip: padding; /* Firefox 3.6 */
    -ms-background-clip: padding-box;
    background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
    z-index: 100000;
}

.alertify-text {
    border: 1px solid #CCC;
    padding: 10px;
    margin-right:10px;
    margin-top: 20px;
    width: 465px;
}

.alertify-button {
    margin: 0 10px;
}

    .alertify-button:hover,
    .alertify-button:focus {
        outline: none;
        /*background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));*/
    }

    .alertify-button:focus {
        /*box-shadow: 0 0 15px #2B72D5;*/
    }

    .alertify-button:active {
        position: relative;
        /*box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);*/
    }

.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
    /*background-color: #FE1A00;*/
}

/*.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
    background-color: #C0432F;
}*/

.alertify-log {
    background: #1F1F1F;
    background: rgba(0,0,0,.9);
    padding: 15px;
    color: #FFF;
    /*text-shadow: -1px -1px 0 rgba(0,0,0,.5);*/
    z-index: 100000;
}

.alertify-log-error {
    background: #d33138;
    background: rgba(254,26,0,.9);
}

.alertify-log-success {
    background-color: #2d2d2c;
    color: #ffffff;
    /*border: solid 2px #2d2d2c;*/
    /*background: #5CB811;*/
    /*background: rgba(92,184,17,.9);*/
    -ms-opacity: 0.8;
    opacity: 0.8;
    z-index: 100000;
}

.alertify-alert {
      border: 1px solid #d33138;
}

.alertify-alert-header {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    width: 100%;
    background-color: #d33138;
    height: 40px;
    top: 0;
    position: absolute;
    left: 0;
}

.alertify-alert-header div {
    margin: 20px;
    margin-top: 10px;
}

.alertify-alert-message{
    margin-top: 30px;
    text-align: left;
}

.alertify-alert-message nav{
    text-align: right;
}

.alertify-confirm {
      border: 1px solid #d33138;
}

.alertify-confirm-header {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    width: 100%;
    background-color: #d33138;
    height: 40px;
    top: 0;
    position: absolute;
    left: 0;
}

.alertify-confirm div article nav button {
    background-color: #d33138;
}

.alertify-alert div article nav button {
    background-color: #d33138;
}

.alertify-confirm-header div {
    margin: 20px;
    margin-top: 10px;
    white-space: nowrap;
    overflow-x: hidden;
}

.alertify-confirm-message{
    margin-top: 30px;
    text-align: left;
}

.alertify-prompt {
      border: 1px solid #d33138;
}

.alertify-prompt-header {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    width: 100%;
    background-color: #d33138;
    height: 40px;
    top: 0;
    position: absolute;
    left: 0;
}

.alertify-prompt-header div {
    margin: 20px;
    margin-top: 10px;
}
