/* Modal positioning */
.bbm-wrapper {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 50px 10px;
    /* .bbm-wrapper * {
    box-sizing: border-box; }
     */
}

.bbm-modal {
  margin: auto;
  width: auto;
  max-width: 730px; }

.bbm-views {
  width: 100%;
  box-sizing: border-box; }
