﻿[class*="icon-entypo-fix-"]:before {
    font-family: "entypo-fix"; 
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.icon-entypo-fix-note:before { content: "\e717" }
.icon-entypo-fix-note-beamed:before { content: "\e630" }
.icon-entypo-fix-music:before { content: "\e692" }
.icon-entypo-fix-search:before { content: "\e622" }
.icon-entypo-fix-flashlight:before { content: "\e623" }
.icon-entypo-fix-mail:before { content: "\e604" }
.icon-entypo-fix-heart:before { content: "\e718" }
.icon-entypo-fix-heart-empty:before { content: "\e618" }
.icon-entypo-fix-star:before { content: "\e619" }
.icon-entypo-fix-star-empty:before { content: "\e61a" }
.icon-entypo-fix-user:before { content: "\e60d" }
.icon-entypo-fix-users:before { content: "\e60e" }
.icon-entypo-fix-user-add:before { content: "\e60f" }
.icon-entypo-fix-video:before { content: "\e691" }
.icon-entypo-fix-picture:before { content: "\e690" }
.icon-entypo-fix-camera:before { content: "\e62c" }
.icon-entypo-fix-layout:before { content: "\e68b" }
.icon-entypo-fix-menu:before { content: "\e68c" }
.icon-entypo-fix-check:before { content: "\e66f" }
.icon-entypo-fix-cancel:before { content: "\e670" }
.icon-entypo-fix-cancel-circled:before { content: "\e676" }
.icon-entypo-fix-cancel-squared:before { content: "\e673" }
.icon-entypo-fix-plus:before { content: "\e713" }
.icon-entypo-fix-plus-circled:before { content: "\e675" }
.icon-entypo-fix-plus-squared:before { content: "\e672" }
.icon-entypo-fix-minus:before { content: "\e677" }
.icon-entypo-fix-minus-circled:before { content: "\e674" }
.icon-entypo-fix-minus-squared:before { content: "\e671" }
.icon-entypo-fix-help:before { content: "\e67b" }
.icon-entypo-fix-help-circled:before { content: "\e67c" }
.icon-entypo-fix-info:before { content: "\e679" }
.icon-entypo-fix-info-circled:before { content: "\e67a" }
.icon-entypo-fix-back:before { content: "\e682" }
.icon-entypo-fix-home:before { content: "\e620" }
.icon-entypo-fix-link:before { content: "\e626" }
.icon-entypo-fix-attach:before { content: "\e608" }
.icon-entypo-fix-lock:before { content: "\e66b" }
.icon-entypo-fix-lock-open:before { content: "\e66c" }
.icon-entypo-fix-eye:before { content: "\e638" }
.icon-entypo-fix-tag:before { content: "\e62b" }
.icon-entypo-fix-bookmark:before { content: "\e69c" }
.icon-entypo-fix-bookmarks:before { content: "\e69d" }
.icon-entypo-fix-flag:before { content: "\e627" }
.icon-entypo-fix-thumbs-up:before { content: "\e61b" }
.icon-entypo-fix-thumbs-down:before { content: "\e61c" }
.icon-entypo-fix-download:before { content: "\e697" }
.icon-entypo-fix-upload:before { content: "\e696" }
.icon-entypo-fix-upload-cloud:before { content: "\e69b" }
.icon-entypo-fix-reply:before { content: "\e60a" }
.icon-entypo-fix-reply-all:before { content: "\e60b" }
.icon-entypo-fix-forward:before { content: "\e60c" }
.icon-entypo-fix-quote:before { content: "\e61f" }
.icon-entypo-fix-code:before { content: "\e659" }
.icon-entypo-fix-export:before { content: "\e611" }
.icon-entypo-fix-pencil:before { content: "\e606" }
.icon-entypo-fix-feather:before { content: "\e607" }
.icon-entypo-fix-print:before { content: "\e624" }
.icon-entypo-fix-retweet:before { content: "\e684" }
.icon-entypo-fix-keyboard:before { content: "\e64f" }
.icon-entypo-fix-comment:before { content: "\e61e" }
.icon-entypo-fix-chat:before { content: "\e61d" }
.icon-entypo-fix-bell:before { content: "\e625" }
.icon-entypo-fix-attention:before { content: "\e67d" }
.icon-entypo-fix-alert:before { content: "\e631" }
.icon-entypo-fix-vcard:before { content: "\e610" }
.icon-entypo-fix-address:before { content: "\e723" }
.icon-entypo-fix-location:before { content: "\e612" }
.icon-entypo-fix-map:before { content: "\e613" }
.icon-entypo-fix-direction:before { content: "\e615" }
.icon-entypo-fix-compass:before { content: "\e614" }
.icon-entypo-fix-cup:before { content: "\e649" }
.icon-entypo-fix-trash:before { content: "\e695" }
.icon-entypo-fix-doc:before { content: "\e68f" }
.icon-entypo-fix-docs:before { content: "\e710" }
.icon-entypo-fix-doc-landscape:before { content: "\e711" }
.icon-entypo-fix-doc-text:before { content: "\e68d" }
.icon-entypo-fix-doc-text-inv:before { content: "\e68e" }
.icon-entypo-fix-newspaper:before { content: "\e634" }
.icon-entypo-fix-book-open:before { content: "\e69e" }
.icon-entypo-fix-book:before { content: "\e633" }
.icon-entypo-fix-folder:before { content: "\e693" }
.icon-entypo-fix-archive:before { content: "\e694" }
.icon-entypo-fix-box:before { content: "\e660" }
.icon-entypo-fix-rss:before { content: "\e662" }
.icon-entypo-fix-phone:before { content: "\e600" }
.icon-entypo-fix-cog:before { content: "\e628" }
.icon-entypo-fix-tools:before { content: "\e629" }
.icon-entypo-fix-share:before { content: "\e617" }
.icon-entypo-fix-shareable:before { content: "\e715" }
.icon-entypo-fix-basket:before { content: "\e71b" }
.icon-entypo-fix-bag:before { content: "\e635" }
.icon-entypo-fix-calendar:before { content: "\e63b" }
.icon-entypo-fix-login:before { content: "\e66e" }
.icon-entypo-fix-logout:before { content: "\e66d" }
.icon-entypo-fix-mic:before { content: "\e63a" }
.icon-entypo-fix-mute:before { content: "\e6a9" }
.icon-entypo-fix-sound:before { content: "\e6a8" }
.icon-entypo-fix-volume:before { content: "\e70e" }
.icon-entypo-fix-clock:before { content: "\e639" }
.icon-entypo-fix-hourglass:before { content: "\e642" }
.icon-entypo-fix-lamp:before { content: "\e65c" }
.icon-entypo-fix-light-down:before { content: "\e656" }
.icon-entypo-fix-light-up:before { content: "\e657" }
.icon-entypo-fix-adjust:before { content: "\e658" }
.icon-entypo-fix-block:before { content: "\e678" }
.icon-entypo-fix-resize-full:before { content: "\e6a7" }
.icon-entypo-fix-resize-small:before { content: "\e70f" }
.icon-entypo-fix-popup:before { content: "\e621" }
.icon-entypo-fix-publish:before { content: "\e651" }
.icon-entypo-fix-window:before { content: "\e650" }
.icon-entypo-fix-arrow-left:before { content: "\e6b3" }
.icon-entypo-fix-arrow-right:before { content: "\e6b6" }
.icon-entypo-fix-arrow-combo:before { content: "\e6cd" }
.icon-entypo-fix-down-circled:before { content: "\e70c" }
.icon-entypo-fix-left-circled:before { content: "\e6b7" }
.icon-entypo-fix-right-circled:before { content: "\e6ba" }
.icon-entypo-fix-up-circled:before { content: "\e70d" }
.icon-entypo-fix-down-open:before { content: "\e75c" }
.icon-entypo-fix-left-open:before { content: "\e6bf" }
.icon-entypo-fix-right-open:before { content: "\e6c0" }
.icon-entypo-fix-up-open:before { content: "\e75f" }
.icon-entypo-fix-down-open-mini:before { content: "\e6c2" }
.icon-entypo-fix-left-open-mini:before { content: "\e6c1" }
.icon-entypo-fix-right-open-mini:before { content: "\e6c4" }
.icon-entypo-fix-up-open-mini:before { content: "\e6c3" }
.icon-entypo-fix-down-open-big:before { content: "\e6c6" }
.icon-entypo-fix-left-open-big:before { content: "\e6c5" }
.icon-entypo-fix-right-open-big:before { content: "\e6c8" }
.icon-entypo-fix-up-open-big:before { content: "\e6c7" }
.icon-entypo-fix-down:before { content: "\e6b4" }
.icon-entypo-fix-left:before { content: "\e6b3" }
.icon-entypo-fix-right:before { content: "\e6b6" }
.icon-entypo-fix-up:before { content: "\e6b5" }
.icon-entypo-fix-down-dir:before { content: "\e6bc" }
.icon-entypo-fix-left-dir:before { content: "\e6bb" }
.icon-entypo-fix-right-dir:before { content: "\e6be" }
.icon-entypo-fix-up-dir:before { content: "\e6bd" }
.icon-entypo-fix-down-bold:before { content: "\e6b0" }
.icon-entypo-fix-left-bold:before { content: "\e6af" }
.icon-entypo-fix-right-bold:before { content: "\e6b2" }
.icon-entypo-fix-up-bold:before { content: "\e6b1" }
.icon-entypo-fix-down-thin:before { content: "\e6ca" }
.icon-entypo-fix-left-thin:before { content: "\e6c9" }
.icon-entypo-fix-right-thin:before { content: "\e6cc" }
.icon-entypo-fix-up-thin:before { content: "\e6cb" }
.icon-entypo-fix-ccw:before { content: "\e680" }
.icon-entypo-fix-cw:before { content: "\e67f" }
.icon-entypo-fix-arrows-ccw:before { content: "\e67e" }
.icon-entypo-fix-level-down:before { content: "\e683" }
.icon-entypo-fix-level-up:before { content: "\e687" }
.icon-entypo-fix-shuffle:before { content: "\e681" }
.icon-entypo-fix-loop:before { content: "\e685" }
.icon-entypo-fix-switch:before { content: "\e688" }
.icon-entypo-fix-play:before { content: "\e69f" }
.icon-entypo-fix-stop:before { content: "\e6a2" }
.icon-entypo-fix-pause:before { content: "\e6a0" }
.icon-entypo-fix-record:before { content: "\e6a1" }
.icon-entypo-fix-to-end:before { content: "\e6a6" }
.icon-entypo-fix-to-start:before { content: "\e6a5" }
.icon-entypo-fix-fast-forward:before { content: "\e6a3" }
.icon-entypo-fix-fast-backward:before { content: "\e6a4" }
.icon-entypo-fix-progress-0:before { content: "\e655" }
.icon-entypo-fix-progress-1:before { content: "\e654" }
.icon-entypo-fix-progress-2:before { content: "\e653" }
.icon-entypo-fix-progress-3:before { content: "\e652" }
.icon-entypo-fix-target:before { content: "\e616" }
.icon-entypo-fix-palette:before { content: "\e62f" }
.icon-entypo-fix-list:before { content: "\e689" }
.icon-entypo-fix-list-add:before { content: "\e68a" }
.icon-entypo-fix-signal:before { content: "\e663" }
.icon-entypo-fix-trophy:before { content: "\e62a" }
.icon-entypo-fix-battery:before { content: "\e647" }
.icon-entypo-fix-back-in-time:before { content: "\e686" }
.icon-entypo-fix-monitor:before { content: "\e65a" }
.icon-entypo-fix-mobile:before { content: "\e601" }
.icon-entypo-fix-network:before { content: "\e645" }
.icon-entypo-fix-cd:before { content: "\e63f" }
.icon-entypo-fix-inbox:before { content: "\e609" }
.icon-entypo-fix-install:before { content: "\e699" }
.icon-entypo-fix-globe:before { content: "\e64e" }
.icon-entypo-fix-cloud:before { content: "\e69a" }
.icon-entypo-fix-cloud-thunder:before { content: "\e63d" }
.icon-entypo-fix-flash:before { content: "\e63c" }
.icon-entypo-fix-moon:before { content: "\e62e" }
.icon-entypo-fix-flight:before { content: "\e636" }
.icon-entypo-fix-paper-plane:before { content: "\e605" }
.icon-entypo-fix-leaf:before { content: "\e719" }
.icon-entypo-fix-lifebuoy:before { content: "\e637" }
.icon-entypo-fix-mouse:before { content: "\e602" }
.icon-entypo-fix-briefcase:before { content: "\e640" }
.icon-entypo-fix-suitcase:before { content: "\e64c" }
.icon-entypo-fix-dot:before { content: "\e6d0" }
.icon-entypo-fix-dot-2:before { content: "\e6cf" }
.icon-entypo-fix-dot-3:before { content: "\e6ce" }
.icon-entypo-fix-brush:before { content: "\e64b" }
.icon-entypo-fix-magnet:before { content: "\e71a" }
.icon-entypo-fix-infinity:before { content: "\e65b" }
.icon-entypo-fix-erase:before { content: "\e712" }
.icon-entypo-fix-chart-pie:before { content: "\e668" }
.icon-entypo-fix-chart-line:before { content: "\e667" }
.icon-entypo-fix-chart-bar:before { content: "\e669" }
.icon-entypo-fix-chart-area:before { content: "\e66a" }
.icon-entypo-fix-tape:before { content: "\e65f" }
.icon-entypo-fix-graduation-cap:before { content: "\e632" }
.icon-entypo-fix-language:before { content: "\e644" }
.icon-entypo-fix-ticket:before { content: "\e661" }
.icon-entypo-fix-water:before { content: "\e665" }
.icon-entypo-fix-droplet:before { content: "\e63e" }
.icon-entypo-fix-air:before { content: "\e641" }
.icon-entypo-fix-credit-card:before { content: "\e65d" }
.icon-entypo-fix-floppy:before { content: "\e698" }
.icon-entypo-fix-clipboard:before { content: "\e714" }
.icon-entypo-fix-megaphone:before { content: "\e62d" }
.icon-entypo-fix-database:before { content: "\e65e" }
.icon-entypo-fix-drive:before { content: "\e648" }
.icon-entypo-fix-bucket:before { content: "\e716" }
.icon-entypo-fix-thermometer:before { content: "\e664" }
.icon-entypo-fix-key:before { content: "\e646" }
.icon-entypo-fix-flow-cascade:before { content: "\e6aa" }
.icon-entypo-fix-flow-branch:before { content: "\e6ab" }
.icon-entypo-fix-flow-tree:before { content: "\e6ac" }
.icon-entypo-fix-flow-line:before { content: "\e6ad" }
.icon-entypo-fix-flow-parallel:before { content: "\e6ae" }
.icon-entypo-fix-rocket:before { content: "\e64a" }
.icon-entypo-fix-gauge:before { content: "\e643" }
.icon-entypo-fix-traffic-cone:before { content: "\e64d" }
.icon-entypo-fix-cc:before { content: "\e6d1" }
.icon-entypo-fix-cc-by:before { content: "\e6d2" }
.icon-entypo-fix-cc-nc:before { content: "\e6d3" }
.icon-entypo-fix-cc-nc-eu:before { content: "\e6d4" }
.icon-entypo-fix-cc-nc-jp:before { content: "\e6d5" }
.icon-entypo-fix-cc-sa:before { content: "\e6d6" }
.icon-entypo-fix-cc-nd:before { content: "\e6d7" }
.icon-entypo-fix-cc-pd:before { content: "\e70b" }
.icon-entypo-fix-cc-zero:before { content: "\e70a" }
.icon-entypo-fix-cc-share:before { content: "\e6d8" }
.icon-entypo-fix-cc-remix:before { content: "\e6d9" }
.icon-entypo-fix-github:before { content: "\e6dc" }
.icon-entypo-fix-github-circled:before { content: "\e6dd" }
.icon-entypo-fix-flickr:before { content: "\e6de" }
.icon-entypo-fix-flickr-circled:before { content: "\e6df" }
.icon-entypo-fix-vimeo:before { content: "\e6e0" }
.icon-entypo-fix-vimeo-circled:before { content: "\e6e1" }
.icon-entypo-fix-twitter:before { content: "\e6e2" }
.icon-entypo-fix-twitter-circled:before { content: "\e6e3" }
.icon-entypo-fix-facebook:before { content: "\e6e4" }
.icon-entypo-fix-facebook-circled:before { content: "\e6e5" }
.icon-entypo-fix-facebook-squared:before { content: "\e6e6" }
.icon-entypo-fix-gplus:before { content: "\e6e7" }
.icon-entypo-fix-gplus-circled:before { content: "\e6e8" }
.icon-entypo-fix-pinterest:before { content: "\e6e9" }
.icon-entypo-fix-pinterest-circled:before { content: "\e6ea" }
.icon-entypo-fix-tumblr:before { content: "\e6eb" }
.icon-entypo-fix-tumblr-circled:before { content: "\e6ec" }
.icon-entypo-fix-linkedin:before { content: "\e6ed" }
.icon-entypo-fix-linkedin-circled:before { content: "\e6ee" }
.icon-entypo-fix-dribbble:before { content: "\e6ef" }
.icon-entypo-fix-dribbble-circled:before { content: "\e709" }
.icon-entypo-fix-stumbleupon:before { content: "\e708" }
.icon-entypo-fix-stumbleupon-circled:before { content: "\f31f" }
.icon-entypo-fix-lastfm:before { content: "\e6f1" }
.icon-entypo-fix-lastfm-circled:before { content: "\e6f2" }
.icon-entypo-fix-rdio:before { content: "\e6f3" }
.icon-entypo-fix-rdio-circled:before { content: "\e6f4" }
.icon-entypo-fix-spotify:before { content: "\e6f5" }
.icon-entypo-fix-spotify-circled:before { content: "\e6f6" }
.icon-entypo-fix-qq:before { content: "\e6f7" }
.icon-entypo-fix-instagram:before { content: "\e6f8" }
.icon-entypo-fix-dropbox:before { content: "\e6f9" }
.icon-entypo-fix-evernote:before { content: "\e6fa" }
.icon-entypo-fix-flattr:before { content: "\e6fb" }
.icon-entypo-fix-skype:before { content: "\e6fc" }
.icon-entypo-fix-skype-circled:before { content: "\e6fd" }
.icon-entypo-fix-renren:before { content: "\e6fe" }
.icon-entypo-fix-sina-weibo:before { content: "\e6ff" }
.icon-entypo-fix-paypal:before { content: "\e700" }
.icon-entypo-fix-picasa:before { content: "\e701" }
.icon-entypo-fix-soundcloud:before { content: "\e702" }
.icon-entypo-fix-mixi:before { content: "\e703" }
.icon-entypo-fix-behance:before { content: "\e704" }
.icon-entypo-fix-google-circles:before { content: "\e705" }
.icon-entypo-fix-vkontakte:before { content: "\e706" }
.icon-entypo-fix-smashing:before { content: "\e707" }
.icon-entypo-fix-sweden:before { content: "\f601" }
.icon-entypo-fix-db-shape:before { content: "\e6db" }
.icon-entypo-fix-logo-db:before { content: "\e6da" }


@font-face {
    font-family: 'entypo-fix';
    src: url('../../Fonts/entypo-fix.eot');
    src: 
         url('../../Fonts/entypo-fix.woff') format('woff'),
         url('../../Fonts/entypo-fix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}