<div class="lightboard-preview-popup-wrap">
    <div id="html-template-edit-view-wrap">
        <div id="left-panel-wrap">
            <div>
                <div>Template Name</div>
                <input type="text" id="template-name" />
            </div>
            <div>
                <div>Type</div>
                <select id="template-type">
                    <option value="CoverPage">Cover Page</option>
                    <option value="Template">Template</option>
                    <option value="EndPage">End Page</option>
                </select>
            </div>
        </div>
        <div id="content-wrap">
            <div>HTML</div>
            <div>
                <textarea id="template-content"></textarea>
            </div>
        </div>
    </div>
</div>