<div class="html-template-preview-view">
    <h2><i class="fa fa-eye icon-header"></i>Template Preview</h2>
    <div>
        <div id="html-template-preview-filters">
            <div>
                <div>
                    <label class="left-column" for="language">Language</label><select id="language"></select>
                </div>
                <div>
                    <div class="left-column">
                        <input id="entity-mode-radio-type" type="radio" name="entity-mode-radio" value="entitytype">
                        <label for="entity-mode-radio-type">Show entities of type </label>
                    </div>
                    <select id="preview-entity-type"></select>
                </div>
                <div>
                    <div class="left-column">
                        <input id="entity-mode-radio-entity-ids" type="radio" name="entity-mode-radio" value="entityid">
                        <label for="entity-mode-radio-entity-ids">Show specific entities </label>
                    </div>
                    <input id="entity-ids" type="text" placeholder="System Id's comma separated"></input>
                </div>
                <!--<div>
                    <label for="entity-type">Entity Type</label>
                </div>-->
            </div>
        </div>
        <div>
            <span>Sample data:</span>
            <div class="code-mirror-wrap">
                <textarea id="template-data-preview" readonly></textarea>
            </div>
        </div>
        <div>
            <div>
                <button id="open-rendered-template">View Template In Browser</button>
                <button id="download-pdf">Download Template as PDF</button>
            </div>
        </div>
    </div>
</div>
