<div class="box">
    <div class="box-header">
        <h2><i class="fa fa-file-o icon-header"></i>HTML Templates</h2>
        <div class="box-actions">
            <div class="box-actions">
                <span title="Create Template" class="row-icon-button query-action-button" id="add-template">
                    <i class="fa fa-plus"></i>
                    <span class="workarea-tool-text">Create Template</span>
                </span>
            </div>
        </div>
    </div>
    <div id="html-templates-edit-wrap">
        <div>
            <select id="templates-dropdown"></select>
        </div>
        <!--<div id="tabs">
            <input type="radio" id="defintion" name="html-templates-edit-radio" checked="checked">
            <label for="defintion">Definition</label>
            <input type="radio" id="preview" name="html-templates-edit-radio">
            <label for="preview">Preview</label>
        </div>-->
        <div id="template-source-wrap">
            <h2>
                <i class="fa fa-file-o icon-header"></i>Template Properties
                <button id="expand-collapse-template-source-view">>></button>
            </h2>
            <div>
                <div id="html-template-properties-wrap">
                    <div class="template-setting-row">
                        <label class="left-column" for="template-name">Name</label>
                        <input type="text" id="template-name" />
                    </div>
                    <div class="template-setting-row">
                        <label class="left-column" for="template-type">Type</label>
                        <select id="template-type"></select>
                    </div>
                    <div class="template-setting-row" id="display-name-row">
                        <div>
                            <label class="left-column" for="template-name">Name in User Interface</label>
                            <select id="template-localized-name-languages"></select>
                        </div>
                        <div>
                            <label class="left-column" for="template-localized-name"></label>
                            <input type="text" id="template-localized-name" placeholder="Localized Tab Name" />
                        </div>
                    </div>
                    <div id="template-type-specific-settings">

                    </div>
                </div>
                <div class="code-mirror-wrap">
                    <textarea id="template-content"></textarea>
                </div>
                <div id="upload-template-content">
                    <span class="fa fa-upload row-icon-button">&nbsp;</span><span>Import HTML from file</span>
                </div>
                <div class="buttons">
                    <button id="delete">Delete Template</button><button id="save-changes">Save changes</button>
                </div>
            </div>
        </div>
        <div id="template-settings-wrap">

        </div>
    </div>
    <!--<div class="box-content">
        <div class="template-type-wrap">
            <h3>Cover Page Templates</h3>
            <ul id="cover-types-item-list" class="flat-ul"></ul>
        </div>
        <div class="template-type-wrap">
            <h3>Entity Templates</h3>
            <ul id="entity-types-item-list" class="flat-ul"></ul>
        </div>
        <div class="template-type-wrap">
            <h3>End Page Templates</h3>
            <ul id="endpage-types-item-list" class="flat-ul"></ul>
        </div>
    </div>-->
</div>
