<div class="html-template-item-row">
    <div>
        <div class="html-template-item-row-name">
            <%= data.Name %>
        </div>
        <div>
            <i id="html-template-item-row-edit" class="fa fa-pencil row-icon-button"></i>
        </div>
        <div>
            <i id="html-template-item-row-remove" class="fa fa-trash-o row-icon-button"></i>
        </div>
    </div>
    <div>
        <div id="html-template-item-row-info"></div>
    </div>
</div>	