<div>
    <h2>Template Preview</h2>
    <div>
        <div>
            <span>Sample data:</span>
            <div class="code-mirror-wrap">
                <textarea id="template-data-preview" readonly></textarea>
            </div>
        </div>
        <div>
            <div>
                <button id="open-rendered-template">View Template In Browser</button>
                <button id="download-pdf">Download Template as PDF</button>
            </div>
        </div>
    </div>
</div>
