﻿<div id="header-navigation-links-wrap">
    <a href="#htmltemplates"><span><i class="fa fa-file-o"></i>Templates</span></a>
    <a href="#htmltemplates/xconnect"><span><i class="fa fa-puzzle-piece"></i>xConnect Templates</span></a>
</div>
