﻿<span class="datetime-separator" style="float: left; margin-right: 5px;">or</span>
<div class="query-link-container">
    <a href="#" id="value-link-datetime-intervals"></a>
    <ul id="data-list-datetime-intervals" class="query-menu" style="display: none">
        <li id="none-date-interval">-</li>
        <li id="0-h">Just Now</li>
        <li id="12-h">12 hours</li>
        <li id="1-d">1 day</li>
        <li id="2-d">2 day</li>
        <li id="3-d">3 day</li>
        <li id="4-d">4 day</li>
        <li id="5-d">5 days</li>
        <li id="6-d">6 days</li>
        <li id="1-w">1 weeks</li>
        <li id="2-w">2 weeks</li>
        <li id="3-w">3 weeks</li>
    </ul>
</div>
