﻿<div id="<%= rowId %>" class="query-row">
    <div class="query-link-container">
        <a href="#" id="system-link"></a>
        <div id="system-list" class="query-menu"></div>
    </div>
    <div class="query-link-container">
        <a href="#" id="operator-link"></a>
        <ul id="operator-list" class="query-menu"></ul>
    </div>
    <div class="query-link-container">
        <a href="#" id="value-link"></a>
        <input id="value-input" type="text" />
        <div id="value-list" class="query-menu"></div>
    </div>
    <div class="query-link-container">
        <a href="#" id="language-link"></a>
        <ul id="language-list" class="query-menu"></ul>
    </div>
    <div id="query-plus-row" class="hidden">
        <a href="#" id="Data" class="field-plus-row" title="Add Data condition"><i class="fa fa-list"></i></a>
        <a href="#" id="Relation" class="relation-plus-row" title="Add Relation condition"><i class="fa fa-link"></i></a>
        <a href="#" id="Completeness" class="completeness-plus-row" title="Add Completeness condition"><i class="fa fa-adjust"></i></a>
        <a href="#" id="Specifications" class="specification-plus-row hidden" title="Add Specification condition"><i class="fa fa-desktop"></i></a>

    </div>
    <div id="query-relation-plus-row" class="hidden">
        <a href="#" id="RelationData" class="field-plus-row" title="Add Data condition on relation"><i class="fa fa-list"></i></a>
    </div>
    <div id="query-specification-plus-row" class="hidden">
        <a href="#" id="SpecificationData" class="field-plus-row" title="Add Data condition on specification"><i class="fa fa-list"></i></a>
    </div>
    <a href="#" id="query-remove-row" title="Removes this condition"> <i class="fa fa-times-circle"></i></a>
    <div id="row-error" data-error="data-error"></div>
</div>