﻿<div class="popup-header-row">
    <span class="popup-header-text">
        <span class="popup-header">
            Query Editor
        </span>
    </span>
    <span id="main-header-buttons">
        <span class="fa fa-times control-row-icon-button" title="Close popup window" id="close-icon"></span>
    </span>
</div>

<div id="contentwrapper">
    <div id="main-client-area" class="modal-fixed-details query-editor-modal">
        <div id="queryEditor">
            <% if (isSavedQuery) {%>
            <div class="savedinfo">Saved as <b><%= name %></b></div>
            <%} %>
            <div id="add-condition" title="Add condition"><i class="fa fa-plus-circle fa-lg"></i> Add Condition</div>
            <div id="query-view"></div>
            <div class="advSearch-buttons">
                <span id="search" class="row-icon-button query-action-button" title="Search with these criterias">
                    <i class="fa fa-search"></i>
                    <span class="workarea-tool-text">Search</span>
                </span>
                <span id="save" class="row-icon-button query-action-button" title="Save query">
                    <i class="fa fa-save"></i>
                    <span class="workarea-tool-text">Save</span>
                </span>
                <span id="notifymewhen" class="row-icon-button query-action-button" title="Notify Me">
                    <i class="fa fa-bell"></i>
                    <span class="workarea-tool-text">Notify Me</span>
                </span>
                <% if (isSavedQuery != null && isSavedQuery == true) {%>
                <span id="delete" class="row-icon-button query-action-button" title="Delete query">
                    <i class="fa fa-trash"></i>
                    <span class="workarea-tool-text">Delete</span>
                </span>
                <%} %>
            </div>
        </div>

    </div>



    <div id="savedialog" class="querydialog" style="display:none">
        <h3>Save Query</h3>
        <div class="querydialog-content">
            <span>Select a node to store the Query</span>
            <div id="work-area-selection"></div>
            <span>
                Name:
                <input type="text" id="queryname" />
            </span>
        </div>
        <div>
            <span id="cancelQuery" class="row-icon-button workarea-action-button" title="Cancel action">
                <i class="fa fa-close"></i>
                <span class="workarea-tool-text">Cancel</span>
            </span>
            <span id="saveQuery" class="row-icon-button workarea-action-button" title="Save query">
                <i class="fa fa-save"></i>
                <span class="workarea-tool-text">Save</span>
            </span>
            <% if (isSavedQuery) {%>
            <span id="updateQuery" class="row-icon-button workarea-action-button" title="Update <%= name %>">
                <i class="fa fa-refresh"></i>
                <span class="workarea-tool-text">Update</span>
            </span>
            <%}%>
        </div>
        <br />
        <br />
    </div>

    <div id="notifymewhendialog" class="querydialog" style="display:none">
        <h3>Notify Me</h3>
        <div class="querydialog-content">
            <div>
                <span class="title">
                    Name
                </span>
                <span class="input">
                    <input type="text" id="notificationname" value="<%= notificationname %>" style="width: 292px" />
                    <div id="row-error" class="notificaitonerror" data-error="data-error"></div>
                </span>
            </div>
            <div>
                <span class="title">
                    By
                </span>
                <span class="input">
                    <input type="checkbox" id="notifyby" name="notifyby" value="email" <% if (notifyby != null && notifyby.indexOf("email")>-1){%> checked <%}%>/>Email
                    <input type="checkbox" id="notifyby" name="notifyby" value="task" <% if (notifyby != null && notifyby.indexOf("task")>-1){%> checked <%}%>/>Task
                    <div id="row-error" class="notificaitonerror" data-error="data-error"></div>
                </span>
            </div>
            <div>
                <span class="title">
                    When result
                </span>
                <span class="input">
                    <select id="notificationcondition">
                        <option value="Exceeds"<% if (notificationcondition != null && notificationcondition.indexOf("Exceeds")>-1){%> selected <%}%>>exceeds</option>
                        <option value="NotEmpty"<% if (notificationcondition != null && notificationcondition.indexOf("NotEmpty")>-1){%> selected <%}%>>not empty by</option>
                    </select>
                    <input type="text" id="notificationparameter" value="<%= notificationparameter %>" style="width: 188px" /><div id="row-error" class="notificaitonerror" data-error="data-error"></div>
                </span>
            </div>
            <div>
                <span class="title">
                    Status
                </span>
                <span class="input">
                    <input type="radio" id="notificationstatus" name="notificationstatus" value="Active" <% if (notificationstatus==null || notificationstatus=="Active" || notificationstatus=="" ){%> checked <%}%>/>Active
                    <input type="radio" id="notificationstatus" name="notificationstatus" value="Notified" <% if (notificationstatus=="Notified"){%> checked <%}%>/>Notified
                    <input type="radio" id="notificationstatus" name="notificationstatus" value="Archived" <% if(notificationstatus=="Archived"){%> checked <%}%>/>Archived
                </span>
            </div>
        </div>
        <br /><br />
        <span id="cancelNotifyMeWhen" class="row-icon-button workarea-action-button" title="Cancel action">
            <i class="fa fa-close"></i>
            <span class="workarea-tool-text">Cancel</span>
        </span>
        <% if (notificationname != null) {%>
        <span id="deleteNotification" class="row-icon-button workarea-action-button" title="Delete notification">
            <i class="fa fa-trash"></i>
            <span class="workarea-tool-text">Delete</span>
        </span>
        <span id="updateNotification" class="row-icon-button workarea-action-button" title="Update notification">
            <i class="fa fa-refresh"></i>
            <span class="workarea-tool-text">Update</span>
        </span>
        <%} else {%>
        <span id="saveNotifyMeWhen" class="row-icon-button workarea-action-button" title="Save notification">
            <i class="fa fa-save"></i>
            <span class="workarea-tool-text">Save</span>
        </span>
        <%} %>
        <br /><br />
    </div>
</div>
