﻿<div class="search-criteria-condition">
    <div class="search-criteria-selection-label">Select Join for all Fields - </div>
    <div class="search-criteria-selection-container">
        <a href="#" id="data-criteria-selection">And</a>
        <ul id="data-criteria-list" class="query-menu">
            <li id="And">And</li>
            <li id="Or">Or</li>
        </ul>
    </div>
    <div class="search-criteria-selection-closer">.</div>
</div>

