﻿<div id="completeness-select-existing-rule">
    <div class="completeness-details-row">
        <div class="completeness-details-row-label">Existing rules:</div>
        <div class="completeness-details-row-value-wrapper" id="action-trigger-row">
            <select id="action-trigger-value" class="select-language-edit-control"></select>
        </div>
    </div>
</div>

