﻿<div id="completeness-rule-details">
    <div class="completeness-details-row">
        <div class="completeness-details-row-label">Name:</div>
        <div class="completeness-details-row-value-wrapper">
            <input type=text id="rule-name-value" class="input-text-edit-control" value="<%= NameValue %>">
            <select id="rule-name-language-value" class="select-language-edit-control"></select>
        </div>
    </div>
    <div class="completeness-details-row">
        <div class="completeness-details-row-label">Weight:</div>
        <div class="completeness-details-row-value-wrapper">
            <div class="no-edit-text-area"><%= WeightValue %></div>
        </div>
    </div>
    <div class="completeness-details-row">
        <div class="completeness-details-row-label">Type:</div>
        <div class="completeness-details-row-value-wrapper" id="rule-type-row">
            <select id="rule-type-name-value" class="select-language-edit-control"></select>
            <div id="rule-type-settings"></div>
        </div>
    </div>
</div>

