﻿<div id="completeness-group-details">
    <div class="completeness-details-row">
        <div class="completeness-details-row-label">Name:</div>
        <div class="completeness-details-row-value-wrapper">
            <input type=text id="group-name-value" class="input-text-edit-control" value="<%= NameValue %>">
            <select id="group-name-language-value" class="select-language-edit-control"></select>
        </div>
    </div>
    <div class="completeness-details-row">
        <div class="completeness-details-row-label">Weight:</div>
        <div class="completeness-details-row-value-wrapper">
            <div class="no-edit-text-area"><span id="total-weight-value"><%= WeightValue %></span>&nbsp;&nbsp;<i title="The weight is not 100." class="fa fa-exclamation-triangle" id="exclamation-icon"></i></div>
        </div>
    </div>
    <div class="completeness-details-table-row">
        <div class="completeness-details-row-label">Rules:</div><br />
    </div>
    <div class="completeness-details-row-table-wrapper">
        <div class="box-content">
            <table class="backgrid backgrid-striped">
                <thead>
                    <tr>
                        <th>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Weight&nbsp;&nbsp;</th>
                        <th>Order&nbsp;&nbsp;&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="table-body-content"></tbody>
            </table>
        </div>
    </div>
</div>

