﻿<div class="completeness-details-inner-row">
    <div class="completeness-details-inner-row-label"><%= Label %>:</div>
    <input type=text id="criteria-value-<%= Key %>" class="input-text-edit-control" value="<%= Value %>">
</div>