﻿<div id="completeness-definition-details">
    <div class="completeness-details-table-row">
        <div class="completeness-action-row-label">
            <div class="box-actions">
                <span class="content-area-tools" id="addNewAction" title="Add new action"><i class="fa fa-plus row-icon-button"></i> Add Action</span>
            </div>
        </div>
    </div>
    <div class="completeness-actions-row-table-wrapper">
        <div class="box-content">
            <table class="backgrid backgrid-striped">
                <thead>
                    <tr>
                        <th>Action Trigger</th>
                        <th>Task Name</th>
                        <th>Assigned To</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="table-body-content"></tbody>
            </table>
        </div>
    </div>
</div>

