<div id="completeness-content-area" class="completeness-area-small">
    <div id="completeness-content-details" class="completeness-tab">
        <div class="completeness-row-view-height">
            <div id="completeness-control-row-content">
                <span id="completeness-content-view-title-area">
                    <% if (data.Type == "Rule") { %>
                    <span class="fa fa-check" title="<%= data.DisplayName %>"></span>&nbsp;
                    <% } %>
                    <% if (data.Type == "Group") { %>
                    <span class="fa fa fa-share-alt" title="<%= data.DisplayName %>"></span>&nbsp;
                    <% } %>
                    <% if (data.Type == "Definition") { %>
                    <span class="fa fa-check-square-o" title="<%= data.DisplayName %>"></span>&nbsp;
                    <% } %>
                    <span><%= data.DisplayName %></span>
                </span>
                <span class="control-row-tab-area">
                    <span class="completeness-content-tab-button" id="tab-details">
                        Details
                    </span>
                    <span class="completeness-content-tab-button" id="tab-actions">
                        Actions
                    </span>
                </span>
                <div class="control-row-tool-area">
                    <span id='save-button' title="Save" class="fa-floppy-o fa completeness-content-row-icon-button"></span>
                    <span id='undo-button' title="Undo changes" class="fa-undo fa completeness-content-row-icon-button"></span>
                    <% if (data.Adding) { %>
                    <span id='close-button' title="Close/Cancel" class="fa-times fa completeness-content-row-icon-button"></span>
                    <% } else { %>
                    <span id='delete-button' title="Delete" class="fa-trash-o fa completeness-content-row-icon-button"></span>
                    <% } %>
                    <% if (data.Type == "Definition") { %>
                    <span id='recalculate-button' title="Recalculate completeness for this defintion" class="fa-refresh fa completeness-content-row-icon-button"></span>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="completeness-content-info-container">
        </div>
    </div>
</div>