﻿<div class="box">
    <div class="box-header">
        <h2><i class="fa fa-check-square-o icon-header"></i>Completeness</h2>
        <div class="box-actions">
            <!--<span class="content-area-tools" id="adddefintion" title="Add completeness definition"><i class="fa fa-plus row-icon-button"></i> Create Definition</span>-->
            
            <span title="Add completeness definition" class="row-icon-button query-action-button" id="adddefintion">
                <i class="fa fa-plus"></i>
                <span class="workarea-tool-text">Create Definition</span>
            </span>
        </div>
    </div>
    <div class="box-content">
        <div class="compleness-tree-area">
            <div class="content-area-tools-row">
                <span class="content-area-tools fa fa-plus row-icon-button" title="Add a child node" id="add"></span>
                <span class="content-area-tools fa fa-trash-o row-icon-button" title="Remove the selected node" id="remove"></span>
                <span class="content-area-tools fa fa-refresh row-icon-button" title="Recalculate all defintions" id="recalculate"></span>
                <span class="content-area-tools fa fa-plus-square-o row-icon-button" title="Expand all nodes" id="expand"></span>
                <span class="content-area-tools fa fa-minus-square-o row-icon-button" title="Collapse all nodes" id="collapse"></span>
            </div>
            <!--<div>
            <span><input id="treefilter" class="filter" placeholder="Filter" type="text" /><i class="fa fa-filter" id="workareasearch"></i></span>
        </div>-->
            <div id="structure-row-container">
            </div>
        </div>
        <div class="completeness-content-area" id="content-container"></div>
    </div>
</div>
