﻿<div id="completeness-action-details">
    <div class="completeness-details-row">
        <div class="completeness-details-row-label-popup">Action trigger:</div>
        <div class="completeness-details-row-value-wrapper" id="action-trigger-row">
            <select id="action-trigger-value" class="select-language-edit-control"></select>
        </div>
    </div>
    <div class="completeness-details-row">
        <div class="completeness-details-row-label-popup">Task name:</div>
        <div class="completeness-details-row-value-wrapper" id="action-task-name-row">
            <input type=text id="action-task-name-value" class="input-text-edit-control" value="<%= TaskName %>">
        </div>
    </div>
    <div class="completeness-details-row">
        <div class="completeness-details-row-label-popup">Task description:</div>
        <div class="completeness-details-row-value-wrapper" id="action-task-description-row">
            <input type=text id="action-task-description-value" class="input-text-edit-control" value="<%= TaskDescription %>">
        </div>
    </div>
    <div class="completeness-details-row">
        <div class="completeness-details-row-label-popup">Task, assigned to:</div>
        <div class="completeness-details-row-value-wrapper" id="action-task-assign-to-row">
            <select id="action-task-assign-to-value" class="select-language-edit-control"></select>
        </div>
    </div>
    <div class="completeness-details-row">
        <div class="completeness-details-row-label-popup">Task, created by:</div>
        <div class="completeness-details-row-value-wrapper" id="action-task-created-by-row">
            <select id="action-task-created-by-value" class="select-language-edit-control"></select>
        </div>
    </div>
    <div class="completeness-details-row">
        <div class="completeness-details-row-label-popup">Send Task as:</div>
        <div class="completeness-details-row-value-wrapper" id="action-type-by-row">
            <input type="checkbox" id="actiontype" name="actiontype" value="email" <% if (actiontask != null && actiontask.indexOf("email")>-1){%> checked <%}%> />Email
            <input type="checkbox" id="actiontype" name="actiontype" value="task" <% if (actiontask != null && actiontask.indexOf("task")>-1){%> checked <%}%>/>Task

        </div>
    </div>
</div>

