//-------------------------------------
//-- Blocks - Banner
//-------------------------------------

.block.banner {
	padding: 0;
	background-color: $bg-alt-color;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: $invert-color;
	font-size: 14px;
	text-align: center;
	text-shadow: 1px 1px 0 $text-shadow-color;
	line-height: 1.3;

	.block-wrapper {
		max-width: none;
		padding: 0;
	}

	.banner-wrapper {
		position: relative;
		display: table;
		width: 200%;
		margin-left: -100%;

		.banner-scaler {
			display: table-cell;
			visibility: hidden;
			width: 50%;

			.banner-scaling {
				display: block;
				min-height: 150px;
				max-height: 400px;

				&::before {
					content: '';
					display: block;
					padding-top: percentage(400 / $konstan-dimension-max);
				}
			}
		}

		.banner-position {
			display: table-cell;
			vertical-align: middle;
			width: 50%;
		}
	}

	.banner-content {
		@include spacing-styles($block-spacing, $type:padding, $side:(top bottom));
		@include site-width-styles;

		.title {
			@include h1-styles;
			color: inherit;
			text-transform: uppercase;
			text-shadow: 1px 1px 2px $text-shadow-color;
		}

		.content {
			margin-top: .5em;
		}
	}

	//-- Types

	&.large {
		.banner-wrapper {
			.banner-scaler {
				.banner-scaling {
					min-height: 200px;
					max-height: 550px;
					&::before { padding-top: percentage(500 / $konstan-dimension-max); }
				}
			}
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		.banner-content .content { display: block; }
	}

	@media #{bp(large)} {
		font-size: 16px;
	}

	@media #{bp(xlarge)} {
		font-size: 18px;
	}
}

