//-------------------------------------
//-- Blocks - Base
//-------------------------------------

.block {
	@include spacing-styles($block-spacing, $type:margin, $side:(top bottom));

	> .block-wrapper {
		@include site-width-styles;
	}

	.block-title {
		position: relative;

		.title {
			@include h2-styles;
			max-width: 1000px;
			margin: 0 auto .8em;
			font-weight: $normal-weight;
			text-align: center;
		}

		.action { display: none; }

		&.alt {
			padding-bottom: 10px;
			border-bottom: 1px solid $border-color;
			margin-bottom: 20px;

			.title {
				@include h3-styles;
				max-width: none;
				margin-bottom: 0;
				font-weight: $semibold-weight;
				text-align: left;
			}

			.action {
				position: absolute;
				top: 5px;
				right: 0;
				display: inline-block;
				font-size: 12px;
			}
		}
	}

	//-- Alt (Alternative coloring)

	&.alt {
		background-color: $bg-alt-color;
	}

	//-- Full (Full width)

	&.full {
		.block-wrapper { max-width: none; }
	}

	//-- Sub (Used inside columns)

	&.sub {
		margin: 0;
		.block-wrapper { padding: 0; }
	}

	//-- Padded blocks

	#{$block-padded-selector} {
		@include block-padded-styles;
		margin: 0;
	}

	//-- Group

	&.group {
		&.flat { margin: 0; }
		&.flat-top { margin-top: 0; }
		&.flat-bottom { margin-bottom: 0; }

		> .block-wrapper > .cms-zone > #{'.cms-contentItem'} > .block { margin: 0; }

		> .block-wrapper > .block {
			margin: 0;

			&:not(.ng-hide) ~ .block {
				@include spacing-styles($block-spacing, $type:margin, $side:(top));
			}

			#{$block-padded-selector} {
				@include block-next-selector($padded: true) { margin-top: 0; }
			}
		}

		&:not(.narrow) > .block-wrapper {
			max-width: none;
			padding-right: 0;
			padding-left: 0;
		}

		&.collapse { // Reduce spacing between group blocks
			> .block-wrapper > .block {
				&:not(.ng-hide) ~ .block {
					@include spacing-styles($block-collapse-spacing, $type:margin, $side:(top));
				}

				#{$block-padded-selector} {
					@include block-padded-styles($block-collapse-spacing);
				}
			}

			&.separate {
				> .block-wrapper > .block {
					#{$block-not-padded-selector} {
						@include block-next-selector($padded:false) {
							> .block-wrapper {
								@include spacing-styles($block-collapse-spacing, $type:padding, $side:top);
							}
						}
					}
				}
			}
		}

		&.narrow { // Limit group blocks to the site width
			> .block-wrapper > .block > .block-wrapper {
				padding-right: 0;
				padding-left: 0;
			}
		}

		&.separate { // Separate group blocks with a line
			> .block-wrapper > .block {
				#{$block-not-padded-selector} {
					@include block-next-selector($padded:false) {
						border-top: 1px solid $border-color;

						> .block-wrapper {
							@include spacing-styles($block-spacing, $type:padding, $side:top);
						}
					}
				}
			}
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		.block-title.alt {
			.title { display: inline-block; }

			.action {
				position: relative;
				top: 0;
				padding-left: 10px;
			}
		}
	}

	@media #{bp(large)} {
		.block-title.alt {
			margin-bottom: 25px;
		}
	}

	@media #{bp(xlarge)} {
		.block-title.alt {
			margin-bottom: 30px;
		}
	}
}
