//-------------------------------------
//-- Blocks - Breadcrumbs
//-------------------------------------

.block.breadcrumbs {
	border-bottom: 1px solid $border-color;
	margin: 0;

	> .block-wrapper {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	ul {
		display: block;
		overflow: hidden;
		margin: 0;
		color: $breadcrumbs-text-color;
		font-size: 14px;
		line-height: 1.4;

		> li {
			float: left;
			margin-right: 12px;

			> a,  > span {
				position: relative;
				display: inline-block;
				padding-left: 22px;

				&::before {
					@include ico-font($ico-arrow-left-char);
					position: absolute;
					top: 50%;
					left: 0;
					display: inline-block;
					color: $breadcrumbs-arrow-color;
					font-size: 12px;
					transform: translateY(-50%);
				}
			}

			> a {
				color: $breadcrumbs-link-color;
				text-decoration: none;

				#{$hover-selector} {
					text-decoration: underline;
				}
			}
		}
	}

	//-- Queries

	@media #{bp(xsmall down)} {
		> .block-wrapper {
			padding-right: 18px;
			padding-left: 18px;
		}
	}

	@media #{bp(large)} {
		border-bottom: 0;

		#{$block-base-not-padded-selector} {
			@include block-next-selector($padded:false) {
				margin-top: 30px;
			}
		}

		ul {
			> li {
				> a, > span {
					padding: 0;
					&::before { display: none; }
				}

				&::before {
					@include ico-font($ico-arrow-right-char);
					position: relative;
					display: inline-block;
					margin-right: 12px;
					color: $breadcrumbs-arrow-color;
					font-size: 8px;
				}

				&:first-child::before { display: none; }
			}
		}
	}
}
