//-------------------------------------
//-- Blocks - Configuration
//-------------------------------------

//-- Mixins

@import 'components/blocks/styles/mixins';

//-- Config

$block-mosaic-gutter: (
	small: 6px,
	large: 8px,
	xxlarge: 10px
) !default;

$block-two-column-default-breakpoint: medium;

//-- Padded blocks

$block-base-padded-classes: (alt) !default;
$block-other-padded-classes: (banner mosaic) !default;

$block-base-padded-selector: '&';
$block-base-not-padded-selector: '&';

@each $class in $block-base-padded-classes {
	@if($block-base-padded-selector == '&') {
		$block-base-padded-selector: '&.#{$class}';
		$block-base-not-padded-selector: '&:not(.#{$class})';
	} @else {
		$block-base-padded-selector: '#{$block-base-padded-selector}, &.#{$class}';
		$block-base-not-padded-selector: '#{$block-base-not-padded-selector}:not(.#{$class})';
	}
}

$block-padded-selector: $block-base-padded-selector;
$block-not-padded-selector: $block-base-not-padded-selector;

@each $class in $block-other-padded-classes {
	@if ($block-padded-selector == '&') {
		$block-padded-selector: '&.#{$class}';
		$block-not-padded-selector: '&:not(.#{$class})';
	} @else {
		$block-padded-selector: '#{$block-padded-selector}, &.#{$class}';
		$block-not-padded-selector: '#{$block-not-padded-selector}:not(.#{$class})';
	}
}
