//-------------------------------------
//-- Blocks - Image
//-------------------------------------

.block.image {
	text-align: center;
	$bp-flat-spacing: 0;
	$bp-text-spacing: 0;

	@include each-breakpoint {
		@include map-get($flat-spacing, $bp-name) { $bp-flat-spacing: $map-value; }
		@include map-get($text-spacing, $bp-name) { $bp-text-spacing: $map-value; }

		@if ($map-changed) {
			padding-top: $bp-flat-spacing - $bp-text-spacing;
			padding-bottom: $bp-flat-spacing - $bp-text-spacing;
		}
	}
}
