//-------------------------------------
//-- Block - Item Lookup
//-------------------------------------

.block.item-lookup {
	.filters {
		overflow: hidden;
	}

	.results {
		@include spacing-styles($block-collapse-spacing, $type:margin, $side:(top));
		position: relative;

		&.loading {
			min-height: 80px;
			.content-loader { display: block !important; }
		}
	}

	.section {
		@include spacing-styles($block-collapse-spacing, $type:margin, $side:(top));
		&:first-child { margin-top: 0; }

		.section-title {
			@include h3-styles();
			padding-bottom: .25em;
			border-bottom: 1px solid $border-dark-color;
			margin-bottom: .5em;
		}
	}

	.results, .section {
		&.alt {
			padding: 12px;
			background-color: $bg-alt-color;
		}
	}

	//-- Queries

	@media #{bp(large)} {
		.results, .section {
			&.alt { padding: 20px; }
		}
	}

	@media #{bp(xlarge)} {
		.results, .section {
			&.alt { padding: 30px; }
		}
	}

}
