//-------------------------------------
//-- Blocks - Mixins
//-------------------------------------

@mixin block-padded-styles($map: $block-spacing) {
	> .block-wrapper {
		@include spacing-styles($map, $type:padding, $side:(top bottom));
	}
}

@mixin block-next-selector($padded: null) {
	&:not(.ng-hide) {
		&, #{$bypass-inactive-selector} {
			+ .block {
				@if ($padded != null) {
					#{if($padded, $block-padded-selector, $block-not-padded-selector)} { @content; }
				} @else {
					@content;
				}
			}
		}
	}
}
