//-------------------------------------
//-- Blocks - Mosaic
//-------------------------------------

.block.mosaic {
	overflow: hidden;

	$bp-side-spacing: 0;
	$bp-mosaic-gutter: 0;

	@include each-breakpoint {
		@include map-get($side-spacing, $bp-name) { $bp-side-spacing: $map-value; }
		@include map-get($block-mosaic-gutter, $bp-name) { $bp-mosaic-gutter: $map-value;
			margin-top: $bp-mosaic-gutter;
			margin-bottom: $bp-mosaic-gutter;

			.wrapper {
				margin-top: -$bp-mosaic-gutter / 2;
				margin-bottom: -$bp-mosaic-gutter / 2;
				.box { padding: $bp-mosaic-gutter / 2; }
			}

			#{$block-base-padded-selector} {
				.block-wrapper {
					padding-top: $bp-mosaic-gutter;
					padding-bottom: $bp-mosaic-gutter;
				}
			}
		}

		@if($map-changed) {
			.wrapper {
				margin-right: -($bp-side-spacing + ($bp-mosaic-gutter / 2));
				margin-left: -($bp-side-spacing + ($bp-mosaic-gutter / 2));
			}
		}
	}

	.block-wrapper {
		max-width: none;
		padding-top: 0;
		padding-bottom: 0;
	}

	.wrapper {
		@include clearfix;

		.box {
			float: left;
			overflow: hidden;
			height: 100%;
			color: $main-color;
			text-align: center;
			text-decoration: none;

			.box-wrapper {
				background-color: $bg-alt-color;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;

				.box-grid {
					display: table;
					width: 200%;
					height: 100%;
					margin-left: -100%;
					table-layout: fixed;

					.box-scaler {
						display: table-cell;
						visibility: hidden;
						width: 50%;
						height: 100%;

						.box-scaling {
							display: block;
							max-height: 300px;

							&::before {
								content: '';
								display: block;
								padding-top: 80%;
							}
						}
					}

					.box-content {
						display: table-cell;
						vertical-align: bottom;
						width: 50%;
						height: 100%;
						padding: 16px 22px;
					}
				}
			}

			.box-title {
				@include title-styles;
				position: relative;
				color: inherit;
				font-size: 24px;
				line-height: 1;
				letter-spacing: $larger-letter-spacing;
			}

			.box-text {
				position: relative;
				margin-top: .3em;
				font-size: 14px;
				line-height: 1.4;
			}
		}

		a.box {
			opacity: 1;
			transition: opacity $hover-transition $hover-easing;

			#{$hover-selector} {
				opacity: .8;
			}
		}
	}

	//-- Types

	&.titled {
		@include spacing-styles($block-spacing, $type:margin, $side:(top));
	}

	//-- Exceptions

	#{$block-base-padded-selector} {
		margin-top: 0;
		margin-bottom: 0;

		&.titled .block-wrapper {
			@include spacing-styles($block-spacing, $type:padding, $side:(top bottom));
		}
	}

	//-- Queries

	@media #{bp(xsmall)} {
		.wrapper .box {
			.box-wrapper .box-grid .box-scaler .box-scaling {
				max-height: 400px;
			}

			.box-title { font-size: 22px; }

			@for $i from 2 through 4 {
				&:first-child:nth-last-child(#{$i}),
				&:first-child:nth-last-child(#{$i}) ~ .box {
					width: 50%;
				}
			}
		}
	}

	@media #{bp(medium)} {
		.wrapper .box {
			.box-title { font-size: 24px; }
		}
	}

	@media #{bp(large)} {
		.wrapper .box {
			.box-wrapper .box-grid .box-content { padding: 20px 26px; }
			.box-title { font-size: 26px; }
		}
	}

	@media #{bp(xlarge)} {
		.wrapper .box {
			.box-wrapper .box-grid .box-content { padding: 24px 30px; }
			.box-title { font-size: 28px; }
			.box-text { font-size: 15px; }
		}
	}

	@media #{bp(mxlarge)} {
		.wrapper .box {
			.box-wrapper .box-grid .box-content { padding: 16px 22px; }
			.box-title { font-size: 24px; }
			.box-text { font-size: 14px; }

			@for $i from 2 through 4 {
				&:first-child:nth-last-child(#{$i}),
				&:first-child:nth-last-child(#{$i}) ~ .box {
					width: percentage(1 / $i);
				}
			}
		}
	}

	@media #{bp(xxlarge)} {
		.wrapper .box {
			.box-wrapper .box-grid .box-content { padding: 24px 30px; }
			.box-title { font-size: 28px; }
			.box-text { font-size: 15px; }
		}
	}
}

