//-------------------------------------
//-- Blocks - Title
//-------------------------------------

.block.title {

	@include each-breakpoint {
		@include map-get($heading1-font-size, $bp-name) { .wrapper { font-size: $map-value; } }
		@include map-get($title-spacing-bottom, $bp-name) {
			&.lined .wrapper { padding-bottom: $map-value / 2; }

			#{$block-base-not-padded-selector} {
				.wrapper { margin-bottom: $map-value; }
			}
		}
	}

	.sub-wrapper { font-size: 0; }

	.title {
		@include h1-styles;
		display: inline-block;
		vertical-align: bottom;
		margin-right: 20px;
		&:last-child { margin-right: 0; }
	}

	.steps {
		display: inline-block;
		overflow: hidden;
		vertical-align: bottom;
		margin: 5px 0 3px;
		color: $text-lighter-color;
		font-size: 12px;
		font-weight: $normal-weight;
		text-transform: uppercase;
		line-height: 1.4;

		> li {
			float: left;
			margin-right: 8px;
			&:last-child { margin-right: 0; }

			span, a {
				&::after {
					@include arrow-mixin ($direction:right, $size:.38em, $color:currentColor);
					content: '';
					margin-left: 5px;
				}
			}

			a {
				color: inherit;
				text-decoration: none;

				#{$hover-selector} {
					text-decoration: none;
				}
			}

			&.prev { color: $alt-color; }
			&.on { color: $text-color; }

		}
	}

	&.lined .wrapper {
		border-bottom: 1px solid $border-dark-color;
	}

	//-- Exceptions

	#{$block-base-not-padded-selector}:not(.spaced):not(#important) {
		margin-bottom: 0;

		@include block-next-selector($padded:false) {
			margin-top: 0;
		}

		@include block-next-selector($padded:true) {
			@include spacing-styles($block-spacing, $type:margin, $side:(top));
		}
	}

	//-- Queries

	@media #{bp(large)} {
		.steps {
			font-size: 13px;
			> li { margin-right: 12px; }
		}
	}

	@media #{bp(xlarge)} {
		.title { margin-right: 30px; }
		.steps {
			font-size: 14px;
			> li { margin-right: 16px; }
		}
	}

	@media #{bp(xxlarge)} {
		.title { margin-right: 40px; }
		.steps {
			margin-bottom: 4px;
			font-size: 16px;
			> li { margin-right: 20px; }
		}
	}
}
