//-------------------------------------
//-- Blocks - Two Column
//-------------------------------------

@include generate-breakpoint-column-classes();

//-- Mixins

@mixin _block-two-column-row-spacing {
	> .block-wrapper > .row > .column { margin-top: $map-value; }
}

@mixin _block-two-column-breakpoint($breakpoint: $bp-name) {
	@include breakpoint($breakpoint) {
		&, &.row-spaced {
			> .block-wrapper > .row > .column { margin-top: 0; }
		}
	}

	@include breakpoint(prev-breakpoint($breakpoint) down) {
		> .block-wrapper > .row > #{$breakpoint-column-classes-selector} { width: 100%; }
	}
}

//-- Styles

.block.two-column {
	@include each-breakpoint($media-queries: false) {
		@include breakpoint($bp-name) {
			@include map-get($text-spacing) {
				@include _block-two-column-row-spacing();
			}

			&.row-spaced {
				@include map-get($block-spacing) {
					@include _block-two-column-row-spacing();
				}
			}
		}

		@if ($bp-name != $block-two-column-default-breakpoint) {
			&.#{$bp-name} { @include _block-two-column-breakpoint; }
		}
	}

	#{not-breakpoint-selector($exclude: ($block-two-column-default-breakpoint))} {
		@include _block-two-column-breakpoint($block-two-column-default-breakpoint);
	}

	> .block-wrapper > .row > .column {
		&:first-child { margin-top: 0; }
	}
}
