﻿<div class="product-availability" ng-hide="!vm.ready" ng-class='{"instock" : (vm.availabilityStatus.Status == 0), "innetwork" : (vm.availabilityStatus.Status == 1), "soon" : (vm.availabilityStatus.Status == 2), "outstock" : (vm.availabilityStatus.Status == 3), "restricted" : (vm.availabilityStatus.Status == 5)}'>
    <div class="status">{{vm.availabilityStatus.Message}}</div>

    <div class="text">
        <div ng-if="vm.availabilityStatus.Status == 0">
            <span ng-if="vm.availabilityStatus.HasLocalWarehouse">{{vm.availabilityStatus.LocalQuantity}} [% translate 'Store_ProductAvailability_LeftInWarehouse' %] {{vm.availabilityStatus.LocalWarehouse.DisplayName}}</span>
            <span ng-if="!vm.availabilityStatus.HasLocalWarehouse">{{vm.availabilityStatus.LocalQuantity}} [% translate 'Store_ProductAvailability_InStockMessage' %]</span>
        </div>
        <div ng-if="vm.availabilityStatus.Status == 1">
            <span>{{vm.availabilityStatus.TotalQuantity}}  [% translate 'Store_ProductAvailability_InNetworkMessage' %]</span>
        </div>
        <div ng-if="vm.availabilityStatus.Status == 3">
            <span>[% translate 'Store_ProductAvailability_OutOfStockMessage' %]</span>
            <span ng-if="'[% translate 'Store_ProductAvailability_OutOfStockPhoneNumber' %]' !== 'Store'">[% translate 'Store_ProductAvailability_OutOfStockPhoneNumber' %]</span>
        </div>
        <div ng-if="vm.availabilityStatus.Status == 5">
            <span>[% translate 'Store_ProductAvailability_RestrictedMessage' %]</span>
            <span>[% translate 'Store_ProductAvailability_RestrictedMessage2' %]</span>
        </div>
    </div>

    <div class="inventory" ng-if="vm.showWarehouseAvailability">
        <a href="javascript:void(0);" ng-click="vm.getWarehouseAvailabilities()" data-open="{{vm.warehouseAvailabilityId}}">
            <span ng-if="!vm.isDetail">[% translate 'Store_ProductAvailability_CheckAvailability' %]</span>
            <span ng-if="vm.isDetail">[% translate 'Store_ProductAvailability_CheckStoreAvailability' %]</span>
        </a>
    </div>

    <div ng-if="vm.showWarehouseAvailability">
        <isc-popup-template container-id="{{vm.warehouseAvailabilityId}}" title="[% translate 'Store_ProductAvailability_PopupTitle' %]">
            <div class="table-overflow">
                <table class="table full product-availability-table">
                    <tbody>
                        <tr>
                            <th>[% translate 'Store_ProductAvailability_Name' %]</th>
                            <th class="show-for-medium">[% translate 'Store_ProductAvailability_Address' %]</th>
                            <th>[% translate 'Store_ProductAvailability_PickupAvailability' %]</th>
                            <th ng-if="vm.availabilityStatus.LocalWarehouse"></th>
                        </tr>
                        <tr ng-if="warehouse.CanPickup" ng-repeat="warehouse in vm.availabilityStatus.Warehouses" ng-class="{'highlight':vm.availabilityStatus.LocalWarehouse && vm.availabilityStatus.LocalWarehouse.Name === warehouse.Name}">
                            <td ng-bind="warehouse.DisplayName"></td>
                            <td class="show-for-medium wrap">
                                <span ng-if="warehouse.Address1 || warehouse.Address2 || warehouse.City || warehouse.State">
                                    <span ng-if="warehouse.Address1">{{warehouse.Address1}}</span><span ng-if="warehouse.Address2">, {{warehouse.Address2}}</span><span ng-if="warehouse.City">, {{warehouse.City}}</span><span ng-if="warehouse.State">, {{warehouse.State}}</span><span ng-if="warehouse.PostalCode"> {{warehouse.PostalCode}}</span>
                                </span>
                            </td>
                            <td>
                                <span ng-if="warehouse.Quantity > 0">{{ warehouse.Quantity }} [% translate 'Store_ProductAvailability_Available_Part2' %]</span>
                                <span ng-if="warehouse.Quantity === 0">[% translate 'Store_ProductAvailability_GetItSoon' %]</span>
                            </td>
                            <td ng-if="vm.availabilityStatus.LocalWarehouse">
                                <a ng-if="!(vm.availabilityStatus.LocalWarehouse && vm.availabilityStatus.LocalWarehouse.Name === warehouse.Name)" ng-click="vm.selectWarehouse(warehouse)">[% translate 'Store_MakeThisMyStore' %]</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">[% translate 'Store_ProductAvailability_BottomMessage' %]</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </isc-popup-template>
    </div>
</div>