<div class="block breadcrumbs">
    <div class="block-wrapper">
        <ul>
            <li ng-repeat="crumb in breadcrumbs" ng-class="{'show-for-large': (breadcrumbs.length - $index) != 2, 'current': $last}">
                <a ng-if="crumb.url" ng-href="{{crumb.url}}">{{crumb.text}}</a>
                <span ng-if="!crumb.url">{{crumb.text}}</span>
            </li>
            <li ng-if="searchQuery">
                <a href="[% urlForPage 'HomePage' %]">[% translate 'Home' %]</a>
            </li>
            <li ng-if="searchQuery" class="show-for-large current">
                [% translate 'Search Results:' %]
                <em>{{searchQuery}}</em>
            </li>
        </ul>
    </div>
</div>
