﻿<div class="block" ng-show="vm.showCrossSellCarousel()" ng-cloak>
    <div class="block-wrapper">
        <div class="product-slider">
            <div class="slider">
                <ul class="slides">
                    <li class="slide" ng-repeat="crossSellProduct in vm.crossSellProducts track by crossSellProduct.id">
                        <div class="product-box">
                            <div class="box-wrapper">
                                <a class="box-link" ng-href="{{::crossSellProduct.productDetailUrl}}"></a>
                                <div class="product-image">
                                    <div class="image">
                                        <img ng-src="{{::crossSellProduct.smallImagePath}}" alt="{{::crossSellProduct.altText}}" increment-images-loaded/>
                                    </div>
                                </div>
                                <isc-product-name product="crossSellProduct"></isc-product-name>
                                <h3 class="product-name">{{::crossSellProduct.shortDescription}}</h3>
                                <div class="product-price" ng-if="!vm.failedToGetRealTimePrices && crossSellProduct.canShowPrice">
                                    <isc-product-price product="crossSellProduct" id-key=""></isc-product-price>
                                </div>
                                <button class="button cart small" ng-click="vm.addToCart(crossSellProduct)" ng-if="::crossSellProduct.canAddToCart" ng-disabled="!crossSellProduct.qtyOrdered || crossSellProduct.qtyOrdered == 0 || vm.addingToCart">
                                    [% translate 'Add To Cart' %]
                                    <span class="loader">
                                        <span class="spinner"></span>
                                        <span class="text">[% translate 'Store_CartButton_Success' %]</span>
                                    </span>
                                </button>
                                <div class="wishlist" ng-if="::crossSellProduct.canAddToWishlist">
                                    <button type="button" ng-click="vm.openWishListPopup(crossSellProduct)">[% translate 'Add to Wishlist' %]</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button type="button" class="slider-nav flex-prev"></button>
                <button type="button" class="slider-nav flex-next"></button>
            </div>
        </div>
    </div>
</div>