﻿<div class="product-parts">
    <isc-spinner show="false" name="parts-list" size="inline"></isc-spinner>
    <isc-spinner show="false" name="parts-list-package"></isc-spinner>

    <div ng-if="vm.partsList && vm.partsList.packages && vm.partsList.packages.length > 0">
        <div class="parts-filter">
            <div class="fields">
                <div class="field">
                    <label for="parts-model">[% translate 'Store_ProductDetail_PartsList_Model' %]</label>
                    <select id="parts-model" ng-options="package.number for package in vm.partsList.packages track by package.number" ng-model="vm.currentPackage" ng-change="vm.changePackage()"></select>
                </div>
                <div class="field has-action">
                    <label for="parts-search">Search</label>
                    <div class="field-wrapper">
                        <input type="text" ng-model="vm.query" ng-change="vm.searchParts()" ng-model-options="{ debounce: 150 }"/>
                        <span class="field-action search"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="parts-list" ng-if="vm.filteredPackage.groups.length > 0" ng-class="{ 'filtered' : vm.query }">
            <div class="accordion alt spaced" ng-repeat="group in vm.filteredPackage.groups">
                <label for="{{group.name}}" class="accordion-label">{{group.name}}</label>
                <input type="checkbox" id="{{group.name}}" />
                <div class="accordion-box">
                    <div class="accordion-content">
                        <div class="table-overflow">
                            <table class="table seemless">
                                <thead>
                                    <tr>
                                        <th class="part-number">[% translate 'Store_ProductDetail_PartsList_ManufacturerNumber' %]</th>
                                        <th class="part-name">[% translate 'Store_ProductDetail_PartsList_Name' %]</th>
                                        <th class="part-quantity">[% translate 'Store_ProductDetail_PartsList_QtyInUnit' %]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="part in group.parts">
                                        <td class="part-number">
                                            <a ng-href="{{part.url}}" ng-if="part.url">{{part.number}}</a>
                                            <span ng-if="!part.url">{{part.number}}*</span>
                                        </td>
                                        <td class="part-name" ng-bind-html="part.name"></td>
                                        <td class="part-quantity" ng-bind="part.quantity"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parts-list-note">[% translate 'Store_ProductDetail_PartsList_Note' %]</div>
        </div>

        <div ng-if="vm.filteredPackage.groups.length == 0">There are no parts matching your search criterias.</div>
    </div>

    <div ng-if="vm.apiCalled && (!vm.partsList || !vm.partsList.packages || vm.partsList.packages.length === 0)">
        [% translate 'Store_ProductDetail_PartsList_NoDataAvailable' %]
    </div>
</div>
