﻿<div class="product-sku">
    <span class="sku" ng-if="product.erpNumber"><span class="label">[% translate 'Store_SKU#' %]</span>&nbsp;<span ng-bind="product.erpNumber"></span></span>
    <span class="mfg" ng-if="product.manufacturerItem"><span class="label">[% translate 'Store_MFG#' %]</span>&nbsp;<span ng-bind="product.manufacturerItem"></span></span>
    <span class="part" ng-if="product.customerName"><span class="label">[% translate 'Store_Part#' %]</span>&nbsp;<span ng-bind="product.customerName"></span></span>
</div>