﻿<div class="block" ng-show="vm.showRelatedProductCarousel()" ng-cloak>
    <div class="block-wrapper">
        <div class="block-title" ng-if="vm.title">
            <h2 class="title">{{vm.title}}</h2>
        </div>

        <div class="product-slider">
            <div class="slider">
                <ul class="slides">
                    <li class="slide" ng-repeat="relatedProduct in vm.relatedProducts track by relatedProduct.id">
                        <div class="product-box">
                            <div class="box-wrapper">
                                <a class="box-link" ng-href="{{::relatedProduct.productDetailUrl}}"></a>
                                <div class="product-image">
                                    <div class="image">
                                        <img ng-src="{{::relatedProduct.smallImagePath}}" alt="{{::relatedProduct.altText}}" increment-images-loaded/>
                                    </div>
                                </div>
                                <isc-product-name product="relatedProduct"></isc-product-name>
                                <h3 class="product-name">{{::relatedProduct.shortDescription}}</h3>
                                <div class="product-price" ng-if="::relatedProduct.canShowPrice">
                                    <isc-product-price product="relatedProduct" id-key=""></isc-product-price>
                                </div>
                                <button class="button cart small" ng-click="vm.addToCart(relatedProduct, $event)" ng-if="::relatedProduct.canAddToCart" ng-disabled="vm.addingToCart">
                                    [% translate 'Add To Cart' %]
                                    <span class="loader">
                                        <span class="spinner"></span>
                                        <span class="text">[% translate 'Store_CartButton_Success' %]</span>
                                    </span>
                                </button>
                                <div class="wishlist" ng-if="::relatedProduct.canAddToWishlist">
                                    <button type="button" ng-click="vm.openWishListPopup(relatedProduct)">[% translate 'Add to Wishlist' %]</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button type="button" class="slider-nav flex-prev"></button>
                <button type="button" class="slider-nav flex-next"></button>
            </div>
        </div>
    </div>
</div>
