﻿<div class="product-images">
    <div class="image has-zoom" data-open="{{vm.zoomModalId}}">
        <img id="{{vm.mainImageId}}" ng-src="{{vm.selectedImage.mediumImagePath}}" alt="{{vm.selectedImage.altText}}">
    </div>
    <isc-product-image-carousel product-images="vm.product.productImages" selected-image="vm.selectedImage" max-tries="2000"></isc-product-image-carousel>

    <isc-popup-template container-id="{{vm.zoomModalId}}" editable="false" class="viewer">
        <img id="{{vm.zoomImageId}}" ng-src="{{vm.selectedImage.largeImagePath ? vm.selectedImage.largeImagePath : vm.selectedImage.mediumImagePath}}" alt="{{vm.selectedImage.altText}}" class="viewer-media">
        <isc-product-image-carousel ng-if="vm.showCarouselOnZoomModal" product-images="vm.product.productImages" selected-image="vm.selectedImage" max-tries="2000"></isc-product-image-carousel>
    </isc-popup-template>
</div>