﻿<div class="price" ng-if="(!product.quoteRequired && product.pricing && vm.getUnitNetPriceDisplay(product))">
    <span class="sale" ng-class="{'sale' : product.pricing.isOnSale || product.isDiscounted || product.isPromotionItem}" ng-bind-html="vm.getUnitNetPriceDisplay(product)"></span>
    <span class="base" ng-if="product.pricing.isOnSale || product.isDiscounted || product.isPromotionItem || vm.getUnitListPriceDisplay(product) > vm.getUnitNetPriceDisplay(product)" ng-bind-html="vm.getUnitListPriceDisplay(product)"></span>
    <span class="unit">{{product.unitOfMeasureDescription || product.unitOfMeasureDisplay || product.unitOfMeasure || "[% translate 'Store_UnitOfMeasure_Default' %]"}}</span>
    <ul class="fees" ng-if="product.properties['hasSouthCarolinaSolidWasteTax']">
        <li><strong>[% translate 'Store_ProductPrice_Fees' %]</strong></li>
        <li ng-if="product.properties['hasSouthCarolinaSolidWasteTax']">[% translate 'Store_ProductPrice_SouthCarolinaSolidWasteTax' %] ({{::product.properties['southCarolinaSolidWasteTaxAmount'] | currency: currencySymbol}})</li>
    </ul>
</div> 