﻿<div>
    <div ng-if="vm.product != null && vm.customFields != null && vm.customFields.length > 0" ng-cloak>
        <table class="full alt">
            <tr ng-repeat="customField in vm.customFields">
                <th>{{customField.Name}}</th>
                <td>{{customField.Value}}</td>
            </tr>
        </table>
    </div>
</div>