﻿<div class="product-image">
    <a class="image" ng-href="{{product.productUri}}">
        <img ng-src="{{product.smallImagePath || product.mediumImagePath}}" alt="{{product.altText}}"/>
    </a>
</div>