﻿<div ng-show="vm.productImages.length > 1" class="product-images-slider">
    <div class="slider">
        <ul class="slides">
            <li class="slide" ng-repeat="image in vm.productImages">
                <div class="image" ng-class="{'on': image === vm.selectedImage}">
                    <div class="image-wrapper" ng-click="vm.selectImage(image)">
                        <img ng-src="{{image.smallImagePath ? image.smallImagePath : image.mediumImagePath}}" alt="{{image.altText}}" increment-images-loaded />
                    </div>
                </div>
            </li>
        </ul>
        <button type="button" class="slider-nav flex-prev"></button>
        <button type="button" class="slider-nav flex-next"></button>
    </div>
</div>