﻿<div class="quantity-pricing dropdown" ng-if="(breakPrices && breakPrices.length > 1)" nwayo-event="foundation-reflow=[data-dropdown]">
    <button type="button" data-toggle="qty-price-{{::(productId + block)}}" class="dropdown-button">[% translate 'Store_QtyBreakPrice_Label' %]</button>
    <div id="qty-price-{{::(productId + block)}}" class="dropdown-pane" data-dropdown data-hover="true" data-hover-pane="true">
        <div class="dropdown-content">
            <table class="table-narrow nowrap">
                <tr>
                    <th>[% translate 'Store_QtyBreakPrice_Quantity' %]</th>
                    <th>[% translate 'Store_QtyBreakPrice_Price' %]</th>
                    <th>[% translate 'Store_QtyBreakPrice_Savings' %]</th>
                </tr>
                <tr ng-repeat="bp in breakPrices | orderBy:'breakQty'">
                    <td class="qty" ng-bind="bp.breakQty"></td>
                    <td class="price" ng-bind="bp.breakPriceDisplay"></td>
                    <td class="save" ng-bind="bp.savingsMessage"></td>
                </tr>
            </table>
        </div>
    </div>
</div>