<div class="block group" ng-controller="ResetPasswordController as vm" ng-cloak>
    <div class="block-wrapper">    
        
        <div class="block title">
            <div class="block-wrapper">
                <div class="wrapper">
                    <div class="sub-wrapper">
                        <h1 class="title" ng-if="!vm.isResettingPassword">[[Model.AccountActivationHeader]]</h1>
                        <h1 class="title" ng-if="vm.isResettingPassword">[[Model.ResetPasswordHeader]]</h1>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="block">
            <div class="block-wrapper">
                <div class="msg error" ng-if="vm.changePasswordError" ng-bind="vm.changePasswordError"></div>

                <div class="row text-spacing-xlarge">
                    <div ng-if="vm.hasAnyRule" class="column xlarge-7 xlarge-push-5 editable">
                        <div class="editable">
                            <p class="list-title"><strong>[% translate 'Password Requirements'%]</strong></p>
                            <ul>
                                <li ng-if="vm.settings.passwordMinimumRequiredLength > 0">{{'[% translate 'Password must be at least {0} characters long'%]'.replace('{0}', vm.settings.passwordMinimumRequiredLength)}}</li>
                                <li ng-if="vm.settings.passwordRequiresSpecialCharacter">[% translate 'Password must include at least one non alphanumeric character'%]</li>
                                <li ng-if="vm.settings.passwordRequiresUppercase">[% translate 'Password must include at least one uppercase character'%]</li>
                                <li ng-if="vm.settings.passwordRequiresLowercase">[% translate 'Password must include at least one lowercase character'%]</li>
                                <li ng-if="vm.settings.passwordRequiresDigit">[% translate 'Password must include at least one number'%]</li>
                            </ul>
                        </div>   
                    </div>

                    <div class="column medium-7 xlarge-5" ng-class="{ 'xlarge-pull-7' : vm.hasAnyRule }">
                        <form id="resetPasswordForm" name="resetPasswordForm" ng-submit="vm.changePassword()" novalidate>
                            <div class="fields">
                                <div class="field">
                                    <label for="ResetPasswordInfo_Password">[% translate 'New Password'%] *</label>
                                    <input type="password" id="ResetPasswordInfo_Password" class="tst_resetPasswordPage_newPassword" name="ResetPasswordInfo_Password" required ng-model="vm.password">
                                    <span class="field-error" ng-if="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.ResetPasswordInfo_Password.$error.required">[% siteMessage 'CreateNewAccountInfo_Password_Required' %]</span>
                                    <span class="field-error" data-valmsg-for="ResetPasswordInfo.Password" data-valmsg-replace="true"></span>
                                </div>
                                <div class="field">
                                    <label for="ResetPasswordInfo_ConfirmPassword">[% translate 'Confirm new password'%] *</label>
                                    <input type="password" id="ResetPasswordInfo_ConfirmPassword" name="ResetPasswordInfo_ConfirmPassword" required isc-compare-to="vm.password" ng-model="vm.confirmPassword" />
                                    <span class="field-error">
                                        <span ng-if="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.ResetPasswordInfo_ConfirmPassword.$error.required">[% siteMessage 'CreateNewAccountInfo_ConfirmPassword_Required' %]</span>
                                        <span ng-if="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.ResetPasswordInfo_ConfirmPassword.$error.compareTo">[% siteMessage 'CreateNewAccountInfo_PasswordCombination_DoesNotMatch' %]</span>
                                    </span>
                                    <span class="field-error" data-valmsg-for="ResetPasswordInfo.ConfirmPassword" data-valmsg-replace="true"></span>
                                </div>
                                <div class="field" ng-if="!vm.isResettingPassword && vm.showTermsAndConditions">
                                    <input id="ResetPasswordInfo_TermsAndConditions" type="checkbox" ng-model="vm.acceptTerms" />
                                    <label for="ResetPasswordInfo_TermsAndConditions">[% translate 'Store_AccountActivation_Terms'%]</label>
                                </div>
                            </div>

                            <div class="button-group">
                                <button type="submit" class="button" ng-if="!vm.isResettingPassword" ng-disabled="!vm.acceptTerms && vm.showTermsAndConditions" ng-class="{'disabled':(!vm.acceptTerms && vm.showTermsAndConditions)}">[% translate 'Activate account'%]</button>
                                <button type="submit" class="button" ng-if="vm.isResettingPassword">[% translate 'Reset password'%]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <isc-popup-template container-id="popup-resetPasswordSuccess" title="[% translate 'Password Reset Successfully'%]">[[Model.ResetPasswordSuccessMessage]]</isc-popup-template>
    <isc-popup-template container-id="popup-accountActivationSuccess" title="[% translate 'Account Activation Successful'%]">[[Model.AccountActivationSuccessMessage]]</isc-popup-template>
</div>