﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.Order.Content.OrdersPage

<div class="row main-row ma-order-history">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>