﻿<div class="block" ng-controller="UserListController as vm" ng-cloak>
    <div class="block-wrapper">
        <div class="table-filter">
            <a ng-href="[% urlForPage 'UserSetupPage' %]" class="button ico-plus">[% translate 'Create New User' %]</a>
            <div class="field has-action">
                <input id="user-list-search-username" type="text" ng-model="vm.searchText" isc-enter="vm.storeSearch(vm.sort, true)" placeholder="[% translate 'Enter Username' %]" />
                <button type="button" class="field-action search" ng-click="vm.storeSearch(vm.sort, true)"></button>
            </div>
        </div>

        <div ng-if="vm.pagination.totalItemCount === 0" class="editable">[[Model.NoUsersFoundMessage]]</div>

        <div ng-if="vm.pagination.totalItemCount > 0">
            <div class="table-overflow">
                <table class="table full spaced">
                    <tbody>
                        <tr>
                            <th><button type="button" ng-click="vm.sortBy('UserName')" ng-class="vm.getSortClass('UserName')" class="sort">[% translate 'Username' %]</button></th>
                            <th><button type="button" ng-click="vm.sortBy('LastName')" ng-class="vm.getSortClass('LastName')" class="sort">[% translate 'Name' %]</button></th>
                            <th>[% translate 'Status' %]</th>
                            <th><button type="button" ng-click="vm.sortBy('Role')" ng-class="vm.getSortClass('Role')" class="sort">[% translate 'Role' %]</button></th>
                            <th>[% translate 'Last Sign In' %]</th>
                        </tr>
                        <tr ng-repeat="user in vm.users">
                            <td><a ng-href="[% urlForPage 'UserSetupPage' %]?userId={{user.id}}" ng-bind="user.userName"></a></td>
                            <td><span ng-bind="user.firstName"></span><span ng-if="user.lastName"> {{user.lastName}}</span></td>
                            <td>
                                <span ng-if="user.activationStatus == '[[Model.EmailNotSentUserActivationStatus]]' && !user.properties.isDeactivated">[% translate 'Email not sent' %]</span>
                                <span ng-if="user.activationStatus == '[[Model.EmailSentUserActivationStatus]]' && !user.properties.isDeactivated">[% translate 'Email sent' %]</span>
                                <span ng-if="user.activationStatus == '[[Model.ActivatedUserActivationStatus]]' && !user.properties.isDeactivated">[% translate 'Active' %]</span>
                                <span ng-if="user.properties.isDeactivated">[% translate 'Inactive' %]</span>
                            </td>
                            <td>{{vm.getUserRoleDisplay(user.role)}}</td>
                            <td ng-bind="user.lastLoginOn | date:'short'"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"><span ng-bind="vm.pagination.totalItemCount"></span> [% translate 'Users' %]</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <isc-pager pagination="vm.pagination" storage-key="vm.paginationStorageKey" bottom="true" update-data="vm.storeSearch(vm.sort)"></isc-pager>
        </div>
    </div>
</div>
