﻿<div class="block dealer-locator" ng-controller="DealerCollectionController as vm" ng-cloak>
    <div class="block-wrapper">
        <div ng-if="!vm.locationKnown" class="msg error">[% siteMessage 'DealerLocator_GeocodeErrorMessage' %]</div>
        <div ng-if="vm.setDealerError" class="msg error">[% translate 'Store_DealerLocator_SetDealerErrorMessage' %]</div>
        
        <div class="row block-spacing-large">
            <div class="column large-7 large-push-5 xlarge-8 xlarge-push-4">
                <div class="fields">
                    <div class="field has-action">
                        <label for="address-search">[% siteMessage 'DealerLocator_LocationSearchLabel' %]</label>
                        <input type="text" id="address-search" tabindex="2" ng-model="vm.addressSearchField" isc-enter="vm.getDealers()" />
                        <button type="submit" class="field-action search" ng-click="vm.getDealers()"></button>
                    </div>
                </div>
                <div id="map" class="map">
                    <map zoom="11"></map>
                </div>
            </div>
            <div class="column large-5 large-pull-7 xlarge-4 xlarge-pull-8">
                <div class="fields">
                    <div class="field has-action">
                        <label for="name-search">[% siteMessage 'DealerLocator_NameSearchLabel' %]</label>
                        <input type="text" id="name-search" tabindex="1" ng-model="vm.storeName" isc-enter="vm.getDealers()" />
                        <button type="submit" class="field-action search" ng-click="vm.getDealers()"></button>
                    </div>
                </div>
                <div class="dealers grid">
                    <div class="grid-row narrow">
                        <div class="grid-cell status">
                            <div ng-if="vm.dealers.length == 0">[% siteMessage 'DealerLocator_NoResultsMessage' %]</div>
                            <div ng-if="vm.dealers.length > 0">
                                <div class="count">
                                    <span ng-bind="vm.pagination.totalItemCount"></span> [% translate 'results' %]
                                </div>
                                <div class="distance-unit">
                                    <div class="fields inline">
                                        <div class="field">
                                            <input type="radio" id="distance-imperial" name="milesKmGroup" ng-model="vm.distanceUnitOfMeasure" ng-value="0" /><label for="distance-imperial">[% translate 'mi' %]</label>
                                        </div>
                                        <div class="field">
                                            <input type="radio" id="distance-metric" name="milesKmGroup" ng-model="vm.distanceUnitOfMeasure" ng-value="1" /><label for="distance-metric">[% translate 'km' %]</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-row" ng-if="vm.dealers.length > 0">
                        <div class="grid-cell list">
                            <div class="list-scroller">
                                <div class="list-wrapper">
                                    <div class="dealer" ng-repeat="dealer in vm.dealers" nwayo-event="equalize-grid=.dealer-wrapper">
                                        <div class="dealer-wrapper">
                                            <div class="marker" ng-click="vm.toMarker($index)"><span>{{::vm.getDealerNumber($index)}}</span></div>
                                            <div class="user-info caps small">
                                                <h4 class="user-info-title">{{dealer.name}}</h4>
                                                <div class="user-info-content">
                                                    <span ng-if="dealer.address1">{{dealer.address1}}</span>
                                                    <span ng-if="dealer.address2">{{dealer.address2}}</span>
                                                    <span ng-if="dealer.city || dealer.state || dealer.postalCode">
                                                        <span ng-if="dealer.city">{{dealer.city}}</span><span ng-if="dealer.city && dealer.state">,</span>
                                                        <span ng-if="dealer.state">{{dealer.state}}</span><span ng-if="(dealer.city || dealer.state) && dealer.postalCode"> </span><span ng-if="dealer.postalCode">{{dealer.postalCode}}</span>
                                                    </span>
                                                    <span ng-if="dealer.phone">{{dealer.phone}}</span>
                                                </div>
                                                <div class="dealer-distance">
                                                    <span ng-if="vm.distanceUnitOfMeasure===0">{{dealer.distance.toFixed(2)}} [% translate 'mi' %]</span>
                                                    <span ng-if="vm.distanceUnitOfMeasure===1">{{(dealer.distance * 1.60934).toFixed(2)}} [% translate 'km' %]</span>
                                                </div>
                                                <ul class="user-info-actions">
                                                    <li ng-if="vm.location !== null && dealer.properties['associatedWarehouse'].length > 0">
                                                        <div ng-if="vm.location.warehouse.name === dealer.properties['associatedWarehouse']"><strong>[% translate 'Store_DealerLocator_CurrentStore' %]</strong></div>
                                                        <a ng-if="vm.location.warehouse.name != dealer.properties['associatedWarehouse']" ng-click="vm.selectDealer(dealer)">[% translate 'Store_MakeThisMyStore' %]</a>
                                                    </li>
                                                    <li><a ng-href="http://maps.google.com/maps?daddr={{dealer.address1}} {{dealer.address2}}, {{dealer.city}}, {{dealer.state}} {{dealer.postalCode}}" target="_blank">[% translate 'Directions' %]</a></li>
                                                    <li ng-if="dealer.htmlContent"><button type="button" data-toggle="dealer-hours-{{dealer.id}}">[% translate 'Hours' %]</button></li>
                                                    <li ng-if="dealer.webSiteUrl"><a href="{{dealer.webSiteUrl}}" target="_blank">[% translate 'Website' %]</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-row narrow" ng-if="vm.dealers.length > 0">
                        <div class="grid-cell">
                            <isc-pager pagination="vm.pagination" bottom="true" update-data="vm.searchDealers()"></isc-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dealer-hours-{{dealer.id}}" ng-repeat="dealer in vm.dealers" ng-if="dealer.htmlContent" nwayo-event="foundation-reflow" class="dropdown-pane" data-dropdown data-hover="true" data-hover-pane="true">
        <div class="dropdown-content editable" ng-bind-html="dealer.htmlContent|trusted"></div>
    </div>

    <script type="text/ng-template" id="dealerMarkerPopup">
        <div id="info-window" class="info-window">
            <div class="user-info caps small">
                <h4 class="user-info-title">{{dealer.name}}</h4>
                <div class="user-info-content">
                    <span ng-if="dealer.address1">{{dealer.address1}}</span>
                    <span ng-if="dealer.address2">{{dealer.address2}}</span>
                    <span ng-if="dealer.city || dealer.state || dealer.postalCode">
                        <span ng-if="dealer.city">{{dealer.city}}</span><span ng-if="dealer.city && dealer.state">,</span>
                        <span ng-if="dealer.state">{{dealer.state}}</span><span ng-if="(dealer.city || dealer.state) && dealer.postalCode"> </span><span ng-if="dealer.postalCode">{{dealer.postalCode}}</span>
                    </span>
                    <span ng-if="dealer.phone">{{dealer.phone}}</span>
                </div>
                <div class="dealer-distance">
                    <span ng-if="vm.distanceUnitOfMeasure===0">{{dealer.distance.toFixed(2)}} [% translate 'mi' %]</span>
                    <span ng-if="vm.distanceUnitOfMeasure===1">{{(dealer.distance * 1.60934).toFixed(2)}} [% translate 'km' %]</span>
                </div>
                <ul class="user-info-actions">
                    <li><a ng-href="http://maps.google.com/maps?daddr={{dealer.address1}} {{dealer.address2}}, {{dealer.city}}, {{dealer.state}} {{dealer.postalCode}}" target="_blank">[% translate 'Directions' %]</a></li>
                    <li ng-if="dealer.htmlContent"><button type="button" data-toggle="dealer-hours-{{dealer.id}}-info-window">[% translate 'Hours' %]</button></li>
                    <li ng-if="dealer.webSiteUrl"><a href="{{dealer.webSiteUrl}}" target="_blank">[% translate 'Website' %]</a></li>
                </ul>
            </div>

            <div id="dealer-hours-{{dealer.id}}-info-window" ng-if="dealer.htmlContent" class="dropdown-pane" data-dropdown data-hover="true" data-hover-pane="true">
                <div class="dropdown-content editable" ng-bind-html="dealer.htmlContent|trusted"></div>
            </div>
        </div>
    </script>
</div>