﻿<div class="content">
    <div id="loading">
        <img src="/Images/nine-squares-48x48.gif" />
        <div><h2>Start importing entities</h2></div>
    </div>
    <div class="upload-details">
        <span title="Discard All" class="row-icon-button query-action-button" id="reject-all">
            <i class="fa fa-remove"></i>
            <span class="workarea-tool-text">Discard All</span>
        </span>

        <span title="Import All" class="row-icon-button query-action-button" id="import-all">
            <i class="fa fa-save"></i>
            <span class="workarea-tool-text">Import All</span>
        </span>

        <!--<button id="reject-all">Discard All</button>
        <button id="import-all">Import All</button>-->
        <div> <div class="upload-info-row-key">Name</div><div class="upload-info-row-value"><%=model.name%></div></div>
        <div> <div class="upload-info-row-key">Uploaded By</div><div class="upload-info-row-value"><%=model.uploadedByName%></div></div>
        <div> <div class="upload-info-row-key">Uploaded</div><div class="upload-info-row-value"><%=model.uploadedText%></div></div>
    </div>
    
    <div id="cardarea"></div>
    <div id="detailarea"></div>
</div>
