﻿<div>
    <div class="entity-header-wrapper" id="<%=data.id%>">
        <span class="image"><a href="<%=data.fileUrl%>" target="_blank"> <div class="imagewrapper"><img src="<%=data.imgUrl%>" style="max-height:120px; max-width:120px" /></div></a></span>
        <div class="entity-header-data">
            <img class="supplier-card-entity-icon" src="../icon?id=<%= data.entityTypeId %>" title="<%= data.entityTypeId %>" /> <%= data.name %>
        </div>
    </div>
    <% if (data.fields && data.fields.length){ %>
    <div class="supplieronboarding-title supplieronboarding-horizontal-padding">Data</div>
    <label class="supplieronboarding-title supplieronboarding-horizontal-padding align-right">Accept change</label>
    <% _.each(data.fields, function(field){ %>
    <div class="supplier-pending-field-changes">
        <div class="supplier-pending-field-type supplieronboarding-horizontal-padding"><%=window.appHelper.fieldTypeMap[field.fieldType].get("displayname")%></div>
        <% if (field.accepted) { %>
        <input class="align-right-horizontal-padding" type="checkbox" name="accepted" value="<%=field.fieldType%>" checked />
        <% } else { %>
        <input class="align-right-horizontal-padding" type="checkbox" name="accepted" value="<%=field.fieldType%>" />
        <% } %>
        <% _.each(field.valueMap, function(value, key){ %>
        <div class="supplier-pending-language supplieronboarding-horizontal-padding"><%=window.appHelper.languageMap[key]%></div>
        <div class="supplier-pending-value-container">
            <div class="supplier-pending-data-header-value supplieronboarding-title">New value:</div><div title="<%=value%>" class="supplier-pending-value"><%=value%></div>
        </div>
        <% var oldValue = key && field.oldValue ? field.oldValue[key][1] : field.oldValue %>
        <% if (oldValue){ %>
        <div class="supplier-pending-value-container">
            <div class="supplier-pending-data-header-value supplieronboarding-title">Current value:</div><div title="<%=oldValue%>" class="supplier-pending-current-server-value"><%=oldValue%></div>
        </div>
        <%} %>
        <%}) %>
    </div>
    <%}) %>
    <%} %>

    <% if (data.specificationFields && data.specificationFields.length){ %>
    <div class="supplieronboarding-title supplieronboarding-horizontal-padding">Specification</div>
    <label class="supplieronboarding-title supplieronboarding-horizontal-padding align-right">Accept change</label>
    <% _.each(data.specificationFields, function(field){ %>
    <div class="supplier-pending-field-change">
        <div class="supplier-pending-field-type supplieronboarding-horizontal-padding"><%=field.name%></div>
        <% if (field.accepted) { %>
        <input class="align-right-horizontal-padding" type="checkbox" name="accepted" value="<%=field.fieldType%>" checked />
        <% } else { %>
        <input class="align-right-horizontal-padding" type="checkbox" name="accepted" value="<%=field.fieldType%>" />
        <% } %>
        <% _.each(field.valueMap, function(value, key){ %>
        <div class="supplier-pending-language supplieronboarding-horizontal-padding"><%=window.appHelper.languageMap[key]%></div>
        <div class="supplier-pending-value-container">
            <div class="supplier-pending-data-header-value supplieronboarding-title">New value:</div><div title="<%=value%>" class="supplier-pending-value"><%=value%></div>
        </div>
            <% if(field.oldValue != null) { %>
                <% var oldValue = key ? field.oldValue[key][1] : field.oldValue %>
                <% if (oldValue){ %>
                <div class="supplier-pending-value-container">
                    <div class="supplier-pending-data-header-value supplieronboarding-title">Current value:</div><div title="<%=oldValue%>" class="supplier-pending-current-server-value"><%=oldValue%></div>
                </div>
                <%} %>
            <%} else {%>
                <div class="supplier-pending-value-container">
                    <div class="supplier-pending-data-header-value supplieronboarding-title">Current value:</div><div class="supplier-pending-current-server-value"></div>
                </div>
            <%} %>
        <%}) %>
    </div>
    <%}) %>
    <%} %>
</div>