﻿<td class="xconnect-pending-item-date" title="<%=model.name%>"><%=model.uploadedText%></td>
<td class="xconnect-pending-item-supplier-name" title="<%=supplier.name%>"><%=supplier.name%></td>
<td class="xconnect-pending-item-name" title="<%=model.name%>"><%=model.name%></td>

<% if( model.supplierMappingName ) {%>
<td class="xconnect-pending-item-mapping-name" title="<%=model.supplierMappingName%>"><%=model.supplierMappingName%></td>
<%} else {%>
<td class="xconnect-pending-item-mapping-name"></td>
<%}%>
<td class="xconnect-pending-item-by" title="<%=model.uploadedByName%>"><%=model.uploadedByName%></td>