﻿<div>
    <div class="list-item-wrap">
        <input id="is-assigned" type="checkbox" />
        <span class="xconnect-list-item-label"><%= data.email %></span>
        <span id="list-item-edit" title="Edit User" data-link-id="" class="icon-entypo-fix-pencil std-entypo-fix-icon xconnect-user-list-item-icon-button"></span>
        <span id="list-item-delete" title="Delete User" data-link-id="" class="fa fa-trash-o xconnect-user-list-item-icon-button"></span>
        <span class="xconnect-list-item-info"><%= data.loginTime %></span>
    </div>
</div>