﻿<div id="xconnect-user-list-wrap" class="box-content">
    <ul class="flat-ul"></ul>
</div>
<span title="Create new User" class="row-icon-button query-action-button" id="list-of-users-add">
    <i class="fa fa-plus"></i>
    <span class="workarea-tool-text">Create User</span>
</span>
