﻿<div id="edit-user-area">
    <div id="form-container" class="std-supplier-onboarding-backbone-form">
        <form>
            <div data-fields="email,firstName,lastName"></div>
        </form>
    </div>
    <div class="edit-user-data-row">

    </div>
    <div class="edit-user-data-row">
        <div>
            <span class="edit-user-label">Api Key</span>
            <span class="edit-user-data"><input id="api-key" type="text" disabled="disabled" value="<%= data.apiKey %>" /></span>
        </div>
        <div>
            <span class="edit-user-label">&nbsp;</span>
            <span class="edit-user-data"><a id="generate-api-key"><i class="fa fa-refresh"></i>Revoke api key</a></span>
        </div>
    </div>
    <div class="edit-user-data-row">

    </div>
    <div class="edit-user-data-row">
        <a id="reset-password"><i class="fa fa-refresh"></i>Reset this users password</a>
        <a id="delete-user"><span class="icon-entypo-fix-trash std-entypo-fix-icon"></span> Delete User</a>
    </div>
</div>
