﻿<div class="">
    <h3>Add new Connector</h3>
</div>
<br />
<span>
    Name:
    <input type="text" id="connector-name" />
</span><p></p>
<div id="create-connector-types"></div>
<br /><br />
<button id="create-connector">Create</button>
