﻿<div class="block group" ng-controller="ProductDetailController as vm" ng-class="{ 'flat-top' : vm.product }" ng-cloak>
    <div class="block-wrapper">
        <isc-catalog-breadcrumb ng-show="vm.product" breadcrumbs="vm.breadCrumbs"></isc-catalog-breadcrumb>

        <div class="block product-detail">
            <div class="block-wrapper">
                <div class="row">
                    <div class="column medium-5 large-6">
                        <isc-product-images ng-if="vm.product" product="vm.product"></isc-product-images>
                    </div>
                    <div class="column medium-7 large-6">
                        <div class="msg alert outline" ng-if="vm.product.properties.isSuperseded">
                            <span>[% translate 'Store_ProductDetail_Superseded_Warning' %]</span>
                            <ul>
                                <li ng-repeat="supersede in vm.supersededBy">
                                    <a href="{{supersede.Url}}">{{supersede.ErpNumber}} - {{supersede.ProductName}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="msg alert outline" ng-if="vm.product.properties.isObsolete">
                            <span>[% translate 'Store_ProductDetail_Obsolete_Warning' %]</span>
                        </div>

                        <isc-product-name product="vm.product" no-link="true"></isc-product-name>
                        <h1 class="product-name">{{vm.product.shortDescription}}</h1>

                        <store-availability-status product="vm.product" ng-if="vm.settings.showInventoryAvailability && !vm.product.properties.hideAvailability" is-detail="true"></store-availability-status>

                        <div class="product-price" ng-if="vm.product.canShowPrice && !vm.failedToGetRealTimePrices">
                            <isc-product-price product="vm.product"></isc-product-price>
                            <isc-product-price-saving product="vm.product" currency-symbol="vm.product.currencySymbol"></isc-product-price-saving>
                        </div>

                        <div class="product-quantity" ng-if="vm.product.canEnterQuantity || vm.configurationCompleted || vm.styleSelectionCompleted && !vm.product.canConfigure" nwayo-event="foundation-reflow=[data-dropdown]">
                            <div class="wrapper">
                                <div class="field"><input id="product-quantity" type="number" value="1" min="1" step="1" ng-model="vm.product.qtyOrdered"/></div>
                                <div class="label">
                                    <label for="product-quantity">
                                        <span class="qty-label">[% translate 'Store_QuantityLabel' %]</span>
                                        <isc-quantity-break-pricing
                                            product-id="vm.product.id"
                                            break-prices="vm.product.pricing.unitRegularBreakPrices"
                                            ng-if="vm.product.canShowPrice && !vm.product.quoteRequired && !vm.failedToGetRealTimePrices">
                                        </isc-quantity-break-pricing>
                                        <span class="note" ng-if="vm.product.multipleSaleQty > 1">[% translate 'Store_ProductMultipleSaleQuantity' %] {{vm.product.multipleSaleQty}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button type="button" role="button" class="button cart"
                            ng-click="vm.storeAddToCart(vm.product, $event)"
                            ng-disabled="!vm.product.qtyOrdered || vm.product.qtyOrdered == 0 || vm.showUnitError || vm.addingToCart"
                            ng-if="vm.product.canAddToCart">
                            
                            [% translate 'Add To Cart' %]
                            <span class="loader">
                                <span class="spinner"></span>
                                <span class="text">[% translate 'Store_CartButton_Success' %]</span>
                            </span>
                        </button>

                        <div class="wishlist" ng-if="vm.product.canAddToWishlist || vm.styleSelectionCompleted">
                            <button type="button" ng-click="vm.openWishListPopup(vm.product)">[% translate 'Add to Wishlist' %]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block product-tabs" ng-if="vm.showInfoTab || vm.hasCustomFields || vm.showPartsTab">
            <div class="block-wrapper">
                <div class="tabs">
                    <ul class="tabs-link">
                        <li ng-if="vm.showInfoTab"><label for="product-tab-info" ng-class="{on: (vm.showInfoTab)}">[% translate 'Store_ProductDetail_Tab_Info' %]</label></li>
                        <li ng-if="vm.hasCustomFields"><label for="product-tab-specs" ng-class="{on: (!vm.showInfoTab)}">[% translate 'Store_ProductDetail_Specifications' %]</label></li>
                        <li ng-if="vm.showPartsTab"><label for="product-tab-parts">[% translate 'Store_ProductDetail_Tab_Parts' %]</label></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="tab" ng-if="vm.showInfoTab">
                            <label for="product-accordion-info" class="tab-label">[% translate 'Store_ProductDetail_Tab_Info' %]</label>
                            <input type="radio" id="product-tab-info" name="product-tabs" ng-checked="(vm.showInfoTab)" />
                            <input type="checkbox" id="product-accordion-info" name="product-accordions" />
                            <div class="tab-box">
                                <div class="tab-grid">
                                    <div class="tab-row">
                                        <div class="tab-cell" ng-if="vm.hasDescription || vm.product.properties.isReplacement">
                                            <div class="tab-content editable">
                                                <h4 ng-if="vm.hasDescription">[% translate 'Store_ProductDetail_Description' %]</h4>
                                                <div ng-if="vm.hasDescription" class="product-cm" ng-bind-html="vm.product.htmlContent|trusted"></div>
                                                <br ng-if="vm.hasDescription && vm.product.properties.isReplacement" />
                                                <div ng-if="vm.product.properties.isReplacement">
                                                    <h4>[% translate 'Store_ProductDetail_ReplacementFor' %]</h4>
                                                    <ul>
                                                        <li ng-repeat="replaced in vm.replacementFor">
                                                            <a href="{{replaced.Url}}">{{replaced.ErpNumber}} - {{replaced.ProductName}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-cell" ng-if="vm.product.documents.length > 0 ">
                                            <div class="tab-content editable" ng-if="vm.canShowDocuments">
                                                <h4>[% translate 'Store_ProductDetail_Tab_Documents' %]</h4>
                                                <ul>
                                                    <li ng-repeat="document in vm.product.documents">
                                                        <a ng-href="{{document.filePath}}" target="_blank">{{document.name}}<em ng-if="document.documentType"> ({{document.documentType}})</em></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-content editable" ng-if="!vm.canShowDocuments">
                                                <h4>[% translate 'Store_ProductDetail_Tab_Documents' %]</h4>
                                                <p>[% translate 'Store_ProductDetail_Tab_Documents_SignIn_Notice' %]</p>
                                                <p><a href="[% urlForPage 'SignInPage' %]?returnUrl={{vm.currentUrl}}" class="button small alt">[% translate 'Sign In' %]</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab" ng-if="vm.hasCustomFields">
                            <label for="product-accordion-specs" class="tab-label">[% translate 'Store_ProductDetail_Specifications' %]</label>
                            <input type="radio" id="product-tab-specs" name="product-tabs" ng-checked="(!vm.showInfoTab)" />
                            <input type="checkbox" id="product-accordion-specs" name="product-accordions" />
                            <div class="tab-box">
                                <div class="tab-content editable">
                                    <h4>[% translate 'Store_ProductDetail_Specifications' %]</h4>
                                    <div class="product-specifications">
                                        <div class="col">
                                            <table>
                                                <tr ng-repeat="customField in vm.customFields | limitTo: vm.customFields.length / 2 + (vm.customFields.length % 2)">
                                                    <th>{{customField.Name}}</th>
                                                    <td>{{customField.Value}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col">
                                            <table>
                                                <tr ng-repeat="customField in vm.customFields | limitTo: -(vm.customFields.length / 2)">
                                                    <th>{{customField.Name}}</th>
                                                    <td>{{customField.Value}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab">
                            <label for="product-accordion-parts" class="tab-label">[% translate 'Store_ProductDetail_Tab_Parts' %]</label>
                            <input type="radio" id="product-tab-parts" name="product-tabs" ng-click="vm.getPartsList()" ng-checked="($first && !vm.showInfoTab && !vm.hasCustomFields)" />
                            <input type="checkbox" id="product-accordion-parts" name="product-accordions" ng-click="vm.getPartsList()" />
                            <div class="tab-box">
                                <div class="tab-content">
                                    <store-parts-list parts-list="vm.partsList" api-called="vm.partsListLoaded"></store-parts-list>
                                </div>
                            </div>
                        </div>

                        <div class="tab" ng-repeat="specification in vm.product.specifications | filter: { isActive: 'true' } | orderBy: 'sortOrder'">
                            <label for="product-accordion-specs-{{specification.specificationId}}" class="tab-label">{{specification.nameDisplay}}</label>
                            <input type="radio" id="product-tab-specs-{{specification.specificationId}}" name="product-tabs" ng-checked="($first && !vm.showInfoTab)" />
                            <input type="checkbox" id="product-accordion-specs-{{specification.specificationId}}" name="product-accordions" />
                            <div class="tab-box">
                                <div class="tab-content editable" ng-bind-html="specification.htmlContent|trusted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <store-product-slider product="vm.product" relation-type="RelatedProduct" title="[% translate 'Related Products' %]"></store-product-slider>
    </div>
</div>