﻿@using inRiver.Web.Misc
@{
    ViewBag.Title = "System";
}

<div id="appmenu-container"></div>
<div id="modalWindow" style="display: none"></div>
<div class="container">
    <div class="row">
        <!-- start: Main Menu -->
        <div id="sidebar"></div>
        <!-- end: Main Menu -->
        <!-- start: Content -->
        <div id="content">
            <div id="main-container">
            </div>
        </div>
        <!-- /Content -->
    </div><!--/row-->
</div><!--/container-->
<div class="clearfix"></div>

<footer></footer>
<script data-main="../../Scripts/system/js/main" src="~/Scripts/libs/require/require.js"></script>

<script type="text/javascript">
    var appSession = {
        completenessDefinitionId: undefined,
        completenessGroupId: undefined,
        completenessRuleId: undefined,
        completenessDetailTabName: undefined,
        isXConnectConfigured: @(InRiverUtil.IsXConnectConfigured() ? "true" : "false"),
        xConnectContentStoreTemplatePrintingUrl: "@(InRiverUtil.GetXConnectContentStoreTemplatePrintingUrl())",
        xConnectContentStoreTemplatePdfUrl: "@(InRiverUtil.GetXConnectContentStoreTemplatePdfUrl())",
    };
</script>
