﻿<div>
    <div class="card-wrap-large" id="card-<%= data.Id%>" entity-type-id="<%= data.EntityType%>">
        <div class="card-checkbox-selector">
           <span class="selected-card" title="this checkbox enables to drag and drop multiple entity cards"><i class="fa fa-square-o"></i></span>
        </div>
        <div class="card-picture-area">
            <div class="card-picture-frame-large">
                <div class="card-picture" title="<%= data.DisplayName %>" style="background: url(<%= data.PictureUrl.replace('Preview', 'SmallThumbnail') %>); background-size: contain; background-repeat: no-repeat; background-position: center;">
                </div>
            </div>
        </div>
        <div id="contextmenu"></div>
        <% if (data.Completeness!=null) { %>
        <div class="completeness-small"><span class="pie" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></span></div>
        <% } %>
        <div class="card-text1" title="<%= data.DisplayName %>">
            <img src="../icon?id=<%= icon %>" title="<%= data.EntityTypeDisplayName %>" />
            &nbsp;&nbsp;<%= data.DisplayName %>
            <% if (data.LockedBy != null && data.LockedBy != "") { %>
            &nbsp;<i class="fa fa-lock" style="font-size: 14px; font-weight: normal;" title="Locked by <%= data.LockedBy%>"></i>
            <% } %>
        </div>
        <div class="card-text2-large" title="<%= data.DisplayDescription %>"><%= data.DisplayDescription %></div>

    </div>
</div>
