﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.ContentLibrary.Pages.MyAccountPage

<div class="row main-row ma-dashboard">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>