﻿<div id="main-client-area" class="modal-fixed-details">
    <div id="syndication-createEdit-container" class="syndication-createEdit-container">
        <div id="syndication-createEdit-container-left" class="syndication-createEdit-container-left">
            <div class="syndication-createEdit-container-labelRow">Name</div>
            <div class="syndication-createEdit-container-labelRow">Xsd</div>
            <div class="syndication-createEdit-container-labelRow" style="padding-top: 115px;">Xsd Import</div>
        </div>
        <div id="syndication-createEdit-container-right" class="syndication-createEdit-container-right">
            <div class="syndication-createEdit-container-inputReceiverName">
                <input id="inputReceiverName" class="syndication-createEdit-container-textBox"/>
            </div>
            <div id="syndication-createEdit-container-upload-xsd" class="syndication-createEdit-container-upload-xsd"></div>
            <div id="syndication-createEdit-container-upload-xsd-import" class="syndication-createEdit-container-upload-xsd"></div>
        </div>
        <div id="syndication-createEdit-container-concatedXsd" class="syndication-createEdit-container-concatedXsd">
        </div>
    </div>
</div>