﻿<div id="<%=receiverId%>" class="receiversView-receiverItem <%=header%>">
    <div id="receiversView-receiverItem-infoContainer" class="receiversView-receiverItem-infoContainer">
        <div id="receiversView-receiverItem-infoContainer-name" class="receiversView-receiverItem-cell"><%=name%></div>
        <div id="receiversView-receiverItem-infoContainer-isActive" class="receiversView-receiverItem-cell">Active: <%=isActive%></div>
        <div id="receiversView-receiverItem-infoContainer-isValidated" class="receiversView-receiverItem-cell">Validated: <%=isValidated%></div>
        <div id="contextmenu" class="row-icon-button"></div>
    </div>
    <div id="receiversView-receiverItem-distributionFormats" class="receiversView-receiverItem-distributionFormats"></div>
</div>
