﻿<div id="main-container">
    <div id="main-area">
        <div id="receiversView-container">
            <div class="box-title">
                <span class="icon-entypo-fix-book std-entypo-fix-icon box-title-icon"></span>Receivers
            </div>
            <div id="createNewReceiverButton" class="createNewReceiverButton">
                Create new Receiver
            </div>
            <div id="receiversView-listOfReceivers">
            </div>
        </div>
    </div>
</div>