﻿<div id="<%=distributionFormatId%>" class="receiversView-distributionFormatItem <%=header%>">
    <div id="receiversView-distributionFormatItem-name" class="receiversView-receiverItem-cell"><%=name%></div>
    <div id="contextmenu" class="row-icon-button"></div>
</div>
