﻿
    <div id="upload-media-container">
        <div id="dropzone-buttons" style="display: none">
            <span id="start-upload" class="row-icon-button query-action-button" title="">
                <i class="fa fa-upload"></i>
                <span class="workarea-tool-text">Upload</span>
            </span>
        </div>
    </div>
    <div id="dropzone-container">
        <div id="drop-zone2" style="background-color: #FFFFFF; top: 15px; height: 250px;">
            <form action="/syndicationFileUpload/file" class="dropzone-button" id="media-dropzone">
                <div class="dz-text dz-message" id="drop-zone-message">
                    <i class="icon-entypo-fix-picture extra-large-entypo-fix-icon box-title-icon"></i><p />
                    <!--Select XSD-->
                </div>
                <input type="hidden" value="0" id="receiverId" name="receiverId" />
                <input type="hidden" value="default" id="type" name="type" />
            </form>
        </div>
    </div>
