﻿<div class="block mosaic{% if Model.GeneralTitleMosaic != '' %} titled{% endif %} [[Model.CssClass]]">
    <div class="block-wrapper">
        {% if Model.GeneralTitleMosaic != '' %}
            <div class="block-title">
                <h1 class="title">[[Model.GeneralTitleMosaic]]</h1>
            </div>
        {% endif %}

        <div class="wrapper">
            <a href="[[Model.LinkMosaic1]]" class="box">
                <div class="box-wrapper" style="background-image: url('[[Model.ImageMosaic1]]')">
                    <div class="box-grid">
                        <div class="box-scaler"><div class="box-scaling"></div></div>
                        <div class="box-content">
                            <h3 class="box-title">[[Model.TitleMosaic1]]</h3>
                            {% if Model.DescriptionMosaic1 != '' %}
                                <p class="box-text">[[Model.DescriptionMosaic1]]</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>

            {% if Model.ImageMosaic2 != '' or Model.TitleMosaic2 != '' %}
                [% capture Mosaic2 %]
                    <div class="box-wrapper" style="background-image: url('[[Model.ImageMosaic2]]')">
                        <div class="box-grid">
                            <div class="box-scaler"><div class="box-scaling"></div></div>
                            <div class="box-content">
                                <h3 class="box-title">[[Model.TitleMosaic2]]</h3>
                                {% if Model.DescriptionMosaic2 != '' %}
                                    <p class="box-text">[[Model.DescriptionMosaic2]]</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                [% endcapture %]

                {% if Model.LinkMosaic2 != '' %}
                    <a href="[[Model.LinkMosaic2]]" class="box">[[Mosaic2]]</a>
                {% else %}
                    <div class="box">[[Mosaic2]]</div>
                {% endif %}
            {% endif %}
                
            {% if Model.ImageMosaic3 != '' or Model.TitleMosaic3 != '' %}
                [% capture Mosaic3 %]
                    <div class="box-wrapper" style="background-image: url('[[Model.ImageMosaic3]]')">
                        <div class="box-grid">
                            <div class="box-scaler"><div class="box-scaling"></div></div>
                            <div class="box-content">
                                <h3 class="box-title">[[Model.TitleMosaic3]]</h3>
                                {% if Model.DescriptionMosaic3 != '' %}
                                    <p class="box-text">[[Model.DescriptionMosaic3]]</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                [% endcapture %]

                {% if Model.LinkMosaic3 != '' %}
                    <a href="[[Model.LinkMosaic3]]" class="box">[[Mosaic3]]</a>
                {% else %}
                    <div class="box">[[Mosaic3]]</div>
                {% endif %}
            {% endif %}
            
            {% if Model.ImageMosaic4 != '' or Model.TitleMosaic4 != '' %}
                [% capture Mosaic4 %]
                    <div class="box-wrapper" style="background-image: url('[[Model.ImageMosaic4]]')">
                        <div class="box-grid">
                            <div class="box-scaler"><div class="box-scaling"></div></div>
                            <div class="box-content">
                                <h3 class="box-title">[[Model.TitleMosaic4]]</h3>
                                {% if Model.DescriptionMosaic4 != '' %}
                                    <p class="box-text">[[Model.DescriptionMosaic4]]</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                [% endcapture %]

                {% if Model.LinkMosaic4 != '' %}
                    <a href="[[Model.LinkMosaic4]]" class="box">[[Mosaic4]]</a>
                {% else %}
                    <div class="box">[[Mosaic4]]</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
