﻿<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@ViewBag.Title - inRiver</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
   
    
    @Styles.Render("~/Content/common")


    @Styles.Render("~/Styles/login.css")
    @RenderSection("css", false)

    <script src="/Scripts/libs/jquery/jquery-2.0.3.min.js"></script>

</head>

<body>
    @if (ViewBag.TopPartials != null)
    {
        foreach (string TopPartial in ViewBag.TopPartials)
        {
            Html.RenderPartial(TopPartial);
        }
    }

    @*    <div id="curtain">
        </div>*@

    @if (ViewBag.PopupPartials != null)
    {
        foreach (string PopupPartial in ViewBag.PopupPartials)
        {
            Html.RenderPartial(PopupPartial);
        }
    }

    @RenderBody()

    @*@{ Html.RenderPartial("_Footer"); }*@

    @*    </div>*@

</body>
</html>
