﻿@{
    ViewBag.Title = "Error";
}
<div align="center">
    <div><h2>@ViewBag.ErrorTitle</h2></div>
    <div style="color: #f00">@Html.Raw(ViewBag.ErrorDesc)</div>
    <div><a onclick="window.history.go(-1);" style="cursor:pointer">&lt;&lt; Back</a></div>
</div>