﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.WishLists.Content.WishListPage

<div class="row main-row ma-wishlist">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>