﻿<div class="block two-column [[Model.CssClass]]">
    <div class="block-wrapper">
        <div class="row">
            <div class="column breakpoint-[[Model.LeftColumnSize]]">
                <div class="block sub group collapse">
                    <div class="block-wrapper">
                        [% zone 'LeftColumn' %]
                    </div>
                </div>
            </div>
            <div class="column breakpoint-[[Model.RightColumnSize]]">
                <div class="block sub group collapse">
                    <div class="block-wrapper">
                        [% zone 'RightColumn' %]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>