﻿@using inRiver.Web.Misc
@using Newtonsoft.Json
@{
    ViewBag.Title = "Planner";
}

<div id="main-container">
    <div class="loading-spinner-container">
        <img src="~/images/nine-squares-32x32.gif" />
    </div>
</div>
<div id="workarea-container"><div id="workarea-left"></div><div id="workarea-right"></div></div>

<div id="appmenu-container"></div>
<div id="modalWindow" style="display: none"></div>

<div class="clearfix"></div>

<footer></footer>
<script data-main="../../Scripts/planner/js/main" src="~/Scripts/libs/require/require.js"></script>

@section plannerjs
{
    <script type="text/javascript">
    var appSession = {
        plannerEntityViewTabId: "tab-details"
    };

    appHelper.plannerEntityTypes = '@string.Join(",", PlannerUtil.PlannerEntityTypes.Select(x => x.Id))';
    appHelper.topLevelPlannerEntityType = '@PlannerUtil.PlannerTopLeveEntityType';
    appHelper.milestoneEntityTypes = @Html.Raw(JsonConvert.SerializeObject(PlannerUtil.MilestoneEntityTypeIds));
    appHelper.isInteractiveEditingEnabled = @Html.Raw(PlannerUtil.IsInteractiveEditingEnabled ? "true" : "false");
    appHelper.userCanSharePlannerViews = @Html.Raw(InRiverUtil.CurrentUser.HasPermission("SharePlannerViews") ? "true" : "false");
    </script>
}


