﻿<div class="block group collapse" ng-controller="WishListController as vm" ng-cloak>
    <isc-spinner show="false" name="wishlist"></isc-spinner>

    <div class="block-wrapper">
        <p ng-if="vm.wishListCount === 0">[% siteMessage 'WishLists_NoWishlistsFound' %]</p>

        <div class="block" ng-show="vm.wishListCount > 0">
            <div class="block-wrapper">
                <div class="editable content">[% zone 'TopContent' %]</div>
                <div class="fields">
                    <div class="field" ng-show="vm.wishListSettings.allowMultipleWishLists">
                        <label for="selectedWishList">[% translate 'Select List' %]</label>
                        <select id="selectedWishList" class="field-large-width" ng-model="vm.selectedWishList" ng-change="vm.getSelectedWishListDetails()" ng-options="wishList.name for wishList in vm.wishListCollection track by wishList.id"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" ng-show="vm.wishListCount > 0 && vm.selectedWishList !== null">
            <div class="block-wrapper">
                <div ng-if="vm.selectedWishList.wishListLineCollection.length === 0">
                    <p>[% siteMessage 'WishLists_NoItemsInList' %]</p>
                    <div class="button-group" ng-if="vm.wishListSettings.allowEditingOfWishLists">
                        <button type="button" class="button alt small" ng-click="vm.deleteWishList()">[% translate 'Delete List' %]</button>
                    </div>
                </div>

                <div ng-if="vm.selectedWishList.wishListLineCollection.length > 0">
                    <isc-pager pagination="vm.selectedWishList.pagination" storage-key="vm.paginationStorageKey" update-data="vm.getSelectedWishListDetails()"></isc-pager>
                    <div class="order-items offset">
                        <table class="order-items-list">
                            <thead>
                                <tr>
                                    <th class="order-item-description" colspan="2">[% translate 'Store_Order_Description' %]</th>
                                    <th class="order-item-status" ng-show="vm.productSettings.showInventoryAvailability">[% translate 'Store_Order_Availability' %]</th>
                                    <th class="order-item-quantity">[% translate 'Store_Order_Quantity' %]</th>
                                    <th class="order-item-price">[% translate 'Store_Order_UnitPrice' %]</th>
                                    <th class="order-item-total"></th>
                                </tr>
                            </thead>
                            <tbody class="order-item" ng-repeat="wishListLine in vm.selectedWishList.wishListLineCollection track by wishListLine.id">
                                <tr class="order-item-detail" ng-class="{'no-price' : !wishListLine.canShowPrice}">
                                    <td class="order-item-visual">
                                        <isc-product-thumb product="wishListLine"></isc-product-thumb>
                                    </td>

                                    <td class="order-item-name">
                                        <isc-product-name product="wishListLine"></isc-product-name>
                                        <a class="name" ng-href="{{wishListLine.productUri}}" ng-bind="wishListLine.shortDescription"></a>
                                    </td>

                                    <td class="order-item-status" ng-show="vm.productSettings.showInventoryAvailability">
                                        <store-availability-status product="wishListLine" class="small no-text"></store-availability-status>
                                    </td>

                                    <td class="order-item-quantity">
                                        <div class="product-quantity">
                                            <div class="wrapper">
                                                <div class="field small" ng-if="wishListLine.canEnterQuantity">
                                                    <input id="product-quantity-{{$index}}" ng-if="wishListLine.canEnterQuantity" type="number" value="1" min="1" step="1"
                                                           ng-model="wishListLine.qtyOrdered"
                                                           isc-enter="vm.quantityKeyPress(wishListLine)"
                                                           ng-blur="vm.quantityKeyPress(wishListLine)" />
                                                </div>
                                                <div class="value" ng-if="!wishListLine.canEnterQuantity" ng-bind="wishListLine.qtyOrdered"></div>
                                                <div class="label">
                                                    <label for="product-quantity-{{$index}}">
                                                        <span class="qty-label">[% translate 'Store_QuantityLabel' %]</span>
                                                        <isc-quantity-break-pricing product-id="wishListLine.id"
                                                                                    break-prices="wishListLine.pricing.unitRegularBreakPrices"
                                                                                    ng-if="wishListLine.canEnterQuantity">
                                                        </isc-quantity-break-pricing>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="order-item-price">
                                        <div class="product-price">
                                            <isc-product-price product="wishListLine" ng-if="wishListLine.canShowPrice"></isc-product-price>
                                            <span class="price" ng-if="!wishListLine.canShowPrice">-</span>
                                        </div>
                                    </td>

                                    <td class="order-item-total">
                                        <div class="wrapper">
                                            <span class="action" ng-if="(wishListLine.canAddToCart && wishListLine.qtyOrdered > 0) || vm.wishListSettings.allowEditingOfWishLists">
                                                <button type="button" ng-click="vm.addLineToCart(wishListLine)" ng-if="wishListLine.canAddToCart && wishListLine.qtyOrdered > 0">[% translate 'Add to Cart' %]</button>
                                                <button type="button" ng-click="vm.deleteLine(wishListLine)" ng-if="vm.wishListSettings.allowEditingOfWishLists">[% translate 'Store_Order_Remove' %]</button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <isc-pager bottom="true" pagination="vm.selectedWishList.pagination" storage-key="vm.paginationStorageKey" update-data="vm.getSelectedWishListDetails()"></isc-pager>

                    <div class="button-group" ng-show="(vm.selectedWishList.canAddAllToCart || vm.selectedWishList.canAddToCart) || vm.wishListSettings.allowEditingOfWishLists">
                        <button type="button" class="button small"
                                ng-click="vm.addAllToCart()"
                                ng-show="vm.selectedWishList.canAddAllToCart || vm.selectedWishList.canAddToCart"
                                ng-disabled="!vm.allQtysIsValid() || vm.inProgress"
                                ng-class="{'disabled': !vm.allQtysIsValid() || vm.inProgress}">
                            <span ng-bind="vm.selectedWishList.canAddAllToCart ? '[% translate 'Add All To Cart' %]' : '[% translate 'Add All Available to Cart' %]'"></span>
                            <span class="loader">
                                <span class="spinner"></span>
                                <span class="text">[% translate 'Store_CartButton_Success' %]</span>
                            </span>
                        </button>
                        <button type="button" class="button alt small" ng-show="vm.wishListSettings.allowEditingOfWishLists" ng-click="vm.deleteWishList()">[% translate 'Delete List' %]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <isc-popup-template container-id="popup-deletewishlist" title="[% translate 'Delete Wishlist'%]" class="small">
        <div class="msg success">[[Model.DeleteWishlistMessage]]</div>
    </isc-popup-template>
</div>