﻿<div class="app-tools">
    <div class="app-tools-header" id="tools-show">
        <i class="fa fa-navicon"></i>
    </div>
    <div id="app-tools-container" style="display: none">
        <div id="close-tools-container">
            <span title="Close" class="fa fa-times"></span>
        </div>
        <!--<span id="create-entity-button"><span title="Create new Entity" class="icon-entypo-fix-pencil std-entypo-fix-icon control-row-icon-button"></span><span>Create Entity</span></span>
            <br />-->
        <div id="create-connector-container"></div>
    </div>
</div>