﻿<div class="block" ng-controller="AccountSettingsController as vm" ng-cloak ng-show="vm.settings && vm.account">
    <div class="block-wrapper">
        <div class="row text-spacing-xsmall">
            <div class="xsmall-6 medium-5 xlarge-6 mxlarge-5 column">
                <div class="user-info">
                    <h4 class="user-info-title">[% translate 'Store_Dashboard_UserId' %]</h4>
                    <div class="user-info-content">
                        <span>{{::vm.account.firstName}} {{::vm.account.lastName}}</span>
                        <span>{{vm.savedAccountEmail}}</span>
                    </div>
                    <ul class="user-info-actions">
                        <li><a href="[% urlForPage 'ChangeAccountPasswordPage' %]">[% translate 'Change password' %]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>