﻿@{
    ViewBag.Title = "Sign In";
}
<div class="form-signin"  align="center">

    <img src="~/Images/inRiver-3D_Medium.jpg" width="250" style="width: 250px; margin-top: 10px; margin-bottom:30px" />

    <div id="inline-signin" class="form" class="form-signin">
        <div id="inline-signin-content">
            <form action="@Url.Action("SignIn", "Auth")" method="post">
                <div style="text-align:left; position: relative; left:35px;">
                    <div class="error">@ViewBag.LoginMessage</div>
                  
                    <input type="text" autofocus="autofocus" name="username" style="width: 220px;" placeholder="Username" required />
                    <input type="password" name="password" style="width: 220px;" placeholder="Password" required/>
                    <input type="hidden" name="returnurl" value="" />
                    <br />
                    <label><input type="checkbox" name="rememberme" />Remember me</label>
                    <br />
                    <button type="submit" class="button" style="float:right; margin-right: 60px;">Sign in</button><br />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="copyright"> Version 6.3 | &copy; 2017 inRiver AB</div>
@ViewBag.ServerName
<br />
@ViewBag.ServerVersion

<script type="text/javascript">
        $(document).ready(function() {
            // Handle return url
            var r = window.location.href.match(/returnurl=(.*?)(&|$)/i);
            if (r) {
                var returnUrl = r[1];
                $("input[name='returnurl']").val(returnUrl);
            }
        });
</script>