﻿<div id="publications-overview-dataview">
    <div class="wpr-width-limited-container">
        <div id="publications-area">
            <ul id="publications-list" class="flat-ul"></ul>
        </div>
    </div>
</div>
