﻿    <div id="channels-overview-dataview" style="display: inline-block">
        <div class="wpr-width-limited-container">
            <div id="channels-area">
                <ul id="channels-list" class="flat-ul"></ul>
            </div>
        </div>
    </div>
