﻿<div id="start-main-container">

    <div class="start-section-col">
        <div id="list-of-channels" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-globe std-entypo-fix-icon box-title-icon"></span>Channels
            </div>
        </div>
    </div>
    <div class="start-section-col">
        <div id="list-of-publications" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-docs std-entypo-fix-icon box-title-icon"></span>Publications
            </div>
        </div>
    </div>
    <div class="start-section-col">
        <div id="latest-events-from-connectors" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-flag std-entypo-fix-icon box-title-icon"></span>Latest Events
            </div>
        </div>
    </div>
</div>
