﻿<div id="connector-overview-dataview">
    <div class="wpr-width-limited-container">
        <div id="connector-area">
            <ul id="connector-list" class="flat-ul">
                <li>
                    <div class="loadingspinner">
                        <img src="/Images/nine-squares-32x32.gif" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
