﻿<div class="app-tools">
    <div class="app-tools-header" id="tools-show">
        <i class="fa fa-navicon"></i>
    </div>
    <div id="app-tools-container-save-supplier">
        <div id="app-tools-container" style="display: none">
            <div id="create-supplier-header">
                <h3>Create new Supplier</h3>
            </div>
            <div id="close-tools-container">
                <span title="Close" class="fa fa-times"></span>
            </div>
            <div id="supplier-input-control">
                <span>Supplier name:</span>
                <input type="text" id="supplier-name-input" />
            </div>
            <div id="save-supplier-buttons">
                <div id="save-supplier-button">
                    <span title="Save Supplier" class="row-icon-button query-action-button" id="saveSupplier">
                        <i class="fa fa-save"></i>
                        <span class="workarea-tool-text">Save</span>
                    </span>
                    <span title="Cancel Supplier" class="row-icon-button query-action-button" id="cancelSupplier">
                        <i class="fa fa-ban"></i>
                        <span class="workarea-tool-text">Cancel</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
