﻿<div id="supplier-onboarding-navigation-links-wrap">
    <a href="#imports" title="Pending imports"><span><i class="fa fa-tasks"></i>Imports</span></a>
    <a href="#suppliers" title="Settings for Supplier"><span><i class="fa fa-cogs"></i>Suppliers</span></a>
</div>
