//-------------------------------------
//-- Base styles for CKEditor
//-------------------------------------

//-- Widgets

// @import 'components/ckeditor/styles/widgets/youtube';

//-- Custom

#{'.cke_panel_grouptitle'} {
	font-family: inherit;
}

#{'.cke_panel_list'} {
	> li {
		padding-left: 0;
		&::before { display: none; }

		a {
			text-decoration: none;
		}
	}
}

#{'.cke_editable'} {
	table {
		th, td {
			min-width: 25px;
			border: 1px dashed rgba($black, .5);
		}
	}
}
