﻿<div id='<%= id %>display' class='display' style='<%= displayStyle %>'>
    <i id="locale-string-edit-button" class="fa fa-pencil row-icon-button"></i>&nbsp;<span id='display<%= id %>'> </span>
</div>
<div id='<%= id %>editor' class='editor' style='<%= editorStyle %>'>
    <div id='standardFormView<%= id %>'>
        <table class="localstring-table">
            <tr>
                <% if (!readonly || readonly == "") { %>
                <td>
                    <span class='localestring-editor-label'>Edit&nbsp;</span>
                    <select id='editlanguage<%= id %>' class="editLanguage"></select>
                </td>
                <% } %>
                <td>
                    <span class='localestring-editor-label'>View&nbsp;</span>
                    <select id='viewlanguage<%= id %>' class='view viewLanguage'></select>
                </td>
            </tr>
            <tr>
                <% if (!readonly || readonly == "") { %>
                <td>
                    <textarea rows='4' id='text<%= id %>' name="<%= name %>"></textarea>
                    <input type='hidden' id='curr<%= id %>' />
                </td>
                <% } %>
                <td>
                    <textarea rows='4' disabled='disabled' class='view' id='view<%= id %>' name="<%= name %>"></textarea>
                </td>
            </tr>
        </table>
        <div class="localestring-view-buttons">
            <span id="form-view-button" class="fa fa-list-alt row-icon-button" title="Standard form view"></span>
            <span id="list-view-button" class="fa fa-list-ul row-icon-button" title="Custom list view"></span>
            <span id="stopedit-button" class="fa fa-minus-square row-icon-button"></span>
        </div>
    </div>
    <div id='customListView<%= id %>'>
        <table id='customListViewTable<%= id %>' class="localstring-table">
            <tr>
                <td><span class="localestring-table-title">Language</span></td>
                <td><span class="localestring-table-title">Text</span></td>
            </tr>
        </table>
        <span id="form-view-button" class="fa fa-list-alt row-icon-button" title="Standard form view"></span>
        <span id="list-view-button" class="fa fa-list-ul row-icon-button" title="Custom list view"></span>
        <span id="stopedit-button" class="fa fa-minus-square row-icon-button"></span>
    </div>
</div>

