﻿<tr>
    <td class="localstring-tabel-cell"><span class="localestring-table-title"><%=language %>:</span></td>
    <td class="localstring-tabel-cell"><textarea rows='4' id='text<%= id %><%= language %>-listitem' style='width: 400px;' name='<%=name%>-listitem' <% if (readonly == "readonly"){%> disabled='disabled' <%}%>><%=text %></textarea></td>
</tr>
