//-------------------------------------
//-- Configuration settings
//-------------------------------------

@import 'components/nwayo/styles/util';
@import 'components/common/styles/trigonometry';
@import 'components/common/styles/mixins';

//-- General

$common-breakpoints: (
	small: 0,
	xsmall: $konstan-dimension-xsmall + 1,
	medium: $konstan-dimension-small + 1,
	large: $konstan-dimension-medium + 1,
	xlarge: $konstan-dimension-large + 1,
	mxlarge: $konstan-dimension-mxlarge + 1,
	xxlarge: $konstan-dimension-xlarge + 1,
) !default;

$property-sides: (top right bottom left);
$border-radius: 2px !default;

//-- Palette

$white: #ffffff;
$black: #000000;
$red: #ff0000;

//-- Colors

$invert-color: #ffffff !default;

$main-color: #19468d !default;
$main-active-color: #0e326c !default;

$alt-color: #5889b9 !default;
$alt-active-color: #7d9bc0 !default;

$other-color: $alt-color !default;
$other-active-color: $alt-active-color !default;

$bg-color: #ffffff !default;
$bg-alt-color: #f6f8fb !default;

$action-color: #e2261b !default;
$action-active-color: #bf1f15 !default;

$title-color: #262936 !default;

$text-lighter-color: #939296 !default;
$text-light-color: #818386 !default;
$text-color: #262936 !default;

$border-color: #d7d8da !default;
$border-dark-color: #262936 !default;

$success-color: #3cb84f !default;
$alert-color: #eca015 !default;
$error-color: #aa0015 !default;

$msg-default-color: #939598 !default;

$link-color: $text-color !default;
$link-decoration: underline !default;
$link-active-color: $text-light-color !default;
$link-active-decoration: underline !default;

//-- Shadows

$shadow-base-color: #000000 !default;
$shadow-none-color: rgba($shadow-base-color, 0) !default;
$shadow-light-color: rgba($shadow-base-color, .1) !default;
$shadow-color: rgba($shadow-base-color, .2) !default;
$text-shadow-color: rgba($shadow-base-color, .5) !default;

//-- Layout

$gutter-spacing: (
	small: 20px,
	medium: 30px,
	xxlarge: 40px
) !default;

$side-spacing: (
	small: 20px,
	medium: 30px,
	large: 40px,
	xlarge: 50px,
	xxlarge: 60px
) !default;

$block-spacing: (
	small: 25px,
	medium: 30px,
	large: 40px,
	xlarge: 50px,
	xxlarge: 60px
) !default;

$block-collapse-spacing: (
	small: 25px,
	large: 35px,
	xxlarge: 45px
) !default;

//-- Top nav

$top-nav-height: (
	small: 42px,
	xlarge: 36px
) !default;

$top-nav-item-padding: (
	small: 10px,
	medium: 12px,
	xlarge: 16px
) !default;

$top-nav-item-border-height: 15px !default;
$top-nav-item-border-width: 1px !default;
$top-nav-item-border-style: solid !default;
$top-nav-item-border-color: $invert-color !default;

$top-nav-user-arrow-size: 13px !default;
$top-nav-user-padding: 15px !default;
$top-nav-text-color: $invert-color !default;
$top-nav-bg-color: $main-color !default;
$top-nav-bg-alt-color: false !default;

//-- Header

$header-height: (
	small: 70px,
	medium: 90px,
	xxlarge: 100px
) !default;

$header-logo-height: (
	small: 55px,
	medium: 70px,
	xlarge: 80px,
	xxlarge: 95px
) !default;

$header-border: none !default;
$header-bg-color: $main-color !default;

//-- Content

$base-letter-spacing: 0 !default;
$large-letter-spacing: .5px !default;
$larger-letter-spacing: 1px !default;
$largest-letter-spacing: 2px !default;
$bullet-color: $main-color !default;

$indent-spacing: (
	small: 3px
) !default;

$font-size: (
	small: 15px,
	xlarge: 16px
) !default;

$text-spacing: (
	small: 16px
) !default;

$flat-spacing: (
	small: 22px
) !default;

$spaced-spacing: (
	small: 24px,
	large: 26px,
	xlarge: 28px
) !default;

//-- Titles

$title-spacing-top: (
	small: 22px,
	large: 26px,
	xlarge: 32px,
	xxlarge: 38px
) !default;

$title-spacing-bottom: (
	small: .6em
) !default;

$heading1-font-size: (
	small: 30px,
	large: 36px,
	xlarge: 42px,
	xxlarge: 48px
) !default;
$heading1-font-style: normal !default;

$heading2-font-size: (
	small: 26px,
	large: 30px,
	xlarge: 34px,
	xxlarge: 36px
) !default;
$heading2-font-style: normal !default;

$heading3-font-size: (
	small: 22px,
	large: 24px,
	xlarge: 28px,
	xxlarge: 30px
) !default;
$heading3-font-style: normal !default;

$heading4-font-size: (
	small: 20px,
	large: 22px,
	xlarge: 24px
) !default;
$heading4-font-style: normal !default;

$heading5-font-size: (
	small: 18px
) !default;
$heading5-font-style: normal !default;

$heading6-font-size: (
	small: 16px
) !default;
$heading6-font-style: normal !default;

//-- Buttons

$button-side-padding-ratio: 2 !default;
$button-border-radius: $border-radius !default;
$button-width: 225px !default;
$button-small-width: 175px !default;
$button-weight: $bold-weight !default;
$button-letter-spacing: 1px !default;

$button-small: (
	height: 40px,
	fontSize: 13px,
	lineHeight: 1.3
) !default;

$button-height: (
	small: 44px,
	xlarge: 48px
) !default;

$button-line-height: (
	small: 1.3
) !default;

$button-font-size: (
	small: 14px
) !default;

$button-group-spacing: (
	small: 10px
) !default;

$button-loading-size: 22px !default;
$button-loading-border-size: 2px !default;
$button-loading-check-size: 2px !default;
$button-loading-check-angle: 135deg !default;

$button-color: $invert-color !default;
$button-bg-color: $main-color !default;
$button-bg-active-color: $main-active-color !default;

$button-themes: (
	alt: (
		color: $invert-color,
		bg-color: $alt-color,
		bg-active-color: $alt-active-color
	),
	other: (
		color: $invert-color,
		bg-color: $other-color,
		bg-active-color: $other-active-color
	),
	cart: (
		color: $invert-color,
		bg-color: $action-color,
		bg-active-color: $action-active-color
	)
) !default;

//-- Accordions

$accordion-label-bg-color: $main-color !default;
$accordion-label-bg-active-color: $main-color !default;
$accordion-label-border-color: $invert-color !default;
$accordion-label-border-active-color: $invert-color !default;
$accordion-label-text-color: $invert-color !default;
$accordion-state-active-color: $invert-color !default;
$accordion-content-spacing: 0 !default;
$accordion-label-alt-bg-color: $alt-color !default;
$accordion-label-alt-border-color: $alt-color !default;

//-- Modal

$modal-bg-color: $bg-alt-color !default;
$modal-width: 90% !default;
$modal-max-width: 1200px !default;
$modal-padding: 0 !default;
$modal-border-color: $border-color !default;
$modal-border: 1px solid $modal-border-color !default;
$modal-box-shadow: 1px 1px 8px $shadow-color !default;
$modal-radius: $border-radius !default;
$modal-overlay-bg-color: $black !default;
$modal-close-bg-color: $text-color !default;
$modal-close-text-color: $invert-color !default;

//-- Loader

$loader-bg-color: $border-color !default;
$loader-bar-color: $main-color !default;
$loader-overlay-color: rgba($white, .6) !default;

//-- Breadcrumbs

$breadcrumbs-text-color: $text-light-color !default;
$breadcrumbs-link-color: $text-color !default;
$breadcrumbs-arrow-color: $action-color !default;

//-- Barcode scanner

$barcode-nav-bg-color: #939598 !default;
$barcode-nav-text-color: $invert-color !default;
$barcode-bg-color: $bg-alt-color !default;

//-- Menus

$nav-box-transition: 200ms !default;
$nav-box-easing: ease-out !default;
$nav-box-bg-color: $bg-alt-color !default;
$nav-box-border-color: transparent !default;
$nav-box-text-color: $text-color !default;
$nav-box-text-active-color: $main-color !default;
$nav-box-bg-alt-color: $top-nav-bg-color !default;
$nav-box-text-alt-color: $top-nav-text-color !default;

//-- Footer

$footer-border-color: $invert-color !default;
$footer-border: none !default;
$footer-bg-color: $main-color !default;
$footer-text-color: $invert-color !default;
$footer-title-color: $invert-color !default;
$footer-bar-border: 0 !default;
$footer-bar-bg-color: $main-active-color !default;
$footer-bar-text-color: $invert-color !default;

//-- Image overlays

$image-overlay-color: #2e2e41 !default;
$image-overlay-gradient: linear-gradient(rgba($image-overlay-color, 0) 0%, rgba($image-overlay-color, .7) 100%) !default;

//-- Tables

$table-bg-active-color: rgba($alt-color, .2) !default;
$table-text-active-color: $text-color !default;
$table-cursor-color: $alt-color !default;
$table-cursor-active-color: $alt-color !default;

$table-alt-border-color: $border-dark-color !default;
$table-alt-light-border-color: $border-color !default;
$table-alt-vertical-padding: (
	small: 12px,
	large: 15px
) !default;

//-- Fonts

$base-font: Arial, Helvetica, sans-serif !default;
$text-font: 'Roboto', $base-font !default;
$title-font: 'Roboto', $base-font !default;

//-- Selectors

$hover-selector: 'html:not([data-whatintent="touch"]) &:hover' !default;
$docloaded-selector: 'body.document-loaded' !default;
$bypass-inactive-selector: '\
	+ .ng-hide,\
	+ .ng-hide + .ng-hide\
' !default; // up to 2 inactive elements

//-- Transitions

$hover-transition: $konstan-transition-hover * 1ms !default;
$hover-easing: ease-out !default;
$animation-transition: $konstan-transition-animation * 1ms !default;
$animation-easing: cubic-bezier(.215, .61, .355, 1) !default; // easeOutCubic
$reveal-transition: $konstan-transition-reveal * 1ms !default;

//-- Icons

$ico-star-char: '\e900' !default;
$ico-arrow-right-char: '\e901' !default;
$ico-arrow-left-char: '\e908' !default;
$ico-check-char: '\e902' !default;
$ico-close-char: '\e903' !default;
$ico-compare-char: '\e904' !default;
$ico-heart-char: '\e905' !default;
$ico-search-char: '\e906' !default;
$ico-user-char: '\e907' !default;
$ico-confirm-char: '\e909' !default;
$ico-refuse-char: '\e90a' !default;
$ico-info-char: '\e90b' !default;
$ico-barcode-char: '\e90c' !default;
$ico-album-char: '\e90d' !default;
$ico-cart-char: '\e90e' !default;
$ico-phone-char: '\e90f' !default;
$ico-calendar-char: '\e910' !default;
$ico-plus-char: '\e911' !default;
$ico-facebook-char: '\e914' !default;
$ico-twitter-char: '\e912' !default;
$ico-google-plus-char: '\e913' !default;
$ico-browse-char: '\e915' !default;
$ico-sub-arrow-char: '\e916' !default;
$ico-marker-char: '\e917' !default;
$ico-pdf-char: '\e918' !default;

//-- Animations

@keyframes rotate-animation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
