//-------------------------------------
//-- Fonts
//-------------------------------------

//-- Icons
@include load-font-mixin('icons', 'icons_v2', 'common');

//-- Text Fonts
@include load-font-mixin('Roboto', 'Roboto/roboto-latin-regular', 'common', $weight:$normal-weight);
@include load-font-mixin('Roboto', 'Roboto/roboto-latin-italic', 'common', $weight:$normal-weight, $style:italic);
@include load-font-mixin('Roboto', 'Roboto/roboto-latin-500', 'common', $weight:$semibold-weight);
@include load-font-mixin('Roboto', 'Roboto/roboto-latin-500italic', 'common', $weight:$semibold-weight, $style:italic);
@include load-font-mixin('Roboto', 'Roboto/roboto-latin-700', 'common', $weight:$bold-weight);
@include load-font-mixin('Roboto', 'Roboto/roboto-latin-700italic', 'common', $weight:$bold-weight, $style:italic);
@include load-font-mixin('Roboto', 'Roboto/roboto-latin-900', 'common', $weight:$black-weight);
@include load-font-mixin('Roboto', 'Roboto/roboto-latin-900italic', 'common', $weight:$black-weight, $style:italic);
