//-------------------------------------
//-- Mixins
//-------------------------------------

//-- Utils

@function not-breakpoint-selector($min: nth(map-keys($common-breakpoints), 1), $max: nth(map-keys($common-breakpoints), length($common-breakpoints)), $exclude: ()) {
	$selector: '&';

	@each $name in map-keys($common-breakpoints) {
		@if(min-breakpoint($min, $name) and max-breakpoint($max, $name) and not index($exclude, $name)) {
			$selector: $selector + ':not(.#{$name})';
		}
	}

	@return $selector;
}

@function max-breakpoint($max, $current:$bp-name) {
	@return index(map-keys($common-breakpoints), $max) >= index(map-keys($common-breakpoints), $current);
}

@function min-breakpoint($min, $current:$bp-name) {
	@return index(map-keys($common-breakpoints), $min) <= index(map-keys($common-breakpoints), $current);
}

@function prev-breakpoint($bp) {
	$index: index(map-keys($common-breakpoints), $bp);

	@if ($index == 1) {
		@return $bp;
	}

	@return nth(map-keys($common-breakpoints), $index - 1);
}

@function next-breakpoint($bp) {
	$index: index(map-keys($common-breakpoints), $bp);

	@if ($index == length(map-keys($common-breakpoints))) {
		@return $bp;
	}

	@return nth(map-keys($common-breakpoints), $index + 1);
}

@mixin each-breakpoint($media-queries: true) {
	@each $name in map-keys($common-breakpoints) {
		$map-changed: false !global;
		$bp-name: $name !global;

		@if($media-queries) {
			@include breakpoint($name) { @content; }
		} @else {
			@content;
		}
	}
}

@mixin map-get($map, $key:$bp-name) {
	@if(map-has-key($map, $key)) {
		$map-value: map-get($map, $key) !global;
		$map-changed: true !global;
		@content;
	}
}

//-- Breakpoint column classes

$_breakpoint-column-classes-generated: false !global;
$_breakpoint-column-classes-name: 'breakpoint';
$breakpoint-column-classes-selector: '[class*="#{$_breakpoint-column-classes-name}-"]';

@mixin generate-breakpoint-column-classes() {
	@if(not $_breakpoint-column-classes-generated) {
		$_breakpoint-column-classes-generated: true !global;
		@for $i from 1 through $grid-column-count {
			.#{$_breakpoint-column-classes-name}-#{$i} { @include grid-col-size($i); }
		}
	}
}

//-- Styles

@mixin common-scrollbar-styles {
	html.hiddenscroll.no-touchevents &,
	html.hiddenscroll[data-whatinput='keyboard'] &,
	html.hiddenscroll[data-whatinput='mouse'] & {
		::-webkit-scrollbar-track:vertical {
			box-shadow: rem-calc(1 0 1) darken($white, 4%) inset, rem-calc(-1 0 1) darken($white, 4%) inset;
		}

		::-webkit-scrollbar-track:horizontal {
			box-shadow: rem-calc(0 1 1) darken($white, 4%) inset, rem-calc(0 -1 1) darken($white, 4%) inset;
		}

		::-webkit-scrollbar {
			width: rem-calc(16);
			height: rem-calc(16);
			background-color: darken($white, 2%);
			appearance: none;
		}

		::-webkit-scrollbar-thumb {
			border-width: rem-calc(3);
			border-style: solid;
			border-color: transparent;
			border-radius: rem-calc(8);
			box-shadow: rem-calc(0 0 1) rgba($white, .5);
			background-color: rgba($black, .4);
			background-clip: padding-box;
		}

		::-webkit-scrollbar-thumb:hover {
			background-color: rgba($black, .5);
		}
	}
}

@mixin site-width-styles {
	@include spacing-styles($side-spacing, $type:padding, $side:(right left));
	max-width: #{$konstan-dimension-max}px;
	margin-right: auto;
	margin-left: auto;
}

@mixin spacing-styles($map:null, $type:padding, $side:null, $offset:0, $multiple: 1, $min-bp:null, $max-bp:null) {
	$min-reached: not $min-bp;
	$max-reached: false;
	$bp-spacing: 0;
	$first-map: true;

	@include each-breakpoint {
		@include map-get($map, $bp-name) { $bp-spacing: $map-value; }

		@if (not $min-reached) {
			$min-reached: $bp-name == $min-bp;
		}

		@if(($first-map or $map-changed) and ($min-reached and not $max-reached)) {
			$first-map: false;

			@if($side) {
				@if($bp-name == small) {
					@each $t in $type {
						@each $s in $side {
							#{$t}-#{$s}: ($bp-spacing * $multiple) + $offset;
						}
					}
				} @else {
					@include breakpoint($bp-name) {
						@each $t in $type {
							@each $s in $side {
								#{$t}-#{$s}: ($bp-spacing * $multiple) + $offset;
							}
						}
					}
				}
			} @else {
				@if($bp-name == small) {
					@each $t in $type { #{$t}: ($bp-spacing * $multiple) + $offset; }
				} @else {
					@include breakpoint($bp-name) {
						@each $t in $type { #{$t}: ($bp-spacing * $multiple) + $offset; }
					}
				}
			}
		}

		@if (not $max-reached) {
			$max-reached: $bp-name == $max-bp;
		}
	}
}

@mixin ico-font($char: false, $family: 'icons') {
	@if($char) { content: $char; }
	font-family: $family;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	line-height: 1;
	font-variant: normal;
}
