﻿<div id="start-main-container">
    <div id="content-stores-top-row">
        <select id="content-stores-dropdown"></select>

        <span id="delete-content-store" class="row-icon-button query-action-button" title="">
            <i class="fa fa-trash"></i>
            <span class="workarea-tool-text">Delete Content Store</span>
        </span>

        <span id="content-stores-add" class="row-icon-button query-action-button" title="">
            <i class="fa fa-plus"></i>
            <span class="workarea-tool-text">Create Content Store</span>
        </span>

    </div>
    <div id="content-stores-content-area">
        <div class="start-section-col">
            <div class="box-title">
                <span class="icon-entypo-fix-user std-entypo-fix-icon box-title-icon"></span>Channel
            </div>
            <div id="content-stores-channel-section" class="start-section-box">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>

            <div class="box-title">
                <span class="icon-entypo-fix-user std-entypo-fix-icon box-title-icon"></span>Data Transfer Configuration
            </div>
            <div id="content-stores-data-settings-section" class="start-section-box">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>
        </div>
        <div class="start-section-col">
            <div class="box-title">
                <span class="icon-entypo-fix-user std-entypo-fix-icon box-title-icon"></span>Settings
            </div>
            <div id="content-stores-settings-section" class="start-section-box">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>

            <div class="box-title">
                <span class="icon-entypo-fix-user std-entypo-fix-icon box-title-icon"></span>User Access
            </div>
            <div id="content-stores-users-section" class="start-section-box">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>

        </div>
    </div>
</div>
