﻿<div id="start-main-container">
    <div class="start-section-box start-section-col">
        <div id="list-of-workareas" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-folder std-entypo-fix-icon box-title-icon"></span>Workareas
            </div>
        </div>
    </div>
    <div class="start-section-col">
        <div id="list-of-latest-results" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-export std-entypo-fix-icon box-title-icon"></span>Historic Results
            </div>
        </div>
    </div>
</div>
