﻿<div id="latest-result-overview-dataview">
    <div class="syndication-width-limited-container">
        <div id="latest-result-list-area">
            <ul id="result-list" class="flat-ul"></ul>
        </div>
    </div>
    <div class="white-box">
        <div class="loadingspinner">
            <img src="/Images/nine-squares-32x32.gif" />
        </div>
    </div>
</div>
