﻿<div class="block contact [[Model.CssClass]]" ng-controller="ContactUsController as vm" ng-cloak>
    <div class="block-wrapper">
        <form id="contactUsForm[[Model.ContentKey]]" action="[% urlFor '/ContactUs/Submit?EmailTo='%][[Model.EmailToValue]]" method="post">
            <div ng-if="vm.submitted" class="msg success">[[Model.SuccessMessage]]</div>
            <div ng-show="!vm.submitted">
                <div class="row fields">
                    <div class="column xlarge-8">
                        <div class="row">
                            <div class="column medium-6">
                                <div class="field">
                                    <label for="firstName[[Model.ContentKey]]">[% translate 'First Name' %]<span class="note">[% translate 'Store_Form_Optional' %]</span></label>
                                    <input type="text" name="FirstName" id="firstName[[Model.ContentKey]]"/>
                                </div>
                            </div>
                            <div class="column medium-6">
                                <div class="field">
                                    <label for="lastName[[Model.ContentKey]]">[% translate 'Last Name' %]<span class="note">[% translate 'Store_Form_Optional' %]</span></label>
                                    <input type="text" name="LastName" id="lastName[[Model.ContentKey]]"/>
                                </div>
                            </div>
                            <div class="column medium-6">
                                <div class="field">
                                    <label for="emailAddress[[Model.ContentKey]]">[% translate 'Email Address' %]</label>
                                    <input type="text" name="EmailAddress" id="emailAddress[[Model.ContentKey]]"
                                        data-val="true"
                                        data-val-required="[[Model.EmailIsRequiredErrorMessage]]"
                                        data-val-regex-pattern="[[Model.EmailAddressRegexPattern]]"
                                        data-val-regex="[[Model.EmailIsInvalidErrorMessage]]"/>
                                    <div class="field-error" data-valmsg-replace="true" data-valmsg-for="EmailAddress"></div>
                                </div>
                            </div>
                            <div class="column medium-6">
                                <div class="field">
                                    <label for="topic[[Model.ContentKey]]">[% translate 'Topic' %]</label>
                                    <select id="topic[[Model.ContentKey]]" name="Topic" data-val="true" data-val-required="[[Model.TopicIsRequiredErrorMessage]]">
                                        <option value="">[% translate 'Select Topic' %]</option>
                                        [% for topic in Model.Topics -%]
                                            <option>[[topic]]</option>
                                        [% endfor -%]
                                    </select>
                                    <div class="field-error" data-valmsg-replace="true" data-valmsg-for="Topic"></div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label for="message[[Model.ContentKey]]">[% translate 'Message' %]</label>
                                    <textarea id="message[[Model.ContentKey]]" name="Message" data-val="true" data-val-required="[[Model.MessageIsRequiredErrorMessage]]"></textarea>
                                    <div class="field-error" data-valmsg-replace="true" data-valmsg-for="Message"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-group spaced">
                    <button type="submit" ng-click="vm.submit($event)" class="button">[% translate 'Send' %]</button>
                </div>
            </div>
        </form>
    </div>
</div>