﻿<div>
    <div class="search-no-results" ng-show="vm.orderHistory.orders.length === 0">
        <h3>[% translate 'No orders found' %].</h3>
    </div>
    <div ng-show="vm.orderHistory.orders.length > 0">
        <div class="table-overflow">
            <table class="table">
                <tbody>
                    <tr>
                        <th class="col-ordernum">[% translate 'Order #' %]</th>
                        <th class="col-date"><span class="sticky-first">[% translate 'Date' %]</span></th>
                        <th class="col-po">[% translate 'PO #' %]</th>
                        <th class="col-status">[% translate 'Store_Order_Status' %]</th>
                        <th class="col-shipto">[% translate 'Ship To' %]</th>
                        <th class="col-tot">[% translate 'Total' %]</th>
                    </tr>
                    <tr ng-repeat="order in vm.orderHistory.orders">
                        <td class="col-ordernum"><a ng-href="[% urlForPage 'OrderDetailPage' %]?ordernumber={{order.erpOrderNumber}}" ng-click="">{{order.erpOrderNumber}}</a></td>
                        <td class="col-date">
                            <span class="sticky-first">{{ order.orderDate | date:'shortDate' }}</span>
                        </td>
                        <td class="col-po" ng-bind="order.customerPO" ng-click="copyToSearch(order.customerPO)"></td>
                        <td class="col-status" ng-bind="order.statusDisplay"></td>
                        <td class="col-shipto">{{order.customerSequence}}, {{order.stCompanyName}}</td>
                        <td class="col-tot" ng-bind="order.orderTotalDisplay"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>