<div class="block" ng-controller="ChangeAccountPasswordController as vm" ng-cloak success-url="[% urlForPage 'MyAccountPage' %]">
    <div class="block-wrapper">
        <form novalidate id="changePasswordForm" name="changePasswordForm" ng-submit="vm.changePassword()">
            <div class="msg error" ng-if="vm.changePasswordError" ng-bind="vm.changePasswordError"></div>
            <div class="row text-spacing-xlarge">
                <div class="column xlarge-6 xlarge-push-6 editable">
                    <p class="list-title"><strong>[% translate 'Password requirements' %]:</strong></p>
                    <ul>
                        <li>{{'[% translate 'Password must be at least {0} characters long' %]'.replace('{0}', vm.settings.passwordMinimumLength)}}</li>
                        <li ng-if="vm.settings.minRequiredDigits">[% translate 'Password must include at least one number' %]</li>
                        <li ng-if="vm.settings.minRequiredNonAlphanumericCharacters">[% translate 'Password must include at least one non alphanumeric character' %]</li>
                        <li ng-if="vm.settings.minRequiredUppercase">[% translate 'Password must include at least one uppercase character' %]</li>
                        <li ng-if="vm.settings.minRequiredLowercase">[% translate 'Password must include at least one lowercase character' %]</li>
                    </ul>
                </div>
                <div class="column xlarge-6 xlarge-pull-6">
                    <div class="fields">
                        <div class="row">
                            <div class="column medium-8 large-6 xlarge-12">
                                <div class="field">
                                    <label for="existingPassword">[% translate 'Current Password' %]</label>
                                    <input type="password" id="existingPassword" name="existingPassword" ng-model="vm.password" required placeholder="[% translate 'Enter current password' %]" />
                                    <div class="field-error" ng-show="changePasswordForm.$submitted && changePasswordForm.existingPassword.$error.required">{{'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'Password' EscapeSingleQuotes %]')}}</div>
                                </div>
                                <div class="field">
                                    <label for="newPassword">[% translate 'New Password' %]</label>
                                    <input type="password" id="newPassword" name="newPassword" ng-model="vm.newPassword" required minlength="{{vm.settings.passwordMinimumLength}}" placeholder="[% translate 'Enter new password' %]" />
                                    <div class="field-error" ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.required">{{'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'Password' EscapeSingleQuotes %]')}}</div>
                                    <div class="field-error" ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.minlength">{{'[% siteMessage 'ChangePasswordInfo_Password_Too_Short' EscapeSingleQuotes %]'.replace('{0}', vm.settings.passwordMinimumLength)}}</div>
                                </div>
                                <div class="field">
                                    <label for="confirmPassword">[% translate 'Confirm New Password' %]</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.confirmPassword" required isc-compare-to="vm.newPassword" placeholder="[% translate 'Confirm new password' %]" />
                                    <div class="field-error" ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.required">{{'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'Password' EscapeSingleQuotes %]')}}</div>
                                    <div class="field-error" ng-show="changePasswordForm.$submitted && changePasswordForm.confirmPassword.$error.compareTo">[% siteMessage 'CreateNewAccountInfo_PasswordCombination_DoesNotMatch' %]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group spaced">
                <button type="submit" class="button">[% translate 'Change password' %]</button>
                <a href="[% urlForPage 'MyAccountPage' %]" class="button other">[% translate 'Cancel' %]</a>
            </div>
        </form>
    </div> 
</div>