<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-picture-o icon-header"></i>Image Configurations</h2>
                <div class="box-actions">
                    <!--<button class="btn" type="button" id="newImageConfiguration"><i class="fa fa-plus"></i> Create Configuration</button>-->
                    <span title="Create Configuration" class="row-icon-button query-action-button" id="newImageConfiguration">
                        <i class="fa fa-plus"></i>
                        <span class="workarea-tool-text">Create Configuration</span>
                    </span>
                </div>
            </div>
            <div class="box-content">
                <!--<div id="view-header"></div>-->
                <div id="image-configurations-list"></div>
            </div>
        </div>
    </div></div>