﻿<div class="block group collapse" ng-controller="OrderUploadController as vm" ng-cloak>
    <div class="block-wrapper">
        <div class="block">
            <div class="block-wrapper">
                <div class="msg alert" ng-if="vm.uploadCancelled">[% translate 'Store_OrderUpload_Cancelled' %]</div>
                <div class="msg error" ng-if="vm.uploadLimitExceeded">[% translate 'Store_OrderUpload_RowsLimitExceeded' %]</div>

                <div class="fields">
                    <div class="field has-action">
                        <label for="hiddenFileUpload">[% translate 'Store_OrderUpload_Label' %] <span class="note">[% translate 'Store_OrderUpload_Extensions' %]</span></label>
                        <div class="field-wrapper">
                            <input id="hiddenFileUpload" type="file" onchange="angular.element(this).data('_scope').vm.setFile(this)">
                            <label for="hiddenFileUpload" class="text-field field-large-width" ng-bind="!vm.fileName ? '[% translate 'No file selected.' %]' : vm.fileName" ng-class="{'error':vm.badFile, 'placeholder':!vm.fileName}"></label>
                            <span class="field-action browse"></span>
                        </div>
                        <div class="field-error" ng-if="vm.badFile">[% translate 'Store_OrderUpload_InvalidFile' %]</div>
                    </div>
                </div>
                <div class="button-group spaced">
                    <button type="button" class="button" ng-click="vm.uploadFile()" ng-disabled="!vm.file || vm.badFile" ng-class="{'disabled':(!vm.file || vm.badFile)}">[% translate 'Upload Order' %]</button>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-wrapper editable">
                <div class="block-title alt">
                    <h3 class="title">[% translate 'Instructions' %]</h3>
                </div>
                <ol>
                    <li>
                        [% siteMessage 'OrderUpload_Instructions_Line1_Part1' %] <a target="_blank" href="/Excel/OrderUploadTemplate.xlsx" download="OrderUploadTemplate.xlsx">[% translate 'Order Upload Template' %]</a>[% siteMessage 'OrderUpload_Instructions_Line1_Part2' %]
                        <ul>
                            <li>[% siteMessage 'OrderUpload_Instructions_Line2' %]</li>
                            <li>[% siteMessage 'OrderUpload_Instructions_Line3' %]</li>
                            {% comment %}<li>[% siteMessage 'OrderUpload_Instructions_Line4' %]</li>{% endcomment %}
                        </ul>
                    </li>
                    {% comment %}<li>[% siteMessage 'OrderUpload_Instructions_Line5' %]</li>{% endcomment %}
                    <li>[% siteMessage 'OrderUpload_Instructions_Line6' %]</li>
                    <li>[% siteMessage 'OrderUpload_Instructions_Line7' %]</li>
                    <li><strong><em>[% siteMessage 'OrderUpload_Instructions_Line8' %]</em></strong></li>
                </ol>
            </div>
        </div>
    </div>
    
    <div id="orderUploadingIssuesPopup" class="reveal modal" data-close-on-click="false" data-close-on-esc="false">
        <div class="modal-wrapper">
            <h4 class="modal-title">[% translate 'Store_OrderUpload_Title' %]</h4>
            <div class="modal-content row">
                <div class="msg error" ng-if="vm.products && vm.products.length > 0">[% translate 'Store_OrderUpload_ItemsError' %]</div>
                <div class="msg error" ng-if="!vm.products || vm.products.length === 0">[% translate 'Store_OrderUpload_AllItemsError' %]</div>
                <div class="table-overflow">
                    <table class="table full">
                        <thead>
                            <tr>
                                <th>[% translate 'Row #' %]</th>
                                <th>[% translate 'Item #' %]</th>
                                <th>[% translate 'QTY' %]</th>
                                {% comment %}<th>[% translate 'U/M' %]</th>{% endcomment %}
                                <th>[% translate 'Reason' %]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="errorProduct in vm.errorProducts">
                                <td ng-bind="errorProduct.index"></td>
                                <td ng-bind="errorProduct.name"></td>
                                <td ng-bind="errorProduct.qtyRequested"></td>
                                {% comment %}<td ng-bind="errorProduct.umRequested"></td>{% endcomment %}
                                <td>
                                    <span ng-if="errorProduct.error === 'NotEnough'">[% siteMessage 'QuickOrder_NotEnoughQuantity' %]</span>
                                    <span ng-if="errorProduct.error === 'ConfigurableProduct'">[% siteMessage 'QuickOrder_CannotOrderConfigurable' %]</span>
                                    <span ng-if="errorProduct.error === 'StyledProduct'">[% siteMessage 'QuickOrder_CannotOrderStyled' %]</span>
                                    <span ng-if="errorProduct.error === 'Unavailable'">[% siteMessage 'QuickOrder_ProductIsUnavailable' %]</span>
                                    <span ng-if="errorProduct.error === 'InvalidUnit'">[% translate 'Invalid U/M' %]</span>
                                    <span ng-if="errorProduct.error === 'NotFound'">[% siteMessage 'Product_NotFound' %]</span>
                                    <span ng-if="errorProduct.error === 'OutOfStock'">[% translate 'Out of stock' %]</span>
                                    <span ng-if="errorProduct.error === 'Superseded'">[% translate 'Store_OrderUpload_SupersededBy' %] <a href="{{errorProduct.supersededBy[0].Url}}" target="_blank">{{errorProduct.supersededBy[0].ErpNumber}}</a></span>
                                    <span ng-if="errorProduct.error === 'Obsolete'">[% translate 'Store_OrderUpload_Obsolete' %]</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="msg outline" ng-if="vm.products && vm.products.length == 1">{{vm.products.length}} [% translate 'Store_OrderUpload_ErrorContent' %]</p>
                <p class="msg outline" ng-if="vm.products && vm.products.length > 1">{{vm.products.length}} [% translate 'Store_OrderUpload_ErrorContent_Multiple' %]</p>
                <div class="button-group">
                    <button type="button" class="button" ng-if="vm.products && vm.products.length > 0" ng-click="vm.continueToCart('#orderUploadingIssuesPopup')">[% translate 'Store_OrderUpload_AddToCart' %]</button>
                    <button type="button" class="button other" ng-click="vm.closeIssuesPopup()">[% translate 'Cancel' %]</button>
                </div>
            </div>
            <button type="button" class="modal-close" ng-click="vm.closeIssuesPopup()"></button>
        </div>
    </div>
   
    <div id="orderUploadSuccessPopup" class="reveal modal">
        <div class="modal-wrapper">
            <h4 class="modal-title">[% translate 'Store_OrderUpload_Title' %]</h4>
            <div class="modal-content">
                <div class="msg success">{{vm.uploadedItemsCount}} [% translate 'Store_OrderUpload_ItemsSuccess' %]</div>
                <div class="button-group">
                    <a class="button" href="[% urlForPage 'CartPage' %]" data-close>[% translate 'Store_OrderUpload_SeeCart' %]</a>
                </div>
            </div>
            <button type="button" class="modal-close" data-close></button>
        </div>
    </div>

    <div id="orderUploadingPopup" class="reveal modal" data-close-on-click="false" data-close-on-esc="false">
        <div class="modal-wrapper">
            <h4 class="modal-title">[% translate 'Store_OrderUpload_Title' %]</h4>
            <div class="modal-content">
                <div class="msg" ng-if="!vm.allowCancel">[% translate 'Store_OrderUpload_AddingItems' %]</div>
                <div ng-if="vm.allowCancel">
                    <div class="msg" ng-class="{'alert': vm.uploadCancelled}">{{(!vm.uploadCancelled) ? '[% translate 'Store_OrderUpload_Processing' %]' : '[% translate 'Store_OrderUpload_Cancelling' %]'}}</div>
                    <div class="button-group">
                        <button type="button" class="button other" ng-click="vm.cancelUpload()" ng-show="vm.allowCancel" ng-enable="!vm.uploadCancelled">[% translate 'Cancel Upload' %]</button>
                    </div>
                </div>
            </div>
            <button type="button" class="modal-close" ng-click="vm.cancelUpload()" ng-show="vm.allowCancel" ng-enable="!vm.uploadCancelled"></button>
        </div>
    </div>
</div>