﻿<h2>Settings</h2>
<div>
    <div class="import-settings-row">
        <div class="import-label">Mapping Name: *</div>
        <div class="import-control" id ="save-mapping-name">
            <input type="text" id="config-mapping-name" value="<%=data.name%>" /><span data-error="" id="config-mapping-name-error" style="display:none">Mapping Name is mandatory</span>
        </div>
        <div class="clear"></div>
    </div>
     <div class="import-settings-row">
        <div class="import-label">Type: </div>
        <div class="import-control">
            <select id="selectEntityType">
                <% for(var i=0; i< data.EntityTypes.length; i++){ %>
                <% if(data.EntityTypes[i].Id == data.EntityTypeId){ %>
                <option value="<%= data.EntityTypes[i].Id %>" selected="selected"><%= data.EntityTypes[i].DisplayName %></option>
                <% } else{ %>
                <option value="<%= data.EntityTypes[i].Id %>"><%= data.EntityTypes[i].DisplayName %></option>
                <%   } %>
                <%}%>
            </select>
        </div>
        <div class="clear"></div>
    </div>
   <!-- <div class="import-settings-row">
        <div class="import-label">Show empty columns:</div>
        <div class="import-control">
            <% if(data.ShowEmptyColumns){%>
            <input id="showEmptyColumns" type="checkbox" checked="checked" />
            <% } else {%>
            <input id="showEmptyColumns" type="checkbox" />
            <% }%>
        </div>
        <div class="clear"></div>
    </div>
    <div class="import-settings-row">
        <div class="import-label">Clear empty values:</div>
        <div class="import-control">
            <% if(data.ClearEmptyValues){%>
            <input id="clearEmptyValue" type="checkbox" checked="checked" />
            <% } else {%>
            <input id="clearEmptyValue" type="checkbox" />
            <% }%>
        </div>
        <div class="clear"></div>
    </div>-->
</div>
<h2>Mapping</h2>
<div>
    <% for(var i=0; i< data.Columns.length; i++){ %>

    <% if(data.Columns[i].IsEmpty && !data.ShowEmptyColumns ){ continue;} %>

    <% if(data.Columns[i].IsSystemColumn){continue;} %>

    <div>
        <div class="import-mapping-column-left"><%= data.Columns[i].ColumnName %></div>
        <div class="import-mapping-column-right" id="<%= data.Columns[i].Id %>">
            <select class="import-mapping-fields">
                <option value=""></option>
                <% for(var j=0; j< data.FieldTypes.length; j++){ %>
                <% if(data.FieldTypes[j].id == data.Columns[i].FieldTypeId){ %>
                <option value="<%= data.FieldTypes[j].id %>" selected="selected"><%= data.FieldTypes[j].displayname %></option>
                <% } else{ %>
                <option value="<%= data.FieldTypes[j].id %>"><%= data.FieldTypes[j].displayname %></option>
                <%   } %>
                <%}%>
            </select>
            <% if(data.Columns[i].Localized){%>
            <select class="import-mapping-language">
                <% for(var j=0; j< data.Languages.length; j++){ %>
                <% if(data.Languages[j].Name == data.Columns[i].LanguageCode){ %>
                <option value="<%= data.Languages[j].Name %>" selected="selected"><%= data.Languages[j].DisplayName %></option>
                <% } else{ %>
                <option value="<%= data.Languages[j].Name %>"><%= data.Languages[j].DisplayName %></option>
                <%   } %>
                <%}%>
            </select>
            <% }%>
        </div>
        <div class="clear"></div>
    </div>
    <%}%>
</div>