﻿<div id="main-client-area">
    <div class="wizard-container">
        <div id="import-data-wizard">
            <h1>Select File</h1>
            <div>
                <div id="import-drop-zone">
                    <form action="/api/import" class="dropzone-button" id="import-dropzone">
                        <div class="dz-text dz-message">
                            <i class="icon-entypo-fix-attach extra-large-entypo-fix-icon box-title-icon"></i><p />
                            Select file to upload
                        </div>
                    </form>
                    <span>Select files to upload by dropping directly in the drop area or by clicking the drop area and browse the file. Allowed formats are <b>.xls</b>,<b>.xlsx</b>, and <b>.csv</b></span>
                </div>
            </div>
            <h1>Configuration</h1>
            <div>
                <div id="import-configuration">
                </div>
            </div>
        </div>
    </div>
</div>