﻿<div class="content">
    <div class="entity-view-details-row"> <div class="entity-view-details-row-key ">Mapping Name</div><div class="value-wrapper"><input type="text" id="name" value="<%= model.name %>" class="" /></div></div>
    <div class="entity-view-details-row"> <div class="entity-view-details-row-key ">Entity Type</div><div class="value-wrapper"><%= model.entityType %></div></div>
    <div class="mapping-detail-list">
        <div class="mapping-file-column title">File Column Name</div>
        <div class="mapping-fieldtype-column title">Field Type</div>
        <div class="mapping-language-column title">Language Code</div>
        <% _.each(model.columns, function(column){ %>
            <% if (column.fieldTypeId != null && column.fieldTypeId!= ""){ %>
            <div class="mapping-row">
                <div class="mapping-file-column"><%=column.columnName %></div>
                <div class="mapping-fieldtype-column"><%=column.fieldTypeId %></div>
                <% if (column.languageCode != null && column.languageCode != "") { %>
                <div class="mapping-language-column"><%=column.languageCode %></div>
                <%} %>
            </div>
            <%} %>
        <%}) %>
    </div>
</div>