﻿<div>
    <div class="box-title">
        <span class="icon-entypo-fix-shuffle std-entypo-fix-icon box-title-icon"></span>Mappings
    </div>
    <div id="xconnect-mapping-list-wrap" class="box-content">
        <ul class="flat-ul"></ul>
    </div>
    <button id="list-of-mapping-add">Add Mapping</button>
</div>