﻿<li>
    <div class="connector-event-wrap" id="event-<%= data.EventTime %>">
        <% if (data.IsError) { %>
        <div class="connector-event-text-area-alert">
            <div class="connector-event-icon"><span title="Error event (<%= data.Percentage %>%)" class="icon-entypo-fix-flag std-entypo-fix-icon red-icon-button" id="error-event-button"></span></div>
            <div class="connector-event-time" title="The time of the event"><%= eventTime %></div>
            <div class="connector-event-connector" title="The id of the Connector"><%= data.ConnectorId %></div>
            <div class="connector-event-message"><%= data.Message %></div>
        </div>
        <% } else{ %>
        <div class="connector-event-text-area-normal">
            <div class="connector-event-icon"><span title="Normal event (<%= data.Percentage %>%)" class="icon-entypo-fix-flag std-entypo-fix-icon control-row-icon-button" id="normal-event-button"></span></div>
            <div class="connector-event-time" title="The time of the event"><%= eventTime %></div>
            <div class="connector-event-connector" title="The id of the Connector"><%= data.ConnectorId %></div>
            <div class="connector-event-message"><%= data.Message %></div>
        </div>
        <% } %>
    </div>
</li>
