<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-key icon-header"></i>Permissions</h2>
                <div class="box-actions">
                    <span title="Create Permission" class="row-icon-button query-action-button" id="newPermission">
                        <i class="fa fa-plus"></i>
                        <span class="workarea-tool-text">Create Permission</span>
                    </span>
                </div>

            </div>
            <div class="box-content">
                <!--<div id="view-header"></div>-->
                <div id="permissions-list"></div>
            </div>
        </div>
    </div></div>