﻿<div class="block breadcrumbs [[Model.CssClass]]">
    <div class="block-wrapper">
        <ul>
            {% for parent in Model.Drop.Parents %}
                <li{% if forloop.last == false %} class="show-for-large"{% endif %}>
                    <a href="[[parent.Url]]">[[parent.Title]]</a>
                </li>
            {% endfor %}
            <li class="show-for-large current">[[CurrentPage.Title]]</li>
        </ul>
    </div>
</div>