﻿<div id="xconnect-user-list-wrap" class="box-content">
    <ul class="flat-ul"></ul>
</div>
<!--<button id="list-of-users-add">+ Create User</button>-->
<span id="list-of-users-add" class="row-icon-button query-action-button" title="">
    <i class="fa fa-plus"></i>
    <span class="workarea-tool-text">Create User</span>
</span>
