﻿<div>
    <div class="list-item-wrap">
        <input id="is-assigned" type="checkbox"/>
        <span id="list-item-link-edit" class="xconnect-list-item-label"><%= data.email %></span>
        <span id="list-item-edit" title="Edit User" data-link-id="" class="icon-entypo-fix-pencil std-entypo-fix-icon xconnect-user-list-item-icon-button"></span>
        <span id="list-item-info-edit" class="xconnect-list-item-info"><%= data.loginTime %></span>
    </div>
</div>