//-------------------------------------
//-- Pick a date (Inherits reveal modal styles)
//-------------------------------------

.picker {
	.picker-holder { position: fixed; } // fix body scrolling

	.reveal-overlay {
		opacity: 0;
		max-height: 0;
		transition: opacity $reveal-transition $animation-easing, max-height 0ms linear $reveal-transition;
	}

	&.open .reveal-overlay {
		opacity: 1;
		max-height: 100%;
		transition: opacity $reveal-transition $animation-easing;
	}

	.modal .modal-wrapper {
		max-width: 310px;
		padding: 20px;
	}

	.picker-header {
		padding-right: 20px;
		margin-bottom: 12px;

		select {
			display: inline-block;
			width: auto;
			max-width: 50%;

			+ select {
				margin-left: 10px;
			}
		}
	}

	.picker-table {
		width: 100%;
		font-size: 13px;
		line-height: 1;
		table-layout: fixed;

		th, td {
			text-align: center;
		}

		td {
			padding: 0 1px;

			&:first-child { padding-left: 0; }
			&:last-child { padding-right: 0; }

			> div {
				padding: 10px 5px;
				border-bottom: 1px solid $border-color;
				transition: border-color $hover-transition $hover-easing, color $hover-transition $hover-easing, background-color $hover-transition $hover-easing;
				cursor: pointer;

				&.outfocus {
					opacity: .7;
					color: $text-light-color;
				}

				&.today {
					border-color: $alt-color;
					color: $alt-color;
				}

				&.disabled {
					opacity: .2;
					cursor: default;
				}

				&.selected {
					border-color: $main-color;
					background-color: $main-color;
					color: $invert-color;
				}

				#{$hover-selector} {
					&:not(.selected):not(.disabled) {
						border-color: $main-color;
						color: $main-color;
					}
				}
			}
		}

		th {
			padding: 4px 5px 10px;
			border-bottom: 1px solid $border-dark-color;
			font-weight: $bold-weight;
		}
	}

	.picker-footer {
		overflow: hidden;
		margin-top: 16px;

		.button {
			width: 48%;
			min-width: 0;
			margin-bottom: 0;
			&.picker-today { float: left; }
			&.picker-clear { float: right; }
		}
	}

	//-- Queries

	@media #{bp(xlarge)} {
		.modal .modal-wrapper { padding: 30px; }
	}
}
