﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Order Confirmation</title>
    <style>
        /* Reset all elements to help ensure cross-browser consistency */
        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        fieldset, img {
            border: 0;
        }

        address, caption, cite, code, dfn, em, strong, th, var {
            font-style: normal;
            font-weight: normal;
        }

        ol, ul {
            list-style: none;
        }

        caption, th {
            text-align: left;
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: 100%;
            font-weight: normal;
        }

        q:before, q:after {
            content: '';
        }

        abbr, acronym {
            border: 0;
        }

        body {
            font: 12px Arial, Helvetica, sans-serif;
        }

        a:link, a:visited, a:active {
            color: #666;
            text-decoration: none;
        }

        a:hover, a:focus {
            color: #000;
        }

        h1 {
            font-size: 18px;
            padding: 12px 0;
        }

        h2 {
            font-size: 14px;
            padding: 8px 0;
            font-weight: bold;
        }

        h4 {
            font-weight: bold;
            padding: 8px 0;
        }

        .email-wrapper {
            width: 95%;
            margin: 20px auto 0 auto;
        }

        .order-info {
            margin-top: 20px;
        }

            .order-info table td {
                padding: 2px 4px;
            }

        .bill-ship {
            float: left;
            width: 25%;
        }

        .ship {
            margin-left: 20px;
        }

        .ship-via {
            font-weight: bold;
        }

        .items {
            margin-top: 20px;
        }

        .subtotal {
            *display: inline;
            float: right;
            clear: right;
            width: 30%;
            margin-top: 10px;
        }

            .subtotal table {
                width: 100%;
            }

                .subtotal table td {
                    padding: 2px 4px;
                    white-space: nowrap;
                }

        .rp-totals-lft {
            width: 120px;
            text-align: left;
        }

        .address-tbl th {
            vertical-align: middle;
        }

        .order-subtotal {
            font-size: 12px;
            font-weight: bold;
        }

        .order-total {
            font-size: 16px;
            font-weight: bold;
        }

        .billing-info {
            margin-top: 15px;
            border-top: 5px solid #e5e5e5;
            padding-top: 10px;
        }

        .summury-label {
            color: grey;
            font-weight: bold;
            white-space: nowrap;
        }

        .summury-value {
            font-weight: bold;
            white-space: nowrap;
            text-align: right;
        }

        .info-tbl {
            width: 80%;
        }

            .info-tbl td {
                padding: 6px 2px;
                white-space: nowrap;
            }

            .info-tbl th {
                padding: 3px 2px;
                white-space: nowrap;
            }

            .info-tbl th {
                font-weight: bold;
                border-bottom: 1px solid #000;
            }

            .info-tbl .item {
                width: 15%;
                text-align: left;
            }

            .info-tbl .description {
                width: 45%;
                text-align: left;
            }

            .info-tbl .qty {
                text-align: left;
                width: 10%;
            }

            .info-tbl .cost {
                width: 15%;
                text-align: right;
            }

            .info-tbl .extended {
                width: 15%;
                text-align: right;
            }

        .order-notes {
            clear: both;
            margin-top: 20px;
            padding-bottom: 20px;
            width: 45%;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="order-info">
            <table border="0" cellspacing="0">
                <tr>
                    <td class="order-conf-label"><h4>Order Confirmation</h4></td>
                    <td class="order-conf-number">[[Model.OrderNumber]]</td>
                </tr>
                [% if Model.StatusDisplay != null and Model.StatusDisplay != "" -%]
                <tr>
                    <td class="order-status-label"><h4>Status</h4></td>
                    <td class="order-status">[[Model.StatusDisplay]]</td>
                </tr>
                [% endif -%]
                [% if Model.CustomerPO != null and Model.CustomerPO != "" -%]
                <tr>
                    <td class="po-label"><h4>PO Number</h4></td>
                    <td class="po-number">[[Model.CustomerPO]]</td>
                </tr>
                [% endif -%]
                <tr>
                    <td class="order-date-label"><h4>Order Date</h4></td>
                    <td class="order-date">[[Model.OrderDate]]</td>
                </tr>
            </table>
        </div>
        <div class="body-copy">
            <div class="items">
                <h4>Order Items</h4>
                <table border="0" cellpadding="0" cellspacing="5" width="500" id="orderSummary" class="info-tbl">
                    <tr>
                        <th class="left"><b>Name</b></th>
                        <th class="left"><b>Description</b></th>
                        <th class="center"><b>Qty</b></th>
                        <th class="right"><b>Unit Cost</b></th>
                        <th class="right"><b>Extended Cost</b></th>
                    </tr>
                    [% for orderLine in Model.OrderLines -%]
                    <tr>
                        <td class="left">[[orderLine.ProductName]]<br /></td>
                        <td class="left">[[orderLine.Description]]</td>
                        <td class="center">[[orderLine.QtyOrdered]]</td>
                        <td class="right">[[orderLine.UnitNetPriceDisplay]]</td>
                        <td class="right">[[orderLine.ExtendedUnitNetPriceDisplay]]</td>
                    </tr>
                    [% endfor -%]
                </table>
            </div>
            <div class="billing-info">
                <div class="bill-ship bill">
                    <table cellspacing="0">
                        <tr>
                            <th><h4>Billing Information</h4></th>
                        </tr>
                        <tr>
                            <td>[[Model.BTDisplayName]]</td>
                        </tr>
                        <tr>
                            <td>
                                [% if Model.BTAddress1 != null and Model.BTAddress1 != "" -%]
                                [[Model.BTAddress1]] <br />
                                [% endif -%]
                                [% if Model.BTAddress2 != null and Model.BTAddress2 != "" -%]
                                [[Model.BTAddress2]] <br />
                                [% endif -%]
                                [% if Model.BTAddress3 != null and Model.BTAddress3 != "" -%]
                                [[Model.BTAddress3]] <br />
                                [% endif -%]
                                [[Model.BTCity]], [[Model.BTState]] [[Model.BTPostalCode]]
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="bill-ship ship">
                    <table cellspacing="0">
                        <tr>
                            <th><h4>Shipping Information</h4></th>
                        </tr>
                        <tr>
                            <td>[[Model.STDisplayName]]</td>
                        </tr>
                        <tr>
                            <td>
                                [% if Model.STAddress1 != null and Model.STAddress1 != "" -%]
                                [[Model.STAddress1]] <br />
                                [% endif -%]
                                [% if Model.STAddress2 != null and Model.STAddress2 != "" -%]
                                [[Model.STAddress2]] <br />
                                [% endif -%]
                                [% if Model.STAddress3 != null and Model.STAddress3 != "" -%]
                                [[Model.STAddress3]] <br />
                                [% endif -%]
                                [[Model.STCity]], [[Model.STState]] [[Model.STPostalCode]]
                            </td>
                        </tr>
                        <tr>
                            <td class="ship-via">Order Shipping Via: [[Model.ShipMethod]]</td>
                        </tr>
                        [% if Model.RequestedDeliveryDate != null -%]
                        <tr>
                            <td class="requested-delivery-date">Requested Delivery Date: [[Model.RequestedDeliveryDate]]</td>
                        </tr>
                        [% endif -%]
                    </table>
                </div>
                <div class="subtotal">
                    <table border="0" cellpadding="0" cellspacing="5" style="margin-left:12px">
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="summury-label">Order Sub Total&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: grey;">[[Model.OrderSubTotalDisplay]]</td>
                        </tr>
                        [% if Model.PromotionProductDiscountTotal > 0 -%]
                        <tr>
                            <td class="summury-label">Product Discounts Applied&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: #A5222B;">[[Model.PromotionProductDiscountTotalDisplay]]</td>
                        </tr>
                        [% endif -%]
                        [% if Model.PromotionOrderDiscountTotal > 0 -%]
                        <tr>
                            <td class="summury-label">Order Discounts Applied&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: #A5222B;">[[Model.PromotionOrderDiscountTotalDisplay]]</td>
                        </tr>
                        [% endif -%]
                        <tr>
                            <td class="summury-label">Shipping Amount&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: grey;">[[Model.FullShippingChargeDisplay]]</td>
                        </tr>
                        [% if Model.Handling > 0 -%]
                        <tr>
                            <td class="summury-label">Handling Amount&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: grey;">[[Model.HandlingDisplay]]</td>
                        </tr>
                        [% endif -%]
                        [% if Model.PromotionShippingDiscountTotal > 0 -%]
                        <tr>
                            <td class="summury-label">Shipping Discounts Applied&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: #A5222B;">[[Model.PromotionShippingDiscountTotalDisplay]]</td>
                        </tr>
                        [% endif -%]
                        [% if Model.CustomerOrderTaxes.size > 0 -%]
                        [% for customerOrderTax in Model.CustomerOrderTaxes -%]
                        <tr>
                            [% if customerOrderTax.TaxDescription != null and customerOrderTax.TaxDescription != "" -%]
                            <td class="summury-label">[[customerOrderTax.TaxDescription]]&nbsp;</td>
                            [% else -%]
                            <td class="summury-label">Sales Tax&nbsp;</td>
                            [% endif -%]
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: grey;">[[customerOrderTax.TaxAmountDisplay]]</td>
                        </tr>
                        [% endfor -%]
                        [% else -%]
                        <tr>
                            <td class="summury-label">Sales Tax&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: grey;">[[Model.TotalTaxDisplay]]</td>
                        </tr>
                        [% endif -%]
                        [% if Model.CreditCardWillBeCharged -%]
                        <tr>
                            <td class="black label" colspan="2">
                                <span style="font-size: 9px; height: 14px; white-space: nowrap;">THIS AMOUNT WILL BE CHARGED TO YOUR CREDIT CARD</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        [% endif -%]
                        <tr>
                            <td class="summury-label">Order Total&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: grey;">[[Model.OrderGrandTotalDisplay]]</td>
                        </tr>
                        [% if Model.GiftCardTotal > 0 -%]
                        <tr>
                            <td class="summury-label">Less Gift Certificates&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: #A5222B;">[[Model.GiftCardTotalDisplay]]</td>
                        </tr>
                        [% endif -%]
                        <tr>
                            <td class="summury-label">Total Due&nbsp;</td>
                            <td width="50%">&nbsp;</td>
                            <td class="summury-value" style="color: grey;">[[Model.OrderTotalDueDisplay]]</td>
                        </tr>
                    </table>
                </div>
                <div class="order-notes">
                    <p>
                        [% if Model.Notes != null and Model.Notes != "" -%]
                        <h4>Order Notes</h4>
                        <div style="white-space: pre-line">
                            [[Model.Notes]]
                        </div>
                        [% endif -%]
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>