<div class="container" style="border:1px solid red">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="/Portal"><img id="logo" src="/Images/inriver_logo_white.png" height="25" /></a>
    <!-- start: Header Menu -->
    <div class="nav-no-collapse header-nav">
        <ul class="nav navbar-nav pull-right">
            <!-- start: Notifications Dropdown -->
            @*
            <li class="dropdown hidden-xs">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-warning"></i>
                </a>
                <ul class="dropdown-menu notifications">
                    <li class="dropdown-menu-title">
                        <span>You have 6 notifications</span>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon blue"><i class="fa fa-user"></i></span>
                            <span class="message">New user registration</span>
                            <span class="time">1 min</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon green"><i class="fa fa-comment"></i></span>
                            <span class="message">New product</span>
                            <span class="time">7 min</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon green"><i class="fa fa-comment"></i></span>
                            <span class="message">New product</span>
                            <span class="time">16 min</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon yellow"><i class="fa fa-shopping-cart"></i></span>
                            <span class="message">2 Campaigns created</span>
                            <span class="time">1 hour</span>
                        </a>
                    </li>
                    <li class="warning">
                        <a href="#">
                            <span class="icon red"><i class="fa fa-user"></i></span>
                            <span class="message">User deleted account</span>
                            <span class="time">2 hour</span>
                        </a>
                    </li>
                    <li class="warning">
                        <a href="#">
                            <span class="icon red"><i class="fa fa-shopping-cart"></i></span>
                            <span class="message">1 Campaign deleted</span>
                            <span class="time">6 hour</span>
                        </a>
                    </li>
                    <li class="dropdown-menu-sub-footer">
                        <a>View all notifications</a>
                    </li>
                </ul>
            </li>*@
            <!-- end: Notifications Dropdown -->
            <!-- start: Tasks Dropdown -->
            @*
            <li class="dropdown hidden-xs">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks"></i>
                </a>
                <ul class="dropdown-menu tasks">
                    <li>
                        <span class="dropdown-menu-title">You have 17 tasks in progress</span>
                    </li>
                    <li>
                        <a href="#">
                            <span class="header">
                                <span class="title">iOS Development</span>
                                <span class="percent">80%</span>
                            </span>
                            <div class="taskProgress progressSlim progressBlue ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="header">
                                <span class="title">Android Development</span>
                                <span class="percent">47%</span>
                            </span>
                            <div class="taskProgress progressSlim progressYellow ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="47">47<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 47%;"></div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="header">
                                <span class="title">Django Project For Google</span>
                                <span class="percent">32%</span>
                            </span>
                            <div class="taskProgress progressSlim progressRed ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="32">32<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 32%;"></div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="header">
                                <span class="title">SEO for new sites</span>
                                <span class="percent">63%</span>
                            </span>
                            <div class="taskProgress progressSlim progressGreen ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="63">63<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 63%;"></div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="header">
                                <span class="title">New blog posts</span>
                                <span class="percent">80%</span>
                            </span>
                            <div class="taskProgress progressSlim progressPink ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div></div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-menu-sub-footer">View all tasks</a>
                    </li>
                </ul>
            </li>*@
            <!-- end: Tasks Dropdown -->
            <!-- start: Apps Dropdown -->
            <li class="dropdown hidden-xs">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-th"></i>
                </a>
                <ul class="dropdown-menu notifications">
                    <li class="dropdown-menu-title">
                        <span>You have 7 apps</span>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon blue"><i class="fa fa-shopping-cart"></i></span>
                            <span class="message">Market planner</span>
                            <span class="time"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon blue"><i class="fa fa-comment"></i></span>
                            <span class="message">Connect</span>
                            <span class="time"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon blue"><i class="fa fa-comment"></i></span>
                            <span class="message">Print</span>
                            <span class="time"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon blue"><i class="fa fa-comment"></i></span>
                            <span class="message">Media Browser</span>
                            <span class="time"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon blue"><i class="fa fa-user"></i></span>
                            <span class="message">Channel Manager</span>
                            <span class="time"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon red"><i class="fa fa-user"></i></span>
                            <span class="message">Search</span>
                            <span class="time"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- end: Apps Dropdown -->
            <!-- start: User Dropdown -->
            <li class="dropdown">
                <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
                    <div class="avatar"><i class="fa fa-user"></i></div>
                    <div class="user">
                        <span class="hello">Welcome!</span>
                        <span class="name">@ViewBag.User</span>
                    </div>
                </a>
                <script language="javascript">
                    function openUserSettings() {
                        $("#edit-panel").slideDown(200, "swing", function () { });
                        console.log("onLoadEditRoleView");


                    }
                </script>
                <ul class="dropdown-menu">
                    <li class="dropdown-menu-title">
                    </li>
                    <li><a href="#" onclick="openUserSettings();"><i class="fa fa-cog"></i> New Settings</a></li>

                    <li>@Html.ActionLink("Logout", "SignOut", "Auth", new { area = "" }, null)</li>
                </ul>
            </li>
            <!-- end: User Dropdown -->
        </ul>
    </div>
    <!-- end: Header Menu -->

</div>