<h2><%= data.header %></h2>
<p><%= data.desc %></p>
<div id="view-header-toolarea">
    <% <!--if(!_.isNull(data)) {--> %>
    <button class="btn btn-primary" type="button" id="<%= data.btnId %>"><%= data.btnTitle %></button>
    <% <!--})-->; %>
</div>