﻿#left-sidebar {
    float: left;
    height: 100%;
}

#field-type-picker {
    position: absolute;
    width: 300px;
    top: 180px;
    bottom: 200px;
    border: 1px solid darkgray;
    overflow: auto;
}

#field-type-info {
    position: absolute;
    width: 300px;
    height: 170px;
    border: 1px solid darkgray;
    bottom: 25px;
    background: #eee;
}

.attribute-info-label {
    float: left;
    width: 50%;
    display: inline;
    clear: left;
    font-size: medium;
}

.attribute-info-value {
    float: left;
    display: inline;
    width: 50%;
}

#main-area {
    position: absolute;
    right: 520px;
    left: 320px;
    top: 180px;
    bottom: 200px;
    overflow: auto;
}

#mapping-table {
    width: 100%;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

td {
    border-top: 1px solid darkgray;
}

#th-output {
    overflow: hidden;
    width: 200px; 
}

.input-label {
    display: inline;
    width: 150px;
    float: left;
}

.input-value-control {
    display: inline;
}

.input-value-field-type {
    display: inline;
    border-style: solid;
    border-color: darkgray;
    background: #eee;
    width: 150px;
    float: left;
    border-radius: 3px;
    padding: 2px;
}

.input-control {
    clear: both;
    display: block;
    padding: 5px;
}

.selected {
    background: #def;
    color: black;
}

#transformation-info {
    position: absolute;
    height: 170px;
    border: 1px solid darkgray;
    bottom: 25px;
    left: 320px;
    right: 520px;
    background: #def;
}

#output-attribute-info {
    position: absolute;
    float: right;
    width: 500px;
    border: 1px solid darkgray;
    bottom: 25px;
    top: 180px;
    right: 15px;
    background: #def;
    overflow: auto;
}

.syndication-configuration-root {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
}

.syndication-configuration-tools-row {
    min-height: 20px    
}

.syndication-configuration-root .category-section-title {
    border-bottom: 0;
}

.syndication-configuration-root .control-row-tab-button {
    color: #2d2d2c;
}

.syndication-configuration-root .backgrid {
    margin-left: 20px;
}

#configuration-color-entitytypeids,
#configuration-color-cvlfieldtypes {
    margin: 6px 0 6px 20px;
   
}

.syndication-width-limited-container {
    margin: 0 auto 0 auto;
}

#latest-result-overview-dataview {
    padding: 5px;
    display: inline-block;
    margin-top: 3px;
    width: 100%;
}

.flat-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.syndication-result-text-area-alert {
    color: #dd0000;
}

.syndication-result-text-area-normal {
    color: #000000;
}

.syndication-result-wrap {
    margin-bottom:;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 5px;
    position: relative;
    float: left;
    width: 95%;
    color: black;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.syndication-result-card-wrap:hover, .syndication-result-wrap:hover {
    -webkit-box-shadow: 0 0 3px #000000;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
    color: black;
}

.syndication-result-time {
    float: right;
    font-size: smaller;
}

.syndication-result-icon {
    float: left;
}

.syndication-result-workarea-name {
    font-weight: bold;
}

.syndication-result-distribution-format {
    margin: 8px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.red-icon-button {
    color: #dd4444;
    font-size: 16px;
    padding: 8px;
    font-weight: normal;
}

.green-icon-button {
    color: #99dd99;
    padding: 8px;
    font-weight: normal;
}

#contextmenu {
    float: right;
    cursor: pointer;
}

#contextmenu i:hover {
    color: #333;
}

/*  --------------------------------------
     Configuration - Receivers view
    --------------------------------------
*/
.receiversView-mouse-hand {
    cursor: pointer;
}

#receiversView-container {
    width: 500px;
}

.createNewReceiverButton {
    /* Position */
    position: relative;
    padding-top: 12px;
    padding-left: 380px;

    /* Size*/
    height: 30px;
    width: 500px;

    /* Mouse */
    cursor: pointer;

    /*background-color: #FF0000;*/
}


#receiversView-listOfReceivers {
    width: 498px;
    height: auto;
    /*border: 1px solid #CCCCCC;*/

    /*max-height: 600px;
    overflow-y: auto;*/
}

.receiversView-receiverItem {
    position: relative;
    height: auto;
    min-height: 70px;
    padding: 4px;
    padding-bottom: 12px;
    margin-bottom: 8px;
    border: solid 1px #CCCCCC;
}

#receiversView-receiverItem-infoContainer {
    /* Position */
    position: relative;
    margin-right: 2px;

    /* Size */
    height: 70px;

    /*background-color: #00FF00;*/
}

.receiversView-Item-caption {
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 20px;
    background-color: #cccccc;
}

.receiversView-receiverItem-header {
    font-weight: bold;
    margin: 2px;
    background-color: #AAAAAA;
}

#receiversView-receiverItem-distributionFormats {
    /* Position */
    position: relative;
    
    /* Size */
    height: auto;
    min-height: 30px;

    visibility: visible;
    /*background-color: #FF0000;*/
}

.receiversView-receiverItem-cell {
   margin-right: 4px;
   float: left; 
}

#receiversView-receiverItem-infoContainer-name {
    /* Position */
    position: absolute;
    
    /* Size */
   height: 20px;
    width: 200px; 
    
    /* Font */

   /*background-color: #FFFF00;*/
}

#receiversView-receiverItem-infoContainer-isActive {
    /* Position */
    position: absolute;
    top: 25px;

    /* Size */
    height: 20px;
    width: 150px; 
}

#receiversView-receiverItem-infoContainer-isValidated {
    /* Position */
    position: absolute;
    top: 45px;

    /* Size */
    height: 20px;
    width: 150px; 
}

.receiversView-distributionFormatItem {
    /* Position */
    position: relative;
    padding: 4px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 2px;
    
    /* Size */
    height: 20px;    

    border: solid 1px #CCCCCC;
}

#receiversView-distributionFormatItem-name {
   height: 20px;
   width: 160px; 
}

.receiversView-distributionFormatItem-header {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
    background-color: #00dddd;
}

/*
    Create Distribution format Modal Popup
*/
.syndication-createEdit-container {
    margin-top: 80px;
    margin-left: 4px;
}

.syndication-createEdit-container-labelRow {
    position: relative;
    margin-bottom: 20px;
}

.syndication-createEdit-container-left {
    position: absolute;
    /*background-color: #FF0000;*/
}

.syndication-createEdit-container-right {
    position: absolute;
    left: 100px;
    /*background-color: #00FF00;*/
}

.syndication-createEdit-container-concatedXsd {
    position: absolute;
    left: 517px;
    width: 600px;
    height: 500px;
    border: 1px solid #AAAAAA;
    background-color: #CCCCCC;
    padding-left: 8px;
    margin-right: 16px;
    font-size: 10px;
    overflow: scroll;
    white-space:pre-line;
}

.syndication-createEdit-container-textBox {
    width: 365px;
}

.syndication-createEdit-container-inputReceiverName {
   position: relative;
   width: 400px;
   height: 23px;
}

.syndication-createEdit-container-upload-xsd {
    position: relative;
    width: 404px;
    height: 160px;
    margin-top: -110px;
}

.syndication-upload-xsd-uploadMediaContainer {
    background-color: #FF9999;
    height: 0px;
}

.syndication-upload-xsd-dropZoneContainer {
    background-color: #A0F099;
    height: 0px;
}

.syndication-upload-xsd-dropZone2{
    background-color: #A9F659;
}

.syndication-upload-xsd-mediaDropZone {
    background-color: transparent;
    margin-top: -10px;
    margin-left: -5px;
    height: 100px;
}

.delete-field-type-mapping {
    position: relative;
    float: right;
    right: 0;
    text-align: right;
}

.content-area-tools-row {
    height: 25px;
    border-top: 1px solid #cccccc;
}
#save-mapping {
    float: right;
}

.mapping-validation-ok {
    color: green;
}

.mapping-validation-warning {
    color: gold;
}

.mapping-validation-error {
    color: red;
}

#system-link, #operator-link {
    color: #2d2d2d;
}

#output-attribute-description {
    float: left;
    clear: left;
}

#output-attribute-name {
    font-size: large;
}