//-------------------------------------
//-- Store - Autocomplete
//-------------------------------------

.k-autocomplete {
	position: relative;
	display: block;
}

.clear-search-history {
	display: none;
	padding: ($form-autocomplete-padding - 6px) $form-autocomplete-padding;
	border-top: 1px solid $border-color;
	font-size: 13px;
	font-weight: $bold-weight;

	a, button {
		color: $text-color;
		text-decoration: none;

		#{$hover-selector} {
			color: $main-color;
			text-decoration: none;
		}
	}
}

.k-animation-container {
	padding: 0 !important;
	margin: -1px 0 0 !important;
}

.k-list-container {
	box-sizing: content-box;
	border: 1px solid $border-color;
	border-radius: $form-field-radius;
	box-shadow: 0 2px 4px $shadow-light-color;
	background-color: $form-autocomplete-bg-color;

	.type {
		padding-bottom: 8px;
		border-bottom: 1px solid $border-color;
		margin-bottom: 14px;
		font-size: 14px;
		font-weight: $bold-weight;
		line-height: 1.25;
	}

	.k-list {
		overflow: hidden;
		padding: $form-autocomplete-padding;
		margin: 0;
		line-height: 1.3;

		.k-item {
			overflow: hidden;
			margin-top: 10px;
			color: $text-color;
			cursor: pointer;
			&:first-child { margin-top: 0; }

			&.k-state-hover, &.k-state-focused {
				color: $main-color;
			}
		}
	}

	.group-product {
		.visual {
			float: left;
			width: 56px;
			.image { @include product-image-styles; }
		}

		.content {
			padding-left: 12px;
			margin-left: 56px;

			.name {
				font-size: 14px;
				text-transform: uppercase;
				line-height: 1.25;
			}

			.product-sku {
				margin-top: 3px;
				color: inherit;
				font-size: 11px;
				text-transform: uppercase;
				line-height: 1.4;
				.sku .label { display: none; }

				.label {
					margin-right: 3px;
					font-weight: $bold-weight;
				}
			}
		}
	}

	.group-category {
		.title {
			display: block;
			font-size: 16px;
			line-height: 1.2;
		}

		.parent {
			display: block;
			margin-top: 3px;
			font-size: 11px;
			text-transform: uppercase;
			line-height: 1.4;
		}
	}

	&.autocomplete-type-searchhistory {
		.clear-search-history { display: block; }
	}

	&.search-autocomplete-list { right: 0; }

	&.autocomplete-type-product {
		.k-list > li + li {
			margin-top: $form-autocomplete-padding;
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		&.autocomplete-type-product {
			min-width: $form-autocomplete-product-width + ($form-autocomplete-padding * 2);

			.k-list {
				> li {
					float: left;
					width: $form-autocomplete-category-width;
					margin: 0 ($form-autocomplete-padding / 2);
					&:first-child { margin-left: 0; }
					&:last-child { margin-right: 0; }
					&.products { width: $form-autocomplete-product-width; }
					+ li { margin-top: 0; }
				}
			}

			&.search-autocomplete-list--large {
				min-width: $form-autocomplete-category-width + $form-autocomplete-product-width + ($form-autocomplete-padding * 3);
			}
		}
	}
}
