//-------------------------------------
//-- Form - Base
//-------------------------------------

//-- Placeholder

input::-ms-clear { display: none; }
input::placeholder {
	color: $form-field-placeholder-color !important;
	font-weight: $normal-weight !important;
}

//-- Hide spin button

input[type=number] { -moz-appearance: textfield !important; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
}

//-- Default field styles

#{$textfields-selector}, textarea, select, .text-field {
	display: block;
	opacity: 1;
	width: 100%;
	max-width: 100%;
	border-style: solid;
	border-color: $form-field-border-color;
	border-radius: $form-field-radius;
	outline: 0;
	box-shadow: $form-field-inactive-box-shadow;
	background-color: $form-field-bg-color;
	color: $form-field-text-color;
	font-family: $text-font;
	font-weight: $bold-weight;
	line-height: 1;
	transition: border-color $hover-transition $hover-easing, box-shadow $hover-transition $hover-easing, background-color $hover-transition $hover-easing, opacity $hover-transition $hover-easing;
	appearance: none;

	$border-width-cache: 0;
	@for $i from 1 through length($property-sides) {
		$loop-width: nth($form-field-border-width, $i);
		@if ($i == 1) {
			border-width: $loop-width;
			$border-width-cache: $loop-width;
		} @else if ($border-width-cache != $loop-width) {
			border-#{nth($property-sides, $i)}-width: $loop-width;
		}
	}

	@include each-breakpoint {
		@include map-get($form-field-height, $bp-name) { height: $map-value; }
		@include map-get($form-field-padding, $bp-name) { padding: 0 $map-value; }
		@include map-get($form-field-font-size, $bp-name) { font-size: $map-value; }
	}

	&:focus, &.on { @include form-field-active-styles; }
	&.inline { width: auto; }

	&[disabled], &.disabled { @include form-field-disabled-styles; }

	&.placeholder {
		color: $form-field-placeholder-color;
		font-weight: $normal-weight;
	}
}

.text-field {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@include each-breakpoint {
		@include map-get($form-field-height, $bp-name) { line-height: $map-value; }
	}
}

#{$textfields-selector}, select, .text-field {
	&.small {
		height: map-get($form-field-small, height);
		padding: 0 map-get($form-field-small, padding);
		font-size: map-get($form-field-small, fontSize);
	}
}

#{$textfields-selector}, textarea, .text-field {
	&.error,  &.input-validation-error, form.ng-submitted &.ng-invalid:not(.k-input), form &.ng-touched.ng-invalid:not(.k-input) {
		@include bg-image-mixin('ico_question.svg', 'common', $inline:true, $color:$error-color);
		@include form-field-bg-image-styles;
		border-color: $error-color;
		color: $error-color;
		&:focus, &.on { color: $form-field-text-color; }
	}
}

#{$textfields-selector} {
	&.datepicker { cursor: pointer; }
}

//-- Select

select {
	@include bg-image-mixin('ico_arrow-dropdown.svg', 'common', $inline:true, $color:$text-color);
	@include form-field-bg-image-styles($icon-ratio: $form-select-icon-ratio);
	&::-ms-expand { display: none; }

	&.error, &.input-validation-error, form.ng-submitted &.ng-invalid, form &.ng-touched.ng-invalid, form &.ng-touched.error, form &.ng-touched.input-validation-error {
		@include bg-image-mixin('ico_arrow-dropdown.svg', 'common', $inline:true, $color:$error-color);
		border-color: $error-color;
		color: $error-color;
	}

	&.small {
		@include form-field-bg-image-styles(
			$height: (small: map-get($form-field-small, height)),
			$padding: (small: map-get($form-field-small, padding)),
			$font-size: (small: map-get($form-field-small, fontSize)),
			$icon-ratio: $form-select-icon-small-ratio
		);
	}
}

//-- Textareas

textarea, textarea[rows] {
	max-width: 100%;
	line-height: 1.3;

	$bp-field-padding: 0;
	$bp-field-font-size: 0;

	@include each-breakpoint {
		@include map-get($form-field-padding, $bp-name) { $bp-field-padding: $map-value; }
		@include map-get($form-field-font-size, $bp-name) { $bp-field-font-size: $map-value; }
		@if($map-changed) {
			min-height: (($bp-field-font-size * 1.3) * 5) + ($bp-field-padding * 2) + 2;
			padding: $bp-field-padding;
		}
	}
}

//-- File Upload

input[type="file"] {
	display: none;
	+ .text-field { cursor: pointer; }

	&:focus, &.on {
		+ .text-field { @include form-field-active-styles; }
	}

	&[disabled] + .text-field, &.disabled + .text-field { @include form-field-disabled-styles; }
}

//-- Fields

.fields, .field {
	label:not(.text-field) {
		display: block;
		font-weight: $bold-weight;

		@include each-breakpoint {
			@include map-get($form-label-margin, $bp-name) { margin-bottom: $map-value; }
			@include map-get($form-label-font-sizes, $bp-name) { font-size: $map-value; }
			@include map-get($form-label-line-heights, $bp-name) { line-height: $map-value; }
		}

		.help {
			margin-left: 2px;
			color: $main-color;
			text-decoration: none;

			&::before {
				@include ico-font($ico-info-char);
				position: relative;
				top: 1px;
				font-size: 1.1em;
				line-height: 0;
			}

			#{$hover-selector} {
				color: $alt-color;
				text-decoration: none;
			}
		}

		.note {
			margin-left: 4px;
			color: $text-light-color;
			font-size: .95em;
			font-weight: $normal-weight;
			font-style: italic;
		}
	}
}

.fields {
	@include clearfix;
	position: relative;
	clear: both;

	@include each-breakpoint {
		@include map-get($text-spacing, $bp-name) { margin-bottom: -$map-value; }
	}

	&.inline { @include form-fields-inline-styles; }
}

.field {
	position: relative;

	@include each-breakpoint {
		@include map-get($text-spacing, $bp-name) { margin-bottom: $map-value; }
	}

	&.flat { margin-bottom: 0; }
	.field-wrapper { position: relative; }

	&.small {
		input, select, .text-field {
			height: map-get($form-field-small, height);
			padding: 0 map-get($form-field-small, padding);
			font-size: map-get($form-field-small, fontSize);
		}

		select {
			@include form-field-bg-image-styles(
				$height: (small: map-get($form-field-small, height)),
				$padding: (small: map-get($form-field-small, padding)),
				$font-size: (small: map-get($form-field-small, fontSize)),
				$icon-ratio: $form-select-icon-small-ratio
			);
		}
	}

	&.has-action {
		input, select, .text-field { @include form-field-action-padding-styles; }

		&.small {
			input, select, .text-field {
				@include form-field-action-padding-styles(
					$height: (small: map-get($form-field-small, height)),
					$padding: (small: map-get($form-field-small, padding)),
					$font-size: (small: map-get($form-field-small, fontSize))
				);
			}

			.field-action {
				@include form-field-action-styles(
					$height: (small: map-get($form-field-small, height)),
					$padding: (small: map-get($form-field-small, padding)),
					$font-size: (small: map-get($form-field-small, fontSize))
				);
			}
		}
	}
}

//-- Field action

.field-action {
	@include form-field-action-styles;
	color: $main-color;
	text-decoration: none;
	pointer-events: none;

	&.search::before {
		content: $ico-search-char;
	}

	&.date::before {
		content: $ico-calendar-char;
		font-size: 1.25em;
	}

	&.barcode::before {
		content: $ico-barcode-char;
	}

	&.browse::before {
		content: $ico-browse-char;
		font-size: 1.2em;
	}

	&.loading, .loading ~ & {
		&::before {
			content: '';
			display: block;
			width: 1em;
			height: 1em;
			border: 1px solid transparent;
			border-right-color: $main-color;
			border-left-color: $main-color;
			border-radius: 50%;
			margin-top: -.5em;
			transform: translateZ(0);
			animation: rotate-animation .5s infinite linear;
		}
	}
}

a, button {
	&.field-action { pointer-events: auto; }
}

@if $form-field-action-button {
	.field-action { background-color: $main-color; }
	a, button {
		&.field-action {
			color: $invert-color;
			transition: background-color $hover-transition $hover-easing;

			#{$hover-selector} {
				background-color: $main-active-color;
				text-decoration: none;
			}
		}
	}
} @else {
	a, button {
		&.field-action {
			color: $form-field-text-color;

			#{$hover-selector} {
				color: $main-color;
				text-decoration: none;
			}
		}
	}
}

//-- Field error / help

.field-error, label.error:not(.text-field), .field-help {
	@include note-styles;
	display: block;
	margin-top: 4px;

	@include each-breakpoint {
		@include map-get($text-spacing, $bp-name) {
			&[class*="side-"] {
				margin-top: -($map-value - 6px);
				margin-bottom: $map-value;
			}
		}
	}

	&[class*="side-"] {
		display: table;
		box-sizing: content-box;

		> span {
			display: table-cell;
			vertical-align: middle;
		}
	}

	$bp-label-margin: 0;
	$bp-label-font-size: 0;
	$bp-label-line-height: 0;
	$bp-field-height: 0;
	@each $bp-class-name in map-keys($common-breakpoints) {
		&.side-#{$bp-class-name} {
			@include each-breakpoint {
				@include map-get($form-label-margin, $bp-name) { $bp-label-margin: $map-value; }
				@include map-get($form-label-font-sizes, $bp-name) { $bp-label-font-size: $map-value; }
				@include map-get($form-label-line-heights, $bp-name) { $bp-label-line-height: $map-value; }
				@include map-get($form-field-height, $bp-name) { $bp-field-height: $map-value; }
				@if (($map-changed or ($bp-class-name == $bp-name)) and min-breakpoint($bp-class-name)) {
					height: $bp-field-height;
					margin-top: ($bp-label-font-size * $bp-label-line-height) + $bp-label-margin;
					margin-bottom: 0;
					font-size: 13px;
				}
			}
		}
	}
}

.field-error, label.error:not(.text-field) {
	color: $error-color;
	font-style: normal;
}

.field-large-width { max-width: $form-field-large-width; }
.field-width { max-width: $form-field-width; }

//-- Checkbox

input[type="checkbox"], input[type="radio"] {
	position: absolute;
	visibility: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	&:focus + label::before { border-color: $main-color; }
}

input[type="checkbox"] {
	+ label:not(.text-field) { @include form-checkbox-styles($has-text: true); }
	&:checked + label:not(.text-field) { @include form-checkbox-checked-styles; }
}

.checkbox {
	@include form-checkbox-styles;
	top: 1px;
	display: inline;
	&.on, .on & { @include form-checkbox-checked-styles; }
}

//-- Radio

input[type="radio"] {
	+ label:not(.text-field) { @include form-radio-styles($has-text: true); }
	&:checked + label:not(.text-field) { @include form-radio-checked-styles; }
}

.radio {
	@include form-radio-styles;
	top: 1px;
	display: inline;
	&.on, .on & { @include form-radio-checked-styles; }
}
