//-------------------------------------
//-- Form - Configuration
//-------------------------------------

@import 'components/form/styles/mixins';

//-- Fields

$form-field-action-spacing: (1px 1px 1px 1px) !default;
$form-field-action-align: bottom !default;
$form-field-action-side: left !default;
$form-field-action-square: false !default;
$form-field-action-button: false !default;
$form-field-action-padding: () !default;

$form-field-icon-ratio: 1 !default;
$form-field-border-width: (1px 1px 1px 1px) !default;
$form-field-radius: $border-radius !default;
$form-field-placeholder-color: #b0b0b0 !default;
$form-field-bg-color: #ffffff !default;
$form-field-bg-disabled-color: $form-field-bg-color !default;
$form-field-text-color: $text-color !default;
$form-field-border-color: $border-color !default;
$form-field-border-active-color: $border-dark-color !default;
$form-field-inactive-box-shadow: 0 2px 4px $shadow-none-color !default;
$form-field-active-box-shadow: 0 2px 4px $shadow-light-color !default;
$form-field-digit-width: 57px !default;

$form-field-small: (
	height: 40px,
	fontSize: 14px,
	padding: 15px
) !default;

$form-field-height: (
	small: 44px,
	xlarge: 48px
) !default;

$form-field-font-size: (
	small: 14px
) !default;

$form-field-padding: (
	small: 15px
) !default;

$form-field-width: 300px !default;
$form-field-large-width: 400px !default;

//-- Labels

$form-label-line-heights: (
	small: 1.3
) !default;

$form-label-margin: (
	small: 4px
) !default;

$form-label-font-sizes: (
	small: 13px
) !default;

//-- Select

$form-select-icon-ratio: 1 !default;
$form-select-icon-small-ratio: .8 !default;

//-- Checkbox / Radio

$form-checkbox-line-height: 1.3 !default;
$form-checkbox-border-radius: 2px !default;
$form-checkbox-spacing: 8px !default;
$form-checkbox-tick-padding: 3px !default;
$form-checkbox-bg-color: $form-field-bg-color !default;
$form-checkbox-bg-active-color: $alt-color !default;

$form-checkbox-size: (
	small: 16px
) !default;

$form-checkbox-font-size: (
	small: 13px
) !default;

//-- Autocomplete

$form-autocomplete-bg-color: #ffffff !default;
$form-autocomplete-padding: 18px !default;
$form-autocomplete-category-width: 220px !default;
$form-autocomplete-product-width: 330px !default;
