//-------------------------------------
//-- Form - Mixins
//-------------------------------------

//-- Fields

@mixin form-fields-inline-styles {
	margin-right: -10px;
	margin-left: -10px;
	font-size: 0;

	> .field {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
		padding: 0 10px;
	}
}

//-- Field

@mixin form-field-active-styles {
	border-color: $form-field-border-active-color;
	box-shadow: $form-field-active-box-shadow;
}

@mixin form-field-disabled-styles {
	opacity: .5;
	background-color: $form-field-bg-disabled-color;
	border-color: $form-field-border-color;
	box-shadow: $form-field-inactive-box-shadow;
}

@mixin form-field-action-styles(
		$side: $form-field-action-side,
		$spacing: $form-field-action-spacing,
		$align: $form-field-action-align,
		$square: $form-field-action-square,
		$icon-ratio: $form-field-icon-ratio,
		$border-radius: $form-field-radius,
		$height: $form-field-height,
		$padding: $form-field-padding,
		$font-size: $form-field-font-size,
		$action-padding: $form-field-action-padding) {

	$y-spacing: 0;
	$bp-padding: 0;
	$bp-action-padding: 0;
	$bp-font-size: 0;
	$bp-field-height: 0;

	position: absolute;

	&::before {
		@include ico-font;
		position: absolute;
		top: 50%;
		line-height: 0;
	}

	@if $side == right {
		border-radius: 0 $border-radius $border-radius 0;
	} @else {
		border-radius: $border-radius 0 0 $border-radius;
	}

	@for $i from 1 through length($property-sides) {
		$loop-side: nth($property-sides, $i);
		$loop-spacing: nth($spacing, $i);

		@if $side == $loop-side or $align == $loop-side {
			#{$loop-side}: $loop-spacing;
		} @else {
			#{$loop-side}: auto;
		}

		@if $loop-side == top or $loop-side == bottom {
			$y-spacing: $y-spacing + $loop-spacing;
		}
	}

	@include each-breakpoint {
		@include map-get($height, $bp-name) { $bp-field-height: $map-value; }
		@include map-get($padding, $bp-name) { $bp-padding: $map-value; }
		@include map-get($action-padding, $bp-name) { $bp-action-padding: $map-value; }
		@include map-get($font-size, $bp-name) { $bp-font-size: $map-value * $icon-ratio; }
		@if($map-changed) {
			height: $bp-field-height - $y-spacing;
			font-size: $bp-font-size;

			@if not $square and $bp-action-padding != 0 {
				&::before {
					left: auto;
					margin-left: 0;
					#{$side}: $bp-padding;
				}
			} @else {
				&::before {
					left: 50%;
					margin-left: -.5em;
				}
			}

			@if $square {
				width: $bp-field-height - $y-spacing;
			} @else if $bp-action-padding != 0 {
				width: $bp-font-size + $bp-padding + $bp-action-padding;
			} @else {
				width: $bp-font-size + ($bp-padding * 2);
			}
		}
	}
}

@mixin form-field-action-padding-styles(
		$side: $form-field-action-side,
		$spacing: $form-field-action-spacing,
		$is-button: $form-field-action-button,
		$action-padding: $form-field-action-padding,
		$square: $form-field-action-square,
		$icon-ratio: $form-field-icon-ratio,
		$border-width: $form-field-border-width,
		$height: $form-field-height,
		$padding: $form-field-padding,
		$font-size: $form-field-font-size) {

	$y-spacing: 0;
	$side-spacing: 0;
	$bp-font-size: 0;
	$bp-field-height: 0;
	$bp-padding: 0;
	$bp-action-padding: 0;

	@for $i from 1 through length($property-sides) {
		$loop-side: nth($property-sides, $i);
		$loop-spacing: nth($spacing, $i);
		$loop-border-width: nth($border-width, $i);

		@if $side == $loop-side {
			$side-spacing: $loop-spacing + $loop-border-width;
		}

		@if $loop-side == top or $loop-side == bottom {
			$y-spacing: $y-spacing + $loop-spacing;
		}
	}

	@include each-breakpoint {
		@include map-get($height, $bp-name) { $bp-field-height: $map-value; }
		@include map-get($padding, $bp-name) { $bp-padding: $map-value; }
		@include map-get($action-padding, $bp-name) { $bp-action-padding: $map-value; }
		@include map-get($font-size, $bp-name) { $bp-font-size: $map-value * $icon-ratio; }
		@if($map-changed) {
			@if $square {
				@if $is-button {
					padding-#{$side}: $bp-field-height - $y-spacing + $side-spacing + $bp-padding;
				} @else {
					padding-#{$side}: $bp-field-height - $y-spacing + $side-spacing;
				}
			} @else {
				@if $is-button {
					padding-#{$side}: $bp-font-size + ($bp-padding * 3);
				} @else if $bp-action-padding != 0 {
					padding-#{$side}: $bp-font-size + $bp-padding + $bp-action-padding;
				} @else {
					padding-#{$side}: $bp-font-size + ($bp-padding * 2);
				}
			}
		}
	}
}

@mixin form-field-bg-image-styles(
		$side: right,
		$icon-ratio: $form-field-icon-ratio,
		$padding: $form-field-padding,
		$font-size: $form-field-font-size,
		$height: $form-field-height) {

	@include form-field-action-padding-styles(
		$side: $side,
		$icon-ratio: $icon-ratio,
		$height: $height,
		$padding: $padding,
		$font-size: $font-size,
		$square: false,
		$is-button: false
	);

	background-repeat: no-repeat;

	@include each-breakpoint {
		@include map-get($padding, $bp-name) { background-position: $side $map-value center; }
		@include map-get($font-size, $bp-name) { background-size: $map-value * $icon-ratio; }
	}
}

//-- Checkbox / Radio

@mixin form-checkbox-hover-styles {
	&::before { box-shadow: 0 1px 2px $shadow-light-color; }
}

@mixin form-checkbox-styles($has-text: false) {
	position: relative;
	display: inline-block;
	margin: 0;
	text-decoration: none;
	line-height: $form-checkbox-line-height;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		display: block;
		border: 1px solid $border-color;
		border-radius: $form-checkbox-border-radius;
		background-color: $form-checkbox-bg-color;
		transition: border-color $hover-transition $hover-easing, background-color $hover-transition $hover-easing;
	}

	&::after {
		content: '';
		position: absolute;
		left: $form-checkbox-tick-padding;
		display: none;
		border-radius: $form-checkbox-border-radius;
		background-color: $form-checkbox-bg-active-color;
		color: $form-checkbox-bg-active-color;
	}

	#{$hover-selector} {
		@include form-checkbox-hover-styles;
	}

	$bp-font-size: 0;
	$bp-size: 0;

	@include each-breakpoint {
		@include map-get($form-checkbox-size, $bp-name) { $bp-size: $map-value; }
		@include map-get($form-checkbox-font-size, $bp-name) { $bp-font-size: $map-value; }
		@if($map-changed) {
			$top-offset: (round($bp-font-size * $form-checkbox-line-height) - $bp-size) / 2;

			font-size: $bp-font-size;

			@if($has-text) {
				padding-left: $bp-size + $form-checkbox-spacing;
			} @else {
				padding-left: $bp-size;
			}

			&::before {
				top: $top-offset - 1px;
				width: $bp-size;
				height: $bp-size;
			}

			&::after {
				top: $top-offset + $form-checkbox-tick-padding - 1px;
				width: $bp-size - ($form-checkbox-tick-padding * 2);
				height: $bp-size - ($form-checkbox-tick-padding * 2);
				font-size: $bp-size - ($form-checkbox-tick-padding * 2);
			}
		}
	}
}

@mixin form-checkbox-checked-styles {
	&::before {
		border-color: $form-checkbox-bg-active-color;
		background-color: $form-checkbox-bg-active-color;
	}

	&::after {
		@include ico-font($ico-check-char);
		display: block;
		background-color: transparent;
		color: $invert-color;
	}
}

@mixin form-checkbox-invert-styles {
	&::before {
		border-color: $invert-color;
		background-color: $invert-color;
	}

	&::after { color: $form-checkbox-bg-active-color; }
}

@mixin form-radio-styles($has-text: false) {
	@include form-checkbox-styles($has-text);
	&::before, &::after { border-radius: 50%; }
}

@mixin form-radio-checked-styles {
	&::after { display: block; }
}

@mixin form-radio-invert-styles {
	@include form-checkbox-invert-styles;
}
