﻿<div class="block group order-steps" ng-controller="StoreCheckoutOrderConfirmationController as vm" ng-cloak cart-url="[% urlForPage 'CartPage' %]">
    <div class="block-wrapper">
        <store-checkout-breadcrumb active-step="order-confirmation"></store-checkout-breadcrumb>
        <div class="block order-review">
            <div class="block-wrapper">
                <div class="msg error" ng-if="vm.cart.properties['orderSubmitErrorReferenceNo']">[% translate 'Store_Checkout_OrderSubmitError' %] {{vm.cart.properties['orderSubmitErrorReferenceNo']}}</div>
                <div class="msg success" ng-if="vm.cart && !vm.cart.properties['orderSubmitErrorReferenceNo']">[% translate 'Store_Checkout_OrderSubmittedSuccessfully' %]</div>

                <store-checkout-order-review-details
                    cart="vm.cart"
                    location="vm.location"
                    is-pick-up="vm.isPickUp"
                    order="vm.order"
                    promotions="vm.promotions"
                    warehouse="vm.warehouse"
                    navigate-url="[% urlForPage 'HomePage' %]"
                    navigate-text="[% translate 'Continue Shopping' %]">
                </store-checkout-order-review-details>
            </div>
        </div>
    </div>
</div>
