﻿<div id="mass-update-wizzard-result-tools">
    <div class="massupdate-stats-container">
        <div class="massupdate-stats-label">Total:</div>
        <div id="massupdate-total" class="massupdate-stats-value"></div>
        <div class="massupdate-stats-label">In progress:</div>
        <div id="massupdate-inprogress" class="massupdate-stats-value"></div>
        <div class="massupdate-stats-label">Done:</div>
        <div id="massupdate-done" class="massupdate-stats-value"></div>
        <div class="massupdate-stats-label">Failed:</div>
        <div id="massupdate-failed" class="massupdate-stats-value"></div>
    </div>
    <div id="mass-update-entity-cards-container">
        <div class="massupdate-left-column massupdate-header">Name</div>
        <div class="massupdate-right-column massupdate-header">Description</div>
    </div>
    <div id="mass-update-fields-area">
        <div class="massupdate-left-column massupdate-header">Field</div>
        <div class="massupdate-right-column massupdate-header">New value</div>
        <div id="mass-update-field-container"></div>
    </div>
</div>
