﻿<div class='field-editor-wrap massupdate-field-editor' fieldtypeid='<%=type%>'>
    <div class='field-editor-label-wrap'>
        <div class='mass-update-field-editor-label'><%=name%></div>
    </div>
    <div class="field-editor-value-wrap" data-editors='<%=dataEditorKey%>'>
    </div>
    <div class="field-editor-validation-error-message" data-id="<%=dataEditorKey%>"></div>
</div>
