﻿<div id="mass-update-wizzard-choice-tools">
    <div>
        <h2>Select fields to update</h2>
    </div>
    <div><input class="search-input form-control" placeholder="Filter" title="Add a filter here"/>
    </div>
    <div id="field-types-select"></div>
</div>