﻿<div>
    <div class="massupdate-field-editor">
        <div class="field-editor-label-wrap massupdate-header">Field</div>
        <div class="field-editor-value-wrap massupdate-header">New value</div>
    </div>
    <div id="mass-update-edit-values-form">
    </div>
</div>
