﻿<div id="main-client-area">
    <div class="wizard-container">
        <div id="mass-update-wizard">
            <h1>Fields</h1>
            <div>
                <div id="mass-update-wizzard-choice">
                </div>
            </div>
            <h1>Values</h1>
            <div>
                <div id="mass-update-wizzard-detail">
                </div>
            </div>
            <h1>Verify</h1>
            <div>
                <div id="mass-update-wizzard-verify">
                </div>
            </div>
        </div>
    </div>
</div>
