﻿@model  List<Absolunet.InRiver.AdminWebsite.ViewModels.SettingsViewModel>

@{
    ViewBag.Title = Resources.Settings.SettingsTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="columns small-12">@Resources.Settings.SettingsTitle</h1>
</div>

@foreach (var settings in Model)
{
    <div class="view-setting columns small-12">
        <div class="row">
            <div class="medium-4 columns">
                Time Interval
            </div>
            <div class="medium-8 columns">
                @settings.Interval
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Connector Starting Time
            </div>
            <div class="medium-8 columns">
                @settings.StartingTime
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Connector Ending Time
            </div>
            <div class="medium-8 columns">
                @settings.EndingTime
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Connector Pause Starting Time
            </div>
            <div class="medium-8 columns">
                @settings.PauseStartingTime
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Connector Pause Ending Time
            </div>
            <div class="medium-8 columns">
                @settings.PauseEndingTime
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Host
            </div>
            <div class="medium-8 columns">
                @settings.MagentoHost
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Stores
            </div>
            <div class="medium-8 columns">
                @settings.MagentoStores
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Attribute Options
            </div>
            <div class="medium-8 columns">
                @settings.MagentoAttributeOptions
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Ftp Host
            </div>
            <div class="medium-8 columns">
                @settings.MagentoFtpHost
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento FTP KeyFile Path
            </div>
            <div class="medium-8 columns">
                @settings.MagentoFtpKeyFilePath
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Import Products Filename
            </div>
            <div class="medium-8 columns">
                @settings.MagentoImportProductsFilename
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Import Local Products Path
            </div>
            <div class="medium-8 columns">
                @settings.MagentoImportLocalProductsPath
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Import Local Images Path
            </div>
            <div class="medium-8 columns">
                @settings.MagentoImportLocalImagesPath
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Import Remote Products Path
            </div>
            <div class="medium-8 columns">
                @settings.MagentoImportRemoteProductsPath
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Import Remote ImagesPath
            </div>
            <div class="medium-8 columns">
                @settings.MagentoImportRemoteImagesPath
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Magento Import Products Timeout In Minutes
            </div>
            <div class="medium-8 columns">
                @settings.MagentoImportProductsTimeoutInMinutes
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Image Configuration Name
            </div>
            <div class="medium-8 columns">
                @settings.ImageConfigurationName
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                Allowed Image Extensions
            </div>
            <div class="medium-8 columns">
                @settings.AllowedImageExtensions
            </div>
        </div>

    </div>
}
