﻿<div id="completeness-area" class="modal-fixed-details">
    <div class="completeness-header">Completeness Details</div>
    <ul class="flat-ul completeness-content">
        <% _.each(data, function(group) { %>
        <% if(group.Name) { %>
            <li>
                <div class="completeness-details-row">
                    <% if(group.IsCompleted) { %>
                    <span class="icon-entypo-fix-check std-entypo-fix-icon completeness-details-row-iscompleted"></span>
                    <% } else { %>
                    <span class="icon-entypo-fix-cancel std-entypo-fix-icon completeness-details-row-isnotcompleted"></span>
                    <% } %>
                    <span class="completeness-details-row-rulename"><%= group.Name %></span>
                </div>
                <ul class="flat-ul completeness-rule-content">
                    <% _.each(group.Rules, function(v) { %>
                    <li>
                        <div class="completeness-details-rule-row">
                            <% if(v.IsCompleted) { %>
                            <span class="icon-entypo-fix-check std-entypo-fix-icon completeness-details-row-iscompleted"></span>
                            <% } else { %>
                            <span class="icon-entypo-fix-cancel std-entypo-fix-icon completeness-details-row-isnotcompleted"></span>
                            <% } %>
                            <span class="completeness-details-row-rulename"><%= v.Name %></span>
                        </div>
                    </li>
                    <% }); %>
                </ul>
                
            </li>
            <% } %>
        <% }); %>
        </ul>
        </div>
<!--</div>-->
