﻿<div id="start-main-container">
    <div id="suppliers-top-row">
        <select id="suppliers-dropdown"></select>
        <button id="list-of-suppliers-add">+ Add Supplier</button>
    </div>
    <div id="suppliers-content-area">
        <div class="start-section-col">
            <div id="supplier-pending-batches" class="start-section-box">
                data
            </div>
            <div id="supplier-history" class="start-section-box">
                history
            </div>
        </div>
        <div class="start-section-col">
            <div id="suppliers-settings-section" class="start-section-box">
                settings
            </div>
            <div id="supplier-mappings" class="start-section-box">
                mappings
            </div>
            <div id="suppliers-users-section" class="start-section-box">
                users
            </div>



        </div>
    </div>
</div>
