﻿<div class="site-header">
    <script type="text/javascript">
        var insite = insite || {};
        insite.navAdjustments = [];
    </script>

    <div class="top-nav" ng-controller="TopNavController as vm" dashboard-url="[% urlForPage 'MyAccountPage' %]">
        <div class="wrapper">
            <div class="left-nav">
                <label for="site-menu" class="nav-item menu">
                    <span class="bar top"></span>
                    <span class="bar mid"></span>
                    <span class="bar bot"></span>
                </label>
                <label for="site-search" class="nav-item search"></label>
                <label class="nav-item barcode" data-action="barcode-open"></label>
            </div>
            <div class="mid-nav">
                <a href="[% translate 'Store_ProductWarrantyUrl' %]" class="nav-item">[% translate 'Store_ProductWarranty' %]</a>
                <a href="[% translate 'Store_ContactUsUrl' %]" class="nav-item">[% translate 'Store_ContactUs' %]</a>
                <a href="[% urlForPage 'DealerLocatorPage' %]" class="nav-item" ng-if="!vm.session.isAuthenticated">[% translate 'Store_DealerLocator' %]</a>
                <a href="[% urlForPage 'DealerLocatorPage' %]" class="nav-item multiline" ng-if="vm.session.isAuthenticated" ng-cloak>
                    <span class="multiline-wrapper">
                        <span class="multiline-content">
                            <span class="name">[% translate 'Store_DealerLocator' %]</span>
                            <span class="info">{{vm.location.warehouse.displayName}}</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="user-nav" ng-if="vm.session.isAuthenticated" ng-cloak>
                <div class="nav-wrapper">
                    <label for="account-menu" class="nav-item user">
                        <span class="user-wrapper">
                            <span class="user-content">
                                <span class="user-name">{{vm.session.userLabel}}</span>
                                <span class="user-id">{{vm.session.billTo.customerNumber}}<span ng-if="vm.session.shipTo.customerSequence == 'True'"> - {{vm.session.shipTo.customerSequence}}</span></span>
                            </span>
                        </span>
                        <span class="user-arrow"></span>
                    </label>

                <div class="account">
                    <input id="account-menu" type="checkbox" name="site-menus" />
                    <div class="account-box">
                        <div class="box-wrapper" data-site-menu="always">
                            <nav class="account-menu">
                                <h2 class="account-title">[% translate 'Hello' %], {{vm.session.userLabel}}</h2>
                                <div class="account-content">
                                    <div class="customer-infos">
                                        <div class="user-info caps small">
                                            <span class="user-info-title">[% translate 'Bill to' %]</span>
                                            <div class="user-info-content">
                                                <span>{{vm.session.billTo.customerName}}</span>
                                            </div>
                                        </div>
                                        <div class="user-info caps small">
                                            <span class="user-info-title">[% translate 'Ship to' %]</span>
                                            <div class="user-info-content">
                                                <span>{{vm.session.shipTo.customerName}}</span>
                                                <div class="show-for-xlarge">
                                                    <span ng-if="vm.session.shipTo.address1">{{vm.session.shipTo.address1}}</span>
                                                    <span ng-if="vm.session.shipTo.address2">{{vm.session.shipTo.address2}}</span>
                                                    <span ng-if="vm.session.shipTo.city || vm.session.shipTo.state.abbreviation">
                                                        <span ng-if="vm.session.shipTo.city">{{vm.session.shipTo.city}}</span><span ng-if="vm.session.shipTo.state.abbreviation">, {{vm.session.shipTo.state.abbreviation}}<span ng-if="vm.session.shipTo.postalCode"> {{vm.session.shipTo.postalCode}}</span></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-info caps small" ng-if="vm.location">
                                            <span class="user-info-title">[% translate 'Location' %]</span>
                                            <store-customers-address-summary address="vm.location"></store-customers-address-summary>
                                        </div>
                                        <div class="user-info caps small" ng-if="vm.location.warehouse">
                                            <span class="user-info-title">[% translate 'My Store' %]</span>
                                            <store-customers-address-summary address="vm.location.warehouse"></store-customers-address-summary>
                                        </div>
                                        <div class="user-info caps small">
                                            <ul class="user-info-actions">
                                                <li><a class="account-edit" ng-click="vm.changeCustomer('[% urlForPage 'ChangeCustomerPage' %]')">[% translate 'Change customer' %]</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                        <div class="customer-menu">
                                            <ul class="primary-menu">
                                                <li><a href="[% urlForPage 'MyAccountPage' %]">[% translate 'Dashboard' %]</a></li>
                                                <li><a href="[% urlForPage 'OrdersPage' %]">[% translate 'Order History' %]</a></li>
                                                <li><a href="[% urlForPage 'OrderUploadPage' %]">[% translate 'Order Upload' %]</a></li>
                                                <li><a href="[% urlForPage 'WishListPage' %]">[% translate 'Wishlists' %]</a></li>
                                                <li ng-if="vm.isAdministrator"><a href="[% urlForPage 'UserListPage' %]">[% translate 'User Administration' %]</a></li>
                                            </ul>
                                            <ul class="secondary-menu">
                                                <li><a href="[% urlForPage 'ChangeAccountPasswordPage' %]">[% translate 'Change password' %]</a></li>
                                                <li ng-if="vm.collectiveSettings.paymentGatewayUrl"><a href="{{vm.collectiveSettings.paymentGatewayUrl}}" target="_blank">[% translate 'Payment Gateway' %]</a></li>
                                                <li><button type="button" class="user" ng-cloak ng-if="vm.session.isAuthenticated" ng-click="vm.signOut('[[Model.Drop.SignOutReturnUrl]]')">[[Model.Drop.SignOutText]]</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-nav">
                <a href="[% urlForPage 'SignInPage' %]" class="nav-item alt" ng-if="!vm.session.isAuthenticated" ng-cloak>[% translate 'Sign In' %]</a>
                [% if Model.Drop.DisplayCart -%]
                    <a class="nav-item cart" href="[% urlForPage 'CartPage' %]"><span ng-bind="vm.cartTotalCountDisplay"></span></a>
                [% endif -%]
            </div>
        </div>
    </div>

    <header class="header">
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="/nwayo-build/[% themeName %]/images/[% themeName %]/logo_ss.svg" alt="[% websiteName %]" />
                </a>
            </div>

            <div class="menu">
                <input id="site-menu" type="checkbox" name="site-menus" />
                <div class="menu-box">
                    <div class="box-wrapper" data-site-menu>
                        <store-main-menu-view></store-main-menu-view>
                    </div>
                </div>
            </div>

            <div class="search">
                <input id="site-search" type="checkbox" name="site-menus" />
                <div class="search-box">
                    <div class="box-wrapper" data-site-menu>
                        <isc-product-search></isc-product-search>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="barcode-modal" data-barcode role="dialog" aria-hidden="true">
        <div class="grid">
            <div class="grid-row narrow">
                <div class="barcode-nav grid-cell">
                    <div class="grid">
                        <div class="grid-cell narrow">
                            <button type="button" class="btn close" data-action="barcode-close"></button>
                        </div>
                        <div class="grid-cell">
                            <div class="field has-action small">
                                <input type="text" placeholder="[% translate 'Store_Barcode_SearchPlaceholder' %]" data-barcode-field />
                                <button type="button" class="field-action barcode" data-action="barcode-field-submit"></button>
                            </div>
                        </div>
                        <div class="grid-cell narrow">
                            <label for="barcode-file" class="btn upload"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="barcode-content grid-cell">
                    <div class="barcode-error msg error" data-barcode-error>
                        <div data-barcode-error-msg="file-decode">[% translate 'Store_Barcode_NoBarcodeDetected' %]</div>
                        <div data-barcode-error-msg="default">[% translate 'Store_Barcode_GenericError' %]</div>
                    </div>
                    <div class="barcode-stream" data-barcode-stream>
                        <div class="overlay"></div>
                    </div>
                    <div class="barcode-message">
                        <div class="unavailable">
                            <p>[% translate 'Store_Barcode_NotAvailable' %]</p>
                            <div class="separator"><span>[% translate 'Store_Barcode_But' %]</span></div>
                        </div>
                        <div class="disabled">
                            <p>[% translate 'Store_Barcode_NoCamera' %]</p>
                            <button type="button" class="button small" data-action="barcode-init-stream">[% translate 'Store_Barcode_TryAgain' %]</button>
                            <div class="separator"><span>[% translate 'Store_Barcode_Or' %]</span></div>
                        </div>
                        <p>[% translate 'Store_Barcode_Info' %]</p>
                    </div>
                </div>
            </div>
        </div>
        <input type="file" id="barcode-file" accept="image/*" capture="camera" data-barcode-file/>
    </div>

    <script type="text/ng-template" id="header_productSearch">
        <form>
            <div class="field has-action">
                <input ng-model="vm.criteria" type="text" class="isc-searchAutoComplete tst_header_searchInput"
                    ng-init="
                        vm.autocompleteOptions.placeholder = '[% translate 'Enter keyword or item #' %]';
                        vm.translations = [
                            {key: 'category', text: '[% translate 'Categories' %]'},
                            {key: 'content', text: '[% translate 'Content' %]'},
                            {key: 'product', text: '[% translate 'Products' %]'},
                            {key: 'manufacturerItemNumber', text: '[% translate 'Store_MFG#' %]'},
                            {key: 'partNumber', text: '[% translate 'Store_SKU#' %]'},
                            {key: 'customerPartNumber', text: '[% translate 'Store_PART#' %]'}
                        ]"
                    kendo-auto-complete
                    k-options="vm.autocompleteOptions"
                    isc-enter="vm.onEnter()"
                    name="criteria"
                    onfocus="$(this).data('kendoAutoComplete').search()" />
                <button type="button" class="field-action search" ng-click="vm.search()"></button>
            </div>
            <div class="clear-search-history"><button type="button" ng-click="vm.clearSearchHistory()">[% translate 'Clear Search History' %]</button></div>
        </form>
    </script>
</div>
