﻿<div class="popup-header-row">
    <span class="popup-header-text">
        <span class="popup-header">
            Export to Excel
        </span>
    </span>
    <span id="main-header-buttons">
        <span class="fa fa-times control-row-icon-button" title="Close popup window" id="close-icon"></span>
    </span>
</div>


<div id="export-contentwrapper">
    <div class="workarea-excel-export-buttons">
        <span id="excel-export" class="row-icon-button export-action-button" title="Export">
            <i class="fa icon-entypo-fix-attach"></i>
            <span>Export</span>
        </span>
        <span id="remove-confiugration-container" class="row-icon-button export-action-button" title="Delete this setting">
            <i class="fa fa-trash-o"></i>
            <span>Delete</span>
        </span>
        <span id="excel-export-save-configuration-as" class="row-icon-button export-action-button" title="Save this setting as...">
            <i class="fa fa-save"></i>
            <span>Save As</span>
        </span>
        <span id="excel-export-save-configuration" class="row-icon-button export-action-button" title="Save this setting">
            <i class="fa fa-save"></i>
            <span>Save</span>
        </span>
    </div>
    <div id="main-client-area" class="modal-fixed-details query-editor-modal">
        <div id="excelExport">
            <div>
                <div class="workarea-excelexport-control-container">
                    <div class="workarea-configuration-container">
                        <div id="export-excel-container-configuration"></div>
                    </div>
                </div>

                <div id="export-excel-container-languages" class="workarea-excelexport-control-container"></div>

                <div id="excelexport-entitytype-control-container"></div>

                <div class="workarea-excelexport-control-container">
                        <div id="excel-loading-spinner-container">
                            <img src="/Images/nine-squares-32x32.gif" />
                            <div><h2>Exporting excel data</h2></div>
                        </div>
                    </div>
                </div>
            </div>
        <div id="savedialog" class="configurationdialog" style="display:none">
            <h3>Save Configuration</h3>
            <div id="work-area-selection"></div>
            <span>
                Export Name:
                <input type="text" id="configurationname" />
            </span>
            <br /><br />
            <span id="cancelconfiguration" class="row-icon-button export-action-button" title="Cancel and close">
                <i class="fa fa-close"></i>
                <span>Cancel</span>
            </span>
            <span id="saveconfiguration" class="row-icon-button export-action-button" title="Save configuration">
                <i class="fa fa-save"></i>
                <span>Save</span>
            </span>
        </div>
    </div>
</div>
