﻿<div class="value-wrapper">
    <div class="title-workarea-excelexport"><%= Caption %></div>
    <select multiple="multiple" id="export-excel-value-<%= Definition %>" name="export-excel-value-<%= Definition %>" class="cvl-edit-control"></select>
</div>
