﻿
#start-main-container {
    display: table;
    border-spacing: 20px 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-left-style: solid;
    border-right-style: solid;
}

.start-section-col {
    display: table-cell;
    vertical-align: top;
    margin: 0 20px;
    width: 33%;
}

.start-section-col-double {
    display: table-cell;
    vertical-align: top;
    margin: 0 20px;
    width: 67%;
}

.start-section-col-for-two {
    display: table-cell;
    vertical-align: top;
    margin: 0 20px;
    width: 50%;
}

.start-section-box {
    margin-bottom: 20px;
}

.white-bottom-border {
    border-bottom: solid 1px #fff;
}

.grey-bottom-border {
    border-bottom: solid 1px #f3f3f3;
}

.white-box-link-area .progress-rect-foreground {
    background: #0071a5;
}

.progress-rect-start-page {
    margin-top: 10px;
}

.tasks-heading-box {
    padding: 6px 15px;
    color: #2d2d2c;
    font-size: 14px;
    font-weight: normal;
    height: 16px;
    cursor: pointer; 
}

.tasks-heading-box h2 {
    float: left;
    font-size: 14px;
}

.tasks-heading-box .showTasks {
    float: left;
}

.tasks-heading-box span {
    margin-left: 5px;
}

.tasks-heading-box2 {
    padding: 8px 15px;
    color: #fff;
    background-color: #0071a5; 
    /*color: #0071a5;
    border-bottom: 1px solid #0071a5;*/
    font-size: 16px;
    font-weight: normal;
    margin: 0 -1px;
    height: 20px;
}

.tasks-heading-box2 h2 {
    float: left;
    font-size: 16px;
}

.tasks-heading-box2 .showTasks {
    float: right;
}

.tasks-list {
    /*border: 1px solid #dddddd;*/
    border-top: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer; 
}




#tasks ul {
    padding-left: 10px;
}

.box-title {
    border-bottom: solid 2px #d33138;
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
    font-size: 20px;
    color: #2d2d2c;
    margin-bottom: 5px;
}

.box-sub-section {
    margin-bottom: 10px;
}

.box-title-icon {
    margin-right: 11px;
}

.white-box {
    background-color: #fff;
}

.white-box-link-area {
    padding: 10px 15px;
	
}

.white-box-link-area:hover {
    background-color: #f2f2f2;
    background-image: none;
}

.white-box li > a {
    display: block;
    height: auto;
    /*padding: 10px 10px;*/
}

.white-box li {
    font-size: 13px;
}

.white-box li .text1 {
    display: block;
    font-size: 14px;
    color: #2d2d2c;
}
 
.white-box li .text2 {
    display: inline-block;
    color: #aaa;
    margin-top: 5px;
}

.white-box .start-section-box .no-items-text {
    padding: 0 20px;
    font-style: italic;
    color: #aaa;
}

#starred-entities-content {
    display: inline-block;
}

.no-items-text {
    padding: 10px;
    font-style: italic;
}

.white-box li .left-area {
    display: inline-block;
    width: 250px;
}

.white-box li .completeness {
    float: right;
    color: #fff;
}

.cropped-image {
    width: 100%;
    height: 135px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.overlay-text1 {
    font-size: 16px;
    /*font-weight: bolder;*/
    /*line-height: 1.4;*/
    font-weight: bold;
    float: left;
    clear: both;
    background-color: #000000;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin-top: 80px;
    padding: 10px 10px;
}

#showMoreLink {
    text-align: center;
    color: #396580;
    padding: 6px;
    font-weight: bold;
    font-size: 90%;
    cursor: pointer;
}

#showMoreLink:hover {
    background-color: #eee;
}

#showAllStars, .showAllTasks {
    text-align: center;
    color: #0077B7;
    padding: 6px;
    font-size: 90%;
    cursor: pointer;
    clear: both;
    margin-right: 20px;
    margin-left: 10px;
}

#showAllStars:hover {
    color: #bbb;
}

.white-box .quicksearchbox, .cards-container, .pictures-container {
padding: 15px; 
    width: 100%;
}

.control-row-view-height {
 min-width: 1130px;
}

.openworkarea {
    min-width: 390px;
}

.white-box .quicksearchbox h3 {
    display: block;
}

/*input[type=text],
input[type=password],
select,
textarea {
    padding: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px #ccc solid;
} */
.loadingspinner {
    height: 70px;
    width: 100%;
    position: relative;
    top: 20px;
    left: 45%;

}

div.noresult {
    padding: 10px;
}

.start-section-box #dropzone-container {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.white-box .tools {
    padding: 15px; 
}

#work-area-content {
    padding-top: 10px;
}

.notification {
    padding: 5px;
    position: relative; 
}

.notification .text1 {
    float: left; 
    max-width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 2px; 
}

.notification .text2 {
    float: right;
    margin-right: 10px; 
    padding-top: 2px; 
}
.notification #contextmenu {
    float: right; 
}

.notified .text1, .notified .text2 {
    color: #0077B7; 
}

.group-sub-tasks {
    padding-left: 15px;
}