﻿@using Insite.WebFramework.Mvc.Extensions
@model IEnumerable<Insite.WebFramework.Mvc.NavLinkDto>

<div class="block breadcrumbs">
    <div class="block-wrapper">
        <ul>
            @{var count = Model.Count();}

            @foreach (var link in Model)
            {
                if (link.HasUrl())
                {
                    <li class="@(count-- != 2 ? "show-for-large" : "")">
                        <a href="@(link.RouteValues == null ? Url.Link(link) : RouteTable.Routes.GetVirtualPathForArea(null, link.RouteValues).VirtualPath)">
                            @link.LinkText
                        </a>
                    </li>
                }
                else
                {
                    <li class="@(link.IsSelected || link.IsSearchTerm ? "show-for-large current" : "")">
                        @if (link.IsSearchTerm)
                        {
                            <span>@link.LinkTextOptional <em>@link.LinkText</em></span>
                        }
                        else
                        {
                            <span>@link.LinkText</span>
                        }
                    </li>
                }
            }
        </ul>
    </div>
</div>