<div id="edit-panel"></div>
<div class="main">
    <div class="box">
        <div class="box-header">
            <h2><i class="fa fa-list icon-header"></i>CVL</h2>
            <div class="box-actions">
                <span title="Create CVL" class="row-icon-button query-action-button" id="newCvl">
                    <i class="fa fa-plus"></i>
                    <span class="workarea-tool-text">Create CVL</span>
                </span>
            </div>
        </div>
        <div class="box-content">
            <div id="cvl-list"></div>
        </div>
    </div>
</div>