<div class="box">
    <div class="box-header">
        <h2><%=cvlId%>&nbsp;(<%=dataType%>)</h2>
        <div id="message"></div>
    </div>
    <div class="box-content">
        <div id="cvl-details-container">          
            <div id="cvl-details"></div>
            <button class="btn" type="button" id="saveButton">Save</button>
            <button class="btn" type="button" id="cancelButton">Close</button>
        </div>
        <div class="hr"></div>  
        <button class="btn pull-right" type="button" id="newCvlValue"><i class="fa fa-plus"></i> Create CVL Value</button>
        <div id="cvl-content"></div>
    </div>
</div>