﻿<div class="footer">
    <div class="wrapper">
        
        <div class="row">
            <div class="column xlarge-7" data-equalize>
                <div class="lists">
                    <div class="row">
                        <div class="column large-4 list">
                            {% if Model.TitleColumn1 != '' %}
                                <h5 class="list-title">[[Model.TitleColumn1]]</h5>
                                <div class="list-wrapper">
                                    <div class="list-content">
                                        [[Model.LinksColumn1]]
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="column large-4 list">
                            {% if Model.TitleColumn2 != '' %}
                                <h5 class="list-title">[[Model.TitleColumn2]]</h5>
                                <div class="list-wrapper">
                                    <div class="list-content">
                                        [[Model.LinksColumn2]]
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="column large-4 list">
                            {% if Model.TitleColumn3 != '' %}
                                <h5 class="list-title">[[Model.TitleColumn3]]</h5>
                                <div class="list-wrapper">
                                    <div class="list-content">
                                        [[Model.LinksColumn3]]
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xlarge-5" data-equalize>
                <div class="content">
                    <div class="content-wrapper">
                        <h5 class="title">[[Model.TitleColumn4]]</h5>
                        <div class="editable">[[Model.RightContent]]</div>
                        {% if Model.FacebookUrl != "" || Model.TwitterUrl != "" || Model.GooglePlusUrl != "" %}
                            <ul class="social">
                                {% if Model.FacebookUrl != "" %}<li><a href="[[Model.FacebookUrl]]" target="_blank" title="Facebook" class="facebook"></a></li>{% endif %}
                                {% if Model.TwitterUrl != "" %}<li><a href="[[Model.TwitterUrl]]" target="_blank" title="Twitter" class="twitter"></a></li>{% endif %}
                                {% if Model.GooglePlusUrl != "" %}<li><a href="[[Model.GooglePlusUrl]]" target="_blank" title="Google+" class="google-plus"></a></li>{% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>