﻿<div class="block" ng-controller="UserDetailController as vm" ng-show="vm.ready" ng-cloak>
    <div class="block-wrapper">
        <div class="msg error" ng-if="vm.retrievalError">[% translate 'An error occured, please try again later.' %]</div>
        <div ng-show="!vm.retrievalError">
            <div class="msg success" ng-if="vm.userCreated || vm.activationEmailSent">
                <span ng-if="vm.userCreated">[% translate 'Store_UserSetup_UserCreated' %]</span>
                <span ng-if="vm.activationEmailSent">[% translate 'Store_UserSetup_ActivationEmailSent' %]</span>
            </div>
            <div class="msg success" ng-if="vm.changesSaved">[% translate 'Store_UserSetup_ChangeSaved' %]</div>
            <div class="msg success" ng-if="vm.userActivated">[% translate 'Store_UserSetup_UserActivated' %]</div>
            <div class="msg success" ng-if="vm.userDeactivated">[% translate 'Store_UserSetup_UserDeactivated' %]</div>

            <form id="usersetupform" name="usersetupform" ng-submit="vm.isNewUser ? vm.createUser() : vm.updateUser()" novalidate>

                <div class="msg error" ng-if="vm.generalError">{{vm.generalError}}</div>

                <div class="button-group" ng-if="!vm.isNewUser && vm.session.userName !== vm.user.userName">
                    <button type="button" class="button alt" ng-click="vm.deactivateUser()" ng-if="!vm.isDeactivated">[% translate 'Store_UserSetup_DeactivateUser' %]</button>
                    <button type="button" class="button alt" ng-click="vm.activateUser()" ng-if="vm.isDeactivated">[% translate 'Store_UserSetup_ActivateUser' %]</button>
                </div>

                <div class="fields">
                    <div class="row">
                        <div class="column medium-6">
                            <div class="field">
                                <label for="usersetup-username">[% translate 'Store_UserSetup_Username' %]</label>
                                <input type="text" id="usersetup-username" ng-if="vm.isNewUser" ng-model="vm.user.userName" name="userName" required/>
                                <div class="field-error" ng-if="vm.isSubmitted && usersetupform.userName.$error.required">[% translate 'Store_UserSetup_Username_Required' %]</div>
                                <div ng-if="!vm.isNewUser">
                                    <input type="text" id="usersetup-username" ng-model="vm.user.userName" readonly="readonly" disabled="disabled"/>
                                    <input type="hidden" ng-model="vm.user.userName"/>
                                </div>
                            </div>
                        </div>
                        <div class="column medium-6">
                            <div class="field">
                                <label for="usersetup-role">[% translate 'Store_UserSetup_UserRole' %] <button type="button" class="help" data-open="usersetup-role-modal"></button></label>
                                <select id="usersetup-role" ng-model="vm.currentRole" name="role" ng-options="role as role.name for role in vm.availableRoles track by role.id" required>
                                    <option value=""></option>
                                </select>
                                <div class="field-error" ng-if="vm.isSubmitted && usersetupform.role.$error.required">[% translate 'Store_UserSetup_UserRole_Required' %]</div>

                                <div id="usersetup-role-modal" class="reveal modal" data-reveal>
                                    <div class="modal-wrapper">
                                        <h4 class="modal-title">[% translate 'Store_UserSetup_UserRole' %]</h4>
                                        <div class="modal-content editable">[[Model.RoleInformation]]</div>
                                        <button type="button" class="modal-close" data-close></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!vm.isNewUser">
                        <div class="column medium-6" >
                            <div class="field">
                                <label for="usersetup-lastlogin">[% translate 'Store_UserSetup_LastSignIn' %]</label>
                                <input id="usersetup-lastlogin" type="text" ng-value="vm.user.lastLoginOn | date:'short'" readonly="readonly" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="column medium-6" ng-show="vm.user.activationStatus != 'Activated'">
                            <div class="field-help side-medium">
                                <span ng-if="!vm.isDeactivated">
                                    <span ng-if="!vm.activationEmailSent && (vm.user.activationStatus == 'EmailNotSent' || vm.user.activationStatus == '')">[% translate 'Store_UserSetup_EmailNotSent' %]</span>
                                    <span ng-if="vm.activationEmailSent || vm.user.activationStatus == 'EmailSent'">[% translate 'Store_UserSetup_EmailSent' %]</span>
                                    <br/>
                                    <button type="button" ng-click="vm.onSendActivationEmailClick()">
                                        {{(vm.activationEmailSent || vm.user.activationStatus == 'EmailSent') ? '[% translate 'Store_UserSetup_ResendActivationEmail' %]' : '[% translate 'Store_UserSetup_SendActivationEmail' %]'}}
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column medium-6">
                            <div class="field">
                                <label for="usersetup-firstname">[% translate 'Store_UserSetup_FirstName' %]</label>
                                <input id="usersetup-firstname" type="text" ng-model="vm.user.firstName" name="firstName" required />
                                <div class="field-error" ng-if="vm.isSubmitted && usersetupform.firstName.$error.required">[% translate 'Store_UserSetup_FirstName_Required' %]</div>
                            </div>
                        </div>
                        <div class="column medium-6">
                            <div class="field">
                                <label for="usersetup-lastname">[% translate 'Store_UserSetup_LastName' %]</label>
                                <input id="usersetup-lastname" type="text" ng-model="vm.user.lastName" name="lastName" required />
                                <div class="field-error" ng-if="vm.isSubmitted && usersetupform.lastName.$error.required">[% translate 'Store_UserSetup_LastName_Required' %]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column medium-6">
                            <div class="field">
                                <label for="usersetup-email">[% translate 'Store_UserSetup_EmailAddress' %]</label>
                                <input id="usersetup-email" type="email" ng-model="vm.user.email" name="emailAddress" required/>
                                <div class="field-error" ng-if="vm.isSubmitted && usersetupform.emailAddress.$error.required">[% translate 'Store_UserSetup_EmailAddress_Required' %]</div>
                                <div class="field-error" ng-if="vm.isSubmitted && !usersetupform.emailAddress.$error.required && usersetupform.emailAddress.$invalid">[% translate 'Store_UserSetup_EmailAddress_Invalid' %]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.isNewUser">
                        <div class="column medium-6">
                            <div class="field">
                                <input id="usersetup-autoSendActivationEmail" type="checkbox" ng-model="vm.autoSendActivationEmail"/>
                                <label for="usersetup-autoSendActivationEmail">[% translate 'Store_UserSetup_SendActivationEmail' %]</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="button-group spaced separate text-right">
                    <a class="button alt ico-back" href="[% urlForPage 'UserListPage' %]">[% translate 'Store_UserSetup_Back' %]</a>
                    <button type="submit" class="button">{{vm.isNewUser ? "[% translate 'Store_UserSetup_Create' %]" : "[% translate 'Store_UserSetup_Save' %]"}}</button>
                </div>
            </form>
        </div>
    </div>
</div>