<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-lock icon-header"></i>Model</h2>
            </div>
            <div class="box-content">
                <h2>Download current model</h2>
                <p>
                    <span>Download the current model as an xml file</span>
                    <br/><br/>
                    <span><label><input type="checkbox" id="cvlvalues" />Include CVL Values</label></span>
                    <div id="downloadModelButton"></div>
                </p>
                <div class="hr"></div>
                <h2>Download Schema</h2>
                <span>Download schema for an entity as an xsd file</span>
                <br />
                <div id="entityTypes"></div><br /><br />
                <div id="model-list"></div>
                <div class="hr"></div>
                 <h2>Import new model</h2>
                <span><b>Note!</b> Importing a new model as an xml file to the server will remove all existing data from the system</span>
                <br /><br />
                <div id="uploadFileContainer">

                    <form id="form1" method="post" enctype="multipart/form-data">
                        <span id="selectedFileName"></span>
                        <input name="file" id="file" type="file" />
                        <br /><br />
                        <div id="uploadModelButton"></div>
                    </form>

                    <!--<button type="submit" class="imageButton btn btn-primary" href="#">
                    <i class="fa fa-upload"></i> Upload
                    </button>-->
                    <br />
                    <br />
                    <div id="uploadResult"></div>
                </div>
                <div class="hr"></div>
                <h2>Reload model from server</h2>
                <span><b>Information!</b> This might be necessary in case you makes changes in the model, similar as recycle application pool for the web site.</span>
                <br /><br />
                <div id="resetModelButton"></div>
            </div>
        </div>
    </div>
</div>