﻿<div id="entity-area" class="entity-area-small">
    <div id="entityDetailUpper" class="entity-tab">
        <div class="entity-row-view-height">
            <div class="entity-title-image" style='background-image: url("<%= data.PictureUrl.replace("SmallThumbnail", "Preview") %>");'></div>
            <div id="control-row-content">
                <span id="entity-view-title-area">

                    <div class="entity-view-title-text-area">
                        <div>
                            <span class="entity-view-title-text">
                                <img src="../icon?id=<%= icon %>&color=white" title="<%= data.EntityTypeDisplayName %>" /><span><%= data.DisplayName %></span>
                                <i class="fa fa-lock" id="entitylocked" style="font-size: 14px; font-weight: normal; <% if (data.LockedBy == null || data.LockedBy == " "){ %>display:none;<%}%>" title="Locked by <%= data.LockedBy%>"></i>
                            </span>
                        </div>
                        <div class="entity-view-title-text2"><%= data.DisplayDescription %></div>
                        <!--<% if (data.FieldSetName!= null) { %>
                        <div class="card-view-fieldset" title="Entity is assigned to <%= data.FieldSetName %> fieldset"><%= data.FieldSetName %></div>
                        <% } %>-->
                    </div>
                </span>
                <span class="control-row-tab-area">
                    <span class="control-row-tab-button control-row-tab-button-active" id="tab-overview">
                        <!--<div class="icon-entypo-fix-list large-entypo-fix-icon control-row-tab-icon"></div>-->
                        Overview
                    </span>
                    <span class="control-row-tab-button" id="tab-details">
                        <!--<div class="icon-entypo-fix-list large-entypo-fix-icon control-row-tab-icon"></div>-->
                        Details
                    </span>
                    <% _.each(editTemplates, function(template) { %>
                    <span class="control-row-tab-button custom-editor" id="tab-custom-editor-<%= template.Id %>" template-id="<%= template.Id %>">
                        <%= template.Name %>
                    </span>
                    <% }); %>
                    <% if (data.HasSpecificationRelation || data.EntityType == "Specification"){ %>
                    <span class="control-row-tab-button" id="tab-specification">
                        Specification
                    </span>
                    <% } %>
                    <div class="control-row-tab-button" id="tab-media">
                        <!--<div class="icon-entypo-fix-picture large-entypo-fix-icon control-row-tab-icon"></div>-->
                        Media
                    </div>
                    <div class="control-row-tab-button" id="tab-includes">
                        <!--<div class="icon-entypo-fix-link large-entypo-fix-icon control-row-tab-icon"></div>-->
                        Includes
                    </div>
                    <div class="control-row-tab-button" id="tab-includedin">
                        <!--<div class="icon-entypo-fix-link large-entypo-fix-icon control-row-tab-icon"></div>-->
                        Included In
                    </div>
                    <div class="control-row-tab-button" id="tab-merchandising">
                        <!--<div class="icon-entypo-fix-link large-entypo-fix-icon control-row-tab-icon"></div>-->
                        Merchandising
                    </div>
                    <!-- <div class="control-row-tab-button" id="tab-channels">
                         Used in
                     </div>-->
                </span>
                <div class="control-row-tool-area">
                    <% if (data.LockedBy== null || data.LockedBy== "" || data.LockedBy == userName) { %>
                    <span title="Edit Entity" class="icon-entypo-fix-pencil std-entypo-fix-icon control-row-icon-button" id="edit-button"></span>
                    <% } %>

                    <% if (data.Starred == "1") { %>
                    <span title="Un-star Entity" class="icon-entypo-fix-star std-entypo-fix-icon control-row-icon-button" id="star-button"></span>
                    <% } else{ %>
                    <span title="Star Entity" class="icon-entypo-fix-star-empty std-entypo-fix-icon control-row-icon-button" id="star-button"></span>
                    <% } %>

                    <% if (data.LockedBy!= "" && data.LockedBy == userName) { %>
                    <span title="Unlock entity" id="unlock-button" class="control-row-icon-button fa fa-unlock"></span>
                    <span title="Lock entity" id="lock-button" class="control-row-icon-button fa fa-lock" style="display:none"></span>
                    <% } else if (data.LockedBy == null || data.LockedBy== "") { %>
                    <span title="Unlock entity" id="unlock-button" class="control-row-icon-button fa fa-unlock" style="display:none"></span>
                    <span title="Lock entity" id="lock-button" class="control-row-icon-button fa fa-lock"></span>
                    <% } %>

                    <% if (commentsExists) { %>
                    <span title="View and create comments" class="fa fa-comments-o control-row-icon-button" id="entity-comments-button"></span>
                    <%} else {%>
                    <span title="View and create comments" class="fa fa-comment-o control-row-icon-button" id="entity-comments-button"></span>
                    <%}%>

                    <span title="Create Task" class="icon-entypo-fix-clipboard std-entypo-fix-icon control-row-icon-button" id="add-task-button"></span>

                    <span title="Copy Entity" class="fa fa-files-o control-row-icon-button" id="entity-copy-button"></span>

                    <% if (previewTemplateIsAvailable) { %>
                    <span id='preview-button' title="Preview" class="fa-eye fa control-row-icon-button"></span>
                    <% } %>
                    <% if (pdfTemplateIsAvailable) { %>
                    <span id='pdf-button' title="PDF" class="fa-file-pdf-o fa control-row-icon-button"></span>
                    <% } %>

                    <span title="System Information" class="icon-entypo-fix-info-circled std-entypo-fix-icon control-row-icon-button" id="system-button"></span>
                    <span id='delete-button' title="Delete" class="fa-trash-o fa control-row-icon-button"></span>


                </div>
                <div class="entityclosearea">
                    <span class="fa fa-times control-row-icon-button" title="Close entity area" id="closeentity"></span>
                </div>

                <div id="control-row-indicator-area">
                    <% if (data.Completeness!=null) { %>
                    <div class="completeness">
                        <span class="percent" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></span><span class="pie" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></span><!--<div class="timer fill" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></div>-->

                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="entity-top-info-container">
        </div>
    </div>

</div>
