﻿<div class="overdiv"></div>
<div class="<%= className %>">
    <div id="<%= id %>">
        <div class="popup-wrap">
            <% if (size != "preview"){ %>
            <div class="popup-header-row">
                <span class="popup-header-text">
                    <span class="popup-header">
                        <%= header %>
                    </span>
                    <span class="popup-header-description">
                        <%= description %>
                    </span>
                </span>
                <span id="main-header-buttons">
                    <% if (usesavebutton && usesavebutton == true) { %>
                    <button disabled="disabled" id="save-form-button">Save</button>
                    <button id="cancel-form-button">Cancel</button>
                    <% } else { %>

                    <span title="Close popup window" class="fa fa-times control-row-icon-button" id="close-icon"></span>
                        
                    <% } %>
                </span>
            </div>
            <% } else { %>

            <span title="Close popup window" class="fa fa-times control-row-icon-button" id="close-icon"></span>

            <% } %>
            <div id="contentarea"></div>
        </div>
    </div>
</div>
