﻿<div class="supplier-card-picture-area">
    <div class="supplier-card-picture-frame">
        <img class="supplier-logo-image" src="" />
    </div>
</div>
<div class="supplier-card-text-area">
    <div class="card-tool-area">
        <span title="Open latest pending upload for <%= supplier.name %>" class="icon-entypo-fix-upload std-entypo-fix-icon row-icon-button latest-pending-upload-supplier-button"></span>
        <span title="Go to supplier (<%= supplier.name %>) settings" class="icon-entypo-fix-pencil std-entypo-fix-icon row-icon-button" id="edit-supplier-button"></span>
    </div>
    <div class="card-text1" title="<%= supplier.name %>"><%= supplier.name %></div>

    <%if(pendingUploadModelId){%>
    <div class="card-text2" id="card-text2-<%= pendingUploadModelId %>">
    <%} else {%>
    <div class="card-text2">
    <%}%>
        <span class="card-text2-supplier-name"></span>

        <%if( supplier.latestActivity ){%>
        <span class="card-text2-supplier-latest-activity">Latest Activity: <%=supplier.latestActivity%></span>
        <%} else {%>
        <span class="card-text2-supplier-latest-activity">No activity</span>
        <%}%>
    </div>
</div>
