﻿#app-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

#appMenu {
    background-color: #dddddd;
    /*border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;*/
    display: none;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .95;
    -webkit-opacity: .95;
    -moz-opacity: .95;
    filter: alpha(opacity=95);
    z-index: 1000;
    margin-top: -1in;
}

#app-background.active, #appMenu.active {
    display: block;
}

#appMenu-launcher {
    /*margin-top: 10px;*/
    display: inline-block;
    float: left;
    cursor: pointer;
}

#appMenu-launcher i {
    line-height: 50px;
}

#appMenu li {
    list-style-type: none;
    float: left;
}

#appMenu .app-title {
    box-sizing: border-box;
    /*box-shadow: 5px 5px 2px #dddddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;*/
    padding: 15px 15px;
    width: 150px;
    text-transform: uppercase; 
    letter-spacing: -1px;
    font-size: 19px;
    background-color: #d33138;
    color: #fff;
    height: 115px;
    text-align: center;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
}

#appMenu li .app-title:hover {
    outline: 3px solid #ffffff;
}

.app-tools #create-connector-container
{
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden; 
}
