﻿<nav class="main-menu">
    <div class="main">
        <div>
            <ul>
                <li ng-repeat="category in vm.categories"><a ng-href="{{category.path}}">{{category.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="sub">
        <div>
            <ul>
                <li>
                    <a href="[% urlForPage 'DealerLocatorPage' %]" ng-if="!vm.location">[% translate 'Store_DealerLocator' %]</a>
                    <a href="[% urlForPage 'DealerLocatorPage' %]" ng-if="vm.location">
                        <span class="name">[% translate 'Store_DealerLocator' %]</span>
                        <span class="info">{{vm.location.warehouse.displayName}}</span>
                    </a>
                </li>
                <li><a href="[% translate 'Store_ContactUsUrl' %]">[% translate 'Store_ContactUs' %]</a></li>
                <li><a href="[% translate 'Store_ProductWarrantyUrl' %]">[% translate 'Store_ProductWarranty' %]</a></li>
            </ul>
        </div>
    </div>
</nav>