﻿<div >
    <div class="entitytypecard" id="<%= model.Id%>">
        <div class="icon">
            <img src="../icon?id=<%= model.Id %>&size=small" title="<%= model.DisplayName %>" /> 
        </div>
        <div class="text"><%= model.DisplayName%></div>

</div>

</div>