﻿<div>
    <div class="">
        <div class="">
            <h3>Create new Entity</h3>
        </div>

    </div>
    <div class="settings-view-top-offset-1">
        <div id="main-client-area" class="entity-type-select">
            <!--<span>Select Entity Type</span>-->
            <div id="entity-type-area"></div>
        </div>
    </div>
</div>