﻿@using System.Web.Optimization
@using Insite.Core.Context
@using Insite.WebFramework.Mvc.Extensions
@model Insite.QuickOrder.Content.OrderUploadPage

@Scripts.Render("/SystemResources/Scripts/Libraries/xlsx/0.8.0/xlsx.full.min.js")
@Scripts.Render("/SystemResources/Scripts/Libraries/papaparse/4.1/papaparse.min.js")

@Html.Zone(Model, "TopContent")

@if (SiteContext.Current.UserProfile != null)
{
    <div class="block">
        <div class="block-wrapper">
            <div class="account-grid">
                <div class="side">
                    <store-my-account-menu current-page="OrderUploadPage"></store-my-account-menu>
                </div>
                <div class="content">
                    <div class="block sub group collapse">
                        <div class="block-wrapper">
                            @Html.Zone(Model, "Content")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Zone(Model, "Content")
}

@Html.Zone(Model, "BottomContent")