﻿@using Absolunet.InRiver.AdminWebsite.Services
@model Absolunet.InRiver.AdminWebsite.ViewModels.ToolsViewModel

@{
    ViewBag.Title = Resources.Tools.ToolsTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="columns small-12">@Resources.Tools.ToolsTitle</h1>
</div>

@*<div class="row">
    <div class="medium-12 columns">
        <div class="panel-box">
            <div class="panel-title">
                <h2>@Resources.Tools.RestartQueueButton</h2>
            </div>
            <div class="panel-core">
                <p>@Resources.Tools.RestartQueueMessage</p>
                <a class="button btn-restart-queue" href="javascript:void(0)" data-action="@Url.Action("TaskQueueRestart", "Tools")" role="button">@Resources.Tools.RestartQueueButton</a>
            </div>
        </div>
    </div>
</div>*@

@if (SecurityService.UserIsInRole(Constants.Roles.Admin))
{
    <div data-component="tools">
        <div class="row tool-resync" data-equalizer="">
            @using (Html.BeginForm("CVLFormSubmit", "Tools", FormMethod.Post, new {id = "ToolsCVLForm"}))
            {
                <div class="medium-4 columns">
                    <div class="panel-box" data-equalizer-watch="">
                        <div class="panel-title">
                            <h2>@Resources.Tools.ResyncCVLLabel</h2>
                        </div>
                        <div class="panel-core">
                            <div class="form-group">
                                @if (Model.CVLResyncSuccess)
                                {
                                    <div class="callout success">
                                        @Resources.Tools.SuccessLabel
                                    </div>
                                }

                                @Html.HiddenFor(m => m.SelectedCVLChannel)
                                @for (var i = 0; i < Model.ToolsProductFormViewModels.Count; i++)
                                {
                                    @Html.EditorFor(x => Model.ToolsCVLFormViewModels[i])
                                }

                            </div>
                        </div>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            }

            @using (Html.BeginForm("ProductFormSubmit", "Tools", FormMethod.Post, new {id = "ToolsProductForm"}))
            {
                <div class="medium-4 columns">
                    <div class="panel-box" data-equalizer-watch="">
                        <div class="panel-title">
                            <h2>@Resources.Tools.ResyncProductsLabel</h2>
                        </div>
                        <div class="panel-core">
                            <div class="form-group">

                                @if (Model.ProductsResyncSuccess)
                                {
                                    <div class="callout success">
                                        @Resources.Tools.SuccessLabel
                                    </div>
                                }

                                @Html.HiddenFor(m => m.SelectedProductsChannel)
                                @for (var i = 0; i < Model.ToolsProductFormViewModels.Count; i++)
                                {
                                    @Html.EditorFor(x => Model.ToolsProductFormViewModels[i])
                                }

                            </div>
                        </div>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            }

            @using (Html.BeginForm("CategoriesFormSubmit", "Tools", FormMethod.Post, new {id = "ToolsCategoriesForm"}))
            {
                <div class="medium-4 columns">
                    <div class="panel-box" data-equalizer-watch="">
                        <div class="panel-title">
                            <h2>@Resources.Tools.ResyncCategoriesLabel</h2>
                        </div>
                        <div class="panel-core">
                            <div class="form-group">

                                @if (Model.CategoriesResyncSuccess)
                                {
                                    <div class="callout success">
                                        @Resources.Tools.SuccessLabel
                                    </div>
                                }

                                @Html.HiddenFor(m => m.SelectedCategoriesChannel)
                                @for (var i = 0; i < Model.ToolsCategoryFormViewModels.Count; i++)
                                {
                                    @Html.EditorFor(x => Model.ToolsCategoryFormViewModels[i])
                                }

                            </div>
                        </div>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            }
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <div class="panel-box">
                    <div class="panel-title">
                        <h2>@Resources.Tools.TestConnectionsTitle</h2>
                    </div>
                    <div class="panel-core clearfix">

                        <p>@Resources.Tools.TestConnectionsRestTitle</p>
                        <a class="button" data-component="btn-test-rest" href="javascript:void(0)" data-action="@Url.Action("TestRESTConnections", "Tools")" role="button">@Resources.Tools.TestConnectionsRestButton</a>
                        <div data-component="rest-test-results"></div>

                        <p>@Resources.Tools.TestConnectionsSshTitle</p>
                        <a class="button" data-component="btn-test-ssh" href="javascript:void(0)" data-action="@Url.Action("TestSSHConnections", "Tools")" role="button">@Resources.Tools.TestConnectionsSshButton</a>
                        <div data-component="ssh-test-results"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}