﻿<div id="market-main-container">
    <div id="marker-planner-menu">
        <span class="market-control-row-tab-area">
            <span class="market-control-row-tab-button market-control-row-tab-button-active" id="tab-notanswered">
                <!--<div class="icon-entypo-fix-list large-entypo-fix-icon control-row-tab-icon"></div>-->
                Not answered
            </span>
            <span class="market-control-row-tab-button" id="tab-answered">
                <!--<div class="icon-entypo-fix-list large-entypo-fix-icon control-row-tab-icon"></div>-->
                Answered
            </span>
            <div class="market-control-row-tab-button" id="tab-completed">
                <!--<div class="icon-entypo-fix-picture large-entypo-fix-icon control-row-tab-icon"></div>-->
                Completed
            </div>
            <div class="market-control-row-tab-button" id="tab-cancelled">
                <!--<div class="icon-entypo-fix-link large-entypo-fix-icon control-row-tab-icon"></div>-->
                Cancelled
            </div>
            <span class="market-control-row-action-button" id="action-reload">
                <i class="fa fa-refresh"></i>
            </span>
        </span>
    </div>
    <div id="market-planner-table-container">
    </div>
</div>
