﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.Order.Content.OrderDetailPage

<div class="row main-row ma-order-details">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>