﻿<div class='box-content'>
    <div id='form-container' class='std-content-store-backbone-form'></div>
    <div>
        <!--<button id="publish-channel">Publish</button>
        <button id="unpublish-channel">Unpublish</button>-->

        <span id="publish-channel" class="row-icon-button query-action-button" title="">
            <i class="fa fa-arrow-circle-o-right"></i>
            <span class="workarea-tool-text">Publish</span>
        </span>
        <span id="unpublish-channel" class="row-icon-button query-action-button" title="">
            <i class="fa fa-times"></i>
            <span class="workarea-tool-text">Unpublish</span>
        </span>
    </div>
</div>
