﻿<li>
    <div class="connector-card-wrap" id="<%= data.Id%>">
        <div>
            <div class="card-tool-area">
                <div id="contextmenu"></div>
            </div>
        </div>
        <div class="card-text-area">
            <div class="card-text1">
                <% if (data.IsStarted) { %>
                <span id="connector-icon-<%= data.Id%>" title="Connector is started" class="fa fa-plug std-entypo-fix-icon green-icon-button"></span>
                <% } else { %>
                <span id="connector-icon-<%= data.Id%>" title="Connector is not started" class="fa fa-plug std-entypo-fix-icon control-row-icon-button"></span>
                <% } %>
                &nbsp;&nbsp;<%= data.Id %>
            </div>
            <div class="card-text2"><%= data.TypeName %></div>
        </div>
    </div>
</li>
