﻿<div id="entity-area" class="entity-area-small connector-area">
<div id="entityDetailUpper" class="entity-tab">
    <div class="entity-row-view-height">
        <div class="entity-title-image" style='background-image: url(/images/nopicture.png) %>);'></div>
        <div id="control-row-content">
            <span id="entity-view-title-area">
                <div class="entity-view-title-text-area">
                    <div>
                        <span class="entity-view-title-text">
                            <% if (data.IsStarted) { %>
                            <span id="connector-icon-<%= data.Id%>" title="Connector is started" class="fa fa-plug std-entypo-fix-icon green-icon-button"></span>
                            <% } else { %>
                            <span id="connector-icon-<%= data.Id%>" title="Connector is not started" class="fa fa-plug std-entypo-fix-icon control-row-icon-button"></span>
                            <% } %>
                            &nbsp;&nbsp;<%= data.Id %>&nbsp;
                        </span>
                    </div>
                    <div class="entity-view-title-text2"><%= data.TypeName %></div>
                </div>
            </span>
            <span class="control-row-tab-area">
                <span class="control-row-tab-button control-row-tab-button-active" id="tab-monitor">
                    <span class="fa fa-desktop"></span>
                        Monitor
                    </span>
                <span class="control-row-tab-button" id="tab-details">
                    <span class="fa fa-wrench"></span>
                        Settings
                    </span>
                <span class="control-row-tab-button" id="tab-config">
                    <span class="fa fa-cog"></span>
                        Configure
                    </span>

            </span>
            <div class="control-row-tool-area">
                <span title="Stop" class="fa fa-toggle-on control-row-icon-button" id="stop-button"<% if (!data.IsStarted) { %> style="display:none"<% }%>></span>
                <span title="Start" class="fa fa-toggle-off control-row-icon-button" id="start-button"<% if (data.IsStarted) { %> style="display:none"<% }%>></span>
                <span title="View Events" class="icon-entypo-fix-flag std-entypo-fix-icon control-row-icon-button" id="view-events"></span>
                <span title="Delete" class="fa fa-trash-o control-row-icon-button" id="delete-button"></span>
            </div>
        </div>
        <div id="entity-top-info-container">
        </div>
    </div>
</div>
</div>