﻿<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <iframe src="../../../../Admin/Integration/ExtendedImport.aspx" id="mapping-based-frame" style="min-height: 550px; width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
    </div>
</div>
