﻿@model Absolunet.InRiver.AdminWebsite.ViewModels.LoginViewModel

@{
    ViewBag.Title = Resources.Login.LoginTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LoginSubmit", "Login", FormMethod.Post, new { id = "LoginForm" }))
{
    @Html.AntiForgeryToken()

    <div class="medium-4 columns medium-offset-4 login-box end">
        <div class="panel-box">
            <div class="panel-title">
                <h2>@Resources.Login.LoginLabel</h2>
            </div>
            <div class="panel-core">
                <form>
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <label for="Username">@Resources.Login.UsernameLabel</label>
                        @Html.TextBoxFor(m => m.Username)
                    </div>
                    <div class="form-group">
                        <label for="Password">@Resources.Login.PasswordLabel</label>
                        @Html.TextBoxFor(m => m.Password, new { type = "password" })
                    </div>
                    @Html.HiddenFor(m => m.ReturnUrl)
                    <button type="submit" class="button">@Resources.Login.SubmitButton</button>
                </form>
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()
}