//-------------------------------------
//-- Utils: Mixins core
//-------------------------------------

//-- Background image
@mixin bg-image-mixin ($file, $component, $inline:false, $width:false, $height:false, $color:false) {

	// uri
	$uri: '';
	@if $inline {
		$inline-image-path: assets-path($file, $component, 'inline');

		@if str-index($file, '.svg') {
			$svg: nwayorb-read-file($inline-image-path);

			@if $color {

				// single color
				@if type-of($color) == 'color' {
					$svg: color-replace($svg, $svg-replacement-1, $color);

				// list
				} @else if type-of($color) == 'list' {
					@for $i from 1 through length($color) {
						$svg: color-replace($svg, nth($svg-replacement, $i), nth($color, $i));
					}

				// hash
				} @else {
					@each $source, $target in $color {
						$svg: color-replace($svg, $source, $target);
					}
				}
			}

			$uri: svg-data-uri($svg);

		} @else {
			$uri: nwayorb-inline-image($inline-image-path);
		}

	} @else {
		$uri: url(assets-path($file, $component, 'images'));
	}

	// high density
	@if str-index($file, '@2x') {
		$path: 'components/' + $component + '/assets/' + if($inline, 'inline-', '') + 'images/' + $file;
		$width:  if($width, $width, image-width($path));
		$height: if($height, $height, image-height($path));

		@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
			background-image: $uri;
			background-size: $width / 2 $height / 2;
		}

		$uri: str-replace($uri, '@2x', '');
	}

	background-image: #{$uri};
}


//-- Scalable icon
@mixin scalable-icon-mixin ($file, $component, $color:false) {
	@include bg-image-mixin($file, $component, $inline:true, $color:$color);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}




//-- Font-face
@mixin load-font-mixin ($name, $filename, $component, $weight:normal, $style:normal) {
	$url:   assets-path($filename, $component, 'fonts');
	$woff2: if(nwayorb-file-exists($konstan-path-nwayoroot + '/components/' + $component + '/assets/fonts/' + $filename + '.woff2'), url($url + '.woff2') format('woff2') + ',', '');
	@font-face {
		font-family: $name;
		font-weight: $weight;
		font-style: $style;
		src: #{$woff2} url($url + '.woff');
	}
}
