﻿@using Insite.WebFramework.Mvc.Extensions
@using Insite.ContentLibrary.Pages
@model Footer

@if (!ExcludeCmsCss)
{
    @Html.Raw(Model.Css)
}

@if (!ExcludeCmsJs)
{
    @Html.Script(@<text>@Html.Raw(Model.JavaScript)</text>)
}

@Html.Zone(Model, "Content")

<div class="bottom-nav">
    <div class="bottom-nav-wrapper">
        [% translate 'Store_Copyright' %]
    </div>
</div>