﻿<div class="block group order-steps" ng-controller="StoreCheckoutOrderReviewController as vm" ng-cloak cart-url="[% urlForPage 'CartPage' %]">
    <div class="block-wrapper">
        <store-checkout-breadcrumb active-step="order-review"></store-checkout-breadcrumb>
        <div class="block" ng-if="vm.cart.cartLines.length === 0">
            <div class="block-wrapper editable">
                <p>[% siteMessage 'Cart_NoOrderLines' %]</p>
            </div>
        </div>
        <div class="block order-review" ng-if="vm.cart.cartLines.length > 0">
            <div class="block-wrapper">
                <div class="msg error" ng-if="vm.submitErrorMessage">{{vm.submitErrorMessage}}</div>
                <div class="msg error" ng-if="vm.genericError">[% translate 'Store_Checkout_OrderReview_ValidationFailed' %]</div>
                <div class="msg error" ng-if="vm.addressError">[% translate 'Store_Checkout_OrderReview_AddressError' %]</div>

                <store-checkout-order-review-details cart="vm.cart" location="vm.location"
                    show-terms-and-conditions="vm.showTermsAndConditions"
                    is-pick-up="vm.isPickUp"
                    warehouse="vm.warehouse"
                    next-step-enabled="vm.canPlaceOrder && vm.cart.canCheckOut"
                    next-step-visible="true"
                    next-step="vm.submit('[% urlForPage 'CheckoutOrderConfirmationPage' %]', '[% urlForPage 'SignInPage' %]')"
                    navigate-url="[% urlForPage 'CheckoutOrderDetailsPage' %]"
                    navigate-text="[% translate 'Store_Checkout_Step_Edit' %]"
                    navigate-class="ico-back">
                </store-checkout-order-review-details>
            </div>
        </div>
    </div>
</div>