﻿@using inRiver.Web.Misc
@using Newtonsoft.Json
@{
    ViewBag.Title = "Enrich";
}

<div id="appmenu-container"></div>
<div id="modalWindow" style="display: none"></div>
<div id="loading-spinner-container">
    <img src="~/Images/nine-squares-32x32.gif" />
    <h2>Loading data</h2>
</div>
<div id="workarea-container"><div id="workarea-left"></div><div id="workarea-right"></div></div>

<div id="main-container"></div>
<div class="clearfix"></div>

<footer></footer>
<script data-main="../../Scripts/enrich/js/main" src="~/Scripts/libs/require/require.js"></script>

<script type="text/javascript">
    
    var appSession = {
        entityViewTabId: "tab-overview"
    };
    
</script>