﻿<div class="card-tools">
    <div class="card-tools-header" id="<%= id %>-show">
        <i class="fa fa-navicon"></i>
    </div>
    <div id="card-tools-container" class="card-tools-container" style="display: none">
        <div id="close-tools-container">
            <span title="Close" class="fa fa-times"></span>
        </div>
        <div id="tools"></div>


    </div>
</div>
