﻿<span id="<%= data.name %>">
    <% if (_.isArray(data.icon)) { %>
    <span title="<%= data.title %>" data-id="<%= id %>" data-link-id="<%= linkId %>" class="fa-stack fa-lg control-row-icon-button">
        <% for (i = 0; i < data.icon.length; i++) { %>
        <i class="fa <%= data.icon[i] + ' fa-stack-' + i + 'x' %>"></i>
        <% } %>
    </span>
    <span><%= data.text %></span><br />
    <% } else { %>
    <span title="<%= data.title %>" data-id="<%= id %>" data-link-id="<%= linkId %>" class="<%= data.icon %> control-row-icon-button"></span><span><%= data.text %></span><br />
    <% } %>
</span>