﻿<div>
    <div class='box-title'>
        <span class='fa fa-arrow-circle-o-right std-entypo-fix-icon box-title-icon'></span>Channel
    </div>
    <div class='connector-box-content'>
        <div id='form-container' class='xconnect-backbone-form'>
            <label>Channel</label>
            <select id="channel-list"></select>
        </div>
        <div>
           <!-- <button id="publish-channel">Publish</button>
            <button id="unpublish-channel">Unpublish</button>-->

            <span id="publish-channel" class="row-icon-button query-action-button" title="">
                <i class="fa fa-arrow-circle-o-right"></i>
                <span class="workarea-tool-text">Publish</span>
            </span>
            <span id="unpublish-channel" class="row-icon-button query-action-button" title="">
                <i class="fa fa-times"></i>
                <span class="workarea-tool-text">Unpublish</span>
            </span>
        </div>
    </div>
</div>