﻿<div class="box-title">
    <span class="icon-entypo-fix-flag std-entypo-fix-icon box-title-icon"></span>Latest Events
</div>
<div id="latest-events-overview-dataview">
    <div class="wpr-width-limited-container">
        <div id="latest-events-area">
            <ul id="latest-event-list" class="flat-ul"></ul>
        </div>
    </div>
</div>
