﻿<div id="main-client-area" class="modal-fixed-details">
    <div id="copy-from-specification">
        <div class="copy-from-header-row">
            <div class="copy-from-name-column" style="margin-left: 20px;">Name</div>
            <div class="copy-from-description-column">Description</div>
        </div>
        <div>
            <div class="copy-from-checkbox"><input id="toggle-all" type="checkbox" /></div>
            <div class="copy-from-name-column"><input class="copy-from-specification-textbox" id="nameFilterInput" type="text" /></div>
            <div class="copy-from-description-column"><input class="copy-from-specification-textbox" id="descriptionFilterInput" type="text" /></div>
        </div>
        <% var i = 0; %>
        <% _.each(entities, function(entity) { %>
        <% if(i%2 == 0){ %>
        <div class="copy-from-content-row copy-from-even-row" filter-str-name="<%= entity.DisplayName.toLowerCase() %>" filter-str-desc="<%= entity.DisplayDescription.toLowerCase() %>" data-id="<%= entity.Id %>">
            <% } else {%>
            <div class="copy-from-content-row" filter-str-name="<%= entity.DisplayName.toLowerCase() %>" filter-str-desc="<%= entity.DisplayDescription.toLowerCase() %>" data-id="<%= entity.Id %>">
                <% } %>
                <div class="copy-from-checkbox"><input type="checkbox" id="toggle-checkbox" data-id="<%= entity.Id %>" /></div>
                <div class="copy-from-name-column"><div title="<%= entity.DisplayName %>"><span><%= entity.DisplayName %></span></div></div>
                <div class="copy-from-description-column"><div title="<%= entity.DisplayDescription %>"><span><%= entity.DisplayDescription %></span></div></div>
                <% i++; %>
            </div>
            <% }); %>
        </div>
    </div>
</div>

