﻿<div id="main-client-area">
    <div class="details-view-tools-row">
        <span id="selected-template-name" class="content-area-tools nolink">
            Template: <%= Name %>
        </span>
        <% if(HasTemplate){%>
        <span class="content-area-tools" id="expand"><i class="fa fa-plus-square-o row-icon-button" title="Expand all categories"></i> Expand all</span>
        <span class="content-area-tools" id="collapse"><i class="fa fa-minus-square-o row-icon-button" title="Collapse all categories"></i> Collapse All</span>
        <span class="content-area-tools" id="open-template-button"><i class="fa fa-list row-icon-button" title="Open specification template entity"></i> Open Template</span>
        <span class="content-area-tools" id="copy-from-button"><i class="fa fa-copy row-icon-button" title="Select a entity to copy specification data from"></i> Copy From</span>
        <span class="content-area-tools" id="copy-to-button"><i class="fa fa-copy row-icon-button" title="Select entities to copy specification data to"></i> Copy To</span>
        <% } %>
        <span class="content-area-tools" id="select-template-button"><i class="fa fa-folder-open row-icon-button" title="Select specification template"></i> Select Template</span>
        <span class="content-area-tools" id="entity-detail-settings-undo-all-button"><i class="fa fa-undo row-icon-button" title="Undo all changes"></i> Undo</span>
        <span class="content-area-tools" id="entity-detail-settings-save-all-button"><i class="fa fa-floppy-o row-icon-button" title="Save all changes"></i> Save</span>
    </div>
    <div id="details-view-wrap">

    </div>
</div>