﻿<li class="specification-template-field-item" data-id="<%=data.Id%>">
    <div class="specification-template-field-name">
        <span><%=data.DisplayName%></span><i id="specification-template-edit-field" class="fa fa-pencil row-icon-button"></i>
    </div>

    <div class="specification-template-column">
        <span class="label"><%=data.SpecificationDataType%>
        <% if(data.SpecificationDataType == "CVL") { %>
            &nbsp;(<%=data.CVLId%>)
        <% } %>
        </span>
    </div>

    <div class="specification-template-column">
        <% if(unitDisplayValue) { %>
        <span class="label">Unit: </span><span><%=unitDisplayValue%></span>
        <% } %>
    </div>
    
    <div class="specification-template-column">
        <% if(data.Mandatory) { %>
        <span class="label">Mandatory</span>
        <% } %>
    </div>

    <div class="specification-template-column">
        <% if(data.Multivalue) { %>
        <span class="label">Multivalue</span>
        <% } %>
    </div>
    
    <div class="specification-template-column">
        <% if(!data.Enabled) { %>
        <span class="label">Disabled</span>
        <% } %>
    </div>

    <i id="specification-template-delete-field" class="fa fa-trash row-icon-button"></i>
</li>