﻿<div class="lightboard-preview-popup-wrap">
    <div id="specification-template-edit-field-wrap">
        <div id="specification-template-edit-field-form-wrap">
            <div id="form-container" class="delete-category-form"></div>
            <button id="specification-template-delete-confirm">Delete Selected Category</button>
        </div>
    </div>
    <button id="specification-template-delete-cancel">Cancel</button>
</div>