﻿<div id="main-client-area">
    <div class="details-view-tools-row">
        <span class="content-area-tools" id="specification-template-expand"><i class="fa fa-plus-square-o row-icon-button" title="Expand all categories"></i> Expand All</span>
        <span class="content-area-tools" id="specification-template-collapse"><i class="fa fa-minus-square-o row-icon-button" title="Collapse all categories"></i> Collapse All</span>
        <span class="content-area-tools" id="specification-template-add-unit"><i class="fa fa-arrows-h row-icon-button" title="Add Unit"></i> Add Unit</span>
        <span class="content-area-tools" id="specification-template-manage-categories"><i class="fa fa-cog row-icon-button" title="Manage Categories"></i> Manage Categories</span>
        <span class="content-area-tools" id="specification-template-show-all-entities"><i class="fa fa-search row-icon-button" title="Show all entities using this template"></i> Show All Entities</span>
        <span class="content-area-tools" id="add-specification-category"><i class="fa fa-plus row-icon-button" title="Add Category"></i> Add Category</span>
        <span class="content-area-tools" id="add-specification-field"><i class="fa fa-plus row-icon-button" title="Add Field"></i> Add Field</span>
    </div>


    <div id="specification-template-view-wrap">
        <ul id="field-list" class="flat-ul">

        </ul>
    </div>
</div>