<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-flag icon-header"></i>Languages</h2>
                <div class="box-actions">
                    <!--<button class="btn" type="button" id="newLanguage"><i class="fa fa-plus"></i> Add Language</button>-->
                    <span title="Create Language" class="row-icon-button query-action-button" id="newLanguage">
                        <i class="fa fa-plus"></i>
                        <span class="workarea-tool-text">Create Language</span>
                    </span>
                </div>
            </div>
            <div class="box-content">
                <div id="languages-list">
                </div>
            </div>
        </div>
    </div>
</div>	