<div class="box">
    <div class="box-header">
        <h2><!--<i class="fa fa-edit"></i>-->Create Language</h2>
    </div>
    <div class="box-content">
        <!--<div id="view-header"></div>-->
        <div id="language-content"></div>
    </div>
</div>