<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
	<script language="c#" runat="server">
		public void Page_Load(object sender, EventArgs e)
		{
		  throw new MulticastNotSupportedException();
		}
	</script>
        
    </div>
    </form>
</body>
</html>
