﻿@using Insite.Core
@using Insite.Core.Context
@using Insite.WebFramework.Mvc.Extensions
@model Insite.Rfq.Content.RfqQuoteDetailsPage

<div class="row main-row ma-quote-details @(SiteContext.Current.UserProfile.Salespersons.Count > 0 ? "ma-sales":"")">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>