﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.UserAdministration.UserListPage

<div id="tst_userListPage" class="row main-row ma-user-administration">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>