﻿<div class="comment-user-thread-container" id="thread-<%= commentId %>">
    <div class="comment-user-name-container">
        <div id="comment-created-by"> <span title="View and add comments" class="fa fa-comment control-row-icon-button comment-user"></span><%= username %></div><div id="comment-created"> <%= created %> </div></div>
    <div class="comment-user-text-container" id="text-<%= commentId %>" title="press to copy"><%= text %></div>
    <div class="comment-delete-thread-container" id="delete-<%= commentId %>" title="Delete comment"><span class="fa fa-trash-o row-icon-button"></span></div>
</div>