﻿<div id="contentwrapper">
    <div id="comment-market-selection-container">

        <% if(market != null) { %>
        <label>Market</label>
        <select id="comment-market-dropdown">
            <option value="General">General</option>
            <% var i = 0; %>
            <% _.each(market.Value, function(v) { %>
            <option value="<%= v %>"><%= market.DisplayValue[i] %></option>
            <% i++; %>

            <% }); %>
        </select>
        <% } %>
    </div>
    <div id="comment-threads-container">
    </div>
    <div id="comment-showall-container">
    </div>
    <div id="comment-response-container">
        <textarea></textarea>
    </div>
    <div id="comment-buttons-container">
        <div id="comment-response-buttons-container">
            <span id="comment-response-submit" class="comment-button row-icon-button" title="Save comment"><span class="fa fa-save"></span> Save</span>
            <span id="comment-response-cancel" class="comment-button row-icon-button" title="Cancel and close"><span class="fa fa-remove"></span> Cancel</span>
        </div>
        <div id="comment-history-buttons-container">
            <span id="comment-delete-thread" class="comment-button row-icon-button" title="Delete thread"><span class="fa fa-trash-o"></span> Delete thread</span>
        </div>
    </div>
</div>