<div id="top-header-content">
    <div id="top-header-left">
        <span>
           
           <!-- <a href="/app/portal"><img alt="inRiver" style=" float: left; margin-top: 6px; margin-right: 5px;" height="32" src="/Images/inRiver_Symbol_White_32x32px.png" /></a>-->
        </span>
        <span id="site-header" class="top-header-leftaligned">
            
            <% if (app == undefined) {
                var app = []; 
                app.url = "/app/portal";
                app.name = "inRiver";
            }
            %>

            <a href="<%= app.url %>#home"><span class="top-header-title"><i class="fa <%= app.icon %>"></i> <%= app.name %></span></a>
            
        </span>
        <div id="appMenu-launcher"><i class="fa fa-angle-down fa-2x"></i></div>
        <div id="context-menu-container-left" title="<%= app.name %> tools">
            
        </div>
    </div>
    <div id="top-header-right">
        <div id="menu-buttons">
            <div id="personalSettings" class="top-header-rightaligned">
                <a id="mySettingsButton" class="top-header-hover-control"><i class="fa fa-user"></i> <span> <%= appHelper.userDisplayName %></span></a>
                <ul class="dropdown-menu" style="display:none">
                    <li><a href="#" id="user-settings-link"> <span class="fa fa-cog"></span> User Details</a></li>
                    <% if(appHelper.authenticationType != "ADFS"){ %>
                    <li><a id="sign-out" href="/Auth/SignOut"><span class="fa fa-sign-out"></span> Sign out</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div id="search-container">
        </div>
        <div id="context-menu-container" title="<%= app.name %> tools">
        </div>
    </div>
</div>