//-------------------------------------
//-- Store - Bottom nav
//-------------------------------------

.bottom-nav {
	border-top: $footer-bar-border;
	background-color: $footer-bar-bg-color;
	color: $footer-bar-text-color;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4;

	.bottom-nav-wrapper {
		@include site-width-styles;
		padding-top: 20px;
		padding-bottom: 16px;
	}
}
