//-------------------------------------
//-- Store - Footer
//-------------------------------------

.footer {
	border-top: $footer-border;
	background-color: $footer-bg-color;
	color: $footer-text-color;

	@include each-breakpoint {
		@if (max-breakpoint(medium)) {
			@include map-get($side-spacing, $bp-name) {
				.lists {
					margin-right: -$map-value;
					margin-left: -$map-value;

					.list-title {
						padding-right: $map-value + 24px;
						padding-left: $map-value;

						&::before, &::after {
							margin-right: $map-value;
						}
					}

					.list-content {
						padding-right: $map-value;
						padding-left: $map-value;
					}
				}
			}
		}
	}

	a {
		color: inherit;
		text-decoration: underline;

		#{$hover-selector} {
			color: inherit;
			text-decoration: underline;
		}
	}

	.wrapper {
		@include site-width-styles;
	}

	.list-title, .title {
		margin-bottom: 12px;
		color: $footer-title-color;
		font-size: 15px;
		font-weight: $bold-weight;
		text-transform: uppercase;
	}

	.lists {
		overflow: hidden;

		.list-title {
			@include accordion-state-styles;
			padding-top: 13px;
			padding-bottom: 13px;
		}

		.list-wrapper {
			overflow: hidden;
			height: 0;
			border-bottom: 1px solid $footer-border-color;
			transition: height $animation-transition $animation-easing;
		}

		.list-content {
			padding-bottom: 16px;

			li {
				line-height: 1.3;
				+ li { margin-top: 10px; }
			}

			a {
				text-decoration: none;
				#{$hover-selector} { text-decoration: underline; }
			}
		}

		.list.on .list-title::after { display: none; }
	}

	.content {
		@include spacing-styles($map:$gutter-spacing, $type:padding, $side:(left), $min-bp: xlarge);
		padding: 30px 0;
		text-align: center;

		.content-wrapper {
			max-width: 600px;
			margin: 0 auto;
		}

		p {
			margin-bottom: .8em;
			&:last-child { margin-bottom: 0; }
		}

		.social {
			margin-top: 16px;
			font-size: 20px;
			line-height: 1;

			.cms-zone & li { display: inline-block; } // insite page-edit fix...

			li {
				display: inline-block;
				list-style: none;
				width: 2em;
				height: 2em;
				padding: 0;
				+ li { margin-left: 6px; }
			}

			a {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
				border: 2px solid $footer-text-color;
				border-radius: 50%;
				background-color: $footer-bg-color;
				color: inherit;
				text-align: center;
				text-decoration: none;
				line-height: 1;
				transition: color $hover-transition $hover-easing, border-color $hover-transition $hover-easing, background-color $hover-transition $hover-easing;

				#{$hover-selector} {
					border-color: transparent;
					background-color: $footer-text-color;
					color: $footer-bg-color;
					text-decoration: none;
				}

				&::before {
					@include ico-font();
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0);
				}

				&.facebook::before { content: $ico-facebook-char; }
				&.twitter::before { content: $ico-twitter-char; }
				&.google-plus::before { content: $ico-google-plus-char; }
			}
		}
	}

	//-- Queries

	@media #{bp(medium down)} {
		margin-top: 0;

		.list-title {
			margin-bottom: 0;
			cursor: pointer;
		}
	}

	@media #{bp(large)} {
		padding: 30px 0;

		.lists {
			margin-right: 0;
			margin-left: 0;

			.list-title {
				padding: 0;
				cursor: auto;
				&::before, &::after { display: none; }
			}

			.list-wrapper {
				overflow: visible;
				height: auto !important;
				border-bottom: 0;
				transition: none;
			}

			.list-content {
				padding: 0;
			}
		}

		.content {
			padding-bottom: 0;
			border-top: 1px solid $footer-border-color;
			margin-top: 30px;
		}
	}

	@media #{bp(xlarge)} {
		padding: 40px 0;

		.content {
			padding-top: 0;
			border-top: 0;
			border-left: 1px solid $footer-border-color;
			margin-top: 0;
			text-align: left;
			.content-wrapper { max-width: none; }
		}
	}
}
