﻿<div id="start-main-container">
    <div class="start-section-col-double">
        <div class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-flag std-entypo-fix-icon box-title-icon"></span>Ongoing Events
            </div>
            <div id="ongoing-events-list">No events found</div>
        </div>
        <div class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-flag std-entypo-fix-icon box-title-icon"></span>Past Events
            </div>
            <div id="filter-container"></div>
            <div id="past-events-list"></div>
        </div>
        <div id="latest-events-overview-dataview" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-flag std-entypo-fix-icon box-title-icon"></span>Queued Events
            </div>
            <div id="queued-events-list">No events found</div>
        </div>
    </div>
    <div class="start-section-col">
        <div id="latest-events-from-connectors" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-flag std-entypo-fix-icon box-title-icon"></span>Latest Events
            </div>
            <div id="latest-events-list" class="flat-ul"></div>
        </div>
    </div>
</div>