﻿<div class="filter-control">
    <div>
        <span class="filter-label">Event Type</span>
        <select id="filter-event-types">
            <option selected="selected" value="">All</option>
            <% _.each(eventtypes, function(eventtype) { %>
            <option value="<%= eventtype.Id %>"><%= eventtype.Id %></option>
            <% }); %>
        </select>
    
    </div>
    <div>
        <span class="filter-label">Status</span>
        <select id="filter-status">
            <option selected="selected" value="">All</option>
            <option value="false">OK</option>
            <option value="true">Failed</option>
        </select>
    </div>
    <div >
        <span class="filter-label">Start Time</span>
        <input id="filter-start-time">
    </div>
    <div>
        <span class="filter-label">End Time</span>
        <input id="filter-end-time">
    </div>
</div>