﻿    <li class="white-bottom-border">
        <a href="#entity/<%=model.Id%>">
            <div class="cropped-image" style="background-image: url('<%=model.PictureUrl.replace("Small", "")%>');">
                <span class="overlay-text1"><%=model.DisplayName%></span>
            </div>
        </a>
    </li>

