﻿<li class="white-bottom-border" id="<%=model.ActivityId%>">
    <a class="white-box-link-area" href="#entity/<%=model.CampaignId%>/activity/<%=model.ActivityId%>">
        <div class="text1"><%=model.DisplayName%></div>
        <div class="text2"><%=model.CampaignDisplayName%></div>

        <% if (model.Completeness != null) { %>

        <div class="completeness-small">
            <span class="percent"></span><span class="pie" title="<%= model.DisplayName %> is <%= model.Completeness %>% complete"></span>
        </div>

        <% } %>
    </a>
</li>