﻿<div id="start-main-container">

    <div class="start-section-box start-section-col">

        <div class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-clock std-entypo-fix-icon box-title-icon"></span>Ongoing
            </div>
            <div id="ongoing">

                <ul id="ongoing-list" class="flat-ul"></ul>


            </div>
            <div id="noongoing" class="no-items-text" style="display: none">This list is empty</div>
        </div>
    </div>
    <div class="start-section-col">

        <div class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-star std-entypo-fix-icon box-title-icon"></span>My Starred Entities
            </div>
            <div id="starred">
                <ul id="starred-list" class="flat-ul"></ul>

            </div>
            <div id="nostarred" class="no-items-text" style="display: none">You have no starred entities</div>

        </div>
    </div>

<div class="start-section-col">
    <!--<div id="this-weeks-activities" class="start-section-box">
        <div class="box-title">
            <span class="icon-entypo-fix-calendar std-entypo-fix-icon box-title-icon"></span>This week's activities
        </div>
        <div class="white-box">
            <div id="thisweek"></div>
            <ul id="week-activities-list" class="flat-ul"></ul>

            <div id="nothisweek" class="no-items-text" style="display: none">There are no Activities this week</div>

        </div>
    </div>-->


    <div id="mytask" class="start-section-box">
        <div class="box-title">
            <span class="icon-entypo-fix-clipboard std-entypo-fix-icon box-title-icon"></span>Tasks Assigned To Me
        </div>
        <div class="white-box">
            <div class="loadingspinner">
                <img src="/Images/nine-squares-32x32.gif" />
            </div>
        </div>
    </div>
    <div id="createdtask" class="start-section-box">
        <div class="box-title">
            <span class="icon-entypo-fix-clipboard std-entypo-fix-icon box-title-icon"></span>Tasks created by me
        </div>
        <div class="white-box">
            <div class="loadingspinner">
                <img src="/Images/nine-squares-32x32.gif" />
            </div>
        </div>
    </div>
    <div id="groupstasks" class="start-section-box">
        <div class="box-title">
            <span class="icon-entypo-fix-clipboard std-entypo-fix-icon box-title-icon"></span>My Groups Tasks
        </div>
        <div class="white-box">
            <div class="loadingspinner">
                <img src="/Images/nine-squares-32x32.gif" />
            </div>
        </div>
    </div>
</div>
</div>
 