﻿#import-data {
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 5px;
    float: left;
    cursor: pointer;
    text-align: center;
}

    #import-data div span {
        color: #0071a5;
    }

#import-drop-zone {
    width: 200px;
}

#upload-media-container {
    margin-top: 100px;
}

#dropzone-buttons {
    float: right;
}

#wizard-drop-zone-box {
    height: 80%;
}

#dropzone-buttons {
    margin-right: 10px;
}

#drop-zone-message {
    left: 50%;
    position: absolute;
    top: 40%;
}

#media-dropzone {
    left: 5px;
    right: 35px;
    border: 2px dashed #2d2d2c;
    top: 20px;
    overflow: auto;
    bottom: 10px;
    position: absolute;
}

#dropzone-container {
    /*border: 2px dashed #396580;*/
    max-height: 80%;
}

.dz-image-preview {
    width: 120px;
    padding: 5px;
}

#drop-zone2 {
    /*left: 50%;*/
    top: 145px;
    overflow: auto;
    position: absolute;
    height: 65%;
    width: 100%;
}

#import-dropzone {
    border: 2px dashed #2d2d2c;
    margin-bottom: 10px;
}


#upload-media {
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 5px;
    float: left;
    cursor: pointer;
    text-align: center;
}

    #upload-media div span {
        color: #0071a5;
    }

.wizard-container {
    margin-top: 100px;
    margin-left: 5px;
}

#wizard-drop-zone-box {
    margin-top: 20px;
    border: 2px dashed #0071a5;
}

/**Import configuration START*/

.import-label {
    margin-bottom: 10px;
    width: 150px;
    float: left;
    /*color: #0d4163;*/
}

.import-control {
    float: left;
    color: #333;
    width: 150px;
}

    .import-control input {
        margin: 0;
    }

.clear {
    clear: both;
}

#import-configuration h2 {
    margin: 0;
    margin-bottom: 10px;
}

#import-configuration .fa-wrench {
    margin-right: 5px;
}

#import-configuration .icon-entypo-fix-shuffle {
    margin-right: 5px;
}

.import-mapping-column-left {
    margin-bottom: 10px;
    width: 300px;
    float: left;
}

.import-mapping-column-right {
    margin-bottom: 10px;
    float: left;
}

.import-mapping-language {
}

.import-mapping-fields {
}

.import-settings-row {
    margin-bottom: 15px;
}

#import-configuration h2 { 
    border-bottom: 2px solid #eee;
    padding-bottom: 2px;
}

#import-configuration #showEmptyColumns,
#import-configuration #clearEmptyValue {
    margin-top: 4px;
}

#mapping {
    width: 132px;
}

#selectEntityType {
    width: 132px;
}

#do-cancel-mapping {
    cursor: pointer;
    font-weight: normal;
    font-size: 15px;
}
  #do-cancel-mapping .fa{
        margin-right: 3px;
    }

#do-save-mapping {
    cursor: pointer;
    font-weight: normal;
    font-size: 15px;
    margin-right: 5px;
}
    #do-save-mapping .fa{
        margin-right: 3px;
    }



/**Import configuration END*/

/*Import Validation start */

#confirm-container {
    margin-top: 100px;
    text-align: center;
}

#review-area-container {
    float: left;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    /*font-size: 14px;*/
    top: -20px;
    position: relative;
    background: #eeeeee;
    max-width: 230px;
}

    #review-area-container ul {
        list-style: none;
    }

    #review-area-container li {
        margin-top: 5px;
    }

.review-area {
    padding: 10px 30px 15px 10px;
    /*background-color: #f4f4f4;
    min-height: 200px;
    min-width: 100px;*/
    margin-left: 13px !important;
}

    .review-area a {
        padding: 5px;
        color: #666666;
    }

        .review-area a:hover {
            /*background-color: #eee;*/
        }

        .review-area a.active {
            color: #000;
            font-weight: bold;
        }

    .review-area i, .validate-fields .main-header .error {
        color: darkred;
    }

    .review-area i, .validate-fields .main-header .success {
        color: darkgreen;
    }

.validate-header {
}

#review-area-container .tasks-heading-box {
    padding: 8px 0 0;
    height: inherit;
    display: inline-block;
}

.main-header-row {
    margin-left: 10px;
    line-height: 26px;
    margin-bottom: 30px;
}

#import-validation #inriver-fields-form-area {
    position: inherit;
}

#import-validation .width-limited-container i {
    color: #d33138;
}

div#import-row-container {
}

    div#import-row-container table {
        width: 100%;
        border: 1px solid #dddddd;
        border-spacing: 0px;
    }

    div#import-row-container tr.border_bottom td, div#import-row-container tr.border_bottom th {
        border-bottom: 1px solid #dddddd;
        padding-top: 4px;
        padding-bottom: 4px;
        clear: both;
        min-height: 20px;
        padding-left: 10px;
    }

    div#import-row-container th, div.import-row-container td {
        text-align: left;
    }

/**Import validation END*/

/*WIZARD START*/

.wizard,
.tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
}


    .wizard a,
    .tabcontrol a {
        outline: 0;
    }


    .wizard ul,
    .tabcontrol ul {
        list-style: none !important;
        padding: 0;
        margin: 0;
    }


        .wizard ul > li,
        .tabcontrol ul > li {
            display: block;
            padding: 0;
        }


    /* Accessibility */
    .wizard > .steps .current-info,
    .tabcontrol > .steps .current-info {
        position: absolute;
        left: -999em;
    }


    .wizard > .content > .title,
    .tabcontrol > .content > .title {
        position: absolute;
        left: -999em;
    }

    /* 
     Wizard 
 */


    .wizard > .steps {
        position: relative;
        display: block;
        width: 100%;
    }


    .wizard.vertical > .steps {
        display: inline;
        float: left;
        width: 30%;
    }


    .wizard > .steps .number {
        font-size: 1.429em;
    }


    .wizard > .steps > ul > li {
        width: 25%;
    }


    .wizard > .steps > ul > li,
    .wizard > .actions > ul > li {
        float: left;
    }


    .wizard.vertical > .steps > ul > li {
        float: none;
        width: 100%;
    }

    .wizard > .steps a,
    .wizard > .steps a:hover,
    .wizard > .steps a:active {
        display: block;
        width: auto;
        margin: 0 0.5em 0.5em;
        padding: 1em 1em;
        text-decoration: none;
    }

    .wizard > .steps .disabled a,
    .wizard > .steps .disabled a:hover,
    .wizard > .steps .disabled a:active {
        background: #eee;
        color: #2d2d2c;
        cursor: default;
        border: solid 2px #2d2d2c;
    }

    .wizard > .steps .current a,
    .wizard > .steps .current a:hover,
    .wizard > .steps .current a:active {
        background: #2d2d2c;
        color: #fff;
        cursor: default;
        margin-top: 2px;
    }

    .wizard > .steps .done a,
    .wizard > .steps .done a:hover,
    .wizard > .steps .done a:active {
        background: #eee;
        color: #2d2d2c;
        cursor: default;
        border: solid 2px #2d2d2c;
        margin-top: 0;
    }


    .wizard > .steps .error a,
    .wizard > .steps .error a:hover,
    .wizard > .steps .error a:active {
        background: #d33138;
        color: #fff;
    }

    .wizard > .steps .current span {
        padding-bottom: 2px;
         border-bottom: #fff solid 2px;
    }


    .wizard > .content {
        right: 15px;
        left: 20px;
        top: 180px;
        bottom: 80px;
        border: solid 1px #eee;
        display: block;
        margin: 0.5em;
        /*   min-height: 30em;*/
        overflow: auto;
        overflow-x: hidden;
        position: absolute;
        width: auto;
    }

    .wizard.vertical > .content {
        display: inline;
        float: left;
        margin: 0 2.5% 0.5em 2.5%;
        width: 65%;
    }


    .wizard > .content > .body {
        float: left;
        position: absolute;
        width: 95%;
        /*    height: 95%;*/
        padding: 10px;
    }


        .wizard > .content > .body ul {
            list-style: disc !important;
        }


            .wizard > .content > .body ul > li {
                display: list-item;
            }


        .wizard > .content > .body > iframe {
            border: 0 none;
            width: 100%;
            height: 100%;
        }


        .wizard > .content > .body input {
            display: block;
            border: 1px solid #ccc;
        }


            .wizard > .content > .body input[type="checkbox"] {
                display: inline-block;
            }


            .wizard > .content > .body input.error {
                background: rgb(251, 227, 228);
                border: 1px solid #fbc2c4;
                color: #8a1f11;
            }


        .wizard > .content > .body label {
            display: inline-block;
            margin-bottom: 0.5em;
        }

            .wizard > .content > .body label.error {
                color: #8a1f11;
                display: inline-block;
                margin-left: 1.5em;
            }


    .wizard > .actions {
        right: 15px;
        bottom: 30px;
        position: absolute;
        display: block;
        text-align: right;
        width: 100%;
    }


        .wizard > .actions > ul {
            display: inline-block;
            text-align: right;
        }

            .wizard > .actions > ul > li {
                margin: 0 0.5em;
            }

        .wizard > .actions a,
        .wizard > .actions a:hover,
        .wizard > .actions a:active {
            background: #d33138;
            color: #fff;
            display: block;
            padding: 0.5em 1em;
            text-decoration: none;
        }

        .wizard > .actions .disabled a,
        .wizard > .actions .disabled a:hover,
        .wizard > .actions .disabled a:active {
            background: #eee;
            color: #aaa;
            visibility: hidden;
        }

#save-mapping-dialog {
    margin-top: 5px;
    margin-bottom: 5px;
}

#mapping-name {
    margin-left: 10px;
    margin-right: 15px;
}

.wizard > .loading {
}

    .wizard > .loading .spinner {
    }

