﻿<li>
    <div class="publication-entity-card-wrap" id="card-<%= data.Id%>">
        <div class="card-picture-area">
            <div class="card-picture-frame">
                <div class="card-picture" title="<%= data.DisplayName %>"  style="background: url(<%= data.PictureUrl.replace('Preview', 'SmallThumbnail') %>); background-size: contain; background-repeat: no-repeat; background-position: center;" />
            </div>
        </div>
        <div class="card-tool-area">
            <div id="contextmenu"></div>
        </div>
        <div class="card-text1" title="<%= data.DisplayName %>"><img src="../icon?id=<%= data.EntityType %>" title="<%= data.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= data.DisplayName %><% if (data.LockedBy != null && data.LockedBy != "") { %>&nbsp;<i class="fa fa-lock" style="font-size: 14px; font-weight: normal;" title="Locked by <%= data.LockedBy%>"></i><% } %></div>

        <div class="card-text2" title="<%= data.DisplayDescription %>"><%= data.DisplayDescription %></div>
        <% if (data.FieldSetName!= null) { %>
        <div class="card-view-fieldset" title="Enityt is assigned to <%= data.FieldSetName %> fieldset"><%= data.FieldSetName %></div>
        <% } %>
    </div>
</li>
