﻿.workarea-header-vertical {
    display: inline;
    width: 30px;
    height: 100%;
    float: left;
    border: solid 1px #2d2d2c;
    margin-left: 15px;
    margin-top: 30px;
}

.workarea-header-horisontal {
    display: inline;
    width: 279px;
    height: 24px;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
  /*  position: fixed;*/
}

.workarea-header-label-vertical {
    transform: rotate(90deg);
    transform-origin: 3% 60%;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 3% 60%
    display: block;
    width: 390px;
    margin-top: 37px;
    cursor: pointer;
}

.workarea-header-label-horisontal {
    display: none;
    margin-top: 4px;
    margin-left: 4px;
    color: #396580;
}
    
#workarea-header-toggle-button {
    margin-top: 35px;
    margin-left: -20px;
    position: fixed;
    cursor: pointer;
}
#workarea-header-container .fa-angle-left {
    margin-left: 0 !important;
}

#workarea-header-toggle-button {
   margin-left: -20px;
}



#workarea-header-space {
    margin-left: -10px;
    position: fixed;
    width: 10px;
    background: #fff;
}
.ui-resizable-e, .ui-resizable-n {
    background-color: yellow; 
}


.ui-resizable-n {
width: 100%;
height: 8px;
padding: 0 1px;
cursor: row-resize;
position: absolute;
top: 0;
left: -5px;
background: #ffffff url(/Images/handle-h.png) 50% 3px no-repeat;
}
.ui-resizable-e {
width: 8px;
height: 100%;
padding: 0;
cursor: col-resize;
position: absolute;
top: 0;
background: #ffffff url(/Images/handle-v.png) 3px 50% no-repeat;
    right: 0;

}