﻿<div class='box-content'>
    <div class="color-picker-ctl">
        <span class="edit-content-store-label">Name</span>
        <input id="edit-content-store-name" type="text" class="edit-content-store-textbox" />
    </div>
    <div class="color-picker-ctl">
        <span class="edit-content-store-label">Default Entity Types</span>
        <select id="edit-content-store-default-entity-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
    </div>
    <div class="edit-content-store-setting-wrap">
        <span class="edit-content-store-label">HTML Templates</span>
        <select id="edit-content-store-html-templates" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
    </div>
    <div class="color-picker-ctl">
        <span class="edit-content-store-label">Background Color</span>
        <span id="edit-content-store-pick-background-color" class="edit-content-store-pick-color">
            <input type="text" />
        </span>
    </div>
    <div class="color-picker-ctl">
        <span class="edit-content-store-label">Text Color</span>
        <span id="edit-content-store-pick-text-color" class="edit-content-store-pick-color">
            <input type="text" />
        </span>
    </div>
    <div>
        <span class="edit-content-store-label">Logo Image</span>
        <div class="edit-content-store-setting-wrap">
            <div id="edit-content-store-logo-preview-wrap">
                <img id="edit-content-store-logo-preview" src="" />
            </div>
            <div id="edit-content-store-file-upload-wrap" class="row-icon-button query-action-button">
                <span id="edit-content-store-file-upload">
                    <i class="fa fa-upload"></i>
                    <span id="" class="workarea-tool-text">Upload Image</span>
                    <img id="file-upload-spinner" src="/images/ajax-loader.gif" />
                </span>
            </div>

        </div>
    </div>
</div>
