﻿<div id="node-area" class="node-area-small">
    <div id="nodeDetail" class="node-tab">
        <div class="node-row-view-height">
            <div id="node-control-row-content">
                <span id="node-view-title-area">
                    <div class="node-view-title-text-area">
                        <div>
                            <span class="node-view-title-text">
                                <img src="../icon?id=<%= data.EntityType %>" title="<%= data.EntityTypeDisplayName %>" /><span><%= data.FullDisplayName %></span>
                                <i class="fa fa-lock" id="entitylocked" style="font-size: 14px; font-weight: normal; <% if (data.LockedBy == null || data.LockedBy == " "){ %>display:none;<%}%>" title="Locked by <%= data.LockedBy%>"></i>
                            </span>
                           
                        </div>
                    </div>
                </span>
                <span class="control-row-tab-area">
                    <span class="node-tab-button" id="tab-node-content">
                        Content
                    </span>
                    <span class="node-tab-button" id="tab-node-details">
                        Details
                    </span>
                    <span class="node-tab-button" id="tab-node-configure">
                        Configure
                    </span>
                  
                </span>
                
                <div class="control-row-tool-area">
                    <% if (data.LockedBy== null || data.LockedBy== "" || data.LockedBy == userName) { %>
                    <span title="Edit Entity" class="icon-entypo-fix-pencil std-entypo-fix-icon node-row-icon-button" id="edit-node-button"></span>
                    <% } %>

                    <% if (data.Starred == "1") { %>
                    <span title="Un-star Entity" class="icon-entypo-fix-star std-entypo-fix-icon node-row-icon-button" id="star-node-button"></span>
                    <% } else{ %>
                    <span title="Star Entity" class="icon-entypo-fix-star-empty std-entypo-fix-icon node-row-icon-button" id="star-node-button"></span>
                    <% } %>
                    <div id="contextmenu"></div>                    
                </div>
               
                <div id="row-indicator-area">
                    <% if (data.Completeness!=null) { %>
                    <div class="completeness" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete">
                        <span class="percent"></span><span class="pie"></span><!--<div class="timer fill" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></div>-->

                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="node-info-container">
        </div>
    </div>
    </div>