﻿<div>
    <% var entity; if(direction == "outbound") {entity = model.TargetEntity}else{entity = model.SourceEntity} %>
    <% var name = entity.DisplayName; %>
    
    <% var cardSize = "card-wrap-large";%>
    <% var picSize = "card-picture-frame-large";%>
    <% if (size =="small"){cardSize = "card-wrap";picSize = "card-picture-frame";} %>

    <div class="<%=cardSize%> <% if (active != 'active') { %> relation-inactive<%} %>" id="card-<%= entity.Id %>">
        <div class="card-picture-area">
            <div class="<%=picSize%>">
                <div class="card-picture" style="background: url(<%= entity.PictureUrl.replace('Preview', 'SmallThumbnail')%>); background-size: contain; background-repeat: no-repeat; background-position: center;" title="<%= name %>">
                </div>
            </div>
        </div>
        <div id="contextmenu"></div>

        <% if (entity.Completeness!=null) { %>
        <div class="completeness-small"><span class="pie" title="<%=name %> is <%= entity.Completeness %>% complete"></span></div>
        <% } %>
        
        <div class="card-text1" title="<%= name %>"><img src="../icon?id=<%= entity.EntityType %>" title="<%= entity.EntityType %>"/>&nbsp;&nbsp; <%= name %>
        </div>
        <div class="card-text2-large" title="<%= entity.DisplayDescription %>"><%= entity.DisplayDescription %></div>
    </div>
</div>