﻿<div>
    <div class="relation-sub-section-wrap" id="<%= model.LinkEntity.Id %>">
        <div class="relation-sub-section-title">
            <span class="relation-sub-section-title-text"><%= model.LinkEntityName %> - <%= model.LinkEntityDescription %></span>
            <div class="showLinkTypes" id="<%= model.LinkEntity.Id %>-show">
                <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display:none"></i>
                <span title="Edit Entity" class="icon-entypo-fix-pencil std-entypo-fix-icon control-row-icon-button" id="edit-link-button"></span>
                <span class="add-entity-withentity-button icon-entypo-fix-plus std-entypo-fix-icon control-row-icon-button" title="Add and link new entity" id="EntityType-<%= entitytypeid %>"></span>
            </div>
        </div>
        <div id="relation-sub-section-container">
        </div>
    </div>
</div> 