﻿<div>
    <div class="relation-section-wrap" id="<%= model.Id %>" linkentitytypeid="<%= model.LinkEntityTypeId %>">
        <div class="relation-section-title">
            <div class="showLinkTypes" id="<%= model.Id %>-show">
                <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display:none"></i>
            </div>
            <span class="relation-section-title-text"><%= model.Name %></span>
         </div>
        <div id="relation-section-container">
            
            <div class="dropplaceholder">
                <% var cardwrapclass="card-wrap-large"; 
                if (type=="list"){
                    cardwrapclass="card-wrap"; 
                } %>
                <div class="<%=cardwrapclass%>">
                    <%if (model.LinkEntityTypeId != null){%>
                    <span> Create new <%= model.LinkEntityTypeId %></span>
                    <%}%>

                </div>
            </div>
        </div>
   </div>
</div>