﻿<!--<div class="nodeHeader">
    <div class="node-content-activate">
        <input type="checkbox" id="cb-loadcontent" <% if (loadContent==true) {%>checked<%}%>>Load content
    </div>

    <div class="viewmode" <% if (loadContent!=true) {%> style='display:none'<%}%>>
        <form id="viewmode-radio-buttons-form" action="">
            <span>View:</span>
            <input type="radio" id="viewmode-radio-buttons-box" name="listmode" value="box" /><label for="viewmode-radio-buttons-box"><img src="../../Images/boxviewicon.png" /></label>
            <input type="radio" id="viewmode-radio-buttons-list" name="listmode" value="list" /><label for="viewmode-radio-buttons-list"><img src="../../Images/listviewicon.png" /></label>

        </form>
    </div>
</div>-->
<div class="content-area-tools-row">
    <span class="content-area-tools row-icon-button" id="load-content-button" title="Load content"><i class="fa fa-square-o"></i><span> Load content</span></span>
    <% if (loadContent==true) {%>
    <span class="row-icon-button">&nbsp;&nbsp;&nbsp;&nbsp;Views:</span>
    <span class="content-area-tools row-icon-button" id="card-view" title="Default card view"><i class="fa fa-th-large"></i></span>
    <span class="content-area-tools row-icon-button" id="sortable-view" title="Sortable card view"><i class="fa fa-th-list"></i></span>
    <span class="content-area-tools row-icon-button" id="table-view" title="Table view"><i class="fa fa-list"></i></span>
    <span class="content-area-tools row-icon-button" id="include-fields" title="Include fields in table view"><i class="fa fa-square-o"></i><span> Include fields</span></span>
    <%}%>
</div>
<div id="nodebox" class="node-content"></div>
<div id="nodelist" class="node-content"></div>
<div id="nodetable" class="node-content"></div>