﻿<tr class="border_bottom">
    <td>
        <span><%= key %></span>
    </td>
    <td>
        <span class="localvalue">
            <span><%= value %></span>
        </span>
    </td>
    <td>
        <span class="servervalue">
                <% if(persistedvalue != null) { %>
                <div id="value"> <%= persistedvalue %></div>
                <% } %>
        </span>
    </td>
</tr>
