﻿<div id="import-row-container">
    <table>
        <tbody id="import-row-body">
            <tr class="border_bottom">
                <th>Field</th>
                <th>Value</th>
            </tr>
        </tbody>
    </table>
</div>