﻿<div id="import-row-container">
    <table>
        <tbody id="import-row-body">
            <tr class="border_bottom">
                <th>Field</th>
                <th>New value</th>
                <th>Old value</th>
            </tr>
        </tbody>
    </table>
</div>