﻿<div id="import-content">
    <% if(!data.Valid){ %>
    <div><%= data.EntitiesToProcess%> rows to import
        <p></p><button title="Import data" id="import-action-button">Import</button></div>
    <% }  %>
</div>

<div id="import-spinner" style="display: none">
    <img src="/Images/nine-squares-32x32.gif" />
    <div id="import-status"></div>
</div>