﻿<div id="import-configuration-tools">
    <div class="import-label">
        Saved mappings:
    </div>
    <div class="import-control" id="select-existing-mapping" style="min-width: 180px">
        <select id="mapping">
            <option value="-1"></option>
            <% for(var i=0; i< mappings.length; i++){ %>
            <option value="<%= mappings[i].MappingId %>"<% if (data.MappingId == mappings[i].MappingId){%> Selected <%}%>><%= mappings[i].MappingName %></option>
            <%}%>
        </select>
        <% if (data.MappingId > 0){%>
        <span id="update-mapping" title="Update selected mapping"><i class="fa fa-floppy-o row-icon-button" title="Update selected mapping"></i></span>
        <span id="delete-mapping" title="Delete selected mapping"><i class="fa fa-trash row-icon-button" title="Delete selected mapping"></i></span>
        <%} else {%>
        <span id="save-mapping" title="Save new mapping"><i class="fa fa-plus row-icon-button" title="Save new mapping"></i></span>
        <%}%>
    </div>
</div>
<div id="save-mapping-dialog" style="display:none">
    <span style="display: inline">Name: </span><span style="display: inline"><input type="text" id="mapping-name" style="display: inline" /></span>
    <span id="do-save-mapping" title="Save mapping" style="display: inline"><i class="fa fa-save"></i>Save</span>
    <span id="do-cancel-mapping" title="Cancel" style="display: inline"><i class="fa fa-times"></i>Cancel</span>
    <span data-error="" id="mapping-name-error" style="display:none">Name is mandatory</span>
</div>

<h2><span class="fa fa-wrench"></span>Settings</h2>
<div>
    <div class="import-settings-row">
        <div class="import-label">Filename:</div>
        <div class="import-control"><%= data.Filename%></div>
        <div class="clear"></div>
    </div>
    <div class="import-settings-row">
        <div class="import-label">Entity type: </div>
        <div class="import-control">
            <select id="selectEntityType">
                <% for(var i=0; i< data.EntityTypes.length; i++){ %>
                <% if(data.EntityTypes[i].Id == data.EntityTypeId){ %>
                <option value="<%= data.EntityTypes[i].Id %>" selected="selected"><%= data.EntityTypes[i].DisplayName %></option>
                <% } else{ %>
                <option value="<%= data.EntityTypes[i].Id %>"><%= data.EntityTypes[i].DisplayName %></option>
                <%   } %>
                <%}%>
            </select>
        </div>
        <div class="clear"></div>
    </div>
    <div class="import-settings-row">
        <div class="import-label">Show empty columns:</div>
        <div class="import-control">
            <% if(data.ShowEmptyColumns){%>
            <input id="showEmptyColumns" type="checkbox" checked="checked" />
            <% } else {%>
            <input id="showEmptyColumns" type="checkbox" />
            <% }%>
        </div>
        <div class="clear"></div>
    </div>
    <div class="import-settings-row">
        <div class="import-label">Clear empty values:</div>
        <div class="import-control">
            <% if(data.ClearEmptyValues){%>
            <input id="clearEmptyValue" type="checkbox" checked="checked" />
            <% } else {%>
            <input id="clearEmptyValue" type="checkbox" />
            <% }%>
        </div>
        <div class="clear"></div>
    </div>
</div>
<h2><span class="icon-entypo-fix-shuffle"></span>Mapping</h2>
<div>
    <div style="display:inline-block">
        <div class="import-mapping-column-left">
            <b>File fields</b>
        </div>
        <div class="import-mapping-column-right">
            <b>Entity fields</b>
        </div>
    </div>

    <% for(var i=0; i< data.Columns.length; i++){ %>

    <% if(data.Columns[i].IsEmpty && !data.ShowEmptyColumns ){ continue;} %>

    <% if(data.Columns[i].IsSystemColumn){continue;} %>

    <% if(data.Columns[i].Hidden){continue;} %>

    <div>
        <div class="import-mapping-column-left"><%= data.Columns[i].ColumnName %></div>
        <div class="import-mapping-column-right" id="<%= data.Columns[i].Id %>">
            <select class="import-mapping-fields">
                <option value=""></option>
                <% for(var j=0; j< data.FieldTypes.length; j++){ %>
                <% if(data.FieldTypes[j].readonly){continue;} %>
                <% if(data.FieldTypes[j].id == data.Columns[i].FieldTypeId){ %>
                <option value="<%= data.FieldTypes[j].id %>" selected="selected"><%= data.FieldTypes[j].id %></option>
                <% } else{ %>
                <option value="<%= data.FieldTypes[j].id %>"><%= data.FieldTypes[j].id %></option>
                <% } %>
                <%}%>
            </select>
            <% if(data.Columns[i].Localized){%>
            <select class="import-mapping-language">
                <% for(var j=0; j< data.Languages.length; j++){ %>
                <% if(data.Languages[j].Name == data.Columns[i].LanguageCode){ %>
                <option value="<%= data.Languages[j].Name %>" selected="selected"><%= data.Languages[j].DisplayName %></option>
                <% } else{ %>
                <option value="<%= data.Languages[j].Name %>"><%= data.Languages[j].DisplayName %></option>
                <% } %>
                <%}%>
            </select>
            <% }%>
        </div>
        <div class="clear"></div>
    </div>
    <%}%>
</div>
