﻿<div class="entity-view-overview-details-row">
    <div class="width-limited-container">
        <div class="entity-view-details-row-key"><%= key %></div>
         <% if(persistedvalue != null) { %>
        <div id="value">Old value: <%= persistedvalue %></div>
        <% } %>
        <div id="value"><% if(persistedvalue != null) { %> New value: <% } %>
        <%= value %></div>
    </div>
</div>