﻿<div id="validation-content">
    <% if(!data.IsValidated){ %>
    <div><%= data.EntitiesToProcess%> rows to validate 
    <p></p><button title="Validate data" id="import-validate-button">Validate</button></div>
    <% }  %>
</div>

<div id="validation-spinner" style="display: none">
    <img src="/Images/nine-squares-32x32.gif" />
    <div id="validation-status"></div>
</div>