﻿<div class="main-header-row-fixed-container validate-fields">
    <div class="main-header-row">
        <span id="validation-status" class="main-header">
        </span>
        <!--<span class="validate-header">
            <button id='conflict-cancel-button'>Cancel</button>
        </span>-->
    </div>
</div>
<div id="review-area-container">
    <h4>Review Summary</h4>
    <div class="validate-header"><%=total %> entities processed</div>
    <div id="error-container">
        <div id="error-heading" class="tasks-heading-box">
            <div class="showTasks">
                <i class="fa fa-minus-circle" style="display:block"></i><i class="fa fa-plus-circle" style="display:none"></i>
            </div>
            <span><%=error %> errors to correct</span>
        </div>
        <ul id="review-error-area" class="review-area tasks-list flat-ul" style="display:block;"></ul>
    </div>
    <div id="add-container">
        <div id="add-heading" class="tasks-heading-box">
            <div class="showTasks">
                <i class="fa fa-minus-circle" style="display:none"></i><i class="fa fa-plus-circle"></i>
            </div>
            <span><%=added %> entities will be added</span>
        </div>
        <ul id="review-add-area" class="review-area tasks-list flat-ul" style="display:none;"></ul>
    </div>
    <div id="update-container">
        <div id="update-heading" class="tasks-heading-box">
            <div class="showTasks">
                <i class="fa fa-minus-circle" style="display:none"></i><i class="fa fa-plus-circle"></i>
            </div>
            <span><%=updated %> entities will be updated</span>
        </div>
        <ul id="review-update-area" class="review-area tasks-list flat-ul" style="display:none;"></ul>
    </div>
    <div id="nochanges-container">
        <div id="nochanges-heading" class="tasks-heading-box">
            <div class="showTasks">
                <i class="fa fa-minus-circle" style="display:none"></i><i class="fa fa-plus-circle"></i>
            </div>
            <span><%=nochanges %> entities will be ignored (no changes)</span>
        </div>
        <ul id="review-nochanges-area" class="review-area tasks-list flat-ul" style="display:none;"></ul>
    </div>
</div>
<div id="inriver-fields-form-area"></div>