﻿/* Cards CSS */

.cards-container, .pictures-container {
    margin-top: 5px;
}

 .card-section-wrap {
   
    clear: both;
}

.pictures-section-wrap {
    margin-bottom: 10px;
    border: 1px solid #bbbbbb;
    clear: both;
}

.category-section-wrap {
    margin-bottom: 10px;
    clear: both;
}

.category-section-title {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 99%;
    background-color: #ffffff;
    color: #2d2d2c;
    line-height: 30px;
    margin-bottom: 0;
    font-size: 16px;
    cursor: default;
    margin-bottom: 1px !important;
    border-bottom: solid 2px #2d2d2c;
}

.card-section-title {
    color: #2d2d2c;
    line-height: 30px;
    font-size: 16px;
    cursor: default;
    padding-left: 5px;
}

.card-section-container {
    margin-left: 20px;
}

.card-section-title-text, .category-section-title-text {
    margin-left: 4px;
}

.card-wrap-small {
    position: relative;
    float: left;
    width: 250px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #dddddd;
}

.picture-wrap-small {
    position: relative;
    float: left;
    width: 110px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.card-text-area {
    overflow: hidden;
}

.card-completeness-area {
    position: absolute;
    display: inline-block;
    float: right;
    bottom: 10px;
    right: 10px;
    text-align: center;
    width: 40px;
}

.card-text-area > span {
    width: 100%;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text1 {
    font-weight: 400;
    font-size: 13px;
    padding-top: 2px;
    padding-left: 3px;
    margin-bottom: 3px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-right: 20px;
}

.card-text1 img {
        vertical-align: bottom;
    }

.card-text2 {
    padding-top: 3px;
    padding-left: 3px;
    max-height: 30px;
}

#card-completeness-text {
    padding-top: 3px;
    padding-left: 3px;
    cursor: pointer;
}

#card-completeness-text:hover {
    text-decoration: underline;
}

.card-picture-area, .picture-picture-area {
    float: left;
}

.card-picture-frame, .picture-picture-frame {
    position: inherit;
    background-color: #ffffff;
    padding: 4px;
    width: 40px;
    height: 40px;
}


.card-wrap-small .card-picture-frame {
    background-color: #ffffff;
    padding: 4px;
    width: 80px;
    height: 80px;
}

.card-picture, .picture-picture {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.card-wrap, .search-result-container-small .card-wrap-large {
    position: relative;
    float: left;
    width: 250px;
    background: #ffffff;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px;
    cursor: pointer;
    height: 65px;
    border: solid 1px #cccccc;
}

#starred-entities-content .card-wrap-large {
    position: relative;
    float: left;
    -moz-min-width: 270px;
    -ms-min-width: 270px;
    -o-min-width: 270px;
    -webkit-min-width: 270px;
    min-width: 270px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    cursor: pointer;
    height: 68px;
}

.search-result-container-small .card-wrap-large .card-selected, .card-selected{
    border: 1px solid #0071a5 !important;  
}


.search-result-container-small .card-wrap-large, #starred-entities-content .card-wrap-large, .small-droppable {
    width: 230px !important;
}

.card-wrap:hover {
    -webkit-box-shadow: 0 0 3px #000000;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
}

.card-completeness-area {
    position: absolute;
    display: inline-block;
    float: right;
    bottom: 10px;
    right: 10px;
    text-align: center;
    width: 40px;
}

.picture-text1 {
    font-weight: bold;
    font-size: 14px;
    padding-top: 2px;
    padding-left: 3px;
    margin-bottom: 3px;
}


#card-completeness-text {
    padding-top: 3px;
    padding-left: 3px;
    color: #999;
    cursor: pointer;
}

    #card-completeness-text:hover {
        text-decoration: underline;
    }

.card-tool-area {
    position: absolute;
    top: 5px;
    right: 3px;
}

.completenesslevel_low, .completenesslevel_medium, .completenesslevel_done {
    border: 1px solid;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}

.completenesslevel_low {
    border-color: red;
}

.completenesslevel_medium {
    border-color: orange;
}

.completenesslevel_done {
    border-color: yellowgreen;
}

/* Drag and drop*/

.card-placeholder {
    border: 1px dotted #2d2d2c;
    margin: 0 1em 1em 0;
    height: 80px;
    width: 240px;
}
/* End Drag and drop*/

/* Large card*/

.card-wrap-large {
    position: relative;
    float: left;
    width: 150px;
    height: 160px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-color: #ffffff;
}

.card-wrap-large:hover {
    -webkit-box-shadow: 0 0 3px #000000;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
}

.search-result-container-small .card-picture-area,
#starred-entities-content .card-picture-area,
.card-wrap .card-picture-area {
  	position: relative;
    bottom: 0;
    left: 0;
}

.card-picture-area {
    background-color: #ffffff;
  	position: absolute;
	bottom: 10px;
    left: 30px;
}

.card-picture-frame-large div {
    width: 100px;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#contextmenu {
    float: right;
}

.search-result-container-small .card-picture-frame-large div,
#starred-entities-content .card-picture-frame-large div,
.card-wrap .card-picture-frame-large div {
    width: 60px;
    height: 60px;
}

.card-text2-large {
    float: none;
    overflow: hidden;
    padding-left: 3px;
    color: #999;
    width: auto;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.dot-completeness-area {
    float: right;
    font-size: 14px;
    margin-right: 4px;
    padding-top: 2px;
}

.dot-completenesslevel_low {
    color: red !important;
}

.dot-completenesslevel_medium {
    color: orange !important;
}

.dot-completenesslevel_done {
    color: yellowgreen !important;
}

.card-star-area {
    float: right;
    margin-right: 1px;
    color: #999;
    font-size: 15px;
    padding-top: 2px;
}

.card-tools {
    float: right;
    color: #2d2d2c;
    padding-top: 2px;
    cursor: pointer; 
}

#card-tools-container {
    position: absolute;
    right: 2px;
    z-index: 100;
    background-color: white;
    padding: 5px 5px;
    border: 1px solid #cccccc;
    min-height: 26px;
}

.search-result-container-small .workarea-header #card-tools-container{
    right: auto !important;
}

#close-tools-container {
    position: absolute;
    top: 2px;
    right: 5px;
}

/* Large card*/

#card-tools-container .control-row-icon-button {
    width: 15px;
}

.card-tools-header {
    font-size: 15px;
    cursor: pointer;
}

#control-row-content .fa-navicon {
    vertical-align: text-top;
    margin-top: 1px !important;
}

.card-tools-header .fa-navicon {
    vertical-align: text-top;
    margin-top: 2px;
}

.completeness-small span {
    margin-right: 2px;
}

#tools > span {
    cursor: pointer;
    line-height: 20px;
    padding: 3px;
    margin-right: 15px;
    color: #2d2d2c !important;
}

#tools .control-row-icon-button {
    padding: 3px;
    padding-top: 2px;
}

.card-draggable-icon {
    display: none;
}

.ui-draggable .card-draggable-icon, .ui-sortable .card-draggable-icon, .card-draggable-icon-show, .js-draggable .card-draggable-icon {
    display: inline;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 4px;
    height: 100%;
    background-color: #bbbbbb;
    cursor: move;
}

#starred-entities-content .card-wrap-large .card-checkbox-selector {
    display: none;
}

.card-checkbox-selector {
    margin: 2px 0 0 2px;
    float: left;
    width: 12px;
}

.selected-card {
    color: #2d2d2c;
}

