﻿<div class="value-wrapper">
    <div class="syndicate-workarea-content-title"><%= Caption %></div>
    <select multiple="multiple" id="syndicate-select-value-<%= Definition %>" name="syndicate-select-value-<%= Definition %>" class="cvl-edit-control"></select>
</div>
