﻿<div class="popup-header-row">
    <span class="popup-header-text">
        <span class="popup-header">
            Syndication Workarea
        </span>
    </span>
    <span id="main-header-buttons">
        <span class="fa fa-times control-row-icon-button" title="Close popup window" id="close-icon"></span>
    </span>
</div>
<div id="syndicate-workarea-contentwrapper">
    <div class="syndicate-workarea-buttons">
        <span id="start-syndicate" class="row-icon-button syndicate-workarea-action-button" title="Download syndication">
            <i class="fa fa-download"></i>
            <span>Syndicate and Download</span>
        </span>
    </div>
    <div id="main-client-area" class="modal-fixed-details query-editor-modal">
        <div id="syndicateWorkarea">
            <div>
                <div id="syndication-text-control-container">
                    <div class="value-wrapper">
                        <div class="syndicate-workarea-wide-title">This syndication includes:
                            <% if (ShowItemInfo) { %><%= NumberOfItems %> items<% } %>
                            <% if (ShowItemInfo && ShowProductInfo) { %> and <% } %>
                            <% if (ShowProductInfo) { %><%= NumberOfProducts %> products<% } %>
                            .</div>
                    </div>
                </div>
                <div id="syndication-formats-control-container"></div>
                <div id="syndication-result-control-container"></div>
            </div>
        </div>
    </div>
</div>
