﻿<div class="syndicate-workarea-control-container">
    <div id="syndicate-workarea-container-receiver-<%= Definition %>"></div>
    <div id="syndicate-workarea-container-distribution-format-<%= Definition %>"></div>
</div>
