﻿@model Absolunet.InRiver.AdminWebsite.ViewModels.ToolsCVLFormViewModel

@Html.HiddenFor(m => m.ChannelId)
@Html.HiddenFor(m => m.ChannelName)

<p>@Resources.Tools.ChannelLabel '@Model.ChannelName'.</p>
@Html.DropDownListFor(m => m.SelectedCVL, Model.CVLListItems)
<input type="submit" value="@Resources.Tools.ResyncCVLButton" data-attribute="@Model.ChannelId" class="button btn-cvl-submit" />
