﻿@model Absolunet.InRiver.AdminWebsite.ViewModels.ToolsProductFormViewModel

@Html.HiddenFor(m => m.ChannelId)
@Html.HiddenFor(m => m.ChannelName)
@Html.HiddenFor(m => m.ChannelTotalProducts)

<div>
    <p>@Resources.Tools.ChannelLabel '@Model.ChannelName' @Resources.Tools.ContainsLabel @Model.ChannelTotalProducts @Resources.Tools.ProductsLabel.</p>
    <label for="UseEnrichmentStatus">@Html.CheckBoxFor(m => m.UseEnrichmentStatus) @Resources.Tools.UseEnrichmentStatus</label>
    <label for="FieldsetIsMandatory">@Html.CheckBoxFor(m => m.FieldsetIsMandatory) @Resources.Tools.FieldsetMandatory</label>
    <label for="ContainsSimples">@Html.CheckBoxFor(m => m.ContainsSimples) @Resources.Tools.ContainsSimples</label>
    <label for="ContainsConfigurables">@Html.CheckBoxFor(m => m.ContainsConfigurables) @Resources.Tools.ContainsConfigurables</label>
    <label for="Sku">@Resources.Tools.SkuLabel</label>
    @Html.TextBoxFor(m => m.Sku, new { style = "width:100%;" })
    <input type="submit" value="@Resources.Tools.ResyncProductsButton" data-attribute="@Model.ChannelId" class="button btn-product-submit" />
</div>