﻿@model Absolunet.InRiver.AdminWebsite.ViewModels.ToolsCategoryFormViewModel

@Html.HiddenFor(m => m.ChannelId)
@Html.HiddenFor(m => m.ChannelName)

<div>
    <p>@Resources.Tools.ChannelLabel '@Model.ChannelName'.</p>
    @Html.ListBoxFor(m => m.SelectedCategories, Model.ChannelCategoriesList) <input type="submit" value="@Resources.Tools.ResyncCategoriesButton" data-attribute="@Model.ChannelId" class="button btn-category-submit" />
</div>
    
