﻿<div class="block banner [[Model.CssClass]]" style="background-image: url('[[Model.BackgroundImageUrl]]')">
    <div class="block-wrapper">
        <div class="banner-wrapper">
            <div class="banner-scaler"><div class="banner-scaling"></div></div>
            {% if Model.Title != '' || Model.Subtitle != '' %}
                <div class="banner-position">
                    <div class="banner-content">
                        <div class="row">
                            <div class="column small-centered small-11 medium-9 large-8 xlarge-7">
                                {% if Model.Title != '' %}<h1 class="title">[[Model.Title]]</h1>{% endif %}
                                {% if Model.Subtitle != '' %}<p class="content">[[Model.Subtitle]]</p>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
