﻿<div class="block order-review" ng-controller="OrderDetailController as vm" ng-show="vm.ready" ng-cloak>
    <div class="block-wrapper">
        <div class="order-grid">
            <div class="order">
                <store-order-detail-lines order="vm.order"></store-order-detail-lines>
                <div class="button-group show-for-large">
                    <a class="button alt ico-back" href="[% urlForPage 'OrdersPage' %]">[% translate 'Order history' %]</a>
                </div>
            </div>
            <div class="summary">
                <h3 class="summary-title">[% translate 'Order Summary' %]</h3>
                <div class="summary-content">
                    <div class="user-info small">
                        <h3 class="user-info-title">[% translate 'Documents' %]</h3>
                        <div class="user-info-content">
                            <ul class="document-list">
                                <li>
                                    <a ng-if="vm.hasInvoice" ng-click="vm.downloadInvoice()" class="pdf">[% translate 'Invoice' %]</a>
                                    <span ng-if="!vm.hasInvoice">[% translate 'Invoice' %] [% translate '(check later)' %]</span>
                                </li>
                                <li>
                                    <a ng-if="vm.hasProofOfDelivery" ng-click="vm.downloadPod()" class="pdf">[% translate 'Proof of Delivery' %]</a>
                                    <span ng-if="!vm.hasProofOfDelivery">[% translate 'Proof of Delivery' %] [% translate '(check later)' %]</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="user-info small" ng-if="vm.order.statusDisplay">
                        <h3 class="user-info-title">[% translate 'Store_Order_Status' %]</h3>
                        <div class="user-info-content">
                            <span ng-bind="vm.order.statusDisplay"></span>
                        </div>
                    </div>

                    <div class="user-info small" ng-if="vm.order.erpOrderNumber">
                        <h3 class="user-info-title">[% translate 'Order Number' %]</h3>
                        <div class="user-info-content">
                            <span>{{vm.order.erpOrderNumber}}</span>
                        </div>
                    </div>

                    <div class="user-info small" ng-if="vm.order.orderDate">
                        <h3 class="user-info-title">[% translate 'Order Date' %]</h3>
                        <div class="user-info-content">
                            <span ng-bind="vm.order.orderDate | date:'shortDate'"></span>
                        </div>
                    </div>

                    <div class="user-info small caps">
                        <h3 class="user-info-title">[% translate 'Bill To' %]</h3>
                        <div class="user-info-content">
                            <span ng-if="vm.order.btCompanyName">{{vm.order.btCompanyName}}</span>
                            <span ng-if="vm.order.btAddress1">{{vm.order.btAddress1}}</span>
                            <span ng-if="vm.order.btAddress2">{{vm.order.btAddress2}}</span>
                            <span ng-if="vm.order.billToCity || vm.order.billToState">
                                <span ng-if="vm.order.billToCity">{{vm.order.billToCity}}</span><span ng-if="vm.order.billToState">, {{vm.order.billToState}}</span> <span ng-if="vm.order.billToPostalCode">{{vm.order.billToPostalCode}}</span>
                            </span>
                        </div>
                    </div>

                    <div class="user-info small caps" ng-if="!vm.subAccount || !vm.location">
                        <h3 class="user-info-title">
                            <span ng-if="vm.isPickup">[% translate 'Store_Checkout_SoldTo' %]</span>
                            <span ng-if="!vm.isPickup">[% translate 'Ship To' %]</span>
                        </h3>
                        <div class="user-info-content">
                            <span ng-if="vm.order.stCompanyName">{{vm.order.stCompanyName}}</span>
                            <span ng-if="vm.order.stAddress1">{{vm.order.stAddress1}}</span>
                            <span ng-if="vm.order.stAddress2">{{vm.order.stAddress2}}</span>
                            <span ng-if="vm.order.shipToCity || vm.order.shipToState">
                                <span ng-if="vm.order.shipToCity">{{vm.order.shipToCity}}</span><span ng-if="vm.order.shipToState">, {{vm.order.shipToState}}</span> <span ng-if="vm.order.shipToPostalCode">{{vm.order.shipToPostalCode}}</span>
                            </span>
                        </div>
                    </div>

                    <div class="user-info small caps" ng-if="vm.subAccount && vm.location">
                        <h3 class="user-info-title">[% translate 'Ship To' %]</h3>
                        <div class="user-info-content">
                            <store-customers-address-summary address="vm.subAccount"></store-customers-address-summary>
                        </div>
                    </div>
                    
                    <div class="user-info small">
                        <h3 class="user-info-title">[% translate 'Delivery Method' %]</h3>
                        <div class="user-info-content">
                            <span ng-if="vm.isPickup">[% translate 'Pickup in store' %]</span>
                            <span ng-if="vm.!isPickup">[% translate 'Mingledorff Delivery' %]</span>
                        </div>
                    </div>

                    <div class="user-info small caps" ng-if="vm.subAccount && vm.location">
                        <h3 class="user-info-title">[% translate 'Location' %]</h3>
                        <div class="user-info-content">
                            <span ng-if="vm.location.address1">{{vm.location.address1}}</span>
                            <span ng-if="vm.location.address2">{{vm.location.address2}}</span>
                            <span ng-if="vm.location.city || vm.location.state">
                                <span ng-if="vm.location.city">{{vm.location.city}}</span><span ng-if="vm.location.state">, {{vm.location.state}}<span ng-if="vm.location.postalCode">, {{vm.location.postalCode}}</span></span>
                            </span>
                        </div>
                    </div>

                    <div class="user-info small caps">
                        <h3 class="user-info-title"><span>[% translate 'My Store' %]</span></h3>
                        <store-customers-address-summary address="vm.warehouse"></store-customers-address-summary>
                    </div>

                    <div class="user-info small" ng-if="vm.order.customerPO">
                        <h3 class="user-info-title">[% translate 'PO Number' %]</h3>
                        <div class="user-info-content">
                            <span>{{vm.order.customerPO}}</span>
                        </div>
                    </div>

                    <div class="user-info small" ng-if="vm.order.properties['customerReference']">
                        <h3 class="user-info-title">[% translate 'Store_OrderHistory_CustomerReference' %]</h3>
                        <div class="user-info-content">
                            <span>{{vm.order.properties['customerReference']}}</span>
                        </div>
                    </div>

                    <div class="user-info small caps" ng-if="!vm.isPickup">
                        <h3 class="user-info-title">[% translate 'Store_Checkout_ShipDate' %]</h3>
                        <div class="user-info-content">
                            <span ng-bind="vm.order.requestedDeliveryDateDisplay | date:'shortDate'"></span>
                        </div>
                    </div>

                    <div class="user-info small caps" ng-if="!vm.isPickup">
                        <h3 class="user-info-title">[% translate 'Store_Checkout_ShipComplete' %]</h3>
                        <div class="user-info-content">
                            <span ng-if="vm.shipComplete">[% translate 'Store_Checkout_ShipComplete_True' %]</span>
                            <span ng-if="!vm.shipComplete">[% translate 'Store_Checkout_ShipComplete_False' %]</span>
                        </div>
                    </div>

                    <div class="user-info small" ng-if="vm.order.notes">
                        <h3 class="user-info-title">[% translate 'Order Notes' %]</h3>
                        <div class="user-info-content">
                            <em>{{vm.order.notes}}</em>
                        </div>
                    </div>
                </div>

                <isc-cart-total-display cart="vm.order" promotions="vm.order.orderPromotions" order-taxes="vm.order.orderHistoryTaxes" is-cart-page="false"></isc-cart-total-display>

                <div class="button-group full">
                    <a href="[% urlForPage 'CartPage' %]" class="button" ng-click="vm.storeReorder($event)">[% translate 'Reorder' %]</a>
                    <a class="button alt ico-back hide-for-large" href="[% urlForPage 'OrdersPage' %]">[% translate 'Order history' %]</a>
                </div>
            </div>
        </div>
    </div>
</div>