﻿@using System.Threading
<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentCulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resources.Portal.PortalTitle - @ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700,700italic|Quicksand:400,300,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body class="">
    <div class="main-nav">
        <nav class="row">
            <section class="float-left">
                <ul class="menu">
                    <li>
                        <a href="@Url.Action("Index", "Operation")">
                            <i class="fa fa-tasks"></i>&nbsp;
                            @Resources.Portal.Operations
                        </a>
                        @*<a href="javascript:void(0)" class="has-dropdown">
                            <i class="fa fa-tasks"></i>&nbsp;
                            @Resources.Portal.Operations
                        </a>
                        <ul class="dropdown">
                            <li>
                                <a href="@Url.Action("Index", "Operation")">
                                    <span>
                                        @Resources.Portal.Operations
                                    </span>
                                </a>
                            </li>
                            <li>
                                @*<a href="@Url.Action("Index", "TaskQueueErrors")">
                                    <span>
                                        @Resources.Portal.TaskQueueErrors
                                    </span>
                                </a>
                            </li>
                        </ul>*@
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Settings")">
                            <i class="fa fa-cog"></i>&nbsp;
                            @Resources.Portal.Settings
                        </a>
                    </li>
                    <li>
                        @*<a href="@Url.Action("Index", "Stats")">
                            <i class="fa fa-bar-chart"></i>&nbsp;
                            @Resources.Portal.Stats
                        </a>*@
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Tools")">
                            <i class="fa fa-wrench"></i>&nbsp;
                            @Resources.Portal.Tools
                        </a>
                    </li>
                </ul>
            </section>
            <ul class="float-right nav-utilities">
                <li class="separator">
                    <a href="@Url.Action("ChangeCulture", "Login", new { lang = Resources.Portal.Language, returnUrl = Request.Url })">
                    @Resources.Portal.LanguageLink
                    </a>
                </li>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                <li>
                    <a href="@Url.Action("LogOff", "Login")">
                    @Resources.Portal.LogOff
                    </a>
                </li>
                }
            </ul>
        </nav>
    </div>
    <div class="row main-content">
        <div class="small-12 columns">
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript" language="javascript">

        var Resources = {
            DeleteButtonConfirm: "@Html.Raw(Resources.Portal.DeleteButtonConfirm)",
            UpdateAllStatusConfirm: "@Html.Raw(Resources.Portal.UpdateAllStatusConfirm)",
            RestartQueueConfirm: "@Html.Raw(Resources.Portal.RestartQueueConfirm)",
            ResyncCVLsConfirm: "@Html.Raw(Resources.Portal.ResyncCVLsConfirm)",
            ResyncProductsConfirm: "@Html.Raw(Resources.Portal.ResyncProductsConfirm)",
            ResyncCategoriesConfirm: "@Html.Raw(Resources.Portal.ResyncCategoriesConfirm)",
            ErrorOccured: "@Html.Raw(Resources.Portal.ErrorOccured)",
            RestartConnectorManually: "@Html.Raw(Resources.Portal.RestartConnectorManually)",
            Url: "@Html.Raw(Resources.Tools.Url)",
            IsValid: "@Html.Raw(Resources.Tools.IsValid)",
            Message: "@Html.Raw(Resources.Tools.Message)",
            Username: "@Html.Raw(Resources.Tools.Username)",
            Password: "@Html.Raw(Resources.Tools.Password)",
            Host: "@Html.Raw(Resources.Tools.Host)",
            ConnectorName: "@Html.Raw(Resources.Tools.ConnectorName)",
            KeyFilePath: "@Html.Raw(Resources.Tools.KeyFilePath)"
            @*ImportProfileUrl: "@Html.Raw(Resources.Tools.ImportProfileUrl)",
            RunProfilesUrl: "@Html.Raw(Resources.Tools.RunProfilesUrl)",
            RunResourceProfileUrl: "@Html.Raw(Resources.Tools.RunResourceProfileUrl)",
            RunProfilesIsValid: "@Html.Raw(Resources.Tools.RunProfilesIsValid)",
            RunResourceProfileIsValid: "@Html.Raw(Resources.Tools.RunResourceProfileIsValid)",
            RunProfilesMessage: "@Html.Raw(Resources.Tools.RunProfilesMessage)",
            RunResourceProfileMessage: "@Html.Raw(Resources.Tools.RunResourceProfileMessage)",
            DeactivateCacheIsValid: "@Html.Raw(Resources.Tools.DeactivateCacheIsValid)",
            ActivateCacheIsValid: "@Html.Raw(Resources.Tools.ActivateCacheIsValid)",
            ActivateCacheMessage: "@Html.Raw(Resources.Tools.ActivateCacheMessage)",
            MagentoPassword: "@Html.Raw(Resources.Tools.MagentoPassword)",
            DeactivateCacheMessage: "@Html.Raw(Resources.Tools.DeactivateCacheMessage)",
            DeactivateCacheUrl: "@Html.Raw(Resources.Tools.DeactivateCacheUrl)",
            ActivateCacheUrl: "@Html.Raw(Resources.Tools.ActivateCacheUrl)",
            SessionId: "@Html.Raw(Resources.Tools.SessionId)",
            MagentoUsername: "@Html.Raw(Resources.Tools.MagentoUsername)",
            MagentoUrl: "@Html.Raw(Resources.Tools.MagentoUrl)"*@
        };

        window.dictonary = Resources;

    </script>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/acc")

    @RenderSection("scripts", required: false)
   
</body>
</html>
