﻿<li>
    <!--<div class="double-card-wrap" id="syndication-result-<%= data.Id %>">
        <div>
            <div class="card-tool-area">
                <div id="contextmenu"></div>
            </div>
        </div>
        <div class="card-text-area">
            <div class="card-icon">
                <% if (!data.Success) { %>
                <span id="syndication-result-icon-<%= data.Id %>" title="<%= data.Description %>" class="icon-entypo-fix-export std-entypo-fix-icon red-icon-button"></span>
                <% } else { %>
                <span id="syndication-result-icon-<%= data.Id %>" title="The result was successfull" class="icon-entypo-fix-export std-entypo-fix-icon control-row-icon-button"></span>
                <% } %>
                
            </div>
            <div class="card-header-text"><%= data.DistributionFormatName %></div>
            <div class="card-body-text"><%= data.WorkareaFolderName %></div>
        </div>
    </div>-->
    <div class="syndication-result-wrap" id="result-<%= data.Id %>">
        <% if (data.Success) { %>
        <div class="syndication-result-text-area-normal" title="Syndication successfull">
            <div class="syndication-result-icon"><span class="icon-entypo-fix-export std-entypo-fix-icon green-icon-button" id="normal-syndication-button"></span></div>
            <div class="syndication-result-time"><%= data.SyndicationsTime %></div>
            <div class="syndication-result-workarea-name"><%= data.WorkareaFolderName %></div>
            <div class="syndication-result-distribution-format"><%= data.DistributionFormatName %></div>
        </div>
        <% } else{ %>
        <div class="syndication-result-text-area-alert" title="Syndication failure: <%= data.Description %>">
            <div class="syndication-result-icon"><span class="icon-entypo-fix-export std-entypo-fix-icon red-icon-button" id="error-syndication-button"></span></div>
            <div class="syndication-result-time"><%= data.SyndicationsTime %></div>
            <div class="syndication-result-workarea-name"><%= data.WorkareaFolderName %></div>
            <div class="syndication-result-distribution-format"><%= data.DistributionFormatName %></div>
        </div>
        <% } %>
    </div>
</li>