﻿@using Insite.WebFramework.Mvc
@using Insite.WebFramework.Mvc.Extensions
@using Insite.ContentLibrary.Pages

@model CatalogNavigationPage
@helper Nav(NavLinkDto navLink, string suffix, bool includeSubNav = false)
{
    var categoryCounter = 1;
    if (navLink != null)
    {
        if (navLink.NavLinks == null || !navLink.NavLinks.Any())
        {
            <li>
                <a id="tst_productMenu_@navLink.CategoryId" href="@Url.Link(navLink)" onclick="insite.nav.hideMenu();" >@navLink.LinkText</a>
            </li>
        }
        else
        {
            <li>
                <span class="nav-item-container">
                    <a id="tst_productMenu_@navLink.CategoryId" href="@Url.Link(navLink)" onclick="@Html.Raw(includeSubNav ? "$(this).next().click(); return false;" : "insite.nav.hideMenu();")">@navLink.LinkText</a>
                    <label for="nav-@(suffix)" class="toggle-sub" onclick="insite.nav.goToSubnav(this)">&#9658;</label>
                </span>
                <input type="checkbox" name="nav" id="nav-@(suffix)" class="subnav-check" />
                <ul id="sub-@(suffix)" class="subnav sub-tier-panel">
                    <li class="sub-heading">@navLink.LinkText</li>
                    @foreach (var subLink in navLink.NavLinks)
                    {
                        categoryCounter++;
                        @Nav(subLink, suffix = suffix + categoryCounter)
                    }
                </ul>
            </li>
        }
    }
}

@Nav(Model.CategoryNavRoot, "cat", true)