﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.Order.Content.RequestRmaPage

<div class="row main-row ma-rma">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>