﻿#copy-from-specification {
    height: 300px;
    overflow: auto;
}

    #copy-from-specification div {
        float: left;
    }

.copy-from-header-row div {
    font-weight: bold;
     color: #2d2d2c;
}

.copy-from-specification-textbox {
    width: 100px;
    border: 1px solid #dddddd;
    padding-right: 20px;
}

.copy-from-even-row {
    background-color: #f3f3f3;
}

.copy-from-content-row {
    border: solid 1px #ffffff;
    margin: 1px;
}

.copy-from-content-row:hover {
    background-color: #2d2d2c;
    color: #ffffff;
}

.copy-from-name-column {
    max-width: 140px;
    width: 140px;
    padding: 3px;
    float: left;
}

    .copy-from-name-column div {
        margin-left: 3px;
        overflow: hidden;
        max-width: 110px;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 18px;
    }

        .copy-from-name-column div img {
            margin-right: 3px;
            width: 14px;
        }

.copy-from-description-column {
    max-width: 140px;
    width: 140px;
    padding: 3px;
    float: left;
    height: 18px;
}

    .copy-from-description-column div {
        margin-left: 3px;
        overflow: hidden;
        max-width: 120px;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .copy-from-selected {
        background-color: #2d2d2c;
        border: 1px dashed #2d2d2c;
        /*font-weight: bold;*/
        color: #ffffff;
    }
.content-name {
}

.content-description {
}

/*.copy-from-checkbox input{
     border: 1px solid #f3f3f3;
}*/
.specification-filter {
    height: 16px;
    line-height: 0;
    padding: 1px 6px;
    margin-left: -22px;
    color: #2d2d2c;
    position: relative;
    font-size: 16px;
}

.nolink {

    cursor: default; 
}

#specification-template-delete-cancel {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#specification-template-delete-confirm {
    margin-top: 10px;
}

.delete-category-form {
    padding: 10px 0;
}

.delete-category-form fieldset {
    padding: 0;
}