<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-wrench icon-header"></i>Settings</h2>
                <div class="box-actions">
                   <!--- <button class="btn" type="button" id="newSetting"><i class="fa fa-plus"></i> Create Setting</button>-->

                    <span title="Create Setting" class="row-icon-button query-action-button" id="newSetting">
                        <i class="fa fa-plus"></i>
                        <span class="workarea-tool-text">Create Setting</span>
                    </span>
                </div>
            </div>
            <div class="box-content">
                <div id="settings-list"></div>
            </div>
        </div>
    </div>
    </div>	