﻿#contentarea #configure {
    position: absolute;
    top: 85px;
    left: 25px;
    right: 25px;
    bottom: 5px;
    overflow-y: auto;
}

#contentarea #configure .content-area-tools-row {
    width: 98%;
    left: 0px;
    right: 0px;
}

#SaveDefinition, #DeleteDefinition{
    float: right;
}

#contentarea #configure .nodeConfigureType {
    margin-left: 25px;
    margin-top: 10px;
}

#contentarea #configure .nodeConfigureOperator {
    margin-left: 25px;
}

#contentarea #configure #rulearea {
    margin-top: 10px;
    margin-left: 25px;
    overflow-y: auto;
}

#configure #queryarea {
    margin-top: 10px;
    margin-left: 25px;
    overflow-y: auto;
}


.contentarea #configure #querycontainer {
    overflow-y: auto;
}

#querycontainer {
    left: 0px;
    right: 0px;
    margin-top: 30px;
}

#queryselectionarea {
    border: 1px solid #ccc;
    position: relative;
    bottom: 35px;
    margin-top: 37px;
}

#configure #queryselectionarea #contentwrapper {
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.querytitle {
    font-weight: bold;
    margin-left: 30px;
}

#closeConfigureQuery {
    position: relative;
    float: right;
}

#add-condition {
    margin-top: 15px;
}
