﻿<div class='box-content' style="display:none;">
    <div class="color-picker-ctl">
        <span class="edit-supplier-onboarding-label">Name</span>
        <input id="edit-supplier-onboarding-name" type="text" class="edit-supplier-onboarding-textbox" />
    </div>
    <div class="color-picker-ctl">
        <span class="edit-supplier-onboarding-label">Responsible</span>
        <select id="edit-supplier-onboarding-responsible" multiple="multiple"></select>
    </div>
    <div class="color-picker-ctl">
        <span class="edit-supplier-onboarding-label">Automatic import</span>
        <input id="edit-supplier-onboarding-relay" type="checkbox" />
    </div>
    <div class="color-picker-ctl">
        <span class="edit-supplier-onboarding-label">Background Color</span>
        <span id="edit-supplier-onboarding-pick-background-color" class="edit-supplier-onboarding-pick-color">
            <input type="text" id="supplier-onboarding-pick-background-color" />
        </span>
    </div>
    <div class="color-picker-ctl">
        <span class="edit-supplier-onboarding-label">Text Color</span>
        <span id="edit-supplier-onboarding-pick-text-color" class="edit-supplier-onboarding-pick-color">
            <input type="text" />
        </span>
    </div>
    <div>
        <span class="edit-supplier-onboarding-label">Logo Image</span>
        <div class="edit-supplier-onboarding-setting-wrap">
            <div id="edit-supplier-onboarding-logo-preview-wrap">
                <img id="edit-supplier-onboarding-logo-preview" src="" />
            </div>
            <div id="edit-supplier-onboarding-file-upload-wrap">
                <span id="edit-supplier-onboarding-file-upload"><i class="fa fa-upload"></i>Upload Image</span>
                <img id="file-upload-spinner" src="/images/ajax-loader.gif"/>
            </div>
        </div>
    </div>
</div>
