<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-user icon-header"></i>Users</h2>
                <div class="box-actions">
                    <span title="Create User" class="row-icon-button query-action-button" id="newUser">
                        <i class="fa fa-plus"></i>
                        <span class="workarea-tool-text">Create User</span>
                    </span>
                </div>
            </div>
            <div class="box-content">
                <div id="users-list"></div>
            </div>
        </div>
    </div>
    </div>