﻿@using inRiver.Web.Misc
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@ViewBag.Title - inRiver</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    @if (Url.RequestContext.HttpContext.Request.IsSecureConnection)
    {
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic,700,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    }
    else
    {
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic,700,700italic" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    }

    
    @{
        var currentApp = Url.RequestContext.RouteData.Values["controller"].ToString().ToLower();
        var currentArea = Request.RequestContext.RouteData.DataTokens["area"].ToString().ToLower();
    }

    @Styles.Render("~/Content/common")
    @if (currentApp == "planner")
    {
        @Styles.Render("~/Content/planner")
    }
    else if (currentApp == "system")
    {
        @Styles.Render("~/Content/system")
    }
    else if (currentApp == "supply")
    {
        @Styles.Render("~/Content/supply")
    }
    else if (currentApp == "publish")
    {
        @Styles.Render("~/Content/publish")
    }
    else if (currentApp == "enrich")
    {
       @Styles.Render("~/Content/enrich")
    }
    else if (currentApp == "planrelease")
    {
        @Styles.Render("~/Content/planrelease")
    }
    else if (currentApp == "print")
    {

    }
    else if (currentApp == "portal")
    {
        @Styles.Render("~/Content/portal")
    }
    else if (currentApp == "supplieronboarding")
    {
        @Styles.Render("~/Content/supplieronboarding")
    }
    else if (currentApp == "contentstore")
    {
        @Styles.Render("~/Content/contentstore")
    }

    <link rel="stylesheet" type="text/css" href="~/Styles/libs/devextreme/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="~/Styles/libs/devextreme/dx.light.css" data-active="true" />

    <script type="text/javascript">
        var appHelper = {
            monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            userLanguage: '@ViewBag.UserLanguage',
            userName: '@ViewBag.Username',
            userDisplayName: '@ViewBag.UserDisplayName',
            momentDateTimeFormat: '@ViewBag.MomentDateTimeFormat',
            momentDateFormat: '@ViewBag.MomentDateFormat',
            momentTimeFormat: '@ViewBag.MomentTimeFormat',
            commaseparator: '@ViewBag.CommaSeparator',
            isAdministrator: @ViewBag.IsAdministrator,
            showWeeksInDatePicker: @ViewBag.ShowWeeksInDatePicker,
            firstDayOfWeek: @ViewBag.FirstDayOfWeek,
            permissions: @Html.Raw(ViewBag.Permissions),
            authenticationType: '@ViewBag.AuthenticationType'
            };

        var appData = {
            @if (ViewBag.BootStrappedAppData != null)
            {
                foreach (var p in ViewBag.BootStrappedAppData)
                {
                    @Html.Raw(p.Key + ": " + JsonConvert.SerializeObject(p.Value, InRiverUtil.BootstrappingJsonSerializerSettings) + ",\r\n\r\n")
                }
            }
        };

    </script>

    @RenderSection("plannerjs", false)

</head>

<body>
    @if (ViewBag.TopPartials != null)
    {
        foreach (string topPartial in ViewBag.TopPartials)
        {
            Html.RenderPartial(topPartial);
        }
    }

    @if (ViewBag.PopupPartials != null)
    {
        foreach (string popupPartial in ViewBag.PopupPartials)
        {
            Html.RenderPartial(popupPartial);
        }
    }

    @{ 
        if (currentArea == "app")
        {
            Html.RenderPartial("_Header");
        }
        else
        {
            // All extension apps will have a default header only.
            Html.RenderPartial("~/Areas/app/Views/Shared/_Header.cshtml");
        }
        }

    @RenderBody()

    @*@{ Html.RenderPartial("_Footer"); }*@

    @*    </div>*@
    
    <footer><span>Copyright ©2017 inRiver</span></footer>
</body>
</html>