﻿<div id="drop-zone">
    <form action="/imageupload/file" class="dropzone-button" id="my-dropzone">
        <div class="dz-text dz-message">
            <i class="icon-entypo-fix-picture extra-large-entypo-fix-icon box-title-icon"></i><p />
            Upload Media
        </div>
        <div id="dropzone-buttons">
            <a href="#" id="start-upload" class="link-button">Start Upload</a>
            <a href="#" id="close-upload" class="link-button">Close</a><p />
            Drop files here or Click to Browse<p />
        </div>
        <input type="hidden" value="<%= entityId %>" id="entityId" name="entityId" />
        <input type="hidden" value="0" id="resourceId" name="resourceId" />
        <input type="hidden" value="<%= type %>" id="type" name="type" />
    </form>
</div>