﻿<div id="header-navigation-links-wrap">
    <a href="#dashboard"><span><i class="fa fa-th"></i>Dashboard</span></a>
    <% if (appHelper.isAdministrator) { %>
    <a href="#configuration"><span><i class="fa fa-cog"></i>Configuration</span></a>
    <% } %>
</div>
