﻿<div class="bbm-wrapper">
    <div class="bbm-modal bbm-modal--open  modal-small">
        <div>
            <div class="main-header-row-fixed-container">
                <div class="main-header-row std-top-padding modal-fixed-header-row">
                    <div id="main-client-area">
                        <div>
                            <span class="main-header entity-view-details-header">Field History</span>
                        </div>
                        <span id="main-header-buttons">
                            <button id='close-button'>Close</button>
                        </span>

                    </div>
                </div>
                <div class="settings-view-top-offset">
                    <div id="main-client-area" class="modal-fixed-details">
                        <div id="details-row-container">
                            <table id="revisions" style="text-align: left">
                                <tr>
                                    <th>Value</th>
                                    <% if (fieldDataType=="LocaleString") { %>
                                    <th>Language</th>
                                    <% } %>
                                    <th>Modified</th>
                                    <th>Modified By</th>
                                    <th>
                                        <% if (!isReadOnly) { %>
                                        Restore
                                        <% } %>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>