﻿
.details-header {
    margin-left: 20px;
    margin-top: 10px;
}

.entity-area-small {
    display: inline;
    float: right;
    left: 320px;
    right: 0;
    position: absolute;
    overflow: hidden;
    height: 100%;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 30px;
    margin-left: 15px;
    -moz-min-width: 600px;
    -ms-min-width: 600px;
    -o-min-width: 600px;
    -webkit-min-width: 600px;
    min-width: 600px;
    /*z-index: 1; removed to support drag n drop better */
}

.connector-area {
    display: inherit;
    float: inherit;
    position: inherit;
}

#details-row-container {
    padding-top: 15px;
    margin-bottom: 5px;
    top: 80px;
    bottom: 0;
    right: 0;
    left: 0;
}

.showCategory {
    padding-left: 5px;
}

.entity-view-details-row {
    clear: both;
    min-height: 27px;
}

.entity-view-details-row-key {
    padding-left: 20px;
    padding-top: 6px;
    width: 200px;
    color: #2d2d2c;
    vertical-align: top;
    display: inline-block;
}

.entity-overview-details-row-key {
    padding-left: 20px;
    margin-top: 2px;
    display: inline-block;
    width: 180px;
    color: #2d2d2c;
    vertical-align: top;
    float: left;
}

.entity-view-details-row-history {
    margin-left: 4px;
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

.entity-view-details-row #value {
    display: inline-block;
    color: #333;
    margin-left: 15px;
}

.entity-view-details-row .value-wrapper {
    display: inline-block;
    color: #333;
    -moz-min-width: 20px;
    -ms-min-width: 20px;
    -o-min-width: 20px;
    -webkit-min-width: 20px;
    min-width: 40px;
    padding-top: 5px;
}

.control-row-icon-button {
    cursor: pointer;
}

.empty-icon {
    margin-left: 34px;
}


/* Inline editing*/

.editrow .editor {
    padding-left: 300px;
    display: inline;
}

#edit-value-icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    padding-right: 8px;
    padding-left: 8px;
}

.editrow {
    padding: 7px 0;
    background-color: antiquewhite;
    border: 1px solid #cccccc;
    border-top: 0;
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.invalid-input-border {
    border: 2px solid #ff0000;
}

.green-icon-button {
    color: #99dd99;
    cursor: pointer;
}

.orange-icon-button {
    color: darkorange !important;
    cursor: pointer;
}

.content-area-tools {
    margin-left: 10px;
    cursor: pointer;
}

.content-area-tools .row-icon-button {
    margin-right: 4px;
}

.content-area-tools-row {
    border-bottom: 1px solid #cccccc;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    padding-top: 3px;
    padding-left: 15px;
}

.edit-span {
    margin-left: 5px;
}

.edit-span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.value-wrapper select {
    -moz-min-width: 250px;
    -ms-min-width: 250px;
    -o-min-width: 250px;
    -webkit-min-width: 250px;
    min-width: 250px;
}

.value-wrapper .inactive {
    display: none;
}

.value-wrapper .active {
    display: inline-block;
    font-size: 11px;
    color: #bbb !important;
    vertical-align: super;
}

.history-wrapper {
    width: 18px;
    margin-left: 3px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.history-wrapper .row-icon-button {
    color: #cccccc;
}

.multi-value-display {
    color: #0071a5;
    cursor: pointer;
    display: inline;
}

#revisions th {
    text-align: left;
    padding-right: 10px;
}

.value-placeholder {
    display: inline-block;
}

.value-wrapper .cvl-edit-control {
    margin-left: 10px;
    margin-bottom: 3px;
    width: 270px;
}

.value-wrapper .input-text-edit-control {
    width: 270px;
    margin-left: 10px;
    margin-bottom: 3px;
    border: 1px solid #aaa;
    height: 22px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #555;
}

.value-wrapper .input-text-edit-control {
    width: 270px;
    margin-left: 10px;
    margin-bottom: 3px;
    border: 1px solid #aaa;
    height: 20px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #555;
    text-indent: 3px;
}

.value-wrapper .input-checkbox-edit-control {
    margin-left: 10px;
    margin-bottom: 3px;
    border: 1px solid #aaa;
    height: 18px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #555;
}

.value-wrapper .select-language-edit-control {
    margin-left: 10px;
    margin-bottom: 3px;
    border: 1px solid #aaa;
    height: 24px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #555;
    text-indent: 3px;
}

.value-wrapper .textarea-edit-control {
    margin-left: 10px;
}

.no-edit-text-area {
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 550px;
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
}

.entity-view-details-row textarea {
    min-height: 35px;
}

.specification-template-category-item {
    background-color: #eee;
    padding: 10px;
}

.popup-wrap #specification-template-edit-field-wrap {
    margin-top: 70px;
}

.specification-template-field-item {
    padding: 10px;
}

.specification-template-field-name {
    display: inline-block;
    width: 25%;
    color: #0071a5;
}

.specification-template-field-name i, .specification-template-category-item i {
    margin-left: 8px;
}

.specification-template-column {
    display: inline-block;
    width: 12%;
}

.specification-template-field-item .label {
    color: #aaa;
}

#specification-template-view-wrap #field-list {
    margin-top: 10px;
}

#specification-template-delete-field {
    float: right;
}

.invalid-value {
    color: #bb7777;
}