﻿.control-row-icon-button {
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    font-weight: normal;
    font-size: 15px;
}

#edit-value-icon{
    color: #2d2d2c !important;
}

#restore-button {
    color: #2d2d2c !important;
}

#tools .control-row-icon-button {
    color: inherit;
}

/*.control-row-tool-area #contextmenu i, .control-row-tool-area #contextmenu span {
    color: #ffffff;
}

    .control-row-tool-area .control-row-icon-button:hover, .control-row-tool-area #contextmenu i:hover {
        color: #ffffff;
    }*/

#control-row {
    -moz-min-width: 960px;
    -ms-min-width: 960px;
    -o-min-width: 960px;
    -webkit-min-width: 960px;
    min-width: 960px;
    z-index: 1;
    position: fixed;
    top: 80px;
    left: 15px;
    right: 15px;
    background-color: #333333;
    overflow: visible;
}


.control-row-std-height {
    height: 50px;
    background-color: #eeeeee !important;
}

.control-row-campaign-view-height {
    height: 80px;
}

#control-row-expanded {
    height: auto;
}

.control-row-padding {
    padding-top: 50px;
}

#control-row-content {
    display: block;
    height: 100%;
    color: #222;
    font-weight: normal;
    font-size: 12px;
    padding: 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    overflow-x: visible;
}


.entity-top, .entity-lower {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50%;
}

.entity-tab {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.entity-row-view-height {
    -moz-min-width: 680px;
    -ms-min-width: 680px;
    -o-min-width: 680px;
    -webkit-min-width: 680px;
    min-width: 680px;
    overflow: hidden;
    width: 100%;
}

.entity-title-image {
    /*    background: url(/picture?id=5498&size=Original);
    opacity: 0.5;*/
    -moz-background-position-y: 40%;
    -o-background-position-y: 40%;
    background-position-y: 40%;
    -ms-background-size: cover;
    background-size: cover;
    background-color: #eeeeee;
    height: 120px;
}

    .entity-title-image::before {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 120px;
    }


/*
.entity-view-details-header {
    float: left;
    margin-left: -1px;
    margin-top: 20px;
    margin-bottom: 20px;
}*/

#entity-view-title-area {
    float: left;
    height: 80px;
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: middle;
}

.entity-view-title-text-area {
    /*float: left;
    width: 350px;*/
    margin-left: 15px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    color: #ffffff;
    right: 410px;
    left: 0;
    position: absolute;
}

.entity-view-title-text img {
    margin-right: 5px;
    margin-bottom: 1px;
}

.entity-view-title-text2 {
    /*margin-left: 25px;*/
    font-size: 16px;
    display: block;
    /*float: left;*/
    /*width: 230px;*/
    color: #eeeeee;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*margin-left: 23px;*/
}

.entity-view-fieldset, .card-view-fieldset {
    display: block;
    /*float: left;*/
    font-size: 18px;
    color: #aaa;
    font-style: oblique;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*margin-left: 23px;*/
}


.entity-view-title-picture-area {
    position: absolute;
    float: left;
    left: 40px;
    top: 5px;
    display: table-cell;
    /*width: 100px;
    height: 100px;*/
}

.entity-view-title-picture-area, .entity-view-title-icon-area {
    position: absolute;
    float: left;
    left: 40px;
    top: 5px;
    display: table-cell;
    /*width: 100px;
    height: 100px;*/
}

.entity-view-title-picture-frame {
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 4px;
    width: 60px;
    height: 60px;
}

.entity-view-title-icon-frame {
    padding: 4px;
    margin-top: 14px;
    margin-left: 8px;
    width: 46px;
    height: 46px;
}

.entity-view-title-picture, .entity-view-title-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#entity-view-tool-area {
    float: right;
    line-height: 50px;
}

#entity-view-back-button {
    float: left;
    cursor: pointer;
    position: absolute;
    line-height: 77px;
    margin-left: -29px;
    padding-left: 10px;
    color: #ffffff;
}

#entity-view-tabview-container {
    margin-top: 150px;
}

.control-row-tool-area .card-tools {
    color: #eeeeee;
}


.control-row-tab-area {
    display: inline;
    float: left;
    position: absolute;
    left: 25px;
    top: 65px;
}


.control-row-tab-button {
    /*position: absolute;*/
    bottom: 0;
    padding: 10px 15px 6px 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: center;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: larger;
    display: inline-block;
}

    .control-row-tab-button:hover {
        /*border-bottom: 4px solid #d33138;*/
        margin-bottom: 0;

    }

.control-row-tab-icon {
    margin-bottom: 7px;
    text-align: center;
}


.entypo-fix-icon {
    font-family: "entypo-fix";
}

.std-entypo-fix-icon {
    font-family: "entypo-fix";
    font-weight: normal;
    font-size: 16px;
}

.large-entypo-fix-icon {
    font-family: "entypo-fix";
    font-weight: normal;
    font-size: 24px;
}

.extra-large-entypo-fix-icon {
    font-family: "entypo-fix";
    font-weight: normal;
    font-size: 48px;
}

.control-row-tab-button-active {
    /*border-bottom: 4px solid #ffffff;*/
    margin-bottom: 0;
    border-bottom: 3px solid #d33138;
}

.control-row-tab-button-active:hover {
   /* color: #ffffff;*/
    margin-bottom: 0;
}


#control-row-indicator-area {
    float: right;
    /* margin-right: 35px;*/
    color: #333;
    margin-top: 28px;
    text-align: right;
    -webkit-text-wrap: none;
    -moz-text-wrap: none;
    -ms-text-wrap: none;
    -o-text-wrap: none;
    text-wrap: none;
}

.control-row-indicator-area-dates {
    margin-top: 5px;
    margin-bottom: 8px;
}

.control-row-indicator-progress-background {
    display: inline-block;
    width: 190px;
    /*line-height: 50px;
    height: 50px;*/
    background-color: #dddddd;
}

.control-row-indicator-area-progress-foreground {
    background-color: #396580;
}

.control-row-tool-area {
    float: right;
    height: 80px;
    margin-left: 10px;
}

    .control-row-tool-area > span {
        margin-top: 25px;
        display: inline;
        float: left;
        font-size: 16px;
    }

/*
.control-row-is-starred {
    color: #999 !important;
}
    */
.progress-rect {
    position: relative;
    height: 26px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    border-radius: 42px;
}

.progress-rect-background {
    background: #dddddd;
}

#entity-view-tabview-container .progress-rect-foreground {
    background: #396580;
}

#progress-rect-percentage {
    float: right;
    color: #FFF;
    padding-right: 10px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
}

#outside-progress-rect-percentage {
    float: left;
    color: #333333;
    padding-left: 3px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
}

    #progress-rect-percentage:hover, #outside-progress-rect-percentage:hover {
        text-decoration: underline;
    }

.list-row-indicator {
    width: 180px;
}

#entity-top-info-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
    position: relative;
}

.planandrelease-entity-tab #entity-top-info-container {
    overflow: hidden;
    height: 350px;
    position: relative; 
}

.connector-area #entity-top-info-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#entity-bottom-info-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
}

.entityclosearea {
    top: 0;
    right: 0;
    position: absolute;
}

#closeentity:hover {
    color: #d33138;
}

.control-row-tool-area #contextmenu {
    margin-top: 31px;
}

.completeness {
    height: 30px;
    color: #eeeeee;
    cursor: pointer;
}

.completeness-small {
    height: 20px;
    float: right;
    color: #0077B7;
}

.completeness .timer {
    font-size: 26px;
}

.completeness-small .pie {
    font-size: 15px;
}

.timer {
    position: relative;
    width: 26px;
    height: 26px;
    float: right;
    display: inline;
}

.percent {
    display: inline;
    margin-top: 5px;
    margin-right: 3px;
    left: 0;
    float: left;
    text-align: center;
    font-weight: bold;
}

.timer > #slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0,1em,1em,0.5em);
}

    .timer > #slice.gt50 {
        clip: rect(auto, auto, auto, auto);
    }

    .timer > #slice > .pie {
        border: 0.1em solid #0071A5;
        position: absolute;
        width: 1em; /* 1 - (2 * border width) */
        height: 1em; /* 1 - (2 * border width) */
        clip: rect(0,0.5em,1em,0);
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        border-radius: 0.5em;
    }

        .timer > #slice > .pie.fill {
            -moz-transform: rotate(180deg) !important;
            -webkit-transform: rotate(180deg) !important;
            -o-transform: rotate(180deg) !important;
            -ms-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
        }

.timer.fill > #slice > .pie {
    border: transparent;
    background-color: #0071A5;
    clip: rect(0,0.5em,1em,0);
    width: 1em;
    height: 1em;
}

.circle-front-color {
    color: #0071a5;
}

#control-row-indicator-area .circle-back-color {
    color: #eeeeee;
}

.circle-back-color {
    color: #ffffff;
}

.pie {
    font-family: pie;
    display: inline;
    margin-top: 4px;
    left: 0;
    float: left;
    font-size: 20px;
    text-align: center;
}

.overview-container {
    float: left;
    width: 50%;
    height: 100%;
}

    .overview-container .area {
        margin: 10px;
    }

.channel-entity-card-wrap, .publication-entity-card-wrap, .connector-event-wrap {
    position: relative;
    float: left;
    width: 270px;
    color: black;
}

.channel-entity-card-wrap, .publication-entity-card-wrap {
    cursor: pointer;
}

    .channel-entity-card-wrap:hover, .publication-entity-card-wrap:hover, .connector-event-wrap:hover {
        -webkit-box-shadow: 0 0 3px #000000;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
        -ms-box-shadow: 0 0 3px #000000;
        box-shadow: 0 0 3px #000000;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
        color: black;
    }

/*#entity-top-info-container #channel-area-content {
    height: 100%;
    width: 520px;
    margin: 20px;
}*/

.showInStructure {
    text-align: center;
    color: #396580;
    padding: 6px;
    font-weight: bold;
    font-size: 90%;
    cursor: pointer;
    clear: both;
    margin-right: 20px;
    margin-left: 0;
    width: 270px;
    margin-bottom: 20px;
}

    .showInStructure:hover {
        background-color: #eee;
    }

/****** Entity Overview *********/

.entity-overview-container-left {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

    .entity-overview-container-left h2 {
        padding: 5px;
        padding-left: 10px;
        font-size: 20px;
        background-color: #ffffff;
        color: #2d2d2c;
        border-bottom: solid 2px #2d2d2c;
    }

.entity-overview-container-right {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .entity-overview-container-right h2 {
        padding: 5px;
        font-size: 20px;
        padding-left: 10px;
        background-color: #ffffff;
        color: #2d2d2c;
        margin-right: 1px;
        border-bottom: solid 2px #2d2d2c;
    }

.entity-overview-channel, .entity-overview-publication {
    margin-right: 8px;
    margin-top: 8px;
    float: left;
}

    .entity-overview-channel:hover, .entity-overview-publication:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .entity-overview-channel span, .entity-overview-publication span {
        padding-left: 3px;
    }

    .entity-overview-channel img, .entity-overview-publication img {
        vertical-align: bottom;
    }

.entity-view-overview-details-row {
    padding-top: 4px;
    padding-bottom: 4px;
    clear: both;
    min-height: 20px;
}

    .entity-view-overview-details-row #value {
        float: left;
        display: inline-block;
        color: #333;
        /*margin-left: 15px;*/
        width: calc(100% - 200px);
        overflow: hidden;
        text-overflow: ellipsis;
    }

.width-limited-container-overview {
    width: 100%;
    overflow: hidden;
    position: relative;
}


#inbound-area-content {
    margin: 10px;
    margin-bottom: 0;
    display: inline-block;
}

    #inbound-area-content > div {
        float: left;
    }

#outbound-area-content {
    margin: 10px;
    margin-bottom: 0;
    display: inline-block;
}

    #outbound-area-content > div {
        float: left;
    }

#field-area-content {
    position: relative;
    left: 0;
    right: 0;
}

#channel-area-content {
    margin: 10px;
    margin-bottom: 0;
    display: inline-block;
}

.card-wrap-overview {
    position: relative;
    float: left;
    width: 200px;
    color: black;
    background: #ffffff;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 0;
    border: 1px solid #cccccc;
     /*border-right-width: 2px;
    border-right-color: #0077B7 !important;*/
    cursor: pointer;
    height: 48px;
}

.card-header-area-overview {
    float: left;
    width: 100px;
}

.card-text1-overview {
    font-weight: 400;
    font-size: 13px;
    padding-top: 2px;
    padding-left: 3px;
    margin-bottom: 3px;
    color: black !important;
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

    .card-text1-overview img {
        vertical-align: bottom;
    }

.card-text2-large-overview {
    float: left;
    overflow: hidden;
    padding-left: 3px;
    color: #999;
    width: 140px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.card-picture-area-overview {
    display: inline-block;
    float: left;
}

.card-picture-frame-overview {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
}

.card-picture-overview {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/****** END Entity Overview *********/


.CompletenessDetails {
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #ccc;
    z-index: 10;
}

.card-wrap-large .CompletenessDetails {
    width: 150px;
}

.card-wrap .CompletenessDetails {
    width: 250px;
}

.CompletenessDetails h2 {
    padding: 5px;
    padding-left: 10px;
    background-color: #bbbbbb;
    color: #ffffff;
}


#imagemaparea {
    width: 930px;
    height: 500px;
}

#merchandising-image-outer-wrap {
    margin: 10px;
    padding: 5px;
    background-color: #fafafa;
    display: table;
    float: left;
    width: 620px;
    height: 420px;
    text-align: center;
    border: 1px solid #ccc;
}

#merchandising-image-wrap {
    display: table-cell;
    vertical-align: middle;
}

    #merchandising-image-wrap > div {
        display: inline-block !important;
    }

#merchandising-image {
    display: block;
    max-width: 600px;
    max-height: 400px;
    z-index: 200;
    /*margin: auto auto;*/
}

#merchandising-tools-wrap {
    float: right;
    margin: 5px;
}

#merchandising-toolbar {
    margin: 0 10px;
}

#merchandising-drawing-info-wrap {
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 65px;
}

#merchandising-drawing-info-rect h2 {
    display: inline-block;
}

#merchandising-drawing-info-rect {
    border: solid 1px #999;
    padding: 10px;
    background: #fafafa;
}

#merchandising-drawing-wrap {
    float: left;
    /*display: table;
    position: relative;*/
    /*width: 600px;
  height: 400px;*/
    /*top: 0;
    left: 0;
    height: 50%;
    width: 50%;*/
    /*background: #0071a5;*/
    margin-top: 65px;
    display: inline-block;
}

#merchandising-drawing-image-and-fabric-wrapper {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    position: relative;
    width: 600px;
    height: 400px;
}

#merchandising-drawing-image {
    position: absolute;
    max-width: 600px;
    max-height: 400px;
    /*z-index: 200;*/
}

#merchandising-drawing-fabric {
    position: absolute;
    /*margin-left: 20px;*/
    /*border: 1px #f00 solid;*/
    top: 0;
    left: 0;
    /*z-index: 11 !important;*/
}

#merchandising-drawing-image-and-fabric-wrapper .canvas-container {
    position: static !important;
    z-index: 11 !important;
    width: 0 !important;
    height: 0 !important;
    /*opacity: 0;
    visibility: hidden;
    display: none;*/
}

#merchandising-container .thumbnails-overview {
    overflow-x: auto;
}

.merchandising-media-item {
    text-align: center;
    width: 100px;
    height: 100px;
}

.merchandising-media-item-card-wrap {
    margin-right: 10px;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

    .merchandising-media-item-card-wrap img {
        max-width: 80px;
        max-height: 80px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

.merchandising-media-item-selected {
    border: 1px #666 solid;
}

.merchandising-container {
    float: left;
    /*height: 100%;*/
}

#merchandising-area-list {
    overflow-y: auto;
    height: 400px;
}

.merchandising-area-item {
    width: 250px;
    height: 55px;
    padding: 5px 5px 5px 10px;
}

.merchandising-area-item-highlighted {
    background: #999;
}

#merchandising-entity-card-slot {
    float: left;
    height: 53px;
    width: 210px;
    border: #999 1px dashed;
    background-color: #fafafa;
}

.merchandising-entity-card-slot-placeholder-text {
    line-height: 53px;
    text-align: center;
    width: 100%;
    color: #aaa;
    font-style: italic;
}

#merchandising-entity-card-slot-button-wrap {
    display: inline-block;
    /* margin-top: 12px; */
    margin-left: -25%;
    /* padding: 10px; */
    position: relative;
    left: 50%;
    top: 12px;
}

    #merchandising-entity-card-slot-button-wrap button {
        /*background-color: #aaa;*/
    }

#merchandising-entity-card-slot-tools {
    float: right;
    padding-top: 13px;
    margin-right: 5px;
}

#merchandising-link-type-select {
    margin-top: 20px;
    width: 200px;
}


#context-editor-iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
}
