﻿
<div id="configuration-color-cvlfieldtypes">
    <select>
        <option id="">(None)</option>
        <% _.each(cvlFieldTypes, function(fieldType) { %>
        <option id="<%=fieldType.id%>"><%=fieldType.displayname%></option>
        <%} ); %>
    </select>
</div>
