﻿<div class="box-content">
    <div id="configuration-color-entitytypeids">
        <label class="control-label" for="select-entity-type" style="float: none">Set color on</label>
        <select id="select-entity-type"></select>
    </div>
    <div id="configuration-color-cvlfieldtypes">
        <label class="control-label" for="select-field-type" style="float: none">Set color by</label>
        <select id="select-field-type"></select>
    </div>
    <table class="backgrid backgrid-striped">
        <thead>
            <tr>
                <th></th>
                <th><a>Background Color</a></th>
                <th><a>Text Color</a></th>
                <th><a>Example</a></th>
            </tr>
        </thead>
    </table>
</div>
