﻿<div class="color-picker-ctl">
    <span class="configuration-color-label">Tab Color</span>
    <span id="configuration-color-pick-tab-color" class="configuration-color-pick-color">
        <input type="text" />
    </span>
</div>
<div class="color-picker-ctl">
    <span class="configuration-color-label">Text Color</span>
    <span id="configuration-color-pick-text-color" class="configuration-color-pick-color">
        <input type="text" />
    </span>
</div>
