﻿<tr class="cvlvalue-color-selector-row">
    <th class="cvlValue string-cell renderable"></th>
    <td class="renderable">
        <div class="color-picker-ctl">
            <span class="configuration-color-pick-color configuration-color-pick-tab-color">
                <input type="text" class="color-input configuration-input-tab-color" placeholder="Default" />
            </span>
            <button class="set-default-color-button set-default-tab-color-button">Set default</button>
        </div>
    </td>
    <td class="renderable">
        <div class="color-picker-ctl">
            <span class="configuration-color-pick-color configuration-color-pick-text-color">
                <input type="text" class="color-input configuration-input-text-color" placeholder="Default" />
            </span>
            <button class="set-default-color-button set-default-text-color-button">Set default</button>
        </div>
    </td>
    <td class="renderable">
        <div class="color-example">Lorem Ipsum</div>
    </td>
</tr> 