﻿<tr>
    <th id="entity-type" class="string-cell renderable"></th>
    <td id="field-types" class="renderable">
        <select id="field-types-select" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple">
        </select>
    </td>
</tr> 