<div id="main-client-area" class="modal-fixed-details">
    <div id="user-settings">
        <div class="user-settings-row user-settings-even-row">
            <div class="user-settings-label">Username:</div><div><span id="user-settings-username"><%= data.Username %></span></div>
        </div>
        <% if(data.AuthenticationType == "Forms"){ %>
        <div class="user-settings-row">
            <div class="user-settings-label">First name:</div><div>
                <input id="user-settings-firstname" type="text" value="<%= data.Firstname %>" />
            </div>
        </div>
        <div class="user-settings-row user-settings-even-row">
            <div class="user-settings-label">Last name:</div><div>
                <input type="text" id="user-settings-lastname" value="<%= data.Lastname %>" />
            </div>
        </div>
        <div class="user-settings-row" id="user-settings-row-email">
            <div class="user-settings-label">Email:</div><div>
                <input type="text" id="user-settings-email" value="<%= data.Email %>" />
            </div>
        </div>
        <% } else {%>
        <div class="user-settings-row">
            <div class="user-settings-label">First name:</div><div>
                <span id="user-settings-username"><%= data.Firstname %></span>
            </div>
        </div>
        <div class="user-settings-row user-settings-even-row">
            <div class="user-settings-label">Last name:</div><div>
                <span id="user-settings-lastname"><%= data.Lastname %></span>
            </div>
        </div>
        <div class="user-settings-row">
            <div class="user-settings-label">Email:</div><div>
                <span id="user-settings-email"><%= data.Email %></span>
            </div>
        </div>
        <% } %>
        <div class="user-settings-row user-settings-even-row">
            <div class="user-settings-label">Data Language:</div><div>
                <select id="user-settings-data-language">
                    <% _.each(languages, function(language) { %>
                    <% if(language.Name == data.DataLanguage){ %>
                    <option selected="selected" value="<%= language.Name %>"><%= language.DisplayName %></option>
                    <% } else {%>
                    <option value="<%= language.Name %>"><%= language.DisplayName %></option>
                    <% } %>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="user-settings-row">
            <div class="user-settings-label">Model Language:</div><div>
                <select id="user-settings-model-language">
                    <% _.each(languages, function(language) { %>
                    <% if(language.Name == data.ModelLanguage){ %>
                    <option selected="selected" value="<%= language.Name %>"><%= language.DisplayName %></option>
                    <% } else {%>
                    <option value="<%= language.Name %>"><%= language.DisplayName %></option>
                    <% } %>
                    <% }); %>
                </select>
            </div>
        </div>
        <% if(data.AuthenticationType == "Forms"){ %>
        <div class="user-settings-row user-settings-even-row" id="user-settings-row-password1">
            <div class="user-settings-label">Password:</div><div><input type="password" id="user-settings-password1" /></div>
        </div>
        <div class="user-settings-row" id="user-settings-row-password2">
            <div class="user-settings-label">Repeat password:</div><div><input type="password" id="user-settings-password2" /></div>
        </div>
        <% } %>
    </div>
</div>
