﻿<div class="syndication-configuration-root">
    <span class="category-section-title">
        <span class="control-row-tab-button control-row-tab-button-active" id="tab-mappings">
            Mappings
        </span>
        <span class="control-row-tab-button" id="tab-transform">
            Scripts
        </span>
        <span class="control-row-tab-button" id="tab-receivers">
            Receivers
        </span>
    </span>
    <!--<div class="syndication-configuration-tools-row">
        <span class="content-area-tools" id="syndication-configuration-undo-all-button" style="display: inline;"><i class="fa fa-undo row-icon-button" title="Undo all changes"></i> Undo</span>
        <span class="content-area-tools" id="syndication-configuration-save-all-button" style="display: inline;"><i class="fa fa-floppy-o row-icon-button" title="Save all changes"></i> Save</span>
    </div>-->
    <div id="syndication-configuration-main">
    </div>
</div>