<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-ban icon-header"></i>Restricted Fields</h2>
                <div class="box-actions">
                    <!--<button class="btn" type="button" id="newRestricted"><i class="fa fa-plus"></i> Create Restricted Field</button>-->
                    <span title="Create Restricted Field" class="row-icon-button query-action-button" id="newRestricted">
                        <i class="fa fa-plus"></i>
                        <span class="workarea-tool-text">Create Restricted Field</span>
                    </span>
                </div>
            </div>
            <div class="box-content">
                <div id="restricted-list"></div>
            </div>
        </div>
    </div></div>