﻿<div class="app-tools">
    <div class="app-tools-header" id="tools-show">
        <i class="fa fa-navicon"></i>
    </div>
    <div id="app-tools-container" style="display: none">
        <div id="close-tools-container">
            <span title="Close" class="fa fa-times"></span>
        </div>
        <div id="create-entity-types"></div>
        <div>
            <div>
                <div>
                    <h3>Import</h3>
                </div>
            </div>
            <div>
                <div>
                    <div id="upload-media">
                        <div>
                            <span class=" icon-entypo-fix-picture std-entypo-fix-icon box-title-icon"></span>
                        </div>
                        <div>Upload Media</div>
                    </div>
                    <div id="import-data">
                        <div>
                            <span class="icon-entypo-fix-attach std-entypo-fix-icon box-title-icon"></span>
                        </div>
                        <div>Import Data</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
