﻿<ul id="<%= resource.ResourceFileId %>" class="download-menu" style="display:none">
    <% _.each(resource.DownloadConfigurations, function(config){ %>
    <li class="<%=config %>"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=<%= config %>"><%= config %></a></li>
    <% }); %>
</ul>