﻿<div id="main-client-area">
    <div id="upload-media-container">
        <span>Select files to upload by dropping directly in the drop area or by clicking the drop area and browse the files</span>
        <div id="dropzone-buttons" style="display: none">
            <span id="start-upload" class="row-icon-button query-action-button" title="">
                <i class="fa fa-upload"></i>
                <span class="workarea-tool-text">Upload</span>
            </span>
        </div>


    </div>
    <div id="dropzone-container">
        <div id="drop-zone2">
            <form action="/imageupload/file" class="dropzone-button" id="media-dropzone">
                <div class="dz-text dz-message" id="drop-zone-message">
                    <i class="icon-entypo-fix-picture extra-large-entypo-fix-icon box-title-icon"></i><p />
                    Select files
                </div>
                <input type="hidden" value="0" id="entityId" name="entityId" />
                <input type="hidden" value="0" id="resourceId" name="resourceId" />
                <input type="hidden" value="NewResource" id="type" name="type" />
            </form>
        </div>
    </div>
</div>