﻿@using Collective.Web.Extension.Core.Helpers
@using Insite.Catalog.Services.Dtos
@model Insite.Catalog.Seo.SeoCatalogModel

@{
    ViewBag.HideHeaderAndFooter = true;
    ViewBag.HideSpinner = true;
}

<div class="row main-row product-list">
    <ul class="breadcrumbs">
        @foreach (var crumb in Model.CatalogPage.BreadCrumbs)
        {
            <li>
                @if (!crumb.Url.IsBlank())
                {
                    <a href="@crumb.Url">@crumb.Text</a>
                }
                else
                {
                    @crumb.Text
                }
            </li>
        }
    </ul>

    @if (Model.CatalogPage.Category != null && Model.CatalogPage.Category.SubCategories != null && Model.CatalogPage.Category.SubCategories.Count > 0)
    {
        <div class="columns left-nav-2">
            <div class="ln2-wrap">
                <div class="nav-head">
                    <h2>@Model.CatalogPage.Category.ShortDescription</h2>
                    <ul>
                        @foreach (var subCategory in Model.CatalogPage.Category.SubCategories)
                        {
                            <li>
                                <a href="@subCategory.Path">@subCategory.ShortDescription</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="right small-12 columns cl1-wrapper">
            <div class="contentWrapper2">
                <div class="content2">
                    <div ng-bind-html="vm.category.htmlContent|trusted" class="cm cat-cm">
                        @Html.Raw(Model.CatalogPage.Category.HtmlContent)
                    </div>
                    <div class="cat-list">
                        @foreach (var subCategory in Model.CatalogPage.Category.SubCategories)
                        {
                            <div class="cat-block">
                                @* TODO handle microsites *@
                                <div>
                                    <a href="@subCategory.Path"><img src="@subCategory.SmallImagePath" alt="@subCategory.ImageAltText" /></a>
                                </div>
                                <span><a href="@subCategory.Path">@subCategory.ShortDescription</a></span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="content-wrapper">

            @if (Model.CatalogPage.Category != null && !Model.CatalogPage.Category.LargeImagePath.IsBlank())
            {
                <div class="pl4-cm">
                    <img src="@Model.CatalogPage.Category.LargeImagePath" alt="@Model.CatalogPage.Category.ImageAltText" title="@Model.CatalogPage.Category.ShortDescription" />
                </div>
            }
            @{
                var noResults = Model.ProductCollection == null || Model.ProductCollection.ProductDtos == null || Model.ProductCollection.ProductDtos.Count == 0;
            }
            <div class="right small-12 columns">
                <h3 class="results-count">
                    @if (!noResults)
                    {
                        <span class="result-num">@Model.ProductCollection.TotalCount</span>
                        <span class="result-lbl">@T("Items_pager").ToLower()</span>
                    }
                    @*
                        <span ng-if="vm.query && !(vm.searchCategory || vm.filterCategory.categoryId)" class="search-lbl">
                            <strong>{{ vm.noResults ? '@T("No results found for")' : '@T("Results for")' }} "{{vm.query}}"</strong>
                        </span>
                        <span ng-if="vm.query && (vm.searchCategory || vm.filterCategory.categoryId)" class="search-lbl">
                            <strong>{{ vm.noResults ? '@T("No results found for")' : '@T("Results for")' }} "{{vm.query}}" @T("in_category") {{vm.searchCategory.shortDescription || vm.filterCategory.shortDescription}}</strong>
                        </span>
                    *@
                </h3>
                @if (!noResults)
                {
                    <div>
                        <div>
                            @if (Model.ProductCollection.TotalCount > Model.ProductCollection.PageSize)
                    {
                                <div class="uibar tertiary paginator-34" ng-class="ptop">
                                    <ul>
                                        @if (Model.ProductCollection.SortOptions != null && Model.ProductCollection.SortOptions.Count > 0)
                                        {
                                            <li class="sort-list">
                                                <div class="small-4 columns sorting-label">
                                                    <label>@T("Sort by"):</label>
                                                </div>
                                                <div class="small-8 columns sorting-select">
                                                    <select name="select">
                                                        @foreach (var sortOption in Model.ProductCollection.SortOptions)
                                                        {
                                                            <option>@sortOption.DisplayName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </li>
                                        }
                                        <li class="results-list">
                                            <div class="small-6 columns per-page">
                                                <label>@T("Per page"):</label>
                                            </div>
                                            <div class="small-6 columns per-page-select">
                                                <select name="select" id="select">
                                                    <option>@Model.ProductCollection.PageSize</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="pagination">
                                            @if (!Model.PrevPageLink.IsBlank())
                                            {
                                                <div class="arrow page-prev">
                                                    <a href="@Model.PrevPageLink" class="next-prev p-prev"></a>
                                                </div>
                                            }
                                            <div class="page-current">
                                                <input name="cpage" type="text" value="@Model.ProductCollection.Page" class="enter-page numerictextbox" /> @T("of_pager")
                                                <span>@Model.ProductCollection.TotalPages</span>
                                            </div>
                                            @if (!Model.NextPageLink.IsBlank())
                                            {
                                                <div class="arrow unavailable page-next">
                                                    <a href="@Model.NextPageLink" class="next-prev p-next"></a>
                                                </div>
                                            }
                                        </li>
                                    </ul>

                                    <div class="viewmode-selector">
                                        <a class="vms-grid">Grid</a>
                                        <a class="vms-list">List</a>
                                        <a class="vms-table">Table</a>
                                    </div>
                                </div>
                            }

                            <ul class="item-list cart-items">
                                @foreach (var product in Model.ProductCollection.ProductDtos)
                                {
                                    <li class="row item-block checkout-item isc-productContainer" data-product="@product.Id">
                                        <div class="item-thumb">
                                            <a href="@product.ProductDetailUrl">
                                                <img src="@product.MediumImagePath" alt="@product.AltText" />
                                            </a>
                                        </div>
                                        <div class="item-details">
                                            <div class="item-inf-wrapper">
                                                <div class="item-description">
                                                    <div class="item-name">
                                                        <a href="@product.ProductDetailUrl">@product.ShortDescription</a>
                                                    </div>
                                                    <div class="item-num">
                                                        <span class="item-num-sku">@product.ERPNumber</span>
                                                        @if (!product.ManufacturerItem.IsBlank())
                                                        {
                                                            <span class="item-num-mfg">@("MFG #"): @product.ManufacturerItem</span>
                                                        }
                                                        @if (!product.CustomerName.IsBlank())
                                                        {
                                                            <span class="item-num-my">@T("My Part #"): @product.CustomerName</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            @if (Model.CatalogPage.Category != null && product.AttributeTypes != null && product.AttributeTypes.Count > 0)
                                            {
                                                <ul class="attribute-list">
                                                    @{ var count = 0;}
                                                    @foreach (var attributeType in product.AttributeTypes.OrderBy(c => c.SortOrder).ThenBy(c => c.Name))
                                                    {
                                                        <li class="attribute-list-item">
                                                            <span class="attrib-name">@attributeType.Label:</span>
                                                            <span class="attrib-value">
                                                                @{
                                                                    var values = attributeType.AttributeValues.Select(x => x.ValueDisplay);
                                                                    @Html.Raw(string.Join(", ", values))
                                                                }
                                                            </span>
                                                        </li>
                                                                        if (++count == 3)
                                                                        {
                                                                            break;
                                                                        }
                                                                    }
                                                </ul>
                                                                    }
                                        </div>
                                        <div class="actions-panel">
                                            @if (product.CanAddToCart)
                                            {
                                                <a href="javascript:;" class="btn primary add-to-cart panel-trigger">@T("Order_Verb")</a>
                                            }
                                            else
                                            {
                                                <a href="@product.ProductDetailUrl" class="btn primary btn-view-details">@T("View Details")</a>
                                            }
                                            <div class="item-actions">
                                                <div class="item-actions-wrap">
                                                    <div class="um-pack">
                                                        <div class="um">
                                                            <label ng-if="vm.settings.alternateUnitsOfMeasure && product.productUnitOfMeasures.length > 1">@T("U/M"):</label>
                                                            <isc-unit-of-measure-select-list product="product" alternate-units-of-measure="{{vm.settings.alternateUnitsOfMeasure}}" change-unit-of-measure="vm.changeUnitOfMeasure(product)" display-pack="true">
                                                            </isc-unit-of-measure-select-list>
                                                        </div>
                                                    </div>
                                                    @if (product.CanEnterQuantity)
                                                    {
                                                        <div class="item-qty">
                                                            <label>@T("QTY_quantity"):</label>
                                                            <input type="text" name="qty" value="" class="qty numerictextbox" />
                                                        </div>
                                                    }
                                                    <div class="action">
                                                        @if (product.Availability.MessageType != AvailabilityMessageType.OutOfStock)
                                                        {
                                                            <button class="btn-add-cart btn primary">
                                                                @T("Add To Cart")
                                                            </button>
                                                        }
                                                        @if (product.CanAddToWishlist)
                                                        {
                                                            <a role="button" class="btn secondary btn-add-list" href="javascript:;">@T("Add to Wishlist")</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                                                    }
                            </ul>
                        </div>
                    </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        @*
                                                                            <div class="clr lfl w100">
                                                                                <div ng-if="vm.isSearch">
                                                                                    <div ng-include="'productList_noSearchResultsFound'"></div>
                                                                                </div>
                                                                                <div ng-if="!vm.isSearch">
                                                                                    <div ng-include="'productList_noProductsFound'"></div>
                                                                                </div>
                                                                            </div>
                                                                        *@
                                                                    }
            </div>
        </div>
                                                                    }
    @MicrositeDataHelper.GetBreadcrumbScript(Model.CatalogPage.BreadCrumbs, Request)
</div>
