﻿.popup {
    position: fixed;
    display: none;
    background-color: #fff;
    z-index: 3000;
    padding: 0;
    top: 50%;
    left: 50%;
    margin-left: -280px;
    margin-top: -250px;
    width: 560px;
}

.popup-main-header-row-fixed-container {
    /* position: fixed;*/
    width: 1004px;
    /* top: 50px; */
    background-color: #fff;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid #cccccc;
}

.popup-main-header-row {
    display: block;
    line-height: 56px;
}

.popup-main-header {
    font-size: 35px;
    color: #999999;
    margin: 0 auto;
    letter-spacing: -2px;
    padding-left: 20px;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
}

.popup-main-description {
    font-size: 20px;
    color: #999999;
    margin: 0 auto;
    letter-spacing: -2px;
    padding-left: 20px;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
}

.popup-header h2, #settings-header h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    float: left;
    width: auto;
}

.popup-header a, .popup-header a:hover, .popup-header a:focus, .popup-header a:active, .popup-header a:visited, #settings-header a, #settings-header a:hover, #settings-header a:focus, #settings-header a:active, #settings-header a:visited {
    float: right;
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    line-height: 11px;
    margin-top: 3px;
}

    .popup-header a.close, .popup-header a.finish, #settings-header a {
        padding: 6px 20px 5px 0;
        background: transparent url(../../images/app/icon_popup_close.png) no-repeat center right;
    }

.popup .popup-header, #settings-header {
    padding: 28px 30px 20px 30px;
    background-color: #fff;
    overflow: hidden;
}

#popup-loader img {
    margin: 0 auto;
    padding: 100px 0;
}

#popup-loader {
    background-color: #ededed;
}

.popup-view-loading {
    background: transparent url(../../images/app/loader_black.gif) no-repeat center center;
    display: block;
    height: 100px;
}

.popup .popup-content {
    padding: 20px 30px 30px 30px;
    overflow: hidden;
    background-color: #ededed;
}

.popup .button-group {
    border-top: 1px solid #dddddd;
    padding-top: 30px;
}


/*** > Popup  ***/


/** Completeness Popup*/

div.overdiv {
    -webkit-filter: alpha(opacity=75);
    -moz-filter: alpha(opacity=75);
    -o-filter: alpha(opacity=75);
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    -ms-opacity: .75;
    opacity: .75;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.modal-popup-square {
    padding: 15px;
    position: fixed;
    top: 250px;
    left: 42%;
    margin-top: -100px;
    margin-left: -100px;
    width: 430px;
    background-color: #ffffff;
    border: #f9f9f9;
    z-index: 102;
    overflow-y: auto;
    min-height: 300px;
    -moz-min-width: 350px;
    -ms-min-width: 350px;
    -o-min-width: 350px;
    -webkit-min-width: 350px;
    min-width: 350px;
}

.modal-popup-square h2, .modal-popup-square-large h2 {
        margin-left: 10px;
    }

.modal-popup-square-large {
    padding: 15px;
    position: fixed;
    top: 60px;
    left: 100px;
    right: 100px;
    background-color: #ffffff;
    border: #f9f9f9;
    bottom: 60px;
    z-index: 102;
    min-height: 300px;
    -moz-min-width: 350px;
    -ms-min-width: 350px;
    -o-min-width: 350px;
    -webkit-min-width: 350px;
    min-width: 350px;
}

.modal-popup-square-medium {
    padding: 15px;
    position: fixed;
    top: 100px;
    left: 20%;
    right: 20%;
    background-color: #ffffff;
    border: #f9f9f9;
    bottom: 150px;
    z-index: 102;
    min-height: 300px;
    -moz-min-width: 350px;
    -ms-min-width: 350px;
    -o-min-width: 350px;
    -webkit-min-width: 350px;
    min-width: 350px;
}
.modal-popup-square-medium #content-area, .modal-popup-square-medium #contentarea {
    overflow-y: auto; 
}

.modal-popup-square-minimal {
    padding: 15px;
    position: fixed;
    left: 50%;
    margin-left: -25%;
    /*top: 60px;
    left: 100px;
    right: 100px;
    bottom: 60px;*/
    background-color: #ffffff;
    border: #f9f9f9;
    z-index: 102;
    min-height: 300px;
    min-width: 700px;
}

.modal-popup-square-minimal #details-view-wrap {
    width: 700px;
    top: 70px;
}

    .modal-popup-square-minimal #inriver-fields-form-area > form .field-editor-history-container {
        margin: 10px 0;
    }

    .modal-popup-square-minimal #inriver-fields-form-area > form .field-editor-wrap {
        padding: 0;
        /*margin: 3px 0;*/
    }

.modal-popup-close-button {
    float: right;
}
.modal-fixed-details .flat-ul .list-row {
    height: 30px;
}
.completeness-details-row, .modal-fixed-details .flat-ul .list-row {
    line-height: 25px;
    /*height: 30px;*/
    padding-left: 5px;
    width: 100%;
    display: inline-block;
}

.completeness-details-rule-row{
    line-height: 22px;
    height: 22px;
    padding-left: 20px;
    width: 100%;
    display: inline-block;
}

.completeness-header {
    right: 0;
    top: 0;
    left: 0;
    position: absolute;
    text-align: left;
    padding: 8px;
    color: #2d2d2c;
   /* background-color: #bbbbbb;*/
    font-size: 14px;
    border-bottom: solid 1px #ccc;
}

.completeness-content {
    margin-top: 35px !important;
    overflow: visible;
    text-align: left;
    font-size: 12px;
}
.completeness-rule-content {
    margin-top: -4px !important;
    overflow: visible;
    display: inline-block;
}

#completeness-area {
    -moz-min-width: 150px;
    -ms-min-width: 150px;
    -o-min-width: 150px;
    -webkit-min-width: 150px;
    min-width: 150px;
}

.completeness-details-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.completeness-details-row > span {
    float: left;
}

.completeness-details-row-iscompleted {
    margin-right: 1px;
    color: #429F4D;
    font-size: 16px;
}

.completeness-details-row-isnotcompleted {
    margin-right: 1px;
    color: #FF3636;
    font-size: 16px;
}

/** End Completeness Popup*/


/* Modal positioning */
.bbm-wrapper {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    /*position: absolute;*/
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 100 !important;
    padding: 50px 10px !important;
}

.bbm-modal {
    margin: auto !important;
    width: auto !important;
    max-width: 1024px !important;
    overflow-y: auto !important;
    bottom: 5px !important;
    height: 100% !important;
}

.bbm-views {
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.bbm-wrapper {
    background: rgba(0, 0, 0, 0.55) !important;
}

.bbm-modal__section {
    font-size: 13px !important;
}

.settings-view-top-offset {
    background-color: white;
    top: 70px;
    height: 100%;
    bottom: 10px;
    position: relative;
}

.modal-small {
    width: 600px !important;
}

.modal-fixed-header-row {
    background: #d33138;
    position: relative;
    margin: 10px;
}

/*.modal-fixed-details {
    margin: 20px;
    display: block;
    margin-top: 80px;
}*/

.modal-popup-square #contentarea {
    margin: 20px;
    display: block;
    margin-top: 80px;
}

.modal-small table {
    color: #666666;
    font-weight: bold;
}

    .modal-small table td {
        padding: 10px;
    }


/*  Confict view*/

div#conflict-row-container {
    padding: 20px;
    font-size: 14px;
}

    div#conflict-row-container table {
        width: 100%;
    }

    div#conflict-row-container tr {
        border-bottom: 1px solid #cccccc;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    div#conflict-row-container th, div.conflict-row-container td {
        text-align: left;
    }

i {
    font-weight: normal;
}

.selected {
    color: darkgreen;
}


/*  Confict view*/

.entitytypecard, .emptyWorkArea {
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 3px;
    width: 90px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    height: 42px;
}


.entity-type-select {
    line-height: 20px;
}

    .entity-type-select span {
        font-size: 15px;
        font-weight: bold;
    }

.icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entitytypecard .text, .emptyWorkArea .text {
    text-align: center;
}

.popup-header {
    color: #ffffff;
    font-size: 20px;
}

.popup-header-description {
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
}

.popup-header-row #close-icon,
.control-row-content #close-icon {
    color: #fff;
}

#close-icon {
    color: #2d2d2c;
}

#close-icon {

    top: 0;
    right: 0;
    position: absolute;
}

.popup-header-row {
    background: #d33138;
    position: absolute;
    padding: 10px;
    left: 15px;
    right: 15px;
    top: 10px;
    height: 40px;
}

.popup-header-text {
    white-space: nowrap;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: absolute;
    right: 25px;
    left: 25px;
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
}

.modal-popup-square-large .popup-header-text {
    right: 145px;
}

.flat-ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.list-key {
    font-weight: bold;
}

.list-value {
    position: absolute;
    left: 150px;
}

ul.flat-list li:nth-of-type(even) {
    background-color: #dddddd;
}


.modal-popup-has-buttons .popup-header-text {
    right: 140px;
}

#save-form-button {
    border: 1px dotted #ffffff;
}

#cancel-form-button {
    border: 1px dotted #ffffff;
}

#app-tools-container #ChannelNodeMapping {
    line-height: 15px;
    white-space: normal;
}
