﻿body {
    font-family: 'Lato',Arial,sans-serif;
    font-size: 13px;
    color: #2d2d2c;
    margin: 0;
    padding-top: 50px;
    top: 0;
    overflow-y: auto;
    cursor: default;
    width: 100%;
}

div {
    border: thin #ccc;
}

img {
    -ms-interpolation-mode: bicubic;
}

input {
    font-family: 'Lato',Arial,sans-serif;
}


.link-button {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #0077B7;
    color: #fff;
    margin-top: 30px;
    font-weight: bold;
    padding: 8px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}


h2, h3, h4, h5, h6 {
    font-family: 'Lato',Arial,sans-serif;
    font-weight: normal;
    clear: both;
    text-indent: 0;
    margin: 0;
}

h1 {
    font-size: 35px;
    font-family: 'Lato',Arial,sans-serif;
    color: #427A9F;
}

h2 {
    font-size: 18px;
}

h1 a.title {
    float: left;
    color: #333333;
}

.text h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.text h3 {
    font-size: 15px;
    text-transform: none;
}

.header h3 {
    float: left;
}

.header {
    clear: both;
    display: block;
    float: none;
    overflow: hidden;
    width: 698px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 10px;
}

h6 {
    font-family: 'Lato',Arial,sans-serif;
    font-weight: normal;
    font-size: 9px;
    color: #dddddd;
    border-bottom: 1px solid #e9e9e9;
}

p, ul, table {
    margin: 5px 0 15px 0;
}

    p.disclaimer {
        color: #aaaaaa;
    }

#page .narrow {
    width: 600px;
    padding-right: 360px;
}

ul {
    overflow: hidden;
}

.text ul {
    display: block;
    clear: both;
    float: left;
    list-style-type: disc;
    list-style-position: outside;
    margin: 5px 0 15px 1em;
    overflow: visible;
}

#list-view-button {
    margin-right: 10px;
    margin-left: 10px;
}

.narrow ul {
    width: 600px;
}


a, a:hover, a:focus, a:active, a:visited {
    /*color: #ffffff;*/
    text-decoration: none;
}

.query-row a:hover {
    text-decoration: none;
    color: #777777;
}

button, a.button, div.button, a.button:hover, a.button:focus, a.button:active, a.button:visited {
    border: 0;
    color: #fff;
    font-size: 12px;
    line-height: 27px;
    height: 27px;
    padding: 0 10px;
    margin-right: 5px;
    background-color: #d33138;
    font-family: 'Lato',Arial,sans-serif;
    cursor: pointer;
    width: auto;
    overflow: visible;
}

    button.disabled, #conversation-message-submit.disabled, button[disabled="disabled"] {
        /*background-color: #777777 !important;*/
        opacity: 0.6;
    }

textarea {
    display: block;
    float: left;
    background-color: #fff;
    padding: 5px;
    margin: 0;
    color: #333;
    font: 12px/1.4 Arial,sans-serif;
    resize: none;
    border: 1px #ccc solid;
}

select {
    padding: 3px;
    font-family: 'Lato',Arial,sans-serif;
    border: 1px #ccc solid;
}

input[type=text] {
    padding: 4px;
    border: 1px #ccc solid;
}

/* Multiple select */
.ms-choice span {
    /*font-size: 14px;*/
}

select.medium {
    width: 200px;
}

form .amount {
    line-height: 30px;
    padding: 0 0 0 5px;
    float: left;
}

input.xx-small {
    width: 50px;
}

input.date, input.dateISO {
    width: 67px;
}

input.x-small {
    width: 100px;
}

input.small {
    width: 150px;
}

input.medium {
    width: 200px;
}

input.large {
    width: 250px;
}

input.file {
    margin: 3px 20px 0 0;
    float: left;
}

.radio-group {
    float: left;
    margin: 0;
    padding: 0;
}

    .radio-group li {
        float: left;
        margin: 0;
        padding: 0;
    }

    .radio-group label, .checkbox-single label {
        line-height: 30px;
        width: auto;
        float: left;
        margin: 0 10px 0 0;
        font-weight: normal;
    }

.checkbox-single label {
    margin: 0;
}

input.radio {
    float: left;
    margin: 8px 6px 0 0;
}

.element {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}

/*** > General Selectors  ***/
/*** Top Header <  ***/


#top-header {
    -moz-min-width: 1000px;
    -ms-min-width: 1000px;
    -o-min-width: 1000px;
    -webkit-min-width: 1000px;
    min-width: 1000px;
    z-index: 100;
    position: fixed;
    height: 50px;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    background-color: #d33138;
    color: #ffffff;
}

#top-header-content {
    display: block;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    /*padding: 3px 20px;*/
}

#top-header-left {
    position: relative;
    float: left;
    left: 0;
    width: 50%;
    height: 100%;
}

#top-header-right {
    position: relative;
    float: right;
    right: 0;
    width: 50%;
    height: 100%;
}

.top-header-rightaligned {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 105px;
}

.top-header-leftaligned {
    float: left;
    height: 50px;
    text-transform: uppercase;
}

.top-header-button {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

.top-header-title {
    float: left;
    font-size: 25px;
    color: #FFF;
    margin-right: 10px;
    margin-left: 15px;
}

.top-header-nav-button {
    display: inline;
    float: left;
    padding: 5px 15px;
    margin: 0;
    cursor: pointer;
}

.top-header-hover-control {
    border: 0;
    color: #fff;
    line-height: 34px;
    /*padding: 15px 10px;*/
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    width: auto;
    overflow: visible;
}

.top-header-message {
    padding-top: 2px;
    margin: 6px 0;
}

.top-header-additional-links {
    border: 0;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    width: auto;
    overflow: visible;
}

/*** > Top Header  ***/


/*** Header <  ***/

#header {
    display: block;
    width: 100%;
    overflow: hidden;
}

#header-content {
    display: block;
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}

#header a, #header a:hover, #header a:focus, #header a:active {
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

#logo {
    padding-top: 10px;
    height: 27px;
}

/*** > Header  ***/

/*** Page <  ***/

#page {
    display: block;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    /* ReSharper disable once Html.PathError */
    /* ReSharper disable once Html.PathError */
    background: #f7f7f7 url(../../images/app/background.jpg) no-repeat center -155px;
}

    #page.user {
        background: none;
    }

.page-content {
    display: block;
    overflow: visible;
    margin: 0 auto;
    margin-top: -1px;
    padding: 30px 0 50px 0;
    width: 960px;
}

.col2-right-layout {
    position: relative;
    overflow: hidden;
    zoom: 1;
}

    .col2-right-layout .col-main {
        float: left;
        width: 600px;
    }

    .col2-right-layout .col-right {
        float: right;
        width: 300px;
        overflow: hidden;
    }


/*** > Page  ***/


/*** Popup <  ***/



/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor -field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.readonly {
    color: #aaaaaa;
    background-color: #f9f9f9;
}

#menu-buttons {
    /*padding-top: 5px;*/
}

div.error input {
    background: #fff0f0;
    border: #aa0000 1px solid;
}

div.error div div {
    color: #aa0000;
}


/* === Form error === */
div.error [data-error] {
    background: #d33138;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    padding: 3px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
}

    div.error [data-error]::before {
        content: "\25C0";
        color: #d33138;
        position: absolute;
        top: 1px;
        left: -6px;
    }

.form-horizontal div.error [data-error] {
    position: inherit;
    display: inline-block;
}

.entity-view-details-row div.error [data-error] {
    display: inline-block;
    position: inherit;
}

@font-face {
    font-family: 'entypo';
    src: url('../../Fonts/entypo.eot');
    src: url('../../Fonts/entypo.eot?#iefix') format('embedded-opentype'), url('../../Fonts/entypo.woff') format('woff'), url('../../Fonts/entypo.ttf') format('truetype'), url('../../Fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../../Fonts/Quicksand-Regular.otf');
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../Fonts/helveticaneue-webfont.woff') format('woff');
}

.control-label {
    float: left;
    width: 200px;
}


.control-group {
    background: #fff;
    overflow: hidden;
    padding: 15px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

    .control-group:nth-child(even) {
        background: #f0f0f0 !important;
    }

.controls input[type=text], .controls select, .controls textarea {
    padding: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px #ccc solid;
}

.controls input[type=text], .controls textarea {
    width: 320px;
}

.controls ul {
    margin: 0;
    padding: 0;
}

    .controls ul li {
        display: inline-block;
        white-space: nowrap;
        margin-right: 5px;
        padding: 3px;
    }

        .controls ul li label {
            width: auto;
            float: none;
            font-weight: bold;
        }

.controls input[type=checkbox] + label, .controls input[type=radio] + label {
    color: #666666;
    font-style: normal;
}

.controls input[type=checkbox]:checked + label, .controls input[type=radio]:checked + label {
    color: #000000;
    font-style: normal;
}


/*-------- Startpage ---------------*/

/*
.number-circle {
  background: #ccc;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  width: 40px; 
}
    */

/* ---------End startpage -----------*/

#loading-spinner-container {
    display: none;
    padding-top: 10%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 200px;
    left: 50%;
}


/*  Edit page */

.main-header {
    font-size: 35px;
    color: #999999;
    font-family: 'Lato',Arial,sans-serif;
    margin: 0 auto;
}

.main-header-row {
    display: block;
    line-height: 56px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-header-row-fixed-container {
    /* position: fixed;*/
    width: 100%;
    top: 50px;
    background-color: #fff;
}

/*
.entity-settings-fixed-header-row-offset {
   // margin-top: 65px;
}*/

#main-header-buttons {
    float: right;
    line-height: 56px;
    padding-left: 20px;
    padding-right: 10px;
}

#main-header-tool-icon-buttons {
    float: right;
    line-height: 56px;
}

#main-container-entity {
    position: absolute;
    width: 100%;
    height: 100%;
}

    #main-container-entity > div {
        height: 100%;
    }

.Container:before {
    content: '';
    height: 100%;
    float: left;
}

.app-tools {
    float: right;
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}


.app-tools-header {
    cursor: pointer;
}

#app-tools-container {
    position: absolute;
    z-index: 100;
    background-color: white;
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    color: #2d2d2c;
    font-size: 13px;
    width: 500px;
    right: 335px;
    top: 40px;
    line-height: 20px;
}

.app-tools-header i {
    margin-top: 4px;
}


#tools {
    white-space: nowrap;
}

input[type=text]::-ms-clear {
    display: none;
}

.showTasks, .showEntityTypes, .showCategory, .showLinkTypes {
    cursor: pointer;
}

.row-icon-button {
    color: #2d2d2c;
    cursor: pointer;
    margin-right: 2px;
}

#sign-out {
    color: inherit;
}

.section-title, .category-section-title {
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: default;
}

#details-row-container .section-title, .category-section-title {
    display: inline-block;
}

.section-title span {
    margin-left: 4px;
}

.localestring-view-buttons span {
    padding: 2px;
}

.localstring-table {
    float: left;
    margin-right: 10px;
}

.localstring-tabel-cell {
    vertical-align: top;
}

#tools > span {
    display: block;
    font-size: 12px;

}

#tools span:hover {
    background: #2d2d2c;
    cursor: pointer;
    color: #ffffff !important;
}

#tools .fa {
    font-size: 14px;
}

#tools .fa-stack-0x {
    left: 0;
    top: 0;
    font-size: 14px;
    text-align: left;
}

#tools .fa-stack-1x {
    left: 1px;
    top: 1px;
    font-size: 14px;
    text-align: right;
}

#tools .std-entypo-fix-icon {
    font-size: 13px;
    margin-right: 1px;
}

#loading-spinner-container img {
    margin-left: 40px;
}

.card-tools-container {
}

footer {
    color: #999999;
    text-align: center;
    position: fixed;
    background-color: white;
    width: 100%;
    bottom: 0px;
    height: 18px;
}

    footer span {
        color: #999999;
        text-align: center;
        position: fixed;
        left: 45%;
        bottom: 3px;
    }



::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #dddddd;
    -webkit-box-shadow: 0 0 1px #dddddd;
    width: 4px;
}

::-webkit-scrollbar {
}

.content-active-view {
    border-bottom: 2px solid #999999;
}

#personalSettings ul {
    line-height: 20px;
    z-index: 99999;
    position: relative;
}

#sign-out:hover {
    color: #ffffff;
}

#top-header-hide-gap {
    height: 15px;
    position: fixed;
    min-width: 1000px;
    right: 15px;
    top: 0;
    left: 15px;
    background-color: #fff;
    z-index: 10000;
}

.top-header-hide-gap-grey {
    background-color: #ddd !important;
}

#header-navigation-links-wrap {
    display: inline-block;
    margin-left: 30px;
    /*float: left;*/
}

#header-navigation-links-wrap a {
    color: #fff;
    margin: 0;
    /*margin: 0 5px 0 5px;*/
    padding: 0 15px;
    display: inline-block;
}

#header-navigation-links-wrap a i {
    margin-right: 8px;
}

#header-navigation-links-wrap .current span{
    /*background-color: #EF5159;*/
    padding-bottom: 5px;
    border-bottom: solid 3px #ffffff;
}

#template-printing-setup-wrap fieldset span {
    display: inline-block;
    width: 150px;
}

#template-printing-setup-wrap #buttons {
    margin-top: 10px;
    margin-left: 10px;
}

#treefilter {
    margin: 10px 0 0 10px;
}

#treefilter {
    margin: 10px 0 0 10px;
}

#personalSettings #sign-out,
#personalSettings #user-settings-link {
    display: block;
    width: 95%;
    padding: 3px 1px 3px .4em;
}

#personalSettings .ui-menu-item {
    padding: 0 0 0 0 !important;
}
