﻿<div class="value-wrapper">
    <textarea rows="5" cols="50" id="value-editing-<%= Id %>" class="textarea-edit-control"><%= Value %></textarea>
    <span id="save-field-value-<%= Id %>" title="Save value" class="inactive edit-span">Save</span>
    <span id="undo-field-value-<%= Id %>" title="Undo change" class="inactive edit-span">Undo</span>
    <div data-error></div>
</div>