﻿<div class="value-wrapper">
    <select multiple="multiple" id="value-editing-<%= Id %>" class="cvl-edit-control"></select>
    <span id="save-field-value-<%= Id %>" title="Save value" class="inactive edit-span">Save</span>
    <span id="undo-field-value-<%= Id %>" title="Undo change" class="inactive edit-span">Undo</span>
 <div data-error></div>
</div>