﻿<div class="value-wrapper">
    <input id="value-editing-<%= Id %>" type=text value="<%= Value %>" class="input-text-edit-control"/>
    <span id="save-field-value-<%= Id %>" title="Save value" class="inactive edit-span">Save</span>
    <span id="undo-field-value-<%= Id %>" title="Undo change" class="inactive edit-span">Undo</span>
<div data-error></div>
</div>