﻿<div class="value-wrapper">
    <textarea id="value-editing-<%= Id %>" class="input-text-edit-control" rows="1"><%= Value %></textarea>
    <select id="value-editing-lang-<%= Id %>" class="select-language-edit-control"></select>
    <span id="save-field-value-<%= Id %>" title="Save value" class="inactive edit-span">Save</span>
    <span id="undo-field-value-<%= Id %>" title="Undo change" class="inactive edit-span">Undo</span>
<div data-error></div>
</div>