﻿<div id="value-<%= Id %>" class="value-wrapper">
    <% if(!ReadOnly) { %>
    <span class="icon-entypo-fix-pencil control-row-icon-button" id="edit-value-icon" title="Edit value"></span>
    <% } else { %>
    <span class="empty" id="empty-icon"></span>
    <% } %>
    <div class="no-edit-text-area" title="<%= Value %>"><% if(Value != "") { %><%= Value %><% } %></div>
</div>
