//-------------------------------------
//-- Account - Account menu
//-------------------------------------

.side-account-menu {
	padding: 25px 20px;

	.side-account-menu-title {
		@include h3-styles;
	}

	ul {
		font-size: 14px;
		line-height: 1.2;

		&.primary-menu {
			padding: 10px 0 16px;
			border-bottom: 2px solid $border-color;
			font-weight: $semibold-weight;
			text-transform: uppercase;

			li { padding: 15px 0; }

			a, button {
				@include account-menu-items;
			}
		}

		&.secondary-menu {
			padding-top: 24px;
			font-size: 13px;
			li { padding: 8px 0; }
		}
	}

	a, button {
		color: $nav-box-text-color;
	}
}
