//-------------------------------------
//-- Account - Grid
//-------------------------------------

.account-grid {
	width: 100%;
	height: 100%;
	margin: 0;

	> div {
		height: 100%;
		background-color: $bg-color;
		&:last-child { border-right: 0; }
		&.side { display: none; }
		&.content {
			@include spacing-styles($map:$gutter-spacing, $type:padding, $side:(left), $min-bp:xlarge);
			position: relative;

			> .block {
				> .block-wrapper {
					padding-right: 0;
					padding-left: 0;
				}

				&:first-child > .block-wrapper { padding-top: 0; }
				&:last-child > .block-wrapper { padding-bottom: 0; }
			}

			> .cms-zone > #{'.cms-contentItem'} > .block > .block-wrapper { padding: 0; }
		}
	}

	//-- Queries

	@media #{bp(xlarge)} {
		display: table;
		table-layout: fixed;

		> div {
			display: table-cell;
			vertical-align: top;

			&.side {
				display: table-cell;
				width: 310px;
				background-color: $bg-alt-color;
			}
		}
	}
}
