//-------------------------------------
//-- Account - Mixins
//-------------------------------------

@mixin account-menu-items {
	position: relative;
	display: inline-block;
	color: $nav-box-text-color;
	text-decoration: none;

	&::before {
		content: '';
		position: absolute;
		bottom: -.1em;
		display: block;
		opacity: 0;
		width: 100%;
		height: 2px;
		background-color: $nav-box-text-active-color;
		transition: opacity $hover-transition $hover-easing;
	}

	#{$hover-selector}, &.on {
		color: $nav-box-text-active-color;
		text-decoration: none;
		&::before { opacity: 1; }
	}
}
