//-------------------------------------
//-- Account - Sign in
//-------------------------------------

.block.sign-in {

	.forgot-password-wrapper, .remember-me-wrapper {
		display: inline-block;
	}

	.remember-me-wrapper {
		margin-right: 1em;
	}

	.text-small {
		font-size: 12px;
	}
}
