//-------------------------------------
//-- Store - Accordion
//-------------------------------------

.accordion {
	> .accordion-box { @include accordion-box-hide; }
	> :checked + .accordion-box { @include accordion-box-show; }

	&.offset { @include accordion-offset-styles; }

	&:not(.blank) {
		> .accordion-label {
			@include accordion-label-styles;

			&.inline {
				display: inline-block;
				min-width: 150px;
				padding-right: 50px;
			}
		}

		> .accordion-box > .accordion-content { @include accordion-content-styles; }
		+ .accordion { margin-top: -1px; }

		&.alt {
			> .accordion-label {
				border-color: $accordion-label-alt-border-color;
				background-color: $accordion-label-alt-bg-color;
			}

			> .accordion-box > .accordion-content {
				border: 0;
				margin-top: 0;
				background-color: $bg-color;
			}

			+ .accordion { margin-top: 5px; }
		}
	}

	//-- Queries

	@media #{bp(large)} {
		&:not(.blank) {
			&.spaced {
				> .accordion-label { font-size: 15px; }
				> .accordion-box > .accordion-content {
					padding: 20px;
				}
			}
		}
	}
}
