//-------------------------------------
//-- Store - Barcode
//-------------------------------------

.barcode-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	overflow: hidden;
	width: 100%;
	max-height: 0;
	box-shadow: 0 0 10px $shadow-color;
	background-color: $barcode-bg-color;
	transform: translate3d(-101%, 0, 0);
	transition: transform $animation-transition $animation-easing, max-height 0ms $animation-transition $animation-easing;
	#{'#barcode-file'} { display: none; }

	&.show {
		max-height: 99999px;
		transform: translate3d(0, 0, 0);
		transition: transform $animation-transition $animation-easing;
	}

	.barcode-nav {
		position: relative;
		z-index: 3;
		padding: 8px;
		background-color: $barcode-nav-bg-color;
		color: $barcode-nav-text-color;
		.grid-cell + .grid-cell { padding-left: 8px; }

		.btn {
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			color: $barcode-nav-text-color;
			cursor: pointer;

			&::before {
				@include ico-font;
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				line-height: 0;
				transform: translate3d(-50%, -50%, 0);
			}

			&.close {
				width: 32px;

				&::before {
					content: $ico-arrow-left-char;
					font-size: 14px;
				}
			}

			&.upload::before {
				content: $ico-album-char;
				font-size: 22px;
			}

			#{$hover-selector} {
				text-decoration: none;
			}
		}

		.field {
			margin: 0;

			input {
				border-color: transparent;
			}
		}
	}

	.barcode-content {
		position: relative;

		.barcode-error {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			margin: 0;
			text-align: center;
			transform: translateY(-100%);
			transition: transform $animation-transition $animation-easing;
			&.show { transform: translateY(0); }
		}

		.barcode-stream {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			overflow: hidden;
			opacity: 0;
			width: 100%;
			height: 100%;
			max-height: 0;
			background-color: $black;
			transition: opacity $animation-transition $animation-easing, max-height 0ms $animation-transition $animation-easing;

			video, canvas, .overlay {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				transform: translate3d(-50%, -50%, 0);
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				display: block;
				width: 60px;
				height: 60px;
				border: 5px solid transparent;
				border-right-color: rgba($white, .15);
				border-left-color: rgba($white, .15);
				border-radius: 50%;
				margin: -30px 0 0 -30px;
				animation: rotate-animation .5s infinite linear;
			}

			.overlay {
				z-index: 1;
				display: none;

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $red;
				}
			}

			&.loaded {
				.overlay { display: block; }
				&::before { display: none; }
			}

			&.show {
				opacity: 1;
				max-height: 99999px;
				transition: opacity $animation-transition $animation-easing;
			}
		}

		.barcode-message {
			position: relative;
			max-width: 400px;
			padding: 30px;
			margin: 0 auto;
			text-align: center;
			.disabled { display: none; }
			.button { margin: 10px 0 8px; }

			html.barcodestream & {
				.unavailable { display: none; }
				.disabled { display: block; }
			}

			.separator {
				position: relative;
				font-size: 15px;
				font-weight: $black-weight;
				text-transform: uppercase;
				letter-spacing: 2px;

				@include -zf-breakpoint-value(auto, $text-spacing) {
					margin: $-zf-bp-value 0;
				}

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					display: block;
					width: 100%;
					height: 1px;
					margin-top: -1px;
					background-color: $border-color;
				}

				span {
					position: relative;
					display: inline-block;
					padding: 3px 10px 0;
					background-color: $barcode-bg-color;
					line-height: 1;
				}
			}
		}
	}

	@media #{bp(xlarge)} {
		display: none;
	}
}
