//-------------------------------------
//-- Store - Button
//-------------------------------------

$button-loading-height: $button-loading-size / 2;
$button-loading-width: $button-loading-height / 2;

.button {
	@include button-styles;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	min-width: $button-width;
	border-radius: $button-border-radius;
	background-color: $button-bg-color;
	color: $button-color;
	font-weight: $button-weight;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: $button-letter-spacing;
	transition: background-color $hover-transition $hover-easing, color $hover-transition $hover-easing;
	cursor: pointer;

	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
	&.flow { min-width: auto; }
	&.full { width: 100%; }

	#{$hover-selector} {
		background-color: $button-bg-active-color;
		color: $button-color;
		text-decoration: none;
	}

	&.disabled {
		background-color: rgba($button-bg-color, .25);
		cursor: default;

		#{$hover-selector} {
			background-color: rgba($button-bg-color, .25);
		}
	}

	@each $name, $theme in $button-themes {
		$color: map-get($theme, color);
		$bg-color: map-get($theme, bg-color);
		$bg-active-color: map-get($theme, bg-active-color);

		&.#{$name} {
			background-color: $bg-color;
			color: $color;

			#{$hover-selector} {
				background-color: $bg-active-color;
				color: $color;
			}

			&.load {
				background-color: $bg-active-color;
				.loader { color: $color; }
			}

			&.disabled {
				background-color: rgba($bg-color, .25);
				#{$hover-selector} { background-color: rgba($bg-color, .25); }
			}
		}
	}

	&.small {
		@include button-styles(
			$height: (small: map-get($button-small, height)),
			$font-size: (small: map-get($button-small, fontSize)),
			$line-height: (small: map-get($button-small, lineHeight))
		);

		min-width: $button-small-width;
	}

	//-- Icons

	&.ico-back::before {
		@include ico-font($ico-arrow-left-char);
		margin-right: 5px;
		font-size: .85em;
		font-weight: $bold-weight;
	}

	&.ico-next::after {
		@include ico-font($ico-arrow-right-char);
		margin-left: 5px;
		font-size: .85em;
		font-weight: $bold-weight;
	}

	&.ico-plus::after {
		@include ico-font($ico-plus-char);
		margin-left: 10px;
		font-size: .8em;
	}

	//-- Loader

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		width: 100%;
		color: $button-color;
		transform: translate3d(-50%, -50%, 0);
		transition: opacity $hover-transition $hover-easing;

		.spinner {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: $button-loading-size;
			height: $button-loading-size;
			backface-visibility: hidden;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				border: $button-loading-border-size solid transparent;
				border-right-color: currentColor;
				border-left-color: currentColor;
				border-radius: 50%;
				transition: border-color $animation-transition $animation-easing;
				animation: rotate-animation .5s infinite linear;
			}

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				display: none;
				width: $button-loading-width;
				height: $button-loading-height;
				border-top: $button-loading-check-size solid currentColor;
				border-right: $button-loading-check-size solid currentColor;
				margin-top: 1px;
				margin-left: -(floor(round(-(($button-loading-width * cos($button-loading-check-angle)) - ($button-loading-height * sin($button-loading-check-angle)))) / 2));
				transform: scaleX(-1) rotate($button-loading-check-angle);
				animation: button-loading-complete $animation-transition * 2 $animation-easing;
				transform-origin: left top;
			}
		}

		.text {
			position: relative;
			display: inline-block;
			overflow: hidden;
			vertical-align: middle;
			max-width: 0;
			transition: max-width $animation-transition $animation-easing;
			backface-visibility: hidden;
		}
	}

	&.load {
		background-color: $button-bg-active-color;
		color: transparent !important;
		user-select: none;
		.loader { opacity: 1; }
	}

	&.load-done .loader {
		.text {
			max-width: 100px;
			margin-left: 3px;
		}

		.spinner {
			&::before {
				border-color: currentColor;
				animation: none;
			}

			&::after { display: block; }
		}
	}

	&.load-out {
		transition: background-color $animation-transition $animation-easing, color $animation-transition $animation-easing;
		.loader { transition: opacity $animation-transition $animation-easing; }
	}
}

.button-group {
	@include clearfix;
	overflow: hidden;
	font-size: 0;

	@include each-breakpoint {
		@include map-get($flat-spacing, $bp-name) {
			margin-top: $map-value;
			margin-bottom: $map-value;
			&.separate { padding-top: $map-value; }
		}

		@include map-get($spaced-spacing, $bp-name) {
			&.spaced {
				margin-top: $map-value;
				margin-bottom: $map-value;
				&.separate { padding-top: $map-value; }
			}
		}

		@include map-get($button-group-spacing, $bp-name) {
			margin-left: -$map-value;

			&::before { margin-top: -$map-value; }
			&.text-right { margin-left: 0; }
			+ .button-group { margin-top: $map-value; }

			.button {
				margin-top: $map-value;
				margin-left: $map-value;
			}

		}
	}

	.button { margin-bottom: 0; }
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
	&.flow .button { min-width: auto; }
	&.separate { border-top: 1px solid $border-color; }
	&.full {
		margin-left: 0;

		.button {
			width: 100%;
			margin-left: 0;
		}
	}
}

//-- Queries

@media #{bp(xsmall down)} {
	.button-group {
		margin-left: 0;

		.button {
			width: 100%;
			margin-left: 0;
		}
	}
}

//-- Animation

@keyframes button-loading-complete {
	0% { width: 0; height: 0; }
	20% { width: $button-loading-width; height: 0; }
	40% { width: $button-loading-width; height: $button-loading-height; }
	100% { width: $button-loading-width; height: $button-loading-height; }
}
