//-------------------------------------
//-- Store - Content loader
//-------------------------------------

.content-loader {
	.spinner {
		position: relative;
		z-index: 10;
		width: 50px;
		height: 50px;
		border: 5px solid $loader-bg-color;
		border-left-color: $loader-bar-color;
		border-radius: 50%;
		margin: 20px auto;
		transform: translateZ(0);
		animation: rotate-animation .5s infinite linear;

		&.content-area {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			margin-top: -24px;
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9;
		background: $loader-overlay-color;
	}
}
