//-------------------------------------
//-- Store - Grid
//-------------------------------------

.grid {
	display: table;
	width: 100%;
	height: 100%;

	.grid-row {
		display: table-row;
		height: 100%;
		&.narrow { height: .1%; }
	}

	.grid-cell {
		display: table-cell;
		vertical-align: middle;
		&.narrow { width: .1%; }
	}
}
