//-------------------------------------
//-- Store - Layout
//-------------------------------------

::selection {
	background-color: $text-color;
	color: $invert-color;
}

html, body {
	position: relative;
	overflow-x: hidden;
	height: 100%;
}

html {
	&.scroll-lock {
		overflow: hidden;

		body {
			overflow: hidden;
		}

		.site-wrapper {
			overflow-y: scroll;
		}
	}
}

body {
	@include body-styles;
	overflow-y: scroll;
}

@include global-styles;
.editable { @include editable-styles; }
.site-width { @include site-width-styles; }
.hidden { visibility: hidden; }

.row.main-row {
	max-width: none;
	margin-right: 0;
	margin-left: 0;

	> .column, > .columns {
		padding: 0;
	}

	.row.main-row {
		@include site-width-styles;
	}
}

//-- Regions

.regions {
	display: table;
	width: 100%;
	height: 100vh;
	table-layout: fixed;

	> .regions-row {
		display: table-row;

		&.full {
			height: 100%;
		}

		> [class*="region-"] {
			display: table-cell;
		}
	}
}

.region-header {
	position: relative;
	z-index: 2;
}

.region-content {
	@include common-scrollbar-styles;
	position: relative;
	z-index: 1;
	height: 150px;
	background-color: $bg-color;
}

//-- Messages

.msg {
	padding: 7px 14px;
	border: 1px solid $msg-default-color;
	background-color: $msg-default-color;
	color: $invert-color;
	font-size: 14px;
	line-height: 1.3;

	@include each-breakpoint {
		@include map-get($flat-spacing, $bp-name) { margin-bottom: $map-value; }
	}

	&:last-child { margin-bottom: 0; }

	&.outline {
		background-color: transparent;
		color: $msg-default-color;

		a {
			color: $msg-default-color;
		}
	}

	&.success {
		border-color: $success-color;
		background-color: $success-color;

		&.outline {
			background-color: transparent;
			color: $success-color;

			a {
				color: $success-color;
			}
		}
	}

	&.alert {
		border-color: $alert-color;
		background-color: $alert-color;

		&.outline {
			background-color: transparent;
			color: $alert-color;

			a {
				color: $alert-color;
			}
		}
	}

	&.error {
		border-color: $error-color;
		background-color: $error-color;

		&.outline {
			background-color: transparent;
			color: $error-color;

			a {
				color: $error-color;
			}
		}

	}

	p, ul {
		margin-top: 10px;
		&:first-child { margin-top: 0; }
	}

	ul {
		list-style: disc outside none;
		padding: 2px 0 0 10px;
		margin-left: 4px;

		li {
			margin-bottom: 3px;
		}
	}

	a {
		color: $invert-color;
	}
}

//-- Tables

.table-overflow {
	overflow: auto;
	width: 100%;

	@include each-breakpoint {
		@include map-get($flat-spacing, $bp-name) { margin: $map-value 0; }
	}

	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }

	table {
		width: 99.9%;
		white-space: nowrap;
	}

	&.max-height { max-height: 450px; }
}

.table-filter {
	@include each-breakpoint {
		@include map-get($flat-spacing, $bp-name) {
			margin-bottom: $map-value;
			.button { margin-bottom: $map-value; }
		}
	}

	@media #{bp(medium)} {
		.field { max-width: 250px; }
		.button { float: right; }
	}

	@media #{bp(mxlarge)} {
		.field { max-width: 300px; }
	}
}

//-- User info

.user-info {
	font-size: 13px;
	line-height: 1.4;
	letter-spacing: $large-letter-spacing;

	@include each-breakpoint {
		@include map-get($text-spacing, $bp-name) {
			+ .user-info { margin-top: $map-value; }
		}
	}

	.user-info-title {
		display: block;
		margin-bottom: 3px;
		font-size: 14px;
		font-weight: $bold-weight;
		text-transform: none;
		line-height: 1.2;
		&:last-child { margin-bottom: 0; }
	}

	.user-info-content {
		display: block;
		> span, > div > span { display: block; }
	}

	.user-info-actions {
		display: block;
		margin-top: 3px;
		font-size: 12px;

		> li {
			display: inline-block;

			+ li {
				&::before {
					content: '|';
					display: inline-block;
					margin: 0 5px 0 1px;
					color: $border-dark-color;
				}
			}
		}
	}

	&.caps {
		font-size: 12px;
		text-transform: uppercase;
		.user-info-actions { text-transform: none; }
	}

	@media #{bp(xlarge)} {
		&:not(.small) {
			font-size: 14px;

			.user-info-title {
				margin-bottom: 2px;
				font-size: 16px;
			}
		}
	}
}

//-- Dropdown pane

.dropdown {
	position: relative;

	.dropdown-pane {
		top: 100% !important;
		z-index: 10;
		padding-top: 6px;
		&.right { left: 0 !important; }

		&.left {
			right: 0 !important;
			left: auto !important;
			text-align: right;
		}
	}
}

.dropdown-button.hover {
	&::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		z-index: 11;
		width: 8px;
		height: 8px;
		border-width: 1px 1px 0 0;
		border-style: solid;
		border-color: $border-color;
		margin-top: 2px;
		margin-left: -4px;
		background-color: $white;
		transform: rotate(-45deg);
	}
}

.dropdown-pane {
	width: 320px;
	padding-top: 3px;

	.dropdown-content {
		position: relative;
		display: inline-block;
		padding: 12px 14px;
		border: 1px solid $border-color;
		box-shadow: 0 1px 2px $shadow-light-color;
		background-color: $white;
		font-size: 13px;
		text-align: left;
		text-transform: none;
		line-height: 1.4;
	}
}

//-- Document list

ul.document-list {
	margin-top: -.1em;

	li + li {
		margin-top: .05em;
	}

	a, button {
		&::before {
			@include ico-font();
			position: relative;
			top: .15em;
			display: inline-block;
			margin-right: .15em;
			font-size: 1.3em;
		}

		&[href$=".pdf"], &.pdf {
			&::before {
				content: $ico-pdf-char;
			}
		}
	}
}

//-- Column spacing

@include column-spacing-styles('text-spacing', $text-spacing);
@include column-spacing-styles('block-spacing', $block-spacing);
@include column-spacing-styles('block-collapse-spacing', $block-collapse-spacing);
