//-------------------------------------
//-- Store - Mixins
//-------------------------------------

//-- Small notes styles

@mixin note-styles {
	color: $text-light-color;
	font-size: 12px;
	font-weight: $normal-weight;
	font-style: italic;
	line-height: 1.25;
}

//-- Image Overlay

@mixin image-overlay-styles {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $image-overlay-gradient;
	}
}

//-- Column Spacing

@mixin column-spacing-styles($class, $map) {
	.row[class*="#{$class}"] {
		@include each-breakpoint {
			@include map-get($map, $bp-name) {
				> .column { margin-top: $map-value; }
			}

			@if ($bp-name != small) {
				&.#{$class}-#{$bp-name} > .column { margin-top: 0; }
			}
		}

		> .column:first-child { margin-top: 0; }
	}
}

//-- Accordion

@mixin accordion-box-show {
	position: relative;
	overflow: visible;
	max-height: 99999px;
	z-index: 1;
}

@mixin accordion-box-hide {
	overflow: hidden;
	max-height: 0;
}

@mixin accordion-label-styles {
	@include accordion-label-state-styles;
	display: block;
	padding: 10px 35px 10px 12px;
	border-top: 1px solid $accordion-label-border-color;
	border-bottom: 1px solid $accordion-label-border-color;
	background-color: $accordion-label-bg-color;
	font-size: 14px;
	font-weight: $bold-weight;
	line-height: 1.3;
	color: $accordion-label-text-color;
	cursor: pointer;

	&.on {
		border-color: $accordion-label-border-active-color;
		background-color: $accordion-label-bg-active-color;
	}
}

@mixin accordion-label-state-styles {
	@include accordion-state-styles;
	&::before, &::after { margin-right: 12px; }
	&.on::after { display: none; }
}

@mixin accordion-state-styles {
	position: relative;

	&::before, &::after {
		content: '';
		position: absolute;
		top: 50%;
		display: block;
		background-color: currentColor;
		transition: background-color $hover-transition $hover-easing;
	}

	&::before {
		right: 0;
		width: 12px;
		height: 2px;
		margin-top: -1px;
	}

	&::after {
		right: 5px;
		width: 2px;
		height: 12px;
		margin-top: -6px;
	}

	#{$hover-selector} {
		&::before, &::after {
			background-color: $accordion-state-active-color;
		}
	}
}

@mixin accordion-content-styles {
	position: relative;
	background-color: $bg-alt-color;
	padding: 12px;
	font-size: 14px;
	margin-top: $accordion-content-spacing;
}

@mixin accordion-offset-styles {
	@include spacing-styles($side-spacing, $type:margin, $side:(right left), $multiple: -1);

	@media #{bp(large)} {
		margin-right: 0;
		margin-left: 0;
	}
}

//-- Nav box

@mixin nav-box-styles($selector, $bg-color: $nav-box-bg-color) {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;

	:checked + #{$selector} {
		overflow: visible;
		opacity: 1;
		max-height: 99999px;
		transition: opacity $nav-box-transition $nav-box-easing;
	}

	#{$selector} {
		overflow: hidden;
		opacity: 0;
		max-height: 0;
		transition: opacity $nav-box-transition $nav-box-easing, overflow 0ms $nav-box-transition $nav-box-easing, max-height 0ms $nav-box-transition $nav-box-easing;
		.box-wrapper { background-color: $bg-color; }
	}
}

//-- Buttons

@mixin button-styles($height:$button-height, $font-size:$button-font-size, $line-height:$button-line-height) {
	$bp-height: 0;
	$bp-font-size: 0;
	$bp-line-height: 0;

	@include each-breakpoint {
		@include map-get($height, $bp-name) { $bp-height: $map-value; }
		@include map-get($font-size, $bp-name) { $bp-font-size: $map-value;
			font-size: $bp-font-size;
		}

		@include map-get($line-height, $bp-name) { $bp-line-height: $map-value;
			line-height: $bp-line-height;
		}

		@if($map-changed) {
			$text-size: $bp-font-size * $bp-line-height;
			$padding: ($bp-height - $text-size) / 2;

			$side-padding: ceil($padding * $button-side-padding-ratio);
			$top-padding: ceil($padding);
			$bottom-padding: floor($padding);

			@if(round($padding) == ceil($padding)) {
				$bottom-padding: ceil($padding);
			}

			padding: $top-padding $side-padding $bottom-padding;
		}
	}
}

//-- Title Styles

@mixin title-styles {
	font-family: $title-font;
	font-weight: $bold-weight;
	color: $title-color;
	line-height: 1.2;
}

@mixin subtitle-styles {
	font-family: $title-font;
	font-weight: $semibold-weight;
	color: $title-color;
	font-size: 24px;
	line-height: 1.2;

	@include breakpoint(large) {
		font-size: 26px;
	}
}

@mixin h1-styles {
	@include title-styles;
	font-style: $heading1-font-style;
	line-height: 1.1;

	@include each-breakpoint {
		@include map-get($heading1-font-size, $bp-name) { font-size: $map-value; }
	}
}

@mixin h2-styles {
	@include title-styles;
	font-style: $heading2-font-style;
	line-height: 1.15;

	@include each-breakpoint {
		@include map-get($heading2-font-size, $bp-name) { font-size: $map-value; }
	}
}

@mixin h3-styles {
	@include title-styles;
	font-style: $heading3-font-style;

	@include each-breakpoint {
		@include map-get($heading3-font-size, $bp-name) { font-size: $map-value; }
	}
}

@mixin h4-styles {
	@include title-styles;
	font-style: $heading4-font-style;

	@include each-breakpoint {
		@include map-get($heading4-font-size, $bp-name) { font-size: $map-value; }
	}
}

@mixin h5-styles {
	@include title-styles;
	font-style: $heading5-font-style;
	line-height: 1.3;

	@include each-breakpoint {
		@include map-get($heading5-font-size, $bp-name) { font-size: $map-value; }
	}
}

@mixin h6-styles {
	@include title-styles;
	font-style: $heading6-font-style;
	line-height: 1.3;

	@include each-breakpoint {
		@include map-get($heading6-font-size, $bp-name) { font-size: $map-value; }
	}
}

//-- Editable styles

@mixin quote-styles {
	padding: 2px 0 5px 16px;
	border-left: 4px solid $main-color;
	margin: 22px 0;
	font-size: 22px;
	line-height: 1.3;

	@include -zf-breakpoint-value(auto, $indent-spacing) {
		margin-right: $-zf-bp-value;
		margin-left: $-zf-bp-value;
	}

	@include breakpoint(xlarge) {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 24px;
	}
}

@mixin list-styles {
	@include each-breakpoint {
		@include map-get($indent-spacing, $bp-name) { margin-left: $map-value; }
	}

	> li + li, ul, ol { margin-top: 5px; }
}

@mixin list-bullet-styles($base-styles: true) {
	@if ($base-styles) { @include list-styles; }
	list-style-type: none;

	> li {
		position: relative;
		padding-left: 20px;

		&::before {
			content: '';
			position: absolute;
			top: .55em;
			left: 0;
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 6px;
			background-color: $bullet-color;
		}
	}
}

@mixin list-number-styles($base-styles: true) {
	@if ($base-styles) { @include list-styles; }
	padding-left: 16px;
	list-style-type: decimal;

	> li {
		position: relative;
		padding-left: 4px;
	}

	/*counter-reset: ol;

	> li {
		position: relative;
		counter-increment: ol;

		&::before {
			content: counter(ol);
			position: absolute;
			top: 0;
			left: 0;
			display: block;
		}
	}*/
}

@mixin table-styles {
	font-size: 14px;
	line-height: 1.3;

	th, td {
		padding: 12px;
		border-width: 0;
		border-top-width: 1px;
		border-style: solid;
		border-color: $border-color;

		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }

		&.select-cursor {
			position: relative;
			box-sizing: content-box;
			width: 4px;
			height: 100%;
			padding: 0 0 0 6px;

			&::before {
				content: '';
				position: absolute;
				top: 6px;
				bottom: 6px;
				display: block;
				width: 4px;
				background-color: transparent;
				transition: background-color $hover-transition $hover-easing;
			}

			@media #{bp(large down)} { display: none; }
		}
	}

	th, td.cell-title {
		padding-bottom: 4px;
		border-top-width: 0;
		border-bottom-width: 1px;
		border-color: $border-dark-color;
		font-weight: $bold-weight;

		@include each-breakpoint {
			@include map-get($flat-spacing, $bp-name) { padding-top: $map-value - 10px; }
		}

		a, button {
			color: inherit;
			text-decoration: none;

			&.sort {
				position: relative;
				display: block;

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					margin-left: 5px;
					transform: translateY(-50%);
				}

				#{$hover-selector} {
					text-decoration: none;
				}

				&.sort-ascending, &.sort-descending { padding-right: 20px; }
				&.sort-ascending::after { @include arrow-mixin($direction:up, $size:.35em, $color:currentColor); }
				&.sort-descending::after { @include arrow-mixin($direction:down, $size:.35em, $color:currentColor); }
			}
		}
	}

	tr {
		transition: background-color $hover-transition $hover-easing;
		&.highlight { font-weight: $semibold-weight; }

		&:first-child {
			th, td.cell-title {
				padding-top: 0;
				border-top-width: 0;
			}
		}

		&:last-child {
			th, td { border-bottom-width: 1px; }
		}

		&.on {
			background-color: $table-bg-active-color;
			color: $table-text-active-color;
			th, td { border-color: transparent; }

			+ tr {
				th, td { border-top-color: $table-bg-active-color; }
			}

			.checkbox { @include form-checkbox-invert-styles; }
			.radio { @include form-radio-invert-styles; }
		}

		&.selectable {
			cursor: pointer;

			#{$hover-selector} {
				.select-cursor::before { background-color: $table-cursor-color; }
				.radio, .checkbox { @include form-checkbox-hover-styles; }
				&.on .select-cursor::before { background-color: $table-cursor-active-color; }
			}
		}
	}

	tfoot {
		color: $text-light-color;
		font-size: 12px;

		th, td {
			padding-top: 8px;
			padding-bottom: 0;
		}

		tr:last-child {
			th, td {
				padding-bottom: 0;
				border-width: 0;
			}
		}
	}

	&.seemless {
		tr:last-child td {
			padding-bottom: 0;
			border-bottom-width: 0;
		}
	}
}

@mixin table-alt-styles {
	font-size: 14px;
	line-height: 1.3;

	th, td {
		@include spacing-styles($table-alt-vertical-padding, $type:padding, $side:(top bottom));
		padding-right: 12px;
		padding-left: 12px;
		border: 0;
		border-top: 1px solid $table-alt-border-color;

		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}

	th, td.cell-title {
		font-weight: $bold-weight;
	}

	tr {
		&:first-child {
			th, td {
				padding-top: 0;
				border-top: 0;
			}
		}

		&:last-child {
			th, td {
				padding-bottom: 0;
			}
		}
	}

	&.light {
		th, td { border-color: $table-alt-light-border-color; }
	}
}

@mixin table-narrow-styles {
	font-size: 13px;
	line-height: 1.4;

	th, td {
		padding: 8px;
		border: 0;
		border-top: 1px solid $border-color;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}

	tr {
		&:first-child {
			th, td {
				padding-top: 0;
				border-top: 0;
			}

			th { padding-bottom: 5px; }
		}

		&:last-child {
			th, td {
				padding-bottom: 0;
			}
		}
	}
}

@mixin body-styles {
	color: $text-color;
	font-family: $text-font;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.5;

	@include each-breakpoint {
		@include map-get($font-size, $bp-name) { font-size: $map-value; }
	}
}

@mixin global-styles {

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
	}

	a, button {
		padding: 0;
		border: 0;
		outline: 0;
		background-color: transparent;
		color: $link-color;
		font-family: $text-font;
		font-size: inherit;
		font-weight: inherit;
		font-style: inherit;
		text-align: inherit;
		text-transform: inherit;
		text-decoration: $link-decoration;
		letter-spacing: inherit;
		transition: color $hover-transition $hover-easing, background-color $hover-transition $hover-easing, border-color $hover-transition $hover-easing;
		cursor: pointer;
		img { border: 0; }

		#{$hover-selector} {
			color: $link-active-color;
			text-decoration: $link-active-decoration;
		}
	}

	hr {
		height: 1px;
		border: 0;
		background-color: $border-color;

		@include each-breakpoint {
			@include map-get($flat-spacing, $bp-name) {
				margin-top: $map-value;
				margin-bottom: $map-value;
			}
		}
	}

	p { margin: 0; }

	ul, ol {
		padding-left: 0;
		margin: 0;
		list-style-type: none;
	}

	blockquote { margin: 0; }

	.success-color { color: $success-color; }
	.alert-color { color: $alert-color; }
	.error-color { color: $error-color; }

	table {
		vertical-align: top;
		border: 0;
		border-collapse: collapse;
		&.full { width: 100%; }

		&.nowrap {
			th, td { white-space: nowrap; }
		}

		&.text-middle {
			th, td { vertical-align: middle; }
		}

		&.text-top {
			th, td { vertical-align: top; }
		}

		&.text-bottom {
			th, td { vertical-align: bottom; }
		}

		th, td {
			padding: 0;
			border: 0;
			text-align: left;
			&.nowrap { white-space: nowrap; }
			&.wrap { white-space: normal; }
			&.narrow { width: .1%; }
			&.text-middle { vertical-align: middle; }
			&.text-top { vertical-align: top; }
			&.text-bottom { vertical-align: bottom; }
		}

		tr {
			&.narrow { height: .1%; }
		}

		// styles

		&.table { @include table-styles; }
		&.table-alt { @include table-alt-styles; }
		&.table-narrow { @include table-narrow-styles; }

		// editor

		td {
			&.cell-title { /*! a */ }
		}
	}

}

@mixin editable-styles {
	h1, h2, h3, h4, h5, h6 {
		@include each-breakpoint {
			@include map-get($title-spacing-top, $bp-name) { margin-top: $map-value; }
			@include map-get($title-spacing-bottom, $bp-name) { margin-bottom: $map-value; }
		}

		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
		+ h1, + h2, + h3, + h4, + h5, + h6 { margin-top: 0; }
	}

	h1 { @include h1-styles; }
	h2 { @include h2-styles; }
	h3 { @include h3-styles; }
	h4 { @include h4-styles; }
	h5 { @include h5-styles; }
	h6 {
		@include h6-styles;
		margin-bottom: 10px;
	}

	blockquote { @include quote-styles; }

	p {
		@include each-breakpoint {
			@include map-get($text-spacing, $bp-name) { margin-bottom: $map-value; }
		}

		&:last-child { margin-bottom: 0; }
	}

	.button {
		$bp-text-spacing: 0;
		$bp-flat-spacing: 0;

		@include each-breakpoint {
			@include map-get($flat-spacing, $bp-name) { $bp-flat-spacing: $map-value; }

			@include map-get($text-spacing, $bp-name) {
				$bp-text-spacing: $map-value;
				margin-bottom: $map-value;
			}

			@if ($map-changed) {
				margin-top: $bp-flat-spacing - $bp-text-spacing;
			}
		}
	}

	.list-title {
		@include each-breakpoint {
			@include map-get($text-spacing, $bp-name) { margin-bottom: $map-value / 2; }
		}
	}

	ol, ul {
		@include list-styles;
		@include each-breakpoint {
			@include map-get($text-spacing, $bp-name) { margin-bottom: $map-value; }
		}

		&:last-child { margin-bottom: 0; }
	}

	ul { @include list-bullet-styles($base-styles: false); }
	ol { @include list-number-styles($base-styles: false); }

	table {
		@include each-breakpoint {
			@include map-get($flat-spacing, $bp-name) {
				margin-top: $map-value;
				margin-bottom: $map-value;
			}
		}

		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}

	.large-text {
		font-size: 1.2em;
	}

	.small-text {
		font-size: .8em;
	}
}
