//-------------------------------------
//-- Store - Modal
//-------------------------------------

.reveal-overlay {
	display: block !important;
	opacity: 0;
	max-height: 0;
	transform: translateZ(0); // Fix scroll problem in chrome 70 when a popup is opened twice for certain screen sizes... (22 inch screen / 1920x1080)
	transition: opacity $reveal-transition $animation-easing, max-height 0ms linear $reveal-transition;
	> .reveal { display: block !important; }

	&.open {
		opacity: 1;
		max-height: 100%;
		transition: opacity $reveal-transition $animation-easing;
	}
}

.modal {
	@include common-scrollbar-styles;
	@include spacing-styles($map:$side-spacing, $type:padding);
	top: 0 !important;
	overflow: visible;
	width: 100%;
	height: auto;
	border: 0;
	margin: 0 auto;
	outline: 0;
	background-color: transparent;
	pointer-events: none;
	.row { max-width: none;}

	.modal-wrapper {
		@include spacing-styles($map:$side-spacing, $type:padding);
		position: relative;
		max-width: 1000px;
		border: $modal-border;
		border-radius: $modal-radius;
		margin: 0 auto;
		box-shadow: $modal-box-shadow;
		background-color: $modal-bg-color;
		pointer-events: all;
	}

	.modal-title {
		@include h1-styles;
		padding: 0 20px 8px 0;
		border-bottom: 1px solid $border-dark-color;
		margin-bottom: .6em;
	}

	.modal-close {
		position: absolute;
		top: -15px;
		right: -15px;
		z-index: 10;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $modal-close-bg-color;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		line-height: 2.75em;

		&::before {
			@include ico-font($ico-close-char);
			color: $modal-close-text-color;
		}

		#{$hover-selector} {
			text-decoration: none;
		}
	}

	.button-group {
		text-align: right;
	}

	&.loading {
		.content-loader {
			display: block !important;
		}
	}

	&.small, &.medium {
		width: 100%;

		.modal-wrapper {
			padding: 20px;
		}

		.modal-title {
			@include h2-styles;
		}
	}

	&.viewer {
		.viewer-media {
			display: block;
			max-height: 70vh;
			margin: 0 auto;
		}
	}

	&.small .modal-wrapper { max-width: 400px; }
	&.medium .modal-wrapper { max-width: 700px; }
}

//-- Queries

@media #{bp(xsmall)} {
	.modal {
		&.small, &.medium {
			.modal-wrapper { padding: 30px; }
		}
	}
}

@media #{bp(medium)} {
	.modal {
		&.medium .modal-wrapper { padding: 40px; }
	}
}
