//-------------------------------------
//-- Pager
//-------------------------------------

.pager {
	@include clearfix;

	@include each-breakpoint {
		@include map-get($flat-spacing, $bp-name) {
			&.top { margin-bottom: $map-value; }
			&.bottom { margin-top: $map-value; }
		}
	}

	select, input {
		width: auto;
		margin: 0;
	}

	.field {
		select, input { min-width: 100%; }
	}

	.pager-wrapper {
		margin-top: -15px;
		font-size: 0;

		> div {
			display: inline-block;
			vertical-align: bottom;
			margin-top: 15px;

			&.sort-by, &.per-page {
				padding-right: 15px;
			}

			&.pagination {
				font-size: 14px;

				.current {
					display: inline-block;
					vertical-align: middle;
					font-weight: $semibold-weight;

					input {
						display: inline-block;
						width: $form-field-digit-width;
						margin-right: 5px;
					}
				}

				button {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: 26px;
					height: 30px;
					color: $text-lighter-color;
					font-size: 16px;
					cursor: pointer;

					&[disabled] {
						display: none;
					}

					&::before {
						@include ico-font();
						position: absolute;
						top: 50%;
						left: 50%;
						display: inline-block;
						transform: translate3d(-50%, -50%, 0);
					}

					#{$hover-selector} {
						color: $text-color;
						text-decoration: none;
					}

					&.prev {
						margin-left: -7px;
						&::before { content: $ico-arrow-left-char; }
					}

					&.next {
						margin-right: -7px;
						&::before { content: $ico-arrow-right-char; }
					}
				}
			}
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		.pager-wrapper {
			display: table;
			width: 100%;
			margin-top: 0;

			> div {
				display: table-cell;
				white-space: nowrap;
				&.sort-by, &.per-page { width: .1%; }
				&.pagination { text-align: right; }
			}

			&::after {
				content: '';
				display: table-cell;
			}
		}
	}

}
