//-------------------------------------
//-- Store - Print
//-------------------------------------

/*@media print {
	.body {
		width: 100%;
	}

	ul {
		list-style: disc;
	}

	//-- Reset what hasn't been redefined
	* {
		$black: #000000;
		position: static !important;
		overflow: visible !important;
		border-color: $black !important;
		text-indent: 0 !important; // float: none !important;

		&::before, &::after {
			display: none !important;
		}
	}
}*/
