//-------------------------------------
//-- Store - Tabs
//-------------------------------------

//-- Styles

.tabs {
	.tabs-link {
		display: none;
		padding: 12px 0;
		background-color: $main-color;
		font-size: 0;

		> li {
			display: inline-block;
			vertical-align: bottom;
			padding: 0 30px;
			font-size: 14px;
			text-transform: uppercase;
			line-height: 1.2;
			+ li { border-left: 2px solid $invert-color; }
		}

		label {
			position: relative;
			display: block;
			padding: 4px 0;
			color: $invert-color;
			transition: color $hover-transition $hover-easing, border-color $hover-transition $hover-easing;
			cursor: pointer;

			&::after {
				content: '';
				position: absolute;
				bottom: 2px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: transparent;
				transition: background-color $hover-transition $hover-easing;
			}

			#{$hover-selector}, &.on {
				&::after {
					background-color: $invert-color;
				}
			}

			&.on {
				cursor: default;
			}
		}
	}

	.tabs-content {
		.tab {
			+ .tab { margin-top: -1px; }
			> .tab-label {
				@include accordion-label-styles;
				text-transform: uppercase;
			}

			.tab-box {
				@include accordion-box-hide;

				.tab-content {
					@include accordion-content-styles;
				}

				.tab-grid {
					.tab-cell {
						+ .tab-cell { margin-top: 1px; }
					}
				}
			}

			input:checked + .tab-box { @include accordion-box-show; }
		}
	}

	&.offset { @include accordion-offset-styles; }

	//-- Queries

	@media #{bp(large)} {
		.tabs-link { display: block; }

		.tabs-content {
			.tab {
				+ .tab { margin-top: 0; }
				> .tab-label { display: none; }
				.tab-box {
					.tab-content {
						height: 100%;
						padding: 30px;
						margin: 0;

						html.k-safari & { // fix height 100% on Safari
							box-sizing: content-box;
							> * { box-sizing: border-box; }
						}
					}

					.tab-grid {
						margin: 0 -5px;

						.tab-row {
							display: table;
							width: 100%;
							height: 100%;

							.tab-cell {
								display: table-cell;
								vertical-align: top;
								height: 100%;
								border-right: 5px solid transparent;
								border-left: 5px solid transparent;

								&:first-child {
									&:nth-last-child(2), &:nth-last-child(2) ~ .tab-content { width: 50%; }
								}
							}
						}
					}
				}

				input:not(:checked) + input + .tab-box { @include accordion-box-hide; }
				input:checked + input + .tab-box { @include accordion-box-show; }
			}
		}
	}

	@media #{bp(xlarge)} {
		.tabs-link {
			padding: 15px 0;
		}

		.tabs-content {
			.tab {
				.tab-box {
					.tab-content { padding: 40px; }
				}
			}
		}
	}
}
