﻿<div class="app-tools">
    <div class="app-tools-header" id="tools-show">
        <i class="fa fa-navicon"></i>
    </div>
    <div id="app-tools-container" style="display: none">
        <div id="close-tools-container">
            <span title="Close" class="fa fa-times"></span>
        </div>
        <div id="create-connector-container"></div>
    </div>
</div>