﻿@using Insite.Core
@using Insite.Core.Context
@using Insite.WebFramework.Mvc.Extensions
@model Insite.Rfq.Content.RfqMyQuotesPage

<div class="row main-row ma-my-quotes @(SiteContext.Current.UserProfile.Salespersons.Count > 0 ? "ma-my-quotes" : "")">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>