﻿.title-workarea-excelexport {
    width: 180px;
    color: black;
    display: inline-block;
}

.workarea-excelexport-control-container {
    padding: 10px;
    position: relative;
}

.title-workarea-excelexport {
    float: left;
}

#export-contentwrapper{
    position: absolute;
    bottom: 10px;
    top: 70px;
    left: 14px;
    right: 14px;
    overflow: auto;
}

#removeConfiguration {
    padding-left: 10px;
    padding-top: 4px;
}

.workarea-excelexport-control {
    padding: 5px;
    border: 1px #ccc solid;
}

.workarea-excel-export-buttons {
    padding: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.export-action-button {
    margin-left: 20px;
    float: right;
    cursor: pointer;
}

.configurationdialog {
    z-index: 10;
    border: 1px solid #333333;
    padding: 10px;
    margin-top: 60px;
    width: 400px;
    max-height: 400px;
    overflow-y: auto; 
}

.workarea-excelexport-control-container li.selected {
    color: #333333;   
}

/*.remove-confiugration-container {
    display: none;
}*/

#excel-export #excel-export-save-configuration {
    vertical-align: middle;
}


#excel-loading-spinner-container {
    padding-top: 20px;
    display: none;
}

#type-excel-export-control-container li.selected {
    color: #333333;
}

#remove-configuration {
    color: #777777
}
