﻿<div class='box-content'>
    <div class="edit-content-store-setting-wrap">
        <span class="edit-content-store-label">Excluded Entity Types</span>
        <select id="edit-content-store-excluded-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
    </div>
    <div class="edit-content-store-setting-wrap">
        <span class="edit-content-store-label">Excluded Field Types</span>
        <div style="display: inline-block;">
            <div>
                <span>For entity type </span><select id="edit-content-store-excluded-field-types-filter" class="std-content-store-dropdown"></select>
            </div>
            <div>
                <select id="edit-content-store-excluded-field-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
            </div>
            <div>
                <span id="edit-content-store-excluded-field-types-status-text"></span>
            </div>
        </div>
    </div>
    <div class="edit-content-store-setting-wrap">
        <span class="edit-content-store-label">Excluded Link Types</span>
        <select id="edit-content-store-excluded-link-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
    </div>
    <div class="edit-content-store-setting-wrap">
        <span class="edit-content-store-label">Languages</span>
        <select id="edit-content-store-languages" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
    </div>
    <div class="edit-content-store-setting-wrap">
        <div id='edit-content-store-resource-configuration-form-container' class='std-content-store-backbone-form'></div>
    </div>
    <div class="edit-content-store-setting-wrap">
        <span class="edit-content-store-label">REST Url</span>
        <input id="edit-content-store-resturl" class="edit-content-store-textbox" type="text" style="width: 228px;" />
    </div>
    <div class="edit-content-store-setting-wrap">
        <span class="edit-content-store-label">API key</span>
        <input id="edit-content-store-apikey" class="edit-content-store-textbox" type="text" style="width: 228px;" />
    </div>
    <div class="edit-content-store-setting-wrap dummy-wrap border-red-top">
        <div class="edit-content-store-setting-wrap2">
            <!--<button id="edit-content-store-mappings">Edit name mappings</button>-->

            <span id="edit-content-store-mappings" class="row-icon-button query-action-button" title="">
                <i class="fa fa-pencil"></i>
                <span class="workarea-tool-text">Rename Fields</span>
            </span>
            

            <div id="restart-connector-wrap">
                <img id="restart-connector-spinner" src="/images/ajax-loader.gif" />
                <a href="#" id="restart-connector"><span class="icon-entypo-fix-ccw std-entypo-fix-icon"></span> Restart</a>
            </div>
        </div>
    </div>
</div>
