﻿#lightboard {
    margin-top: 10px;
    height: 100%;
}

.thumbnails {
    list-style: none;
    clear: both;
    /*    height: 500px;*/
}

    .thumbnails li {
        float: left;
    }

.thumbnails-overview {
    list-style: none;
    clear: both;
    padding-left: 10px;
    margin-bottom: 10px;
}

    /*.thumbnails-overview li {
        float: left;
    }*/

/*.thumbnails .thumbnail img {
    width: 100%;
    height: 100%;
}*/

#show-all {
    margin-top: 20px;
    margin-left: 25px;
}

.bottom-tool-area span {
    float: left;
}

.set-main-picture {
    float: left;
    cursor: pointer;
}

.lightboard-view-details-row-key {
    color: #0071a5;
    font-weight: bold;
    float: left;
    clear: both;
}

.lightboard-card-wrap {
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
  
    border: 1px solid #ccc;
    cursor: pointer;
    width: 140px;
    height: 200px;
}

    .lightboard-card-wrap .dz-preview {
        display: none;
    }

    .lightboard-card-wrap:hover {
        -webkit-box-shadow: 0 0 3px #000000;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.275);
        box-shadow: 0 0 3px #000000;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.275);
    }

    .lightboard-card-wrap img {
        position: relative;
        max-height: 90%;
        max-width: 100%;
    }


.lightboard-preview-popup-wrap .lightboard-card-wrap img {
    max-height: 160px;
    max-width: 130px;
    margin: 0;
}

.lightboard-preview-popup-wrap .lightboard-card-wrap {
    height: 160px;
    width: 130px;
}


.lightboard-overview-card-wrap {
    position: relative;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}



    .lightboard-overview-card-wrap img {
        max-width: 80px;
        max-height: 80px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

#lightboard-actions {
    float: right;
    margin-right: 10px;
}

    #lightboard-actions div {
        float: left;
    }

#lightboard-slider {
    width: 100px;
    margin: 23px 0;
    height: 5px;
}

.previewFieldValue {
    float: right;
}

.lightboard-display-name {
    color: #666666;
    font-weight: bold;
    width: 120px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.download-menu {
    width: 100px;
    z-index: 200;
    padding: 15px;
    border: 1px solid #bbbbbb;
    /*border-radius: 5px;*/
    position: absolute;
    background-color: white;
    list-style-type: none;
    padding: 4px;
    /*padding-left: 15px;*/
    margin: 4px;
    font-size: 12px;
}

    .download-menu a {
        display: block;
        color: #2d2d2c;
    }

.download-menu .ui-menu-item {
    padding: 3px 0px 3px 1px;  
    width: 93%;
}


.lightboard-details-area {
    width: 80%;
    float: left;
}

.lightboard-thumbnails-area {
    float: right;
    width: 215px;
    top: 30px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    overflow-y: auto;
}

.detail-area {
    float: left;
    width: 300px;
    overflow-y: auto;
    bottom: 40px;
    position: absolute;
    top: 45px;
    overflow-x: hidden;
}

.preview-area {
    float: right;
    position: absolute;
    left: 350px;
    right: 200px;
    top: 10px;
    bottom: 10px;
}


    .preview-area img {
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
    }

.detail-area .entity-view-details-row-key {
    width: 150px;
    padding-left: 5px;
    display: inline-block;
}

.detail-area .card-wrap {
    height: 20px !important;
    padding-top: 10px !important;
    margin-bottom: 5px !important;
}

    .detail-area .card-wrap .card-text1 {
        left: 10px;
        top: 10px;
    }

.modal-popup-top-close-button {
    float: right;
    position: absolute;
    right: 20px;
}


#entity-bottom-info-container > div {
    height: 100%;
}

.ui-slider-horizontal .ui-slider-handle {
    height: 12px;
    width: 14px;
}

#lightboard {
    color: #2d2d2c;
}

.preview-tools {
    color: #2d2d2c;
    display: inline;
    float: left;
    cursor: pointer;
    padding: 8px;
    font-weight: normal;
    font-size: 15px;
}

.showdata {
    display: inline;
}

#lightboard #contextmenu {
    top: 5px;
    right: 5px;
    position: absolute;
}


.lightboard-wrapper {
    display: inline-block;
    width: 100%; /*135px;*/
    text-align: center;
    line-height: 180px;
    height: 100%; /*180px;*/
    overflow: hidden;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.lightboard-details-area .card-text1, .lightboard-details-area .card-text-area {
    width: 300px;
}

#value {
    margin-top: 5px;
}

.lightboard-entity {
    position: relative;
    float: left;
    width: 270px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
