﻿<div class="block title lined">
    <div class="block-wrapper">
        <div class="wrapper">
            <div class="sub-wrapper">
                <h1 class="title">[% translate 'Checkout' %]</h1>
                <ul class="steps">
                    <li ng-class="{'on': vm.orderDetailsActive, 'prev': (vm.orderReviewActive || vm.orderConfirmationActive)}">
                        <span ng-if="!vm.orderReviewActive">[% translate 'Store_Checkout_Step_Edit' %]</span>
                        <a ng-if="vm.orderReviewActive" ng-href="[% urlForPage 'CheckoutOrderDetailsPage' %]">[% translate 'Store_Checkout_Step_Edit' %]</a>
                    </li>
                    <li ng-class="{'on': vm.orderReviewActive, 'prev': vm.orderConfirmationActive}"><span>[% translate 'Store_Checkout_Step_Review' %]</span></li>
                    <li ng-class="{'on': vm.orderConfirmationActive}"><span>[% translate 'Store_Checkout_Step_Confirmation' %]</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
