﻿<div class="order-items" ng-class="{'no-price' : cart.properties['canShowPrice'] != 'true'}">
    <table class="order-items-list">
        <thead>
            <tr>
                <th class="order-item-description" colspan="2">[% translate 'Store_Order_Description' %]</th>
                <th class="order-item-status">[% translate 'Store_Order_Availability' %]</th>
                <th class="order-item-quantity">[% translate 'Store_Order_Quantity' %]</th>
                <th class="order-item-price">[% translate 'Store_Order_UnitPrice' %]</th>
                <th class="order-item-total text-right">[% translate 'Store_Order_Subtotal' %]</th>
            </tr>
        </thead>
        <tbody class="order-item" ng-repeat="cartLine in cart.cartLines | filter: quoteRequiredFilter">
            <tr class="order-item-msg" ng-if="inventoryCheck && cartLine.hasInsufficientInventory">
                <td colspan="6">
                    <div class="msg alert">
                        {{'[% siteMessage 'Cart_ToManyQtyRequested' EscapeSingleQuotes %]'.replace('{0}', cartLine.qtyOnHand).replace('{1}', vm.getSumQtyPerUom(cartLine.productId, cart.cartLines))}}
                    </div>
                </td>
            </tr>
            <tr class="order-item-detail" ng-class="{'no-price' : cartLine.properties['canShowPrice'] != 'true'}">
                <td class="order-item-visual">
                    <isc-product-thumb product="cartLine"></isc-product-thumb>
                </td>

                <td class="order-item-name">
                    <isc-product-name product="cartLine"></isc-product-name>
                    <a class="name" ng-href="{{cartLine.productUri}}" ng-bind="cartLine.shortDescription"></a>
                </td>

                <td class="order-item-status">
                    <store-availability-status product="cartLine" class="small no-text"></store-availability-status>
                </td>

                <td class="order-item-quantity">
                    <div class="product-quantity">
                        <div class="wrapper">
                            <div class="value" ng-bind="cartLine.qtyOrdered"></div>
                            <div class="label"><label for="product-quantity-{{$index}}" class="qty-label">[% translate 'Store_QuantityLabel' %]</label></div>
                        </div>
                    </div>
                </td>

                <td class="order-item-price">
                    <div class="product-price">
                        <isc-product-price product="cartLine" ng-if="cartLine.properties['canShowPrice'] == 'true'"></isc-product-price>
                        <span class="price" ng-if="cartLine.properties['canShowPrice'] != 'true'">-</span>
                    </div>
                </td>

                <td class="order-item-total text-right">
                    <div class="wrapper">
                        <span class="label">[% translate 'Store_Order_Subtotal' %]</span>
                        <span class="value">
                            <span ng-bind="cartLine.pricing.extendedUnitNetPriceDisplay" ng-if="cartLine.properties['canShowPrice'] == 'true'"></span>
                            <span ng-if="cartLine.properties['canShowPrice'] != 'true'">-</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="order-items-total">
        <tr class="subtotal" ng-if="cart.properties['canShowPrice']">
            <td class="label"><span ng-bind="cart.totalCountDisplay"></span> [% translate 'Items' %]</td>
            <td class="value" ng-bind="cart.orderSubTotalDisplay"></td>
        </tr>
        <tr class="shipping" ng-if="cart.properties['canShowPrice'] && showSeparateShippingAndHandling && cart.shippingChargesDisplay.length > 0">
            <td class="label">[% translate 'Shipping' %]</td>
            <td class="value" ng-bind="cart.shippingChargesDisplay"></td>
        </tr>
        <tr class="shipping-handling" ng-if="cart.properties['canShowPrice'] && !showSeparateShippingAndHandling && cart.shippingAndHandlingDisplay.length > 0">
            <td class="label">[% translate 'Shipping & Handling' %]</td>
            <td class="value" ng-bind="cart.shippingAndHandlingDisplay"></td>
        </tr>
        <tr class="handling" ng-if="cart.properties['canShowPrice'] && showSeparateShippingAndHandling && cart.handlingChargesDisplay.length > 0">
            <td class="label">[% translate 'Handling' %]</td>
            <td class="value" ng-bind="cart.handlingChargesDisplay"></td>
        </tr>
        <tr class="misc" ng-if="cart.properties['canShowPrice'] && showMiscCharge && cart.otherChargesDisplay.length > 0">
            <td class="label">[% translate 'Misc. Charge' %]</td>
            <td class="value" ng-bind="cart.otherChargesDisplay"></td>
        </tr>
        <tr class="tax" ng-if="cart.properties['canShowPrice'] && cart.totalTaxDisplay.length > 0">
            <td class="label">[% translate 'Tax' %]<span ng-if="cart.properties['isTaxExempt']">*</span>
            </td>
            <td class="value">
                <span ng-bind="cart.totalTaxDisplay" ng-if="!cart.properties['noTaxCalculation']"></span>
                <span ng-if="cart.properties['noTaxCalculation']">[% translate 'TBD' %]</span>
            </td>
        </tr>
        <tr class="total" ng-if="cart.properties['canShowPrice']">
            <td class="label">[% translate 'Store_Order_OrderTotal' %]</td>
            <td class="value" ng-bind="cart.orderGrandTotalDisplay"></td>
        </tr>
        <tr class="note" ng-if="cart.properties['canShowPrice'] && cart.totalTaxDisplay.length > 0 && cart.properties['isTaxExempt']">
            <td colspan="2">*[% translate 'Store_Order_TaxExemptMessage' %]</td>
        </tr>
    </table>
</div>