﻿<div class="fields flat">
    <div class="row">
        <div class="column xlarge-5">
            <div class="field">
                <label for="order-po-number">[% translate 'PO Number' %]</label>
                <input type="text" id="order-po-number" ng-model="cart.poNumber"
                       data-rule-maxlength="22"
                       data-msg-maxlength="{{'[% siteMessage 'Field_Too_Long' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'PO Number' EscapeSingleQuotes %]').replace('{1}', 22)}}"
                       data-msg-required="[% translate 'PO Number is required.' %]" ng-required="cart.requiresPoNumber" />
            </div>
            <div class="field">
                <label for="order-customer-reference">[% translate 'Store_Checkout_CustomerReference' %]<span class="note">[% translate 'Store_Form_Optional' %]</span></label>
                <input type="text" id="order-customer-reference" ng-model="cart.properties['customerReference']"
                       data-rule-maxlength="92"
                       data-msg-maxlength="{{'[% siteMessage 'Field_Too_Long' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'Store_Checkout_CustomerReference' EscapeSingleQuotes %]').replace('{1}', 92)}}" />
            </div>
        </div>
        <div class="column xlarge-7">
            <div class="field">
                <label for="order-notes">[% translate 'Notes' %]<span class="note">[% translate 'Store_Form_Optional' %]</span></label>
                <textarea id="order-notes" ng-model="cart.notes"></textarea>
            </div>
        </div>
    </div>
</div>
