﻿<div class="order-grid">
    <div class="order">
        <h2 class="order-subtitle">[% translate 'Store_Checkout_CartDetails' %]</h2>
        <div class="msg error" ng-if="cart.properties['cartHasRestrictedProducts'] === 'true'">[% translate 'Store_Checkout_RestrictedProductsWarning' %]</div>
        <isc-cart-lines cart="cart" promotions="promotions" order-taxes="cart.customerOrderTaxes"></isc-cart-lines>
        <div class="button-group show-for-large">
            <a class="button alt {{navigateClass}}" href="{{navigateUrl}}" ng-if="navigateUrl">{{navigateText}}</a>
        </div>
    </div>
    <div class="summary">
        <h3 class="summary-title">[% translate 'Order Summary' %]</h3>
        <div class="summary-content">
            <div class="user-info small" ng-if="cart.properties['erpOrderNumber']">
                <h3 class="user-info-title">[% translate 'Order Number' %]</h3>
                <div class="user-info-content">
                    <span>{{cart.properties['erpOrderNumber']}}</span>
                </div>
            </div>

            <div class="user-info small" ng-if="order.orderDate">
                <h3 class="user-info-title">[% translate 'Order Date' %]</h3>
                <div class="user-info-content">
                    <span ng-bind="order.orderDate | date:'shortDate'"></span>
                </div>
            </div>

            <div class="user-info caps small">
                <h3 class="user-info-title">[% translate 'Bill To' %]</h3>
                <store-customers-address-summary address="cart.billTo"></store-customers-address-summary>
            </div>

            <div class="user-info caps small">
                <h3 class="user-info-title">[% translate 'Ship To' %]</h3>
                <store-customers-address-summary address="cart.shipTo"></store-customers-address-summary>
            </div>

            <div class="user-info caps small" ng-if="location">
                <h3 class="user-info-title">[% translate 'Location' %]</h3>
                <store-customers-address-summary address="location"></store-customers-address-summary>
            </div>
            
            <div class="user-info small">
                <h3 class="user-info-title">[% translate 'Delivery Method' %]</h3>
                <div class="user-info-content">
                    <span ng-if="cart.properties['shipViaIsPickup']">[% translate 'Pickup in store' %]</span>
                    <span ng-if="cart.properties['shipViaIsPickup'] === False">[% translate 'Mingledorff Delivery' %]</span>
                </div>
            </div>

            <div class="user-info caps small" ng-if="location.warehouse">
                <h3 class="user-info-title">[% translate 'My Store' %]</h3>
                <store-customers-address-summary address="location.warehouse"></store-customers-address-summary>
            </div>

            <div class="user-info small" ng-if="cart.poNumber">
                <h3 class="user-info-title">[% translate 'PO Number' %]</h3>
                <div class="user-info-content">
                    <span>{{cart.poNumber}}</span>
                </div>
            </div>

            <div class="user-info small" ng-if="!isPickUp">
                <h3 class="user-info-title">[% translate 'Store_Checkout_ShipDate' %]</h3>
                <div class="user-info-content">
                    <span>{{cart.requestedDeliveryDate | date:'shortDate'}}</span>
                </div>
            </div>

            <div class="user-info small" ng-if="!isPickUp">
                <h3 class="user-info-title">[% translate 'Store_Checkout_ShipComplete' %]</h3>
                <div class="user-info-content" ng-switch="cart.properties['shipComplete']">
                    <span ng-switch-when="true">[% translate 'Store_Checkout_ShipComplete_True' %]</span>
                    <span ng-switch-when="false">[% translate 'Store_Checkout_ShipComplete_False' %]</span>
                    <span ng-switch-default>[% translate 'Store_Checkout_ShipComplete_Error' %]</span>
                </div>
            </div>

            <div class="user-info small" ng-if="cart.properties['customerReference']">
                <h3 class="user-info-title">[% translate 'Store_Checkout_CustomerReference' %]</h3>
                <div class="user-info-content">
                    <span>{{cart.properties['customerReference']}}</span>
                </div>
            </div>
            <div class="user-info small" ng-if="cart.notes">
                <h3 class="user-info-title">[% translate 'Order Notes' %]</h3>
                <div class="user-info-content">
                    <em>{{cart.notes}}</em>
                </div>
            </div>
        </div>
        <isc-cart-total-display ng-if="!cart.cartNotPriced" cart="cart" promotions="promotions" order-taxes="cart.customerOrderTaxes" is-cart-page="false"></isc-cart-total-display>
        <div class="button-group full" ng-class="{'hide-for-large':!nextStepVisible}">
            <button class="button" type="button" ng-class="{'disabled':!nextStepEnabled}" ng-disabled="!nextStepEnabled" ng-click="nextStep()" ng-if="nextStepVisible">[% translate 'Store_Checkout_SubmitOrder' %]</button>
            <a class="button alt hide-for-large {{navigateClass}}" href="{{navigateUrl}}">{{navigateText}}</a>
        </div>
        
        <p class="summary-terms" ng-if="nextStepVisible && showTermsAndConditions">[% translate 'Store_Checkout_Terms' %]</p>
        <div class="summary-footer">
            <p class="summary-footer-title">[% translate 'Store_Cart_QuestionsTitle' %]</p>
            <p>[% translate 'Store_Cart_QuestionsPhoneNumber' %]</p>
        </div>
    </div>
</div>
