.checkout-cart {
    .return-link {
        margin: 1.5em 0;
    }

    .cart-left {
        margin-bottom: 1.5em;
    }
    /* Clearfix */
    .cart-left:before,
    .cart-left:after {
        content: " ";
        display: table;
    }

    .cart-left:after {
        clear: both;
    }

    ul.cart-items {
        margin: 0;
        list-style: none;
    }

    .cart-right {
        margin-bottom: 1.5em;
    }

    .cart-left .btns {
        margin: 1.5em 0;
    }

    .cart-left .btns .btn {
        width: 100%;
        margin-bottom: 1em;
    }

    .cart-right .btns a.btn {
        width: 100%;
        margin-bottom: 1em;
    }

    .item-details .item-name {
        padding-right: 2.5em;
    }

    .item-block .price {
        span, .quote-required {
            margin: 0 0;
        }

        .price-sale {
            margin-right: .25rem;
        }

        .price-saving {
            display: block;
        }

        .selected-uom {
            margin-right: 1rem;
        }

        .quantity-pricing {
            margin-left: 0 !important;
            display: block !important;
        }
    }

    .item-list .actions-panel .item-actions {
        text-align: left;
    }

    .item-list .item-code-notes {
        padding: 0;
        float: left;
        width: 100%;
    }

    .item-list .item-actions-wrap {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        float: left;
        width: 100%;
    }

    .quote-items-note {
        background: #fff6c5;
        border-color: #ffd800;
    }
    // messaging regarding items changed availability
    .item-qty-message {
        line-height: 1.2em;
        text-align: left;
        float: right;
        width: 197px;
        clear: both;
        color: red;

        span.item-qty-message__avail {
            display: block;
        }
    }

    .item-list .item-block div.item-opt {
        height: inherit;

        .item-qty input {
            width: 60px;
        }
    }

    .item-opt__changed {
        border: 2px solid red !important;
    }

    .item-block .item-opt .item-qty.item-qty-unavailable {
        label, input {
            display: none;
        }
    }
}

@media all and (min-width: 768px) {
    .checkout-cart {
        .cart-left {
            float: left;
            width: 65%;
        }

        .cart-right {
            float: right;
            width: 30%;
        }

        .item-list .item-details {
            padding-right: 1em !important;
        }

        .item-details .item-name {
            padding-right: 3.5em;
        }

        .item-opt .item-subtotal {
            float: right;
            clear: right;
            min-width: 110px;
        }
    }
}

@media all and (max-width: 767px) {
    .checkout-cart {
        .item-qty-message {
            width: 100%;
            float: none;
            text-align: right;
        }

        .item-opt--changed .item-qty {
            padding: 10px;
        }
    }
}
