.ma-wishlist {
    .select-list {
        margin: 1.5em 0;
    }

    .cart-items .actions-panel {
        margin: 0;
        width: 75%;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
    }

    .cart-items .item-actions .um-pack,
    .cart-items .item-actions .item-qty {
        display: inline-block;
        float: right;
        margin: 0 0 0.5em 0;
        text-align: right;
    }

    .cart-items .item-actions .item-qty {
        max-width: 100%;
        width: 100%;
    }

    .cart-items .item-actions label {
        min-width: 2.5em;
        padding-right: 0;
        margin-right: 0.25em;
    }

    .cart-items .actions-panel .panel-trigger {
        display: none !important;
    }

    .cart-items .actions-panel .item-actions {
        max-height: 520px;
        transform: none;
    }

    .btns {
        float: left;
        width: 100%;
        margin: 1.5em 0;
        text-align: right;
    }

    .item-details .item-name {
        padding-right: 2.5em;
    }

    .item-block {
        .price span {
            margin: 0 0;
        }

        .price-saving {
            display: block;
        }
    }

    .item-block .price.pd-price,
    .item-block span.selected-uom {
        padding-right: 0.3em;
    }

    .item-actions .um-pack label {
        float: none;
    }
}

@media all and (max-width: 767px) {
    .ma-wishlist {
        .btn-delete-list {
            float: right;
        }

        .item-list {
            border-bottom: 1px solid #E0E0E0;
            margin-top: 1.5em;
        }

        .btns .btn {
            width: 100%;
            margin-bottom: 1em;
        }
    }
}

@media all and (min-width: 768px) {
    .ma-wishlist {
        .item-list .item-details {
            padding-right: 1em !important;
        }

        .select-list label {
            display: inline-block;
            margin-right: 1em;
        }

        .select-list select {
            display: inline-block;
            width: auto;
            margin-right: 1em;
        }

        .cart-items .actions-panel {
            margin: 0 1em 1em 0;
            padding: 0;
            width: 30%;
            border-bottom: 1px solid #E0E0E0;
        }

        .item-list .item-details {
            width: 47%;
        }

        .cart-items .item-actions .um-pack select {
            margin-right: 0;
        }

        .item-list .item-details {
            padding-right: 1em !important;
        }

        .item-details .item-name {
            padding-right: 3.5em;
        }

        div.remove {
            margin-right: -0.5em;
        }

        .btns .btn {
            margin-left: 1em;
            float: right;
        }
    }
}

@media all and (min-width: 968px) {
    .ma-wishlist {
        .item-list .item-details {
            width: 55%;
        }

        .cart-items .actions-panel {
            width: 25%;
        }
    }
}
