﻿<div id="main-client-area">
    <div class="width-limited-container">
        <!--  <span class="main-header entity-view-details-header">Structure</span>-->

    </div>
    <div class="treearea">
        <div class="content-area-tools-row">
            <span><input id="treefilter" class="filter" placeholder="Filter" type="text" /><i class="fa fa-filter" id="workareasearch"></i></span>
            <span class="content-area-tools" id="addroot"><i class="fa fa-plus row-icon-button" title="Open node" />Add root</span>
            <span class="content-area-tools" id="add"><i class="fa fa-plus row-icon-button" title="Add node" />Add node</span>
            <span class="content-area-tools" id="remove"><i class="fa fa-trash-o row-icon-button" title="Remove node" />Remove</span>

        </div>
        <div id="structure-row-container">

        </div>

        <div id="treemenu" style="display: none; ">
            <div id="dropresult"></div>
           <!-- <div id="contextmenu"></div>-->
            <!-- <span class="open"><i class="fa fa-list control-row-icon-button" title="Open node" /></span>
                <span class="add"><i class="fa fa-plus control-row-icon-button" title="Add node" /></span>
                <span class="remove"><i class="fa fa-trash-o control-row-icon-button" title="Remove node" /></span>-->

        </div>
    </div>
    <div class="contentarea"></div>
    </div>