﻿<div class="category-section-wrap" id="<%= sectionId %>">
    <div class="category-section-title">
        <span class="category-section-title-text"><%= sectionName %></span>
        <% if(typeof showEditIcon !== "undefined") { %>
            <i id="category-section-edit-icon" class="fa fa-pencil row-icon-button"></i>
        <% } %>
        <div class="showCategory" id="<%= sectionId %>-show">
            <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display:none"></i>
        </div>
    </div>
    <div id="category-field-container">
    </div>
</div>