<div class="block group collapse" ng-controller="OrderListController as vm" ng-cloak>
    <div class="block-wrapper">

        <div class="block">
            <div class="block-wrapper">

                <div class="accordion spaced">
                    <label for="order-search-accordion" class="accordion-label inline">[% translate 'Search Orders' %]</label>
                    <input type="checkbox" id="order-search-accordion" />
                    <div class="accordion-box">
                        <div class="accordion-content">

                            <div class="form">
                                <div class="row fields">
                                    <div class="column medium-6">
                                        <div class="field">
                                            <label for="order-search-shipto">[% translate 'Ship To Address' %]</label>
                                            <select id="order-search-shipto" ng-model="vm.searchFilter.customerSequence" ng-options="shipTo.customerSequence as shipTo.label for shipTo in vm.shipTos"></select>
                                        </div>

                                        <div class="row">
                                            <div class="column">
                                                <div class="field">
                                                    <label for="order-search-ordernumber">[% translate 'Order #' %]</label>
                                                    <input type="text" id="order-search-ordernumber" ng-model="vm.searchFilter.ordernumber" />
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="column xlarge-6">
                                                <div class="field" ng-if="vm.showPoNumber">
                                                    <label for="order-search-po">[% translate 'PO #' %]</label>
                                                    <input type="text" id="order-search-po" ng-model="vm.searchFilter.ponumber" />
                                                </div>
                                            </div>
                                            <div class="column xlarge-6">
                                                <div class="field">
                                                    <label for="order-search-reference">[% translate 'Store_OrderHistory_CustomerReference' %]</label>
                                                    <input type="text" id="order-search-reference" ng-model="vm.referenceSearchFilter"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field" ng-if="vm.orderStatusMappings.length > 0">
                                            <label for="order-search-status">[% translate 'Store_Order_Status' %]</label>
                                            <select id="order-search-status" ng-model="vm.searchFilter.statusDisplay">
                                                <option ng-repeat="(key,value) in vm.orderStatusMappings" ng-selected="vm.searchFilter.statusDisplay === key" value="{{::key}}" ng-bind="key"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="column medium-6">
                                        <label>[% translate 'Date Range' %]</label>
                                        <div class="row">
                                            <div class="column xsmall-6">
                                                <div class="field has-action">
                                                    <input type="text" value="" class="datepicker" isc-pick-a-date="vm.searchFilter.fromDate" max-date="vm.searchFilter.toDate ? (vm.searchFilter.toDate | date:'yyyy-MM-dd') : true" placeholder="[% translate 'From' %]" />
                                                    <span class="field-action date"></span>
                                                </div>
                                            </div>
                                            <div class="column xsmall-6">
                                                <div class="field has-action">
                                                    <input type="text" value="" class="datepicker" isc-pick-a-date="vm.searchFilter.toDate" min-date="vm.searchFilter.fromDate ? (vm.searchFilter.fromDate | date:'yyyy-MM-dd') : false" max-date="true" placeholder="[% translate 'To_date' %]" />
                                                    <span class="field-action date"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <div class="field">
                                                    <label for="order-search-sku">[% translate 'Product Serial Number' %]</label>
                                                    <input type="text" id="order-search-sku" ng-model="vm.productSerialNumberFilter" />
                                                </div>
                                            </div>
                                        </div>
                                        <label>[% translate 'Order Total' %]</label>
                                        <div class="row">
                                            <div class="column xsmall-6">
                                                <div class="field">
                                                    <select ng-model="vm.searchFilter.ordertotaloperator">
                                                        <option value=""></option>
                                                        <option value="Greater Than">[% translate 'Greater Than' %]</option>
                                                        <option value="Less Than">[% translate 'Less Than' %]</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="column xsmall-6">
                                                <div class="field">
                                                    <input type="number" ng-model="vm.searchFilter.ordertotal" placeholder="[% translate 'Order Total' %]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-group separate text-right">
                                    <button id="tst_ordersPage_clearBtn" type="button" class="button other small" ng-click="vm.clear()">[% translate 'Clear' %]</button>
                                    <button id="tst_ordersPage_searchBtn" type="button" class="button main small" ng-click="vm.search()">[% translate 'Search' %]</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="block">
            <div class="block-wrapper">
                <div class="msg error" ng-if="vm.validationMessage" ng-bind="vm.validationMessage"></div>

                <p ng-if="vm.orderHistory.orders.length === 0">[% translate 'No orders found' %].</p>
                <div ng-if="vm.orderHistory.orders.length > 0">

                    <div class="table-overflow">
                        <table class="table full spaced">
                            <thead>
                                <tr>
                                    <th>
                                        <button type="button" class="sort"
                                            ng-class="{'sort-ascending': vm.searchFilter.sort === 'ErpOrderNumber', 'sort-descending': vm.searchFilter.sort === 'ErpOrderNumber DESC'}"
                                            ng-click="vm.changeSort('ErpOrderNumber')">
                                            [% translate 'Order #' %]
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" class="sort"
                                            ng-class="{'sort-ascending': vm.searchFilter.sort === 'OrderDate,ErpOrderNumber', 'sort-descending': vm.searchFilter.sort === 'OrderDate DESC,ErpOrderNumber DESC'}"
                                            ng-click="vm.changeSort('OrderDate,ErpOrderNumber')">
                                            [% translate 'Date' %]
                                        </button>
                                    </th>
                                    <th class="col-po">
                                        <button type="button" class="sort"
                                                ng-class="{'sort-ascending': vm.searchFilter.sort === 'CustomerPO', 'sort-descending': vm.searchFilter.sort === 'CustomerPO DESC'}"
                                                ng-click="vm.changeSort('CustomerPO')">
                                            [% translate 'PO #' %]
                                        </button>
                                    </th>
                                    <th>[% translate 'Store_OrderHistory_CustomerReference' %]</th>
                                    <th>
                                        <button type="button" class="sort"
                                                ng-class="{'sort-ascending': vm.searchFilter.sort === 'Status', 'sort-descending': vm.searchFilter.sort === 'Status DESC'}"
                                                ng-click="vm.changeSort('Status')">
                                            [% translate 'Status' %]
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" class="sort"
                                                ng-class="{'sort-ascending': vm.searchFilter.sort === 'STCompanyName', 'sort-descending': vm.searchFilter.sort === 'STCompanyName DESC'}"
                                                ng-click="vm.changeSort('STCompanyName')">
                                            [% translate 'Ship To' %]
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" class="sort"
                                            ng-class="{'sort-ascending': vm.searchFilter.sort === 'OrderTotal', 'sort-descending': vm.searchFilter.sort === 'OrderTotal DESC'}"
                                            ng-click="vm.changeSort('OrderTotal')">
                                            [% translate 'Total' %]
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in vm.orderHistory.orders">
                                    <td><a ng-href="[% urlForPage 'OrderDetailPage' %]?ordernumber={{order.erpOrderNumber}}">{{order.erpOrderNumber}}</a></td>
                                    <td>{{ order.orderDate | date:'shortDate' }}</td>
                                    <td ng-bind="order.customerPO"></td>
                                    <td ng-bind="order.properties['customerReference']"></td>
                                    <td ng-bind="order.statusDisplay"></td>
                                    <td><span ng-if="order.customerSequence">{{order.customerSequence}}, </span>{{order.stCompanyName}}</td>
                                    <td ng-bind="order.orderTotalDisplay"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6"><span ng-bind="vm.pagination.totalItemCount"></span> [% translate 'orders' %]</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <isc-pager pagination="vm.pagination" bottom="true" storage-key="vm.paginationStorageKey" update-data="vm.getOrders()"></isc-pager>
                </div>
            </div>
        </div>

    </div>
</div>