﻿#comment-container {
    position: absolute;
}

#comment-threads-container {
    padding: 10px;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
    height: 50%;
    position: relative;
    border: solid 1px #2d2d2c;
}

#comment-response-container {
    margin-left: 30px;
    margin-right: 45px;
    margin-bottom: 20px;
    display: block;
}

#comment-buttons-container {
    margin-left: 20px;
    margin-right: 20px;
}

#comment-response-container textarea {
    width: 100%;
    border: solid 2px #2d2d2c;
}

#comment-response-buttons-container {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

#comment-history-buttons-container {
    float: right;
    margin-top: 5px;
}

.comment-user-thread-container {
    border: solid 1px #bbb;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    position: relative;
}


.comment-button {
    margin-right: 5px;
}

.comment-current-user-thread-container {
}

.comment-other-user-thread-container {
}

#comment-showall-container {
    height: 17px;
}

.comment-user-name-container {
}

#show-all-comments {
    /*position: absolute;*/
    width: 15%;
    margin: 0 auto;
}

    #show-all-comments:hover {
        color: lightblue;
    }

.comment-delete-thread-container {
    position: absolute;
    top: 20px;
    right: 10px;
}

.comment-current-user-text-container, .comment-current-user-name-container {
    /*float: right;*/
}

.comment-other-user-text-container, .comment-other-user-name-container {
    /*float: left;*/
}

.comment-user-text-container {
    margin-left: 10px;
    cursor: pointer;
}

.comment-user {
    color: #2d2d2c;
}

#comment-created-by {
    margin-bottom: 3px;
    border-bottom: solid 1px #bbbbbb;
    font-size: 14px;
}


#comment-delete-thread {
    margin-right: 10px;
}

#comment-created
{
    font-size: 11px;
    color: #bbbbbb;
    right: 5px;
    position: absolute;
    top: 5px;
}
