﻿<div>
    <div class="box-title">
        <span class="icon-entypo-fix-cog std-entypo-fix-icon box-title-icon"></span>Configuration Settings
    </div>
    <div class='connector-box-content'>
        <div class="edit-configure-setting-wrap">
            <span class="edit-configure-label">Excluded Entity Types</span>
            <select id="edit-configure-excluded-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
        </div>
        <div class="edit-configure-setting-wrap">
            <span class="edit-configure-label">Excluded Field Types</span>
            <div style="display: inline-block;">
                <div>
                    <span>For entity type </span><select id="edit-configure-excluded-field-types-filter" class="std-configure-dropdown"></select>
                </div>
                <div>
                    <select id="edit-configure-excluded-field-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
                </div>
                <div>
                    <span id="edit-configure-excluded-field-types-status-text"></span>
                </div>
            </div>
        </div>
        <div class="edit-configure-setting-wrap">
            <span class="edit-configure-label">Excluded Link Types</span>
            <select id="edit-configure-excluded-link-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
        </div>
        <div class="edit-configure-setting-wrap">
            <span class="edit-configure-label">Languages</span>
            <select id="edit-configure-languages" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
        </div>
        <div class="edit-configure-setting-wrap">
            <div id='edit-configure-resource-configuration-form-container' class='xconnect-backbone-form'></div>
        </div>
        <div class="edit-configure-setting-wrap">
            <span class="edit-configure-label">REST Url</span>
            <input id="edit-configure-resturl" class="edit-configure-textbox" type="text" style="width: 228px;" />
        </div>
        <div class="edit-configure-setting-wrap">
            <span class="edit-configure-label">API key</span>
            <input id="edit-configure-apikey" class="edit-configure-textbox" type="text" style="width: 228px;" />
        </div>
        <div class="edit-configure-setting-wrap dummy-wrap border-red-top">
            <div class="edit-configure-setting-wrap2">
                <!--<button id="edit-configure-mappings">Edit name mappings</button>-->

                <span id="edit-configure-mappings" class="row-icon-button query-action-button" title="">
                    <i class="fa fa-pencil"></i>
                    <span class="workarea-tool-text">Rename Fields</span>
                </span>
            </div>
        </div>
    </div>
</div>
