﻿<div id="start-main-container">
    <div class="start-section-col-for-two">
        <div id="connector-channel-section" class="start-section-box">
        </div>
        <div id="connector-data-settings-section" class="start-section-box">
        </div>
    </div>
    <div class="start-section-col-for-two">
        <div id="connector-users-section" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-user std-entypo-fix-icon box-title-icon"></span>User Access
            </div>
        </div>
        <div id="connector-event-section" class="start-section-box">
        </div>
    </div>
</div>