﻿@using System.Web.Optimization
@using Insite.WebFramework.Mvc.Extensions
@model Insite.Dealers.Content.DealerLocatorPage

<div class="row main-row dealer-locator">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>