﻿<div id="start-main-container">
    <div id="suppliers-top-row">
        <select title="Suppliers" id="suppliers-dropdown"></select>
        <span title="Delete Supplier" class="row-icon-button query-action-button" id="delete-supplier">
            <i class="fa fa-trash-o"></i>
            <span class="workarea-tool-text">Delete Supplier</span>
        </span>
        <span title="Create Supplier" class="row-icon-button query-action-button" id="create-supplier">
            <i class="fa fa-plus"></i>
            <span class="workarea-tool-text">Create Supplier</span>
        </span>
    </div>
    <div id="suppliers-content-area">
        <div class="supplier-start-section-col-left">
            <div class="start-section-box">
                <div class="box-title">
                    <span class="fa fa-wrench box-title-icon"></span>Settings
                </div>
                <div id="suppliers-settings-section">
                    <div class="loadingspinner">
                        <img src="/Images/nine-squares-32x32.gif" />
                    </div>
                </div>
            </div>
        </div>
        <div class="supplier-start-section-col-right">           
            <div class="start-section-box">
                <div class="box-title">
                    <span class="icon-entypo-fix-shuffle std-entypo-fix-icon box-title-icon"></span>Mappings
                </div>
                <div id="supplier-mappings-section">
                    <div class="loadingspinner">
                        <img src="/Images/nine-squares-32x32.gif" />
                    </div>
                </div>
            </div>
            <div class="start-section-box">
                <div class="box-title">
                    <span class="icon-entypo-fix-user std-entypo-fix-icon box-title-icon"></span>User Access
                </div>
                <div id="suppliers-users-section">
                    <div class="loadingspinner">
                        <img src="/Images/nine-squares-32x32.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
