<div class="block sign-in" ng-controller="SignInController as vm" ng-cloak
home-page-url="[% urlForPage 'HomePage' %]"
change-customer-page-url="[% urlForPage 'ChangeCustomerPage' %]"
dashboard-url="[% urlForPage 'MyAccountPage' %]"
addresses-url="[% urlForPage 'MyAccountAddressPage' %]"
checkout-address-url="[% urlForPage 'CheckoutAddressPage' %]"
review-and-pay-url="[% urlForPage 'ReviewAndPayPage' %]"
cart-url="[% urlForPage 'CartPage' %]">
    <div class="block-wrapper">
        <div class="row">
            <div class="column large-8 xlarge-6">
                <form id="signInForm" name="vm.signInForm" novalidate>
                    <div class="msg alert" ng-if="vm.isFromReviewAndPay">[% siteMessage 'SignIn_SessionExpiredOnCheckout' %]</div>
                    <div class="msg error" ng-if="vm.signInError">{{vm.signInError}}</div>
                    <div class="fields">
                        <div class="row">
                            <div class="column medium-6">
                                <div class="field">
                                    <label for="SignInInfo_UserName">[% translate 'Username' %]</label>
                                    <input type="text" id="SignInInfo_UserName" name="userName"
                                    placeholder="[% translate 'Username' %]"
                                    required
                                    maxlength="75"
                                    ng-model="vm.userName" />
                                    <div class="field-error" ng-if="vm.signInForm.$submitted && vm.signInForm.userName.$error.required">[% siteMessage 'SignInInfo_UserName_Required' %]</div>
                                </div>
                            </div>
                            <div class="column medium-6">
                                <div class="field">
                                    <label for="SignInInfo_Password">[% translate 'Password' %]</label>
                                    <input type="password" id="SignInInfo_Password" name="password"
                                    placeholder="[% translate 'Password' %]"
                                    required
                                    maxlength="75"
                                    ng-model="vm.password" />
                                    <div class="field-error" ng-if="vm.signInForm.$submitted && vm.signInForm.password.$error.required">[% siteMessage 'SignInInfo_Password_Required' %]</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="remember-me-wrapper" ng-show="vm.settings.rememberMe">
                                <input type="checkbox" id="SignInInfo_RememberMe" ng-model="vm.rememberMe" />
                                <label for="SignInInfo_RememberMe">[% translate 'Remember Me' %]</label>
                            </div>
                            <div class="forgot-password-wrapper">
                                <a href="#" ng-click="vm.resetForgotPasswordPopup()" class="text-small" id="tst_signIn_openForgotPassword" data-open="forgotPasswordPopup" data-reveal-id="forgotPasswordPopup">[% translate 'Forgot Password?' EscapeSingleQuotes %]</a>
                            </div>
                        </div>
                    </div>
                    <div class="button-group spaced">
                        <button type="submit" class="button" ng-disabled="vm.disableSignIn" ng-click="vm.signIn('[% siteMessage 'SignInInfo_UserNamePassword_Combination' EscapeSingleQuotes %]')">[% translate 'Sign In' %]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <isc-popup-template container-id="forgotPasswordPopup" class="small" title="[% translate 'Store_SignIn_ForgotPassword' %]">
        <div ng-show="vm.resetPasswordSuccess">
            <div class="msg success">[% siteMessage 'ResetPassword_ResetPasswordEmailSent' %]</div>
            <div class=button-group>
                <button type="button" class="button" data-close>[% translate 'Close' %]</button>
            </div>
        </div>
        <div class="msg error" ng-if="vm.resetPasswordError" ng-bind="vm.resetPasswordError"></div>
        <div ng-show="!vm.resetPasswordSuccess">
            <div class="msg">
                <p>[% siteMessage "ResetPassword_Instructions" %]</p>
            </div>
            <form id="resetPasswordForm" class="custom">
                <div class="fields">
                    <div class="field">
                        <label for="tst_forgotPassword_usernameField">[% translate 'Username' %]</label>
                        <input type="text" id="tst_forgotPassword_usernameField"
                                data-rule-required="true"
                                data-msg-required="{{'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'Username' EscapeSingleQuotes %]')}}"
                                data-rule-username="true"
                                data-msg-username="{{'[% siteMessage 'Field_Invalid' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'Username' EscapeSingleQuotes %]')}}"
                                ng-model="vm.userNameToReset"
                                placeholder="[% translate 'Enter username' %]" required>
                    </div>
                </div>
                <div class="button-group full">
                    <button type="button" class="button" ng-click="vm.resetPassword()">[% translate 'Submit' %]</button>
                    <button type="button" class="button other" onclick="$('.modal-close').click()">[% translate 'Cancel' %]</button>
                </div>
            </form>
        </div>
    </isc-popup-template>
</div>