﻿


#content-stores-top-row {
    margin: 0 20px 0 20px;
    height: 30px;
}

.box-content {
    margin: 10px;
}

    .box-content select, .box-content input {
        color: #333;
    }

#content-stores-dropdown {
    float: left;
    padding: 5px;
    width: 250px;
}

.content-store-user-password-reset {
    width: 460px;
}

#content-stores-add, #delete-content-store {
    float: right;
}


#content-stores-users-section {
    padding-bottom: 35px;
}

#list-of-users-add {
    float: right;
}

.list-item-wrap {
    clear: both;
    height: 20px;
}

.xconnect-list-item-info {
    color: #2d2d2c;
    float: right;
    cursor: pointer;
}

.xconnect-list-item-label {
    float: left;
    cursor: pointer;
}

#is-assigned {
    margin: 0px;
    margin-right: 5px;
    margin-top: 1px;
    float: left;
}

.xconnect-user-list-item-icon-button {
    color: #2d2d2c;
    cursor: pointer;
    /*padding: 8px;*/
    font-weight: normal;
    font-size: 15px;
    margin-left: 8px;
}

#list-item-edit, #list-item-remove {
    float: right;
}

#edit-user-area {
    position: relative;
}

    #edit-user-area a, #edit-user-area a:hover, #edit-user-area a:focus, #edit-user-area a:active, #edit-user-area a:visited {
        color: #2d2d2c;
        text-decoration: none;
    }

    #edit-user-area .callbackerror {
        background-color: #d33138;
        color: #fff;
        position: absolute;
        top: -11px;
    }


.std-content-store-backbone-form > form > div > fieldset > div {
    padding: 0;
}

    .std-content-store-backbone-form > form > div > fieldset > div > div, .edit-user-data {
        overflow: hidden;
        padding: 5px 0;
        /*border-bottom: 1px solid #bbbbbb;*/
    }

.std-content-store-backbone-form > form > div > fieldset {
    overflow: hidden;
    padding: 0;
    margin: 0;
    /*border-bottom: edit-content-store-excluded-field-types-filter1px solid #bbbbbb;*/
}

.std-content-store-dropdown {
    width: 240px !important;
    border: 1px #ccc solid;
}

.edit-user-data-row {
    padding: 5px 0;
    margin: 5px 0;
}
.edit-user-data-row i{
    margin-right: 3px;
}

.edit-user-label {
    float: left;
    width: 100px;
    color: #2d2d2c;
    padding-top: 5px;
}

#edit-user-area > div > form > div > fieldset > div > label {
    width: 100px !important;
}

.edit-content-store-label {
    display: inline-block;
    width: 180px;
    color: #2d2d2c;
    float: left;
    margin-top: 2px;
}

#api-key {
    width: 250px;
    margin-right: 15px;
    margin-bottom: 0;
}

.std-content-store-backbone-form > form > div > fieldset > div > label {
    float: left;
    width: 180px;
    padding-top: 10px;
}

.std-content-store-backbone-form input {
    width: auto;
}

    .std-content-store-backbone-form input[type=text],
    .std-content-store-backbone-form select,
    .std-content-store-backbone-form textarea,
    input[type=text].filter {
        width: 240px !important;
    }


.std-content-store-backbone-form > form > div > fieldset ul {
    /*-webkit-padding-start: 0;*/
    margin: 0;
    padding: 0;
}

/* inline checkboxes*/
.std-content-store-backbone-form > form > div > div > div > div li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 5px;
    padding: 3px;
}

    /* inline checkboxes*/
    .std-content-store-backbone-form > form > div > div > div > div li label {
        width: auto;
        float: none;
    }

    #form-container {
        margin-bottom: 15px;
    }

/*.form-container-alternative-field-background {
    background-color: #f4f4f4 !important;
}*/

/*.edit-content-store-area {
    margin-top: 70px;
    padding-bottom: 20px;

}*/

.ms-parent .selected {
    color: #333;
}

.ms-parent {
    color: #333 !important;
}


.color-picker-ctl {
    margin: 20px 0;
}

.edit-content-store-textbox {
    border: 1px #ccc solid;
    padding: 5px;
    margin: 2px;
}

.edit-content-store-pick-color {
    border: 1px #ccc solid;
    padding: 5px;
    margin: 2px;
}

    .edit-content-store-pick-color > input {
        margin: 0;
        padding: 0;
        border: 0;
        width: 70px;
        height: 20px;
        border-right: 20px solid;
        line-height: 20px;
    }

.edit-content-store-setting-wrap {
    display: inline-block;
}

.edit-content-store-setting-wrap2 {
    float: left;
    width: 100%;
    display: block;
}

.dummy-wrap {
    width: 100%;
}

#edit-content-store-logo-preview-wrap {
    background: #fafafa;
    border: solid 1px #ddd;
    padding: 5px;
    margin-bottom: 3px;
    width: 92px;
    text-align: center;
}

#edit-content-store-logo-preview {
    display: block;
}

#edit-content-store-file-upload-wrap {
    height: 25px;
    color: #2d2d2c;
}

#edit-content-store-excluded-field-types-filter {
    width: 140px !important;
    margin-bottom: 5px;
}

.edit-content-store-setting-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
}

#file-upload-spinner {
    display: none;
    margin-left: 3px;
    /*float: right;*/
}

#add-new-mapping-wrap {
    margin-top: 65px;
}

#mapping-list-wrap {
    position: absolute;
    overflow-y: auto;
    bottom: 20px;
    top: 120px;
    right: 15px;
    left: 15px;
}

#start-new-mapping {
    margin-bottom: 5px;
}

#add-new-mapping-row {
    display: none;
    margin-bottom: 10px;
}

#add-new-mapping-entitytype-dropdown {
    width: 170px;
}

#add-new-mapping-fieldtype-dropdown {
    width: 170px;
}

#add-new-mapping-value {
    width: 150px;
}

.add-new-mapping-row-col {
    display: inline-block;
}

#mapping-item-wrap {
    margin: 5px 0;
}

#mapping-item-entitytype {
    color: #999;
}

.mapping-col {
    display: inline-block;
    width: 160px;
    margin-right: 5px;
}

.mapping-col-2 {
    display: inline-block;
    width: 260px;
    white-space: nowrap;
}

#mapping-item-remove {
    color: #0071a5;
}

#mapping-item-value {
    margin-left: 10px;
    width: 140px;
}

#reset-password {
    float: left;
}

#delete-user {
    float: right;
}

#edit-content-store-mappings {
    float: left;
}

#restart-connector-wrap {
    display: inline-block;
    float: right;
    padding: 5px;
}

#restart-connector {
    color: #2d2d2c;
}

#restart-connector-spinner {
    display: none;
}

#restart-connector .std-entypo-fix-icon{
    font-size: inherit;
}