﻿<tr>
    <td class="mapping-row-input"></td>
    <td class="mapping-row-transformation"></td>
    <td><i class="mapping-row-transform-message fa" aria-hidden="true"></i></td>
    <td class="mapping-row-output"></td>
</tr>