﻿<div id="mapping-main-container">
    <div class="content-area-tools-row">
        <span class="content-area-tools" id="receiver-tool">
            Receiver:
            <select id="receiver-picker"></select>
        </span>
        <span class="content-area-tools" id="save-mapping">
            <i title="Save" class="fa fa-save row-icon-button"></i>
            Save
        </span>
    </div>
    <div id="field-type-picker"></div>
    <div id="field-type-info">
        <div id="field-type-name"></div>
        <div class="attribute-info-label" id="field-type-data-type-label">Data Type:</div>
        <div class="attribute-info-value" id="field-type-data-type"></div>
        <div class="attribute-info-label" id="field-type-mandatory-label">Mandatory:</div>
        <div class="attribute-info-value" id="field-type-mandatory"></div>
        <div class="attribute-info-label" id="field-type-unique-label">Unique:</div>
        <div class="attribute-info-value" id="field-type-unique"></div>
    </div>
    <div id="main-area">
        <table id="mapping-table">
            <tr><th>Input</th><th>Transformation</th><th></th><th id="th-output">Output</th></tr>
        </table>
    </div>
    <div id="transformation-info">
        <div id="transformation-name"></div>
        <div id="transformation-description"></div>
        <div id="transformation-return-value-label">Return Value:</div>
        <div id="transformation-return-value"></div>
        <div id="transformation-script-label">Script:</div>
        <div id="transformation-script"></div>
    </div>
    <div id="output-attribute-info">
        <div id="output-attribute-name"></div>
        <div class="attribute-info-label" id="output-attribute-required-label">Required:</div>
        <div class="attribute-info-value" id="output-attribute-required"></div>
        <div class="attribute-info-label" id="output-attribute-type-label">Type:</div>
        <div class="attribute-info-value" id="output-attribute-type"></div>
        <div class="attribute-info-label" id="output-attribute-length-label">Length:</div>
        <div class="attribute-info-value" id="output-attribute-length"></div>
        <div class="attribute-info-label" id="output-attribute-repeated-label">Repeated:</div>
        <div class="attribute-info-value" id="output-attribute-repeated"></div><br/>
        <div id="output-attribute-description"></div>
    </div>
</div>
