﻿<div class="input-control">
    <div class="input-label"></div>
    <div class="input-value-control"><input class="input-value-text" type="text"/>
    </div>
    <i class="mapping-row-input-message fa" aria-hidden="true"></i>
</div>