//-------------------------------------
//-- Store - Account Menu
//-------------------------------------

.account-menu {
	color: $nav-box-text-color;
	text-transform: none;
	white-space: normal;

	.account-title {
		@include title-styles;
	}

	.customer-menu {
		line-height: 1.4;

		a, button {
			display: inline-block;
			color: inherit;
			font-size: 13px;
			line-height: inherit;
		}

		.primary-menu {
			a, button {
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}

	//-- Queries

	@media #{bp(large down)} {
		min-height: 100%;
		background-color: $nav-box-bg-alt-color;

		.account-title {
			padding: 15px;
			border-bottom: 1px solid $border-color;
			background-color: $nav-box-bg-color;
			font-size: 18px;
		}

		.customer-infos {
			padding: 20px 15px;
			border-bottom: 1px solid $border-color;
			background-color: $nav-box-bg-color;
		}

		.customer-menu {
			a, button {
				display: block;
			}

			.primary-menu {
				padding: 12px 15px;
				background-color: $nav-box-bg-color;

				a, button {
					padding: 10px 0;
					#{$hover-selector} { color: $main-color; }
				}
			}

			.secondary-menu {
				padding: 12px 15px;
				color: $nav-box-text-alt-color;

				a, button {
					padding: 6px 0;

					#{$hover-selector} {
						color: inherit;
						text-decoration: underline;
					}
				}
			}
		}
	}

	@media #{bp(xlarge)} {
		padding: 25px 30px;

		.account-title {
			margin-bottom: 18px;
			font-size: 20px;
		}

		.account-content {
			position: relative;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 240px;
				display: block;
				width: 1px;
				height: 100%;
				background-color: $border-color;
			}
		}

		.customer-infos {
			float: left;
			width: 240px;
			padding-right: 28px;
		}

		.customer-menu {
			float: left;
			width: 200px;
			padding-left: 32px;
		}

		.primary-menu {
			display: block;
			padding-bottom: 22px;
			border-bottom: 1px solid $border-color;

			> li {
				display: block;
				padding: 10px 0;
				&:first-child { padding-top: 0; }
				&:last-child { padding-bottom: 0; }
			}

			a, button {
				@include account-menu-items;
				&::before { height: 2px; }
			}
		}

		.secondary-menu {
			display: block;
			padding-top: 22px;

			> li {
				display: block;
				padding: 5px 0;
				&:first-child { padding-top: 0; }
				&:last-child { padding-bottom: 0; }
			}

			a, button {
				font-size: 12px;
			}
		}
	}
}
