//-------------------------------------
//-- Store - Header
//-------------------------------------

.site-header {
	position: relative;
	background-color: $header-bg-color;

	$bp-header-height: 0;
	$bp-top-nav-height: 0;

	@include each-breakpoint {
		@include map-get($top-nav-height, $bp-name) { $bp-top-nav-height: $map-value; }
		@include map-get($header-height, $bp-name) { $bp-header-height: $map-value;
			.header { height: $map-value; }
		}

		@if($map-changed) {
			height: $bp-header-height + $bp-top-nav-height;
		}

		@include map-get($header-logo-height, $bp-name) {
			.header .wrapper > div.logo {
				a, img { height: $map-value; }
			}
		}
	}

	.header {
		.wrapper {
			@include site-width-styles;
			display: table;
			width: 100%;
			height: 100%;

			> div {
				display: table-cell;
				vertical-align: middle;

				&.logo {
					width: 100%;
					font-size: 0;
					text-align: center;

					a, img {
						display: inline-block;
						width: auto;
						max-width: none;
					}
				}

				&.search {
					.field { margin: 0; }
				}

			}
		}
	}

	//-- Queries

	@media #{bp(xsmall down)} {
		.header .wrapper > div.search {
			@include nav-box-styles('.search-box');

			.search-box {
				.box-wrapper {
					padding: 12px;
					box-shadow: 2px 2px 10px $shadow-color;
				}
			}
		}
	}

	@media #{bp(large down)} {
		.header .wrapper > div.menu {
			@include nav-box-styles('.menu-box');

			.menu-box {
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;

				.box-wrapper {
					overflow: hidden;
					overflow-y: visible;
					width: 250px;
					height: 100%;
					box-shadow: 0 2px 10px $shadow-color;
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					width: 100%;
					height: 100%;
					background-color: $shadow-color;
				}
			}
		}
	}

	@media #{bp(medium)} {
		.header {
			.wrapper {
				> div {
					&.logo {
						width: .1%;
					}

					&.search {
						width: .1%;
						.field { width: 250px; }
						input { border-color: $invert-color; }
					}
				}
			}
		}
	}

	@media #{bp(xlarge)} {
		box-sizing: content-box;
		padding-top: 5px;
		> * { box-sizing: border-box; }

		.header {
			border-bottom: $header-border;

			.wrapper > div.logo a {
				position: relative;
				top: -22px;
			}

		}
	}

	@media #{bp(mxlarge)} {
		.header {
			.wrapper {
				> div {
					&.search {
						.field { width: 300px; }
					}
				}
			}
		}
	}
}
