//-------------------------------------
//-- Store - Main menu
//-------------------------------------

.main-menu {

	ul { margin: 0; }

	//-- Queries

	@media #{bp(large down)} {
		display: table;
		width: 100%;
		height: 100%;

		> div {
			display: table-row;

			> div {
				display: table-cell;
				vertical-align: top;
			}

			&.main {
				font-size: 14px;
				text-transform: uppercase;
				> div { padding: 0 15px; }

				&:not(:last-child) {
					> div {
						position: relative;

						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							display: block;
							width: 100%;
							height: 1px;
							background-color: $nav-box-bg-alt-color;
						}
					}
				}

				ul li {
					padding: 10px 0;
					border-bottom: 1px solid $border-color;
				}

				a, button {
					display: block;
					padding: 10px 0;
					color: $nav-box-text-color;
					text-decoration: none;
					line-height: 1.3;

					#{$hover-selector} {
						color: $nav-box-text-active-color;
						text-decoration: none;
					}
				}
			}

			&.sub {
				background-color: $nav-box-bg-alt-color;
				color: $nav-box-text-alt-color;
				font-size: 13px;
				> div { padding: 12px 15px; }
				ul li + li { margin-top: 2px; }

				a, button {
					display: block;
					padding: 6px 0;
					color: inherit;
					text-decoration: none;
					line-height: 1.4;

					#{$hover-selector} {
						text-decoration: underline;
					}

					> span {
						display: block;
						line-height: 1.25;
						&.name { font-weight: $bold-weight; }
						&.info { font-size: 11px; }
					}
				}
			}
		}
	}

	@media #{bp(xlarge)} {
		padding: 0 32px;

		> div {
			&.main {
				text-transform: uppercase;

				ul {
					display: table;

					li {
						display: table-cell;
						vertical-align: middle;
						padding: 0 16px;
						font-size: 14px;
					}
				}

				a, button {
					border-bottom: 2px solid transparent;
					color: $invert-color;
					text-decoration: none;
					line-height: 1.3;
					transition: border-color $hover-transition $hover-easing;

					#{$hover-selector} {
						border-color: $invert-color;
						color: $invert-color;
						text-decoration: none;
					}
				}
			}

			&.sub { display: none; }
		}
	}

	@media #{bp(mxlarge)} {
		padding: 0 60px;

		> div {
			&.main ul li {
				padding: 0 25px;
			}
		}
	}

	@media #{bp(xxlarge)} {
		> div {
			&.main ul li {
				padding: 0 30px;
			}
		}
	}
}
