//-------------------------------------
//-- Store - Top nav
//-------------------------------------

.top-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $top-nav-bg-color;
	color: $top-nav-text-color;
	font-size: 13px;
	text-transform: uppercase;

	$bp-header-height: 0;
	$bp-top-nav-height: 0;

	@include each-breakpoint {
		@include map-get($header-height, $bp-name) { $bp-header-height: $map-value; }
		@include map-get($top-nav-height, $bp-name) { $bp-top-nav-height: $map-value;
			height: $map-value;
			line-height: $map-value;
			.nav-item { height: $map-value; }
		}

		@if($map-changed) {
			.account .account-box {
				@if(max-breakpoint(large)) {
					top: $bp-top-nav-height + $bp-header-height;
				} @else {
					top: $bp-top-nav-height;
				}
			}
		}

		@include map-get($top-nav-item-padding, $bp-name) {
			.wrapper {
				> div {
					&.left-nav > :first-child { margin-left: -$map-value; }
					&.right-nav > :last-child { margin-right: -$map-value; }

					@if $top-nav-bg-alt-color {
						&.user-nav {
							padding-right: $map-value / 2;
							padding-left: $map-value / 2;
						}
					}
				}

				.nav-item {
					padding-right: $map-value;
					padding-left: $map-value;

					@if $top-nav-bg-alt-color {
						&.alt {
							padding: 0 ($map-value * 1.5);
							margin: 0 ($map-value / 2);
						}
					}

					&.cart span {
						right: $map-value;
					}
				}
			}
		}
	}

	//-- Nav structure

	.wrapper {
		@include site-width-styles;
		display: table;
		width: 100%;
		height: 100%;

		> div {
			position: relative;
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			font-size: 0;
			white-space: nowrap;

			&.left-nav {
				width: .1%;
				text-align: left;
			}

			&.mid-nav {
				display: none;
				text-align: right;

				.nav-item:first-child {
					border-left: 0;
					&::after { display: none; }
				}
			}

			&.user-nav {
				text-align: right;
			}

			&.right-nav {
				width: .1%;
				text-align: right;
			}

			> .nav-wrapper {
				position: relative;
				height: 100%;
			}
		}
	}

	// Nav buttons

	.nav-item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		color: inherit;
		font-size: 13px;
		text-align: left;
		text-decoration: none;
		cursor: pointer;

		#{$hover-selector} {
			color: inherit;
			text-decoration: none;
		}

		@if $top-nav-bg-alt-color {
			&.alt {
				background-color: $top-nav-bg-alt-color;
			}
		}

		&.multiline {
			text-transform: none;

			.multiline-wrapper {
				display: block;
				height: 100%;
				line-height: 1.3;

				&::before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				.multiline-content {
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}
			}

			span {
				display: block;
				&.name { font-weight: $bold-weight; }
				&.info { font-size: 12px; }
			}
		}

		&.search, &.barcode, &.cart {
			box-sizing: content-box;
			font-size: 0;

			&::before {
				@include ico-font;
				position: relative;
				top: 50%;
				display: block;
				font-size: 16px;
				transform: translateY(-50%);
			}
		}

		&.search::before { content: $ico-search-char; }
		&.barcode::before { content: $ico-barcode-char; }

		&.cart {
			&::before {
				content: $ico-cart-char;
				margin: 1px 8px 0 0;
				font-size: 20px;
			}

			span {
				position: absolute;
				top: 50%;
				display: block;
				margin-top: -12px;
				font-size: 11px;
				font-weight: $semibold-weight;
				text-align: right;
				line-height: 0;
			}
		}

		&.menu {
			position: relative;
			box-sizing: content-box;
			width: 20px;

			.bar {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 20px;
				height: 2.5px;
				padding: 0;
				border-radius: 3px;
				margin: -1px 0 0 -9px;
				background-color: $top-nav-text-color;
				transform: rotate3d(0, 0, 1, 0deg);
				transition: margin 100ms ease-out 100ms, background-color 100ms ease-out 100ms, transform 100ms ease-out;
				&.top { margin-top: -7px; }
				&.bot { margin-top: 5px; }
			}

			&.on {
				.bar {
					transition: margin 100ms ease-out, background-color 100ms ease-out, transform 100ms ease-out 100ms;
					&.top { margin-top: -1px; transform: rotate3d(0, 0, 1, -45deg); }
					&.mid { background-color: rgba($top-nav-text-color, 0); }
					&.bot { margin-top: -1px; transform: rotate3d(0, 0, 1, 45deg); }
				}
			}
		}

		&.search, &.menu {
			overflow: hidden;
			&.on::after { opacity: 1; }
			&::after {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 50%;
				z-index: 1;
				opacity: 0;
				width: 10px;
				height: 10px;
				border-width: 1px 1px 0 0;
				border-style: solid;
				border-color: $nav-box-border-color;
				margin-left: -5px;
				background-color: $nav-box-bg-color;
				transform: rotate3d(0, 0, 1, -45deg);
				transition: opacity $nav-box-transition $nav-box-easing;
				pointer-events: none;
			}
		}

		&.user {
			position: absolute;
			top: 0;
			right: 0;
			max-width: 100%;
			padding-right: ($top-nav-user-padding * 2) + $top-nav-user-arrow-size;
			padding-left: $top-nav-user-padding;
			font-size: 12px;
			line-height: 1;

			@if $top-nav-bg-alt-color {
				background-color: $top-nav-bg-alt-color;
			}

			&::before {
				@include arrow-mixin($direction:up, $size:8px, $color:$nav-box-bg-color);
				content: '';
				position: absolute;
				right: ceil($top-nav-user-padding + ($top-nav-user-arrow-size / 2));
				bottom: 0;
				z-index: 1;
				opacity: 0;
				margin-right: -8px;
				transition: opacity $nav-box-transition $nav-box-easing;
				pointer-events: none;
			}

			.user-arrow {
				@include bg-image-mixin('ico_arrow-dropdown.svg', 'common', $inline:true, $color:$top-nav-text-color);
				position: absolute;
				top: 0;
				right: $top-nav-user-padding;
				display: block;
				width: $top-nav-user-arrow-size;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: $top-nav-user-arrow-size;
			}

			&.on {
				&::before { opacity: 1; }
				.user-arrow { transform: rotate(180deg); }
			}

			.user-wrapper {
				display: block;
				height: 100%;
				line-height: 1.3;

				&::before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				.user-content {
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}
			}

			.user-name, .user-id {
				display: block;
				overflow: hidden;
				text-transform: none;
				text-overflow: ellipsis;
			}

			.user-name {
				font-size: 13px;
				font-weight: $bold-weight;
			}
		}
	}

	//-- Account menu

	.account {
		@include nav-box-styles('.account-box');
		z-index: 3;
		font-size: 14px;
		text-align: left;
		line-height: 1.4;

		.box-wrapper {
			box-shadow: 0 2px 10px $shadow-color;
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		.nav-item {
			&.search, &.bar-scanner { display: none; }
		}
	}

	@media #{bp(large down)} {
		.account {
			.account-box {
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;

				.box-wrapper {
					float: right;
					overflow: hidden;
					overflow-y: visible;
					width: 250px;
					height: 100%;
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					width: 100%;
					height: 100%;
					background-color: $shadow-color;
				}
			}
		}
	}

	@media #{bp(xlarge)} {
		position: relative;

		.wrapper > div {
			&.mid-nav { display: table-cell; }
			&.user-nav { width: .1%;}
		}

		.nav-item {
			$top-nav-next-item-selector: '+ .nav-item';
			@if not $top-nav-bg-alt-color { $top-nav-next-item-selector: '&:first-child, + .nav-item'; }

			#{$top-nav-next-item-selector} {
				border-left: $top-nav-item-border-width $top-nav-item-border-style transparent;

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: -$top-nav-item-border-width;
					display: block;
					height: $top-nav-item-border-height;
					border-left: $top-nav-item-border-width $top-nav-item-border-style $top-nav-item-border-color;
					transform: translateY(-50%);
				}
			}

			@if $top-nav-bg-alt-color {
				&.alt {
					border-left: 0;
					background-color: $top-nav-bg-alt-color;
					&::after { display: none; }

					+ .nav-item {
						border-left: 0;
						&::after { display: none; }
					}
				}
			}

			&.menu, &.barcode { display: none; }
			&.user { position: relative; }
		}

		.account {
			position: absolute;
			right: 0;
			left: auto;
			width: 500px;

			.account-box {
				background-color: transparent;
				.box-wrapper { border-radius: $border-radius; }
			}
		}
	}
}
