﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.ContentLibrary.Pages.NewsPage

<div class="row main-row">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>