﻿<div class="">
    <h3>Create New Connector</h3>
</div>
<br />
<span class="create-connector-input">
    Name:
    <input type="text" id="connector-name" />
</span><p></p>
<div id="create-connector-types"></div>
<br /><br />
<div class="create-connector-footer">
    <button id="create-connector">Create</button>
</div>
