﻿#connector-overview-dataview, #latest-events-overview-dataview {
    display: inline-block;
    margin-top: 3px;
    width: 100%;
}

.flat-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.wpr-width-limited-container {
    margin: 0 auto 0 auto;
}

.card-text1 {
    width: 350px;
}

.card-text2 {
    width: 400px;
}

.card-text-area {
    width: 450px;
}

.connector-card-wrap {
    position: relative;
    float: left;
    width: 98%;
    color: black;
    margin: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding-bottom: 8px;
}

#create-connector-types .active {
    border: 2px solid #0071A5;
}

/* connectors.css (45, 24) */
.connector-event-wrap {
    margin-bottom:;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 5px;
    position: relative;
    float: left;
    width: 290px;
    color: black;
    margin-right: 5px;
    border: 1px solid #ccc;
}

    .connector-card-wrap:hover, .connector-event-wrap:hover {
        -webkit-box-shadow: 0 0 3px #000000;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
        -ms-box-shadow: 0 0 3px #000000;
        box-shadow: 0 0 3px #000000;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
        color: black;
    }

.connector-event-time {
    float: right;
    font-size: smaller;
}

.connector-event-connector {
    font-weight: bold;
}

.connector-event-message {
    margin: 8px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.connector-event-icon {
    float: left;
}

.connector-event-text-area-normal {
    color: #000000;
}

.connector-event-text-area-alert {
    color: #dd0000;
}

.red-icon-button {
    color: #dd4444;
    font-size: 16px;
    padding: 8px;
    font-weight: normal;
}

.green-icon-button {
    color: #99dd99;
    /*font-size: 14px;*/
    padding: 8px;
    cursor: pointer;
    font-weight: normal;
}

.connector-event-text-area-normal .control-row-icon-button {
    color: #2d2d2c !important;
    cursor: default;
}

#connector-overview-dataview .control-row-icon-button {
    color: #ccc !important;
}


#contextmenu {
    float: right;
    cursor: pointer;
}

    #contextmenu i:hover {
        color: #333;
    }

.connector-card-wrap #card-tools-container {
    width: 150px;
}

    .connector-card-wrap #card-tools-container .control-row-icon-button {
        display: inline-block;
        padding: 5px;
        width: 17px;
    }

.connector-card-wrap .card-tool-area {
    margin: 8px;
}

.backgrid tr {
    cursor: pointer;
}

.row-cursor-default tr {
    cursor: default;
}

    .backgrid tr.errorrow {
        color: #dd0000;
    }

#app-tools-container {
    right: 153px;
}

.filter-control div {
    display: inline-block;
    margin-right: 5px;
}

.filter-label {
    font-weight: bold;
    color: #2d2d2c;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
}

#filter-start-time, #filter-end-time {
    width: 120px;
}

.modal-popup-square-large #contentarea {
    margin-top: 80px;
}

fieldset textarea {
    width: 100%;
}

fieldset input {
    width: 100%;
}

/* Specific connector configuration styles */
.connector-box-content {
    margin: 10px;
}

    .connector-box-content select, .connector-box-content input {
        color: #333;
    }

.xconnect-backbone-form input[type=text],
.xconnect-backbone-form select,
.xconnect-backbone-form textarea {
    padding: 5px;
    width: 240px !important;
    border: 1px #ccc solid;
}

.xconnect-backbone-form > form > div > fieldset > div > label,
.xconnect-backbone-form label {
    float: left;
    width: 180px;
    padding-top: 5px;
}

.edit-configure-label {
    display: inline-block;
    width: 180px;
    float: left;
    margin-top: 2px;
}

#restart-connector-wrap {
    display: inline-block;
    float: right;
    padding: 5px;
}

#restart-connector {
    color: #2d2d2c;
    cursor: pointer;
}

#restart-connector-spinner {
    display: none;
}

.ms-parent .selected {
    color: #333;
}

.ms-parent {
    color: #333 !important;
}

.edit-configure-setting-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.edit-configure-setting-wrap2 {
    float: left;
    width: 100%;
    display: block;
}

.dummy-wrap {
    width: 100%;
}

.std-configure-dropdown {
    padding: 5px;
    width: 240px !important;
    border: 1px #ccc solid;
}

.edit-configure-textbox {
    border: 1px #ccc solid;
    padding: 5px;
    margin: 2px;
}

#edit-configure-excluded-field-types-filter {
    width: 140px !important;
    margin-bottom: 5px;
}

#file-upload-spinner {
    display: none;
    margin-left: 3px;
    /*float: right;*/
}

#add-new-mapping-wrap {
    margin-top: 65px;
}

#mapping-list-wrap {
    position: absolute;
    overflow-y: auto;
    bottom: 20px;
    top: 120px;
    right: 15px;
    left: 15px;
}

#start-new-mapping {
    margin-bottom: 5px;
}

#add-new-mapping-row {
    display: none;
    margin-bottom: 10px;
}

#add-new-mapping-entitytype-dropdown {
    width: 170px;
}

#add-new-mapping-fieldtype-dropdown {
    width: 170px;
}

#add-new-mapping-value {
    width: 150px;
}

.add-new-mapping-row-col {
    display: inline-block;
}

#mapping-item-wrap {
    margin: 5px 0;
}

#mapping-item-entitytype {
    color: #999;
}

.mapping-col {
    display: inline-block;
    width: 160px;
    margin-right: 5px;
}

.mapping-col-2 {
    display: inline-block;
    width: 260px;
    white-space: nowrap;
}

#mapping-item-remove {
    color: #0071a5;
}

#mapping-item-value {
    margin-left: 10px;
    width: 140px;
}

#connector-users-section {
    padding-bottom: 35px;
}

.xconnect-list-item-info {
    color: #2d2d2c;
    float: right;
}

.xconnect-list-item-label {
    float: left;
}

.xconnect-user-list-item-icon-button {
    cursor: pointer;
    /*padding: 8px;*/
    font-weight: normal;
    font-size: 15px;
    margin-left: 8px;
}

#list-item-edit, #list-item-remove {
    float: right;
}

#list-of-users-add {
    float: right;
}

.list-item-wrap {
    clear: both;
    height: 20px;
}

#edit-user-area {
    position: relative;
}
#edit-user-area a, #edit-user-area a:hover, #edit-user-area a:focus, #edit-user-area a:active, #edit-user-area a:visited {
    color: #2d2dc;
    text-decoration: none;
}
    #edit-user-area .callbackerror {
        background-color: #d33138;
        color: #fff;
        position: absolute;
        top: -11px;
    }


.xconnect-backbone-form > form > div > fieldset > div {
    padding: 0;
}

    .xconnect-backbone-form > form > div > fieldset > div > div, .edit-user-data {
        overflow: hidden;
        padding: 5px 0;
    }

.xconnect-backbone-form > form > div > fieldset {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.xconnect-store-dropdown {
    padding: 5px;
    width: 240px !important;
    border: 1px #ccc solid;
}

.edit-user-data-row {
    padding: 5px 0;
    margin: 5px 0;
}

.edit-user-label {
    float: left;
    width: 100px;
    padding-top: 5px;

}

#edit-user-area > div > form > div > fieldset > div > label {
    width: 100px !important;
}

.xconnect-backbone-form > form > div > fieldset > div > label {
    float: left;
    width: 180px;
    padding-top: 10px;
}

.xconnect-backbone-form input {
    width: auto;
}

    .xconnect-backbone-form input[type=text],
    .xconnect-backbone-form select,
    .xconnect-backbone-form textarea,
    input[type=text].filter {
        padding: 5px;
        width: 240px !important;
        border: 1px #ccc solid;
    }


.xconnect-backbone-form > form > div > fieldset ul {
    /*-webkit-padding-start: 0;*/
    margin: 0;
    padding: 0;
}

/* inline checkboxes*/
.xconnect-backbone-form > form > div > div > div > div li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 5px;
    padding: 3px;
}

    /* inline checkboxes*/
    .xconnect-backbone-form > form > div > div > div > div li label {
        width: auto;
        float: none;
    }

#reset-password, #delete-user, #generate-api-key {
    cursor: pointer;
}

#reset-password {
    float: left;
}

#delete-user {
    float: right;
}

#create-connector-types {
    overflow-y: auto;
    max-height: 300px;
}

.create-connector-footer {
    text-align: right;
}

.create-connector-footer button {
    margin-bottom: 10px;
    margin-right: 20px;
}

.create-connector-input {
    margin: 5px;
}

.create-connector-input input {
    width: 250px;
}

.border-red-top {
    border-top: solid 2px #d33138;
    padding-top: 20px;
}
