﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.UserAdministration.UserSetupPage

@Html.Zone(Model, "TopContent")

<div class="block">
    <div class="block-wrapper">
        <div class="account-grid">
            <div class="side">
                <store-my-account-menu current-page="UserListPage"></store-my-account-menu>
            </div>
            <div class="content">
                <div class="block sub group collapse">
                    <div class="block-wrapper">
                        @Html.Zone(Model, "Content")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Zone(Model, "BottomContent")