<ul class="navigation-list">
    <% _.each(items, function(item)  { %>
    <li id="navigation-item">
        <div id="navigation-item-wrap">
            <div id="navigation-item-content">
                <a href="#<%= item.route %>">
                    <span class="navigation-icon"><i class="<%= item.icon%>"></i></span>
                    <span><%= item.name %></span>
                </a>
            </div>
        </div>
    </li>
    <% }); %>
</ul>