﻿    @{
        ViewBag.Title = "Print";
    }

<style type="text/css">
    html, body, iframe {
        margin: 0 !important; /* remove any margins of the IFrame and the body tag */
        padding: 0 !important;
        height: 100% !important; /* set height 100% so that it fills the entire view port*/
    }

    iframe {
        display: block !important; /* force the iframe to display as block */
        height: 100% !important; /* assign 100% height */
        width: 100% !important;
        border: none !important;
    }

</style>
<div id="appmenu-container"></div>
    <div id="modalWindow" style="display: none"></div>

    <div id="container" style="height: 100%; margin-top: 65px;">
        <iframe src="~/admin/print/profile.aspx"></iframe>
    </div>

    <div class="clearfix"></div>
    <footer></footer>
    <script data-main="../../Scripts/print/js/main" src="~/Scripts/libs/require/require.js"></script>