﻿
.relation-container, .pictures-container {
    margin-top: 5px;
}

.relation-section-wrap, .pictures-section-wrap, .relation-sub-section-wrap {
    padding-top: 10px;
    clear: both;
    margin-left: 20px;
   /* width: 350px;*/
    position: relative; 
}

.relation-section-title {
    color: #2d2d2c;
    line-height: 30px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    font-size: 14px;
    background-color: #ffffff;
}
.relation-sub-section-title {
    color: #2d2d2c;
    line-height: 30px;
    margin-bottom: 10px;
    /*font-family: 'Quicksand-Regular';*/
    letter-spacing: -1px;
    font-size: 14px;
}

.relation-section-title-text,.relation-sub-section-title-text {
    margin-left: 4px;
    margin-right: 6px;
    float: left; 
}

.relation-completeness-area {
    position: absolute;
    display: inline-block;
    float: right;
    bottom: 10px;
    right: 10px;
    text-align: center;
    width: 40px;
}

.relation-text {
    font-weight: normal;
    font-size: small;
    padding-top: 2px;
    padding-left: 3px;
    margin-bottom: 3px;
    color: black !important;
    width: 300px;
     -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.relation-picture-area {
    display: inline-block;
    float: left;
    width: 100% /* So drag*/
}

.relation-picture-frame {
    /*float: left;*/
    /*  border: 1px solid #eeeeee; */
    background-color: #ffffff;
    padding: 4px;
    width: 40px;
    height: 40px;
}

.relation-picture {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.relation-wrap {
    position: relative;
    width: 400px;
    height: 50px;
    /* background: #eee; */
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.relation-text-area {
    /*display: inline-block;*/
      position: absolute;
    display: inline-block;
    float: left;
    width: 320px;
    overflow: hidden;
    margin-left: 5px;
    bottom: 20px;
    left: 50px;
}

.relation-completeness-area {
    position: absolute;
    display: inline-block;
    float: right;
    bottom: 10px;
    right: 10px;
    text-align: center;
    width: 32px;
}

.relation-text-area > span {
    width: 100%;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#relation-completeness-text {
    padding-top: 3px;
    padding-left: 3px;
    font-size: x-small;
    color: #999;
    cursor: pointer;
}

#relation-completeness-text:hover {
        text-decoration: underline;
    }

.relation-tool-area {
    position: absolute;
    top: 2px;
    right: 10px;
}

.completenesslevel_low, .completenesslevel_medium, .completenesslevel_done {
    border: 1px solid;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}

.completenesslevel_low {
    border-color: red;
}

.completenesslevel_medium {
    border-color: orange;
}

.completenesslevel_done {
    border-color: yellowgreen;
}

.showLinkTypes {
    display: inline;
}

.relation-inactive img, .relation-inactive .card-text1, .relation-inactive .card-text2, .relation-inactive .card-picture, .relation-inactive .card-text2-large, .relation-inactive .pie { 
    opacity: 0.5;
}

/** These classes are used for event wire up. Do not remove //DBI **/
.relation-remove {
    
}

.relation-activate {
    
}

.relation-inactivate {
}


.relation-section-container-active {
    border: 1px dashed #bbbbbb;
    border-top-style: dashed;
    width: 284px;
    min-height: 68px !important;
    padding-top: 10px;
    left: -20px;
    padding-left: 20px;
}

#nodebox .relation-section-container-active {
    width: inherit;
    display: inline-block; 
}

.relation-sub-section-container-active {
    border: 1px dotted #cccccc;
    border-top-style: dashed;
    width: 284px;
    min-height: 68px; 
    padding-top: 10px; 
}

.relation-wrap #card-tools-container
{
    width: 150px;

}

.relation-dropable-hover {
   /*  border: 2px solid #666666;
    //background-color: #999999;
    //color: #ffffff;
       */

}

.relation-section-wrap .card-wrap {
    float: none; 
}



.droppable-empty {
    padding-top: 0; 
    height: 0px;
    overflow: hidden; 
}


.relation-section-container-active .droppable-empty {
    padding-top: auto; 
    height: auto;
    overflow: visible; 
   
}

.relation-section-wrap #contextmenu, #subcontextmenu {
    float: right;
}
.relation-section-wrap #contextmenu #tools, #subcontextmenu #tools{
    line-height: 20px;
    font-size: 14px;
   
}


.relation-section-title > .showLinkTypes, .relation-sub-section-title > .showLinkTypes {
    float: left;
    margin-right: 5px; 
}
.relation-section-title > #contextmenu,.relation-sub-section-title > #contextmenu {
    float: left;
    display: inline; 
}
.relation-section-title > #contextmenu .card-tools,.relation-sub-section-title > #contextmenu .card-tools {
    float: none;
    color: inherit;
    padding-top: 0; 

}
#relation-section-container, #relation-sub-section-container {
    display: block;
    clear: both; 
}


.relation-section-title #card-tools-container, .relation-sub-section-title #card-tools-container {
    right: auto;
    color: #999999; 
}
.channel-wrap {
    display: inline-block; 
}

.dropplaceholder {
    display: none; 
}

.relation-section-container-active .dropplaceholder, .relation-sub-section-container-active .dropplaceholder {
    display: block; 
}
.dropplaceholder .card-placeholder span {
    margin-top: 32px;
    margin-left: 20px;
    color: #999999;
    position: absolute; 
}

.dropplaceholder .card-placeholder {
    background-color: white; 
}
 
#nodebox .relation-section-container-active {
    min-height: 220px !important;
   
}