﻿@using System.Globalization @* do not remove, resharper thinks it isn't needed but CultureInfo needs it*@
@using System.Web.Optimization
@using Insite.Core.Providers
@using Insite.IdentityServer.Options
@using Insite.WebFramework
@using Insite.WebFramework.Mvc.Extensions
@using Insite.Common.Dependencies
@using Insite.Common.Extensions
@using Insite.ContentLibrary.Pages
@using Insite.ContentLibrary.SystemSettings
@using Insite.Core.Context
@using Insite.Core.SystemSetting
@using Insite.GeocoderProvider.Google
@using Insite.PunchOut.HttpHandlers.Interfaces
@using Insite.SystemResources
@using Insite.WebFramework.Extensions
@using Insite.WebFramework.Theming
@using StackExchange.Profiling
@using Header = Insite.ContentLibrary.Pages.Header
<!DOCTYPE html>
<html class="" lang="en" data-isCustomErrorEnabled="@Html.IsCustomErrorEnabled()">
<head>
    @{
        var themeBundleCollection = DependencyLocator.Current.GetInstance<IThemeBundler>().GetForCurrentWebsite();
        var page = (IPage)Model;
        if (page is TemplatePage)
        {
            page = CurrentPage;
        }

        var hasPunchOutSession = DependencyLocator.Current.GetInstance<ICurrentPunchOutSessionProvider>().HasPunchOutSession();
    }

    <title>@Html.PageTitle(page)</title>
    @if (!SiteContext.Current.WebsiteDto.WebsiteFavicon.IsBlank())
    {
        <link rel="icon" href="@($"{SiteContext.Current.WebsiteDto.WebsiteFavicon}?t={SiteContext.Current.WebsiteDto.ModifiedOn.Ticks}")" type="image/x-icon" />
        <link rel="apple-touch-icon image_src" href="@($"{SiteContext.Current.WebsiteDto.WebsiteFavicon}?t={SiteContext.Current.WebsiteDto.ModifiedOn.Ticks}")">
        <!--[if IE]><link rel="shortcut icon" href="@($"{SiteContext.Current.WebsiteDto.WebsiteFavicon}?t={SiteContext.Current.WebsiteDto.ModifiedOn.Ticks}")"/><![endif]-->
    }
    <meta name="keywords" content="@page.MetaKeywords" />
    <meta name="description" content="@page.MetaDescription" />
    @if (page.DisallowInRobotsTxt)
    {
        <meta name="robots" content="noindex" />
    }
    @if (!page.CanonicalUrl.IsBlank())
    {
        <link rel="canonical" href="@page.CanonicalUrl"/>
    }
    @if (!page.PreviousUrl.IsBlank())
    {
        <link rel="prev" href="@page.PreviousUrl" />
    }
    @if (!page.NextUrl.IsBlank())
    {
        <link rel="next" href="@page.NextUrl" />
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

    @foreach (var themeBundle in themeBundleCollection.StyleBundles)
    {
        if (themeBundle.BundlePath != null)
        {
            @Styles.Render(themeBundle.BundlePath)
        }
        else
        {
            foreach (var file in themeBundle.ResourcePaths)
            {
                <link href="@file" rel="stylesheet" />
            }
        }
    }
    @Styles.Render(BundleConfig.InContextStyleBundlePath)

    <base href="/">

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    @{
        var analyticsSettings = SettingsGroupProvider.Current.Get<AnalyticsSettings>();
        var isGoogleTrackerEnabled = analyticsSettings.GoogleTrackedDomains.Split(',').Any(o => o.EqualsIgnoreCase(this.Request.ActualUrl().Host));
    }
    @if (isGoogleTrackerEnabled)
    {
        <script>
            dataLayer = [{
                'Authentication State': '@(SiteContext.Current.UserProfile != null ? "Logged In" : "Not Logged In")',
                'User ID': '@(SiteContext.Current.UserProfile != null ? SiteContext.Current.UserProfile.Id.ToString() : string.Empty)'
            }];
        </script>
        if (analyticsSettings.GoogleTrackingType == GoogleTrackingTypes.GoogleAnalytics)
        {
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)})
                (window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                ga('create', '@analyticsSettings.GoogleTrackingAccountId', 'auto');
                ga('send', 'pageview');
            </script>
        }
    }

    @if (hasPunchOutSession && HttpContext.Current.User != null)
    {
        @* New punchout sessions only do server side auth so add the client token on the first page view *@
        var token = Insite.IdentityServer.Factory.GetJsonWebTokenSafe(HttpContext.Current.User, SecurityOptions.IssuerUri);
        if (!token.IsBlank())
        {
            <text>
                <script type="text/javascript">
                    if (!window.localStorage.getItem("accessToken")) {
                        window.localStorage.setItem("accessToken", "@token");
                    }
                </script>
            </text>
        }
    }

    @helper RenderScripts(IList<ThemeBundle> themeBundles)
    {
        foreach (var themeBundle in themeBundles)
        {
            if (themeBundle.BundlePath != null)
            {
                @Scripts.Render(themeBundle.BundlePath)
            }
            else
            {
                foreach (var file in themeBundle.ResourcePaths)
                {
                    <script src="@file"></script>
                }
            }
        }
    }

    <script>
        var insite = insite || {};
        insite.hideHeader = true;
        insite.hideFooter = true;
    </script>

    @RenderScripts(themeBundleCollection.ScriptHeadBundles)
</head>
<body ng-app="insite" ng-strict-di>
    @RenderScripts(themeBundleCollection.ScriptBodyStartBundles)
    @if (isGoogleTrackerEnabled && analyticsSettings.GoogleTrackingType == GoogleTrackingTypes.GoogleTagManager)
    {
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=@analyticsSettings.GoogleTrackingAccountId" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window, document, 'script', 'dataLayer', '@analyticsSettings.GoogleTrackingAccountId');
        </script>
    }
    @{
        var themePreview = DependencyLocator.Current.GetInstance<IThemePreviewService>().GetCurrentThemePreview();
        const string ShowCompilerOutputCookieName = "ThemePreview_ShowCompilerOutput";
    }
    @if (themePreview != null)
    {
        @Html.Partial("~/SystemResources/Views/Shared/ThemePreviewBar.cshtml", themePreview)
    }
    <div style="display: none;" class="cms-shell-controls @(themePreview != null ? "preview-bar-displayed"  : string.Empty)">
        <button data-bind="click: $root.ToggleShell"><span class="cms-control-decoration"></span></button><span class="cms-control-label"></span>
    </div>
    @{
        var compiledWithErrors = themePreview != null && (!themePreview.ScriptCompilerOutput.IsBlank() || !themePreview.StyleCompilerOutput.IsBlank());
    }
    @if (themePreview != null && Request.Cookies[ShowCompilerOutputCookieName].Value == "true")
    {
        <div id="compiler-output-background"></div>
    }
    <div ng-controller="LayoutController as vm">
        <div id="narrowNav"></div>
        <div id="nwrap">
            <div class="off-canvas panelwrap" role="panel-wrap">
                @if (!(page is Header) && !(page is Footer) && (ViewBag.HideHeaderAndFooter == null || !ViewBag.HideHeaderAndFooter))
                {
                    <div ng-hide="vm.hideHeader()">
                        @Html.Action("Header", "Layout")
                    </div>
                }

                <div class="container" role="main">
                    <div class="ui-lock"></div>
                    <div class="cms-rearrangeable" ui-view></div>
                    @* first page serverside for SEO - this must be outside ui-view or the controller will be called twice *@
                    <div class="cms-rearrangeable" ng-if="firstPage">
                        @RenderBody()
                    </div>
                    <isc-spinner show="false" name="mainLayout"></isc-spinner>
                </div>
                @if (!(page is Header) && !(page is Footer) && (ViewBag.HideHeaderAndFooter == null || !ViewBag.HideHeaderAndFooter))
                {
                    <div ng-hide="vm.hideFooter()">
                        @Html.Action("Footer", "Layout")
                    </div>
                }
            </div>
            <div data-dropdown="dummy" style="display:none"></div> @* fixes popups with foundation + angular *@
        </div>
        @if (themePreview != null && Request.Cookies[ShowCompilerOutputCookieName].Value == "true")
        {
            Response.Cookies[ShowCompilerOutputCookieName].Value = "false";
            <div id="compiler-output" class="@(compiledWithErrors ? "compilation-fail" : "compilation-success")">
                <p class="compiler-output-title">
                    <span class="compiler-output-title__fail">Compilation Errors Found</span>
                    <span class="compiler-output-title__success">Files compiled without errors.</span>
                </p>

                @{ var compilerOutput = string.Empty; }
                @if (!themePreview.ScriptCompilerOutput.IsBlank())
                {
                    compilerOutput += "Script Compiler Output:\n" + Environment.NewLine;
                    compilerOutput += themePreview.ScriptCompilerOutput;
                }
                @if (!themePreview.StyleCompilerOutput.IsBlank())
                {
                    compilerOutput += "Style Compiler Output:" + Environment.NewLine;
                    compilerOutput += themePreview.StyleCompilerOutput;
                }

@*Don't align next html*@
<textarea id="compiler-output-textarea" readonly>
@compilerOutput
</textarea>

                <div class="compiler-output-buttons">
                    <button onclick="closeCompilerModal()">Close</button>
                    <button class="download-compilation-log" onclick="downloadCompilerLog()">Download Log</button>
                </div>
            </div>
            <script type="text/javascript">
                function downloadCompilerLog() {
                    var link = document.createElement("a");
                    var text = document.getElementById("compiler-output-textarea").value.replace(/\n/g, '\r\n');
                    link.setAttribute("href", "data:text/plain;base64," + window.btoa(text));
                    link.setAttribute("download", "compilationLog.txt");

                    link.style.display = "none";
                    document.body.appendChild(link);
                    link.click();

                    document.body.removeChild(link);
                    closeCompilerModal();
                }
                function closeCompilerModal() {
                    var compilerModal = document.getElementById("compiler-output");
                    compilerModal.style.display = "none";
                    var compilerBackground = document.getElementById("compiler-output-background");
                    compilerBackground.style.display = "none";
                }
            </script>

            <script>
                // if minification of a js bundle fails, we can't guarantee that jquery or anything else will be loaded. So this is done here
                // with vanilla js
                var checkBundles = function() {
                    @{
                        var bundlePaths = themeBundleCollection.StyleBundles.Select(o => o.BundlePath)
                            .Concat(themeBundleCollection.ScriptHeadBundles.Select(o => o.BundlePath))
                            .Concat(themeBundleCollection.ScriptBodyStartBundles.Select(o => o.BundlePath))
                            .Concat(themeBundleCollection.ScriptBodyEndBundles.Select(o => o.BundlePath));
                    }

                    var urls = ["@Html.Raw(string.Join("\", \"", bundlePaths.Select(o => o?.TrimStart('~')).ToArray()))"];
                    var finishedUrls = 0;
                    var badUrls = [];

                    var checkForFinished = function() {
                        if (finishedUrls !== urls.length || badUrls.length === 0) {
                            return;
                        }

                        var minificationFailedElement = document.getElementById("minification-failed");
                        minificationFailedElement.removeAttribute("style");
                        minificationFailedElement.onclick = function () {
                            alert("Minification failed for one or more bundles. View the console in your browser to see more information.");
                        };
                        console.log("Minification failed for the following bundle(s). Please view the link to see more information about why it failed. \n\n" + badUrls.join("\n"));
                    }

                    for (var x = 0; x < urls.length; x++) {
                        var xhr = new XMLHttpRequest();
                        xhr.open("GET", urls[x]);
                        xhr.send(null);
                        xhr.onreadystatechange = function () {
                            if (this.readyState === 4 && this.status === 200) {
                                finishedUrls++;
                                if (this.responseText.indexOf("/* Minification failed.") === 0) {
                                    badUrls.push(this.responseURL);
                                }
                                checkForFinished();
                            }
                        };
                    }
                }();
            </script>
        }
        <script type="text/javascript">
            var insite = insite || {};
        </script>
        @RenderScripts(themeBundleCollection.ScriptBodyEndBundles)
        @Scripts.Render(BundleConfig.InContextScriptBundlePath)

        <script>
            var lodash = _.noConflict();
        </script>

        @{
            var currentLanguage = SiteContext.Current.LanguageDto;
            var localizationCode = currentLanguage.CultureCode.IsBlank() ? currentLanguage.LanguageCode : currentLanguage.CultureCode;
        }

        @Html.RequireScriptIfItExists(Url.ThemedContent("/Scripts/Libraries/angular-i18n/1.3.15/angular-locale_" + localizationCode + ".js"))
        @Html.RequireScriptIfItExists(Url.ThemedContent("/Scripts/Libraries/pickadate/3.5.0-custom/translations/" + localizationCode.Replace("-", "_") + ".js"))

        @{
            var googleApiKey = SettingsGroupProvider.Current.Get<GoogleMapsApiSettings>().GoogleApiKey;
            <script src="//maps.googleapis.com/maps/api/js?libraries=weather,visualization&language=en&v=3.27@(!string.IsNullOrWhiteSpace(googleApiKey) ? "&key=" + googleApiKey : "")"></script>
            <script src="/SystemResources/Scripts/Libraries/richMarker/0.0.0/richmarker.js"></script>
        }

        <script type="text/javascript">
            insite.core.signInUrl = "@(Url.ContentPage<Insite.Account.Content.SignInPage>())";
            insite.core.generalErrorText = "@MessageProvider.Current.General_Error";
            insite.core.dateTimeFormat = "@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern";
            var insiteMicrositeUriPrefix = "";
            var insiteBasicAuthHeader = "@Html.Raw(SecurityOptions.ClientId + ":" + SecurityOptions.ClientSecret)";
            var insiteScope = "@SecurityOptions.Scope";
            @if (!SiteContext.Current.Microsite.IsBlank())
            {
                <text>
                insiteMicrositeUriPrefix = "/@SiteContext.Current.Microsite";
                </text>
            }
            @if (hasPunchOutSession)
            {
                <text>insite.core.setupPunchoutKeepAlive();</text>
            }
            else
            {
                <text>insite.core.checkForIFrame();</text>
            }

            $(window).load(function () {
                insite.core.setup();
                insite.responsive.setup();
                insite.nav.setup();
            });
        </script>

        @MiniProfiler.RenderIncludes()

        @Html.RenderDeferredScripts()

        @RenderSection("AfterBodyContent", false)
    </div>
    <script type="text/ng-template" id="/PartialViews/Core-Pager">
        [% partialView 'Core-Pager' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-UnitOfMeasureSelectList">
        [% partialView 'Catalog-UnitOfMeasureSelectList' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-UnitOfMeasureDisplay">
        [% partialView 'Catalog-UnitOfMeasureDisplay' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-AvailabilityMessage">
        [% partialView 'Catalog-AvailabilityMessage' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-ProductThumb">
        [% partialView 'Catalog-ProductThumb' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-ProductName">
        [% partialView 'Catalog-ProductName' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-ProductPrice">
        [% partialView 'Catalog-ProductPrice' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-BreadCrumb">
        [% partialView 'Catalog-BreadCrumb' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-QuantityBreakPricing">
        [% partialView 'Catalog-QuantityBreakPricing' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Catalog-SortedAttributeValueList">
        [% partialView 'Catalog-SortedAttributeValueList' %]
    </script>
    <script type="text/ng-template" id="/PartialViews/Core-Spinner">
        [% partialView 'Core-Spinner' %]
    </script>
    @if (Request.QueryString["ShowStats"] == "true")
    {
        <script>
            (function () { var a = document.createElement("script"); a.src = "https://rawgithub.com/kentcdodds/ng-stats/master/dist/ng-stats.js"; a.onload = function () { window.showAngularStats({ position: "topright" }) }; document.head.appendChild(a) })();
        </script>
    }
</body>
<!-- @HttpContext.Current.Server.MachineName -->
<!-- @Html.ProductName() -->
<!-- Persona: @ContentContextProvider.CurrentPersona.Name -->
</html>