﻿<div class="card-section-wrap" id="<%= sectionId %>">
    <div class="card-section-title">
       
        <div class="showEntityTypes" id="<%= sectionId %>-show">
            <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display:none"></i>
        </div>
        <span class="card-section-title-text"><%= sectionName %> (<%= entitytypecount %>)</span>
    </div>
    <div class="card-section-container">
    </div>
</div>