﻿<div class="quicksearchbox">
    <button id="edit-query" title="Query Editor"><i class="fa fa-search-plus"></i></button>
    <input type="text" id="quicksearchquery" class="quicksearch" name="quicksearchquery" placeholder="Search">
    <i class="fa fa-play-circle" id="quicksearch"></i>
</div>