﻿<div class="quicksearchbox">
    <span id="edit-query" title="Query Editor"><i class="fa fa-search-plus"></i></span>
    <input type="text" id="workareasearchquery" class="quicksearch" name="workareasearchquery" placeholder="Search">
    <i class="fa fa-play-circle" id="workareasearch"></i>
</div>