﻿
<div id="search-result-container" class="search-result-full">
    <div class="workarea-header">

        <div id="workarea-search-container"></div>
        <div id="search-result-query">

        </div>
        <div class="workareatools">
            <div id="contextmenu" class="row-icon-button"></div>
            <span id="closeworkarea" class="row-icon-button" title="Close Workarea"><i class="fa fa-times"></i> <span class="workarea-tool-text">Close</span></span>
            <span id="clearWorkarea" class="row-icon-button" title="Clear Workarea"><i class="fa fa-eraser"></i> <span class="workarea-tool-text">Clear</span></span>
            <span id="addworkarea" class="row-icon-button" title="Add a second Workarea"><i class="fa fa-columns"></i> <span class="workarea-tool-text">Split</span></span>
            <span id="switchworkarea" class="row-icon-button" title="Switch place on Workareas"><i class="fa fa-exchange"></i> <span class="workarea-tool-text">Switch</span></span>
            <span id="activeworkarea" class="row-icon-button" title="Switch place on Workareas"><i class="fa fa-square-o"></i> <span class="workarea-tool-text">Active</span></span>
            <span id="toggleView" class="row-icon-button" title="Switch to table view"><i class="fa fa-list"></i> <span class="workarea-tool-text" id="toggleViewText">Table view</span></span>
            <span id="fieldsIncludedInTable" class="row-icon-button" title="Include fields in table view"><i class="fa fa-square-o"></i> <span class="workarea-tool-text">Include fields</span></span>
        </div>
        <div id="workarea-multiselect-control">
        </div>
    </div>

    <div>
        <div id="main-client-area">
            <div id="cards-container">
            </div>

            <div id="loading">
                <img src="/Images/nine-squares-48x48.gif" />
                <div><h2>Loading data</h2></div>
            </div>
        </div>
    </div>
</div>
<div id="workarea-header-container">
    <div id="workarea-header" class="workarea-header-horisontal">
        <div id="workarea-header-label" class="workarea-header-label-horisontal" title="">
            <span></span>
        </div>
    </div>
    <div>
        <i id="workarea-header-toggle-button" class="fa fa-angle-left fa-lg" title="Collapse"></i>
    </div>
</div>

<div id="savedworkarea" class="savedworkarea">

</div>
<div id="savedialog" style="display:none">
    <h3>Save Workarea</h3>
    <div class="querydialog-content">
        <span>Select a node to store the Workarea</span>
        <div id="work-area-save-tree"></div>
        <span>
            Name:
            <input type="text" id="workareaname" />
        </span>
    </div>
    <div>
        <span id="closeSavingWorkarea" class="row-icon-button workarea-action-button" title="Close popup">
            <i class="fa fa-close"></i>
            <span class="workarea-tool-text">Close</span>
        </span>
        <span id="saveWorkarea" class="row-icon-button workarea-action-button" title="Save workarea">
            <i class="fa fa-save"></i>
            <span class="workarea-tool-text">Save</span>
        </span>
        <span id="updateWorkarea" class="row-icon-button workarea-action-button" style="display: none" title="Update current">
            <i class="fa fa-refresh"></i>
            <span class="workarea-tool-text">Update</span>
        </span>
    </div>
    <br/>
    <br />
</div>

