﻿<div class="popup-header-row">
    <span class="popup-header-text">
        <span class="popup-header">
            Export to Excel
        </span>
    </span>
    <span id="main-header-buttons">
        <span class="fa fa-times control-row-icon-button" title="Close popup window" id="close-icon"></span>
    </span>
</div>


<div id="contentwrapper">
    <div id="main-client-area" class="modal-fixed-details query-editor-modal">
        <div id="excelExport">
            <div>
                <div class="workarea-excelexport-control-container">
                    <div class="workarea-configuration-container">
                        <div class="title-workarea-excelexport">Open Saved Export:</div>
                        <div id="export-configuration-export-control-container"></div>
                        <div id="remove-confiugration-container">
                            <span id="removeConfiguration" class="row-icon-button" title="Delete Configuration"><i class="fa fa-trash-o"></i></span>
                        </div>
                    </div>
                </div>

                <div class="workarea-excelexport-control-container">
                    <div>
                        <div class="title-workarea-excelexport">Select Entity Type:</div>
                        <div id="type-excel-export-control-container"></div>
                    </div>
                    <div id="workarea-first-fieldset-container"></div>
                    <div>
                        <div class="title-workarea-excelexport">Select Fields:</div>
                        <div id="select-fields-excel-export-control-container"></div>
                    </div>

                    <div>
                        <div class="title-workarea-excelexport">Select Languages:</div>
                        <div id="language-excel-export-control-container"></div>
                    </div>
                </div>

                <div class="workarea-excelexport-control-container">
                    <div>
                        <div class="title-workarea-excelexport">Select Additional Entity Type:</div>
                        <div id="include-data-excel-export-control-container"></div>
                    </div>
                    <div id="workarea-second-fieldset-container"></div>
                    <div>
                        <div class="title-workarea-excelexport">Select Fields:</div>
                        <div id="included-fields-excel-export-control-container"></div>
                    </div>
                </div>
                <div class="workarea-excelexport-control-container">
                    <div class="workarea-excel-export-buttons">
                        <button id="excel-export">Export</button>
                        <button id="excel-export-save-configuration">Save Configuration</button>
                        
                        <div id="excel-loading-spinner-container">
                            <img src="/Images/nine-squares-32x32.gif" />
                            <div><h2>Exporting excel data</h2></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="savedialog" class="configurationdialog" style="display:none">
            <h3>Save Configuration</h3>
            <div id="work-area-selection"></div>
            <span>
                Export Name:
                <input type="text" id="configurationname" />
            </span>
            <br /><br />
            <button id="saveconfiguration">Save</button>
            <button id="cancelconfiguration">Cancel</button>
        </div>
    </div>
</div>
