//-------------------------------------
//-- Checkout - Cart
//-------------------------------------

.block.cart {
	.title-link {
		float: right;
		margin: -35px 0 20px;
		font-size: 14px;
		line-height: 1;
		letter-spacing: $large-letter-spacing;

		&::after {
			@include ico-font($ico-arrow-right-char);
			display: inline-block;
			margin-left: 3px;
			font-size: 8px;
		}

		+ * {
			clear: both;
			margin-top: 0;
		}
	}

	.cart-empty {
		@include spacing-styles($map:$side-spacing, $type:padding, $side:(right left));
		@include spacing-styles($map:$side-spacing, $type:margin, $side:(right left), $multiple:-1);
		padding-top: 18px;
		border-top: 1px solid $border-dark-color;
	}

	.cart-buttons {
		display: none;
		margin: 30px 0;
		&:last-child { margin-bottom: 0; }
	}

	//-- Queries

	@media #{bp(medium down)} {
		&:not(.is-empty) {
			margin-bottom: 0;
		}
	}

	@media #{bp(large)} {
		border-top: 0;
		.title-link { display: none; }
		.cart-buttons { display: block; }

		.cart-empty {
			padding-top: 0;
			border-top: 0;
		}

		.button {
			&.save-order, &.clear-cart { display: none; }
		}
	}

	@media #{bp(xxlarge)} {
		.cart-buttons { margin: 35px 0; }
	}
}
