//-------------------------------------
//-- Checkout - Configuration
//-------------------------------------

//-- Mixins

@import 'components/checkout/styles/mixins';

//-- Order items

$order-items-image-width: (
	small: 100px,
	xsmall: 130px
) !default;

$order-items-name-font-size: (
	small: 13px,
	xlarge: 15px,
	mxlarge: 13px
) !default;

$order-items-total-height: 31px !default;
