//-------------------------------------
//-- Checkout - Mixins
//-------------------------------------

@mixin checkout-price-note {
	color: $text-light-color;
	font-size: 12px;
	font-style: italic;
}
