//-------------------------------------
//-- Checkout - Order Grid
//-------------------------------------

.order-grid {
	@include spacing-styles($map:$side-spacing, $type:margin, $side:(right left), $multiple:-1, $max-bp:medium);

	> div {
		&.order {
			@include spacing-styles($map:$side-spacing, $type:padding, $side:(right left), $max-bp:medium);
			@include spacing-styles($map:$gutter-spacing, $type:padding, $side:(right), $min-bp:large);

			.order-subtitle {
				@include subtitle-styles;
				margin-bottom: .5em;
			}

			.order-items {
				@include spacing-styles($map:$side-spacing, $type:margin, $side:(right left), $multiple:-1, $max-bp:medium);
			}
		}

		&.summary {
			@include spacing-styles($map:$side-spacing, $type:padding, $side:(right left), $max-bp:medium);
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: $bg-alt-color;
			font-size: 14px;

			.summary-title {
				@include subtitle-styles;
				padding-bottom: 12px;
				border-bottom: 1px solid $border-dark-color;
				margin: 0;
				+ .order-total { border-top: 0; }
			}

			.summary-content {
				margin: 20px 0;

				.summary-content-title {
					margin: 0 0 3px;
					font-size: 16px;
					font-weight: $bold-weight;

					a, button {
						float: right;
						margin-top: 3px;
						font-size: 12px;
						font-weight: normal;
					}
				}
			}

			.summary-terms {
				text-align: center;

				+ .summary-footer {
					padding-top: 0;
					border-top: 0;
					margin-top: 24px;
				}
			}

			.summary-footer {
				padding-top: 24px;
				padding-bottom: 6px;
				border-top: 1px solid $border-dark-color;
				margin-top: 30px;
				font-size: 16px;
				text-align: center;

				.summary-footer-title {
					@include title-styles;
					margin-bottom: 3px;
					font-size: 24px;

					&::before {
						@include ico-font($ico-phone-char);
						position: relative;
						top: 1px;
						margin-right: 5px;
						font-size: 19px;
					}
				}
			}
		}
	}

	//-- Queries

	@media #{bp(medium down)} {
		.order-items .order-items-list { border-bottom: 0; }
		.order-items-footer { display: none; }
	}

	@media #{bp(large)} {
		display: table;
		width: 100%;
		margin: 0;

		> div {
			display: table-cell;
			vertical-align: top;

			&.order {
				padding-left: 0;
				.order-items { margin: 0; }
			}

			&.summary {
				width: 310px;
				padding: 20px;
			}
		}
	}
}
