//-------------------------------------
//-- Checkout - Order Items Footer
//-------------------------------------

.order-items-footer {
	display: table;
	overflow: hidden;
	width: 100%;
	margin-top: 8px;
	color: $text-light-color;
	font-size: 12px;
	line-height: 1.2;

	.count {
		display: table-cell;
		font-weight: $semibold-weight;
	}

	.actions {
		display: table-cell;
		text-align: right;
		letter-spacing: $large-letter-spacing;

		li {
			display: inline-block;

			&::before {
				content: '|';
				display: inline-block;
				margin: 0 5px;
				color: $border-color;
			}

			&:first-child::before { display: none; }
		}
	}
}
