//-------------------------------------
//-- Checkout - Order Total
//-------------------------------------

.order-total {
	width: 100%;
	border: 0;
	border-top: 1px solid $border-dark-color;
	margin: 0;
	font-size: 14px;
	line-height: 1.25;

	.label {
		vertical-align: top;
		text-align: left;
	}

	.value {
		vertical-align: bottom;
		width: 75px;
		text-align: right;
	}

	em {
		display: block;
		font-size: 12px;
	}

	tr {
		&:nth-of-type(n) { background-color: transparent; }
		&:last-child td { padding-bottom: 0; }

		td {
			padding: 4px 0;
			border: 0;
			line-height: inherit;
		}

		&.count {
			border-bottom: 1px solid $border-dark-color;
			font-weight: $bold-weight;
			&:first-child td, td { padding: 9px 0; }
			&:first-child + tr td { padding-top: 20px; }
		}

		&.total {
			font-size: 22px;
			font-weight: $black-weight;
			line-height: 1;
			td { padding-top: 10px; }

			.note {
				position: relative;
				top: -5px;
				font-size: 16px;
			}
		}

		&.note {
			@include checkout-price-note;
			td { padding-top: 0; }
		}

		&:first-child td { padding-top: 20px; }
	}
}
