//-------------------------------------
//-- Checkout - Order steps
//-------------------------------------

.block.order-steps {

	//-- Queries

	@media #{bp(medium down)} {
		margin-bottom: 0;

		.block.title {
			.wrapper {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
}
