//-------------------------------------
//-- Checkout - Order edit
//-------------------------------------

.block.order-edit {
	$bp-gutter-spacing: 0;

	@include each-breakpoint {
		@include map-get($gutter-spacing, $bp-name) { $bp-gutter-spacing: $map-value; }
		@if(($map-changed or $bp-name == large) and min-breakpoint(large)) {
			.order-edit-grid > div { border-width: 0 $bp-gutter-spacing 0 0; }
		}

		@include map-get($side-spacing, $bp-name) {
			@if (max-breakpoint(medium)) {
				.order-edit-grid { margin: 0 (-$map-value); }
				.order-items { margin: 0 (-$map-value); }

				.section {
					padding-right: $map-value;
					padding-left: $map-value;
				}
			}
		}
	}

	.order-edit-grid > div {
		background-color: $bg-color;
		&.side { background-color: $bg-alt-color; }

		> table {
			width: 100%;
			height: 100%;

			> tbody > tr {
				> td {
					padding: 0;
					border-bottom: 20px solid $bg-color;
				}

				&:last-child > td { border: 0; }
			}
		}
	}

	.section {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 20px solid $bg-color;
		background-color: $bg-alt-color;
		&:last-child { border-bottom: 0; }

		.section-title {
			@include subtitle-styles;
			margin-bottom: .5em;
		}

		&.cart {
			padding-bottom: 0;
			background-color: transparent;
		}
	}

	//-- Queries

	@media #{bp(medium down)} {
		.block-wrapper { padding-bottom: 0; }
	}

	@media #{bp(large)} {
		.order-edit-grid {
			display: table;
			width: 100%;
			height: 1px;
			margin: 0;

			> div {
				display: table-cell;
				vertical-align: top;
				box-sizing: content-box;
				height: 100%;
				border-style: solid;
				border-color: $bg-color;
				&:last-child { border-right: 0; }
				&.side { width: 310px; }
			}
		}

		.section {
			box-sizing: border-box;
			padding: 20px;
			&.cart { padding: 0; }
		}

		.order-items { margin: 0; }
	}
}
