//-------------------------------------
//-- Checkout - Order review
//-------------------------------------

.block.order-review {

	.order-review-actions {
		margin-top: 0;
	}

	//-- Queries

	@media #{bp(medium down)} {
		.block-wrapper { padding-bottom: 0; }
	}
}
