//-------------------------------------
//-- Checkout - Order Items
//-------------------------------------

.order-items {
	font-size: 13px;
	line-height: 1.25;

	//-- Breakpoints

	@include each-breakpoint {
		@if (max-breakpoint(xlarge)) {
			@include map-get($order-items-image-width, $bp-name) {
				.order-items-list tbody tr.order-item-detail td {
					margin-left: $map-value;
					&.order-item-visual { width: $map-value; }
					&.order-item-total .wrapper > span.label { width: $map-value; }
				}
			}
		}

		@if (max-breakpoint(medium)) {
			@include map-get($side-spacing, $bp-name) {
				.order-items-list tbody tr.order-item-detail {
					padding-right: $map-value;
					padding-left: $map-value;

					td.order-item-total {
						padding-right: $map-value;
						padding-left: $map-value;
					}
				}

				.order-items-total tr td {
					&.label { padding-left: $map-value; }
					&.value { padding-right: $map-value; }
				}

				&.offset {
					margin-right: -$map-value;
					margin-left: -$map-value;
				}
			}
		}

		@include map-get($order-items-name-font-size, $bp-name) {
			.order-items-list tbody tr.order-item-detail {
				td.order-item-name .name { font-size: $map-value; }
			}
		}
	}

	//-- Styles

	.order-items-list {
		display: block;
		border-bottom: 1px solid $border-dark-color;

		tr { display: block; }
		th, td {
			display: block;
			padding: 0 0 0 20px;
		}

		thead { display: none; }

		tbody {
			position: relative;
			display: block;
			padding-bottom: $order-items-total-height;
			border-width: 1px 0 0;
			border-style: solid;
			border-color: $border-dark-color;

			tr {
				&.order-item-msg {
					td { padding: 0; }
					.msg { margin: 1px 0 0; }
				}

				&.order-item-detail {
					@include clearfix;
					padding-top: 20px;
					padding-bottom: 18px;

					td {
						&.order-item-visual {
							float: left;
							padding-left: 0;
							margin-left: 0;

							.image { @include product-image-styles($ratio: 100%); }
						}

						&.order-item-name {
							.name {
								display: inline-block;
								margin: 1px 0 0;
								color: $text-color;
								font-weight: $semibold-weight;
								text-transform: uppercase;
							}

							a.name {
								#{$hover-selector} {
									text-decoration: underline;
								}
							}

							.info {
								margin-top: 8px;
								color: $text-light-color;
								font-size: 12px;
								font-weight: $normal-weight;
								line-height: 1.3;

								.label {
									display: block;
									font-weight: $bold-weight;
									&.inline { display: inline; }
								}

								.value { text-transform: uppercase; }
							}
						}

						&.order-item-status {
							margin-top: 6px;
							white-space: nowrap;
						}

						&.order-item-quantity {
							margin-top: 10px;
							margin-bottom: 10px;
							.price .unit { font-size: 12px; }
						}

						&.order-item-price {
							margin-top: 8px;
							font-size: 14px;
							white-space: nowrap;

							.product-price {
								line-height: inherit;
								.price-saving { display: none; }
								.price {
									font-weight: $semibold-weight;
									.base { display: none; }
									.unit { font-size: 12px; }
								}
							}
						}

						&.order-item-total {
							position: absolute;
							right: 0;
							bottom: 0;
							left: 0;
							height: $order-items-total-height;
							border-top: 1px solid $border-color;
							margin: 0;
							font-size: 12px;

							.wrapper {
								display: table;
								width: 100%;
								height: 100%;

								> span {
									display: table-cell;
									vertical-align: middle;

									&.label {
										text-align: right;
										letter-spacing: $large-letter-spacing;
									}

									&.value {
										padding-left: 20px;
										font-size: 16px;
										font-weight: $black-weight;
									}

									&.action {
										font-weight: $normal-weight;
										text-align: right;
										letter-spacing: $large-letter-spacing;

										a, button {
											+ a, + button {
												margin-left: 10px;
											}
										}
									}
								}
							}
						}
					}

					&.no-price {
						td {
							&.order-item-quantity { margin-bottom: 2px; }
							&.order-item-price { display: none; }
						}
					}
				}
			}
		}

		tfoot { display: none; }
	}

	.order-items-total {
		width: 100%;
		margin-top: 12px;
		white-space: nowrap;

		tr {
			td {
				padding: 3px 0;

				&.value {
					padding-left: 30px;
					text-align: right;
				}
			}

			&.total {
				font-size: 18px;
				font-weight: $black-weight;
			}

			&.note {
				@include checkout-price-note;
				td { padding-top: 0; }
			}

			&:last-child td { padding-bottom: 0; }
		}
	}

	//-- Queries

	@media #{bp(large)} {
		.order-items-list {
			tbody tr.order-item-detail {
				padding-right: 0;
				padding-left: 0;

				td.order-item-total {
					padding-right: 0;
					padding-left: 0;
				}
			}
		}

		.order-items-total tr td {
			&.label { padding-left: 0; }
			&.value { padding-right: 0; }
		}

		&.offset {
			margin-right: 0;
			margin-left: 0;
		}
	}

	@media #{bp(mxlarge)} {
		font-size: 14px;

		.order-items-list {
			display: table;
			width: 100%;
			border-color: $border-color;
			font-weight: $semibold-weight;

			tr {
				display: table-row;
				padding: 0;
			}

			th, td {
				display: table-cell;
				padding: 15px 10px;

				&:first-child { padding-left: 0; }
				&:last-child { padding-right: 0; }
			}

			thead {
				display: table-header-group;
				border-bottom: 1px solid $border-dark-color;
				white-space: nowrap;

				th {
					padding: 0 10px 5px;
					font-size: 14px;
					font-weight: $bold-weight;
					letter-spacing: $large-letter-spacing;
					&:first-child { padding-left: 0; }
					&:last-child { padding-right: 0; }
				}
			}

			tbody {
				display: table-row-group;
				padding: 0;
				border-color: $border-color;

				tr {
					&.order-item-detail {
						&::before, &::after { display: none; }

						td {
							padding: 15px 10px;
							margin: 0;

							&.order-item-visual {
								float: none;
								width: 75px;
								padding-right: 0;
								.product-image { width: 75px; }
							}

							&.order-item-name { text-align: left; }

							&.order-item-quantity {
								.product-quantity { font-size: inherit; }
								.qty-label { display: none; }

								&.right .product-quantity {
									float: right;
								}
							}

							&.order-item-price { font-size: inherit; }

							&.order-item-total {
								position: relative;
								width: .1%;
								height: auto;
								padding-left: 10px;
								border: 0;
								white-space: nowrap;

								.wrapper > span {
									&.label { display: none; }
									&.value { padding-left: 0; }
									&.action {
										padding-left: 20px;

										a, button {
											float: right;

											+ a, + button {
												margin-top: 8px;
												margin-left: 0;
											}
										}
									}
								}
							}
						}

						&.no-price {
							td {
								&.order-item-price { display: table-cell; }
								&.order-item-total .value { display: table-cell; }
							}
						}
					}
				}
			}
		}

		.order-items-total {
			tr::before {
				content: '';
				display: table-cell;
				width: 100%;
			}
		}
	}
}
