﻿<div class="side-account-menu" ng-show="vm.isAuthenticated">
    <h2 class="side-account-menu-title">[% translate 'My Account' %]</h2>
    <ul class="primary-menu">
        <li><a ng-class="{ 'on' : vm.currentPage == 'MyAccountPage' }" href="[% urlForPage 'MyAccountPage' %]">[% translate 'Dashboard' %]</a></li>
        <li><a ng-class="{ 'on' : vm.currentPage == 'OrdersPage' }" href="[% urlForPage 'OrdersPage' %]">[% translate 'Order History' %]</a></li>
        <li><a ng-class="{ 'on' : vm.currentPage == 'OrderUploadPage' }" href="[% urlForPage 'OrderUploadPage' %]">[% translate 'Order Upload' %]</a></li>
        <li><a ng-class="{ 'on' : vm.currentPage == 'WishListPage' }" href="[% urlForPage 'WishListPage' %]">[% translate 'Wishlists' %]</a></li>
        <li ng-if="vm.isAdministrator"><a ng-class="{ 'on' : vm.currentPage == 'UserListPage' }" href="[% urlForPage 'UserListPage' %]">[% translate 'User Administration' %]</a></li>
    </ul>

    <ul class="secondary-menu">
        <li><a ng-class="{ 'on' : vm.currentPage == 'ChangeAccountPasswordPage' }" href="[% urlForPage 'ChangeAccountPasswordPage' %]">[% translate 'Change password' %]</a></li>
        <li ng-if="vm.collectiveSettings.paymentGatewayUrl"><a href="{{vm.collectiveSettings.paymentGatewayUrl}}" target="_blank">[% translate 'Payment Gateway' %]</a></li>
        <li><button type="button" ng-click="vm.signOut('[% urlForPage 'HomePage' %]')">[% translate 'Sign Out' %]</button></li>
    </ul>
</div>
