﻿#syndicate-workarea-contentwrapper{
    position: absolute;
    bottom: 10px;
    top: 70px;
    left: 14px;
    right: 14px;
    overflow: auto;
}

.syndicate-workarea-buttons {
    padding: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.syndicate-workarea-action-button {
    margin-left: 20px;
    float: right;
    cursor: pointer;
}

.syndicate-workarea-control-container {
    padding: 10px;
    position: relative;
}

.syndicate-workarea-control-container li.selected {
    color: #333333;   
}

.syndicate-workarea-content-title {
    width: 100px;
    color: black;
    display: inline-block;
    float: left;
}

.syndicate-workarea-wide-title {
    color: black;
    display: inline-block;
    padding: 10px;
}
