﻿<div id="start-main-container">

    <div class="start-section-col">
        <div id="notifications" class="start-section-box">
            <div class="box-title">
                <!--<span class="icon-entypo-fix-bell std-entypo-fix-icon box-title-icon"></span>My notifications-->
                <span class="fa fa-bell-o box-title-icon"></span>My Notifications
            </div>
            <div class="white-box">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>
        </div>
        <div id="my-work-area-folders" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-folder std-entypo-fix-icon box-title-icon"></span>Workareas
            </div>
            <div id="work-area-content">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>

            </div>
        </div>
       

    </div>
    <div class="start-section-col">

        <div id="starred-entities" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-star std-entypo-fix-icon box-title-icon"></span>My Starred Entities
            </div>
            <div id="starred-entities-content">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>   
        </div>

    </div>
    <div class="start-section-col">
        <!--<div id="drop-zone-box" class="start-section-box">
            <div id="dropzone-container">
                <span class="icon-entypo-fix-picture std-entypo-fix-icon box-title-icon"></span>Upload resources
            </div>
        </div>-->

        <div id="mytask" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-clipboard std-entypo-fix-icon box-title-icon"></span>Tasks Assigned To Me
            </div>
            <div class="white-box">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>
        </div>
        <div id="createdtask" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-clipboard std-entypo-fix-icon box-title-icon"></span>Tasks Created By Me
            </div>
            <div class="white-box">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>
        </div>
        <div id="groupstasks" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-clipboard std-entypo-fix-icon box-title-icon"></span>My Groups Tasks
            </div>
            <div class="white-box">
                <div class="loadingspinner">
                    <img src="/Images/nine-squares-32x32.gif" />
                </div>
            </div>
        </div>

    </div>
</div>
