﻿<div>
    <div class="entity-header-wrapper">
        <span class="image"><a href="<%=data.fileUrl%>" target="_blank"> <div class="imagewrapper"><img src="<%=data.imgUrl%>" style="max-height:120px; max-width:120px" /></div></a></span>
        <div class="entity-header-data">
            <img class="supplier-card-entity-icon" src="../icon?id=<%= data.entityTypeId %>" title="<%= data.entityTypeId %>" /> <%= data.name %><br />
        </div>
    </div>

    <% if (data.fields && data.fields.length){ %>
    <div class="supplier-pending-fields-header">Data</div>
    <% _.each(data.fields, function(field){ %>
    <div class="supplier-pending-field-changes">
        <div class="supplier-pending-field-type"><%=window.appHelper.fieldTypeMap[field.fieldType].get("displayname")%></div>
        <% _.each(field.valueMap, function(value, key){ %>
        <div class="supplier-pending-language"><%=window.appHelper.languageMap[key]%></div>
        <div class="supplier-pending-value-container">
            <div class="supplier-pending-data-header-value">New value:</div><div title="<%=value%>" class="supplier-pending-value"><%=value%></div>
        </div>
        <%}) %>
    </div>
    <%}) %>
    <%} %>

    <% if (data.specificationFields && data.specificationFields.length){ %>
    <div class="supplier-pending-fields-header">Specification</div>
    <% _.each(data.specificationFields, function(field){ %>
    <div class="supplier-pending-field-change">
        <div class="supplier-pending-field-type"><%=field.name%></div>
        <% _.each(field.valueMap, function(value, key){ %>
        <div class="supplier-pending-language"><%=window.appHelper.languageMap[key]%></div>
        <div class="supplier-pending-value-container">
            <div class="supplier-pending-data-header-value">New value:</div><div title="<%=value%>" class="supplier-pending-value"><%=value%></div>
        </div>
        <%}) %>
    </div>
    <%}) %>
    <%} %>
</div>