﻿<div>
    <div class="entity" id="card-<%= data.entityId%>">
        <span class="image"><a href="<%=data.fileUrl%>" target="_blank"> <div class="imagewrapper"><img src="<%=data.imgUrl%>" style="max-height:120px; max-width:120px" /></div></a></span>
        <img class="supplier-card-entity-icon" src="../icon?id=<%= data.entityTypeId %>" title="<%= data.entityTypeId %>" />
        <div class="supplier-card-entity-name"><%= data.name %></div>

        <span title="View Details" class="row-icon-button query-action-button" id="history-view-details">
            <i class="fa fa-list-alt"></i>
            <span class="workarea-tool-text">View Details</span>
        </span>
    </div>
</div>


