﻿<div class='box-content' id="xconnect-pending-list-wrap">
    <div id="items-status-text"></div>
    <div id="items-list-wrap">
        <table id="items-list" class="fill-horizontally"></table>
    </div>
    <div id="items-paginator-area">
        <span id="items-paginator-area-mid">
            <button id="items-paginator-area-previous-page-button" class="paging-button"><</button>
            <span id="items-paginator-area-page-buttons-container">
            </span>
            <button id="items-paginator-area-next-page-button" class="paging-button">></button>
        </span>
    </div>
</div>
