﻿      <td class="xconnect-pending-item-date" title="<%=model.name%>"><%=model.importedText%></td>
      
      <% if(supplier){%>
        <td class="xconnect-pending-item-supplier-name" title="<%=supplier.name%>"><%=supplier.name%></td> 
      <% }%>
      
      <td class="xconnect-pending-item-name" title="<%=model.name%>"><%=model.name%></td>      
      <td id="open-item-in-workarea" title="View entities in Workarea" data-link-id="" class="fa fa-folder-open xconnect-user-list-item-icon-button"></td>
      <td id="delete-imported-hisitory" title="Delete import history" class="fa fa-trash xconnect-user-list-item-icon-button"></td>
      <td class="xconnect-pending-item-by" title="<%=model.uploadedByName%>"><%=model.uploadedByName%></td>
      <td class="xconnect-pending-item-count" title="Count of Imported entities: <%=model.countImportedEntities%>">(<%=model.countImportedEntities%>)</td>