﻿<div class="content">
    <div id="loading">
        <img src="/Images/nine-squares-48x48.gif" />
        <div><h2>Start importing entities</h2></div>
    </div>
    <div class="upload-details">
        <span title="Delete from history" class="row-icon-button query-action-button" id="delete">
            <i class="fa fa-trash"></i>
            <span class="workarea-tool-text">Delete from history</span>
        </span>

        <div> <div class="upload-info-row-key">Upload name</div><div class="upload-info-row-value"><%=model.name%></div></div>
        <div> <div class="upload-info-row-key">Uploaded by</div><div class="upload-info-row-value"><%=model.uploadedByName%></div></div>
        <div> <div class="upload-info-row-key">Uploaded</div><div class="upload-info-row-value"><%=model.uploadedText%></div></div>
        <div><div class="upload-info-row-key">Imported by</div><div class="upload-info-row-value"><%=model.importedBy%></div></div>
        <div><div class="upload-info-row-key">Imported</div><div class="upload-info-row-value"><%=model.importedText%></div></div>
        <div style="float:right"> </div>
    </div>

    <div id="history-cardarea"></div>
    <div id="history-detailarea"></div>
</div>
