﻿<ul id="<%= resource.ResourceFileId %>" class="download-menu ui-menu ui-widget ui-widget-content" style="display:none">

    <%if(resource.DownloadConfigurations.length == 0){%>

    <li class="Original"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=Original">Original</a></li>

    <%}else{%>

        <% _.each(resource.DownloadConfigurations, function(config){ %>
        <li class="<%=config %> ui-menu-item"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=<%= config %>"><%= config %></a></li>
        <% }); %>

    <%}%>
</ul>