﻿{% if CurrentPage.Title != '' %}
    <div class="block title [[Model.CssClass]]">
        <div class="block-wrapper">
            <div class="wrapper">
                <div class="sub-wrapper">
                    <h1 class="title">[[CurrentPage.Title]]</h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}