//-------------------------------------
//-- Dealer - Locator
//-------------------------------------

.dealer-locator {
	.dealers {
		width: 100%;
		margin-top: 20px;

		.status {
			vertical-align: top;
			padding-bottom: 10px;

			.count {
				float: right;
				color: $text-light-color;
				font-size: 14px;
			}

			.distance-unit {
				position: relative;
				float: left;
				overflow: hidden;
				text-transform: uppercase;
			}
		}

		.list {
			position: relative;
			overflow: hidden;

			.list-wrapper {
				margin: -1px 0 0 -1px;

				.dealer {
					padding: 1px 0 0 1px;

					.dealer-wrapper {
						padding: 18px 15px 15px;
						background-color: $bg-alt-color;
						.marker { float: left; }
						.user-info { margin-left: 55px; }
					}
				}
			}
		}

		.pager .pagination { text-align: center; }
	}

	.map {
		height: $dealer-locator-map-height;
		max-height: 90vh;
		margin-top: 20px;
		map { height: 100%; }

		.info-window {
			overflow: hidden;
			font-family: $text-font;
			cursor: auto;
		}
	}

	.dealer-distance {
		margin-top: 2px;
		font-size: 11px;
		font-weight: $bold-weight;
		font-style: italic;
	}

	.marker {
		position: relative;
		display: block;
		overflow: hidden;
		width: 40px;
		height: 62px;
		font-family: $text-font;
		font-size: 60px;
		line-height: 1;
		cursor: pointer;

		span {
			position: absolute;
			top: 7px;
			left: 50%;
			display: block;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: $white;
			font-size: 13px;
			font-weight: $black-weight;
			text-align: center;
			line-height: 24px;
			transform: translateX(-50%);
		}

		&::before {
			@include ico-font($ico-marker-char);
			position: absolute;
			top: 50%;
			left: 50%;
			color: $main-color;
			text-shadow: 1px 1px 0 $text-shadow-color;
			transform: translate3d(-50%, -50%, 0);
		}

		&.home {
			&::before { color: $alt-color; }

			span::before {
				@include ico-font($ico-star-char);
				color: $alt-color;
				font-size: 16px;
				line-height: inherit;
			}
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		.dealers {
			.list {
				.list-wrapper {
					@include clearfix;

					.dealer {
						float: left;
						width: 50%;
					}
				}
			}
		}
	}

	@media #{bp(large)} {
		.dealers {
			height: $dealer-locator-map-height;
			max-height: 90vh;

			.list {
				.list-scroller {
					position: relative;
					overflow-x: hidden;
					height: 100%;
				}

				.list-wrapper {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;

					.dealer {
						float: none;
						width: 100%;
					}
				}
			}
		}
	}

}
