﻿/*#market-main-container {
    position: absolute;
    top: 55px; /* Header Height 
    bottom: 20px; /*Footer Height 
    width: 100%;
}*/

#market-planner-table-container {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    overflow: auto;
    bottom: 5px;
    top: 60px;
    right: 15px;
    left: 15px;
}

.market-control-row-tab-area {
    display: inline;
    float: left;
    position: absolute;
    right: 15px;
    left: 15px;
    /*top: 40px;*/
    background: #aaaaaa;
}

.market-control-row-tab-button {
    /*position: absolute;*/
    bottom: 0;
    padding: 10px 15px 6px 15px;
    float: left;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #eeeeee;
    font-weight: bold;
}

    .market-control-row-tab-button:hover {
        border-bottom: 4px solid #0071A5;
    }

.market-control-row-tab-icon {
    margin-bottom: 7px;
    text-align: center;
}

.market-control-row-tab-button-active {
    border-bottom: 4px solid #eeeeee;
}

.market-control-row-action-button {
    /*position: absolute;*/
    bottom: 0;
    padding: 10px 15px 6px 15px;
    float: right;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #eeeeee;
    font-weight: bold;
}

.control-row-icon-button {
    padding: 0;
}

#loading-spinner-container {
    z-index: 99;
}