﻿<div id="api-error" class="reveal modal" data-reveal data-reveal-init>
    <div class="modal-wrapper">
        <h4 class="modal-title">[% siteMessage 'Core_ApiError' %]</h4>
        <div class="modal-content editable row" ng-bind-html="vm.errorMessage"></div>
        <button id="genericPopupCloseButton" class="modal-close" data-close></button>
    </div>
</div>