<div class="pager" ng-class="{'bottom' : vm.bottom, 'top' : !vm.bottom, 'sorting' : !vm.bottom && vm.pagination.sortOptions != null}" ng-show="vm.showPager()">
    <div class="pager-wrapper">
        <div class="sort-by" ng-if="!vm.bottom && vm.pagination.sortOptions != null">
            <div class="field flat">
                <label>[% translate 'Sort by' %]:</label>
                <select class="small"
                    ng-model="vm.pagination.sortType"
                    ng-options="option.sortType as option.displayName for option in vm.pagination.sortOptions"
                    ng-change="vm.updateSortOrder()">
                </select>
            </div>
        </div>
        <div class="per-page" ng-if="vm.showPerPage()">
            <div class="field flat">
                <label>[% translate 'Per page' %]:</label>
                <select class="small"
                    ng-model="vm.pagination.pageSize"
                    ng-options="pageSizeOption for pageSizeOption in vm.pagination.pageSizeOptions.slice(0,2)"
                    ng-change="vm.updatePageSize()">
                </select>
            </div>
        </div>
        <div class="pagination" ng-if="vm.showPagination()">
            <button type="button" ng-click="vm.prevPage()" class="prev" ng-disabled="vm.pagination.page == 1"></button>
            <span class="current">
                <input type="number" ng-model="vm.pagination.page" isc-enter="vm.pageInput()" ng-blur="vm.pageInput()" class="small" /> [% translate 'of_pager' %] {{vm.pagination.numberOfPages}}
            </span>
            <button type="button" ng-click="vm.nextPage()" class="next" ng-disabled="vm.pagination.page == vm.pagination.numberOfPages"></button>
        </div>
    </div>
</div>