<div id="{{containerId}}" class="reveal modal" data-reveal>
    <div class="modal-wrapper">
        <h4 class="modal-title" ng-if="title">{{title}}</h4>
        <div class="modal-content row" ng-class="{'editable':editable != false}" ng-transclude></div>
        <button type="button" class="modal-close" data-close></button>
        <isc-spinner show="false" name="{{containerId}}"></isc-spinner>
    </div>
</div>