﻿<span class="content-loader" ng-show="vm.show">
    <div class="overlay" ng-if="vm.size != 'inline' && !vm.replace"></div>
    <div class="spinner" ng-class="{ 'content-area': vm.size == 'fullContent', 'inline': vm.size == 'inline'}" ng-if="!vm.replace"></div>
    <span ng-transclude></span>
</span>