﻿<div id="template-printing-setup-wrap">
    <section id="settings-section">
        <fieldset>
            <span>Language</span>
            <select id="language"></select>
        </fieldset>
    </section>
    <section id="template-section">
        <fieldset id="main-template-fieldset">
            <span>Template</span>
            <select id="main-template"></select>
        </fieldset>
    </section>
    <div id="buttons">
        <% if(mode === "pdf") %> <button id="create-pdf" class="std-button">Create</button>
        <% if(mode === "preview") %> <button id="show-preview" class="std-button">Show Preview</button>
        <!--<button id="cancel" class="std-button">Cancel</button>-->
    </div>
</div>