﻿<div class="block group collapse" ng-controller="SelectCustomerController as vm" ng-cloak
    home-page-url="[% urlForPage 'HomePage' %]"
    dashboard-url="[% urlForPage 'MyAccountPage' %]"
    addresses-url="[% urlForPage 'MyAccountAddressPage' %]"
    checkout-address-url="[% urlForPage 'CheckoutAddressPage' %]"
    review-and-pay-url="[% urlForPage 'ReviewAndPayPage' %]"
    cart-url="[% urlForPage 'CartPage' %]">

    <div class="block-wrapper">
        <div class="block">
            <div class="block-wrapper">
                <div class="msg error" ng-if="vm.errorMessage">{{vm.errorMessage}}</div>
                <div ng-show="vm.hasBillTos">
                    <table class="table full" data-table="bill-to">
                        <thead>
                            <tr>
                                <th class="select-cursor"></th>
                                <th class="narrow"> <span class="radio hidden"></span> </th>
                                <th class="narrow">[% translate 'Store_SelectCustomer_BillToId' %]</th>
                                <th>[% translate 'Store_Customer' %]</th>
                                <th>[% translate 'Store_Address' %]</th>
                                <th>[% translate 'Store_Address2' %]</th>
                                <th>[% translate 'Store_City' %]</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="block editable">
            <div class="block-wrapper">
                <h2>[% translate 'Store_SelectCustomer_SelectShipTo' %]</h2>
                <p class="msg success" ng-show="vm.hasShipTos && vm.shipToIsBillingAddress">[% translate 'Store_SelectCustomer_UsingBillingAddress' %]</p>
                <p class="msg alert" ng-show="!vm.hasShipTos && !vm.noShipToAndCantCreate && !vm.shipToIsBillingAddress">[% translate 'Store_SelectCustomer_SelectCustomerFirst' %]</p>
                <p class="msg error" ng-show="vm.noShipToAndCantCreate">[% translate 'Store_SelectCustomer_NoShipToAndCantCreate' %]</p>
                <div ng-show="vm.hasShipTos && !vm.noShipToAndCantCreate && !vm.shipToIsBillingAddress">
                    <table class="table full" data-table="ship-to">
                        <thead>
                            <tr>
                                <th class="select-cursor"></th>
                                <th class="narrow"><span class="radio hidden"></span></th>
                                <th class="narrow">[% translate 'Store_SelectCustomer_ShipToId' %]</th>
                                <th>[% translate 'Store_Customer' %]</th>
                                <th>[% translate 'Store_Address' %]</th>
                                <th>[% translate 'Store_Address2' %]</th>
                                <th>[% translate 'Store_City' %]</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="block" ng-if="vm.shipTo">
            <div class="block-wrapper">
                <div class="row text-spacing-xsmall">
                    <div class="column xsmall-6 xlarge-5">
                        <div class="user-info caps">
                            <h3 class="user-info-title">[% translate 'Location' %]</h3>
                            <store-customers-address-summary address="vm.location"></store-customers-address-summary>
                            <ul class="user-info-actions">
                                <li><button type="button" ng-click="vm.openLocationEdit()">[% translate 'Edit' %]</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column xsmall-6 xlarge-5">
                        <div class="user-info caps">
                            <h3 class="user-info-title">[% translate 'My Store' %]</h3>
                            <div class="user-info-content">
                                <store-customers-address-summary address="vm.location.warehouse"></store-customers-address-summary>
                            </div>
                            <ul class="user-info-actions">
                                <li><button type="button" ng-click="vm.openWarehouseSelect()">[% translate 'Edit' %]</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <isc-popup-template container-id="location-edit" title="[% translate 'Edit Location' %]">
                <store-customers-address-edit prefix="location-edit-" address="vm.locationEdit" countries="vm.countries" address-fields="vm.locationAddressFields" save="vm.saveLocationEdit()"></store-customers-address-edit>
            </isc-popup-template>
            <isc-popup-template container-id="warehouse-select" title="[% translate 'Edit My Store' %]">
                <div class="table-overflow">
                    <table class="table full">
                        <tbody>
                            <tr>
                                <th>[% translate 'Name' %]</th>
                                <th class="show-for-medium">[% translate 'Address' %]</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="warehouse in vm.warehouses" ng-class="{'highlight':vm.location && vm.location.warehouse.name === warehouse.name}">
                                <td ng-bind="warehouse.displayName"></td>
                                <td class="show-for-medium">
                                    <span ng-if="warehouse.address1 || warehouse.address2 || warehouse.city || warehouse.state">
                                        <span ng-if="warehouse.address1">{{warehouse.address1}}</span><span ng-if="warehouse.address2">, {{warehouse.address2}}</span><span ng-if="warehouse.city">, {{warehouse.city}}</span><span ng-if="warehouse.state">, {{warehouse.state}}</span><span ng-if="warehouse.postalCode"> {{warehouse.postalCode}}</span>
                                    </span>
                                </td>
                                <td>
                                    <a ng-click="vm.selectWarehouse(warehouse)" ng-if="!(vm.location && vm.location.warehouse.name === warehouse.name)">[% translate 'Store_MakeThisMyStore' %]</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </isc-popup-template>
        </div>

        <div class="block">
            <div class="block-wrapper">
                <div class="button-group spaced">
                    <button type="button" class="button" ng-click="vm.setCustomer()" ng-class="{ disabled: !vm.billTo || !vm.shipTo }">[% translate 'Continue' %]</button>
                    <button type="button" class="button other" ng-click="vm.cancel()">[% translate 'Cancel' %]</button>
                </div>
            </div>
        </div>
    </div>
</div>
