<div ng-controller="QuoteDetailsController as vm" ng-cloak>
    <div ng-show="vm.quote">
        <h1 class="page-title [[Model.CssClass]]" ng-switch on="vm.quote.isJobQuote">
            <span ng-switch-when="true">[[CurrentPage.TitleForJobQuote]]</span>
            <span ng-switch-when="false">[[CurrentPage.TitleForSalesQuote]]</span>
            <span ng-switch-default>&nbsp;</span>
        </h1>

        <isc-quote-detail-header quote="vm.quote"></isc-quote-detail-header>

        [% if Model.SalespersonsCount > 0 -%]
        <div class="row quoted-items">
            <div class="medium-12 large-12 columns">
                <div class="btns btns-top">
                    <span ng-show="vm.quote.isEditable">
                        <a href="javascript:;" ng-show="vm.quote.calculationMethods.length > 0" class="btn secondary btn-quote-all" data-reveal-id="orderCalculator" role="button">
                            <i class="icon-calculator"></i>[% translate 'Quote All' %]
                        </a>
                        <div id="orderCalculator" class="ma-quote-details reveal-modal popup-quote-all" data-reveal data-reveal-init>
                            <div class="modal-wrap">
                                <p class="messaging">[% siteMessage 'Rfq_QuoteOrderHeader' %]</p>
                                <form novalidate id="rfqApplyOrderQuoteForm">
                                    <div class="row calc-disc">
                                        <div class="small-7 columns col-1">
                                            <select id="tst_quoteOrderCalculator_method" ng-model="vm.calculationMethod" ng-change="vm.changeCalculationMethod()" ng-options="method.displayName for method in vm.quote.calculationMethods track by method.name"></select>
                                        </div>
                                        <div class="small-5 columns col-2">
                                            <input id="tst_quoteOrderCalculator_percent" type="text" class="numerictextbox isc-percent" autofocus="autofocus"
                                                   ng-model="vm.percent"
                                                   name="percent"
                                                   data-rule-required="true"
                                                   data-msg-required="{{'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'Percent' EscapeSingleQuotes %]')}}"
                                                   data-rule-max="{{ 0 < vm.maximumDiscount ? (vm.maximumDiscount * 1) : 'false'}}"
                                                   data-msg-max="[% siteMessage 'Rfq_InvalidPrice' %]"
                                                   data-rule-min="{{vm.calculationMethod.minimumMargin}}"
                                                   data-msg-min="[% siteMessage 'Rfq_InvalidPrice' %]" />
                                            <span>%</span>
                                        </div>
                                    </div>
                                    <div class="btns">
                                        <button id="tst_quoteOrderCalculator_apply" ng-click="vm.applyQuote()" class="btn primary btn-apply-quote isc-applyToOrder" type="button">[% translate 'Apply Quote' %]</button>
                                        <button id="tst_quoteOrderCalculator_close" ng-click="vm.closeModal('#orderCalculator')" class="btn secondary btn-cancel isc-cancelOrderQuote" type="button">[% translate 'Cancel' %]</button>
                                    </div>

                                    <div id="rfqApplyOrderQuoteFormError" class="validation-summary-errors" style="display: none"></div>
                                </form>
                            </div>
                        </div>
                    </span>
                </div>
                <table class="info-tbl">
                    <thead>
                        <tr>
                            <th class="col-item">[% translate 'Item' %]</th>
                            <th class="col-qtyreq">[% translate 'QTY Req.' %]</th>
                            <th class="col-um">[% translate 'U/M' %]</th>
                            <th class="col-qty">[% translate 'QTY' %]</th>
                            <th class="col-price">[% translate 'Price' %]</th>
                            <th ng-show="vm.quote.isEditable" class="col-quote"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-orderlineid="quoteLine.id" ng-repeat="quoteLine in vm.quote.quoteLineCollection">
                            <td class="col-item">
                                <div class="item-name">
                                    <a ng-href="{{quoteLine.productUri}}">
                                        <span ng-bind="quoteLine.shortDescription"></span>
                                        <span ng-if="!quoteLine.isFixedConfiguration" ng-repeat="sectionOption in quoteLine.sectionOptions">
                                            <br /> <span ng-bind="sectionOption.sectionName + ':' + sectionOption.optionName"></span>
                                        </span>
                                    </a>
                                </div>
                                <isc-product-name product="quoteLine" no-link="true"></isc-product-name>
                                <div ng-show="quoteLine.notes" class="item-notes">
                                    <strong>[% translate 'Customer Note' %]:</strong> <span ng-bind="quoteLine.notes"></span>
                                </div>
                            </td>
                            <td class="col-qtyreq"><strong class="show-for-small">[% translate 'QTY Requested' %]:</strong><span ng-bind="quoteLine.qtyOrdered"></span></td>
                            <td class="col-um"><strong class="show-for-small">[% translate 'U/M' %]:</strong><span ng-bind="quoteLine.unitOfMeasure"></span></td>

                            <!--Break Quantities-->
                            <td class="col-qty">
                                <span ng-show="!vm.quote.isJobQuote && quoteLine.pricing" ng-repeat="breakPrice in quoteLine.pricing.unitRegularBreakPrices">
                                    <strong ng-if="$first" class="show-for-small">[% translate 'QTY' %]</strong>
                                    <isc-no-element class="tst_rfqQuoteDetailsView_startBreakQty_{{$index}}" ng-bind="breakPrice.breakQty"></isc-no-element>
                                    <isc-no-element ng-if="!$last" ng-bind="' - ' + (quoteLine.pricing.unitRegularBreakPrices[($index+1)].breakQty-1)"></isc-no-element>
                                    <isc-no-element ng-if="$last">
                                        <isc-no-element ng-if="quoteLine.maxQty > 0" ng-bind="' - ' + quoteLine.maxQty"></isc-no-element>
                                        <isc-no-element ng-if="!quoteLine.maxQty || quoteLine.maxQty === 0" ng-bind="'+'"></isc-no-element>
                                    </isc-no-element>
                                </span>
                                <span ng-show="!vm.quote.isJobQuote && quoteLine.pricing && (!quoteLine.pricing.unitRegularBreakPrices || quoteLine.pricing.unitRegularBreakPrices.length === 0)">
                                    <strong class="show-for-small">[% translate 'QTY' %]</strong>
                                    <isc-no-element class="tst_rfqQuoteDetailsView_startBreakQty_{{$index}}" ng-bind="'1 +'"></isc-no-element>
                                </span>
                                <strong ng-show="vm.quote.isJobQuote">
                                    <span class="show-for-small">[% translate 'QTY' %]</span>
                                    <span class="tst_rfqQuoteDetailsView_jobQuoteQty_{{$index}}" ng-bind="quoteLine.qtyOrdered.toString()"></span>
                                </strong>
                            </td>
                            <!--Break Prices-->
                            <td class="col-price">
                                <span ng-show="!vm.quote.isJobQuote && quoteLine.pricing" ng-repeat="breakPrice in quoteLine.pricing.unitRegularBreakPrices">
                                    <strong ng-if="$first" class="show-for-small">[% translate 'Price' %]</strong>
                                    <isc-no-element class="tst_rfqQuoteDetailsView_price_{{$index}}" ng-bind="breakPrice.breakPriceDisplay"></isc-no-element>
                                </span>
                                <span ng-show="vm.quote.isJobQuote && quoteLine.pricingRfq">
                                    <strong class="show-for-small">[% translate 'Price' %]</strong>
                                    <isc-no-element class="tst_rfqQuoteDetailsView_priceJobQuote_{{$index}}" ng-bind="vm.getPriceForJobQuote(quoteLine.pricingRfq.priceBreaks, quoteLine.qtyOrdered)"></isc-no-element>
                                </span>
                                <span ng-show="quoteLine.pricing && (!quoteLine.pricing.unitRegularBreakPrices || quoteLine.pricing.unitRegularBreakPrices.length === 0)">
                                    <strong class="show-for-small">[% translate 'Price' %]</strong>
                                    <isc-no-element class="tst_rfqQuoteDetailsView_price_{{$index}}" ng-bind="quoteLine.pricing.unitNetPriceDisplay"></isc-no-element>
                                </span>
                            </td>
                            <td ng-show="vm.quote.isEditable" class="col-quote">
                                <a href="javascript:;" class="btn secondary btn-quote isc-btnLineCalculator" ng-click="vm.openOrderLineCalculatorPopup(quoteLine)" role="button">
                                    <i class="icon-calculator"></i>[% translate 'Quote' %]
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btns btns-bottom">
                    <button ng-show="vm.quote.isEditable" ng-click="vm.submitQuote('[% urlForPage 'RfqMyQuotesPage' %]')" class="btn primary btn-submit-quote" type="button">{{vm.quote.isJobQuote? '[% translate 'Submit Job Quote' %]' : '[% translate 'Submit Sales Quote' %]'}}</button>
                    <a href="javascript: window.print();" class="hide-for-small btn tertiary btn-print isc-btnPrint">[% translate 'Print' %]</a>
                </div>
            </div>
        </div>

        <div>
            <isc-quote-line-calculator-popup quote="vm.quote"></isc-quote-line-calculator-popup>
        </div>

        <script type="text/ng-template" id="/PartialViews/Rfq-QuoteLineCalculator">
            [% partialView 'Rfq-QuoteLineCalculator' %]
        </script>
        [% else -%]
        <div class="row quote-details">
            <form novalidate id="quoteDetailsForm" class="custom">
                <div ng-show="vm.quote.status === 'QuoteProposed' || vm.quote.status === 'AwaitingApproval'">
                    <div class="medium-12 large-12 columns col-items">
                        <div>
                            <isc-proposed-details-grid quote="vm.quote"></isc-proposed-details-grid>
                        </div>
                    </div>
                    <div class="medium-12 large-12 columns btns">
                        <button ng-if="!vm.quote.isJobQuote" ng-disabled="!vm.formValid" ng-click="vm.acceptCheckout('[% urlForPage 'CheckoutAddressPage' %]?cartId=')" class="btn primary btn-accept-quote-checkout" type="button">[% translate 'Accept Quote & Checkout' %]</button>
                        <button ng-if="vm.quote.isJobQuote" ng-disabled="!vm.formValid" ng-click="vm.acceptJobQuote('[% urlForPage 'MyJobQuotesPage' %]')" class="btn primary btn-accept-quote-checkout" type="button">[% translate 'Accept Job Quote' %]</button>
                        <button ng-if="vm.quote.status === 'QuoteProposed'" ng-click="vm.declineQuote('[% urlForPage 'RfqMyQuotesPage' %]')" class="btn secondary btn-decline-quote" type="button">{{vm.quote.isJobQuote ? '[% translate 'Decline Job Quote' %]' : '[% translate 'Decline Quote' %]'}}</button>
                        <a href="javascript: window.print();" class="hide-for-small btn tertiary btn-print">[% translate 'Print' %]</a>
                    </div>
                </div>
                <div ng-show="vm.quote.status !== 'QuoteProposed' && vm.quote.status !== 'AwaitingApproval'">
                    <div class="medium-12 large-12 columns col-items">
                        <isc-requested-details-grid quote="vm.quote"></isc-requested-details-grid>
                    </div>
                    <div class="medium-12 large-12 columns btns">
                        <a href="javascript: window.print();" class="hide-for-small btn tertiary btn-print">[% translate 'Print' %]</a>
                    </div>
                </div>
            </form>
        </div>

        <a ng-show="!vm.isCartEmpty" id="rfqPopupCartNotificationLink" data-reveal-id="rfqPopupCartNotification" href="javascript:void(0);"></a>
        <div ng-show="!vm.isCartEmpty" id="rfqPopupCartNotification" class="ma-quote-details reveal-modal popup-cart-notification" data-reveal data-reveal-init>
            <div class="modal-wrap">
                <p class="messaging">
                    [% siteMessage 'Rfq_CartNotificationMessage' %]
                </p>
                <div class="btns">
                    <button ng-click="vm.continueCheckout('[% urlForPage 'CheckoutAddressPage' %]?cartId=')" class="btn primary btn-continue" type="button">[% translate 'Continue' %]</button>
                    <button ng-click="vm.closeModal('#rfqPopupCartNotification')" class="btn tertiary btn-cancel" type="button">[% translate 'Cancel' %]</button>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>

        <script type="text/ng-template" id="/PartialViews/Rfq-RequestedDetailsGrid">
            [% partialView 'Rfq-RequestedDetailsGrid' %]
        </script>
        <script type="text/ng-template" id="/PartialViews/Rfq-ProposedDetailsGrid">
            [% partialView 'Rfq-ProposedDetailsGrid' %]
        </script>
        [% endif -%]
    </div>
    <div ng-show="vm.validationMessage">
        {{vm.validationMessage}}
    </div>
</div>

<script type="text/ng-template" id="/PartialViews/Rfq-QuoteDetailHeader">
    [% partialView 'Rfq-QuoteDetailHeader' %]
</script>
<script type="text/ng-template" id="/PartialViews/Rfq-RfqMessages">
    [% partialView 'Rfq-RfqMessages' %]
</script>
<script type="text/ng-template" id="/PartialViews/Rfq-RfqMessageList">
    [% partialView 'Rfq-RfqMessageList' %]
</script>