﻿<div>
    <% var name = entity.DisplayName; if(entity.DisplayDescription != ""){ name = entity.DisplayName + ' - ' + entity.DisplayDescription} %>

    <div class="relation-wrap draggable" id="<%= entity.Id %>">
            <div class="relation-picture-area">
                <div class="relation-picture-frame">
                    <div class="relation-picture" style="background: url(<%= entity.PictureUrl %>); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                </div>
                <div class="relation-text-area">
                    <div class="relation-text" title=" <%= name %>">
                        <%= name %>
                    </div>
                </div>
                <div class="relation-completeness-area" id="relation-completeness-area">
                    <% if (entity.Completeness!=null) { %>
                    <div id="relation-completeness-text" data-id="<%= entity.Id %>" class="completenesslevel_<%= entity.CompletenessLevel %>"><%= entity.Completeness %>%</div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
