﻿<%
var className="card-wrap small-droppable"; 
if (mode =="wide") { 
    className="card-wrap-large"
} else {
    className="card-wrap small-droppable"
} 


%>

<div>
    <div class="<%= className %> draggable" id="card-<%= data.Id%>">
        <div id="contextmenu">
            <div class="card-tools">
                <div class="card-tools-header">
                    <i class="fa fa-navicon"></i>
                </div>
            </div>
        </div>

        <% if (data.Completeness!=null) { %>
        <div class="completeness-small"><span class="pie" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"><%=completeness%></span></div>
        <% } %>

        <div class="card-text1" title="<%= data.DisplayName %>"><img src="../icon?id=<%=icon%>" title="<%= data.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= data.DisplayName %><% if (data.LockedBy != null && data.LockedBy != "") { %>&nbsp;<i class="fa fa-lock" style="font-size: 14px; font-weight: normal;" title="Locked by <%= data.LockedBy%>"></i><% } %></div>
        <div class="card-text2-large" title="<%= data.DisplayDescription %>"><%= data.DisplayDescription %></div>
        <div class="card-picture-area">
            <div class="card-picture-frame-large">
                <div class="card-picture" title="<%= data.DisplayName %>" style="background: url(<%= data.PictureUrl.replace('Preview', 'SmallThumbnail') %>); background-size: contain; background-repeat: no-repeat; background-position: center;">
                </div>
            </div>
        </div>
        <div class="card-draggable-icon-show">
        </div>
    </div>
</div>
