﻿<div>
    <div class="relation-sub-section-wrap" id="<%= model.LinkEntity.Id %>" entitytypeid="<%=entitytypeid%>">
        <div class="relation-sub-section-title">
            <div class="showLinkTypes" id="<%= model.LinkEntity.Id %>-show">
                <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display:none"></i>
            </div>
            <span class="relation-sub-section-title-text"><i class="fa fa-chain"></i> <%= model.LinkEntityName %><% if (model.LinkEntityDescription != "") { %> - <%= model.LinkEntityDescription %><% } %></span>
           <div id="contextmenu"></div>
        </div>
        <div id="relation-sub-section-container">
        </div>
        <div class="dropplaceholder">
            <div class="card-placeholder"></div>
        </div>
    </div>
</div> 