﻿<div class="content-area-tools-row">
    <span class="row-icon-button">Views:</span>
    <span class="content-area-tools row-icon-button" id="card-view" title="Default card view"><i class="fa fa-th-large"></i></span>
    <span class="content-area-tools row-icon-button" id="table-view" title="Table view"><i class="fa fa-list"></i></span>
    <span class="content-area-tools row-icon-button" id="include-fields" title="Include fields in table view"><i id="include-fields-icon" class="fa fa-square-o"></i><span> Include fields</span></span>
</div>
