﻿    <% var entity; if(direction == "outbound") {entity = model.TargetEntity}else{entity = model.SourceEntity} %>
<% var name = entity.DisplayName %>
<% var icon = entity.EntityType %>
<% if (icon == "Channel" && !entity.ChannelPublished) {icon = "ChannelUnpublished"} %>

    <% if (active == "active") { %>
<div class="card-wrap" id="<%= entity.Id %>">
    <% }else{ %>
<div class="card-wrap relation-inactive" id="<%= entity.Id %>">
    <% } %>
    <div class="card-picture-area">
        <div class="card-picture-frame">
            <div class="card-picture" title="<%= entity.DisplayName %>" style="background: url(<%= entity.PictureUrl.replace('Preview', 'SmallThumbnail')%>); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
        </div>
    </div>
    <div id="contextmenu"></div>

    <% if (entity.Completeness!=null) { %>
    <div class="completeness-small"><span class="pie" title="<%= entity.DisplayName %> is <%= entity.Completeness %>% complete"></span></div>
    <% } %>
    <div class="card-text1" title="<%= entity.DisplayName %>"><img src="../icon?id=<%=icon %>" title="<%= entity.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= entity.DisplayName %><% if (entity.LockedBy != null && entity.LockedBy != "") { %>&nbsp;<i class="fa fa-lock" style="font-size: 14px; font-weight: normal;" title="Locked by <%= entity.LockedBy%>"></i><% } %></div>
    <div class="card-text2-large" title="<%= entity.DisplayDescription %>"><%= entity.DisplayDescription %></div>
    <div class="card-draggable-icon" title="This card is sortable with drag and drop">
    </div>
</div>
