﻿<div>
    <div class="relation-section-wrap" id="<%= model.Id %>" linkentitytypeid="<%= model.LinkEntityTypeId %>" entitytypeid="<%=entitytypeid%>">
        <div class="relation-section-title">
            <div class="showLinkTypes" id="<%= model.Id %>-show">
                <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display:none"></i>
            </div>
            <span class="relation-section-title-text"><%= model.Name %></span>
            <div id="contextmenu"></div>

        </div>
        <div id="relation-section-container">

        </div>
        <div class="dropplaceholder">
            <div class="card-placeholder">
                <%if (model.LinkEntityTypeId != null){%>
                <span> Create new <%= model.LinkEntityTypeId %></span>
                <%}%>

            </div>
        </div>
        <div class="section-commands-wrap"></div>
    </div>
</div>