﻿<div id="popup-add-wishlist" class="reveal modal small">
    <div class="modal-wrapper">
        <h4 class="modal-title">[% translate 'Add to Wishlist' %]</h4>
        <div class="modal-content editable row">
            <div ng-if="vm.isAuthenticated || vm.isRememberedUser">
                <div class="msg error" ng-show="vm.errorMessage || vm.showWishlistNameErrorMessage">
                    <span ng-show="vm.errorMessage">{{vm.errorMessage}}</span>
                    <span ng-show="vm.showWishlistNameErrorMessage">{{::'[% siteMessage 'Wishlist_Enter_New_Wishlist_Name' EscapeSingleQuotes %]'}}</span>
                </div>
                <form ng-show="vm.allowMultipleWishLists && !vm.addToWishlistCompleted" id="addToWishListForm">
                    <div class="fields">
                        <div class="field">
                            <label for="selectedWishList">[% translate 'Select Wishlist' %]</label>
                            <select id="selectedWishList" ng-model="vm.selectedWishList" ng-options="wishList.name for wishList in vm.wishListCollection track by wishList.id">
                                <option value="">[% translate 'Create New List' %]</option>
                            </select>
                        </div>
                        <div class="field" ng-show="!vm.selectedWishList">
                            <label for="newWishListName">[% translate 'Store_Wishlist_Popup_NewListName' %]</label>
                            <input id="newWishListName" type="text" ng-model="vm.newWishListName" ng-disabled="vm.selectedWishList" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="button-group full">
                        <button type="button" ng-click="vm.addToWishList()" class="button">[% translate 'Add to Wishlist' %]</button>
                    </div>
                </form>
                <div ng-show="vm.addToWishlistCompleted || !vm.allowMultipleWishLists">
                    <p class="msg success">[% siteMessage 'WishLists_ProductAdded' %]</p>
                </div>
            </div>
            <p ng-if="!vm.isAuthenticated && !vm.isRememberedUser">[% siteMessage 'Wishlist_Must_Sign_In' %]</p>
        </div>
        <button type="button" class="modal-close" data-close></button>
        <isc-spinner show="false" name="popup-add-wishlist"></isc-spinner>
    </div>
</div>
