<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-briefcase icon-header"></i>Jobs</h2>
            </div>
            <div class="box-content">
                <div id="jobs-list"></div>
            </div>
        </div>
    </div>
    </div>	