<div class="box">
    <div class="box-header">
        <h2>Edit Job</h2>
        <div id="message"></div>
    </div>
    <div class="box-content">
        <div id="job-content"></div>
        <button class="btn" type="button" id="saveButton">Save</button>
        <button class="btn" type="button" id="cancelButton">Close</button>
    </div>
</div>