﻿<div class="block item-lookup" ng-controller="ProductWarrantyLookupController as vm" ng-cloak>
    <div class="block-wrapper">

        <div class="msg error" ng-if="vm.isApiError">[% translate 'Store_ProductsWarranty_Error' %]</div>

        <div class="filters">
            <div class="row fields">
                <div class="column medium-6 xlarge-4">
                    <div class="field has-action">
                        <label for="search-product">[% translate 'Store_ProductWarranty_SearchLabel' %]</label>
                        <div class="field-wrapper">
                            <input type="text" id="search-product" ng-model="vm.searchQuery" placeholder="[% translate 'Store_ProductWarranty_SearchPlaceholder' %]"
                                   isc-enter="vm.findWarranty()"
                                   ng-blur="vm.findWarranty()"
                                   ng-class="{'error':vm.noWarrantyResult, 'loading':vm.searching}" />
                            <button type="button" class="field-action search" ng-click="vm.findWarranty()"></button>
                        </div>
                        <div class="field-error" ng-show="vm.noWarrantyResult">[% translate 'Store_ProductWarranty_SearchNoResults' %]</div>
                    </div>
                </div>
                <div class="column medium-6 xlarge-4" ng-show="vm.warrantyModels">
                    <div class="field">
                        <label for="model-list">[% translate 'Store_ProductWarranty_ModelLabel' %]</label>
                        <select id="model-list" ng-options="item as item for item in vm.warrantyModels" ng-model="vm.selectedModel" ng-change="vm.onModelChange()" ng-disabled="vm.searching">
                            <option value="" ng-show="vm.warrantyModels.length !== 1">[% translate 'Store_ProductWarranty_ModelPlaceholder' %]</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="results" ng-class="{'loading':vm.searchingData}">
            <isc-spinner show="false"></isc-spinner>
            <div class="msg outline" ng-if="vm.noWarrantyData">[% translate 'Store_ProductWarranty_DataUnavailable' %]</div>
            <div ng-if="vm.warrantyData">
                <div class="section alt" ng-repeat="section in vm.warrantyData.sections">
                    <h2 class="section-title" ng-bind="section.value"></h2>
                    <div class="table-overflow wrap-large">
                        <table class="table-alt light full nowrap-th">
                            <tbody>
                                <tr ng-repeat="detail in section.details">
                                    <th ng-repeat="name in detail.names track by $index" ng-bind="name"></th>
                                    <td ng-repeat="value in detail.values track by $index" ng-bind="value ? value : '-'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
