﻿<div class="block group collapse" ng-controller="DashboardViewController as vm" ng-cloak
    order-panel-type="[[Model.OrderApprovalsDashboardPanelType]]"
    requisition-panel-type="[[Model.RequestForQuoteDashboardPanelType]]"
    quote-panel-type="[[Model.RequisitionsDashboardPanelType]]">

    <div class="block-wrapper">
        <div class="block" ng-show="vm.sessionReady">
            <div class="block-wrapper">
                <div class="block-title alt">
                    <h3 class="title">[% translate 'User Information' %]</h3>
                </div>
                <div class="row text-spacing-xsmall">
                    <div class="xsmall-6 medium-5 xlarge-6 mxlarge-5 column">
                        <div class="user-info">
                            <h4 class="user-info-title">[% translate 'Store_Dashboard_UserId' %]</h4>
                            <div class="user-info-content">
                                <span>{{vm.userLabel}}</span>
                                <span>{{vm.userEmail}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="xsmall-6 medium-5 xlarge-6 mxlarge-5 column">
                        <div class="user-info">
                            <h4 class="user-info-title">[% translate 'Store_Dashboard_UserRoles' %]</h4>
                            <div class="user-info-content">
                                <span>{{vm.userRoles}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" ng-show="vm.sessionReady">
            <div class="block-wrapper">
                <div class="block-title alt">
                    <h3 class="title">[% translate 'Billing & Shipping' %]</h3>
                </div>
                <div class="row text-spacing-xsmall">
                    <div class="xsmall-6 medium-5 xlarge-6 mxlarge-5 column">
                        <div class="user-info caps">
                            <h4 class="user-info-title">[% translate 'Bill To' %]</h4>
                            <store-customers-address-summary address="vm.billTo"></store-customers-address-summary>
                            <ul class="user-info-actions">
                                <li><a href="javascript:void(0);" data-open="{{::vm.billToEditFormId}}">[% translate 'View' %]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="xsmall-6 medium-5 xlarge-6 mxlarge-5 column end">
                        <div class="user-info caps">
                            <h4 class="user-info-title">[% translate 'Ship To' %]</h4>
                            <store-customers-address-summary address="vm.shipTo"></store-customers-address-summary>
                            <ul class="user-info-actions">
                                <li><a href="javascript:void(0);" data-open="{{::vm.shipToEditFormId}}">[% translate 'View' %]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" ng-if="vm.canViewOrders">
            <div class="block-wrapper">
                <div class="block-title alt">
                    <h3 class="title">[% translate 'Recent Orders' %]</h3>
                    <a class="action" href="[% urlForPage 'OrdersPage' %]">[% translate 'View All' %]</a>
                </div>
                <isc-recent-orders></isc-recent-orders>
            </div>
        </div>
    </div>

    <isc-popup-template container-id="{{vm.billToEditFormId}}" title="[% translate 'View' %] [% translate 'Bill To' %]">
        <div class="msg error" ng-if="vm.showBillToErrorMessage">[% translate 'Store_Checkout_IncompleteBillTo' %]</div>
        <store-customers-address-edit prefix="bt" show-email="true" address="vm.billTo" countries="vm.countries" address-fields="vm.addressFields.billToAddressFields" is-read-only="true"></store-customers-address-edit>
    </isc-popup-template>
    <isc-popup-template container-id="{{vm.shipToEditFormId}}" title="[% translate 'View' %] [% translate 'Ship To' %]">
        <div class="msg error" ng-if="vm.showShipToErrorMessage">[% translate 'Store_Checkout_Popup_IncompleteShipTo' %]</div>
        <store-customers-address-edit prefix="st" show-email="true" address="vm.shipTo" countries="vm.countries" address-fields="vm.addressFields.shipToAddressFields" is-read-only="true"></store-customers-address-edit>
    </isc-popup-template>

    <script type="text/ng-template" id="/PartialViews/History-RecentOrders">
        [% partialView 'History-RecentOrders' %]
    </script>
</div>