﻿<div id="add-new-mapping-wrap">
    <div>
        <button id="start-new-mapping">+ Add New Mapping</button>
    </div>
    <div id="add-new-mapping-row">
        <div class="add-new-mapping-row-col">
            <div>Entity Type</div>
            <select id="add-new-mapping-entitytype-dropdown"></select>
        </div>
        <div class="add-new-mapping-row-col">
            <div>Field Type</div>
            <select id="add-new-mapping-fieldtype-dropdown"></select>
        </div>
        <div class="add-new-mapping-row-col">
            <div>Name</div>
            <input type="text" id="add-new-mapping-value" />
        </div>
        <div class="add-new-mapping-row-col">
            <button id="add-new-mapping">Add</button>
            <button id="cancel-new-mapping">Cancel</button>
        </div>
    </div>
    <div id="mapping-list-wrap">
        <ul id="mapping-list" class="flat-ul"></ul>
    </div>
</div>