﻿<div>
    <div class="list-item-wrap">
        <span class="xconnect-list-item-label"><%= data.name %></span>
        <!--<a id="xconnect-user-list-item-edit" href="#">Edit</a>-->
        <span id="list-item-remove" title="Delete Content Store" data-link-id="" class="icon-entypo-fix-cancel std-entypo-fix-icon xconnect-user-list-item-icon-button"></span>
        <span id="list-item-edit" title="Edit Content Store" data-link-id="" class="icon-entypo-fix-pencil std-entypo-fix-icon xconnect-user-list-item-icon-button"></span>
    </div>
</div>