﻿<div id="mapping-item-wrap">
    <div id="mapping-item-entitytype" class="mapping-col">
        <%= entityType %>
    </div>
    <div id="mapping-item-fieldtype" class="mapping-col">
        <%= fieldType %>
    </div>
    <div class="mapping-col-2">
        &nbsp;&#8594; <input type="text" id="mapping-item-value" value="<%= value %>" /> <a href="#" id="mapping-item-remove">Remove</a>
    </div>
</div>
    