﻿<div>
    <div class="box-title">
        <span class="icon-entypo-fix-cog std-entypo-fix-icon box-title-icon"></span>Settings
    </div>
    <div class='box-content'>
        <div class="color-picker-ctl">
            <span class="edit-content-store-label">Name</span>
            <input id="edit-content-store-name" type="text" class="edit-content-store-textbox" />
        </div>
        <div class="color-picker-ctl">
            <span class="edit-content-store-label">Default Entity Types</span>
            <select id="edit-content-store-default-entity-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
        </div>
        <div class="color-picker-ctl">
            <span class="edit-content-store-label">Background Color</span>
            <span id="edit-content-store-pick-background-color" class="edit-content-store-pick-color">
                <input type="text" />
            </span>
        </div>
        <div class="color-picker-ctl">
            <span class="edit-content-store-label">Text Color</span>
            <span id="edit-content-store-pick-text-color" class="edit-content-store-pick-color">
                <input type="text" />
            </span>
        </div>
        <div>
            <span class="edit-content-store-label">Logo Image</span>
            <div class="edit-content-store-setting-wrap">
                <div id="edit-content-store-logo-preview-wrap">
                    <img id="edit-content-store-logo-preview" src="" />
                </div>
                <div id="edit-content-store-file-upload-wrap">
                    <span id="edit-content-store-file-upload">Upload Image</span>
                    <img id="file-upload-spinner" src="/images/ajax-loader.gif" />
                </div>
            </div>
        </div>
        <div>
            <a href="#" id="delete-content-store"><span class="fa fa-trash"></span> Delete Content Store</a>
        </div>
    </div>
</div>