﻿<div>
    <div class="box-title">
        <span class="icon-entypo-fix-cog std-entypo-fix-icon box-title-icon"></span>Data Transfer Configuration
    </div>
    <div class='box-content'>
        <div class="edit-content-store-setting-wrap">
            <span class="edit-content-store-label">Excluded Entity Types</span>
            <select id="edit-content-store-excluded-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
        </div>
        <div class="edit-content-store-setting-wrap">
            <span class="edit-content-store-label">Excluded Field Types</span>
            <div style="display: inline-block;">
                <div>
                    <span>For entity type </span><select id="edit-content-store-excluded-field-types-filter" class="std-content-store-dropdown"></select>
                </div>
                <div>
                    <select id="edit-content-store-excluded-field-types" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
                </div>
                <div>
                    <span id="edit-content-store-excluded-field-types-status-text"></span>
                </div>
            </div>
        </div>
        <div class="edit-content-store-setting-wrap">
            <span class="edit-content-store-label">Languages</span>
            <select id="edit-content-store-languages" style="width: 240px; height: 10px; visibility: hidden;" multiple="multiple"></select>
        </div>
        <div class="edit-content-store-setting-wrap">
            <div id='edit-content-store-resource-configuration-form-container' class='std-content-store-backbone-form'></div>
        </div>
        <div class="edit-content-store-setting-wrap">
            <span class="edit-content-store-label">REST Url</span>
            <input id="edit-content-store-resturl" class="edit-content-store-textbox" type="text" style="width: 228px;" />
        </div>
        <div class="edit-content-store-setting-wrap">
            <span class="edit-content-store-label">API key</span>
            <input id="edit-content-store-apikey" class="edit-content-store-textbox" type="text" style="width: 228px;" />
        </div>
        <div class="edit-content-store-setting-wrap dummy-wrap">
            <div class="edit-content-store-setting-wrap2">
                <button id="edit-content-store-mappings">Edit name mappings</button>
                <div id="restart-connector-wrap">
                    <img id="restart-connector-spinner" src="/images/ajax-loader.gif" />
                    <a href="#" id="restart-connector"><span class="icon-entypo-fix-ccw std-entypo-fix-icon"></span> Restart</a>
                </div>
            </div>
        </div>
    </div>
</div>