﻿<div>
    <div class='box-title'>
        <span class='fa fa-arrow-circle-o-right std-entypo-fix-icon box-title-icon'></span>Channel
    </div>
    <div class='box-content'>
        <div id='form-container' class='std-content-store-backbone-form'></div>
        <div>
            <button id="publish-channel">Publish</button>
            <button id="unpublish-channel">Unpublish</button>
        </div>
    </div>
</div>