﻿<li>
    <input type="checkbox" id="is-assigned-<%= data.id %>" name="assigned-channels-checkbox-group" value="<%= data.id %>" />
    <label for="is-assigned-<%= data.id %>"><%= data.displayName %></label>
</li>