﻿<div class="entity-view-details-row <%= !isOddRow ? 'entity-view-details-row-odd' : '' %>">
    <div class="width-limited-container">
        <div class="entity-view-details-row-key"><%= key %></div>
        <% if(value instanceof Array) { %>
        <% _.each(value, function(v) { %>
        <div id="value" class="entity-view-details-rounded-bg"><%= v %></div>
        <% }); %>
        <% } else { %>
        <div id="value"><%= value %></div>
        <% } %>
    </div>
</div>