﻿<div id="entity-area" class="entity-area-small">
    <div id="entityDetailUpper" class="entity-tab">
        <div class="entity-row-view-height">
            <div class="entity-title-image" style='background-image: url(<%= data.PictureUrl.replace("SmallThumbnail", "Preview") %>);'></div>
            <div id="control-row-content">
                <span id="entity-view-title-area">

                    <div class="entity-view-title-text-area">
                        <div>
                            <span class="entity-view-title-text">
                                <img src="../icon?id=<%= icon %>&color=white" title="<%= data.EntityTypeDisplayName %>" /><span><%= data.DisplayName %></span>
                                <i class="fa fa-lock" id="entitylocked" style="font-size: 14px; font-weight: normal; <% if (data.LockedBy == null || data.LockedBy == " "){ %>display:none;<%}%>" title="Locked by <%= data.LockedBy%>"></i>
                            </span>
                        </div>
                        <div class="entity-view-title-text2"><%= data.DisplayDescription %></div>
                    </div>
                </span>
                <span class="control-row-tab-area">
                    <span class="control-row-tab-button control-row-tab-button-active" id="tab-overview">
                        Overview
                    </span>
                    <span class="control-row-tab-button" id="tab-details">
                        Details
                    </span>
                    <div class="control-row-tab-button" id="tab-media">
                        Media
                    </div>
                    <div class="control-row-tab-button" id="tab-content">
                        Content
                    </div>
                    <div class="control-row-tab-button" id="tab-inbound">
                        Included in
                    </div>
                    <% if (entityType == appHelper.topLevelPlannerEntityType) { %>
                    <% _.each(outboundLinks, function(outboundLink) { %>
                    <% if(outboundLink != null) {%>
                    <div class="control-row-tab-button" id="tab-<%= outboundLink.targetEntityTypeIdToLower %>">
                        <%= outboundLink.Name %>
                    </div>
                    <% }%>
                    <%} ); %>
                    <% } %>

                </span>
                <div class="control-row-tool-area">
                    <% if (data.LockedBy== null || data.LockedBy== "" || data.LockedBy == userName) { %>
                    <span title="Edit Entity" class="icon-entypo-fix-pencil std-entypo-fix-icon control-row-icon-button" id="edit-button"></span>
                    <% } %>

                    <% if (data.Starred == "1") { %>
                    <span title="Un-star Entity" class="icon-entypo-fix-star std-entypo-fix-icon control-row-icon-button" id="star-button"></span>
                    <% } else{ %>
                    <span title="Star Entity" class="icon-entypo-fix-star-empty std-entypo-fix-icon control-row-icon-button" id="star-button"></span>
                    <% } %>

                    <% if (data.LockedBy!= "" && data.LockedBy == userName) { %>
                    <span title="Unlock entity" id="unlock-button" class="control-row-icon-button fa fa-unlock"></span>
                    <span title="Lock entity" id="lock-button" class="control-row-icon-button fa fa-lock" style="display:none"></span>
                    <% } else if (data.LockedBy == null || data.LockedBy== "") { %>
                    <span title="Unlock entity" id="unlock-button" class="control-row-icon-button fa fa-unlock" style="display:none"></span>
                    <span title="Lock entity" id="lock-button" class="control-row-icon-button fa fa-lock"></span>
                    <% } %>
                    
                    <% if (commentsExists) { %>
                    <span title="View and create comments" class="fa fa-comments-o control-row-icon-button" id="entity-comments-button"></span>
                    <%} else {%>
                    <span title="View and create comments" class="fa fa-comment-o control-row-icon-button" id="entity-comments-button"></span>
                    <%}%>

                    <span title="Create Task" class="icon-entypo-fix-clipboard std-entypo-fix-icon control-row-icon-button" id="add-task-button"></span>
                    <span title="Copy Entity" class="fa fa-files-o control-row-icon-button" id="entity-copy-button"></span>

                    <span title="System Information" class="icon-entypo-fix-info-circled std-entypo-fix-icon control-row-icon-button" id="system-button"></span>
                    <span id='delete-button' title="Delete" class="fa-trash-o fa control-row-icon-button"></span>


                </div>


                <div id="control-row-indicator-area">
                    <% if (data.Completeness!=null) { %>
                    <div class="completeness">
                        <span class="percent" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></span><span class="pie" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></span><!--<div class="timer fill" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></div>-->

                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="entity-top-info-container">
        </div>
    </div>

</div>
