﻿<div id="main-client-area">
    <div class="width-limited-container">
        <span class="main-header entity-view-details-header">Details</span>
    </div>
    <div id="details-row-container">

    </div>
</div>