﻿<li>
    <div class="connector-card-wrap" id="<%= data.Id %>">
        <div class="card-text-area">
            <div class="card-text1">
                <span id="connector-icon-<%= data.Id%>" title="<%= data.Id%>" class="fa fa-plug std-entypo-fix-icon control-row-icon-button"></span>
                &nbsp;&nbsp;<%= data.Id %>
            </div>
        </div>
    </div>
</li>
