﻿<div class="filter-ctl-wrap">
    <select id="possible-filter-fields"></select>
    <span id="active-filter-field"></span>
    <select id="active-filter-value" style="width: 160px; height: 10px; visibility: hidden;" multiple="multiple"></select>
    <i id="remove-filter-button" class="fa fa-close filter-ctl-icon-button"></i>
</div>