﻿<div id="saved-views-wrap">
    <div id="saved-views-tools-wrap">
        <a href="#sharedwithme">Views Shared With Me</a>
        <a href="#my">My Views</a>
        <a href="#all">All Views</a>
        <div id="filter-string-wrap">
            <input id="filter-string" type="text" placeholder="Filter..." />
            <i class="fa fa-close"></i>
        </div>
    </div>
    <ul id="view-list" class="flat-ul"></ul>
</div>