﻿<div class="filter-ctl-wrap">
    <select id="possible-group-fields"></select>
    <span id="active-group-field"></span>
    <i id="remove-group-button" class="fa fa-close filter-ctl-icon-button"></i>
</div>