﻿<div class="planner-configuration-root">
    <span class="category-section-title">
        <span class="control-row-tab-button control-row-tab-button-active" id="tab-quickedit">
            Quick Edit
        </span>
        <span class="control-row-tab-button" id="tab-tooltips">
            Tooltips
        </span>
        <span class="control-row-tab-button" id="tab-color">
            Color
        </span>
    </span>
    <div class="planner-configuration-tools-row">
        <span class="content-area-tools" id="planner-configuration-undo-all-button" style="display: inline;"><i class="fa fa-undo row-icon-button" title="Undo all changes"></i> Undo</span>
        <span class="content-area-tools" id="planner-configuration-save-all-button" style="display: inline;"><i class="fa fa-floppy-o row-icon-button" title="Save all changes"></i> Save</span>
    </div>
    <div id="planner-configuration-main">
    </div>
</div>