﻿<div class="gantt-date-range-wrap">
    <input type="checkbox" id="fixed-dates-checkbox" />
    <label for="fixed-dates-checkbox">Fixed Dates</label>
    <input type="text" id="gantt-date-range-picker-from" placeholder="From"/>
    <input type="text" id="gantt-date-range-picker-to" placeholder="To" />
</div>