﻿<div> 
    <div id="planner-top-area">
        <h2 id="gantt-view-name">Loading...</h2>
        <div id="loading-spinner-wrap">
            <img id="loading-spinner" src="/images/ajax-loader.gif" />
        </div>
        <div id="gantt-command-buttons">
            <span id="print" class="row-icon-button"><i class="fa fa-print" title="Print PDF"></i></span>
            <span id="export" class="row-icon-button"><i class="fa icon-entypo-fix-attach" title="Export to Excel"></i></span>
            <span id="open-saved-view" class="row-icon-button"><i class="fa fa-folder-open" title="Views..."></i></span>
            <span id="save-current-view-state" class="row-icon-button"><i class="fa fa-save" title="Save current view"></i></span>
            <span id="toggle-filters-groups" class="row-icon-button"><i class="fa fa-sliders" title="Define view"></i></span>
        </div>
        <div id="planner-header-buttons">
            <div id="gantt-date-range-area"></div>
            <i class="fa fa-calendar row-icon-button" title="Scale"></i>
            <select id="gantt-scale-mode">
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </div>
    </div>
    <div id="gantt-config-area">
        <div id="gantt-dimensions-area">
            <div>
                <i class="fa fa-list-ul row-icon-button" title="First Dimension"></i>
                <select id="gantt-dimension-1"></select>
                <i class="fa fa-level-down row-icon-button" title="Second Dimension"></i>
                <select id="gantt-dimension-2"></select>
            </div>
            <div id="bar-title-wrap">
                <span>Bar Title&nbsp;</span>
                <select id="gantt-bar-title-field-type"></select>
            </div>
        </div>
        <div id="filters-and-groups-area">

        </div>
    </div>
    <div id="campaign-overview-dataview">

    </div>
    <div id="over-div-wrap">
        <div id="over-div-background"></div>
        <div id="over-div-content"></div>
    </div>
</div>