﻿<div id="header-navigation-links-wrap">
    <a href="#dashboard"><span><i class="fa fa-th"></i>Dashboard</a></span>
    <a href="#gantt"><span><i class="fa fa-tasks"></i>Overview</a></span>
    <% if (appHelper.isAdministrator) { %>
    <a href="#configuration"><span><i class="fa fa-cog"></i>Configuration</a></span>
    <% } %>
    <a href="#entity"><i class="fa fa-pencil"></i>Details</a>
</div>
