﻿<li data-id="<%= dataId %>">
    <div id="saved-view-list-item-wrap">
        <span id="view-name"><i class="fa fa-arrow-circle-right row-icon-button">&nbsp;</i><%= name %></span>
        <div id="right-aligned">
            <span id="ical-link" class="row-icon-button"><i class="fa fa-external-link"></i></span>
            <span id="shared-with-label">Shared with&nbsp;</span><select id="shared-with" style='width: 240px; margin-right: 10px;'></select>
            <span id="remove" class="row-icon-button"><i class="fa fa-trash-o"></i></span>
        </div>
    </div>
</li>