﻿/* Quick Search */

.dropdown-menu {
    margin-top: 3px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-top: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

#quicksearchquery, #workareasearchquery {
    font-size: 0.9em;
    height: 18px;
    margin: 2px 0 5px 0;
    padding: 3px 25px 2px 5px;
    width: 140px;
}

#workareasearchquery {
    width: 155px;
}

.quickSearchItemContainer {
    width: 250px;
    height: 55px;
}

.quickSearchItemContainerImage {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

    .quickSearchItemContainerImage img {
        max-height: 50px;
        max-width: 50px;
    }

.quickSearchItemContainerName img {
    margin-right: 3px;
}

.quicksearchbox, .openworkarea {
    float: right;
}

    .quicksearchbox #edit-query {
        font-size: 14px;
    }

#search-container #edit-query {
    margin-right: 0;
}

#quicksearch, #workareasearch {
    height: 20px;
    line-height: 0;
    padding: 1px 6px;
    margin-left: -29px;
    color: #888;
    position: relative;
    top: 3px;
    font-size: 20px;
}

/* Quick Search end */

/* Query Row */
#queryEditor {
    position: relative;
}

    #queryEditor .sub-row {
        margin-left: 15px;
    }

.query-row {
    margin-top: 5px;
    clear: both;
    margin-left: 10px;
}

    .query-row a {
        /*color: #ccc;*/
        color: #2d2d2c;
        text-decoration: underline;
    }

    .query-row .fa-plus {
        font-size: 12px;
    }

    .query-row #value-link, .query-row #value-link-datetime-intervals {
        color: #0077B7;
        font-weight: bold;
    }

    #value-link-datetime-intervals {
        display: inline;
    }

    .query-row .field-plus-row {
        /*color: #C0432F;*/
        color: #0077B7;
    }

    .query-row .relation-plus-row {
        /*color: #429F4D;*/
        color: #0077B7;
    }

    .query-row .completeness-plus-row {
        color: #0077B7;
    }

    .query-row .specification-plus-row {
        color: #0077B7;
    }

    #query-plus-row, .query-row #query-relation-plus-row, #query-specification-plus-row {
        display: inline-block;
    }

    .query-row .hidden {
        display: none !important;
    }

.query-link-container {
    float: left;
    margin-right: 5px;
}

    .query-link-container #value-input, .query-link-container #value-input-datetime-intervals {
        max-width: 130px;
    }

.search-criteria-selection-container {
    margin-right: 5px;
}

    .search-criteria-selection-container #data-criteria-input {
        max-width: 130px;
    }

    .search-criteria-selection-label, .search-criteria-selection-container 
    {
        float: left;
    }
    
    #add-condition {
        width: 100px !important;
        cursor: pointer;
        margin-bottom: 10px;
    }

.xdsoft_datetimepicker {
    z-index: 99999 !important;
}

.query-menu {
    position: fixed;
    list-style: none;
    display: block;
    background: white;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    padding: 3px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    min-width: 140px;
}

    .query-menu li, .query-menu div {
        padding: 3px 10px 3px 3px;
    }

    .query-menu i {
        margin-right: 3px;
    }

    .query-menu div .item {
        padding-left: 20px;
    }

        .query-menu li:hover, .query-menu div.item:hover {
            background: #eee;
            cursor: pointer;
        }

    .query-menu div.category {
        color: #2d2d2c;
    }

        .query-menu div.category:hover {
            background-color: #ffffff;
        }

    .query-menu input#filter {
        width: 90%;
    }


/* Query Row end */
.savedinfo {
    margin-bottom: 7px;
}

.querydialog {
    z-index: 10;
    border: 1px solid #bbbbbb;
    margin-left: 30px;
    width: 420px;
    max-height: 400px;
    overflow-y: auto;
}

.advSearch-buttons {
    padding: 10px;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.query-editor-modal {
    margin: 30px;
    margin-top: 0;
}

.querydialog h3 {
    color: white;
    background-color: #d33138;
    padding: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.querydialog-content {
    margin: 10px;
}

.querydialog div {
    margin-bottom: 5px;
}

.title {
    width: 80px;
    display: inline-block;
}

.input {
    width: 300px;
    display: inline-block;
}


#contentwrapper {
    position: absolute;
    bottom: 10px;
    top: 90px;
    left: 0;
    right: 0;
    overflow: auto;
}

.error {
    display: inline-block;
}

div#row-error {
    display: inline;
    position: relative !important;
}

.notificaitonerror {
    float: right;
}

    .notificaitonerror::before {
        content: "";
    }

.quickSearchItemContainer, .quickSearchItemContainer img {
    display: inline-block;
}

    .quickSearchItemContainer span {
        white-space: nowrap;
        width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

.quickSearchItemContainerDescription {
    white-space: nowrap;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


#notificationcondition {
    width: 99px;
}
