﻿<div class="order-items">
    <table class="order-items-list">
        <thead>
            <tr>
                <th colspan="2">[% translate 'Store_Order_Description' %]</th>
                <th ng-class="{'text-right': order.properties['canShowPrice'] !== 'true'}">[% translate 'Store_Order_Quantity' %]</th>
                <th ng-if="order.properties['canShowPrice'] === 'true'">[% translate 'Store_Order_UnitPrice' %]</th>
                <th ng-if="order.properties['canShowPrice'] === 'true'">[% translate 'Store_Order_Subtotal' %]</th>
            </tr>
        </thead>
        <tbody class="order-item" ng-repeat="orderLine in order.orderLines | filter: quoteRequiredFilter">
            <tr class="order-item-detail">
                <td class="order-item-visual">
                    <isc-product-thumb product="orderLine"></isc-product-thumb>
                </td>

                <td class="order-item-name">
                    <div class="product-sku">
                        <span class="sku" ng-if="orderLine.productErpNumber"><span class="label">[% translate 'Store_SKU#' %]</span>&nbsp;<span ng-bind="orderLine.productErpNumber"></span></span>
                        <span class="mfg" ng-if="orderLine.manufacturerItem"><span class="label">[% translate 'Store_MFG#' %]</span>&nbsp;<span ng-bind="orderLine.manufacturerItem"></span></span>
                        <span class="part" ng-if="orderLine.customerName"><span class="label">[% translate 'Store_Part#' %]</span>&nbsp;<span ng-bind="orderLine.customerName"></span></span>
                    </div>
                    <a class="name" ng-if="orderLine.shortDescription" ng-href="{{orderLine.productUri}}" ng-bind="orderLine.shortDescription"></a>
                    <div class="info" ng-if="orderLine.properties['serialNumbers']">
                        <span class="label inline">[% translate 'Serial #' %]:</span>
                        <span class="value" ng-bind="orderLine.properties['serialNumbers']"></span>
                    </div>
                </td>

                <td class="order-item-quantity" ng-class="{'right': order.properties['canShowPrice'] !== 'true'}">
                    <div class="product-quantity">
                        <div class="wrapper">
                            <div class="value" ng-bind="orderLine.qtyOrdered"></div>
                            <div class="label"><label for="product-quantity-{{$index}}" class="qty-label">[% translate 'Store_QuantityLabel' %]</label></div>
                        </div>
                    </div>
                </td>

                <td class="order-item-price" ng-if="order.properties['canShowPrice'] === 'true'">
                    <div class="product-price">
                        <div class="price">
                            <span>{{orderLine.unitNetPriceDisplay}}</span>
                            <span class="unit">{{orderLine.unitOfMeasure || "[% translate 'Store_UnitOfMeasure_Default' %]"}}</span>
                        </div>
                    </div>
                </td>

                <td class="order-item-total" ng-if="order.properties['canShowPrice'] === 'true'">
                    <div class="wrapper">
                        <span class="label">[% translate 'Store_Order_Subtotal' %]</span>
                        <span class="value">
                            <span ng-bind="orderLine.extendedUnitNetPriceDisplay"></span>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>