﻿    <div class="channel-entity-card-wrap" id="channel-<%= data.entityId%>">
        <div class="card-text-area">
            <%if(TypeName=="Publication"){%>
            <div class="card-text1" title="<%= data.text %>"><img src="../icon?id=Publication" title="Publication" />&nbsp;&nbsp;<%= data.text %></div>
            <%} else if(Published == true){%>
            <div class="card-text1" title="<%= data.text %>"><img src="../icon?id=Channel" title="Channel" />&nbsp;&nbsp;<%= data.text %></div>
            <%} else{%>
            <div class="card-text1" title="<%= data.text %>"><img src="../icon?id=ChannelUnpublished" title="Channel"/>&nbsp;&nbsp;<%= data.text %>
            </div>
            <%}%>
        </div>
    </div>
