﻿<div class="entity-view-details-row <%= !isOddRow ? 'entity-view-details-row-odd' : '' %>">
    <div class="width-limited-container">
        <% var fClass= "" %>
        <% if (excludeFromDefaultView) {%>
           <% fClass=" fieldset-field" %>
        <%} %>
        <div class="entity-view-details-row-key<%=fClass%>"><%= key %></div>
        <% if(value instanceof Array) { %>
        <% _.each(value, function(v) { %>
        <div id="value" class="entity-view-details-rounded-bg"><%= v %></div>
        <% }); %>
        <% } else { %>
        <div id="value"><%= value %></div>
        <% } %>
        <% if (historyId) {%>
        <div id="history" class="entity-view-details-row-history"><span title="View Field history" class="icon-entypo-fix-back-in-time std-entypo-fix-icon control-row-icon-button" id="view-history-button" fieldtypeid="<%= historyId %>" fielddatatype="<%= type %>"></span></div>
        <%}%>
    </div>
</div>