﻿<div class="bottom-tool-area">
    <span id="<%= resource.Id %>" class="view-details fa fa-list preview-tools" title="Overview"></span>
    <span id="<%= resource.Id %>" class="set-main-picture-popup fa-picture-o fa preview-tools" title="Set as Main Picture"></span>
    <span id="<%= resource.Id %>" class="edit-resource-in-tool fa-external-link fa fa preview-tools" title="Open in associated Application"></span>
    <span id="<%= resource.ResourceFileId %>" class="download-button fa-download fa preview-tools" title="Download"></span>
    <span id="<%= resource.Id %>" class="delete-resource fa-trash-o fa preview-tools" title="Delete resource"></span>
</div>
<div class="detail-area">
    <div class="category-section-title" id="metadata">
        <div class="showdata" id="metadata-show">
            <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display: none;"></i>
        </div>
        <span>Metadata</span>

    </div>
    <div id="metadata-area">
        <div class="loadingspinner">
            <img src="/Images/nine-squares-32x32.gif" />
        </div>
    </div>
    <div class="category-section-title" id="fileinfo">
        <div class="showdata" id="fileinfo-show">
            <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display: none;"></i>
        </div>
        <span>File information</span>

    </div>
    <div id="fileinfo-area">
        <div class="entity-view-details-row "><div class="width-limited-container"><div class="entity-view-details-row-key">File size:</div><div id="value"> <%= file.filesize %></div> </div></div>

        <div class="entity-view-details-row entity-view-details-row-odd">
            <div class="width-limited-container">
                <div class="entity-view-details-row-key">Extension:</div><div id="value"> <%= file.extension %></div>
            </div>
        </div>
        <div class="entity-view-details-row "><div class="width-limited-container"><div class="entity-view-details-row-key">Created:</div><div id="value"> <%= file.datecreated %></div> </div></div>
        <div class="entity-view-details-row entity-view-details-row-odd"><div class="width-limited-container"><div class="entity-view-details-row-key">File Id:</div><div id="value"> <%= file.id %></div> </div></div>
        <div class="entity-view-details-row "><div class="width-limited-container"><div class="entity-view-details-row-key">Filename:</div><div id="value"> <%= file.filename %></div> </div></div>
    </div>
    <div class="category-section-title" id="inbound">
        <div class="showdata" id="inbound-show">
            <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display: none;"></i>
        </div>
        <span>Included in</span>

    </div>
    <div id="inbound-area">
        <div class="loadingspinner">
            <img src="/Images/nine-squares-32x32.gif" />
        </div>
    </div>
    <div class="category-section-title" id="channel">
        <div class="showdata" id="channel-show">
            <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display: none;"></i>
        </div>
        <span>Used In</span>

    </div>
    <div id="channel-area">
        <div class="loadingspinner">
            <img src="/Images/nine-squares-32x32.gif" />
        </div>
    </div>
 


    </div>
<div class="preview-area">
    <% if (resource.PictureUrl != null){%>
    <img src="<%= resource.PictureUrl.replace('Thumbnail', 'Preview' ) %>" />
    <%}%>
</div>
    <div style="clear:both">

    </div>

<div id="dropzone-container" style="display:none">
</div>