﻿<div class="lightboard-preview-popup-wrap">
    <div class="lightboard-details-area">
        
      

        Some main info. TBD

    </div>
    <div class="lightboard-thumbnails-area">
        <ul class="thumbnails">
            <!--<% if(resources.length == 0) {
                %>
                <li id="no-items"><div class="no-items-text">No resources found</div></li>
                <% } %>-->
            <% _.each(resources, function (resource) {
            var linkedPictureUrl = resource.PictureUrl.replace("Thumbnail", "Preview");
            %>
            <li>
                <div>
                    <div class="thumbnail lightboard-card-wrap" id="<%= resource.Id %>" rel="thumbnail" title="<%= resource.DisplayName %>">
                        <img src="<%= resource.PictureUrl %>" />
                    </div>
                </div>
            </li>
            <% }) %>
            <li>
                <div id="dropzone-container">
                </div>
            </li>
        </ul>
    </div>
</div>
