﻿<div>
    <div class="lightboard-entity" id="card-<%= model.SourceEntity.Id%>">
        <div class="card-text1">
            <img src="../icon?id=<%=icon%>" title="<%= model.SourceEntity.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= model.SourceEntity.DisplayName %>
        </div>
    </div>
</div>
