﻿<div id="lightboard">
    <div id="lightboard-actions">
        <div id="lightboard-slider"></div>
        <div>
            <label title="Show all resources"><input id="show-all" type="checkbox" />Show all</label>
        </div>
    </div>
    <ul class="thumbnails">
   
        
    </ul>
</div>