﻿<li>
    <div>

        <div class="thumbnail lightboard-card-wrap" id="<%= resource.Id %>" rel="thumbnail" title="<%= resource.DisplayName %>">
            <div class="lightboard-display-name"><%= resource.DisplayName %></div> <div id="contextmenu"></div>
            <div class="clear"></div>
            <div class="lightboard-wrapper">
                <img src="<%= resource.PictureUrl %>" />
            </div>
        </div>
    </div>
    <!--<ul id="<%= resource.ResourceFileId %>" class="download-menu" style="display:none">
        <li class="Original"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=Original">Original</a></li>
        <li class="Preview"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=Preview">Preview</a></li>
        <li class="Thumbnail"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=Thumbnail">Thumbnail</a></li>
        <li class="SmallThumbnail"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=SmallThumbnail">Small Thumbnail</a></li>
    </ul>-->
</li>


