
<div id="portal-main-container">
    <div id="user-header"></div>
    <div class="portal-main-section">
        <div class="portal-main-section-box portal-main-section-col">
            <div id="Supply" class="portal-main-section-box">
                <a href="/app/supply">
                    <div class="box-title">
                        <span class="fa fa-arrow-circle-o-right box-title-icon"></span>
                        <span class="main-app-name">SUPPLY</span>
                    </div>
                    <div class="box-sub-section">
                        <div class="text" title="The Supply app is used to get an overview of the import process of data and resources. From here you can add, manage, and control your inbound connectors. It also provides information about events associated with the supply process.">The Supply app is used to get an overview of the import process of data and resources.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portal-main-section-col">
            <div id="Enrich" class="portal-main-section-box">
                <a href="/app/enrich">
                    <div class="box-title">
                        <span class="fa fa-pencil-square-o box-title-icon"></span>
                        <span class="main-app-name">ENRICH</span>
                    </div>
                    <div class="box-sub-section">
                        <div class="text" title="The Enrich app is used when working on the enrichment of your products. The app supports every aspect of the PIM workflow and provides the functionality needed to search and find products to be enriched and fully completed before being published in your sales channels.">The Enrich app is used when working on the enrichment of your products.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portal-main-section-col">
            <div id="PlanAndRelease" class="portal-main-section-box">
                <a href="/app/planrelease">
                    <div class="box-title">
                        <span class="fa fa-paperclip box-title-icon"></span>
                        <span class="main-app-name">Plan & Release</span>
                    </div>
                    <div class="box-sub-section">
                        <div class="text">The Plan & Release app provides an overview of all your channels and publications.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portal-main-section-col">
            <div id="Publish" class="portal-main-section-box">
                <a href="/app/publish">
                    <div class="box-title">
                        <span class="fa fa-arrow-circle-o-right box-title-icon"></span>
                        <span class="main-app-name">Publish</span>
                    </div>
                    <div class="box-sub-section">
                        <div class="text">The Publish app provides an overview of the publishing process of data and resources.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="portal-sub-section">
        <div class="portal-admin-section-col">
            <div id="System" class="portal-admin-section-box">
                <a href="/app/system">
                    <div class="box-title">
                        <div class="admin-app-name">System</div>
                        <div class="icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x base"></i>
                                <i class="fa fa-circle-thin fa-stack-2x circle"></i>
                                <i class="fa fa-cog fa-stack-1x icon"></i>
                            </span>
                        </div>
                    </div>
                </a>
                <div class="box-sub-section">
                    <div class="separator"><img src="/Images/Triangle_ebebea.png"></div>
                    <div class="text">The System app provides an overview of all system related information of inRiver. </div>
                </div>
            </div>
            <div id="PrintAdmin" class="portal-admin-section-box">
                <a href="/app/print">
                    <div class="box-title">
                        <div class="admin-app-name">Print</div>
                        <div class="icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x base"></i>
                                <i class="fa fa-circle-thin fa-stack-2x circle"></i>
                                <i class="fa fa-print fa-stack-1x icon"></i>
                            </span>
                        </div>
                    </div>
                    <div class="box-sub-section">
                        <div class="separator"><img src="/Images/Triangle_ebebea.png"></div>
                        <div class="text">The Print app gives you access to the inRiver print settings used for exporting product information between inRiver and Adobe InDesign.</div>
                    </div>
                </a>
            </div>
            <div id="AboutBox">

                <div class="box-title">
                    <div class="admin-app-name">About inRiver 6</div>
                    <div class="icon">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x base"></i>
                            <i class="fa fa-circle-thin fa-stack-2x circle"></i>
                            <i class="fa fa-info fa-stack-1x icon"></i>
                        </span>
                    </div>
                </div>
                <div class="box-sub-section">
                    <div class="separator"><img src="/Images/Triangle_ebebea.png"></div>
                    <div class="portal-about-text">
                        <div class="portal-about-label">Version:</div><div class="portal-about-value" id="about-version"></div>
                        <div class="portal-about-label">Server name:</div><div class="portal-about-value" id="about-server-name"></div>
                        <div class="portal-about-label">Master language:</div><div class="portal-about-value" id="about-master-language"></div>
                        <div class="portal-about-label">Server status:</div><div class="portal-about-value" id="about-server-status"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portal-mgr-section-col">
            <div id="PlannerBox" class="portal-admin-section-box">
                <a href="/app/planner">
                    <div class="box-title">
                        <span class="mgr-app-name">Planner</span>
                        <span class="icon">
                            <img src="/Images/planner.png" />
                        </span>
                    </div>
                    <div class="box-sub-section">
                        <div class="separator"><img src="/Images/Triangle_338DB7.png"></div>
                        <div class="text">The Planner app is used for the creation and management of inRiver enrichment activities made during the PIM process such as campaigns, looks, and bundles.</div>
                    </div>
                </a>

            </div>
            <div id="ContentStore" class="portal-admin-section-box">
                <a href="/app/contentstore">
                    <div class="box-title">
                        <span class="mgr-app-name">Content Store</span>

                        <span class="icon">
                            <img src="/Images/contentstore.png" />
                        </span>

                    </div>
                    <div class="box-sub-section">
                        <div class="separator"><img src="/Images/Triangle_338DB7.png"></div>
                        <div class="text">The Content Store app is used for making your assortment visible and downloadable for any external or internal users who are given access rights.</div>
                    </div>
                </a>
            </div>

            <div id="SupplierOnboarding" class="portal-admin-section-box">
                <a href="/app/supplieronboarding">
                    <div class="box-title">
                        <span class="mgr-app-name">Supplier Onboarding</span>

                        <span class="icon">
                            <img src="/Images/supplieronboarding.png" />
                        </span>
                    </div>
                    <div class="box-sub-section">
                        <div class="separator"><img src="/Images/Triangle_338DB7.png"></div>
                        <div class="text">The Supplier Onboarding app is used for setting up, validating, and managing the import flow of data and resources from your suppliers.</div>
                    </div>
                </a>
            </div>

        </div>
        <div class="portal-custom-section-col">
            <div id="tbd" class="portal-custom-section-box">
                <div id="notificationtitle" class="stats-title">
                    <span class="main-app-name">My Notifications</span>
                </div>
                <div id="notifications" class="start-section-box">
                    <div class="white-box">
                        <div class="loadingspinner">
                            <img src="/Images/nine-squares-32x32.gif" />
                        </div>
                    </div>
                </div>
                <div id="notificationseparator" class="separator"></div>
                <div class="stats-title">
                    <span class="main-app-name">Workareas</span>
                </div> <div id="work-area-content">
                    <div class="loadingspinner">
                        <img src="/Images/nine-squares-32x32.gif" />
                    </div>

                </div>

                <div class="separator"></div>

                <div class="stats-title">
                    <span class="main-app-name">Weekly stats</span>
                </div>
                <div class="stats-title" id="updatedEntitiesTitle">
                    <h2>Updated entities</h2>
                </div>
                <div id="graph"></div>

                <div class="separator"></div>
                <div class="stats-title" id="newEntitiesTitle">
                    <h2>New entities</h2>
                </div>
                <ul id="smallstat-row">
                    <% _.each(data, function (stat) {
                    if(stat.NewLastWeek > 0){
                    %>

                    <li class="smallstat">
                        <span title="New" class="week-new">+ <%= stat.NewLastWeek.toLocaleString() %></span> <p></p>
                        <span class="total"><%= stat.Total.toLocaleString() %> total</span>
                        <div class="separator"></div>
                        <span class="ent-type"><%= stat.Name %></span>
                    </li>
                    <%}
                    }) %>
                </ul>
                <!--<div class="img">
                        <img src="/Images/nopicture50x50.png" />
                    </div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</div>-->
            </div>

        </div>
    </div>
</div>
