<div id="top-header-content">
    <div id="top-header-right">
        <div id="menu-buttons">
            <div id="personalSettings" class="top-header-rightaligned">
                <a id="mySettingsButton" class="top-header-hover-control"><i class="fa fa-user"></i> <span> <%= appHelper.userDisplayName %></span></a>
                <ul class="dropdown-menu" style="display:none">
                    <li><a href="#" id="user-settings-link"> <span class="fa fa-wrench"></span> User Details</a></li>
                    <% if(appHelper.authenticationType != "ADFS"){ %>
                    <li><a id="sign-out" href="/Auth/SignOut"><span class="fa fa-sign-out"></span> Sign out</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
       
    </div>
</div>