﻿<div class="card-section-wrap">
    <div class="card-section-title">
        <!--   <span class="icon-entypo-fix-<%= icon %> std-entypo-fix-icon"></span> -->
        <span class="card-section-title-text"><%= sectionName %></span>
    </div>
    <div class="card-section-container">

    </div>
</div>