﻿<div class="card-wrap" id="card-wrap">
    <div class="card-picture-area">
        <div class="card-picture-frame">
            <div class="card-picture" style="background: url(<%= data.PictureUrl.replace('Preview', 'Thumbnail') %>); background-size: contain; background-repeat: no-repeat; background-position: center;" />
        </div>
    </div>
    <div class="card-completeness-area" id="card-completeness-area">
        <% if (data.Completeness!=null) { %>
        <div id="card-completeness-text" class="completenesslevel_<%= data.CompletenessLevel %>"><%= data.Completeness %>%</div>
        <% } %>
    </div>
    <div class="card-text1"><img src="../icon?id=<%= data.EntityType %>" title="<%= data.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= data.DisplayName %></div>

    <div class="card-text2"><%= data.DisplayDescription %></div>
</div>