﻿<ul id="<%= resource.ResourceFileId %>" class="download-menu" style="display:none">
    <li class="Original"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=Original">Original</a></li>
    <li class="Preview"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=Preview">Preview</a></li>
    <li class="Thumbnail"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=Thumbnail">Thumbnail</a></li>
    <li class="SmallThumbnail"><a href="../picture/download?id=<%= resource.ResourceFileId %>&size=SmallThumbnail">Small Thumbnail</a></li>
</ul>