﻿ <div>
    <div class="card-wrap-large" id="card-<%= entity.Id%>">
        <div class="card-tools">
            <div class="card-tools-header" id="<%= entity.Id %>-show">
                <i class="fa fa-navicon"></i><i class="fa fa-navicon" style="display:none"></i>
            </div>
            <div id="card-tools-container" style="display: none">
                <div id="close-tools-container">
                    <span title="Close" class="fa fa-times"></span>
                </div>
                <% if (entity.LockedBy== null || entity.LockedBy== "" || entity.LockedBy == userName) { %>
                <span id="edit-button"><span title="Edit Entity" class="icon-entypo-fix-pencil std-entypo-fix-icon control-row-icon-button"></span><span>Edit</span></span>
                    <br />
                    <% } %>

                <span id="delete-button">
                    <span title="Delete Entity" class="fa-trash-o fa  control-row-icon-button"></span><span>Delete</span>
                </span>
                <br />
                <% if (1==1) { %>
                <span id="task-button">
                    <span title="Create Task" class="icon-entypo-fix-clipboard std-entypo-fix-icon control-row-icon-button"></span><span>Create task</span>
                </span>
                <br />
                <%} %>
                <% if (entity.EntityType== "Resource") { %>
                <span id="download-button">
                    <span title="Download resource" class="fa-download fa control-row-icon-button"></span><span>Download</span>
                </span>
                 <br />
                <span id="upload-button">
                    <span title="Replace file" class="fa-upload fa control-row-icon-button"></span><span>Replace file</span>
                    </span>
                <br />
              <% } %>
        </div>
        </div>
        <% if (entity.Completeness!=null) { %>
        <div class="completeness-small"><span class="pie" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></span><!--<div class="timer fill" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></div>--></div>
        <% } %>

        <div class="card-star-area">
            <% if (entity.Starred == "1") { %>
            <span title="Un-star Entity" class="icon-entypo-fix-star" id="star-button"></span>
            <% } else{ %>
            <span title="Star Entity" class="icon-entypo-fix-star-empty" id="star-button"></span>
            <% } %>
        </div>
        
        <div class="card-text1"><img src="../icon?id=<%= entity.EntityType %>" title="<%= data.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= entity.DisplayName %><% if (entity.LockedBy != null && entity.LockedBy != "") { %>&nbsp;<i class="fa fa-lock" style="font-size: 14px; font-weight: normal;" title="Locked by <%= entity.LockedBy%>"></i><% } %></div>
        <div class="card-text2-large" title="<%= entity.DisplayDescription %>"><%= entity.DisplayDescription %></div>
        <div class="card-picture-area">
            <div class="card-picture-frame-large">
                <div class="card-picture" style="background: url(<%= entity.PictureUrl.replace('Preview', 'SmallThumbnail') %>); background-size: contain; background-repeat: no-repeat; background-position: center;">
                </div>
            </div>
        </div>
       
    </div>
</div>
