﻿
#start-main-imports-container {
    display: table;
    border-spacing: 20px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
 
}

#selectMappingEntityType {
    width: 152px;
    margin-bottom: 10px;
}

#selectMappingEntityType {
    color: #333;
}

.select-specification-container {
    padding-bottom: 25px;
}

#mapping-specification .select-specification-container div ul li input[type='radio'] {
    display: inline-block;
}

#mapping-specification .select-specification-container div ul li input[type='radio'],
#mapping-columndata div ul li input[type='radio'] {
    display: inline-block;
}

#config-mapping-name {
    width: 142px;
    margin-bottom: 10px;
}

.select-specification-container .query-menu div {
    padding-right: 0px;
}

.supplier-card-text-area .card-text1 {
    font-weight: 400;
    font-size: 18px;
    padding-top: 2px;
    padding-left: 20px;
    margin-bottom: 0px;
    width: 340px;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.supplier-card-text-area .card-text2 {
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 20px;
    overflow: hidden;
    width: 350px;
    max-height: 65px;
}


#supplier-onboarding-top-row {
    margin: 0 20px 0 20px;
    height: 30px;
}

.card-text2-supplier-name, .card-text2-supplier-latest-activity, .card-text2-supplier-uploaded, .card-text2-supplier-uploadedbyname {
    float: left;
}

.card-text2-supplier-name, .card-text2-supplier-latest-activity {
    width: 100%;
}

.card-text2-supplier-latest-activity {
    padding-top: 5px;
}


.loadingspinner {
    height: 70px;
    width: 100%;
    position: relative;
    top: 20px;
    left: 45%;
}

.supplier-start-section-col-left {
    float: left;
    width: 45%;
    margin: 10px 10px;
}

.supplier-start-section-col-right {
    float: left;
    width: 45%;
    margin: 10px 10px;
}

.imports-start-section-col-left {
    float: left;
    width: 35%;
    margin: 10px 10px;
}

.imports-start-section-col-right {
    float: left;
    width: 55%;
    margin: 10px 10px;
}

.box-content {
    margin: 10px;
}

#suppliers-top-row {
    margin: 0 10px 0 10px;
    height: 30px;
}

#suppliers-users-section, #supplier-mappings-section {
    padding-bottom: 35px;
}

#list-of-mapping-add {
    float: right;
}

.box-content select, .box-content input {
    color: #333;
}

#edit-supplier-onboarding-name {
    width: 168px;
}

#supplier-onboarding-dropdown {
    float: left;
    padding: 5px;
    width: 150px;
}



#suppliers-dropdown {
    float: left;
    padding: 5px;
    width: 250px;
}

#supplier-onboarding-users-section {
    padding-bottom: 35px;
}

#xconnect-user-list-wrap, #xconnect-mapping-list-wrap {
    /*float: right;*/
    border-bottom: 1px solid #ccc; 
    margin-bottom: 5px;
}

.align-right {
    float: right;
}

.align-right-horizontal-padding {
    float: right;
    margin-top: 5px;
}

.list-item-wrap {
    clear: both;
    height: 20px;
    cursor: pointer;
}

.xconnect-list-item-label {
    /*float: left;*/
}

#is-assigned {
}

.xconnect-user-list-item-icon-button {
    cursor: pointer;
    /*padding: 8px;*/
    font-weight: normal;
    font-size: 15px;
    margin-left: 8px;
}

#list-item-edit, #list-item-remove, #open-item-in-workarea, #list-item-delete {
    float: right;
}

#edit-user-area {
}

    #edit-user-area a, #edit-user-area a:hover, #edit-user-area a:focus, #edit-user-area a:active, #edit-user-area a:visited {
        color: #2d2d2c;
        text-decoration: none;
    }


.std-supplier-onboarding-backbone-form > form > div > fieldset > div {
    padding: 0;
}

#is-assigned {
    margin: 0px;
    margin-right: 5px;
    margin-top: 1px;
    float: left;
}

.xconnect-list-item-info {
    color: #2d2d2c;
    float: right;
}

.supplier-user-password-reset {
    width: 460px;
}

.std-supplier-onboarding-backbone-form > form > div > fieldset > div > div, .edit-user-data {
    overflow: hidden;
    padding: 5px 0;
    /*border-bottom: 1px solid #bbbbbb;*/
}

.std-supplier-onboarding-backbone-form > form > div > fieldset {
    overflow: hidden;
    padding: 0;
    margin: 0;
    /*border-bottom: edit-supplier-onboarding-excluded-field-types-filter1px solid #bbbbbb;*/
}

.std-supplier-onboarding-dropdown {
    padding: 5px;
    width: 240px !important;
    border: 1px #ccc solid;
}

.edit-user-data-row {
    padding: 5px 0;
    margin: 5px 0;
}

.edit-user-data-row i{
    margin-right: 3px;
}

.edit-user-label {
    float: left;
    width: 100px;
    padding-top: 5px;
}

#edit-user-area > div > form > div > fieldset > div > label {
    width: 100px !important;
}

.edit-supplier-onboarding-label {
    display: inline-block;
    width: 180px;
    float: left;
    margin-top: 2px;
}

#api-key {
    width: 250px;
    margin-right: 15px;
    margin-bottom: 0;
    padding: 3px;
}

.std-supplier-onboarding-backbone-form > form > div > fieldset > div > label {
    float: left;
    width: 180px;
    padding-top: 10px;
}

.std-supplier-onboarding-backbone-form input {
    width: auto;
}

    .std-supplier-onboarding-backbone-form input[type=text],
    .std-supplier-onboarding-backbone-form select,
    .std-supplier-onboarding-backbone-form textarea,
    input[type=text].filter {
        padding: 5px;
        width: 240px !important;
        border: 1px #ccc solid;
    }


.std-supplier-onboarding-backbone-form > form > div > fieldset ul {
    /*-webkit-padding-start: 0;*/
    margin: 0;
    padding: 0;
}

/* inline checkboxes*/
.std-supplier-onboarding-backbone-form > form > div > div > div > div li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 5px;
    padding: 3px;
}

    /* inline checkboxes*/
    .std-supplier-onboarding-backbone-form > form > div > div > div > div li label {
        width: auto;
        float: none;
    }

/*.form-container-alternative-field-background {
    background-color: #f4f4f4 !important;
}*/

/*.edit-supplier-onboarding-area {
    margin-top: 70px;
    padding-bottom: 20px;

}*/

.ms-parent .selected {
    color: #333;
}

.ms-parent {
    color: #333 !important;
}


.color-picker-ctl {
    margin: 20px 0;
}

.edit-supplier-onboarding-textbox {
    border: 1px #ccc solid;
    padding: 5px;
    margin: 2px;
}

.edit-supplier-onboarding-pick-color {
    border: 1px #ccc solid;
    padding: 5px;
    margin: 2px;
}

    .edit-supplier-onboarding-pick-color > input {
        margin: 0;
        padding: 0;
        border: 0;
        width: 70px;
        height: 20px;
        border-right: 20px solid;
        line-height: 20px;
    }

.edit-supplier-onboarding-setting-wrap {
    display: inline-block;
}

#edit-supplier-onboarding-logo-preview-wrap {
    background: #fafafa;
    border: solid 1px #ddd;
    padding: 5px;
    margin-bottom: 3px;
    width: 92px;
    text-align: center;
}

#edit-supplier-onboarding-logo-preview {
    width: 90px;
    display: block;
}

#edit-supplier-onboarding-file-upload-wrap {
    height: 25px;
}

#edit-supplier-onboarding-excluded-field-types-filter {
    width: 140px !important;
    margin-bottom: 5px;
}

.edit-supplier-onboarding-setting-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
}

#file-upload-spinner {
    display: none;
    margin-left: 3px;
    /*float: right;*/
}

#add-new-mapping-wrap {
    margin-top: 65px;
}

#mapping-list-wrap {
    position: absolute;
    overflow-y: auto;
    bottom: 20px;
    top: 120px;
    right: 15px;
    left: 15px;
}

#start-new-mapping {
    margin-bottom: 5px;
}

#add-new-mapping-row {
    display: none;
    margin-bottom: 10px;
}

#add-new-mapping-entitytype-dropdown {
    width: 170px;
}

#add-new-mapping-fieldtype-dropdown {
    width: 170px;
}

#add-new-mapping-value {
    width: 150px;
}

.mapping-row {
    display: table-row;
    border-bottom: solid #aaa 1px;
}

.mapping-row-header {
    display: table-row;
    border-bottom: solid #aaa 1px;
    background-color: #e6e6e6;
}

.mapping-file-column {
}


.mapping-detail-list {
    display: table;
    position: absolute;
    top: 135px;
    bottom: 15px;
    overflow-y: auto;
    left: 15px;
    right: 15px;

    border-collapse: collapse;
}

.modal-popup-square-medium {
    width: 60%;
    min-width: 622px;
    position: fixed;
    overflow-x: auto;
}

.add-new-mapping-row-col {
    display: inline-block;
}

#mapping-item-wrap {
    margin: 5px 0;
}

#mapping-item-entitytype {
    color: #999;
}

.mapping-col {
    display: inline-block;
    width: 160px;
    margin-right: 5px;
}

.mapping-col-2 {
    display: inline-block;
    width: 260px;
    white-space: nowrap;
}

#mapping-item-remove {
}

#mapping-item-value {
    margin-left: 10px;
    width: 140px;
}

#reset-password {
    float: left;
}

#delete-user {
    float: right;
}


.content {
    margin-top: 65px;
}

.imagewrapper {
    float: left;
    height: 75px;
    width: 75px;
}

    .imagewrapper img {
        float: left;
        height: 100%;
        width: 100%;
    }

.entity {
    margin-top: 10px;
    clear: both;
    height: 85px;
    width: 290px;
    border: 1px solid #dddddd;
    padding: 5px;
}


.xconnect-mapping-item-label {
    width: 200px;
    position: absolute;
}

.xconnect-mapping-item-type {
    left: 210px;
    position: relative;
}

.mapping-file-column, .mapping-fieldtype-column, .mapping-language-column, .mapping-specification-column, .mapping-specification-language-column {
    margin-top: 5px;
    width: 180px;
    display: inline-block;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wizard > .content > .body div.error input {
    display: inline-block;
}

.xconnect-pending-item-by {
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.xconnect-pending-item-count {
    float: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    display: inline-block;
}

.xconnect-pending-item-name {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}

.xconnect-pending-item-supplier-name {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}

.xconnect-pending-item-mapping-name {
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}

.upload-info-row-key {
    padding-left: 20px;
    padding-top: 4px;
    width: 200px;
    vertical-align: top;
    display: inline-block;
}

.supplieronboarding-title {
    display: inline-block;
}

.supplieronboarding-horizontal-padding {
    padding-top: 5px;
}

.upload-info-row-value {
    display: inline-block;
    color: #333;
    -moz-min-width: 20px;
    -ms-min-width: 20px;
    -o-min-width: 20px;
    -webkit-min-width: 20px;
    min-width: 40px;
    padding-top: 5px;
}

.upload-details {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}


    .upload-details button {
        float: right;
    }

#cardarea {
    position: absolute;
    top: 150px;
    bottom: 10px;
    overflow-y: auto;
    float: left;
    width: 330px;
}

#history-cardarea {
    position: absolute;
    top: 190px;
    bottom: 10px;
    overflow-y: auto;
    float: left;
    width: 325px;
}

#detailarea {
    top: 150px;
    bottom: 10px;
    overflow-y: auto;
    float: left;
    right: 10px;
    left: 350px;
    position: absolute;
}

#history-detailarea {
    top: 190px;
    bottom: 10px;
    overflow-y: auto;
    float: left;
    right: 10px;
    left: 350px;
    position: absolute;
}


.saving {
    opacity: 0.3;
}

/* supplieronboarding.css (479, 16) */
#view-details {
    top: 40px;
    left: 130px;
    margin-top: 20px;
    position: relative;
}

#reject {
    top: 20px;
    left: 30px;
    margin-top: 20px;
    position: relative;
}

#history-view-details {
    top: 45px;
    right: -125px;
    margin-top: 20px;
    position: relative;
}

/* supplieronboarding.css (498, 15) */
button#reject {
    top: 15px;
    position: relative;
    right: -60px;
}

#details-hidden-wrapper {
    display: none;
}

.entity-header-wrapper {
    border-bottom: 1px solid #dddddd;
    height: 100px;
    padding: 5px;
}

div.rejected {
    opacity: 0.3;
}

.supplier-card-entity-icon {
    position: relative;
    top: 3px;
    margin-left: 10px;
}

.supplier-card-entity-name {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: right;
    margin-top: 3px;
}

.supplier-pending-field-changes {
    overflow: hidden;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
}

.supplier-pending-value-container {
    display: flex;
    padding-left: 20px;
}

.supplier-pending-field-type {
    padding-left: 10px;
    display: inline-block;
}

.supplier-pending-language {
    padding-left: 20px;
}

.supplier-pending-current-server-value {
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    color: #888888;
}

.supplier-pending-value {
    flex: 1;
    color: #000000;
}

.supplier-pending-data-header-value {
    display: inline-block;
    width: 7em;
    -moz-min-width: 7em;
    -ms-min-width: 7em;
    -o-min-width: 7em;
    -webkit-min-width: 7em;
    min-width: 7em;
}

.supplier-pending-data-header {
    left: -60px;
    font-weight: bold;
    min-height: 27px;
    position: relative;
    top: 60px;
}

.supplier-pending-data-header-field {
    display: inline-block;
}

.supplier-pending-data-header-history-new {
     overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 550px;
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
}

#delete-supplier {
    cursor: pointer;
    float: right;
    margin-right: 55px;
}

#create-supplier {
    cursor: pointer;
    float: right;
}

.xconnect-pending-item-date {
    margin-right: 10px;
    cursor: pointer;
    width: 10em;
}

#specification-link {
}

#specification-remove {
}

ul.import-specification-tabs {
    display: inline-table;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

    ul.import-specification-tabs > li {
        float: left;
        padding: 1em 1em;
        background-color: #fff;
        color: #2d2d2c !important;
        list-style: none;
        margin: 0 0.5em 0 0;
        width: 250px;
        cursor: pointer;
        border: 1px solid #eee;
    }
    
    ul.import-specification-tabs a:hover {
        color: #2d2d2c !important;
    }


#supplier-onboarding-navigation-links-wrap {
    display: inline-block;
    margin-left: 30px;
}



#supplier-onboarding-navigation-links-wrap a {
    color: #fff;
    margin: 0;
    padding: 0 15px;
    display: inline-block;
}

#supplier-onboarding-navigation-links-wrap a i {
    margin-right: 8px;
}

#save-supplier-filter {
    margin-left: 10px;
}

#saveSupplier input {
    border-color: #ccc;
}

#save-supplier-button {
    position: relative;
    left: 250px;
}

#supplier-input-control {
    margin-top: 15px;
}

#app-tools-container-save-supplier #app-tools-container {
    cursor: default;
    width: 380px;
}


#imports-suppliers-section .supplier-card-wrap {
    position: relative;
    float: left;
    -moz-min-width: 270px;
    -ms-min-width: 270px;
    -o-min-width: 270px;
    -webkit-min-width: 270px;
    min-width: 497px;
    color: black;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    height: 90px;
    box-shadow: 1px 1px 1px #888888;
}

.supplier-card-wrap:hover {
    -webkit-box-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.175);
    color: black;
}

.supplier-card-picture-area {
    float: left;
}

.supplier-card-picture-frame {
    position: relative;
    height: 80px;
    width: 80px;
}

.supplier-card-picture-frame img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#items-paginator-area {
    text-align: center;
}

#items-status-text {
    text-align: center;
    font-style: italic;
}

#imports-history-section .paging-button {
    background-color: #fff;
    color: #000000;
}

#imports-history-section :disabled.paging-button {
    color: #aaa;
    border: 1px #e5e5e5 solid;
}

#import-all, #reject-all, #delete, #delete-imported-hisitory {
    float: right;
}

.import-specification-tabs .current {
    border-bottom: 2px #d33138 solid;
    color: #2d2d2c;
}

#import-configuration .import-mapping-column-right, 
#import-configuration .import-mapping-column-left  {
    padding: 0 1em;
    min-width: 250px;
}

/*#mapping-columndata-entitytype .import-mapping-column-right, 
#mapping-columndata-entitytype .import-mapping-column-left  {
    padding: 0 1em;
    min-width: 250px;
}*/

#import-configuration .import-label {
    width: 200px;
}

#import-configuration .fa-wrench { margin-right: 5px;}

#import-configuration.noSpecificationControlls #mapping-columndata-entitytype div, 
#import-configuration.noSpecificationControlls .import-label  {
    padding: 0;
    min-width: 0px;
}

#import-configuration.noSpecificationControlls .import-mapping-column-left, 
#import-configuration.noSpecificationControlls .import-label  {
    width: 200px;
}

#import-configuration.noSpecificationControlls h2{
    padding-top: 25px;
}

#import-configuration.noSpecificationControlls .select-specification-container{
    padding-bottom: 0;
}

.fill-horizontally {
    width: 100%;
}

.current span {
    padding-bottom: 5px;
}

#supplier-onboarding-navigation-links-wrap .current span {
    border-bottom: solid 3px #ffffff;
}

.mapping-detail-list {
    margin-top: 20px;
    /*border-top: solid 1px #2d2d2c;*/
    padding-top: 10px;
}

.mapping-file-column,
.mapping-fieldtype-column,
.mapping-specification-column,
.mapping-language-column,
.mapping-specification-language-column {
    display: table-cell;
}

.entity-view-details-row-key {
    width: 200px !important;
}

#mapping-columndata-entitytype img {
    margin-right: 5px;
}


