﻿<div class="content">
    <div id="loading">
        <img src="/Images/nine-squares-48x48.gif" />
        <div><h2>Start importing entities</h2></div>
    </div>
    <div class="upload-details">
        <button id="reject-all">Discard All</button>
        <button id="import-all">Import All</button>
        <div> <div class="upload-info-row-key">Name</div><div class="upload-info-row-value"><%=model.name%></div></div>
        <div> <div class="upload-info-row-key">Uploaded By</div><div class="upload-info-row-value"><%=model.uploadedByName%></div></div>
        <div> <div class="upload-info-row-key">Uploaded</div><div class="upload-info-row-value"><%=model.uploaded%></div></div>
    </div>
    
    <div id="cardarea"></div>
    <div id="detailarea"></div>
</div>
