﻿  <div class="list-item-wrap">
      <span class="xconnect-pending-item-date" title="<%=model.name%>"><%=model.uploadedText%></span>
      <span class="xconnect-pending-item-name" title="<%=model.name%>"><%=model.name%></span>
      <span class="xconnect-pending-item-by" title="<%=model.uploadedByName%>"><%=model.uploadedByName%></span>
  </div>
