﻿<div>
    <div class="entity" id="card-<%= data.entityId%>">
        <% if (data.media != "" && data.media.length > 0){ %>
        <span class="image"><a href="/api/xconnect/<%=data.media[0].fileUrl%>" target="_blank"> <div class="imagewrapper"><img src="/api/xconnect/<%=data.media[0].fileUrl%>?height=75&width=75" /></div></a></span>
        <%} else  if (data.currentPictureUrl != "") {%>
        <span class="image"><a href="<%=data.currentPictureUrl%>" target="_blank"> <div class="imagewrapper"><img src="<%=data.currentPictureUrl%>" style="max-height:120px; max-width:120px" /></div></a></span>
        <% } %>
        <img class="supplier-card-entity-icon" src="../icon?id=<%= data.entityTypeId %>" title="<%= data.entityTypeId %>" />
        <span class="supplier-card-entity-name"><%= data.name %></span>
        <br />
        <button id="view-details">View Details</button>
        <button id="reject">Discard</button>


        <div id="details-hidden-wrapper">
            <div class="entity-header-wrapper" id="<%=data.id%>">
                <% if (data.media != "" && data.media.length > 0){ %>
                <span class="image"><a href="/api/xconnect/<%=data.media[0].fileUrl%>" target="_blank"> <div class="imagewrapper"><img src="/api/xconnect/<%=data.media[0].fileUrl%>?height=120&width=120" /></div></a></span>
                <%} else  if (data.currentPictureUrl != "") {%>
                <span class="image"><a href="<%=data.currentPictureUrl%>" target="_blank"> <div class="imagewrapper"><img src="<%=data.currentPictureUrl%>" style="max-height:120px; max-width:120px" /></div></a></span>
                <%}%>
                <div class="entity-header-data">
                    <img class="supplier-card-entity-icon" src="../icon?id=<%= data.entityTypeId %>" title="<%= data.entityTypeId %>" /> <%= data.name %>
                </div>
                <div class="supplier-pending-data-header">
                    <div class="supplier-pending-data-header-field">Field</div>
                    <div class="supplier-pending-data-header-new">New value</div>
                    <% if (data.entityId != 0){ %>
                    <div class="supplier-pending-data-header-current">Current value</div>
                    <%} %>
                </div>

            </div>
            <% _.each(data.fields, function(field){ %>

            <div class="entity-view-details-row" id="field-wrapper">
                <div class="entity-view-details-row-key "><%=field.fieldType%></div>
                <div class="value-placeholder">
                   
                        <div title="<%=field.displayValue%>" class="supplier-pending-value"><%=field.displayValue%></div>
                  
                    <% if (field.oldValue != null){ %>
                  
                        <div title="<%=field.oldValue%>" class="supplier-pending-current-server-value"><%=field.oldValue%></div>
                  

                    <%} %>
                </div>
            </div>
            <%}) %>
        </div>
    </div>
</div>


