﻿<div>
    <div class="box-title">
        <span class="icon-entypo-fix-upload std-entypo-fix-icon box-title-icon"></span>Pending Imports
    </div>
    <div class='box-content' id="xconnect-pending-list-wrap">
        <ul class="flat-ul"></ul>
    </div>
</div>
