﻿@using Absolunet.InRiver.AdminWebsite.Services
@model Absolunet.InRiver.AdminWebsite.ViewModels.OperationListViewModel

@{
    ViewBag.Title = Resources.Operations.OperationsTitle;
    var status = "queue-is-"+Model.IsConnectorRunning.ToString().ToLower();
    var statusTitle = Model.IsConnectorRunning ? Resources.Operations.QueueOnFlag : Resources.Operations.QueueOffFlag;
}

<div class="row">
    <h1 class="columns small-12">@Resources.Portal.Operations <span class="@status" data-tooltip aria-haspopup="true" class="has-tip" tabindex="1" title="@statusTitle"></span></h1>
</div>

@using (Html.BeginForm("OperationRefreshSubmit", "Operation", FormMethod.Post, new { id = "TaskQueueForm" }))
{
    <div class="panel panel-info">
        <div class="panel-body panel-box">
            <div class="panel-title">
                <h2>
                    @Resources.Operations.PanelTitle
                </h2>
            </div>
            <div class="panel-core clearfix">
                <div class="row">
                    <div class="medium-3 columns calendar-icon">
                        <label for="StartDate">@Resources.Operations.StartDateLabel</label>
                        @Html.TextBoxFor(m => m.StartDate, new { placeholder = "Format: yyyy-MM-dd HH:mm"})
                    </div>
                    <div class="medium-3 columns calendar-icon">
                        <label for="EndDate">@Resources.Operations.EndDateLabel</label>
                        @Html.TextBoxFor(m => m.EndDate, new { placeholder = "Format: yyyy-MM-dd HH:mm"})
                    </div>
                    <div class="medium-3 columns">
                        <label for="ChannelIdFilter">@Resources.Operations.ChannelIdLabel</label>
                        @Html.DropDownListFor(m => m.ChannelIdFilter, Model.ChannelIdsList)
                    </div>
                    <div class="medium-3 columns">

                    </div>
                </div>

                <div class="row">
                    <div class="medium-3 columns">
                        <label for="">@Resources.Operations.StatusLabel</label>
                        <button class="button btn-full" type="button" data-toggle="example-dropdown">@Resources.Operations.StatusButton</button>
                        <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <fieldset class="form-group">
                                        <legend>@Resources.Operations.StatusLegend</legend>
                                        <label for="Status0">@Html.CheckBoxFor(model => model.Status0) <i class="fa fa-ellipsis-h"></i> @Resources.Operations.StatusPending (0)</label>
                                        <label for="Status1">@Html.CheckBoxFor(model => model.Status1) <i class="fa fa-refresh"></i> @Resources.Operations.StatusProcessing (1)</label>
                                        <label for="Status2">@Html.CheckBoxFor(model => model.Status2) <i class="fa fa-exchange"></i> @Resources.Operations.StatusTransferring (2)</label>
                                        <label for="Status3">@Html.CheckBoxFor(model => model.Status3) <i class="fa fa-check-circle-o"></i> @Resources.Operations.StatusCompleted (3)</label>
                                        <label for="Status4">@Html.CheckBoxFor(model => model.Status4) <i class="fa fa-exclamation-triangle"></i> @Resources.Operations.StatusSkipped (4)</label>
                                        <label for="Status5">@Html.CheckBoxFor(model => model.Status5) <i class="fa fa-exclamation-triangle"></i> @Resources.Operations.StatusFailed (5)</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns">
                        <label for="ActionTypeFilter">@Resources.Operations.OperationNameLabel</label>
                        @Html.DropDownListFor(m => m.OperationNameFilter, Model.OperationNamesList)
                    </div>
                    <div class="medium-4 columns">
                        <label for="SearchKeywords">@Resources.Operations.SearchKeywordsLabel</label>
                        @Html.TextBoxFor(m => m.SearchKeywords, new { style = "width:100%;" })
                    </div>
                    <div class="medium-2 text-right columns" style="padding-top: 33px;">
                        @Html.HiddenFor(m => m.Skip)
                        @Html.HiddenFor(m => m.Take)
                        @Html.HiddenFor(m => m.Sort)
                        @Html.HiddenFor(m => m.TotalTasks)
                        @Html.HiddenFor(m => m.Pager.CurrentPage)
                        @Html.HiddenFor(m => m.ProcessBulkDelete)
                        <input type="submit" value="@Resources.Operations.FilterButton" data-component="reset-pager" class="button medium-12 btn-filter" />
                    </div>
                </div>

            </div>
        </div>
    </div>

if (Model.IsQueueStopped)
{
    <div class="alert callout" data-closable>
        <p><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;@Model.QueueStoppedErrorMessage</p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row">
    <div class="action-panel clearfix">
        <div class="medium-6 columns viewing-count">
            @Html.Partial("Pager", Model.Pager)
        </div>
        <div class="medium-6 columns">
        @if (SecurityService.UserIsInRole(Constants.Roles.Admin))
        {
            <a class="button float-right btn-delete-filter alert" href="#" role="button">@Resources.Operations.DeleteAllButton</a>
            <a class="button float-right btn-status-filter" href="#" data-component="reset-pager" role="button">@Resources.Operations.UpdateAllStatusButton</a>
            <span class="small-1 columns float-right">@Html.TextBoxFor(m => m.BulkUpdateStatusValue, new { @class = "nomargin" })</span>
        }
        </div>
    </div>
</div>

<div class="task-list">
    <table class="hover">
        <thead>
        <tr>
            <th>@Resources.Operations.ChannelIdLabel</th>
            <th>@Resources.Operations.EntityIdLabel</th>
            <th class="text-center">@Resources.Operations.StatusLabel</th>
            <th class="text-center">@Resources.Operations.OperationNameLabel</th>
            <th class="text-center info-row">@Resources.Operations.InfoLabel</th>
            <th class="text-center header" data-component="date-sorting">@Resources.Operations.DateUpdatedLabel</th>
            <th class="text-center">@Resources.Operations.DateCompletedLabel</th>
            <th class="text-center">@Resources.Operations.ProcessingTimeLabel</th>
            @if (SecurityService.UserIsInRole(Constants.Roles.Admin))
            {
                <th>@Resources.Operations.ActionLabel</th>
            }
        </tr>
        </thead>

        @if (Model.OperationItems != null && Model.OperationItems.Any())
        {
            foreach (var operation in Model.OperationItems)
            {
                <tr>
                    <td>@operation.ChannelId</td>
                    <td>
                        @if (operation.EntityId > 0)
                        {
                            <a href="@operation.EntityLink" data-component="link-entity" target="_blank">@operation.EntityId</a>
                        }
                    </td>
                    <td class="text-center">
                        @switch (operation.State)
                        {
                            case 0:
                                <i class="fa fa-ellipsis-h top has-tip" data-tooltip aria-haspopup="true" tabindex="1" title="@Resources.Operations.StatusPending (0)"></i> 
                                <span class="hidden-txt">0</span>
                                break;
                            case 1:
                                <i class="fa fa-refresh top has-tip" data-tooltip aria-haspopup="true" tabindex="1" title="@Resources.Operations.StatusProcessing (1)"></i>
                                <span class="hidden-txt">1</span>
                                break;
                            case 2:
                                <i class="fa fa-exchange top has-tip" data-tooltip aria-haspopup="true" tabindex="1" title="@Resources.Operations.StatusTransferring (2)"></i>
                                <span class="hidden-txt">2</span>
                                break;
                            case 3:
                                <i class="fa fa-check-circle-o top has-tip" data-tooltip aria-haspopup="true" tabindex="1" title="@Resources.Operations.StatusCompleted (3)"></i>
                                <span class="hidden-txt">3</span>
                                break;
                            case 4:
                                <i class="fa fa-exclamation-triangle top has-tip" data-tooltip aria-haspopup="true" tabindex="1" title="@Resources.Operations.StatusSkipped (4)"></i>
                                <span class="hidden-txt">4</span>
                                break;
                            case 5:
                                <i class="fa fa-exclamation-triangle top has-tip" data-tooltip aria-haspopup="true" tabindex="1" title="@Resources.Operations.StatusFailed (5)"></i>
                                <span class="hidden-txt">5</span>
                                break;
                        }
                    </td>
                    <td>@operation.OperationName</td>
                    <td class="info-row">@operation.AdditionalInfo</td>
                    <td>@(operation.LastModifiedDate.HasValue ? operation.LastModifiedDate.GetValueOrDefault().ToString(Resources.Operations.DateFormat) : "n/a")</td>
                    <td>@(operation.EndProcessingDate.HasValue ? operation.EndProcessingDate.GetValueOrDefault().ToString(Resources.Operations.DateFormat) : "n/a")</td>
                    <td>@(operation.ProcessingTime.TotalSeconds > 0 ? operation.ProcessingTime.ToString("g") : "n/a")</td>
                    @if (SecurityService.UserIsInRole(Constants.Roles.Admin))
                    {
                        <td><a class="btn btn-default btn-delete" href="#" data-action="@Url.Action("OperationDelete", "Operation", new {key = operation.Key})" role="button">@Resources.Operations.DeleteButton</a></td>
                    }
                </tr>
            }
        }
        else
        {
            <tr class="no-data">
                <td colspan="7">@Resources.Operations.NoDataLabel</td>
            </tr>
        }

    </table>
</div>

    <div class="row">
        <div class="action-panel-bottum">
            <div class="medium-6 columns viewing-count">
                @Html.Partial("Pager", Model.Pager)
            </div>
            <div class="medium-6 columns">
                @if (SecurityService.UserIsInRole(Constants.Roles.Admin))
                {
                    <a class="button float-right btn-delete-filter alert" href="#" role="button">@Resources.Operations.DeleteAllButton</a>
                }
            </div>
        </div>
    </div>
}
