﻿@model Absolunet.InRiver.AdminWebsite.ViewModels.PagerViewModel

@if (Model.ResultCount > 0)
{
    <div class="medium-6 columns viewing-count pagination-with-input" role="menubar" aria-label="Pagination">
        <div class="center-wrap">
            <div class="pager-result">
                @Model.ResultFrom - @Model.ResultTo / @Model.ResultCount
            </div>

            @{
            string isPrevDisabled = (Model.CurrentPage > 1) ? string.Empty : "disabled";
            string isNextDisabled = (Model.CurrentPage < Model.PageCount) ? string.Empty : "disabled";
            }
            <ul>
                <li>
                    <a href="javascript:void(0)" data-page-index="1" data-component="pager" class="button" @Html.Raw(isPrevDisabled)><i class="fa fa-angle-double-left" ></i></a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-page-index="@(Model.CurrentPage - 1)" data-component="pager" class="button" @Html.Raw(isPrevDisabled)><i class="fa fa-angle-left"></i></a>
                </li>
                <li class="pager-input">@Html.TextBoxFor(m => m.CurrentPage, new { @class = "nomargin pager-input", data_component = "pager" })</li>
                <li>
                    <div class="pager-count">
                        @Resources.Operations.Of @Model.PageCount
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)" data-page-index="@(Model.CurrentPage + 1)" data-component="pager" class="button" @Html.Raw(isNextDisabled)><i class="fa fa-angle-right"></i></a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-page-index="@Model.PageCount" data-component="pager" class="button" @Html.Raw(isNextDisabled)><i class="fa fa-angle-double-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
}

