<div class="ad">
	<div class="pic">
		<a href="<%= ads[0].site_url %>"><img src="<%= ads[0].image_url %>" width="150" /></a>
	</div>
	<div class="info">
		<h4>X<%= ads[0].title %></h4>
		<p><%= ads[0].description %></p>
	</div>
</div> 
<div class="ad">
	<div class="pic">
		<a href="<%= ads[1].site_url %>"><img src="<%= ads[1].image_url %>" width="150" /></a>
	</div>
	<div class="info">
		<h4>Y<%= ads[1].title %></h4>
		<p><%= ads[1].description %></p>
	</div>
</div> 
