﻿[% capture Image %]
    <img src="[[Model.ImageUrl]]" alt="[[Model.AltText]]" style="[[Model.HeightStyleDeclaration]] [[Model.WidthStyleDeclaration]]" />
[% endcapture %]

<div class="block image [[Model.CssClass]]">
    <div class="block-wrapper">
        [%- if Model.IsLinkProvided -%]
            <a href="[[Model.Link]]">[[Image]]</a>
        [%- else -%]
            [[Image]]
        [%- endif -%]
    </div>
</div>