﻿<div class="entity-view-overview-details-row">
    <div class="width-limited-container-overview">
        <div class="entity-overview-details-row-key" title="<%= description %>"><%= key %></div>
        <div id="value" title="<%= value %>"><%= value %></div>
    </div>
</div>