﻿<div id="main-client-area">
    <div class="overview-container">
        <div id="picturearea" class="entity-overview-container-left ">
            <h2>
                <span class="icon-entypo-fix-camera std-entypo-fix-icon box-title-icon"></span>
                Media
            </h2>
            <ul class="thumbnails-overview"></ul>
        </div>
        <div id="fieldarea" class="entity-overview-container-left">
            <h2><span class="icon-entypo-fix-list std-entypo-fix-icon box-title-icon"></span>Details</h2>
            <div id="field-area-content"></div>
        </div>
    </div>
    <div class="overview-container">
        <div id="channelarea" class="entity-overview-container-right">
            <h2><span class="icon-entypo-fix-globe std-entypo-fix-icon box-title-icon"></span>
            Used In</h2><div id="channel-area-content"></div></div>
        <div id="inboundarea" class="entity-overview-container-right">
            <h2><span class="icon-entypo-fix-link std-entypo-fix-icon box-title-icon"></span>Included in</h2>
            <div id="inbound-area-content"></div>
        </div>
        <div id="outboundarea" class="entity-overview-container-right"><h2><span class="icon-entypo-fix-link std-entypo-fix-icon box-title-icon"></span>Includes</h2><div id="outbound-area-content"></div></div>
    </div>
</div>
