﻿    <% var icon = entity.EntityType %>
    <% if (active == "active") { %>

<% if (icon == "Channel" && !entity.ChannelPublished) {icon = "ChannelUnpublished"} %>

<div class="card-wrap-overview" id="<%= entity.Id %>">
    <% }else{ %>
    <div class="card-wrap-overview relation-inactive" id="<%= entity.Id %>">
        <% } %>
        <div class="card-picture-area-overview">
            <div class="card-picture-frame-overview">
                <div class="card-picture-overview" title="<%= entity.DisplayName %>" style="background: url(<%= entity.PictureUrl.replace('Preview', 'SmallThumbnail') %>); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
            </div>
        </div>
        <div id="contextmenu"></div>
        <% if (entity.Completeness!=null) { %>
        <div class="completeness-small"><span class="pie" title="<%= entity.DisplayName %> is <%= entity.Completeness %>% complete"><%= pie %></span></div>
        <% } %>
        <div class="card-header-area-overview">
            <div class="card-text1-overview" title="<%= entity.DisplayName %>"><img src="../icon?id=<%=icon %>" title="<%= entity.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= entity.DisplayName %><% if (entity.LockedBy != null && entity.LockedBy != "") { %>&nbsp;<i class="fa fa-lock" style="font-size: 14px; font-weight: normal;" title="Locked by <%= entity.LockedBy%>"></i><% } %></div>
        </div>
        <div class="card-text2-large-overview" title="<%= entity.DisplayDescription %>"><%= entity.DisplayDescription %></div>

    </div>
