﻿<div class="modal-popup-square-large">
    <div class="popup-wrap">
        <div>
            <div class="">
                <div class="popup-header-row">
                    <span class="popup-header-text popup-header">
                        Conflicts
                        <%= data.DisplayName %>&nbsp;
                    </span>
                    <span id="main-header-buttons">
                        <button id='conflict-save-button'>Save</button>
                        <button id='conflict-cancel-button'>Cancel</button>
                    </span>
                   
                </div>
            </div>
            <div class="settings-view-top-offset">
                <div id="main-client-area" class="entity-settings-fixed-header-row-offset">
                    <div>Some fields has been updated since they where loaded.<br /> Please select below which value that should be the current value.</div>
                    <div id="conflict-row-container">
                        <table>
                            <tbody id="conflictbody">
                                <tr>
                                    <th>FieldType</th>
                                    <th>Local value</th>
                                    <th>Server value</th>
                                    <th>Selected value</th>
                                </tr>
                            </tbody>



                        </table>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





