﻿<div id="main-client-area">
    <div class="details-view-tools-row">
        <div class="content-area-tools" id="entity-detail-settings-fieldset-dropdown-wrap"></div>
        <span class="content-area-tools" id="entity-detail-settings-expand"><i class="fa fa-plus-square-o row-icon-button" title="Expand all categories"></i> Expand All</span>
        <span class="content-area-tools" id="entity-detail-settings-collapse"><i class="fa fa-minus-square-o row-icon-button" title="Collapse all categories"></i> Collapse All</span>
        <span class="content-area-tools" id="entity-detail-settings-undo-all-button"><i class="fa fa-undo row-icon-button" title="Undo all changes"></i> Undo</span>
        <span class="content-area-tools" id="entity-detail-settings-save-all-button"><i class="fa fa-floppy-o row-icon-button" title="Save all changes"></i> Save</span>
    </div>
    <div id="details-view-wrap">

    </div>
</div>