﻿<div id="context-editor-iframe-wrap">
    <!--<div class="details-view-tools-row">
        <div class="content-area-tools" id="entity-detail-settings-fieldset-dropdown-wrap"></div>
        <span class="content-area-tools" id="entity-detail-settings-undo-all-button"><i class="fa fa-undo row-icon-button" title="Undo all changes"></i> Undo</span>
        <span class="content-area-tools" id="entity-detail-settings-save-all-button"><i class="fa fa-floppy-o row-icon-button" title="Save all changes"></i> Save</span>
    </div>-->
    <iframe id="context-editor-iframe">
            
    </iframe>
</div>