﻿
<%if(TypeId=="Publication"){%>
<div title="<%= Title %>, open in Plan &amp; Release" class="entity-overview-publication" id="<%= Id %>"><img title="<%= TypeName %>" src="../icon?id=Publication" /><span><%= Title %></span></div>
<%} else if(Published == true){%>
<div title="<%= Title %>, open in Plan &amp; Release" class="entity-overview-channel" id="<%= Id %>"><img title="<%= TypeName %>" src="../icon?id=Channel" /><span><%= Title %></span></div>
<%} else{%>
<div title="<%= Title %>, open in Plan &amp; Release" class="entity-overview-channel" id="<%= Id %>"><img title="<%= TypeName %>" src="../icon?id=ChannelUnpublished" /><span><%= Title %></span></div>
<%}%>