﻿        <!--       <div class="popup-header-row">
                   <div class="popup-main-header-row">
                       <span class="popup-header-text">
                           <span class="popup-header">
                               <%= data.EntityTypeDisplayName %> <%= data.DisplayName %>
                           </span>
                           <span class="popup-header-description">
                               <%= data.DisplayDescription %>
                           </span>
                       </span>
                       <span id="main-header-buttons">
                           <span class="fa fa-times control-row-icon-button" title="Close popup window" id="close-icon"></span>
                       </span>
                   </div>
               </div>
            -->
                <div id="main-client-area" class="modal-fixed-details">

                    <ul class="flat-ul">

                        <li>
                            <div class="list-row">
                                <span class="list-key">System Id</span>
                                <span class="list-value"><%= data.Id %></span>
                            </div>
                        </li>
                        <li>
                            <div class="list-row">
                                <span class="list-key">Version</span>
                                <span class="list-value"><%= data.Version %></span>
                            </div>
                        </li>
                        <li>
                            <div class="list-row">
                                <span class="list-key">Locked By</span>
                                <span class="list-value"><%= data.LockedBy %></span>
                            </div>
                        </li>
                        <li>
                            <div class="list-row">
                                <span class="list-key">Created By</span>
                                <span class="list-value"><%= data.CreatedBy %></span>
                            </div>
                        </li>
                        <li>
                            <div class="list-row">
                                <span class="list-key">Created Date</span>
                                <span class="list-value"><%= data.CreatedDate %></span>
                            </div>
                        </li>
                        <li>
                            <div class="list-row">
                                <span class="list-key">Modified By</span>
                                <span class="list-value"><%= data.ModifiedBy %></span>
                            </div>
                        </li>
                        <li>
                            <div class="list-row">
                                <span class="list-key">Modified</span>
                                <span class="list-value"><%= data.ModifiedDate %></span>
                            </div>
                        </li>



                    </ul>
                </div>


