﻿
  <!--          <div class="popup-header-row">
    <div class="popup-main-header-row">
        <span class="popup-header-text">
            <span class="popup-header">
                <% if (isNew) { %>
                Create <%= data.EntityTypeDisplayName %>
                <% } else { %>
                <%= data.EntityTypeDisplayName %> <%= data.DisplayName %>
                <% } %>

            </span>
            <span class="popup-header-description"><%= data.DisplayDescription %></span>
        </span>  
        <span id="main-header-buttons">
            <button id='save-form-button'>Save</button>
            <button id='cancel-form-button'>Cancel</button>
        </span>

    </div>

</div>-->
                <div id="main-client-area" class="entity-settings-fixed-header-row-offset">
                    <div id="inriver-fields-form-area">

                    </div>
                </div>
          
<div id="conflictContainer">
</div>
