﻿<div class="entity-view-details-row" id="field-wrapper-<%= Id %>">
    <div class="entity-view-details-row-key <% if (ExcludeFromDefaultView == true ) { %> fieldset-field <% } %>" title="<%= Description %>"><%= Name %></div>
    <div class="history-wrapper"></div>
    <div class="value-placeholder"></div>
</div>
