﻿<div class="entity-view-details-row <%= !isOddRow ? 'entity-view-details-row-odd' : '' %>">
    <div class="width-limited-container">
        <% var fClass= "" %>
        <% if (excludeFromDefaultView) {%>
        <% fClass=" fieldset-field" %>
        <%} %>
        <div class="entity-view-details-row-key<%=fClass%>"><%= key %></div>
        <% if(value instanceof Array) { %>
        <div id="value">
            <% _.each(value, function(v) { %>
            <%= v %>;&nbsp;
            <% }); %>
        </div>
        <% } else { %>
        <div id="value"><%= value %></div>
        <% } %>

    </div>
    <div class="editrow" style="display: none">
        <div class="editor"></div>
        <div id="history" class="entity-view-details-row-history">
            <% if (historyId) {%>
            <span title="View Field history" class="icon-entypo-fix-back-in-time std-entypo-fix-icon row-icon-button" id="view-history-button" fieldtypeid="<%= historyId %>" fielddatatype="<%= type %>"></span>
            <%}%>
        </div>
        <button id="save-button" disabled="disabled">Save</button>
    </div>
</div>