﻿<div id="main-client-area">
    <div class="content-area-tools-row">
        <span class="content-area-tools" id="expand"><i class="fa fa-plus-square-o row-icon-button" title="Expand all categories"></i> Expand All</span>
        <span class="content-area-tools" id="collapse"><i class="fa fa-minus-square-o row-icon-button" title="Collapse all categories"></i> Collapse All</span>
        <span class="content-area-tools" id="saveAll" style="display:none"><i class="fa fa-floppy-o row-icon-button" title="Save all"></i> Save All</span>

    </div>
    <div id="details-row-container">

    </div>
</div>