﻿<div class='field-editor-wrap' fieldtypeid='<%=type%>'>
    <fieldset>
        <div class='field-editor-label-wrap'>
            <div class='field-editor-label' title="<%=description%>">
                <% if(typeof highlightedLabel !== "undefined" && highlightedLabel == true) { %>
                <b><%=name%></b>
                <% } else { %>
                <%=name%>
                <% if(typeof unit !== "undefined" && unit !== null && unit !== "") { %>
                        <span><%="("%><%=unit%><%=")"%></span>
                <% } %>
                <% } %>
            </div>
            <% if (typeof revision !== "undefined" && revision > 0 && shouldTrackChanges ) { %>
            <span title='View Field history' class='icon-entypo-fix-back-in-time std-entypo-fix-icon row-icon-button' id='view-history-button' fieldtypeid='<%=type%>' fielddatatype='<%=dataType%>'></span>
            <span title='Hide Field history' class='icon-entypo-fix-cancel std-entypo-fix-icon row-icon-button' id='hide-history-button'></span>
            <% } %>
            <span class='field-editor-save-undo-wrapper'>
                <span id='field-editor-undo' title='Undo'>Undo</span>
            </span>
        </div>
        <div data-editors='<%=dataEditorKey%>'>
            <% if (showSelectAllCheckbox != null && showSelectAllCheckbox) { %>
            <p class="select-all-cvl-values-checkbox-wrap">
                <input type="checkbox" id="select-all-cvl-values-checkbox-<%=type%>" class="select-all-cvl-values-checkbox" value="">
                <label for="select-all-cvl-values-checkbox-<%=type%>">Select All</label>
            </p>
            <% } %>
        </div>
        <!--<% if(typeof unit !== "undefined") { %>
        <span><%=unit%></span>
        <% } %>-->
        <div class="field-editor-validation-error-message" data-id="<%=dataEditorKey%>"></div>
    </fieldset>
    <div class='field-editor-history-wrap'>
        <div class='field-editor-history-container'>

        </div>
    </div>
</div>
