﻿
<tr>
    <td>
        <span><%= fieldtypedisplayname %></span>
    </td>
    <td>
        <span class="fieldconflict-localvalue">
            <span id="local-<%= fieldtype %>" style="display:none"><%= JSON.stringify(localvalue) %></span>
            <span class="conflict-select" id="local-ls-<%= fieldtype %>">
                <% $.each( localvalue, function( key, value ) {%>
                <%= value[0] %> : <%= value[1] %> <br />
                <% }); %>
            </span>
                <i id="select-local-<%= fieldtype %>" class="fa fa-check conflict-select" title="select the local value as the new value"></i>
            </span>
    </td>
    <td>
        <span class="fieldconflict-servervalue">
            <span id="server-<%= fieldtype %>" style="display: none"><%= JSON.stringify(servervalue) %></span>&nbsp;
            <span class="conflict-select" id="server-ls-<%= fieldtype %>">
                <% $.each( servervalue, function( key, value ) {%>
                <%= value[0] %> : <%= value[1] %> <br />
                <% }); %>
            </span>
            <i id="select-server-<%= fieldtype %>" class="fa fa-check conflict-select" title="select the server value as the new value"></i>
        </span>
    </td>
    <td>
        <span class="fieldconflict-selectedvalue fieldUpdate" id="selected-<%= fieldtype %>" style="display:none">
        </span>
        <span class="fieldUpdate" id="selected-ls-<%= fieldtype %>">
        </span>
    </td>
</tr>
