﻿
<tr>
    <td>
        <span><%= fieldtypedisplayname %></span>
    </td>
    <td>
        <span class="fieldconflict-localvalue">
            <span id="local-<%= fieldtype %>" class="conflict-select"><%= localvalue %></span>
            <i id="select-local-<%= fieldtype %>" class="fa fa-check conflict-select" title="select the local value as the new value"></i>
        </span>
    </td>
    <td>
        <span class="fieldconflict-servervalue">
            <span id="server-<%= fieldtype %>" class="conflict-select"><%= servervalue %></span>&nbsp;
            <i id="select-server-<%= fieldtype %>" class="fa fa-check conflict-select" title="select the server value as the new value"></i>
        </span>
    </td>
    <td>
        <span class="fieldconflict-selectedvalue fieldUpdate" id="selected-<%= fieldtype %>">
        </span>
    </td>
</tr>
