﻿<div class="block group flat-top" ng-controller="ProductListController as vm">
    <div class="block-wrapper">
        <isc-catalog-breadcrumb ng-if="vm.isCategoryPage()" breadcrumbs="vm.breadCrumbs"></isc-catalog-breadcrumb>

        <div class="block category-list" ng-if="vm.isCategoryPage()" ng-cloak>
            <div class="block-wrapper">
                <div class="row">
                    <div class="column">

                        <h1 class="category-title">
                            <span ng-if="vm.query">"{{vm.query}}"</span>
                            <span ng-if="vm.category.shortDescription">{{vm.category.shortDescription}}</span>
                        </h1>

                        <div class="category-content editable" ng-if="!!vm.category.htmlContent" ng-bind-html="vm.category.htmlContent|trusted">{{vm.category.htmlContent}}</div>

                        <div ng-show="vm.category.subCategories.length > 0">
                            <ul class="subcategory-list">
                                <li ng-repeat="subCategory in vm.category.subCategories" nwayo-event="equalize-grid=.subcategory-name">
                                    <a class="subcategory-box" ng-href="{{subCategory.path}}">
                                        <div class="box-wrapper">
                                            <div class="subcategory-image" ng-class="{'none': (!subCategory.smallImagePath)}">
                                                <div class="image" ng-class="{'error': (!subCategory.smallImagePath)}" ng-style="{ 'background-image': subCategory.smallImagePath ? 'url(\'{{subCategory.smallImagePath}}\')' : '' }"></div>
                                            </div>
                                            <h3 class="subcategory-name">{{subCategory.shortDescription}}</h3>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <isc-catalog-breadcrumb ng-if="!vm.isCategoryPage()" breadcrumbs="vm.breadCrumbs" search-query="vm.query"></isc-catalog-breadcrumb>

        <div class="block product-search" ng-if="!vm.isCategoryPage()" ng-show="vm.ready" ng-cloak>
            <div class="block-wrapper">

                <div class="row">
                    <div class="column large-4 xlarge-3" ng-show="(!vm.noResults || vm.searchWithinTerms.length || vm.products.categoryFacets.length || vm.products.priceRange.priceFacets.length || vm.products.attributeTypeFacets.length)">
                        <isc-category-left-nav ng-if="vm.ready" ready="vm.ready"
                                               products="vm.products"
                                               attribute-value-ids="vm.attributeValueIds"
                                               filter-category="vm.filterCategory"
                                               price-filter-minimums="vm.priceFilterMinimums"
                                               bread-crumbs="vm.breadCrumbs"
                                               search-within-terms="vm.searchWithinTerms"
                                               category="vm.category">
                        </isc-category-left-nav>
                    </div>
                    <div class="column" ng-class="{ 'large-8 xlarge-9': (!vm.noResults || vm.searchWithinTerms.length || vm.products.categoryFacets.length || vm.products.priceRange.priceFacets.length || vm.products.attributeTypeFacets.length)}">

                        <h1 class="result-title">
                            <span ng-if="vm.query">"{{vm.query}}"</span>
                            <span ng-if="vm.category">{{vm.category.shortDescription}}</span>
                        </h1>

                        {% comment %}<div class="editable" ng-if="vm.category && vm.category.htmlContent">{{vm.category.htmlContent}}</div>{% endcomment %}

                        <p class="result-status" ng-if="!vm.noResults">
                            <span class="result-count">{{vm.products.pagination.totalItemCount}}&nbsp;{{'[% translate 'Items_pager' %]'.toLowerCase()}}</span>
                            <span ng-if="vm.products.didYouMeanSuggestions.length >= 1">
                                [% translate 'Did you mean ' %] <a ng-href="/search?criteria={{vm.products.didYouMeanSuggestions[0].suggestion | escape}}" ng-bind="vm.products.didYouMeanSuggestions[0].suggestion"></a>
                            </span>
                            <span ng-if="vm.autoCorrectedQuery">
                                [% translate 'Search instead for' %] <a ng-href="/search?criteria={{vm.originalQuery | escape}}&includeSuggestions=false">{{vm.originalQuery}}</a>
                            </span>
                        </p>

                        <p class="result-none" ng-if="vm.noResults">
                            <span ng-if="!vm.query && vm.searchWithinTerms.length === 0">[% translate 'Store_NoResults' %]</span>
                            <span ng-if="vm.query && vm.searchWithinTerms.length === 0">[% translate 'Store_NoSearchResults' %]</span>
                            <span ng-if="vm.searchWithinTerms.length > 0">[% translate 'Store_NoFilterResults' %]</span>
                        </p>

                        <div ng-if="vm.products.products.length > 0">
                            <isc-pager pagination="vm.products.pagination" storage-key="vm.paginationStorageKey" update-data="vm.updateProductData()" custom-context="vm.customPagerContext"></isc-pager>

                            <ul class="product-list">
                                <li ng-repeat="product in vm.products.products" id="tst_productList_{{product.id}}" data-product="{{product.id}}" nwayo-event="equalize-grid=.product-sku,.product-name,.product-price,.product-box">
                                    <div class="product-box">
                                        <a class="box-link" ng-href="{{product.productDetailUrl}}"></a>
                                        <div class="box-wrapper">
                                            <div class="product-image">
                                                <div class="image">
                                                    <img ng-src="{{product.smallImagePath}}" alt="{{product.altText}}" increment-images-loaded />
                                                </div>
                                            </div>

                                            <isc-product-name product="product"></isc-product-name>
                                            <h3 class="product-name">{{product.shortDescription}}</h3>

                                            <store-availability-status class="small no-text" product="product" ng-if="vm.settings.showInventoryAvailability"></store-availability-status>

                                            <div class="product-price" ng-if="!vm.failedToGetRealTimePrices">
                                                <isc-product-price product="product"></isc-product-price>
                                            </div>

                                            <div class="product-quantity" ng-if="product.canEnterQuantity">
                                                <div class="wrapper">
                                                    <div class="field small"><input type="number" id="product-quantity-{{product.id}}" value="1" min="1" step="1" ng-model="product.qtyOrdered" /></div>
                                                    <div class="label">
                                                        <label for="product-quantity-{{product.id}}">
                                                            <span class="qty-label">[% translate 'Store_QuantityLabel' %]</span>
                                                            <isc-quantity-break-pricing
                                                                product-id="product.id"
                                                                break-prices="product.pricing.unitRegularBreakPrices"
                                                                ng-if="product.canShowPrice && !product.quoteRequired">
                                                            </isc-quantity-break-pricing>
                                                            <span class="note" ng-if="product.multipleSaleQty > 1">[% translate 'Store_ProductMultipleSaleQuantity' %] {{product.multipleSaleQty}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <button type="button" class="button cart small" ng-click="vm.storeAddToCart(product, $event)"
                                                ng-disabled="!product.qtyOrdered || product.qtyOrdered == 0 || vm.addingToCart"
                                                ng-if="product.canAddToCart">
                                                
                                                [% translate 'Add To Cart' %]
                                                <span class="loader">
                                                    <span class="spinner"></span>
                                                    <span class="text">[% translate 'Store_CartButton_Success' %]</span>
                                                </span>
                                            </button>

                                            <div class="wishlist" ng-if="product.canAddToWishlist">
                                                <button type="button" ng-click="vm.openWishListPopup(product)">[% translate 'Add to Wishlist' %]</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                            <isc-pager bottom="true" pagination="vm.products.pagination" storage-key="vm.paginationStorageKey" update-data="vm.updateProductData()" custom-context="vm.customPagerContext"></isc-pager>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="productList_categoryLeftNav">
        <div class="filters">
            <div class="accordion blank">
                <label for="filter-all" class="accordion-label filter-label">[% translate 'Filter' %]</label>

                <div class="facets-list" ng-if="vm.filterCategory.categoryId || vm.attributeValues.length > 0 || vm.priceFilters.length > 0 || vm.searchWithinTerms.length > 0">
                    <div class="facets">
                        <button type="button" ng-if="vm.filterCategory.categoryId" ng-click="vm.toggleCategory(vm.filterCategory) ">
                            [% translate 'Category' %]: {{vm.filterCategory.shortDescription}}
                        </button>
                        <button type="button" ng-repeat="attributeValue in vm.attributeValues" ng-click="vm.toggleFilter(attributeValue.attributeValueId)">
                            {{attributeValue.sectionNameDisplay}}: {{attributeValue.valueDisplay}}
                        </button>
                        <button type="button" ng-repeat="priceFacet in vm.priceFilters" ng-click="vm.togglePriceFilter(priceFacet.minimumPrice.toString())">
                            [% translate 'Price' %]: {{vm.priceRangeDisplay(priceFacet)}}
                        </button>
                        <button type="button" ng-repeat="term in vm.searchWithinTerms" ng-click="vm.clearSearchWithinItem($index)">
                            [% translate 'Search' %]: {{term}}
                        </button>
                    </div>
                    <button type="button" class="clear" ng-click="vm.clearFilters() ">[% translate 'Clear All' %]</button>
                </div>

                <input type="checkbox" id="filter-all" />
                <div class="accordion-box">
                    <div class="accordion-content">

                        <div class="search-within field" ng-class="{'has-facets' : (vm.filterCategory.categoryId || vm.attributeValues.length > 0 || vm.priceFilters.length > 0 || vm.searchWithinTerms.length > 0)}">
                            <label ng-if="!vm.category" for="searchWithin">[% translate 'Search Within Results' %]</label>
                            <label ng-if="vm.category" for="searchWithin">[% translate 'Search Within Category' %]</label>
                            <div class="field has-action">
                                <input id="searchWithin" type="text" placeholder="[% translate 'Enter keywords' %]" ng-model="vm.searchWithinInput" isc-enter="vm.searchWithinEntered()" />
                                <button type="button" class="field-action search" ng-click="vm.searchWithinEntered()"></button>
                            </div>
                        </div>

                        <div class="show-for-large">
                            <div class="category" ng-if="vm.products.categoryFacets.length > 0">
                                <div class="accordion">
                                    <label for="filter-all-categories" class="accordion-label on">[% translate 'Categories' %]</label>
                                    <input type="checkbox" id="filter-all-categories" checked />
                                    <div class="accordion-box">
                                        <div class="accordion-content">
                                            <ul>
                                                <li ng-repeat="categoryFacet in vm.products.categoryFacets | orderBy : 'shortDescription'">
                                                    <button type="button" ng-class="{'on' : categoryFacet.selected}" ng-click="vm.toggleCategory(categoryFacet)">
                                                        {{categoryFacet.shortDescription}} ({{categoryFacet.count}})
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="category" ng-if="vm.products.priceRange.priceFacets.length > 0">
                                <div class="accordion">
                                    <label for="filter-all-prices" class="accordion-label on">[% translate 'Price' %]</label>
                                    <input type="checkbox" id="filter-all-prices" checked />
                                    <div class="accordion-box">
                                        <div class="accordion-content">
                                            <ul>
                                                <li ng-repeat="priceFacet in vm.products.priceRange.priceFacets | orderBy : 'minimumPrice'">
                                                    <button type="button" ng-class="{'on' : vm.isPriceFacetSelected(priceFacet)}" ng-click="vm.togglePriceFilter(priceFacet.minimumPrice.toString())">
                                                        {{vm.priceRangeDisplay(priceFacet)}} ({{priceFacet.count}})
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="category" ng-repeat="section in vm.products.attributeTypeFacets | orderBy : ['sort','name']">
                                <div class="accordion">
                                    <label for="filter-all-attribute-{{$index}}" class="accordion-label on">{{section.nameDisplay}}</label>
                                    <input type="checkbox" id="filter-all-attribute-{{$index}}" checked />
                                    <div class="accordion-box">
                                        <div class="accordion-content">
                                            <ul>
                                                <li ng-repeat="attributeValue in section.attributeValueFacets | orderBy : ['sortOrder','valueDisplay']" >
                                                    <button type="button" ng-class="{'on' : vm.isAttributeValueFacetSelected(attributeValue)}" ng-click="vm.toggleFilter(attributeValue.attributeValueId)">
                                                        {{attributeValue.valueDisplay}} ({{attributeValue.count}})
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hide-for-large">
                            <div class="category field" ng-if="vm.products.categoryFacets.length > 0">
                                <label for="filter-all-categories-select">[% translate 'Categories' %]</label>
                                <select id="filter-all-categories-select" ng-model="filterCategoryId" ng-change="vm.toggleCategoryId(filterCategoryId)">
                                    <option value="">[% translate 'Categories' %]</option>
                                    <option ng-repeat="categoryFacet in vm.products.categoryFacets | orderBy : 'shortDescription'" ng-selected="categoryFacet.selected" value="{{categoryFacet.categoryId}}">
                                        {{categoryFacet.shortDescription}} ({{categoryFacet.count}})
                                    </option>
                                </select>
                            </div>

                            <div class="category field" ng-if="vm.products.priceRange.priceFacets.length > 0">
                                <label for="filter-all-prices-select">[% translate 'Price' %]</label>
                                <select id="filter-all-prices-select" ng-model="priceFacetMinimum" ng-change="vm.togglePriceFilter(priceFacetMinimum)">
                                    <option value="">[% translate 'Price' %]</option>
                                    <option ng-repeat="priceFacet in vm.products.priceRange.priceFacets | orderBy : 'minimumPrice'" ng-selected="priceFacet.selected" value="{{priceFacet.minimumPrice}}">
                                        {{vm.priceRangeDisplay(priceFacet)}}
                                    </option>
                                </select>
                            </div>

                            <div class="category field" ng-repeat="section in vm.products.attributeTypeFacets | orderBy : ['sort','name']" class="f-cat">
                                <label for="filter-all-attribute-{{$index}}-select">{{section.nameDisplay}}</label>
                                <select id="filter-all-attribute-{{$index}}-select" ng-model="sectionValueId" ng-change="vm.toggleFilter(sectionValueId || section.attributeTypeId)">
                                    <option value="">{{section.nameDisplay}}</option>
                                    <option ng-repeat="attributeValue in section.attributeValueFacets | orderBy : ['sortOrder','valueDisplay']" ng-selected="attributeValue.selected" value="{{attributeValue.attributeValueId}}">
                                        {{attributeValue.valueDisplay}} ({{attributeValue.count}})
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {% comment %}<input type="checkbox" id="accord-filter" />
            <div class="accordion">
                <label for="accord-filter" class="filters-heading accordion-head">[% translate 'Filter' %]</label>
                <div class="accordion-content">
                    [[filterStatusControls]]

                    <div class="search-within field clearfix">
                        <label ng-if="!vm.category" for="searchWithin">[% translate 'Search Within Results' %]</label>
                        <label ng-if="vm.category" for="searchWithin">[% translate 'Search Within Category' %]</label>
                        <div class="field has-action">
                            <input id="searchWithin" type="text" placeholder="[% translate 'Enter keywords' %]" ng-model="vm.searchWithinInput" isc-enter="vm.searchWithinEntered()" />
                            <button type="button" class="field-action search" ng-click="vm.searchWithinEntered()"></button>
                        </div>
                    </div>

                    <div class="show-for-large">
                        <div class="category" ng-if="vm.products.categoryFacets.length > 0">
                            <input type="checkbox" id="accord-1" checked />
                            <div class="accordion">
                                <label for="accord-1" class="accordion-head">[% translate 'Categories' %]</label>
                                <article class="accordion-content">
                                    <ul>
                                        <li ng-repeat="categoryFacet in vm.products.categoryFacets | orderBy : 'shortDescription'"
                                            ng-class="{'f-selected' : categoryFacet.selected}"
                                            ng-click="vm.toggleCategory(categoryFacet)">
                                            <a href="javascript:;">
                                                <span class="f-name">{{categoryFacet.shortDescription}}</span>
                                                <span class="f-count">({{categoryFacet.count}})</span>
                                            </a>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                        <div class="category" ng-if="vm.products.priceRange.priceFacets.length > 0">
                            <input type="checkbox" id="accord-2" checked />
                            <div class="accordion">
                                <label for="accord-2" class="accordion-head">[% translate 'Price' %]</label>
                                <article class="accordion-content">
                                    <ul>
                                        <li ng-repeat="priceFacet in vm.products.priceRange.priceFacets | orderBy : 'minimumPrice'"
                                            ng-class="{'f-selected' : vm.isPriceFacetSelected(priceFacet)}"
                                            ng-click="vm.togglePriceFilter(priceFacet.minimumPrice.toString())">
                                            <a href="javascript:;">
                                                <span class="f-name">{{vm.priceRangeDisplay(priceFacet)}}</span>
                                                <span class="f-count">({{priceFacet.count}})</span>
                                            </a>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>

                        <div class="category" ng-repeat="section in vm.products.attributeTypeFacets | orderBy : ['sort','name']" class="f-cat" ng-if="vm.products.attributeTypeFacets.length > 0">
                            <input type="checkbox" id="accord-{{$index + 3}}" checked />
                            <div class="accordion">
                                <label for="accord-{{$index + 3}}" class="accordion-head">{{section.nameDisplay}}</label>
                                <article class="accordion-content">
                                    <ul>
                                        <li ng-repeat="attributeValue in section.attributeValueFacets | orderBy : ['sortOrder','valueDisplay']"
                                            ng-class="{'f-selected' : vm.isAttributeValueFacetSelected(attributeValue)}"
                                            ng-click="vm.toggleFilter(attributeValue.attributeValueId)">
                                            <a href="javascript:;">
                                                <span class="f-name">{{attributeValue.valueDisplay}}</span>
                                                <span class="f-count">({{attributeValue.count}})</span>
                                            </a>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="hide-for-large">
                        <div class="category" ng-if="vm.products.categoryFacets.length > 0">
                            <label class="accordion-head">[% translate 'Categories' %]</label>
                            <select data-mini="true" ng-model="filterCategoryId" ng-change="vm.toggleCategoryId(filterCategoryId)">
                                <option value="">[% translate 'Categories' %]</option>
                                <option ng-repeat="categoryFacet in vm.products.categoryFacets | orderBy : 'shortDescription'"
                                        ng-selected="categoryFacet.selected"
                                        value="{{categoryFacet.categoryId}}">
                                    {{categoryFacet.shortDescription}} ({{categoryFacet.count}})
                                </option>
                            </select>
                        </div>
                        <div class="category" ng-if="vm.products.priceRange.priceFacets.length > 0">
                            <label class="accordion-head">[% translate 'Price' %]</label>
                            <select data-mini="true" ng-model="priceFacetMinimum" ng-change="vm.togglePriceFilter(priceFacetMinimum)">
                                <option value="">[% translate 'Price' %]</option>
                                <option ng-repeat="priceFacet in vm.products.priceRange.priceFacets | orderBy : 'minimumPrice'"
                                        ng-selected="priceFacet.selected"
                                        value="{{priceFacet.minimumPrice}}">
                                    {{vm.priceRangeDisplay(priceFacet)}}
                                </option>
                            </select>
                        </div>
                        <div class="category" ng-repeat="section in vm.products.attributeTypeFacets | orderBy : ['sort','name']" class="f-cat" ng-if="vm.products.attributeTypeFacets.length > 0">
                            <label class="accordion-head">{{section.nameDisplay}}</label>
                            <select data-mini="true" ng-model="sectionValueId" ng-change="vm.toggleFilter(sectionValueId || section.attributeTypeId)">
                                <option value="">{{section.nameDisplay}}</option>
                                <option ng-repeat="attributeValue in section.attributeValueFacets | orderBy : ['sortOrder','valueDisplay']"
                                        ng-selected="attributeValue.selected"
                                        value="{{attributeValue.attributeValueId}}">
                                    {{attributeValue.valueDisplay}} ({{attributeValue.count}})
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>{% endcomment %}

        </div>
    </script>

</div>
