<div class="box">
    <div class="box-header">
        <h2><!--<i class="fa fa-edit"></i> -->Edit Action</h2>
        
    </div>
    <div class="box-content">
        
        <!--<div id="view-header"></div>-->
        <div id="action-content"></div>
        <button class="btn" type="button" id="saveButton">Save</button>
        <button class="btn" type="button" id="cancelButton">Close</button>

    </div>
</div>