<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-header">
                    <h2><i class="fa fa-chevron-left" id="return" title="Back"></i> Action - <%= data %></h2>
                    <div class="box-actions">
                        <button class="btn" type="button" id="newAction"><i class="fa fa-plus"></i> Add Action</button>
                    </div>
                </div>
            </div>

            <div class="box-content">
                <div id="action-list"></div>
            </div>
        </div>

        <!--<div class="box-content">
            <div class="box-details"><div id="completeness-def-name"><b>Name:</b> </div> <div id="completeness-def-type"><b>Entity Type:</b> </div></div>
            <h2>Rules</h2>
            <div id="completeness-rule-list"></div><br/>
            <div class="action"><button class="btn" type="button" id="recalculateRule"><i class="fa fa-refresh"></i> Recalculate</button></div>
        </div>-->
    </div>
</div>