﻿.massupdate-field-editor {
    margin-top: 3px;
    display: flex;
}

.massupdate-field-editor .textarea {
    float: none;
}

.massupdate-field-editor > * {
    display: inline-block !important;
}

.massupdate-field-editor label {
    margin-bottom: 0 !important;
    vertical-align: middle;
}

.massupdate-field-editor input {
    display: inline-block !important;
    vertical-align: middle;
}

.massupdate-field-editor input[type=text] {
    width: 200px;
}

.massupdate-field-editor select {
    width: 200px;
}

.massupdate-field-editor li {
    display: inline-block !important;
}

.massupdate-stats-value {
    display: inline-block;
    padding: 5px 5px;
    width: 120px;
}

.massupdate-stats-container {
    margin: 0 0 40px 0;
    display: inline-block;
    border: 1px;
    border-color: #bbbbbb;
    border-style: solid;
}

.massupdate-stats-label {
    color: #0071a5;
    display: inline-block;
    padding: 5px 5px;
}

.massupdate-header {
    background-color: #e6e6e6 !important;
    padding: 5px 5px;
    display: inline-block;
}

.massupdate-left-column {
    width: 30%;
}

.massupdate-right-column {
    width: 55%;
}

.massupdate-field-editor .field-editor-label-wrap {
    min-width: 12em;
    padding: 5px 5px;
    vertical-align: top !important;
    background-color: #fafafa;
    margin-left: 0;
}

.massupdate-field-editor .field-editor-value-wrap {
    width: 100%;
    padding: 5px 5px;
    margin-left: 5px;
    background-color: #fafafa;
}

#mass-update-entity-cards-container {
    float: left;
    width: 450px;
}

#mass-update-wizzard-verify .card-text1 {
    width: 30%;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0;
    padding: 5px;
    clear: left;
}

#mass-update-entity-cards-container > div {
    float: left;
}

#mass-update-wizzard-verify .card-text2-large {
    width: 55%;
    display: inline-block;
    margin-left: 0;
    padding: 5px;
}

#mass-update-fields-area {
    margin-left: 450px;
    overflow: auto;
}

#mass-update-wizzard-result h2 {
    padding: 5px;
    padding-left: 10px;
    background-color: #bbbbbb;
    color: #ffffff;
}

.entity-card-status {
    position: absolute;
    top: 5px;
    right: 5px;
}

.entity-card-status-failed {
    color: red;
    padding: 5px;
}

.entity-card-status-ok {
    color: green;
    padding: 5px;
}

.entity-card-status-pending {
    color: #bbbbbb;
    padding: 5px;
}
