﻿@using Insite.WebFramework.Mvc.Extensions
@model Insite.Invoice.Content.InvoicesPage

<div class="row main-row ma-invoice-history">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>