﻿body {
    background: #ffffff;
    padding-top: 20px;
}

#container {
    margin: auto;
    background: #ffffff;
    overflow: hidden;
    /*-webkit-box-shadow: -5px 0px 0px 0px #000;*/
}

#view-header {
    margin-bottom: 20px;
}

    #view-header p {
        margin: 0;
        font-size: 14px;
    }

#apps {
    margin: 20px auto;
    min-width: 640px;
    width: 640px;
}

.navigation-list li {
    display: inline;
    float: left;
    background: #e0e0e0;
    /*background: #333;
    background-image: linear-gradient(-45deg, #424242 0%, #333 100%);*/
    color: #000;
    text-align: center;
    cursor: pointer;
    border: 4px solid #000000;
    margin: 1px;
}

    .navigation-list li:hover {
        border: 4px solid #007cba;
        margin: 1px;
    }

.navigation-list #navigation-name {
    font-size: 20px;
    color: #000;
}

#navigation-item-content i {
    display: block;
    padding: 20px;
    /*margin-left:auto;
    margin-right:auto;*/
}

#navigation-item-wrap {
    margin-left: auto;
    margin-right: auto;
}

#navigation-item-content {
    display: -moz-inline-box; /* FF2 or lower */
    display: inline-block; /* FF3, Opera, Safari */
    height: 140px;
    width: 140px;
    /*vertical-align      : middle;*/
    margin: auto;
    margin-top: 20px;
}

/*#navigation-item-content span {
    vertical-align:middle;
    display: table-cell;
}*/

.navigation-list a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

#dropdown-selector {
    display: block;
    position: relative;
    float: left;
    margin-left: 10px;
}

    #dropdown-selector ul {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: #000000;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        height: 26px;
        overflow: hidden;
        line-height: 26px;
        margin-top: 4px;
    }

        #dropdown-selector ul.open {
            height: auto;
            background-color: #eeeeee;
            border: 1px solid #eeeeee;
        }

    #dropdown-selector li {
        float: left;
        clear: both;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #dropdown-selector ul a {
        position: relative;
        display: block;
        padding: 0 20px 0 10px;
        line-height: 26px;
        min-width: 120px;
        display: block;
        color: #ffffff;
        text-decoration: none;
    }

    #dropdown-selector .icon {
        position: absolute;
        right: 6px;
        margin-top: -8px;
        top: 50%;
        width: 16px;
        height: 16px;
        background-image: url(~/styles/themes/mazily-light/images/ui-icons_ffffff_256x240.png);
        background-position: -64px -16px;
    }

    #dropdown-selector ul.open .icon {
        background-image: url(~/styles/themes/mazily-light/images/ui-icons_333333_256x240.png);
    }

    #dropdown-selector ul.open a {
        color: #333333;
    }

        #dropdown-selector ul.open a:hover {
            background-color: #ffffff;
        }

#portal-main-container {
    display: table;
    border-spacing: 15px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.portal-main-section, .portal-sub-section {
    width: 100%;
}

.portal-admin-section-col {
    display: table-cell;
    vertical-align: top;
    margin: 0 20px;
    width: 248px;
}

.portal-mgr-section-col {
    display: table-cell;
    vertical-align: top;
    margin: 0 20px;
    width: 382px;
}

.portal-custom-section-col {
    display: table-cell;
    vertical-align: top;
    margin: 0 20px;
    width: 382px;
}

.portal-main-section-col {
    display: table-cell;
    vertical-align: top;
    margin: 0 20px;
    width: 248px;
}

.portal-main-section-box .box-title {
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
    background-color: #d33138;
    color: #ffffff;
    box-shadow: 3px 3px 2px #dddddd;
    margin-bottom: 0;
}

.portal-main-section-box .box-title-icon {
    margin-right: 10px;
    color: #ffffff;
    font-size: 30px !important;
}

.portal-main-section-box .box-title:hover {
    color: #FFFFFF;
}

.portal-main-section-box:hover .box-sub-section {
    color: #ffffff;
}

.portal-main-section-box .box-sub-section {
    background-color: #E0A197;
    color: #e9e9e9;
    height: 90px;
    box-shadow: 3px 3px 2px #dddddd;
}

    .portal-main-section-box .box-sub-section .text {
        padding: 10px;
        padding-right: 30px;
        height: 65px;
        overflow: hidden;
        text-overflow: clip;
        word-wrap: break-word;
        font-size: 12px;
    }

.main-app-name {
    position: relative;
    top: -5px;
    text-transform: uppercase;
    font-size: 18px;
}

.admin-app-name {
    margin-left: 20px;
    position: relative;
    float: left;
    text-align: right;
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 18px;
}

.mgr-app-name {
    position: relative;
    top: -5px;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    display: inline-block;
}


.portal-mgr-section-col span.icon {
    display: inline-block;
    right: 45px;
    position: absolute;
}

.portal-admin-section-col .box-title {
    box-sizing: border-box;
    padding: 15px 15px;
    padding-top: 5px;
    width: 100%;
    font-size: 20px;
    /*   background-color: #CECDCB; */
    background-color: #888;
    color: #fff;
    height: 80px;
    box-shadow: 3px 3px 2px #dddddd;
    border-bottom: 0;
    margin-bottom: 0;
}

.portal-admin-section-col .box-sub-section {
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    background-color: #EBEBEA;
    color: #777777;
    margin-bottom: 18px;
    box-shadow: 3px 3px 2px #dddddd;
}


.portal-admin-section-col .box-title .icon {
    float: right;
    font-size: 16px;
    margin-top: 6px;
}

div.icon i.icon {
    margin-top: 2px !important;
}

.portal-admin-section-box:hover .box-sub-section {
    color: #333333;
}

.portal-mgr-section-col .box-title {
    box-sizing: border-box;
    padding: 15px 15px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 100%;
    font-size: 18px;
    background-color: #0077B7;
    color: #fff;
    height: 85px;
    box-shadow: 3px 3px 2px #dddddd;
    margin-bottom: 0;
    border-bottom-color: #0077B7;
    text-align: center;
    position: relative;
}

.portal-mgr-section-col .box-sub-section {
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
    background-color: #338DB7;
    color: #dddddd;
    box-shadow: 3px 3px 2px #dddddd;
    margin-bottom: 15px;
    position: relative;
}

.portal-mgr-section-col .portal-admin-section-box:hover .box-sub-section {
    color: #ffffff;
}


.portal-mgr-section-col .box-sub-section .separator {
    position: relative;
    top: -35px;
    left: 15px;
}

.portal-admin-section-col .box-sub-section .separator {
    position: relative;
    top: -35px;
    left: 15px;
}

.portal-admin-section-col .box-sub-section .text, .portal-mgr-section-col .box-sub-section .text {
    position: relative;
    top: -20px;
    font-size: 12px;
}

.fa-stack .base {
    color: #ffffff;
    font-size: 2em;
    margin-top: 3px;
}

.fa-stack .circle {
    color: #777;
    font-size: 2.2em;
}


.fa-stack .icon {
    color: #888;
    font-size: 24px !important;
}


.portal-custom-section-box {
    text-align: center;
    margin-top: 15px;
}


.portal-custom-section-col {
    border-color: #2d2d2c !important;
    border: solid;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}


    .portal-custom-section-col .img {
        margin: auto;
        width: 100px;
        margin-bottom: 15px;
    }

    .portal-custom-section-col .box-title:hover {
        background-color: #bbbbbb;
        color: #ffffff !important;
    }

    .portal-custom-section-col .separator {
        display: block;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 0px;
        width: 100%;
        max-height: 0px;
        font-size: 1px;
        line-height: 0;
        clear: both;
        border: none;
        border-bottom: 1px solid #ffffff;
    }


#smallstat-row {
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
    padding: 0;
}

.portal-custom-section-box #showMoreLink:hover {
    background-color: initial;
}

.smallstat {
    border: 1px solid #DADAD9;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    width: 90px;
    font-size: 12px;
    background-color: #EBEBEA;
    color: #0077B7;
    text-align: center;
    display: inline-block;
}



    .smallstat .separator {
        display: block;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 0px;
        width: 100%;
        max-height: 0;
        font-size: 1px;
        line-height: 0;
        clear: both;
        border: none;
        border-bottom: 1px solid #0077B7;
    }

.week-new {
    font-size: 18px;
}


#graph {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}


.boxDisabled .box-title, .boxDisabled .box-sub-section, .boxDisabled .box-title:hover, .boxDisabled .box-sub-section:hover {
    opacity: 0.5;
    cursor: default;
}



.boxDisabled .separator img {
    display: none;
}

.separator {
    height: 15px;
}


#work-area-content {
    text-align: left;
}

.white-box {
    background-color: inherit;
    border: 0;
}

    .white-box #contextmenu {
        display: none;
    }

.start-section-box {
    border: 0;
}

#user-header .top-header-hover-control {
    color: #2d2d2c;
}

#user-header #top-header-content {
    display: block;
    margin: 0 auto;
    height: 25px;
    padding: 3px 20px;
}


.portal-admin-section-col .boxDisabled:hover .box-sub-section {
    color: #777777;
}


.portal-mgr-section-col .boxDisabled:hover .box-sub-section {
    color: #DDDDDD !important;
}

.portal-about-label {
    width: 110px;
    float: left;
    margin-bottom: 4px;
}

.portal-about-value {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    margin-bottom: 4px;
}

.portal-about-text {
    position: relative;
    top: -20px;
    font-size: 12px;
}

#personalSettings {
    line-height: 20px;
}