﻿<div id="mapping-columndata-specification">
    <h2>Specification Mapping</h2>
    <% for(var i=0; i< data.Columns.length; i++){ %>

    <% if(data.Columns[i].IsSystemColumn){continue;} %>
    <div>
        <div class="import-mapping-column-left"><%= data.Columns[i].ColumnName %></div>
        <div class="import-mapping-column-right" id="<%= data.Columns[i].Id %>">
            <select class="import-mapping-fields" id="import-mapping-fields-specification">
                <option value="">-</option>
                <% for(var j=0; j< specificationFieldTypes.length; j++){ %>

                <% if(specificationFieldTypes.models[j].attributes.Id == data.Columns[i].SpecificationFieldTypeId){ %>
                <option value="<%= specificationFieldTypes.models[j].attributes.Id %>" selected="selected"><%= specificationFieldTypes.models[j].attributes.DisplayName %></option>
                <% } else{ %>
                <option value="<%= specificationFieldTypes.models[j].attributes.Id %>"><%= specificationFieldTypes.models[j].attributes.DisplayName %></option>
                <%   } %>
                <%}%>
            </select>
            <% if(data.Columns[i].SpecificationLocalized){%>
            <select class="import-mapping-language">

                <% if(data.Columns[i].SpecificationLanguageCode == "" || data.Columns[i].SpecificationLanguageCode == null) {%>

                <option value="<%= data.Languages[0].Name %>" selected="selected"><%= data.Languages[0].DisplayName %></option>

                <% for(var j=1; j< data.Languages.length; j++){ %>

                <option value="<%= data.Languages[j].Name %>"><%= data.Languages[j].DisplayName %></option>

                <%}%>

                <%} else {%>

                <% for(var j=0; j< data.Languages.length; j++){ %>

                <% if(data.Languages[j].Name == data.Columns[i].SpecificationLanguageCode){ %>
                <option value="<%= data.Languages[j].Name %>" selected="selected"><%= data.Languages[j].DisplayName %></option>
                <% } else{ %>
                <option value="<%= data.Languages[j].Name %>"><%= data.Languages[j].DisplayName %></option>
                <%   } %>
                <%}%>
                <%}%>

                <!--<% for(var j=0; j< data.Languages.length; j++){ %>
                <% if(data.Languages[j].Name == data.Columns[i].SpecificationLanguageCode){ %>
                <option value="<%= data.Languages[j].Name %>" selected="selected"><%= data.Languages[j].DisplayName %></option>
                <% } else{ %>
                <option value="<%= data.Languages[j].Name %>"><%= data.Languages[j].DisplayName %></option>
                <%   } %>
                <%}%>-->
            </select>
            <% }%>
        </div>
        <div class="clear"></div>
    </div>
    <%}%>
</div>

