﻿<div id="mapping-columndata-entitytype">
    <h2><%=data.EntityTypeId%> Mapping</h2>
    <% for(var i=0; i< data.Columns.length; i++){ %>

    <% if(data.Columns[i].IsSystemColumn){continue;} %>

    <div class="import-mapping-column-left"><%= data.Columns[i].ColumnName %></div>
    <div class="import-mapping-column-right" id="<%= data.Columns[i].Id %>">
        <select class="import-mapping-fields">
            <option value="">-</option>
            <% for(var j=0; j< data.FieldTypes.length; j++){ %>
            <% if(data.FieldTypes[j].id == data.Columns[i].FieldTypeId){ %>
            <option value="<%= data.FieldTypes[j].id %>" selected="selected"><%= data.FieldTypes[j].displayname %></option>
            <% } else{ %>
            <option value="<%= data.FieldTypes[j].id %>"><%= data.FieldTypes[j].displayname %></option>
            <%   } %>
            <%}%>
        </select>
        <% if(data.Columns[i].Localized){%>
        <select class="import-mapping-language">

            <% if(data.Columns[i].LanguageCode == "" || data.Columns[i].LanguageCode == null) {%>
            
            <option value="<%= data.Languages[0].Name %>" selected="selected"><%= data.Languages[0].DisplayName %></option>

            <% for(var j=1; j< data.Languages.length; j++){ %>
            
            <option value="<%= data.Languages[j].Name %>"><%= data.Languages[j].DisplayName %></option>

            <%}%>
            
            <%} else {%>

            <% for(var j=0; j< data.Languages.length; j++){ %>

            <% if(data.Languages[j].Name == data.Columns[i].LanguageCode){ %>
            <option value="<%= data.Languages[j].Name %>" selected="selected"><%= data.Languages[j].DisplayName %></option>
            <% } else{ %>
            <option value="<%= data.Languages[j].Name %>"><%= data.Languages[j].DisplayName %></option>
            <%   } %>
            <%}%>
            <%}%>
        </select>
        <% }%>
    </div>
    <div class="clear"></div>

    <%}%>
</div>

