﻿
    <h2><span class="fa fa-wrench"></span>Settings</h2>
    <div class="import-settings-row">
        <div class="import-label">Mapping Name: *</div>
        <div id="save-mapping-name">
            <input type="text" id="config-mapping-name" value="<%=data.name%>" /><span data-error="" id="config-mapping-name-error" style="display:none">Mapping Name is mandatory</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="import-settings-row">
        <div class="import-label">Type: </div>
        <div>
            <select id="selectMappingEntityType">
                <% for(var i=0; i< data.EntityTypes.length; i++){ %>
                <% if(data.EntityTypes[i].Id == data.EntityTypeId){ %>
                <option value="<%= data.EntityTypes[i].Id %>" selected="selected"><%= data.EntityTypes[i].DisplayName %></option>
                <% } else{ %>
                <option value="<%= data.EntityTypes[i].Id %>"><%= data.EntityTypes[i].DisplayName %></option>
                <%   } %>
                <%}%>
            </select>
        </div>
        <div class="clear"></div>
    </div>

    <% if(hasSpecification){ %>
    <div id="mapping-specification">
    </div>
    <% } else{ %>
    <div id="mapping-columndata"></div>
    <%   } %>

