﻿<div class="import-settings-row">
    <ul class="import-specification-tabs">
        <li id="import-specification-tab-entitytype">
            <a>
                <span>
                    <%= data.EntityTypeId %> Fields
                </span>
            </a>
        </li>
        <li id="import-specification-tab-specification">
            <a>
                <span>
                    Specification Fields
                </span>
            </a>
        </li>
    </ul>
</div>