﻿<div class="content">
    <div class="entity-view-details-row"> <div class="entity-view-details-row-key supplier-onboarding-row-key">Mapping Name</div><div class="value-wrapper"><input type="text" id="name" value="<%= model.name %>" class="" /></div></div>
    <div class="entity-view-details-row"> <div class="entity-view-details-row-key supplier-onboarding-row-key">Entity Type</div><div class="value-wrapper"><%= model.entityType %></div></div>
    
    <div class="mapping-detail-list">
        <div class="mapping-row-header">
            <div class="mapping-file-column title">File Column Name</div>
            <div class="mapping-fieldtype-column title">Field Type</div>
            <div class="mapping-language-column title">Language Code</div>
            <div class="mapping-specification-column title">Specification</div>
            <div class="mapping-specification-language-column title">Specification Language Code</div>
        </div>
        <% _.each(model.columns, function(column){ %>
        <% if (column.fieldTypeId != null && column.fieldTypeId!= ""  || column.specificationFieldTypeId != null && column.specificationFieldTypeId != ""){ %>

        
        <div class="mapping-row">
            <div class="mapping-file-column"><%=column.columnName %></div>

            <% if (column.fieldTypeId != null && column.fieldTypeId != "") { %>
            <div title="<%=column.fieldTypeId%>" class="mapping-fieldtype-column"><%=column.displayName %></div>
            <%}else{ %>
            <div class="mapping-fieldtype-column"></div>
            <%} %>

            <% if (column.languageCode != null && column.languageCode != "") { %>
            <div title="<%=column.languageCode%>" class="mapping-language-column"><%=column.languageCode %></div>
            <%}else{ %>
            <div class="mapping-language-column"></div>
            <%} %>

            <% if (column.specificationFieldTypeId != null && column.specificationFieldTypeId != "") { %>
            <div title="<%=column.specificationFieldTypeId%>" class="mapping-specification-column"><%=column.specificationFieldTypeId %></div>
            <%}else{ %>
            <div class="mapping-specification-column"></div>
            <%} %>

            <% if (column.specificationFieldTypeId != null && column.specificationFieldTypeId != "" && column.specificationLanguageCode != null && column.specificationLanguageCode != "") { %>
            <div title="<%=column.specificationLanguageCode%>" class="mapping-specification-language-column"><%=column.specificationLanguageCode %></div>
            <%}else{ %>
            <div class="mapping-specification-language-column"></div>
            <%} %>

        </div>
        <%} %>

        <%}) %>
    </div>
</div>