﻿<div class="list-item-wrap">
    <span class="xconnect-mapping-item-label"><%=model.name%></span>
    <span class="xconnect-mapping-item-type"><%=model.entityType%></span>
    <span id="list-item-remove" title="Delete Mapping" data-link-id="" class="fa fa-trash-o xconnect-user-list-item-icon-button"></span>
</div>
