﻿<div id="xconnect-mapping-list-wrap" class="box-content">
    <ul class="flat-ul"></ul>
</div>
<span title="Create new Mapping" class="row-icon-button query-action-button" id="list-of-mapping-add">
    <i class="fa fa-plus"></i>
    <span class="workarea-tool-text">Create Mapping</span>
</span>
