﻿<div class="select-specification-container">
    <div class="import-label">Specification: </div>
    <select id="supplier-onboarding-mapping-specification-list" multiple="multiple"></select>
    <span id="specification-remove" title="Removes Selected Specification"> <i class="fa fa-times-circle"></i></span>
</div>
<div id="mapping-specification-tabs"></div>
<div id="mapping-columndata"></div>
