﻿@{
    ViewBag.Title = "Corrupt data";
}
<div class="form-signin"  align="center">

    <img src="~/Images/inRiver-3D_Medium.jpg" width="250" style="width: 250px; margin-top: 10px; margin-bottom:30px" />
    <p style="font-weight: bold">Bad data provided!</p>
    <p>The provided data from your active directory was not complete.</p>
    <p>Please contact your system administrator to correct the errors.</p>
</div>


<div class="copyright"> Version 6.3 | &copy; 2017 inRiver AB</div>
@ViewBag.ServerName
<br />
@ViewBag.ServerVersion