﻿@{
    ViewBag.Title = "PageNotFound";
}
<div class="form-signin" align="center">

    <img src="~/Images/inRiver-3D_Medium.jpg" width="250" style="width: 250px; margin-top: 10px; margin-bottom:30px" />
    <p style="font-weight: bold">Page not found (404)!</p>
    <p>The page you were looking for was not found, or you might typed in the wrong address.</p>
    <a style="color: #000000" href="../app/Portal">Return to the Portal</a>
</div>


<div class="copyright"> Version 6.3 | &copy; 2017 inRiver AB</div>
@ViewBag.ServerName
<br />
@ViewBag.ServerVersion