﻿@{
    ViewBag.Title = "ServerMissingSignIn";
}
<div class="form-signin" align="center">

    <img src="~/Images/inRiver-3D_Medium.jpg" width="250" style="width: 250px; margin-top: 10px; margin-bottom:30px" />
    <p style="font-weight: bold">Unable to login!</p>
    <p>The inRiver Server is not operational, or your credentials are incorrect.</p>
    <p>Please contact your system administrator to validate the setup.</p>
</div>


<div class="copyright"> Version 6.3 | &copy; 2017 inRiver AB</div>
@ViewBag.ServerName
<br />
@ViewBag.ServerVersion