﻿<div id="main-client-area" class="modal-fixed-details">
    <div id ="syndication-createEdit-container" class="syndication-createEdit-container">

        <div id="syndication-createEdit-container-left" class="syndication-createEdit-container-left">
            <div class="syndication-createEdit-container-labelRow">Name</div>
            <div class="syndication-createEdit-container-labelRow">File extension</div>
            <div class="syndication-createEdit-container-labelRow">Content type</div>
            <div class="syndication-createEdit-container-labelRow">Xslt</div>
        </div>
        <div id="syndication-createEdit-container-right" class="syndication-createEdit-container-right">
            <div class="syndication-createEdit-container-labelRow">
                <input id="inputDistributionFormatName" class="syndication-createEdit-container-textBox"/>
            </div>
            <div class="syndication-createEdit-container-labelRow">
                <input id="inputDistributionFormatOutputFileExtension" class="syndication-createEdit-container-textBox" value=".xml"/>
            </div>
            <div class="syndication-createEdit-container-labelRow">
                <input id="inputDistributionFormatContentType" class="syndication-createEdit-container-textBox" value="text/xml"/>
            </div>
            <div class="syndication-createEdit-container-labelRow">
                <div id="syndication-createEdit-container-upload-xslt" class="syndication-createEdit-container-upload-xsd"></div>
            </div>
        </div>
    </div>
</div>