﻿<div class="lightboard-preview-popup-wrap">
    <div id="merchandising-drawing-wrap">
        <div id="merchandising-drawing-image-and-fabric-wrapper">
            <img id="merchandising-drawing-image" />
            <canvas id="merchandising-drawing-fabric"></canvas>
        </div>
    </div>
    <div id="merchandising-drawing-info-wrap">
        <div id="merchandising-drawing-info-rect">
            <div>
                <span class="fa-info-circle fa" style="font-size: 30px; color: #ccc;"></span><h2><%=text1%></h2>
            </div>
            <div style="margin-top: 10px;">
                <%=text2%>
            </div>
        </div>
    </div>
</div>