﻿<li class="merchandising-area-item" data-id="<%=area.index%>">
    <div id="merchandising-entity-card-slot">
        <div class="merchandising-entity-card-slot-placeholder-text">No entity assigned</div>
    </div>
    <div id="merchandising-entity-card-slot-tools">
        <div><span id="merchandising-delete-area" title="Delete Area" data-id="<%=area.index%>" class="fa-trash-o fa control-row-icon-button"></span></div>
    </div>
</li>