﻿<li class="merchandising-area-item">
    <div id="merchandising-entity-card-slot">
        <div id="merchandising-entity-card-slot-button-wrap">
            <button id="add-spot">+ Spot</button>
            <button id="add-polygon">+ Area</button>
        </div>
    </div>
    <div id="merchandising-entity-card-slot-tools">
       
    </div>
</li>