﻿<div>
    <div class="merchandising-container">
        <div id="picturearea" class="entity-overview-container-left ">
            <h2>Media</h2>
            <ul class="thumbnails-overview"></ul>
        </div>
        <div id="imagemaparea" class="entity-overview-container-left">
            <h2>Map</h2>
            <div id="merchandising-image-outer-wrap">
                <div id="merchandising-image-wrap">
                    <img id="merchandising-image" />
                </div>
            </div>
            <div id="merchandising-tools-wrap">
                <!--<div id="merchandising-toolbar">
                    <button id="add-spot">+ Create Spot</button>
                    <button id="add-polygon">+ Create Area</button>
                </div>-->
                <ul id="merchandising-area-list" class="flat-ul">

                </ul>
            </div>
        </div>
    </div>
</div>
