﻿<li class="merchandising-media-item" id="<%= Id %>">
    <div class="thumbnail merchandising-media-item-card-wrap" title="<%= DisplayName %>">
        <img src="<%= PictureUrl %>" />
    </div>
</li>