﻿<div class="block cart" ng-controller="CartController as vm" ng-class="{'is-empty':vm.cart.cartLines.length === 0}" ng-show="vm.cart" ng-cloak>
    [% capture CartButtons %]
        <a href="[% urlForPage 'HomePage' %]" class="button alt" ng-if="vm.cart.displayContinueShoppingLink">[% translate 'Continue Shopping' %]</a>
    [% endcapture %]

    <div class="block-wrapper">
        <a href="[% urlForPage 'HomePage' %]" class="title-link" ng-if="vm.cart.displayContinueShoppingLink">[% translate 'Continue Shopping' %]</a>

        <div ng-if="vm.cart.isAwaitingApproval" class="msg outline">[% translate 'Approving Order For' %]: <strong ng-bind="vm.cart.initiatedByUserName"></strong></div>

        <div ng-if="vm.cart.cartLines.length === 0" class="cart-empty">[% siteMessage 'Cart_NoOrderLines' %]</div>

        <div ng-if="vm.cart.cartNotPriced" class="msg error">[% siteMessage 'Cart_NoPriceAvailableAtCheckout' %]</div>
        <div ng-if="vm.cart.quoteRequiredCount > 0" class="msg alert">[% siteMessage 'Rfq_QuoteRequiredMsg' %]</div>
        <div ng-if="vm.cart.hasInsufficientInventory" class="msg alert">[% siteMessage 'Cart_InsufficientInventoryAtCheckout' %]</div>

        <div class="order-grid" ng-if="vm.cart.cartLines.length > 0">
            <div class="order">
                <isc-cart-lines cart="vm.cart" editable="true"
                    include-quote-required="true"
                    include-inventory="vm.showInventoryAvailability"
                    inventory-check="true"
                    promotions="vm.promotions">
                </isc-cart-lines>
                <div class="order-items-footer">
                    <div class="count"><span ng-bind="vm.cart.totalCountDisplay"></span> [% translate 'Items' %]</div>
                    <ul class="actions">
                        <li><button type="button" ng-click="vm.emptyCart('[% urlForPage 'CartPage' %]')">[% translate 'Store_Cart_Clear' %]</button></li>
                        {% comment %}<li><button type="button" ng-if="vm.cart.canSaveOrder" ng-click="vm.saveCart('[% urlForPage 'SavedOrderDetailPage' %]', '[% urlForPage 'SignInPage' %]')">[% translate 'Store_Cart_Save' %]</button></li>{% endcomment %}
                    </ul>
                </div>
                <div class="cart-buttons">
                    [[CartButtons]]
                </div>
            </div>
            <div class="summary">
                <h3 class="summary-title">[% translate 'Order Summary' %]</h3>
                <isc-cart-total-display
                    ng-if="!vm.cart.cartNotPriced"
                    cart="vm.cart"
                    promotions="vm.promotions"
                    order-taxes="vm.cart.customerOrderTaxes"
                    is-cart-page="true">
                </isc-cart-total-display>
                <div class="button-group full">
                    <a class="button" ng-if="vm.cart.properties['isPunchout']" ng-href="/punchout/punchoutsubmitporequisition.isch">[% translate 'Store_Cart_Checkout' %]</a>
                    <a class="button" ng-if="vm.cart.canCheckOut && !vm.cart.properties['isPunchout']" ng-href="{{vm.cart.canBypassCheckoutAddress ? '[% urlForPage 'CheckoutOrderDetailsPage' %]' + vm.cart.cartIdParam : '[% urlForPage 'CheckoutOrderDetailsPage' %]' + vm.cart.cartIdParam}}">[% translate 'Store_Cart_Checkout' %]</a>
                    <button type="button" class="button disabled" ng-if="!vm.cart.canCheckOut && !vm.cart.properties['isPunchout'] && !vm.cart.canRequisition">[% translate 'Store_Cart_Checkout' %]</button>
                    <a class="button alt" ng-if="vm.cart.canRequestQuote" href="[% urlForPage 'RfqRequestQuotePage' %]" ng-bind="vm.cart.isSalesperson ? '[% translate 'Create a Quote' %]' : '[% translate 'Request a Quote' %]'" ng-class="{ disabled: vm.cart.isAwaitingApproval }"></a>
                    <a class="button alt" ng-if="vm.cart.properties['isPunchout']" ng-href="/punchout/punchoutsubmitporequisition.isch?operation=cancel">[% translate 'Cancel PunchOut' %]</a>
                    <button type="button" class="button" ng-if="vm.cart.canRequisition" ng-click="vm.submitRequisition('[% urlForPage 'RequisitionConfirmationPage' %]')">[% translate 'Submit Requisition' %]</button>
                    {% comment %}<button type="button" class="button alt save-order" ng-if="vm.cart.canSaveOrder" ng-click="vm.saveCart('[% urlForPage 'SavedOrderDetailPage' %]', '[% urlForPage 'SignInPage' %]')">[% translate 'Store_Cart_Save' %]</button>{% endcomment %}
                    <button type="button" class="button other clear-cart" ng-click="vm.emptyCart('[% urlForPage 'CartPage' %]')">[% translate 'Store_Cart_Clear' %]</button>
                </div>
                <div class="summary-footer">
                    <p class="summary-footer-title">[% translate 'Store_Cart_QuestionsTitle' %]</p>
                    <p>[% translate 'Store_Cart_QuestionsPhoneNumber' %]</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="/PartialViews/Cart-CartLines">[% partialView 'Cart-CartLines' %]</script>
    <script type="text/ng-template" id="/PartialViews/Cart-CartTotalDisplay">[% partialView 'Cart-CartTotalDisplay' %]</script>
</div>