﻿<div>
    <div id="<%= id %>-heading" class="tasks-heading-box">
        <div id="<%= id %>-show" class="showTasks">
            <i class="fa fa-minus-circle" style="display:none"></i><i class="fa fa-plus-circle"></i>
        </div>
        <span><%=headertitle%> (<%=count%>)</span>
    </div>
    <ul id="<%= id %>" class="tasks-list flat-ul" style="display:none;"></ul>
</div>