﻿<div>
    <div id="<%= id %>-group-heading" class="tasks-heading-box">
        <div id="<%= id %>-group-show" class="showTasks">
            <i class="fa fa-minus-circle" style="display:none"></i><i class="fa fa-plus-circle"></i>
        </div>
        <span><%=headertitle%> (<%=count%>)</span>
    </div>
    <ul id="<%= id %>" class="flat-ul group-sub-tasks" style="display:none;"></ul>
    <!--<div id="<%= id %>"></div>-->
</div>
