﻿<div class="notification <% if (data.status == 'Notified'){%> notified<%} %>">
        <div id="contextmenu"></div>
        <span class="text1" title="<%= data.name %>"><%= data.name %></span>
        <span class="text2"><%= data.status %></span>
        <div class="clear"></div>
</div>
