﻿<li class="channel-card-wrap">

    <span class="title-text">Channel Completeness</span>
    <div class="top-area">
        <div class="left-area">
            <div class="completeness-area">
                <!--<span><%= data.completeness %></span><span style="font-size: 50%;">%</span>-->
                <canvas id="pie-chart-wrap" width="100" height="100"></canvas>
            </div>
        </div>
        <div class="right-area">
            <div class="single-value-wrap">
                <span class="single-value-label">Number of Completed</span>
                <span class="single-value-value">19644</span>
            </div>
            <div class="single-value-wrap">
                <span class="single-value-label">Total Number</span>
                <span class="single-value-value">17101</span>
            </div>
        </div>
    </div>
    <div class="bottom-area">
        
    </div>
</li>