﻿<li class="channel-card-wrap">

    <span class="title-text"><%= data.label %></span>
    <div class="top-area">
        <div class="left-area">
            <div class="completeness-area">
                <span><%= data.completeness %></span><span style="font-size: 50%;">%</span>
            </div>
        </div>
        <div class="right-area">
            <div class="single-value-wrap">
                <span class="single-value-label">Number of Completed</span>
                <span class="single-value-value"><%= data.nCompletedEntities %></span>
            </div>
            <div class="single-value-wrap">
                <span class="single-value-label">Total Number</span>
                <span class="single-value-value"><%= data.nEntities %></span>
            </div>
        </div>
    </div>
    <div class="bottom-area">
        <div class="bar-wrap">
            <div class="bar-label"><%= data.measures[0].label %></div>
            <div class="bar-right-label"><%= data.measures[0].value %>%</div>
            <div class="bar-background">
                <div class="bar-segment" style="width: <%= data.measures[0].value %>%; background-color: <%= (data.measures[0].value > 50 ? '#8DAACB' : '#FC7262') %>;">
                </div>
            </div>
        </div>
        <div class="bar-wrap">
            <div class="bar-label"><%= data.measures[1].label %></div>
            <div class="bar-right-label"><%= data.measures[1].value %>%</div>
            <div class="bar-background">
                <div class="bar-segment" style="width: <%=data.measures[1].value%>%; background-color: <%= (data.measures[1].value > 50 ? '#8DAACB' : '#FC7262') %>;">
                </div>
            </div>
        </div>
        <div class="bar-wrap">
            <div class="bar-label"><%= data.measures[2].label %></div>
            <div class="bar-right-label"><%= data.measures[2].value %>%</div>
            <div class="bar-background">
                <div class="bar-segment" style="width: <%= data.measures[2].value %>%; background-color: <%= (data.measures[2].value > 50 ? '#8DAACB' : '#FC7262') %>;">
                </div>
            </div>
        </div>
    </div>
</li>