﻿<div id="main-client-area">
    <div class="width-limited-container">
        <!--  <span class="main-header entity-view-details-header">Structure</span>-->

    </div>
    <div class="treearea">
        <div class="content-area-tools-row">
            <span class="content-area-tools" id="add"><i class="fa fa-plus row-icon-button" title="Add node"></i> Add</span>
            <span class="content-area-tools" id="remove"><i class="fa fa-times row-icon-button" title="Remove node"></i> Remove</span>
            <span class="content-area-tools" id="expand"><i class="fa fa-plus-square-o row-icon-button" title="Expand all nodes"></i> Expand All</span>
            <span class="content-area-tools" id="collapse"><i class="fa fa-minus-square-o row-icon-button" title="Collapse all nodes"></i> Collapse All</span>

        </div>
        <div>
            <span><input id="treefilter" class="filter" placeholder="Filter" type="text" /><i class="fa fa-filter" id="workareasearch"></i></span>
            </div>
            <div id="structure-row-container">

            </div>
        </div>
    <div class="contentarea"></div>
    </div>