﻿<div id="entity-area" class="entity-area-small">
    <div id="entityDetailUpper" class="entity-tab planandrelease-entity-tab">
        <div class="entity-row-view-height">
            <div class="entity-title-image" style='background-image: url(<%= data.PictureUrl.replace("SmallThumbnail", "Original") %>);'></div>
            <div id="control-row-content">
                <span id="entity-view-title-area">
                    
                    <div class="entity-view-title-text-area">
                        <div>
                            <span class="entity-view-title-text">
                                <img src="../icon?id=<%= icon %>&color=white" title="<%= data.EntityTypeDisplayName %>" /><%= data.DisplayName %>&nbsp;
                                <i class="fa fa-lock" id="entitylocked" style="font-size: 14px; font-weight: normal; <% if (data.LockedBy == null || data.LockedBy == " "){ %>display:none;<%}%>" title="Locked by <%= data.LockedBy%>"></i>
                                <% if (data.EntityType =="Channel") {%>
                                <% if (data.ChannelPublished) { %>
                                - published
                                <% } else { %>
                                - unpublished
                                <% } %>
                                <% } %>
                            </span>
                        </div>
                        <div class="entity-view-title-text2"><%= data.DisplayDescription %></div>
                        <% if (data.FieldSetName!= null) { %>
                        <div class="card-view-fieldset" title="Entity is assigned to <%= data.FieldSetName %> fieldset"><%= data.FieldSetName %></div>
                        <% } %>
                    </div>
                </span>
                <span class="control-row-tab-area">
                    <span class="control-row-tab-button control-row-tab-button-active" id="tab-structure">
                      <!--  <div class="icon-entypo-fix-flow-tree large-entypo-fix-icon control-row-tab-icon"></div>-->
                        Structure
                    </span>
                    <span class="control-row-tab-button" id="tab-details">
                        <!--<div class="icon-entypo-fix-list large-entypo-fix-icon control-row-tab-icon"></div>-->
                        Details
                    </span>
                  
                </span>
                <div class="control-row-tool-area">
                    <% if (data.EntityType =="Channel") {%>
                    <span title="Un-publish channel" class="fa fa-toggle-on control-row-icon-button" id="unpublish-button"<% if (!data.ChannelPublished) { %> style="display:none"<% }%>></span>  
                    
                    <span title="Publish" channel" class="fa fa-toggle-off control-row-icon-button" id="publish-button"<% if (data.ChannelPublished) { %> style="display:none"<% }%>></span>
                    
                    <% } %>
                    <% if (data.LockedBy== null || data.LockedBy== "" || data.LockedBy == userName) { %>
                    <span title="Edit Entity" class="icon-entypo-fix-pencil std-entypo-fix-icon control-row-icon-button" id="edit-button"></span>
                    <% } %>

                    <% if (data.Starred == "1") { %>
                    <span title="Un-star Entity" class="icon-entypo-fix-star std-entypo-fix-icon control-row-icon-button" id="star-button"></span>
                    <% } else{ %>
                    <span title="Star Entity" class="icon-entypo-fix-star-empty std-entypo-fix-icon control-row-icon-button" id="star-button"></span>
                    <% } %>
                    <span title="System Information" class="icon-entypo-fix-info-circled std-entypo-fix-icon control-row-icon-button" id="menu-show-info-button"></span>
                    <div id="contextmenu"></div>                    
                </div>
                <!--<div class="entityclosearea">
                        <span class="fa fa-times control-row-icon-button" title="Close entity area" id="closeentity"></span>
                    </div>-->

                <div id="control-row-indicator-area">
                    <% if (data.Completeness!=null) { %>
                    <div class="completeness" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete">
                        <span class="percent"></span><span class="pie"></span><!--<div class="timer fill" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></div>-->

                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="entity-top-info-container">
        </div>
    </div>
    </div>