﻿<div id="start-main-imports-container">
    <div id="suppliers-top-row">
        <select title="Suppliers" id="imports-supplier-dropdown" multiple="multiple"></select>
        <span title="Save selected" class="row-icon-button query-action-button" id="save-supplier-filter">
            <i class="fa fa-save"></i>
            <span class="workarea-tool-text">Save selected</span>
        </span>
    </div>
    <div id="imports-content-area">
        <div class="imports-start-section-col-left">
            <div class="start-section-box">
                <div class="box-title">
                    <span class="icon-entypo-fix-user std-entypo-fix-icon box-title-icon"></span>Suppliers
                </div>
                <div id="imports-suppliers-section">
                    <div class="loadingspinner">
                        <img src="/Images/nine-squares-32x32.gif" />
                    </div>
                </div>
            </div>
        </div>
        <div class="imports-start-section-col-right">
            <div class="start-section-box">
                <div class="box-title">
                    <span class="icon-entypo-fix-upload std-entypo-fix-icon box-title-icon"></span>Pending Imports
                </div>
                <div id="imports-pending-section">
                    <div class="loadingspinner">
                        <img src="/Images/nine-squares-32x32.gif" />
                    </div>
                </div>
            </div>
            <div class="start-section-box">
                <div class="box-title">
                    <span class="icon-entypo-fix-clock std-entypo-fix-icon box-title-icon"></span>Import History
                </div>
                <div id="imports-history-section">
                    <div class="loadingspinner">
                        <img src="/Images/nine-squares-32x32.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
