﻿
<div>
    <label>Unique fields</label>
</div>
<div class="copy-entity-unique-fields-group">
    <% _.each(fields, function(field) { %>
    <div id="field-<%= field.FieldType %>">
        <label><%= field.FieldTypeDisplayName %></label>
        <input type="text" id="<%= field.FieldType %>" value="<%= field.DisplayValue %>" />
    </div>
    <% }); %>
</div>
