﻿<div id="main-client-area">
    <div class="wizard-container">
        <div id="copy-entity-wizard">
            <h1>Choice</h1>
            <div>
                <div id="copy-entity-wizzard-choice">
                </div>
            </div>
            <h1>Details</h1>
            <div>
                <div id="copy-entity-wizzard-detail">
                </div>
            </div>
            <h1>Validation</h1>
            <div>
                <div id="copy-entity-wizzard-validation">
                </div>
            </div>
            <h1>Copy</h1>
            <div>
                <div id="copy-entity-wizzard-result">
                </div>
            </div>
        </div>
    </div>
</div>
