﻿<div id="copy-entity-wizzard-details-tools">
    <div id="copy-entity-wizzard-label-links" class="copy-entity-wizzard-label">
    </div>
    <div id="copy-entity-wizzard-details-tools-outbound-links">
    </div>
</div>
