﻿<div id="copy-entity-wizzard-result-tools">
    <label>Press Finish to create a copy.</label><br/>
    <label>This may take a while if you have many relations</label>
    <div id="loading-spinner-container">
        <img src="/Images/nine-squares-32x32.gif" />
        <h2>Copying data</h2>
    </div>
</div>
