﻿<div id="copy-entity-wizzard-choice-tools">
    <div>
        <input type="radio" id="cbx-choice-copy-entity" value="value">
        <label for="cbx-choice-copy-entity">Copy data only</label>
    </div>
    <div>
        <input type="radio" id="cbx-choice-copy-entity-with-links" value="value">
        <label for="cbx-choice-copy-entity-with-links">Copy data and existing relations</label>
    </div>
    <div>
        <input type="radio" id="cbx-choice-copy-entity-copy-links" value="value">
        <label for="cbx-choice-copy-entity-copy-links">Copy data and create new relations</label>
    </div>
</div>