﻿<div class='field-editor-wrap' fieldtypeid='<%=type%>' entityid='<%=id%>'>
    <div class='field-editor-label-wrap'>
        <div class='copy-entity-field-editor-label' title="<%=description%>"><%=name%></div>
    </div>
    <div data-editors='<%=dataEditorKey%>'>
    </div>
</div>
