﻿<div id="copy-entity-wizzard-validation-control">
    <% if(isUnique == true) {%>
        <div class="copy-entity-wizzard-validation-control-valid"><%=fieldTypeId%> : <%=fieldData%> </div>
    <% } else{ %>
        <div class="copy-entity-wizzard-validation-control-notvalid"><%=fieldTypeId%> : <%=fieldData%></div>
    <% } %>
</div>