﻿  <div class="list-item-wrap">
      <span class="xconnect-pending-item-date" title="<%=model.name%>"><%=model.importedText%></span>
      <span class="xconnect-pending-item-name" title="<%=model.name%>"><%=model.name%></span>
      <span id="open-item-in-workarea" title="View entities in Workarea" data-link-id="" class="fa fa-folder-open xconnect-user-list-item-icon-button"></span>

      <span class="xconnect-pending-item-by" title="<%=model.uploadedByName%>"><%=model.uploadedByName%></span>
  </div>