﻿<div class="content">
    <div id="loading">
        <img src="/Images/nine-squares-48x48.gif" />
        <div><h2>Start importing entities</h2></div>
    </div>
    <div class="upload-details">
        <button id="delete">Remove from history</button>
        <div> <div class="upload-info-row-key">Upload Name</div><div class="upload-info-row-value"><%=model.name%></div></div>
        <div> <div class="upload-info-row-key">Uploaded By</div><div class="upload-info-row-value"><%=model.uploadedByName%></div></div>
        <div> <div class="upload-info-row-key">Uploaded</div><div class="upload-info-row-value"><%=model.uploaded%></div></div>
        <div><div class="upload-info-row-key">Imported By</div><div class="upload-info-row-value"><%=model.importedBy%></div></div>
        <div style="float:right"> </div>
    </div>

    <div id="history-cardarea"></div>
    <div id="history-detailarea"></div>
</div>
