﻿<div>
    <div class="entity" id="card-<%= data.entityId%>">
        <% if (data.media != "" && data.media.length > 0){ %>
        <span class="image"><a href="/api/xconnect/<%=data.media[0].fileUrl%>" target="_blank"> <div class="imagewrapper"><img src="/api/xconnect/<%=data.media[0].fileUrl%>?height=75&width=75" /></div></a></span>
        <%} else  if (data.currentPictureUrl != "") {%>
        <span class="image"><a href="<%=data.currentPictureUrl%>" target="_blank"> <div class="imagewrapper"><img src="<%=data.currentPictureUrl%>" style="max-height:120px; max-width:120px" /></div></a></span>
        <% } %>
        <img class="supplier-card-entity-icon" src="../icon?id=<%= data.entityTypeId %>" title="<%= data.entityTypeId %>" /> 
        <div class="supplier-card-entity-name"><%= data.name %></div>
      
        <button id="history-view-details">View Details</button>

        <div id="details-hidden-wrapper">
            <div class="entity-header-wrapper">
                <% if (data.media != "" && data.media.length > 0){ %>
                <span class="image"><a href="/api/xconnect/<%=data.media[0].fileUrl%>" target="_blank"> <div class="imagewrapper"><img src="/api/xconnect/<%=data.media[0].fileUrl%>?height=120&width=120" /></div></a></span>
                <%} else  if (data.currentPictureUrl != "") {%>
                <span class="image"><a href="<%=data.currentPictureUrl%>" target="_blank"> <div class="imagewrapper"><img src="<%=data.currentPictureUrl%>" style="max-height:120px; max-width:120px" /></div></a></span>
                <% } %>
                <div class="entity-header-data">
                    <img class="supplier-card-entity-icon" src="../icon?id=<%= data.entityTypeId %>" title="<%= data.entityTypeId %>" /> <%= data.name %><br />
                </div>
                <div class="supplier-pending-data-header">
                    <div class="supplier-pending-data-header-field">Field</div>
                    <div class="supplier-pending-data-header-history-new">Value</div>
                </div>
            </div>
            <% _.each(data.fields, function(field){ %>

            <div class="entity-view-details-row" id="field-wrapper-ArtNumber">
                <div class="entity-view-details-row-key "><%=field.fieldType%></div>
                <div class="value-placeholder">
                    <div class="value-wrapper" id="value-ArtNumber">
                        <div title="<%=field.displayValue%>" class="no-edit-text-area"><%=field.displayValue%></div>
                    </div>
                </div>
            </div>
            <%}) %>
        </div>
    </div>
</div>


