﻿<div class="completeness-details-popup-wrap">
    <div class="completeness-details-title">
        Completeness details for <%= data.DisplayName %>
    </div>
    <ul class="flat-ul">
        <% _.each(data.CompletenessDetails, function(v) { %>
        <li>
            <div class="completeness-details-row">
                <% if(v.IsCompleted) { %>
                <span class="icon-entypo-fix-check std-entypo-fix-icon completeness-details-row-iscompleted"></span>
                <% } else { %>
                <span class="icon-entypo-fix-cancel std-entypo-fix-icon completeness-details-row-isnotcompleted"></span>
                <% } %>
                <span class="completeness-details-row-rulename"><%= v.RuleName %></span>
            </div>
        </li>
        <% }); %>
    </ul>
</div>