﻿<div>
    <div class="card-wrap" id="card-<%= data.Id%>">
        <div class="card-picture-area">
            <div class="card-picture-frame">
                <div class="card-picture" style="background: url(<%= data.PictureUrl.replace('Preview', 'SmallThumbnail') %>); background-size: contain; background-repeat: no-repeat; background-position: center;" />
            </div>
        </div>
        <div class="card-tool-area">
            <% if (data.Starred == "1") { %>
            <span title="Un-star Entity" class="icon-entypo-fix-star std-entypo-fix-icon row-icon-button" id="star-button"></span>
            <% } else{ %>
            <span title="Star Entity" class="icon-entypo-fix-star-empty std-entypo-fix-icon row-icon-button" id="star-button"></span>
            <% } %>
            <% if (data.LockedBy== null || data.LockedBy== "" || data.LockedBy == userName) { %>
            <span title="Edit Entity" class="icon-entypo-fix-pencil std-entypo-fix-icon row-icon-button" id="edit-button"></span>
            <% } %>
        </div>
        <div class="card-completeness-area" id="card-completeness-area">
            <% if (data.Completeness!=null) { %>
            <div id="card-completeness-text" class="completenesslevel_<%= data.CompletenessLevel %>"><%= data.Completeness %>%</div>
            <% } %>
        </div>
        <div class="card-text1"><img src="../icon?id=<%= data.EntityType %>" title="<%= entity.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= data.DisplayName %><% if (data.LockedBy != null && data.LockedBy != "") { %>&nbsp;<i class="fa fa-lock" style="font-size: 14px; font-weight: normal;" title="Locked by <%= data.LockedBy%>"></i><% } %></div>
        <div class="card-text2" title="<%= data.DisplayDescription %>"><%= data.DisplayDescription %></div>
        <% if (data.FieldSetName!= null) { %>
        <div class="card-view-fieldset" title="Enityt is assigned to <%= data.FieldSetName %> fieldset"><%= data.FieldSetName %></div>
        <% } %>
    </div>
</div>
