﻿<div>
    <div class="card-wrap-large" id="card-<%= data.Id%>" entity-type-id="<%= data.EntityType%>">
        <div id="contextmenu"></div>

        <% if (data.Completeness!=null) { %>
        <div class="completeness-small"><span class="percent"></span><div class="timer fill" title="<%= data.DisplayName %> is <%= data.Completeness %>% complete"></div></div>
        <% } %>

        <div class="card-text1"><img src="../icon?id=<%= data.EntityType %>" title="<%= entity.EntityTypeDisplayName %>" />&nbsp;&nbsp;<%= data.DisplayName %><% if (data.LockedBy != null && data.LockedBy != "") { %>&nbsp;<i class="fa fa-lock" style="font-size: 14px; font-weight: normal;" title="Locked by <%= data.LockedBy%>"></i><% } %></div>
        <div class="card-text2-large" title="<%= data.DisplayDescription %>"><%= data.DisplayDescription %></div>
        <div class="card-picture-area">
            <div class="card-picture-frame-large">
                <div class="card-picture" style="background: url(<%= data.PictureUrl.replace('Preview', 'SmallThumbnail')%>); background-size: contain; background-repeat: no-repeat; background-position: center;">
                </div>
            </div>
        </div>
    </div>
</div>
