<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-lock icon-header"></i>Locks</h2>
                <div class="box-actions">
                </div>
            </div>
            <div class="box-content">
                <div id="locks-list"></div>
                <!--<button class="btn" type="button" id="unLock"><i class="fa fa-unlock"></i> Unlock</button>-->

                <span title="Unlock" class="row-icon-button query-action-button" id="unLock">
                    <i class="fa fa-unlock"></i>
                    <span class="workarea-tool-text">Unlock</span>
                </span>
            </div>
        </div>
    </div></div>