﻿<div class="user-info-content">
    <span ng-if="address.companyName || address.displayName" ng-bind="address.companyName || address.displayName"></span>
    <span ng-if="address.address1" ng-bind="address.address1"></span>
    <span ng-if="address.address2" ng-bind="address.address2"></span>
    <span ng-if="address.city || address.state">
        <span ng-if="address.city">{{address.city}}</span><span ng-if="address.state.abbreviation || address.state">, {{address.state.abbreviation || address.state}}<span ng-if="address.postalCode"> {{address.postalCode}}</span></span>
    </span>
</div>