﻿<div>
    <form id="{{prefix}}addressForm" name="addressForm">
        <div class="fields">
            <div class="row">
                <div class="column large-6" ng-if="addressFields.firstName.isVisible">
                    <isc-address-field field-label="{{addressFields.firstName.displayName}}" field-name="{{prefix}}firstname" field-value="address.firstName" validation="address.validation.firstName" is-read-only="isReadOnly"></isc-address-field>
                </div>
                <div class="column large-6" ng-if="addressFields.lastName.isVisible">
                    <isc-address-field field-label="{{addressFields.lastName.displayName}}" field-name="{{prefix}}lastname" field-value="address.lastName" validation="address.validation.lastName" is-read-only="isReadOnly"></isc-address-field>
                </div>
                <div class="column" ng-if="addressFields.attention.isVisible">
                    <isc-address-field field-label="{{addressFields.attention.displayName}}" field-name="{{prefix}}attention" field-value="address.attention" validation="address.validation.attention" is-read-only="isReadOnly"></isc-address-field>
                </div>
            </div>
            <div class="row">
                <div class="column" ng-if="addressFields.companyName.isVisible">
                    <isc-address-field field-label="{{addressFields.companyName.displayName}}" field-name="{{prefix}}companyName" field-value="address.companyName" validation="address.validation.companyName" is-read-only="isReadOnly"></isc-address-field>
                </div>
                <div class="column" ng-if="addressFields.address1.isVisible">
                    <isc-address-field field-label="{{addressFields.address1.displayName}}" field-name="{{prefix}}address1" field-value="address.address1" validation="address.validation.address1" is-read-only="isReadOnly"></isc-address-field>
                </div>
                <div class="column" ng-if="addressFields.address2.isVisible">
                    <isc-address-field field-label="{{addressFields.address2.displayName}}" field-name="{{prefix}}address2" field-value="address.address2" validation="address.validation.address2" is-read-only="isReadOnly"></isc-address-field>
                </div>

                <div class="column" ng-if="addressFields.address3.isVisible">
                    <isc-address-field field-label="{{addressFields.address3.displayName}}" field-name="{{prefix}}address3" field-value="address.address3" validation="address.validation.address3" is-read-only="isReadOnly"></isc-address-field>
                </div>
                <div class="column" ng-if="addressFields.address4.isVisible">
                    <isc-address-field field-label="{{addressFields.address4.displayName}}" field-name="{{prefix}}address4" field-value="address.address4" validation="address.validation.address4" is-read-only="isReadOnly"></isc-address-field>
                </div>
            </div>
            <div class="row">
                <div class="column large-6" ng-if="addressFields.city.isVisible">
                    <isc-address-field field-label="{{addressFields.city.displayName}}" field-name="{{prefix}}city" field-value="address.city" validation="address.validation.city" is-read-only="isReadOnly"></isc-address-field>
                </div>
                <div class="column large-6" ng-if="addressFields.country.isVisible && countries.length > 1">
                    <div class="field">
                        <label for="{{prefix}}country">{{::addressFields.country.displayName}}<span class="note" ng-show="!address.validation.country.isRequired">[% translate 'Store_Form_Optional' %]</span></label>
                        <select id="{{prefix}}country" name="{{prefix}}country"
                                ng-disabled="address.validation.country.isDisabled || isReadOnly"
                                ng-model="address.country"
                                ng-options="country.name for country in countries track by country.id"
                                data-rule-required="{{address.validation.country.isRequired}}"
                                data-msg-required="{{::'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', addressFields.country.displayName)}}">
                            <option value="">[% translate 'Select Country' %]</option>
                        </select>
                    </div>
                </div>

                <div class="column large-6" ng-if="address.country && address.country.states.length > 0">
                    <div class="field">
                        <label for="{{prefix}}state">{{::addressFields.state.displayName}}<span class="note" ng-show="!address.validation.state.isRequired">[% translate 'Store_Form_Optional' %]</span></label>
                        <select id="{{prefix}}state" name="{{prefix}}state"
                                ng-disabled="address.validation.state.isDisabled || isReadOnly"
                                ng-model="address.state"
                                ng-options="state.name for state in address.country.states track by state.id"
                                data-rule-required="{{address.country && address.country.states.length > 0}}"
                                data-msg-required="{{::'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', addressFields.state.displayName)}}">
                            <option value="">[% translate 'Select State' %]</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column large-6" ng-if="addressFields.postalCode.isVisible">
                    <isc-address-field field-label="{{addressFields.postalCode.displayName}}" field-name="{{prefix}}postalcode" field-value="address.postalCode" validation="address.validation.postalCode" is-read-only="isReadOnly"></isc-address-field>
                </div>
                <div class="column large-6" ng-if="addressFields.phone.isVisible">
                    <isc-address-field field-label="{{addressFields.phone.displayName}}" field-name="{{prefix}}phone" field-value="address.phone" validation="address.validation.phone" is-read-only="isReadOnly" is-phone="true"></isc-address-field>
                </div>
            </div>
            <div class="row">
                <div class="column large-6" ng-if="addressFields.fax.isVisible">
                    <isc-address-field field-label="{{addressFields.fax.displayName}}" field-name="{{prefix}}fax" field-value="address.fax" validation="address.validation.fax" is-read-only="isReadOnly" is-phone="true"></isc-address-field>
                </div>
                <div class="column large-6" ng-if="addressFields.email.isVisible">
                    <isc-address-field field-label="{{addressFields.email.displayName}}" field-name="{{prefix}}email" field-value="address.email" validation="address.validation.email" is-read-only="isReadOnly" is-email="true"></isc-address-field>
                </div>
            </div>
        </div>
        <div class="button-group spaced" ng-if="!isReadOnly">
            <button type="button" class="button other" data-close ng-click="cancel()">[% translate 'Cancel' %]</button>
            <button type="submit" class="button" ng-click="save()">[% translate 'Save' %]</button>
        </div>
    </form>
</div>