﻿.search-result-full {
    margin-top: 30px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50px;
    bottom: 20px;
    overflow-y: auto;
    border: 2px solid #dddddd;
}

.search-result-full #main-client-area {
    position: absolute;
    top: 36px;
    bottom: 0;
    width: 98%;
}

#cards-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

#cards-container #entity-table-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

#entity-top-info-container #entity-table-container {
    padding: 0 7px;
    margin-top: 15px;
    width: 100%;
}

#entity-table-container .dx-datagrid-headers .dx-header-row.dx-column-lines>td>.dx-datagrid-text-content {
    color: #2d2d2c;
    font-weight: bold;
}

#entity-top-info-container #nodetable #entity-table-container {
    position: absolute;
    top: 28px;
    bottom: 0px;
    width: 100%;
}

.card-section-wrap {
    position: relative;
    top: 16px;
    bottom: 0px;
    width: 100%;
}

.search-result-sidebar {
    margin-top: 20px;
}

#workarea-search-container {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#main-container-entity #search-result-container {
    margin-top: 0;
}

#search-result-query {
    clear: both;
    margin-left: 20px;
    margin-top: 8px;
    float: left;
    margin-right: 4px;
}
.search-result-container-small #search-result-query {
    margin-top: 23px;
    overflow-x: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.showEntityTypes, .showCategory {
    display: inline;
}

.search-result-container-small {
    display: inline;
    width: 290px;
    float: left;
    /*   border-right: solid 1px #cccccc;*/
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    bottom: 20px;
    top: 50px;
}
.search-result-container-small .quicksearchbox #edit-query {
    font-size: 14px;
    margin-right: 5px;
    color: #2d2d2c;
    cursor: pointer; 
}


.draggable {
    background-color: #ffffff;
    z-index: 10000;
}

.search-result-container-small #main-client-area {
    overflow-y: auto;
    position: absolute;
    bottom: 1px;
    top: 91px;
    right: 8px;
    left: 0;
}

.workarea-header .row-icon-button {
    margin: 10px;
    float: right;
}


.workarea-header {
    border-bottom: 1px solid #dddddd;
    height: 35px;
    /*margin-bottom: 5px;*/ 

}

#exportToExceldialog {  
    width: 300px;
    background-color: #ffffff;
    z-index: 10;
   margin-top: 0; 
   border: 1px solid #cccccc;
    border-radius: 5px;
    position: absolute;
    z-index: 101;
    padding: 10px
}

.savedworkarea{
    width: 294px;
    display: none; 
    position: absolute;
    z-index: 101;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px; 
}

.savedworkareas {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px; 
}

.savedworkareas li, .savedworkareas ul {
    list-style: none;
    list-style-type: none; 
}

#workarea-container #savedialog{
    width: 300px;
    background-color: #ffffff;
    margin-top: 0; 
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: absolute;
    z-index: 101;
    padding: 10px;
}

.search-result-container-small .workarea-header {
    height: 90px;
    min-width: 270px;
}

.search-result-container-small .workarea-tool-text {
    display: none; 
}

#workarea-right{
    right: 0;
    display: none; 
}
.workarea-container-split
{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}

.workareatools span {
    cursor: pointer; 
}

.search-result-container-small .workareatools {
    clear: left;
    float: left;
    margin-left: 10px;
}


.workarea-container-active {
    border: 1px dashed #666666;
    border-top-style: dashed;
    background-color: #f9f9f9;
     padding-top: 10px; 
}

.search-result-container-small .quicksearchbox, .openworkarea{
    position: absolute;
    width: 100%;
    top: 8px;
}

.workarea-dropable-hover {

    background-color: #999999; 
}

#loading {
    display: block;
    position: fixed;
    padding-left: 45%;
    padding-top: 400px;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.search-result-container-small #loading {
    position: absolute;    
}
#search-result-query h4 {
    display: inline
}
#workareaicon {
    font-size: 16px;
    margin-right: 5px;
    margin-top: 2px;
}
.activeworkarea, .singleworkarea {
    color: #2d2d2c; 
}
.passiveworkarea {
    color:#999999; 
}

.activeworkarea #primaryworkareatext {
    display: inline; 
}
.passiveworkarea #primaryworkareatext, .singleworkarea #primaryworkareatext {
    display: none; 
}

.search-result-container-small #primaryworkareatext,.search-result-container-small #secondaryworkareatext {
    display: none; 
}

.multiples {
    border: 2px solid #999999;
    position: absolute;
    z-index: 1000000;
}

.card-wrap-below-card {
    z-index: 90000;
    top: -5px;
    left: 5px;
    background-color: #dddddd;
}

#workarea-multiselect-container {
    border-bottom: 1px solid #dddddd;
    position: absolute;
    z-index: 10;
    width: 100%;
}

#workarea-multiselect-control {
    padding-left: 25px;
}

.workareatools .card-tools {
    padding: 0;
}

.workareatools .card-tools-header .fa-navicon {
    margin-top: 0;
}

.workarea-action-button {
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

.query-action-button {
    margin-right: 10px;
    cursor: pointer;
}
