﻿<div class="category-section-wrap" id="<%= sectionId %>">
    <div class="category-section-title">
        <span class="category-section-title-text"><%= sectionName %></span>
        <div class="showCategory" id="<%= sectionId %>-show">
            <i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle" style="display:none"></i>
        </div>
    </div>
    <div id="category-field-container">
    </div>
</div>