﻿<div class="block quick-order-page" ng-controller="QuickOrderPageController as vm" ng-cloak>
    <div class="block-wrapper">
        <div class="button-group">
            <a ng-href="[% urlForPage 'OrderUploadPage' %]" class="button alt" ng-show="vm.orderSettings.canOrderUpload">[% translate 'Upload an Order' %]</a>
        </div>

        <div class="msg outline">
            [% siteMessage 'QuickOrder_Instructions' %]
        </div>

        <div class="fields">
            <div class="field has-action">
                <div class="field-wrapper">
                    <input id="qo-search-view" type="text"
                        ng-init="vm.autocompleteOptions.placeholder = '[% translate 'Enter keyword or item #' %]'"
                        ng-model="vm.searchTerm"
                        kendo-auto-complete
                        k-options="vm.autocompleteOptions"
                        isc-enter="vm.onEnterKeyPressedInAutocomplete()" />
                    <button type="button" class="field-action search" ng-click="vm.onEnterKeyPressedInAutocomplete()"></button>
                </div>
                <span id="errorMessage" class="field-error" ng-show="vm.errorMessage">{{vm.errorMessage}}</span>
            </div>
        </div>

        <div class="order-grid" ng-show="vm.products.length > 0">
            <div class="order">
                <div class="order-items">
                    <table class="order-items-list">
                        <thead>
                            <tr>
                                <th colspan="2">[% translate 'Store_Order_Description' %]</th>
                                <th>[% translate 'Store_Order_Availability' %]</th>
                                <th>[% translate 'Store_Order_Quantity' %]</th>
                                <th>[% translate 'Store_Order_UnitPrice' %]</th>
                                <th>[% translate 'Store_Order_Subtotal' %]</th>
                            </tr>
                        </thead>
                        <tbody class="order-item" ng-repeat="product in vm.products">
                            <tr class="order-item-detail"> {% comment %} ng-class="{'no-price' : product.properties['canShowPrice'] != 'true'}" {% endcomment %}
                                <td class="order-item-visual">
                                    <isc-product-thumb product="product"></isc-product-thumb>
                                </td>

                                <td class="order-item-name">
                                    <isc-product-name product="product"></isc-product-name>
                                    <a class="name" ng-href="{{product.productDetailUrl}}" target="_blank">{{product.shortDescription}}</a>
                                </td>

                                <td class="order-item-status">
                                    <store-availability-status product="product" class="small no-text"></store-availability-status>
                                </td>

                                <td class="order-item-quantity">
                                    <div class="product-quantity">
                                        <div class="wrapper">
                                            <div class="field small">
                                                <input id="product-quantity-{{$index}}" type="number" value="1" min="1" step="1"
                                                    ng-model="product.qtyOrdered"
                                                    isc-enter="vm.quantityInput(product)"
                                                    ng-blur="vm.quantityInput(product)"/>
                                            </div>
                                            <div class="label"><label for="product-quantity-{{$index}}">[% translate 'Store_QuantityLabel' %]</label></div>
                                            <div class="info" ng-show="product.canShowPrice && !product.quoteRequired">
                                                <isc-quantity-break-pricing product-id="product.uuid" break-prices="product.pricing.unitRegularBreakPrices"></isc-quantity-break-pricing>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td class="order-item-price">
                                    <div class="product-price">
                                        <isc-product-price product="product"></isc-product-price> {% comment %} ng-if="product.properties['canShowPrice'] == 'true'" {% endcomment %}
                                        {% comment %} <span class="price" ng-if="product.properties['canShowPrice'] != 'true'">-</span> {% endcomment %}
                                    </div>
                                </td>

                                <td class="order-item-total">
                                    <div class="wrapper">
                                        <span class="label">[% translate 'Store_Order_Subtotal' %]</span>
                                        <span class="value">
                                            <span ng-bind="product.pricing.extendedUnitNetPriceDisplay"></span> {% comment %} ng-if="product.properties['canShowPrice'] == 'true'" {% endcomment %}
                                            {% comment %} <span ng-if="product.properties['canShowPrice'] != 'true'">-</span> {% endcomment %}
                                        </span>
                                        <span class="action">
                                            <button type="button" ng-click="vm.removeProduct(product)">[% translate 'Store_Order_Remove' %]</button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="summary">
                <h3 class="summary-title">[% translate 'Order Summary' %]</h3>
                <table class="order-total">
                    <tbody>
                        {% comment %} <tr class="count" ng-if="vm.totalCountDisplay">
                            <td colspan="2"><span ng-bind="vm.totalCountDisplay"></span> [% translate 'Items' %]</td>
                        </tr> {% endcomment %}
                        <tr class="subtotal"> {% comment %} ng-if="vm.properties['canShowPrice']" {% endcomment %}
                            <td class="label">[% translate 'Subtotal' %]</td>
                            <td class="value">{{vm.grandTotal()}}</td>
                        </tr>
                        <tr class="total"> {% comment %} ng-if="vm.properties['canShowPrice']" {% endcomment %}
                            <td class="label">[% translate 'Total' %]<span class="note">*</span></td>
                            <td class="value">{{vm.grandTotal()}}</td>
                        </tr>
                        <tr class="note"> {% comment %} ng-if="vm.properties['canShowPrice']" {% endcomment %}
                            <td colspan="2">[% translate 'Store_CartTotal_BeforeShippingAndTaxes' %]</td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-group full">
                    <button type="button" class="button" ng-click="vm.addAllToCart('[% urlForPage 'CartPage' %]')" ng-disabled="!vm.allQtysIsValid()">[% translate 'Add To Cart' %]</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="messageConfigurableProduct" value="[% siteMessage 'QuickOrder_CannotOrderConfigurable' %]" />
    <input type="hidden" id="messageStyledProduct" value="[% siteMessage 'QuickOrder_CannotOrderStyled' %]" />
    <input type="hidden" id="messageUnavailable" value="[% siteMessage 'QuickOrder_ProductIsUnavailable' %]" />
    <input type="hidden" id="messageNotFound" value="[% siteMessage 'Product_NotFound' %]" />
</div>
    