﻿.copy-entity-field-editor-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 140px;
    float: left;
    margin-right: 15px;
}


#copy-entity-wizzard-details-tools-outbound-links {
    max-height: 500px;
}

.copy-entity-wizzard-label label, #copy-entity-wizzard-validation-main-entity label,
#copy-entity-wizzard-validation-relations label, #copy-entity-wizzard-result-tools label{
    line-height: 30px;
    color: #2d2d2c;
}

.copy-entity-unique-fields-group {
    border: 1px solid #efefef;
}

#copy-entity-wizzard-choice-tools input {
    display: inline;
}

.copy-entity-wizzard-validation-control-valid {
}

.copy-entity-wizzard-validation-control-notvalid {
    color: #f82a2a;
}

.notValid {
    border: solid 1px #f82a2a !important;
    background-color: #FBEFEF;
}

.field-editor-label-wrap {
    margin-left: 10px;
}

.mandatory-missing {
    color: #f82a2a !important;
}

.extra-top-margin {
    margin-top: 7px;
}

.validation-error {
    margin-right: 3px;
    color: #0071a5;
    height: 14px;
    width: 14px;
}

