﻿<div id="latest-events-overview-dataview">
    <div class="wpr-width-limited-container">
        <div id="latest-events-area">
            <ul id="latest-event-list" class="flat-ul"></ul>
        </div>
    </div>
</div>
