﻿<div id="start-main-container">
    <div class="start-section-col-double">
        <div id="list-of-connectors" class="start-section-box">
            <div class="box-title">
                <span class="fa fa-arrow-circle-o-right std-entypo-fix-icon box-title-icon"></span>Outbound Connectors
            </div>
        </div>
    </div>
    <div class="start-section-col">
        <div id="latest-events-from-connectors" class="start-section-box">
            <div class="box-title">
                <span class="icon-entypo-fix-flag std-entypo-fix-icon box-title-icon"></span>Latest Events
            </div>
        </div>
    </div>
</div>
