//-------------------------------------
//-- Catalog - Base
//-------------------------------------

//-- Product sku

.product-sku {
	color: $text-light-color;
	font-size: 12px;
	font-weight: $normal-weight;
	text-transform: uppercase;
	line-height: 1.3;

	> span {
		white-space: nowrap;
		&::after { content: '\00a0\00a0/\00a0'; }
		&:last-child::after { display: none; }
	}
}

//-- Product price

.product-price {
	line-height: 1;

	.price {
		font-weight: $black-weight;

		.base {
			position: relative;
			top: -1px;
			color: $text-light-color;
			font-size: .65em;
			font-weight: $bold-weight;
			text-decoration: line-through;
		}

		.unit {
			position: relative;
			top: -1px;
			display: inline-block;
			font-size: 14px;
			font-weight: $normal-weight;
			font-style: italic;
			text-transform: lowercase;

			&::before {
				content: '/';
				margin-right: 3px;
			}
		}

		.fees {
			margin-top: 4px;
			color: $text-lighter-color;
			font-size: 12px;
			font-weight: $normal-weight;
		}
	}

	.price-saving {
		display: block;
		font-size: 12px;
		font-style: italic;
	}
}

//-- Product quantity

.product-quantity {
	font-size: 13px;

	input {
		width: $form-field-digit-width;
		margin: 0;
	}

	.note {
		display: block;
		font-size: 12px;
		font-weight: $normal-weight;
		font-style: italic;
	}

	.wrapper {
		display: table;
		width: .1%;
		white-space: nowrap;

		> div {
			display: table-cell;
			vertical-align: middle;
			+ div { padding-left: 10px; }

			&.label {
				width: .1%;
				white-space: nowrap;
			}

			&.value + .label {
				padding-left: 3px;
			}
		}
	}

	.quantity-pricing {
		position: relative;
		bottom: -2px;
		left: 2px;
		display: inline-block;
		font-size: 0;
		line-height: 1;

		button {
			color: $main-color;
			text-decoration: none;
			transition: color $hover-transition $hover-easing;

			&::before {
				@include ico-font($ico-info-char);
				font-size: 18px;
			}

			#{$hover-selector}, &.hover {
				color: $main-active-color;
				text-decoration: none;
			}
		}
	}
}
