//-------------------------------------
//-- Catalog - Category List
//-------------------------------------

.category-list {

	.category-title {
		@include h2-styles;
		@include each-breakpoint {
			@include map-get($flat-spacing, $bp-name) { margin-bottom: $map-value; }
		}
	}

	.category-content {
		margin-bottom: 30px;
	}

	.subcategory-list {
		@include clearfix;
		@include grid-layout(1, 'li', 20px);
		margin: -20px -10px 0;

		> li {
			margin-top: 20px;
		}
	}

	.subcategory-box {
		position: relative;
		display: block;
		text-decoration: none;
		transition: box-shadow $hover-transition $hover-easing;

		.subcategory-image {
			position: relative;
			border: 1px solid $border-color;
			border-bottom: 0;

			@include each-breakpoint {
				@include map-get($gutter-spacing, $bp-name) { padding: $map-value; }
			}

			&::before {
				@include product-image-styles;
				content: '';
			}

			.image {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}

			&.none {
				&::before { display: none; }

				.image {
					@include product-image-styles;
					background-size: contain;
				}
			}
		}

		.subcategory-name {
			padding: 1em;
			border-right: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
			border-left: 1px solid $border-color;
			margin-top: 0;
			box-shadow: 0 2px 4px $shadow-none-color;
			background-color: $bg-alt-color;
			color: $title-color;
			font-family: $text-font;
			font-size: 16px;
			font-weight: $bold-weight;
			text-align: center;
			text-transform: uppercase;
			line-height: 1.2;
			transition: color $hover-transition $hover-easing, background-color $hover-transition $hover-easing, box-shadow $hover-transition $hover-easing, border-color $hover-transition $hover-easing;
		}

		#{$hover-selector} {
			box-shadow: 0 2px 4px $shadow-color;
			text-decoration: none;

			.subcategory-name {
				border-color: $main-color;
				background-color: $main-color;
				color: $white;
			}
		}
	}

	//-- Queries

	@media screen and (min-width: 600px) {
		.subcategory-list { @include grid-layout(2, 'li'); }
	}

	@media screen and (min-width: 980px) {
		.subcategory-list { @include grid-layout(3, 'li'); }
	}

	@media screen and (min-width: 1280px) {
		.subcategory-list { @include grid-layout(4, 'li'); }
	}

}
