//-------------------------------------
//-- Catalog - Configuration
//-------------------------------------

@import 'components/catalog/styles/mixins';

//-- Filters

$filter-spacing: (
	small: 22px
) !default;

//-- Accordion

$accordion-spacing: (
	small: 0,
	large: 22px
) !default;

$accordion-side-spacing: (
	small: 0,
	large: 18px
) !default;

$accordion-head-spacing: (
	small: 0,
	large: 10px
) !default;

//-- Product box

$product-box-radius: $border-radius !default;
$product-box-border-color: $border-color !default;
$product-box-border: 1px solid $product-box-border-color !default;
$product-box-active-border-color: $border-dark-color !default;
$product-box-active-border: 1px solid $product-box-active-border-color !default;

//-- Product availability

$product-availability-border-radius: $border-radius !default;
