//-------------------------------------
//-- Catalog - Filters
//-------------------------------------

.filters {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $bg-alt-color;

	@include each-breakpoint {
		@include map-get($side-spacing, $bp-name) {
			@if ($bp-name == small or $bp-name == medium) {
				padding-right: $map-value;
				padding-left: $map-value;
				margin-right: -$map-value;
				margin-left: -$map-value;
			}
		}

		@include map-get($block-spacing, $bp-name) {
			@if ($bp-name == small or $bp-name == medium) {
				margin-top: -$map-value;
				margin-bottom: $map-value;
			}
		}

		@include map-get($flat-spacing, $bp-name) {
			.category { margin-top: $map-value; }
		}

		@include map-get($text-spacing, $bp-name) {
			.facets-list { margin-top: $map-value; }

			.search-within {
				margin-top: $map-value;
				&.has-facets { padding-top: $map-value; }
			}

			.category.field { margin-top: $map-value; }
		}
	}

	input, select { margin: 0; }

	.filter-label {
		@include h4-styles;
		@include accordion-label-state-styles;
		display: block;
		cursor: pointer;
		&::before, &::after { margin-right: 0; }
	}

	.facets-list {

		.facets button {
			position: relative;
			display: inline-block;
			padding: 5px 7px 5px 19px;
			border: 1px solid $border-color;
			border-radius: $border-radius;
			margin: 2px;
			background-color: $bg-alt-color;
			color: $text-light-color;
			font-size: 12px;
			text-decoration: none;
			transition: color $hover-transition ease-out, border-color $hover-transition ease-out, background-image $hover-transition ease-out;

			&::before {
				@include ico-font($ico-close-char);
				position: absolute;
				top: 50%;
				left: 6px;
				font-size: 8px;
				transform: translateY(-50%);
				transition: color $hover-transition ease-out;
			}

			#{$hover-selector} {
				border-color: $main-color;
				text-decoration: none;
				&::before { color: $main-color; }
			}
		}

		.clear {
			margin-top: 16px;
			color: $title-color;
			font-size: 13px;
			font-weight: $semibold-weight;
			text-decoration: none;

			#{$hover-selector} {
				color: $main-color;
				text-decoration: none;
			}
		}
	}

	.search-within.has-facets {
		border-top: 3px solid $border-color;
	}

	.category {
		.accordion-label { font-weight: $bold-weight; }

		ul {
			margin: 2px 0;

			> li {
				+ li { margin-top: 12px; }

				button {
					@include form-checkbox-styles($has-text: true);
					color: $text-color;

					&.on {
						@include form-checkbox-checked-styles;
						font-weight: $bold-weight;
					}
				}
			}
		}
	}

	//-- Queries

	@media #{bp(large)} {
		padding: 0;
		margin: 0;
		background-color: transparent;
		> .accordion > .accordion-box { @include accordion-box-show; }

		.filter-label {
			cursor: default;
			&::before, &::after { display: none; }
		}
	}
}
