//-------------------------------------
//-- Catalog - Mixins
//-------------------------------------

@mixin product-image-styles($ratio: 65%) {
	position: relative;
	overflow: hidden;
	display: block;
	padding-top: $ratio;
	background-color: $white;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 100%;
		max-height: 100%;
		font-size: 0;
		transform: translate(-50%, -50%);
	}

	&.error {
		@include scalable-icon-mixin('placeholder.svg', 'catalog', $color:$bg-alt-color);
		width: 100%;
		height: 100%;
	}
}

@mixin product-wishlist-button-styles {
	position: relative;
	padding: .15em 0 .15em 1.7em;
	font-size: 13px;
	font-weight: $semibold-weight;
	text-decoration: none;
	letter-spacing: $large-letter-spacing;
	#{$hover-selector} { text-decoration: underline; }

	&::before {
		@include ico-font($ico-heart-char);
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -.025em;
		font-size: 1.3em;
		transform: translateY(-50%);
	}
}
