//-------------------------------------
//-- Catalog - Product Availability
//-------------------------------------

.product-availability-table {
	.status {
		&::before {
			@include ico-font($ico-refuse-char);
			display: block;
			color: $error-color;
			font-size: 1.25em;
		}

		&.on::before {
			content: $ico-confirm-char;
			color: $success-color;
		}
	}
}

.product-availability {
	.status {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		font-weight: $bold-weight;
		text-align: center;
		line-height: 1;
		white-space: nowrap;

		&::before {
			@include ico-font;
			position: relative;
			top: -.1em;
			display: inline-block;
			vertical-align: middle;
			margin-right: .2em;
			font-size: 1.2em;
			line-height: 0;
		}
	}

	.text {
		display: block;
		margin: 2px 0 0;
		color: inherit;
		font-size: 12px;
		line-height: 1.2;

		span { display: block; }

		a, button {
			color: inherit;
			text-decoration: underline;

			#{$hover-selector} {
				color: inherit;
				text-decoration: underline;
			}
		}
	}

	.inventory {
		display: block;
		margin-top: 2px;
		font-size: 12px;
		font-weight: $semibold-weight;
		line-height: 1.2;

		a, button {
			color: inherit;
			text-decoration: underline;

			#{$hover-selector} {
				color: inherit;
				text-decoration: underline;
			}
		}
	}

	&.no-text {
		.status { margin-right: 0; }
		.text { display: none; }
	}

	&.no-inventory .inventory { display: none; }

	//-- Themes

	&.instock {
		border-color: $success-color;
		color: $success-color;

		.status::before {
			content: $ico-confirm-char;
		}
	}

	&.outstock {
		border-color: $error-color;
		color: $error-color;

		.status::before {
			content: $ico-refuse-char;
		}
	}

	&.lowstock, &.innetwork {
		border-color: $alert-color;
		color: $alert-color;

		.status::before {
			content: $ico-confirm-char;
		}
	}

	&.restricted {
		.status::before {
			content: $ico-refuse-char;
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		&:not(.small) .status {
			font-size: 15px;
		}
	}
}
