//-------------------------------------
//-- Catalog - Product Box
//-------------------------------------

.product-box {
	position: relative;
	display: block;
	border: $product-box-border;
	border-radius: $product-box-radius;

	&::before {
		content: '';
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		border: $product-box-active-border;
		border-color: transparent;
		border-radius: $product-box-radius;
		transition: border-color $hover-transition $hover-easing;
	}

	#{$hover-selector} {
		text-decoration: none;
		&::before { border: $product-box-active-border; }
	}

	.box-link {
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		z-index: 1;
	}

	input, button {
		position: relative;
		z-index: 2;
	}

	.box-wrapper {
		text-align: center;

		@include each-breakpoint {
			@include map-get($gutter-spacing, $bp-name) {
				padding: $map-value;
				.product-image { margin-bottom: $map-value; };
			}
		}

		.product-image {
			max-width: 200px;
			margin-right: auto;
			margin-left: auto;
			.image { @include product-image-styles; }
		}

		.product-name {
			margin: .25em 0 0;
			font-size: 14px;
			text-transform: uppercase;
			line-height: 1.2;
		}

		.product-availability {
			margin-top: 8px;

			.inventory {
				a, button {
					position: relative;
					z-index: 1;
				}
			}
		}

		.product-price {
			@include title-styles;
			margin-top: 12px;
			font-size: 22px;
			font-weight: $black-weight;
			line-height: 1;
			.price .unit { font-size: 13px; }
		}

		.product-quantity {
			margin-top: 14px;
			text-align: left;
			.wrapper { margin: 0 auto; }
		}

		.button.cart {
			display: block;
			margin: 16px auto 0;
		}

		.wishlist {
			margin-top: 15px;
			button { @include product-wishlist-button-styles; }
		}
	}

	//-- Queries

	@media #{bp(xlarge)} {
		.box-wrapper {
			.product-price {
				font-size: 25px;
			}
		}
	}

}
