//-------------------------------------
//-- Catalog - Product Detail
//-------------------------------------

.product-detail {
	text-align: center;

	.product-content, .product-documents {
		@include -zf-breakpoint-value(auto, $text-spacing) { margin-top: $-zf-bp-value; }
	}

	.product-images {
		margin-bottom: 28px;

		> .image {
			@include product-image-styles;

			&.has-zoom {
				outline: 0;
				cursor: zoom-in;
			}
		}
	}

	.product-sku {
		margin-top: 3px;
		font-size: 14px;
		&:first-child { margin-top: 0; }
	}

	.product-name {
		@include h2-styles;
		margin: .25em 0 0;
		font-weight: $normal-weight;
		font-style: normal;
		text-transform: uppercase;
		line-height: 1.1;
		&:first-child { margin-top: 0; }
	}

	.product-availability {
		margin: 10px 0 16px;
	}

	.product-price {
		margin: 10px 0 0;

		.price {
			@include h3-styles;
			font-weight: $black-weight;
		}
	}

	.product-quantity {
		margin-top: 16px;
		.wrapper { margin: 0 auto; }
	}

	.button.cart {
		margin-top: 20px;
	}

	.wishlist {
		margin-top: 18px;

		button {
			@include product-wishlist-button-styles;
			font-size: 14px;
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		text-align: left;
		.product-images { margin-top: 0; }
		.product-quantity .wrapper { margin: 0; }
	}

	@media #{bp(large)} {
		.product-price .price-saving { font-size: 13px; }
	}

	@media #{bp(xlarge)} {
		.product-price .price-saving { font-size: 14px; }
	}

}
