//-------------------------------------
//-- Blocks - Product Slider
//-------------------------------------

.product-slider {
	padding: 0;

	.slider {
		position: relative;

		&.show-nav {
			.slider-nav { display: block; }
		}
	}

	.slide {
		box-sizing: content-box;
		padding: 0 12px;
	}

	.slider-nav {
		position: absolute;
		top: 50%;
		display: none;
		width: 20px;
		height: 34px;
		margin-top: -17px;
		color: $text-lighter-color;
		text-decoration: none;

		#{$hover-selector} {
			color: $text-color;
			text-decoration: none;
		}

		&::before {
			@include ico-font;
			font-size: 25px;
		}

		&.flex-prev {
			left: -15px;

			&::before {
				content: $ico-arrow-left-char;
			}
		}

		&.flex-next {
			right: -15px;

			&::before {
				content: $ico-arrow-right-char;
			}
		}
	}

	.flex-control-nav {
		position: relative;
		bottom: 0;
		display: none;
		padding-top: 25px;
		font-size: 0;

		li {
			margin: 0 14px;
		}

		a {
			box-shadow: none;
			background-color: $text-lighter-color;

			&.flex-active {
				background-color: $text-color;
			}
		}
	}

	//-- Queries

	@media #{bp(medium)} {
		padding: 0 28px;

		.slider.show-nav {
			.flex-control-nav { display: block; }
		}
	}

	@media #{bp(large)} {
		.slider-nav {
			&.flex-prev {
				left: -28px;
			}

			&.flex-next {
				right: -28px;
			}
		}
	}
}
