//-------------------------------------
//-- Catalog - Product Tabs
//-------------------------------------

.block.product-tabs {

	//-- Specifications

	.product-specifications {
		@include clearfix;
		@include spacing-styles($gutter-spacing, $type:margin, $side:(right left), $multiple: -.5, $min-bp:large);
		@include spacing-styles($text-spacing, $type:margin, $side:(top bottom));
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }

		table {
			@include table-alt-styles;
			width: 100%;

			td {
				width: 60%;
				text-align: right;
				word-break: break-word;
			}
		}

		.col {
			@include spacing-styles($gutter-spacing, $type:padding, $side:(right left), $multiple: .5, $min-bp:large);

			+ .col {
				@include spacing-styles($table-alt-vertical-padding, $type:padding, $side:(top), $max-bp:medium);
				@include spacing-styles($table-alt-vertical-padding, $type:margin, $side:(top), $max-bp:medium);
				border-top: 1px solid $table-alt-border-color;
			}
		}

		// Queries

		@media #{bp(large)} {
			.col {
				float: left;

				@for $i from 2 through 2 {
					&:first-child:nth-last-child(#{$i}),
					&:first-child:nth-last-child(#{$i}) ~ .col {
						width: percentage(1 / $i);
					}
				}

				+ .col {
					padding-top: 0;
					border-top: 0;
					margin-top: 0;
				}
			}
		}
	}

	//-- Parts

	.product-parts {
		.parts-filter {
			@include spacing-styles($flat-spacing, $type:margin, $side:(bottom));
			overflow: hidden;

			.fields {
				@include form-fields-inline-styles;
				> .field {
					width: 100%;
					.field-action.search::before { color: $form-field-text-color; }
				}
			}
		}

		.parts-list {
			table {
				.part-number { width: .1%; }
				.part-name {
					span {
						visibility: hidden;
						&:last-of-type { visibility: visible; }
						&::before { @include ico-font($ico-sub-arrow-char); }
					}
				}

				.part-quantity {
					width: .1%;
					text-align: center;
				}
			}

			.parts-list-note {
				@include note-styles;
				@include spacing-styles($text-spacing, $type:margin, $side:(top));
			}

			&.filtered {
				table .part-name span { display: none; }
			}
		}

		// Queries

		@media #{bp(xsmall)} {
			.parts-filter .fields > .field {
				width: 50%;
				max-width: $form-field-width;
			}
		}
	}

}
