//-------------------------------------
//-- Catalog - Product Search
//-------------------------------------

.product-search {

	.result-title {
		@include h2-styles;
		@include each-breakpoint {
			@include map-get($text-spacing, $bp-name) { margin-bottom: $map-value; }
		}
	}

	.result-status, .result-none {
		span { display: block; }
	}

	.result-status {
		margin-bottom: 8px;
	}

	.result-count {
		color: $text-light-color;
		font-size: 14px;
	}

	.product-list {
		@include clearfix;
		@include grid-layout(1, 'li', 20px);
		margin: -20px -10px 0;

		> li {
			margin-top: 20px;
		}
	}

	//-- Queries

	@media screen and (min-width: 600px) {
		.product-list { @include grid-layout(2, 'li'); }
	}

	@media screen and (min-width: 1280px) {
		.product-list { @include grid-layout(3, 'li'); }
	}

}
