//-------------------------------------
//-- Catalog - Product Images Slider
//-------------------------------------

.product-images-slider {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 16px auto 0;

	.slider {
		position: relative;
		padding: 0 24px;
		margin: 0 auto;
		text-align: center;

		.slide {
			display: inline-block;
		}

		.image {
			box-sizing: content-box;
			width: 48px;
			height: 48px;
			padding: 0 5px;
			margin: 0 auto;

			.image-wrapper {
				@include product-image-styles;
				box-sizing: border-box;
				width: inherit;
				height: inherit;
				border: 1px solid $border-color;
				transition: border-color $hover-transition $hover-easing;
				cursor: pointer;
				img { padding: 1px; }
			}

			#{$hover-selector}, &.on {
				.image-wrapper {
					border-color: $border-dark-color;
				}
			}

			&.on .image-wrapper {
				cursor: default;
			}
		}

		.slider-nav {
			position: absolute;
			top: 50%;
			display: none;
			width: 1em;
			height: 1.5em;
			color: $text-lighter-color;
			font-size: 16px;
			text-decoration: none;
			transform: translateY(-50%);

			#{$hover-selector} {
				color: $text-color;
				text-decoration: none;
			}

			&::before {
				@include ico-font;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}

			&.flex-prev {
				left: 0;

				&::before {
					content: $ico-arrow-left-char;
				}
			}

			&.flex-next {
				right: 0;

				&::before {
					content: $ico-arrow-right-char;
				}
			}
		}

		&.show-nav {
			.slider-nav { display: block; }
		}

		&:not(.show-nav) {
			.slides { transform: none !important; }
		}
	}

	//-- Queries

	@media #{bp(xlarge)} {
		margin-top: 20px;

		.slider {
			padding: 0 30px;

			.image {
				width: 52px;
				height: 52px;
			}

			.slider-nav {
				font-size: 18px;
			}
		}
	}

	@media #{bp(xxlarge)} {
		margin-top: 24px;

		.slider {
			.image {
				width: 56px;
				height: 56px;
			}

			.slider-nav {
				font-size: 20px;
			}
		}
	}
}
