﻿<div class="block group order-steps" ng-controller="StoreCheckoutOrderDetailsController as vm" ng-class="{'is-empty':vm.cart.cartLines.length === 0}" ng-cloak>
    <div class="block-wrapper">
        <store-checkout-breadcrumb active-step="order-details"></store-checkout-breadcrumb>
        <div class="block" ng-if="vm.cart.cartLines.length === 0">
            <div class="block-wrapper">
                <p>[% siteMessage 'Cart_NoOrderLines' %]</p>
            </div>
        </div>
        <div class="block order-edit" ng-if="vm.cart.cartLines.length > 0" ng-cloak ng-show="vm.ready">
            <isc-spinner show="false" name="order-edit"></isc-spinner>
            <div class="block-wrapper">
                <form id="orderDetailsForm" name="orderDetailsForm">

                    <div class="order-edit-grid">
                        <div class="side">
                            <div class="section">
                                <h2 class="section-title">[% translate 'Billing' %]</h2>

                                <div class="msg error outline" ng-if="vm.showBillToErrorMessage || vm.showShipToErrorMessage">
                                    <ul>
                                        <li ng-show="vm.showBillToErrorMessage">[% translate 'Store_Checkout_IncompleteBillTo' %]</li>
                                        <li ng-show="vm.showShipToErrorMessage">[% translate 'Store_Checkout_IncompleteShipTo' %]</li>
                                    </ul>
                                    <p>[% translate 'Store_Checkout_ContactManager' %]</p>
                                </div>

                                <div class="user-info caps small">
                                    <h3 class="user-info-title">[% translate 'Bill To' %]</h3>
                                    <store-customers-address-summary address="vm.cart.billTo"></store-customers-address-summary>
                                </div>

                                <div class="user-info caps small">
                                    <h3 class="user-info-title">[% translate 'Ship To' %]</h3>
                                    <store-customers-address-summary address="vm.cart.shipTo"></store-customers-address-summary>
                                </div>

                                <div class="user-info caps small" ng-if="vm.location">
                                    <h3 class="user-info-title">[% translate 'Location' %]</h3>
                                    <store-customers-address-summary address="vm.location"></store-customers-address-summary>
                                </div>

                                <div class="user-info caps small" ng-if="vm.location.warehouse">
                                    <span class="user-info-title">[% translate 'My Store' %]</span>
                                    <store-customers-address-summary address="vm.location.warehouse"></store-customers-address-summary>
                                </div>

                                <div class="user-info caps small">
                                    <ul class="user-info-actions">
                                        <li><a class="account-edit" ng-click="vm.changeCustomer('[% urlForPage 'ChangeCustomerPage' %]')">[% translate 'Change customer' %]</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="section">
                                <h2 class="section-title">[% translate 'Shipping Method' %]</h2>
                                <div class="field">
                                    <label for="shippingMethod">[% translate 'Store_Checkout_Edit_ShippingMethodLabel' %]</label>
                                    <select id="shippingMethod" name="shippingMethod" data-rule-required="true" data-msg-required="[% translate 'Shipping Method is required.' %]" ng-model="vm.cart.shipVia" ng-options="shipVia.description for shipVia in vm.cart.carrier.shipVias" ng-change="vm.changeShipVia()"></select>
                                    <div class="field-help">[% translate 'Store_Checkout_Edit_ShippingMethodNote' %]</div>
                                </div>
                                <hr />
                                <div class="fields" ng-if="vm.showShippingInfo">
                                    <div class="field">
                                        <input type="checkbox" id="shipComplete" ng-model="vm.cart.properties['shipComplete']"  data-ng-true-value="'true'"  data-ng-false-value="'false'" />
                                        <label for="shipComplete">[% translate 'Store_Checkout_ShipComplete' %]*</label>
                                        <div class="field-help">[% translate 'Store_Checkout_ShipComplete_Desc' %]</div>
                                    </div>
                                    <div class="field has-action" ng-if="vm.cartSettings.canRequestDeliveryDate">
                                        <div class="field-wrapper">
                                            <label for="requestedDeliveryDate">[% translate 'Store_Checkout_ShipDate' %]</label>
                                            <input type="text" id="requestedDeliveryDate" name="requestedDeliveryDate"
                                                isc-pick-a-date="vm.cart.requestedDeliveryDate"
                                                ng-attr-min-date="true"
                                                ng-attr-max-date="vm.cartSettings.maximumDeliveryPeriod"
                                                ng-attr-pick-a-date-options="{disable:[1,7]}"
                                                data-msg-required="[% translate 'Store_Checkout_RequestedDeliverDate_Required' %]"
                                                ng-required="true" />
                                            <span class="field-action date"></span>
                                        </div>
                                        <label class="field-error error" for="requestedDeliveryDate"></label>
                                    </div>
                                </div>
                                <div class="pickup" ng-if="vm.showPickupInfo">
                                    <div class="field">
                                        <label for="pickFrom">[% translate 'Store_Checkout_Edit_PickupLabel' %]</label>
                                        <select id="pickFrom" name="pickFrom" ng-model="vm.warehouse" ng-options="(warehouse.displayName) for warehouse in vm.pickFromWarehouses" ng-change="vm.updateWarehouse()" ng-required="vm.showPickupInfo" data-msg-required="[% translate 'Pick From Warehouse is required.' %]">
                                            <option value="">[% translate 'Store_Checkout_Edit_PickupPlaceholder' %]</option>
                                        </select>
                                        <div class="field-help">[% translate 'Store_Checkout_Edit_PickupNote' %]</div>
                                    </div>
                                    <div class="user-info caps small" ng-if="vm.showPickupInfo && vm.warehouse">
                                        <h3 class="user-info-title">[% translate 'Store_Checkout_PickupAddress' %]</h3>
                                        <store-customers-address-summary address="vm.warehouse"></store-customers-address-summary>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="text-top">
                                            <div class="section cart">
                                                <h2 class="section-title">[% translate 'Store_Checkout_CartDetails' %]</h2>
                                                <div class="msg error" ng-if="vm.cart.properties['cartHasRestrictedProducts'] === 'true'">[% translate 'Store_Checkout_RestrictedProductsWarning' %]</div>
                                                <store-checkout-cart cart="vm.cart"></store-checkout-cart>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bottom">
                                            <div class="section">
                                                <h2 class="section-title">[% translate 'Store_Checkout_Edit_Misc' %]</h2>
                                                <store-checkout-order-details cart="vm.cart" cart-settings="vm.cartSettings"></store-checkout-order-details>
                                                <div class="button-group full hide-for-large">
                                                    <button class="button ico-next" type="submit" ng-click="vm.continueCheckout('[% urlForPage 'CheckoutOrderReviewPage' %]')">[% translate 'Continue' %]</button>
                                                    <a class="button alt ico-back" href="[% urlForPage 'CartPage' %]">[% translate 'Store_Checkout_EditCart' %]</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="button-group text-right show-for-large">
                        <a class="button alt ico-back" href="[% urlForPage 'CartPage' %]">[% translate 'Store_Checkout_EditCart' %]</a>
                        <button class="button ico-next" type="submit" ng-class="{ disabled: vm.showBillToErrorMessage || vm.showShipToErrorMessage || vm.allRestricted || !vm.cart.canCheckOut }" ng-disabled="vm.showBillToErrorMessage || vm.showShipToErrorMessage || vm.allRestricted || !vm.cart.canCheckOut" ng-click="vm.continueCheckout('[% urlForPage 'CheckoutOrderReviewPage' %]')">[% translate 'Continue' %]</button>
                    </div>
                </form>
            </div>
            <isc-popup-template container-id="{{vm.billToEditFormId}}" title="[% translate 'View' %] [% translate 'Bill To' %]">
                <div class="msg error" ng-if="vm.showBillToErrorMessage">[% translate 'Store_Checkout_IncompleteBillTo' %]</div>
                <store-customers-address-edit prefix="bt" is-read-only="true" show-email="true" address="vm.cart.billTo" countries="vm.countries" address-fields="vm.addressFields.billToAddressFields" save="vm.saveBillTo()" cancel="vm.cancelEditBillTo()"></store-customers-address-edit>
            </isc-popup-template>
            <isc-popup-template container-id="{{vm.shipToEditFormId}}" title="{{ vm.canEditShipTo ? '[% translate 'Edit' %]' : '[% translate 'View' %]' }} [% translate 'Ship To' %]">
                <div class="msg error" ng-if="vm.showShipToErrorMessage">[% translate 'Store_Checkout_Popup_IncompleteShipTo' %]</div>
                <store-customers-address-edit prefix="st" is-read-only="!vm.canEditShipTo" show-email="true" address="vm.cart.shipTo" countries="vm.countries" address-fields="vm.addressFields.shipToAddressFields" save="vm.saveShipTo()" cancel="vm.cancelEditShipTo()"></store-customers-address-edit>
            </isc-popup-template>
        </div>
    </div>
</div>
