﻿
/*#personalSettings li a, #personalSettings li a:hover, #personalSettings li a:focus, #personalSettings li a:active, #personalSettings li a:visited {
    color: #333;
    text-decoration: none;
}*/

#user-settings div {
    float: left;
}

#user-settings div div {
    margin: 3px;
    float: left;
}

.user-settings-label {
    width: 120px;
    padding: 5px;
    padding-top: 3px;
}

#user-settings div div input {
    width: 150px;
    border: 1px solid #777777;
    padding: 3px;
    font-size: 12px;
    color: #333333;
}

#user-settings div div select {
    width: 158px;
    border: 1px solid #777777;
    padding: 3px;
    font-size: 12px;
    color: #333333;
}

#user-settings div div span {
   
    padding: 3px;
    font-size: 12px;
    color: #333333;
}

.user-settings-row {
    width: 100%;
}

div.error input {
    background: #fff0f0;
    border: #aa0000 1px solid !important;
}
