﻿ul.breadcrumbs {
    display: table;
    background: #f6f6f6;
    padding: 6px 10px 7px;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}

    ul.breadcrumbs li {
        margin: 0;
        padding: 0 12px 0 0;
        float: left;
        list-style: none;
    }

        ul.breadcrumbs li a, ul.breadcrumbs li span {
            /*text-transform: uppercase;
            font-size: 11px;*/
            padding-left: 12px;
            color: #000000;
        }

        ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span {
            padding-left: 0;
        }

        ul.breadcrumbs li:before {
            content: "/";
            color: #aaa;
        }

        ul.breadcrumbs li:first-child:before {
            content: " ";
        }

        ul.breadcrumbs li.current a {
            cursor: default;
            color: #333;
        }

        ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus {
            text-decoration: underline;
        }

        ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus {
            text-decoration: none;
        }