//-------------------------------------
//-- Table - Base
//-------------------------------------

#{'.dataTables_wrapper'} {
	@include clearfix;

	@include each-breakpoint {
		@include map-get($flat-spacing, $bp-name) {
			.dt-top { margin-bottom: $map-value; }
		}

		@include map-get($text-spacing, $bp-name) {
			.dt-bottom { margin-top: $map-value; }
		}
	}

	.dt-top {
		display: block;
		overflow: hidden;
		.dt-pager { display: none; }
	}

	//-- Search field

	#{'.dataTables_filter'} {
		width: 100%;
		max-width: 100%;

		label {
			display: block;
			font-size: 0;
		}

		input {
			@include bg-image-mixin('ico_search.svg', 'common', $inline:true, $color:$form-field-text-color);
			@include form-field-bg-image-styles($side: left);
			margin: 0;
		}
	}

	//-- Paging

	#{'.dataTables_paginate'} {
		margin: 0 -5px;
		text-align: center;

		&.empty { display: none; }
		> span { display: inline-block; }

		#{'.paginate_button'} {
			display: inline-block;
			padding: 3px 5px;
			border-radius: 2px;
			margin: 0 5px;
			color: $title-color;
			font-size: 13px;
			font-weight: $normal-weight;
			text-decoration: none;
			line-height: 1;

			&.previous, &.next { display: none; }

			&.previous {
				&::before {
					@include ico-font($ico-arrow-left-char);
					position: relative;
					top: -1px;
					margin-right: 4px;
					font-size: 8px;
				}
			}

			&.next {
				&::after {
					@include ico-font($ico-arrow-right-char);
					position: relative;
					top: -1px;
					margin-left: 4px;
					font-size: 8px;
				}
			}

			&.current {
				background-color: $main-color;
				color: $invert-color;
			}

			&.disabled {
				color: $text-light-color;
				cursor: default;
			}

			&:not(.disabled):not(.current) {
				#{$hover-selector} {
					color: $main-color;
					text-decoration: none;
				}
			}
		}

		.ellipsis {
			margin: 0 3px;
		}
	}

	//-- Queries

	@media screen and (min-width: 400px) {
		#{'.dataTables_paginate'} #{'.paginate_button'} {
			&.previous, &.next { display: inline-block; }
		}
	}

	@media #{bp(medium)} {
		.dt-top {
			display: table;
			width: 100%;

			> div {
				display: table-cell;
				vertical-align: bottom;

				&.dt-filter {
					width: 300px;
				}

				&.dt-pager {
					display: table-cell;
					padding-left: 20px;
					white-space: nowrap;
				}
			}
		}

		.dt-bottom {
			display: none;
		}

		#{'.dataTables_paginate'} {
			text-align: right;
		}
	}

}
