﻿/* modifications */
ul[id*='Roles'], ul[id*='Permissions'] {
    list-style-type: none;
}

.backgrid tr {
    cursor: pointer;
}

#settings-list {
    -moz-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;
}

#content {
    float: left;
    position: relative;
    left: 130px;
    position: absolute;
    bottom: 10px;
    top: 60px;
    right: 10px;
}


#sidebar {
    background: #eee;
    color: #333;
    /*position: fixed;*/
    float: left;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: center;
    width: 100px;
    border-bottom: 1px solid #e7e7e2;
}

    #sidebar ul {
        margin: 0;
        padding: 0;
    }

    #sidebar li {
        float: left;
        margin-top: 0;
    }

    #sidebar a {
        -webkit-transition: background;
        -webkit-transition-duration: .4s;
        background: #eeeeee;
        color: #333 !important;
        display: block;
        height: 60px;
        -moz-transition: background;
        -ms-transition: background;
        -o-transition: background;
        transition: background;
        -moz-transition-duration: .4s;
        -ms-transition-duration: .4s;
        -o-transition-duration: .4s;
        transition-duration: .4s;
        padding-top: 7px;
        width: 99px;
        border-right: 1px solid #e7e7e2;
    }

        #sidebar a:hover {
            background: #e5e5e5;
        }

.sidebar-active {
    border-color: transparent #ccc transparent transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    display: block;
    float: right;
    left: 0;
    position: fixed;
    top: 0;
}

.sidebar-active2 {
    background: url(../images/nav_arrow.png) no-repeat right;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    color: white;
    -ms-text-shadow: none;
    text-shadow: none;
}

.sidebar-active-bg {
    background: #e5e5e5 !important;
}

#navigation-item-content {
    display: -moz-inline-box; /* FF2 or lower */
    display: inline-block; /* FF3, Opera, Safari */
    line-height: normal;
    vertical-align: middle;
}


/*#sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}*/

#navigation-content-wrap {
    height: 100%;
    width: 100%;
}

#navigation-item-content {
    display: -moz-inline-box; /* FF2 or lower */
    display: inline-block; /* FF3, Opera, Safari */
    line-height: normal;
    vertical-align: middle;
}

.navigation-icon {
    display: block;
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
}

.modal-dialog {
    display: none;
}

#main-container {
    display: inline-block;
    -moz-min-width: 800px;
    -ms-min-width: 800px;
    -o-min-width: 800px;
    -webkit-min-width: 800px;
    min-width: 800px;
    top: 0;
    width: 100%;
}

.box {
    background: #fff;
}

.box-header {
    padding: 10px 20px 0 16px;
    display: block !important;
   
    -ms-border-top-right-radius: 1px;
    border-top-right-radius: 1px;
    -ms-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
    color: #767676;
    background-color: #fff;
    border-color: #e9e9e9;
    line-height: 56px;
    height: 65px;
}

#edit-panel .box-header {
    left: 0;
    right: 10px;
    position: absolute;
}

.box-header h2 {
    float: left;
    font-size: 25px;
    color: #2d2d2c;
    margin: 0 auto;
    letter-spacing: -2px;
}

.box-actions {
    float: right;
    margin-right: 20px;
}

.box-content {
    padding: 0 15px;
    padding-right: 20px; 
    top: 91px;
    bottom: 10px;
    position: absolute;
    left: 0;
    right: 10px;
    overflow: auto;
}

    .box-content #saveButton {
        margin-left: 11px;
    }

.box-details {
    padding: 10px;
}

#cvl-details-container button {
    margin-top: 27px;
}

#completeness-def-name {
    float: left;
    margin-right: 15px;
}

/*edit panel start*/

#edit-panel {
    -moz-min-width: 630px;
    -ms-min-width: 630px;
    -o-min-width: 630px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    -webkit-min-width: 630px;
    background: #fff;
    border-left: 1px solid #CECDCB;
    bottom: 0;
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    display: none;
    min-width: 630px;
    overflow: auto;
    padding: 0 30px 30px 30px;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
    z-index: 99;
}

    #edit-panel h2 {
        color: #2d2d2c;
        font-size: 27px;
        letter-spacing: -2px;
        margin-bottom: 15px;
        padding-left: 25px;

    }

#edit-panel-wrap {
    clear: both;
}

    #edit-panel-wrap > h3 {
        margin-bottom: 20px;
    }

#edit-panel input {
    display: inline;
}

#edit-panel label {
    display: inline-block;
    margin: 5px 0;
    width: 150px;
    float: left;
}

#edit-panel input[type="checkbox"] + label {
    display: inline-block;
    font-weight: normal;
    margin-left: 10px;
    text-align: left;
}

#edit-panel fieldset > div > label {
    float: left;
}

#edit-panel fieldset input[type="text"] {
    width: 200px;
}

#edit-panel fieldset > div {
    overflow: hidden;
    width: 100%;
}

#edit-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#edit-panel fieldset > div {
    background: #fff;
    overflow: hidden;
    padding: 15px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

    #edit-panel fieldset > div:nth-child(even) {
        background: #f0f0f0 !important;
    }

    #edit-panel fieldset > div input[type=text], .controls select, .controls textarea {
        padding: 5px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        border: 1px #ccc solid;
        width: 200px;
    }

    #edit-panel fieldset > div input[type=text], #edit-panel fieldset > div textarea, .controls textarea {
        -moz-min-width: 200px;
        -ms-min-width: 200px;
        -o-min-width: 200px;
        -webkit-min-width: 200px;
        min-width: 200px;
        width: 300px;
        margin-right: 4px;
    }

    #edit-panel .field-Arguments .controls input[type=text]{
        width: 75%;
    }

    #modalWindow .field-Arguments .controls input[type=text]{
        width: 75%;
    }

    .control-group.error {
        display: block;
    }

    #edit-panel fieldset > div ul {
        width: 400px;
    }

    #edit-panel fieldset > div ul {
        margin: 0;
        padding: 0;
    }

        #edit-panel fieldset > div ul li {
            display: inline-block;
            white-space: nowrap;
            margin-right: 5px;
            padding: 3px;
        }

            #edit-panel fieldset > div ul li label {
                width: auto;
                float: none;
                font-size: larger;
            }

    #edit-panel fieldset > div input[type=checkbox] + label, .controls input[type=radio] + label {
        color: #666666;
        font-style: normal;
    }

    #edit-panel fieldset > div input[type=checkbox]:checked + label, .controls input[type=radio]:checked + label {
        color: #000000;
        font-style: normal;
    }


/* Modal css*/

.bbm-wrapper {
    background: rgba(0, 0, 0, 0.55);
}

.bbm-modal__section {
    font-size: 13px;
}

/*edit panel end*/

#control-row {
    z-index: 1;
    width: 100%;
    background-color: #eee;
    overflow: visible;
}

.control-row-tab-area {
    display: inline;
    height: 80px;
    float: left;
    width: 260px;
}

.control-row-tab-icon {
    margin-bottom: 7px;
    text-align: center;
}

#tab-details {
    width: 50px;
    left: 360px;
}

#tab-content {
    width: 50px;
    left: 440px;
}

#tab-activities {
    width: 50px;
    left: 520px;
}

.left-align {
    text-align: left;
}

.control-row-tab-button-active {
    background: #fff;
}

.modal_section {
    padding: 0 30px;
    margin-top: 15px;
    line-height: 26px;
    color: #575656;
}

.modal_bottombar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 18px;
    text-align: right;
    margin-top: 30px;
}

span.link {
    cursor: pointer;
}

#message {
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}

div.hr {
    clear: both;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

div#entityTypes .control-group {
    overflow: visible;
}

div#entityTypes .control-label {
    margin-left: -25px;
    margin-right: 10px;
    margin-top: 7px;
    color: #333;
    width: auto;
}

div#rule-panel {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: visible;
    background-color: white;
    display: none;
}

div#action-panel {
    z-index: 15;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: visible;
    background-color: white;
    display: none;
}

h2 i.fa {
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.cvlId {
    font-size: 16px;
}

#cvl-details {
    float: left;
    margin-top: -20px;
}

.cvl-header {
    float: left;
}

.compleness-tree-area {
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
    max-width: 350px;
    margin-top: 10px;
}

.completeness-content-area {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #cccccc;
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
    bottom: 0; /*34px;*/
    position: absolute;
    top: 0;
    left: 370px;
    right: 0;
    background-color: #ffffff;
}

.completeness-area-small {
    display: inline;
    float: right;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.completeness-tab {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.completeness-tab .backgrid tr {
    cursor: default;
}

.completeness-row-view-height {
  
    overflow: hidden;
    width: 100%;
    top: 15px;
    font-size: 18px;
}

.completeness-content-tab-button {
    bottom: 0;
    padding: 10px 15px 6px 15px;
    float: left;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #2d2d2c;
    font-size: larger
}

.completeness-content-tab-button-active {
    border-bottom: 3px solid #d33138;
}



.completeness-content-row-icon-button {
    cursor: pointer;
    padding: 8px;
    font-weight: normal;
    font-size: 15px;
}

#completeness-content-info-container {
    position: relative;
    border-top: 1px solid #999999;
    flex: 1 1 auto;
}

#completeness-control-row-content .control-row-tab-area {
    display: inline;
    float: left;
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 13px;
}

#completeness-control-row-content .control-row-tool-area > span {
    margin-top: 0;
    display: inline;
    float: left;
    font-size: 16px;
}

.completeness-details-row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    clear: both;
    min-height: 27px;
    padding-bottom: 5px;
}

.completeness-details-table-row {
    padding-left: 5px;
    display: block;
    line-height: 25px;
}

.completeness-details-row-table-wrapper, .completeness-details-row-table-wrapper-definition, .completeness-actions-row-table-wrapper {
    display: inline-block;
    margin-top: 50px;
}

.completeness-details-row-table-wrapper .box-content {
    top: 115px;
}

.completeness-details-row-table-wrapper-definition .box-content {
    top: 145px;
}

.completeness-actions-row-table-wrapper .box-content {
    top: 30px;
}

.completeness-details-row-label {
    padding-left: 20px;
    padding-top: 6px;
    width: 200px;
    vertical-align: top;
    display: inline-block;
}

.completeness-action-row-label {
    padding-left: 20px;
    padding-top: 6px;
    vertical-align: top;
    display: block;
}

.completeness-action-row-label .content-area-tools {
    color: #999999;
    margin-right: 10px;
}

.completeness-details-row-label-popup {
    padding-left: 20px;
    padding-top: 6px;
    width: 150px;
    vertical-align: top;
    display: inline-block;
}

.completeness-details-inner-row {
    display: block;
    margin-top: 5px;
}

.completeness-details-inner-row-label {
    width: 150px;
    vertical-align: top;
    display: inline-block;
}

.completeness-details-row-value-wrapper {
    display: inline-block;
    color: #333;
    -moz-min-width: 20px;
    -ms-min-width: 20px;
    -o-min-width: 20px;
    -webkit-min-width: 20px;
    min-width: 40px;
    padding-top: 5px;
}

.edit-value-icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    padding-right: 8px;
    padding-left: 8px;
}

.no-edit-text-area {
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 550px;
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
}

.tree-node-alert-color {
    color: #d33138;
}

#languages-list table th {
    cursor: default;
}

#languages-list table tr {
    cursor: default;
}

#restricted-list table th {
    cursor: default;
}

#restricted-list table tr {
    cursor: default;
}

.fa-trash-o {
    cursor: pointer;
}

.html-template-item-row {
    margin: 5px 0;
    padding: 5px;
    background: #fafafa;
}

.html-template-item-row > div > div {
    display: inline-block;
}

.html-template-item-row > div > div > i {
    display: inline-block;
    margin: 0 5px;
}

#html-template-item-row-info {
    margin-top: 3px;
    margin-left: 10px;
    color: #999;
}

.html-template-item-row-name {
    width: 300px;
}

#html-template-edit-view-wrap {
    margin-top: 80px;
}

#html-template-edit-view-wrap #left-panel-wrap {
    float: left;
    display: inline-block;
    margin-right: 20px;
}

#html-template-edit-view-wrap #content-wrap {
    float: left;
    display: inline-block;
}

#left-panel-wrap > div {
    margin-bottom: 20px;
}

#left-panel-wrap  input {
    width: 200px;
}

#template-content {

    height: 400px;
}

.template-type-wrap {
    margin-bottom: 30px;
}

.template-type-wrap h3 {
    margin-bottom: 5px;
}

.template-type-wrap li {
    width: 360px;
}

#templates-dropdown {
    padding: 3px;
    min-width: 100px;
    margin-left: 20px;
}

#html-templates-edit-wrap {
    display: inline-block;
}

#template-type-specific-settings .ms-parent {
    margin-left: 3px;
}


#template-source-wrap {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    margin-right: 20px;
    /*border: 1px solid #bbb;*/
}

#template-source-wrap > div {
    padding: 15px;
}

#template-source-wrap .buttons {
    margin-top: 10px;
}

.template-setting-row {
    margin-bottom: 10px;
}

#template-settings-wrap {
    margin-top: 10px;
    float: left;
    /* padding: 20px; */
    margin-right: 20px;
   /* border: 1px solid #bbb;*/
}

.html-template-preview-view #html-template-preview-filters > div {
    /*display: inline-block;*/
}

.html-template-preview-view #template-data-preview {
    width: 500px;
    height: 400px;
    float: none;
}

#html-template-preview-filters  {
    margin-bottom: 20px;
}

#html-template-preview-filters  > div > div {
    margin-bottom: 10px;
}


.html-template-preview-view > div {
    padding: 15px;
}

.html-template-preview-view > div > div {
    display: block;
    margin-bottom: 10px;
}

#html-templates-edit-wrap h2 {
    background: #fff;
    color: #2d2d2c;
    padding: 15px;
    margin-bottom: 5px;
    border-bottom: solid 2px #d33138;
}

#html-templates-edit-wrap div > .left-column {
    display: inline-block;
    width: 200px;
}

.code-mirror-wrap {
    border: 1px solid #ddd;
}

#template-source-wrap div > input {
    display: inline-block;
    width: 220px;
}

#html-templates-edit-wrap #number-of-entities-per-page {
    margin-left: 3px;
    width: 40px;
}

#html-templates-edit-wrap select, #html-templates-edit-wrap #entity-ids {
    display: inline-block;
    width: 230px;
}

#html-templates-edit-wrap #entity-ids {
    width: 220px;
}

.html-template-preview-view #download-pdf:disabled {
    opacity: 0.5;
}


#html-templates-edit-wrap textarea {
    float: none;
    margin-top: 20px;
    font-size: 12px;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre; 
    overflow: auto;
}

.users-button-row {
    text-align: right;
}

.icon-header {
    margin-right: 11px;
}

#upload-template-content {
    margin-top: 10px;
}

#language {
    margin-left: 3px;
}