﻿<div id="<%= rowId %>" class="query-row">
    <div class="query-link-container">
        <a href="#" id="rule-system-link"></a>
        <div id="rule-system-list" class="query-menu"></div>
    </div>
    <div class="query-link-container">
        <a id="rule-operator-link">Equals</a>
        <span id="rule-operator-value" style="display:none">Equals</span>
        <ul id="rule-operator-list" class="query-menu"></ul>
    </div>
    <div class="query-link-container">
        <a href="#" id="rule-value-link"></a>
        <input id="rule-value-input" type="text" />
        <div id="rule-value-list" class="query-menu"></div>
    </div>
    <div class="query-link-container">
        <a href="#" id="rule-language-link"></a>
        <ul id="rule-language-list" class="query-menu"></ul>
    </div>
    <span id="query-remove-row" title="Removes this condition"> <i class="fa fa-times-circle"></i></span>
</div>