﻿<div class="nodeConfigHeader">
    <span class="node-view-title-text">Configure node</span>
</div>
<div id="configure">
    
    <div class="content-area-tools-row">
        <span class="content-area-tools" id="AddRules">
            <i title="Create rule" class="fa fa-plus-square-o row-icon-button"></i>
            Create Rule
        </span>
        <span class="content-area-tools" id="AddNewQuery">
            <i title="Create New Query" class="fa fa-plus-square-o row-icon-button"></i>
            Create New Query
        </span>
        <span class="content-area-tools" id="UseExistingQuery">
            <i title="Use Existing Query" class="fa fa-plus-square-o row-icon-button"></i>
            Use Existing Query
        </span>
        <span class="content-area-tools" id="SaveDefinition">
            <i title="Save Rules And Queries" class="fa fa-save row-icon-button"></i>
            Save Rules And Queries
        </span>
        <span class="content-area-tools" id="DeleteDefinition">
            <i title="Delete Rules And Queries" class="fa fa-trash-o row-icon-button"></i>
            Delete Rules And Queries
        </span>
    </div>

    <div class="nodeConfigureType">
        <span>Link type:</span>
        <select id="linktype">
            <option value="">Select Link type</option>
        </select>
        <span id="linktypenoedit" style="display: none"></span>

    </div>
    <div class="nodeConfigureOperator">
        <span>Operator:&nbsp;&nbsp;</span>
        <select id="operator">
            <option value="AND">AND</option>
            <option value="OR">OR</option>
        </select>
        <span id="operatornoedit" style="display: none"></span>
    </div>
    <div id="rulearea">
        <span class="ruletitle">Rules:</span>
    </div>
    <div id="queryarea">
        <span class="ruletitle">Query:</span>
    </div>
    <div id="querycontainer" style="display: none">
        <span class="querytitle"></span>
        <div id="queryselectionarea">
            <span><i id="closeConfigureQuery" class="fa fa-close row-icon-button"></i></span>
            <div id="queryFilterContainer" style="display: none">
                <span><input id="treefilter" class="filter" placeholder="Filter" type="text" /><i class="fa fa-filter" id="workareasearch"></i></span>
            </div>
            <div id="queryEditorViewContainer"></div>
        </div>
    </div>
</div>
