﻿<div id="<%= rowId %>" class="query-row">
    <div class="query-link-container">
        <span id="work-area-link"><%= name %></span>
    </div>
    <span id="query-remove-row" title="Removes this condition"> <i class="fa fa-times-circle"></i></span>
</div>