﻿<div class="block dealer-detail" ng-controller="DealerController as vm" ng-cloak>
    <div class="block-wrapper">
        <div ng-show="NoLocation" ng-cloak>
            [% siteMessage 'DealerLocator_NoLocationMessage' %]
        </div>
        <div class="messaging" ng-show="vm.notFound" ng-cloak>
            [% siteMessage 'DealerLocator_NoResultsMessage' %]
        </div>
        <div class="dealer-loc-map" id="dealer-loc-map">
            <map name="dealersmap" zoom="11" style="height: 650px;"></map>
        </div>

        <div class="dealer-deetz" ng-if="vm.dealer" ng-cloak>
            <div class="dealer-name">
                <h5 ng-bind="vm.dealer.name"></h5>
            </div>
            <div class="dealer-addy" ng-cloak>
                <span ng-bind="vm.dealer.address1"></span><br />
                <span ng-if="vm.dealer.address2" ng-bind="vm.dealer.address2"><br /></span>
                <span ng-bind="vm.dealer.city"></span>, <span ng-bind="vm.dealer.state"></span> <span ng-bind="vm.dealer.postalCode"></span><br />
                <span ng-bind="vm.dealer.phone"></span>
            </div>
            <div class="dealer-hours-map" ng-if="vm.dealer.htmlContent">
                <h4>[% translate 'Hours' %]</h4>
                <div ng-bind-html="vm.dealer.htmlContent"></div>
            </div>
            <div class="dealer-links">
                <a ng-href="http://maps.google.com/maps?daddr={{vm.dealer.address1}} {{vm.dealer.address2}}, {{vm.dealer.city}}, {{vm.dealer.state}} {{vm.dealer.postalCode}}" class="dealer-directions" target="_blank">[% translate 'Directions' %]</a>
                <span ng-if="vm.dealer.webSiteUrl" ng-cloak>
                    <a ng-href="{{vm.dealer.webSiteUrl}}" class="dealer-www" target="_blank">[% translate 'Website' %]</a>
                </span>
            </div>
        </div>

        <div id="directionsPanel" style="margin-right: 10px;" ng-cloak></div>
    </div>
</div>