﻿<div class="widget [[Model.CssClass]]" ng-controller="FeedbackController as vm" ng-cloak>
    <div ng-if="vm.submitted" class="msg success">[[Model.SuccessMessage]]</div>
    <form id="contactUsForm[[Model.ContentKey]]" class="feedbackForm" action="[% urlFor '/CustomContactUs/Submit?EmailTo='%][[Model.EmailToValue]]" enctype="multipart/form-data" method="post">
        <input type="hidden" value="[[Model.EmailToValue]]" id="feedbackEmailAddr" />
        <div class="row">
            <div class="column medium-6">
                <div class="field">
                    <label for="topic[[Model.ContentKey]]">[% translate 'Topic' %]</label>
                    <select id="topic[[Model.ContentKey]]" name="Topic" data-val="true" data-val-required="[[Model.TopicIsRequiredErrorMessage]]" ng-model="Model" ng-change="vm.topicChanged(this)">
                        <option value="">[% translate 'Select Topic' %]</option>
                        [% for topic in Model.Topics -%]
                        <option>[[topic]]</option>
                        [% endfor -%]
                    </select>
                    <div class="field-error" data-valmsg-replace="true" data-valmsg-for="Topic"></div>
                </div>
            </div>
            <div class="column medium-6">
                <div class="field">
                    <label for="subTopic[[Model.ContentKey]]">[% translate 'Sub Topic' %]</label>
                    <select id="subTopic[[Model.ContentKey]]" name="SubTopic" data-val="true" data-val-required="[[Model.SubTopicIsRequiredErrorMessage]]">
                        <option value="">[% translate 'Select Sub Topic' %]</option>
                        [% for subTopic in Model.SubTopics -%]
                        <option>[[subTopic]]</option>
                        [% endfor -%]
                    </select>
                    <div class="field-error" data-valmsg-replace="true" data-valmsg-for="SubTopic"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column medium-12">
                <div class="field has-action">
                    <label for="feedbackFileUpload">[% translate 'Attachment(s)' %] <span class="note">Optional</span></label>
                    <div class="field-wrapper">
                        <input id="feedbackFileUpload" type="file" name="theFile" onchange="angular.element(this).data('_scope').vm.setFile(this)">
                        <label for="feedbackFileUpload" class="text-field" ng-bind="!vm.fileName ? '[% translate 'No file selected.' %]' : vm.fileName" ng-class="{'placeholder':!vm.fileName}"></label>
                        <span class="field-action browse"></span>
                        <button class="field-action" type="button" ng-show="vm.fileName" style="text-align: center;right: 1px;left: auto;font-size: 1.2em;" ng-click="vm.removeFile()">&times;</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="message[[Model.ContentKey]]">[% translate 'Issue Description' %]</label>
            <textarea id="message[[Model.ContentKey]]" name="Message" placeholder="[% translate 'Please describe the issue with as much detail as possible' %]" data-val="true" data-val-required="[[Model.MessageIsRequiredErrorMessage]]"></textarea>
            <div class="field-error" data-valmsg-replace="true" data-valmsg-for="Message"></div>
        </div>
        <div class="row">
            <div class="column medium-6">
                <div class="field">
                    <label for="fname[[Model.ContentKey]]">[% translate 'First Name' %]</label>
                    <input type="text" id="fname[[Model.ContentKey]]" name="fname" />
                </div>
            </div>
            <div class="column medium-6">
                <div class="field">
                    <label for="lname[[Model.ContentKey]]">[% translate 'Last Name' %]</label>
                    <input type="text" id="lname[[Model.ContentKey]]" name="lname" />
                </div>
            </div>
        </div>
        <div class="field">
            <label for="email[[Model.ContentKey]]">[% translate 'Email' %]</label>
            <input type="text" name="email" id="email[[Model.ContentKey]]"
                   data-val="true"
                   data-val-regex-pattern="[[Model.EmailAddressRegexPattern]]"
                   data-val-regex="[[Model.EmailIsInvalidErrorMessage]]" />
            <div class="field-error" data-valmsg-replace="true" data-valmsg-for="email"></div>
        </div>
        <div class="button-group">
            <button type="button" ng-show="vm.submitted" class="button alt" ng-click="vm.reset()">[% translate 'Reset' %]</button>
            <button type="button" ng-click="vm.submit()" class="button">[% translate 'Send' %]</button>
        </div>
    </form>
</div>