﻿body {
    background-color: #eeeeee;
    padding-bottom: 40px;
    padding-top: 40px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:1.428571429;
    color:#777;
}
 
.form-signin {
   /* height: 400px; */
    width: 300px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top:50px;
      
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    padding: 19px 29px 29px 19px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox { margin-bottom: 10px; }

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    /*border-color: #cccccc;*/
}

input {
    border: 1px solid #cccccc;
      font-family: 'Roboto',Verdana,Arial,sans-serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.copyright {
    width: 200px; 
    margin-left: auto; 
    margin-right: auto;
    color: #aaa; 
}

.error {
    background-color: #f2dede;
    width: 73%;
  
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
}

::-webkit-input-placeholder {
color: #cccccc;
}
:-moz-placeholder { /* older Firefox*/
color: #cccccc;
}
::-moz-placeholder { /* Firefox 19+ */ 
color: #cccccc;
} 
:-ms-input-placeholder { 
 color: #cccccc;
}
