﻿<div>
    <div class="box-title">
        <span class="icon-entypo-fix-user std-entypo-fix-icon box-title-icon"></span>Users
    </div>
    <div id="xconnect-user-list-wrap" class="box-content">
        <ul class="flat-ul"></ul>
    </div>
    <button id="list-of-users-add">Add User</button>
</div>