﻿
#campaign-view-gantt-left-margin-container {
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #fff;
    border-right: #eee 1px solid;

}

#campaign-view-gantt-right-margin-container {
    /*overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    white-space:nowrap;*/
    /*overflow: scroll;*/
    /*overflow-y: auto;*/
    position: relative;
    /*height: 100%;*/
    /*width: 100%;*/
    margin-left: 300px;
    /*background-color: rgba(0, 255, 255, 0.1);*/
}

#gantt-acitivities-fullwidth-area {
    background-color: rgba(0, 0, 255, 0.1);
}

#gantt-calendar-wrap {

}

/*.gantt-first-row {
    border-top: #eee 1px solid;
}*/

#gantt-rows-area {
    padding-top: 50px;
}

.gantt-row:hover {
     background: #f3f3f3;
}


.gantt-progress-rect {
    position: absolute;
}


.gantt-row-area {
    padding-top: 11px;
    height: 50px; 
    /*font-family: 'Arial', Helvetica;
    font-size: 13px;*/
}

.gantt-row-label-area {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    margin-left: -300px;
    width: 300px;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    font-weight: bolder;
    cursor: pointer;
}

.gantt-row-label {
    display: inline-block;
    width: 205px;
    text-overflow: ellipsis;
    white-space: nowrap;
  	overflow: hidden;
}

.gantt-row-rect {
    /*position: absolute;*/
    height: 50px;
    box-sizing: border-box;
    /*width: 1000px;*/
}

.gantt-row-indicator-area {
    float: left;
    display: inline-block;
    width: 200px;
}

#gantt-row-star-button {
    float: left;
    color: #eee;
    padding-right: 5px;
}

.gantt-row-star-filled {
    color: #ccc!important;
}

.gantt-row-star-filled:hover {
    color: #999!important;
}

#gantt-row-star-button:hover {
    color: #ccc;
}

#gantt-row-settings-button, #gantt-row-add-task-button {
    float: right;
    color: #ccc;
    padding-right: 10px;
    line-height: 50px!important;
    /*position: relative;
    display: inline;
    float: right;
    top: -8px;
    padding-right: 10px;*/
}

#gantt-row-settings-button:hover, #gantt-row-add-task-button:hover {
    color: #333;
}

.gantt-calendar-divider {
    box-sizing: border-box;
    border-bottom: #eee solid 1px;
    margin-left: -300px;
}

.gantt-month {
    display: inline-block;
    /*background: rgba(0,0,0,0.1);*/
    padding-top: 4px;
    position:absolute;
    height: 100%;
    border-left: #eee solid 1px;
    margin: auto 0;
}

.gantt-today-indicator {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    border-left: #0071a5 dashed 1px;
    top: 50px;
    bottom: 0;
}

.gantt-date-range-indicator {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    border-left: #d9d9d9 solid 1px;
    border-right: #d9d9d9 solid 1px;
    top: 0;
    bottom: 0;
    background: #f5f5f5;
    z-index: -1;
}

.gantt-month-text1 {
    padding: 2px 5px 3px 5px;
    color: #222;
    font-weight: bolder;
    text-overflow: ellipsis;
    white-space: nowrap;
  	overflow: hidden;
}

.gantt-month-text2 {
    padding: 0 5px;
    color: #ccc;
    font-weight: bolder;
    text-overflow: ellipsis;
    white-space: nowrap;
  	overflow: hidden;
}

