﻿.top-header-title {
    cursor: pointer;
}

.width-limited-container {
    max-width: 1170px;
    -moz-min-width: 980px;
    -ms-min-width: 980px;
    -o-min-width: 980px;
    -webkit-min-width: 980px;
    /*min-width: 980px;*/
    margin: 0 auto 0 auto;
}

#gant-view {
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 5px;
    margin-left: 20px;
    float: left;
    cursor: pointer;
    text-align: center;
}

    #gant-view div span {
        color: #0071a5;
    }

.settings-view-top-offset {
   padding-top: 10px;
   background-color: white; 
}

.no-campaigns-found {
    width: 1000px;
    margin-left: 22px;
    padding-top: 20px;
    font-size: 14px;
}

#campaign-overview-view-gantt-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#gantt-scale-mode {
    margin-right: 5px;
    padding: 3px;
}

#bar-title-wrap {
    margin-top: 10px;
}
div .gantt_data_area {
    /*height: 100% !important;*/
}

/*.campaign-view-title-area-text1 span {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    line-height: normal;
}

.campaign-view-title-area-text1 span > span {
    vertical-align: middle;
    height: 50px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

.std-top-padding {
    padding-top: 10px;
}

.main-header {
    font-size: 35px;
    color: #999999;
    font-family: 'Quicksand-Regular';
    margin: 0 auto;
    letter-spacing: -2px;
}

.main-header-row {
    display: block;
    line-height: 56px;
}

.main-header-row-fixed-container {
    position: fixed;
    width: 100%;
    top: 50px;
    background-color: #fff;
}

.light-button {
    background-color: #fff;
    color: #bbb;
}

.dark-button {
    background-color: #447B99;
    color: #fff;
}

.button-icon {
    margin-right: 8px;
    float: left;
}

button > #button-icon {
    float: left;
    /*padding: 0 0 10px 0;*/
}

.entypo-fix-icon {
    font-family: "entypo-fix";
}

.std-entypo-fix-icon { 
    font-family: "entypo-fix";
    font-weight: normal;
    font-size: 16px;
}

.large-entypo-fix-icon { 
    font-family: "entypo-fix";
    font-weight: normal;
    font-size: 24px;
}

/*.std-fa-icon { 
    font-weight: normal;
    font-size: 18px;
}*/

.entity-settings-icon-button {
    color: #ccc;
    cursor: pointer;
    padding-left: 15px;
    font-weight: normal;
    font-size: 18px;
}

.entity-settings-icon-button:hover {
  
      color: #333;
}

.gantt-today-marker-line {
    background-color: #666 !important;
    opacity: 0.5 !important;
}

/*
.control-row-icon-button {
    color: #999;
    cursor: pointer;
    padding: 8px;
    font-weight: normal;
    font-size: 16px;
}

.control-row-icon-button:hover {
    color: #333;
}
    */

#gantt-view-name {
    float: left;
    display: inline-block;
    margin-right: 10px;
}

#planner-header-buttons {
    float: right;
    line-height: 56px;
}

#main-header-buttons .row-icon-button {
    font-size: 14px;
}

#main-header-tool-icon-buttons {
    float: right;
    line-height: 56px;
}

#saved-view-states {
    width: 200px;
}

#inriver-fields-form-area > form > fieldset {
    padding: 10px 0;
}

#inriver-fields-form-area > form > fieldset > div {
    background: #fff;
    overflow: hidden;
    padding: 15px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

#inriver-fields-form-area > form > fieldset label {
    float: left;
    width: 200px;
    color: #0071a5;
    font-weight: bold;
}

#inriver-fields-form-area input[type=text],
#inriver-fields-form-area select,
#inriver-fields-form-area textarea {
    padding: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px #ccc solid;
} 


#inriver-fields-form-area > form > fieldset > div > div ul {
    /*-webkit-padding-start: 0;*/
    margin: 0;
    padding: 0;
}

/* inline checkboxes*/
#inriver-fields-form-area > form > fieldset > div > div li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 5px;
    padding: 3px;
}

/* inline checkboxes*/
#inriver-fields-form-area > form > fieldset > div > div li label {
    width: auto;
    float: none;
}

/* inline checkboxes*/
/*#inriver-fields-form-area > form > fieldset > div > div input[type="checkbox"] {

}*/

.inriver-fields-form-area-alternative-field-background {
    background-color: #f4f4f4!important;
}

.localestring-editor-label {
    font-weight: bold;
    color: #333;
}

.list-row {
    margin-bottom: 25px;
    cursor: pointer;
}

.list-row:hover{
    border-color: #ccc;
}

.list-row-top-line {
    position: relative;
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 78px;
    padding: 0 12px 0 12px;
    background: #eee;
}

.list-row-bottom-line {
    padding: 20px 12px 0 12px;
    background: #fff;
    min-height: 18px;
}

.list-row-title-area {
    display: table-cell;
    vertical-align: middle;
    padding-left: 120px;
    width: auto;
}

.list-row-picture-area {
    position: absolute;
    float: left;
    top: 10px;
    display: table-cell;
    width: 100px;
    height: 100px;

}

.list-row-picture-frame {
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 4px;
    width: 100px;
    height: 100px;
}

.list-row-picture {
    display: inline-block;
    width: 100%;
    height: 100%;
 }

.list-row-text {
    display: inline-block;
    float: left;
    clear: both;
    font-weight: bolder;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  	overflow: hidden;
    font-size: 16px;
    color: #333;
    padding: 2px 0;
}

.list-row-text2 {
    display: block;
    /*float: left;*/
    clear: both;
    color: #aaa;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  	overflow: hidden;
    /*margin-left: 23px;*/
}

.list-row-date {
    display: inline-block;
    margin-top: 2px;
    line-height: 26px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  	overflow: hidden;
    color: #eeeeee;
    font-size: 12px;
}

#list-row-star-button {
    display: inline-block;
    color: #eeeeee;
    cursor: pointer;
}

#list-row-star-button:hover {
    color: #333;
}

.list-row-star-filled {
    color: #999!important;
}

.list-row-star-filled:hover {
    color: #333!important;
}


.list-row-icon-button {
    /*float: left;*/
    /*display: block;*/
    padding: 8px;
    color: #999;
    cursor: pointer;
    font-size: 15px;
}

.filter-ctl-icon-button {
    /*float: left;*/
    /*display: block;*/
    vertical-align: middle;
    padding: 3px;
    color: #999;
    cursor: pointer;
    font-size: 17px;
}

#possible-filter-fields {
    padding: 2px;
}

#possible-group-fields {
    padding: 2px;
}

.list-row-icon-button:hover {
    color: #333;
}

.list-row-channels {
    margin-bottom: 20px;
    margin-left: 120px;
}

.list-row-fields {
    /*margin-bottom: 10px;*/
    padding: 0 7px;
    color: #333;
}

.list-row-field {
    margin-right: 15px;
}


.list-row-channel {
    margin-right: 10px;
    padding: 5px 10px;
    color: #333;
    /*background: #eee;*/
    /*padding: 8px;*/
    height: 26px;
    -ms-border-radius: 13px;
    border-radius: 13px;
    border: 1px solid #dddddd;
}

.list-row-info {
    display: inline-block;
    float: left;
    font-family: "entypo";
    font-weight: normal;
    font-size: 25px;
    padding: 0 5px 15px 5px;
    line-height: 15px;
}

.list-row-indicator-area {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    width: 300px;
}

.list-row-indicator {
    width: 180px;
}

.left-align {
    text-align: left;
}
 

.control-row-indicator-area-dates {
    margin-top: 5px;
    margin-bottom: 8px;

}

.list-row-tool-area {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    text-align: left;
}

.list-rect {
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list-rect-info {
    height: auto;
    width: auto;
}
.list-rect-border {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #ddd;
}

.list-rect-bottom-border {
    border-bottom:  #eee solid 1px;
}


.list-row-detail-view {
    margin-top: -8px;
    border-top: 0;
    z-index: 2;

}

.progress-rect {
    position: relative;
    height: 26px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    border-radius: 42px;
}

.progress-rect-background {
    background: #dddddd;
}

#campaign-overview-dataview .progress-rect-foreground {
    background: #396580;
}

 #entity-view-tabview-container .progress-rect-foreground {
    background: #396580;
}

.warning-background {
    background: #D63940!important;
}

#progress-rect-percentage {
    float: right;
    color: #FFF;
    padding-right: 10px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
}
#outside-progress-rect-percentage{
    float: left;
    color: #333333;
    padding-left: 3px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
}
#progress-rect-percentage:hover, #outside-progress-rect-percentage:hover {
    text-decoration: underline;
}

#planner-top-area {
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 70px;
    width: 100%;
    background-color: #fff;
    /*padding: 5px 20px 0 20px;*/
    /*margin-bottom: 5px;
    margin-top: 10px;*/
    line-height: 55px;
    padding: 0 15px;
    /*border-bottom: #eee solid 1px;*/
}

#campaigns-area {
    padding-top: 20px;
}

/*
#campaign-overview-dataview {
    margin-top: 125px;
}*/
#campaign-overview-dataview {
    top: 140px;
    bottom: 20px;
    /*overflow-y: auto;*/
    position: absolute;
    left: 15px;
    right: 15px;
}

    .campaign-overview-dataview-printing {
        top: 0!important;
        bottom: 0!important;
        position: fixed!important;
        margin: 0!important;
        left: 0!important;
        right: 0!important;
        z-index: 10000000!important;
    }

    /* Override some of the styles when printing */
    .campaign-overview-dataview-printing .gantt_container {
        border-color: #aaa!important;
    }
    .campaign-overview-dataview-printing .gantt_grid_scale .gantt_grid_head_cell {
        color: #555!important;
    }
    .campaign-overview-dataview-printing .gantt_grid {
        border-right-color: #aaa!important;
    }
    .campaign-overview-dataview-printing .gantt_row, 
    .campaign-overview-dataview-printing .gantt_task_row {
        border-bottom-color: #aaa!important;
    }
    .campaign-overview-dataview-printing .gantt_task_cell {
        border-right-color: #aaa!important;
    }
    .campaign-overview-dataview-printing .gantt_grid_scale, 
    .campaign-overview-dataview-printing .gantt_task_scale {
        border-bottom-color: #aaa!important;
    }
    .campaign-overview-dataview-printing .gantt_scale_line {
        border-top-color: #aaa!important;
    }
    .campaign-overview-dataview-printing .gantt_task .gantt_task_scale .gantt_scale_cell {
        color: #555!important;
        border-right-color: #aaa!important;
    }
    .campaign-overview-dataview-printing .gantt_side_content {
        color: #555!important;
    }
    .campaign-overview-dataview-printing .gantt-today-marker-line {
        display: none;
    }
    .campaign-overview-dataview-printing .gantt_grid,
    .campaign-overview-dataview-printing .gantt_grid_data,
    .campaign-overview-dataview-printing .gantt_task,
    .campaign-overview-dataview-printing .gantt_data_area {
        height: inherit!important;
    }



#over-div-wrap {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

#over-div-background {
    background: #fff;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.print-disabled {
    opacity: 0.5;
}

.pdf-in-progress {
    position: relative;
    text-align: center;
    width: 300px;
    margin: 90px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pdf-in-progress > img {
    margin-right: 10px;
}

.print-header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    line-height: 30px;
}

.print-header h2 {
    display: inline-block;
    clear: none;
    line-height: 30px;
}

.print-title {
    float: left;
}

.print-date {
    float: right;
}

.flat-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#inriver-fields-form-area input[type=checkbox] + label, #inriver-fields-form-area input[type=radio] + label {
  color: #666666;
  font-style: normal;
} 
#inriver-fields-form-area input[type=checkbox]:checked + label, #inriver-fields-form-area input[type=radio]:checked + label {
  color: #000000;
  font-style: normal;
}

.view {
  color: #666666;
  font-style: normal;
    background-color: #eeeeee;
} 

label {
    margin-right: 3px;
    line-height: 30px;
}

#inriver-fields-form-area input[type=text] {
    width: 400px; 

}
#inriver-fields-form-area textarea {
    width: 350px;
    min-height: 36px;
    border: 1px solid #dddddd;
}

#inriver-fields-form-area input[type=text].hasDatepicker {
    width: 90px; 

}

#gantt-config-area {
    display: none;
    margin: 80px 15px 0 15px;
    white-space: nowrap;
}


#gantt-dimensions-area {
    float: left;
    display: inline-block;
    background-color: #eeeeee !important;
    margin-right: 10px;
    padding: 5px 10px;
    height: 60px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}


#gantt-dimensions-area select {
    width: 150px;
    margin-right: 10px;
    padding: 3px;
}

#filters-and-groups-area {
    /*float: left;*/
    display: inline-block;
    white-space: normal;
}

#gantt-date-range-area {
    display: inline-block;
    margin-right: 15px;
}

.gantt-date-range-wrap {
    color: #999; 
}

.gantt-date-range-wrap input[type=text] {
    width: 80px;
    padding: 3px;
}

.gantt_tooltip p {
    word-wrap: break-word;
}

#loading-spinner-wrap {
    margin-top: 3px;
    display: inline-block;
}

#filters {
    display: inline;
    width: auto;
    /*line-height: 28px;*/
}

#active-filters-wrap {
    display: inline-block;
    overflow: visible;
}

#active-filters-wrap > li {
    display: inline-block;
}

#active-groups-wrap {
    display: inline-block;
    overflow: visible;
}

#active-groups-wrap > li {
    display: inline-block;
}

#filters form, #filters fieldset {
    display: inline;
}

#filters2 {
    width: 100%;
    display: none; /* Will be toggled*/
}

#filters-misc-controls {
    display: inline;
    float: right;
    padding-top: 11px;
}

#filters-toggle, #filters-clear {
    /*cursor: pointer;*/
    padding: 0 5px;
    margin-left: 5px;
}

.filterbox-wrap {
    background: #ccc;
    line-height: 50px;
    vertical-align: middle;    
    /*border: 2px solid;*/

}

.filterbox-drog, pdown-container {
    position: relative;
    
    height: 50px;
    z-index: 100;
}

.filter-ctl-wrap, .entity-filter-ctl-wrap {
    display: inline-block;
    background: #ddd;
    padding: 5px 3px 5px 10px;
    margin-right: 3px;
    margin-bottom: 2px;
    /*margin: 5px 3px;*/
    -ms-border-radius: 5px;
    border-radius: 5px;
    height: 100%;
}

#add-filter, #add-group {
    margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.gantt-task-button {
    padding: 5px;
}

.cards-container {
    margin-top: 5px;
}

.card-section-title-text {
    margin-left: 4px;
}

.card-text-area {
    display: inline-block;
    overflow: hidden;
    margin-left: 10px;
}

.card-completeness-area {
    position: absolute;
    display: inline-block;
    float: right;
    bottom: 10px;
    right: 10px;
    text-align: center;
    width: 40px;
}

.card-text-area > span {
    width: 100%;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text1 {
    font-size: 13px;
    padding-top: 2px;
    padding-left: 3px;
    margin-bottom: 3px;
}

.card-text2 {
    padding-top: 3px;
    padding-left: 3px;
    color: #999;
}

#card-completeness-text {
    padding-top: 3px;
    padding-left: 3px;
    color: #999;
    cursor: pointer;
}

#card-completeness-text:hover {
    text-decoration: underline;
}

.completenesslevel_low, .completenesslevel_medium, .completenesslevel_done {
    border: 1px solid;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
  
}

.completenesslevel_low {
    border-color: red;
}
.completenesslevel_medium {
    border-color: orange;
}
.completenesslevel_done {
    border-color: yellowgreen;
}

.card-picture-area {
    display: inline-block;
    float: left;
}

#relation-section-container .card-picture-frame {
    /*float: left;*/
  /*  border: 1px solid #eeeeee; */
    background-color: #ffffff;
    padding: 4px;
    width: 60px;
    height: 60px;
}

.card-picture-frame {
    /*float: left;*/
  /*  border: 1px solid #eeeeee; */
    background-color: #ffffff;
    padding: 4px;
    width: 100px;
    height: 100px;
}

.card-picture {
    display: inline-block;
    width: 100%;
    height: 100%;
 }

.card-picture {
    display: inline-block;
    width: 100%;
    height: 100%;
 }

.entity-view-details-header {
    float: left;
    margin-left: -11px;
    margin-top: 20px;
    margin-bottom: 20px;
        margin-right: 10px;
}

#details-row-container {
    /*margin: 20px;*/
    padding-top: 15px;
}

.entity-view-details-row {
    clear: both;
    min-height: 27px;
}

.entity-view-details-row-key {
    display: inline-block;
    width: 350px;
    padding-top: 6px;
 
}



.entity-view-details-row #value  {
    display: inline-block; 
    color: #333;

}

.entity-view-details-rounded-bg {
    margin-right: 10px;
    padding: 5px 10px;
    color: #333;
    background: #ddd;
    -ms-border-radius: 13px;
    border-radius: 13px;
}


table.detail-view {
    margin: 10px 10px 10px 10px;
}
table.detail-view td {
    padding-right: 10px;
}

div.overdiv {
    -webkit-filter: alpha(opacity=75);
    -moz-filter: alpha(opacity=75);
    -o-filter: alpha(opacity=75);
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    -ms-opacity: .75;
    opacity: .75;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.completeness-details-row {
    line-height: 30px;
    height: 30px;
}

.completeness-details-popup-wrap ul {
    margin-bottom: 20px;
    padding-left: 10px;
}

.completeness-details-popup-wrap li {
    width: 100%;
}

.completeness-details-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.completeness-details-row > span {
    float: left;
}

.completeness-details-row-iscompleted {
    margin-right: 1px;
    color: #429F4D;
    font-size: 18px;
}

.completeness-details-row-isnotcompleted {
    margin-right: 1px;
    color: #FF9696;
    font-size: 18px;
}

.loading-spinner-container img {
    visibility: hidden;
    display: block;
    padding-top: 10%;
    margin: auto;
}

#linkedEntity {
    color: #000000;
    font-weight: bold;
}



    .entity-view-title-text-area {
        margin-left: 15px;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 24px;
        color: #ffffff;
        right: 350px;
        left: 0;
        position: absolute;
    }

    /*
@media only screen and (max-width : 1024px) {
    #top-header {
        -moz-min-width: 760px !important;
        -ms-min-width: 760px !important;
        -o-min-width: 760px !important;
        -webkit-min-width: 760px !important;
        min-width: 760px !important;
    }

    #control-row{
        -moz-min-width: 600px !important;
        -ms-min-width: 600px !important;
        -o-min-width: 600px !important;
        -webkit-min-width: 600px !important;
        min-width: 600px !important;
    }
    #filters {
        display: inline-block;
        width: 540px;
    }
}

@media only screen and (max-device-width : 760px) {
    .main-header-row-fixed-container {
        position: relative !important;
    }
    div.overdiv {
        position: relative !important;
    }

    .modal-popup-square {
        position: relative !important;
    }
    #campaigns-top-area {
        position: absolute !important;
    }
    #top-header{
        position: absolute !important;
    }
    #control-row{
        position: absolute !important;
    }
    #new-button {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70px;
        white-space: nowrap;

    }
    .list-row-date {
        width: 180px !important; 
    }


}
        */
#gantt-command-buttons {
    float: right;
    display: inline-block;
}

#gantt-command-button-ical {
    float: right;
    display: inline-block;
    margin-right: 15px;  
}

#gantt-command-buttons span {
    margin-left: 10px;
}

#saved-views-wrap {
    margin-top: 65px;
}

#saved-views-wrap #view-name {
    display: inline-block;
    width: 400px;
    cursor: pointer;
    height: 100%;
}

#saved-views-wrap #view-name i {
    font-size: 15px;
}

#saved-views-wrap #view-name:hover {
    text-decoration: underline;
}

#saved-views-wrap #view-list > li {
    background-color: #fafafa;
    margin: 2px 0;
    padding: 10px 10px;
    line-height: 26px;
}

#saved-views-wrap li #right-aligned {
    float: right;
    display: inline-block;
}

/*#saved-views-wrap li #shared-with {
    margin-right: 10px;
}*/


#saved-views-wrap li #remove {
    /*float: right;*/
    margin-left: 20px;
}

#saved-views-wrap #saved-views-tools-wrap {
    position: absolute;
    top: 75px;
    right: 15px;
    left: 15px;
}

#saved-views-wrap #saved-views-tools-wrap a {
    display: inline-block;
    color: #396580;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
}

#saved-views-wrap #saved-views-tools-wrap .current {
    border-bottom: 3px solid #396580;
    box-sizing: border-box;
}

#saved-views-wrap #saved-views-tools-wrap #filter-string-wrap {
    float: right;
    display: inline-block;
    border: solid 1px #aaa;
    margin-top: 4px;
    padding: 3px;
}

#saved-views-wrap #saved-views-tools-wrap #filter-string-wrap i {
    color: #999;
    padding: 3px;
    cursor: pointer;
}

#saved-views-wrap #saved-views-tools-wrap #filter-string {
    display: inline-block;
    border: none;
    outline: 0;
}

#saved-views-wrap #view-list {
    overflow-y: auto;
    bottom: 15px;
    position: absolute;
    top: 115px;
    right: 15px;
    left: 15px;
}

/*#saved-views-wrap #view-list > li:hover {
    background-color: #eee;
}*/



/*#plannerroute-radio-buttons-form {
    display: inline-block;
    margin-right: 12px;
    padding-right: 12px;
    float: right;
}*/

.gantt-group-item {
    background-color: #f6f6f6!important;
    font-weight: bold;
}

.gantt-no-add-button .gantt_add {
    display: none;
}

.gantt_side_content {
    bottom: 0 !important;
}

.gantt_side_content.gantt_right {
    padding-left: 10px !important;
}

/*.gantt_tooltip img + p {
    margin-top: 5px;
}*/

.child-task-preview {
	box-sizing: border-box;
	margin-top: 2px;
	position: absolute;
	color: white;
	text-align: center;
	font-size: 12px;
    opacity: 0.7;
    overflow: hidden;
}

.child-milestone-preview {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
	margin-top: 2px;
	color: white;
	text-align: center;
	font-size: 12px;
    opacity: 0.7;
    overflow: hidden;
    background-color: #d33daf;
    border: 0 solid #61164f;
}

.gantt_task_line.task-collapsed{
	height: 4px;
	opacity: 0.7;
}

.gantt_task_line .gantt_project .task-collapsed .gantt_task_content{
	display: none;
}

.gantt_row .task-parent{
	font-weight: bold;
}

.gantt-entity-name {
    text-decoration: inherit;
    color: inherit;
}

.gantt-entity-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.gantt_grid_head_text {
    /*text-align: left!important;*/
    /*padding-left: 10px;
    font-weight: bold;
    color: #666;

        display: table-cell;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: normal;
    vertical-align: middle;
    height: 49px;*/
}

.gantt_cell {
    font-size: 12px !important;
}

.gantt_tooltip {
    max-width: 300px;
    white-space: normal;
    box-shadow: none!important;
    border: 1px #999 solid!important;
}

    .gantt_tooltip p {
        margin-bottom: 2px;
    }

.planner-configuration-root {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
}

.planner-configuration-tools-row {
    min-height: 20px    
}

#field-types {
    overflow: visible;
}

.backgrid {
    width: auto;
}

.configuration-color-label {
    display: inline-block;
    width: 180px;
    color: #0071a5;
    float: left;
    margin-top: 2px;
}

.configuration-color-pick-color {
    border: 1px #ccc solid;
    padding: 5px;
    margin: 2px;
}

    .configuration-color-pick-color > input {
        margin: 0;
        padding: 0;
        border: 0;
        width: 70px;
        height: 20px;
        border-right: 20px solid;
        line-height: 20px;
    }

#planner-ical-textbox {
    -moz-min-width: 150px;
    -ms-min-width: 150px;
    -o-min-width: 150px;
    -webkit-min-width: 150px;
    min-width: 150px;
    text-overflow: ellipsis;
}

.planner-configuration-root .category-section-title {
    border-bottom: 0;
}

.planner-configuration-root .control-row-tab-button {
    color: #2d2d2c;
}

.planner-configuration-root .backgrid {
    margin-left: 20px;
}

#configuration-color-entitytypeids,
#configuration-color-cvlfieldtypes {
    margin: 6px 0 6px 20px;
   
}

