﻿body {
    background-color: #fff!important;
}

#start-main-container {
    display: table;
    border-spacing: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.start-section-col {
    display: table-cell;
    vertical-align: top;
    margin: 0 20px;
    width: 33%;
}

.start-section-box {
    margin-bottom: 20px;
}

#week-activities {
    /*width:350px;*/
}

#tasks {
    /*width:350px;*/
}

#campaigns {
    width: auto;
}

.white-bottom-border {
    border-bottom: solid 1px #fff;
}

.grey-bottom-border {
    border-bottom: solid 1px #f3f3f3;
}

.white-box-link-area .progress-rect-foreground {
    background: #0071a5;
}

.progress-rect-start-page {
    margin-top: 10px;
}

.tasks-heading-box {
    padding: 8px 15px;
/*    color: #fff;
    background-color: #0071a5; */
    color: #0071a5;
    border-bottom: 1px solid #0071a5;
    font-size: 16px;
    font-weight: normal;
    height: 20px;
}

.tasks-heading-box h2 {
    float: left;
    font-size: 16px;
}
.tasks-heading-box .showTasks {
    float: right;
}

.tasks-heading-box2 {
    padding: 8px 15px;
    color: #fff;
    background-color: #0071a5; 
    /*color: #0071a5;
    border-bottom: 1px solid #0071a5;*/
    font-size: 16px;
    font-weight: normal;
    margin: 0 -1px;
    height: 20px;
}

.tasks-heading-box2 h2 {
    float: left;
    font-size: 16px;
}
.tasks-heading-box2 .showTasks {
    float: right;
}
.tasks-list {
    border: 1px solid #dddddd;
    border-top: 0;
}




#tasks ul {
    padding-left: 10px;
}

.box-title {
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
    font-family: 'Quicksand-Regular';
    letter-spacing: -1px;
    font-size: 20px;
    background-color: #396580;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.box-sub-section {
    margin-bottom: 10px;
}

.box-title-icon {
    margin-right:11px;
}

.white-box {
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: solid 1px #f3f3f3;
    border-right: solid 1px #f3f3f3;
    border-left: solid 1px #f3f3f3;
}

.white-box-link-area {
    padding: 15px 15px;
	background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
	background-image:    -moz-linear-gradient(top, #fff, #f8f8f8);
	background-image:     -ms-linear-gradient(top, #fff, #f8f8f8);
	background-image:      -o-linear-gradient(top, #fff, #f8f8f8);
	background-image:         linear-gradient(top, #fff, #f8f8f8);
}

.white-box-link-area:hover {
    background-color: #f2f2f2;
    background-image: none;
}

.white-box li > a {
    display: block;
    height: auto;
    /*padding: 10px 10px;*/
}

.white-box li {
    font-size: 13px;
}

.white-box li .text1 {
    display: block;
    font-size: 16px;

    color: #4D8BB2;
}

.white-box li .text2 {
    display: inline-block;
    color: #aaa;
    margin-top: 5px;
}

.white-box .no-items-text, .start-section-box .no-items-text {
    padding: 0 20px;
    font-style: italic;
    color: #aaa;
    padding: 15px;
}

.white-box li .left-area {
    display: inline-block;
    width: 250px;
}

.white-box li .completeness {
    
    float: right;
    color: #fff;

}

.number-circle {
  background: #ccc;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  width: 40px; 
}

.cropped-image {
    width: 100%;
    height: 135px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.overlay-text1 {
    font-size: 16px;
    /*font-weight: bolder;*/
    /*line-height: 1.4;*/
    font-weight: bold;
    float: left;
    clear: both;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin-top: 80px;
    padding: 10px 10px;
}

#showMoreLink {
    text-align: center;
    color: #396580;
    padding: 6px;
    font-weight: bold;
    font-size: 90%;
    cursor: pointer;
}

#showMoreLink:hover {
    background-color: #eee;
}
