﻿<div id="add-to-cart-popup" class="reveal modal small add-to-cart-popup">
    <div class="modal-wrapper">
        <h4 class="modal-title"><span ng-bind="vm.isAddAll ? '[% translate 'Add All to Cart' %]' : '[% translate 'Add to Cart' %]'"></span></h4>
        <div class="modal-content editable">
            <p class="msg success" ng-show="vm.productSettings.showAddToCartConfirmationDialog" ng-bind="vm.isAddAll ? '[% siteMessage 'Cart_AllProductsAddedToCart' EscapeSingleQuotes %]' : '[% siteMessage 'Cart_ProductAddedToCart' %]'"></p>
            <p class="msg alert" ng-show="vm.isQtyAdjusted">[% siteMessage 'Cart_QuantityAdjusted' %]</p>
        </div>
        <button type="button" class="modal-close" data-close></button>
    </div>
</div>