﻿<table class="order-total">
    <tbody ng-if="isCartPage">
        <tr class="count" ng-if="cart.totalCountDisplay">
            <td colspan="2"><span ng-bind="cart.totalCountDisplay"></span> [% translate 'Items' %]</td>
        </tr>
        <tr class="subtotal" ng-if="cart.properties['canShowPrice']">
            <td class="label">[% translate 'Subtotal' %]</td>
            <td class="value" ng-bind="cart.orderSubTotalDisplay"></td>
        </tr>
        <tr class="total" ng-if="cart.properties['canShowPrice']">
            <td class="label">[% translate 'Total' %]<span class="note">*</span></td>
            <td class="value" ng-bind="cart.orderSubTotalDisplay"></td>
        </tr>
        <tr class="note" ng-if="cart.properties['canShowPrice']">
            <td colspan="2">[% translate 'Store_CartTotal_BeforeShippingAndTaxes' %]</td>
        </tr>
    </tbody>
    <tbody ng-if="!isCartPage">
        <tr class="count" ng-if="cart.totalCountDisplay">
            <td colspan="2"><span ng-bind="cart.totalCountDisplay"></span> [% translate 'Items' %]</td>
        </tr>
        <tr class="subtotal" ng-if="cart.properties['canShowPrice']">
            <td class="label">[% translate 'Subtotal' %]</td>
            <td class="value" ng-bind="cart.orderSubTotalDisplay"></td>
        </tr>
        <tr class="shipping" ng-if="cart.properties['canShowPrice'] && showSeparateShippingAndHandling && cart.shippingChargesDisplay.length > 0">
            <td class="label">[% translate 'Shipping' %]</td>
            <td class="value" ng-bind="cart.shippingChargesDisplay"></td>
        </tr>
        <tr class="shipping-handling" ng-if="cart.properties['canShowPrice'] && !showSeparateShippingAndHandling && cart.shippingAndHandlingDisplay.length > 0">
            <td class="label">[% translate 'Shipping & Handling' %]</td>
            <td class="value" ng-bind="cart.shippingAndHandlingDisplay"></td>
        </tr>
        <tr class="handling" ng-if="cart.properties['canShowPrice'] && showSeparateShippingAndHandling && cart.handlingChargesDisplay.length > 0">
            <td class="label">[% translate 'Handling' %]</td>
            <td class="value" ng-bind="cart.handlingChargesDisplay"></td>
        </tr>
        <tr class="misc" ng-if="cart.properties['canShowPrice'] && showMiscCharge && cart.otherChargesDisplay.length > 0">
            <td class="label">[% translate 'Misc. Charge' %]</td>
            <td class="value" ng-bind="cart.otherChargesDisplay"></td>
        </tr>
        <tr class="tax" ng-if="cart.properties['canShowPrice'] && cart.totalTaxDisplay.length > 0">
            <td class="label">[% translate 'Tax' %]<span ng-if="cart.properties['isTaxExempt']">*</span></td>
            <td class="value">
                <span ng-bind="cart.totalTaxDisplay" ng-if="!cart.properties['noTaxCalculation']"></span>
                <span ng-if="cart.properties['noTaxCalculation']">[% translate 'TBD' %]</span>
            </td>
        </tr>
        <tr class="total" ng-if="cart.properties['canShowPrice']">
            <td class="label">[% translate 'Total' %]</td>
            <td class="value" ng-bind="cart.orderGrandTotalDisplay"></td>
        </tr>
        <tr class="note" ng-if="cart.properties['canShowPrice'] && cart.totalTaxDisplay.length > 0 && cart.properties['isTaxExempt']">
            <td colspan="2">*[% translate 'Store_Order_TaxExemptMessage' %]</td>
        </tr>
    </tbody>
</table>