﻿<div class="order-items">
    <table class="order-items-list">
        <thead>
            <tr>
                <th class="order-item-description" colspan="2">[% translate 'Store_Order_Description' %]</th>
                <th class="order-item-status" ng-if="cart.status == 'Cart'">[% translate 'Store_Order_Availability' %]</th>
                <th class="order-item-quantity">[% translate 'Store_Order_Quantity' %]</th>
                <th class="order-item-price">[% translate 'Store_Order_UnitPrice' %]</th>
                <th class="order-item-total" ng-class="{ 'text-right' : !cart.canModifyOrder && !editable }">[% translate 'Store_Order_Subtotal' %]</th>
            </tr>
        </thead>
        <tbody class="order-item" ng-repeat="cartLine in cart.cartLines | filter: quoteRequiredFilter">
            <tr class="order-item-msg" ng-if="inventoryCheck && cartLine.hasInsufficientInventory">
                <td colspan="6">
                    <div class="msg alert">
                        {{'[% siteMessage 'Cart_ToManyQtyRequested' EscapeSingleQuotes %]'.replace('{0}', cartLine.qtyOnHand).replace('{1}', vm.getSumQtyPerUom(cartLine.productId, cart.cartLines))}}
                    </div>
                </td>
            </tr>
            <tr class="order-item-detail" ng-class="{'no-price' : cartLine.properties['canShowPrice'] != 'true'}">
                <td class="order-item-visual">
                    <isc-product-thumb product="cartLine"></isc-product-thumb>
                </td>

                <td class="order-item-name">
                    <isc-product-name product="cartLine"></isc-product-name>
                    <a class="name" ng-href="{{cartLine.productUri}}" ng-bind="cartLine.shortDescription"></a>
                </td>

                <td class="order-item-status" ng-if="cart.status == 'Cart'">
                    <store-availability-status product="cartLine" class="small no-text"></store-availability-status>
                </td>

                <td class="order-item-quantity">
                    <div class="product-quantity">
                        <div class="wrapper">
                            <div class="field small" ng-if="editable">
                                <input id="product-quantity-{{$index}}" ng-if="editable" type="number" value="1" min="1" step="1"
                                   ng-model="cartLine.qtyOrdered"
                                   ng-keypress="vm.quantityKeyPress($event,cartLine)"
                                   ng-change="vm.updateLine(cartLine, true)"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   ng-disabled="!cart.canModifyOrder || cartLine.isPromotionItem || vm.isUpdateInProgress || cart.type == 'Job'" />
                            </div>
                            <div class="value" ng-if="!editable" ng-bind="cartLine.qtyOrdered"></div>
                            <div class="label">
                                <label for="product-quantity-{{$index}}">
                                    <span class="qty-label">[% translate 'Store_QuantityLabel' %]</span>
                                    <isc-quantity-break-pricing
                                        product-id="cartLine.id"
                                        break-prices="cartLine.breakPrices"
                                        ng-if="editable">
                                    </isc-quantity-break-pricing>
                                </label>
                            </div>
                        </div>
                    </div>
                </td>

                <td class="order-item-price">
                    <div class="product-price">
                        <isc-product-price product="cartLine" ng-if="cartLine.properties['canShowPrice'] == 'true'"></isc-product-price>
                        <span class="price" ng-if="cartLine.properties['canShowPrice'] != 'true'">-</span>
                    </div>
                </td>

                <td class="order-item-total" ng-class="{ 'text-right' : !cart.canModifyOrder && !editable }">
                    <div class="wrapper">
                        <span class="label">[% translate 'Store_Order_Subtotal' %]</span>
                        <span class="value">
                            <span ng-bind="cartLine.pricing.extendedUnitNetPriceDisplay" ng-if="cartLine.properties['canShowPrice'] == 'true'"></span>
                            <span ng-if="cartLine.properties['canShowPrice'] != 'true'">-</span>
                        </span>
                        <span class="action" ng-if="cart.canModifyOrder && editable">
                            <button type="button" ng-click="vm.removeLine(cartLine)">[% translate 'Store_Order_Remove' %]</button>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>