﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Order Confirmation</title>
    <style>
        /* Reset all elements to help ensure cross-browser consistency */
        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        fieldset, img {
            border: 0;
        }

        address, caption, cite, code, dfn, em, strong, th, var {
            font-style: normal;
            font-weight: normal;
        }

        ol, ul {
            list-style: none;
        }

        caption, th {
            text-align: left;
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: 100%;
            font-weight: normal;
        }

        q:before, q:after {
            content: '';
        }

        abbr, acronym {
            border: 0;
        }

        body {
            font: 12px Arial, Helvetica, sans-serif;
        }

        a:link, a:visited, a:active {
            color: #666;
            text-decoration: none;
        }

        a:hover, a:focus {
            color: #000;
        }

        h1 {
            font-size: 18px;
            padding: 12px 0;
        }

        h2 {
            font-size: 14px;
            padding: 8px 0;
            font-weight: bold;
        }

        h4 {
            font-weight: bold;
            padding: 8px 0;
        }

        .email-wrapper {
            width: 95%;
            margin: 20px auto 0 auto;
        }

        .order-info {
            margin-top: 20px;
        }

            .order-info table td {
                padding: 2px 4px;
            }

        .bill-ship {
            float: left;
            width: 25%;
        }

        .ship {
            margin-left: 20px;
        }

        .ship-via {
            font-weight: bold;
        }

        .items {
            margin-top: 20px;
            border-bottom: 5px solid #e5e5e5;
            padding-bottom: 10px;
        }

        .subtotal {
            *display: inline;
            float: right;
            clear: right;
            width: 30%;
            margin-top: 10px;
        }

            .subtotal table {
                width: 100%;
            }

                .subtotal table td {
                    padding: 2px 4px;
                    white-space: nowrap;
                }

        .rp-totals-lft {
            width: 120px;
            text-align: left;
        }

        .address-tbl th {
            vertical-align: middle;
        }

        .order-subtotal {
            font-size: 12px;
            font-weight: bold;
        }

        .order-total {
            font-size: 16px;
            font-weight: bold;
        }

        .billing-info {
            margin-top: 10px;
            margin-bottom: 10px;
            float: left;
            clear: left;
        }

        .summury-label {
            color: grey;
            font-weight: bold;
            white-space: nowrap;
        }

        .summury-value {
            font-weight: bold;
            white-space: nowrap;
            text-align: right;
        }

        .info-tbl {
            width: 100%;
        }

            .info-tbl td {
                padding: 6px 2px;
                white-space: nowrap;
            }

            .info-tbl th {
                padding: 3px 2px;
                white-space: nowrap;
            }

            .info-tbl th {
                font-weight: bold;
                border-bottom: 1px solid #000;
            }

            .info-tbl .item {
                width: 15%;
                text-align: left;
            }

            .info-tbl .description {
                width: 45%;
                text-align: left;
            }

            .info-tbl .qty {
                text-align: left;
                width: 10%;
            }

            .info-tbl .cost {
                width: 15%;
                text-align: right;
            }

            .info-tbl .extended {
                width: 15%;
                text-align: right;
            }

        .order-notes {
            clear: both;
            margin-top: 20px;
        }

        .additional-notes {
            clear: both;
            margin-top: 20px;
        }

        .bottom-notes-padding {
            padding-bottom: 20px;
        }

        .logo {
            padding-bottom: 20px;
        }

        .billing-info-wrapper {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
        <div style="margin-right: 20px; margin-left: 20px;">
            <a href="[% websiteHostName -%]" target="_blank" style="border: none;">
                <img src="[% websiteHostName -%]nwayo-build/store/images/store/logo_ss.gif" width="140" height="85" alt="Mingledorff's" style="border: none;" />
            </a>
        </div>
        <div class="order-info">
            <table border="0" cellspacing="0">
                [% if Model.HasBackOrder %]
                <tr>
                    <td colspan="2"><h2>***  INCOMPLETE ORDER, please see below for details  ***</h2></td>
                </tr>
                [% endif -%]
                <tr>
                    <td class="order-conf-label"><h4>Order Confirmation</h4></td>
                    <td class="order-conf-number">[[Model.OrderNumber]]</td>
                </tr>
                [% if Model.StatusDisplay != null and Model.StatusDisplay != "" -%]
                <tr>
                    <td class="order-status-label"><h4>Status</h4></td>
                    <td class="order-status">[[Model.StatusDisplay]]</td>
                </tr>
                [% endif -%]
                [% if Model.CustomerPO != null and Model.CustomerPO != "" -%]
                <tr>
                    <td class="po-label"><h4>PO Number</h4></td>
                    <td class="po-number">[[Model.CustomerPO]]</td>
                </tr>
                [% endif -%]
                <tr>
                    <td class="order-date-label"><h4>Order Date</h4></td>
                    <td class="order-date">[[Model.OrderDate]]</td>
                </tr>
            </table>
        </div>
        <div class="body-copy">
            <div class="items">
                <h4>Order Items</h4>
                <table border="0" cellpadding="0" cellspacing="5" width="500" id="orderSummary" class="info-tbl">
                    <tr>
                        <th class="left"><b>Name</b></th>
                        <th class="left"><b>Description</b></th>
                        <th class="center"><b>Qty Ordered</b></th>
                        <th class="center"><b>Qty Available</b></th>
                        <th class="right"><b>Unit Cost</b></th>
                        <th class="right"><b>Extended Cost</b></th>
                    </tr>
                    [% for orderLine in Model.OrderLines -%]
                    <tr>
                        <td class="left">[[orderLine.ProductName]]<br /></td>
                        <td class="left">[[orderLine.Description]]</td>
                        <td class="center">[[orderLine.QtyOrderedDisplay]]</td>
                        <td class="center">[[orderLine.QtyShippedDisplay]][% if orderLine.HasBackOrder %]*[% endif -%]</td>
                        <td class="right">
                            [[orderLine.UnitNetPriceDisplay]]
                            [% if orderLine.IsSouthCarolinaSolidWasteTaxable -%]
                            <br />
                            <strong>Additional fees</strong>
                            <br />
                            South Carolina Solid Waste Tax ([[Model.SouthCarolinaSolidWasteTaxAmountDisplay]])
                            [% endif -%]
                        </td>
                        <td class="right">[[orderLine.ExtendedUnitNetPriceDisplay]]</td>
                    </tr>
                    [% endfor -%]
                </table>
            </div>
            <div class="billing-info">
                <div class="billing-info-wrapper">
                    <table cellspacing="0" cellspacing="5">
                        <tr>
                            <th><b>Bill To</b></th>
                        </tr>
                        <tr>
                            <td>[[Model.BTDisplayName]]</td>
                        </tr>
                        <tr>
                            <td>
                                [% if Model.BTAddress1 != null and Model.BTAddress1 != "" -%]
                                [[Model.BTAddress1]] <br />
                                [% endif -%]
                                [% if Model.BTAddress2 != null and Model.BTAddress2 != "" -%]
                                [[Model.BTAddress2]] <br />
                                [% endif -%]
                                [% if Model.BTAddress3 != null and Model.BTAddress3 != "" -%]
                                [[Model.BTAddress3]] <br />
                                [% endif -%]
                                [[Model.BTCity]], [[Model.BTState]] [[Model.BTPostalCode]]
                            </td>
                        </tr>
                    </table>
                </div>
                [% if Model.HasSubAccount and Model.HasLocation -%]
                <div class="billing-info-wrapper">
                    <table cellspacing="0" cellspacing="5">
                        <tr>
                            <th>
                                <b>Sub Account</b>
                            </th>
                        </tr>
                        <tr>
                            <td>[[Model.SADisplayName]]</td>
                        </tr>
                        <tr>
                            <td>
                                [% if Model.SAAddress1 != null and Model.SAAddress1 != "" -%]
                                [[Model.SAAddress1]] <br />
                                [% endif -%]
                                [% if Model.SAAddress2 != null and Model.SAAddress2 != "" -%]
                                [[Model.SAAddress2]] <br />
                                [% endif -%]
                                [% if Model.SAAddress3 != null and Model.SAAddress3 != "" -%]
                                [[Model.SAAddress3]] <br />
                                [% endif -%]
                                [[Model.SACity]], [[Model.SAState]] [[Model.SAPostalCode]]
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="billing-info-wrapper">
                    <table cellspacing="0" cellspacing="5">
                        <tr>
                            <th>
                                <b>
                                    [% if Model.ShipMethodIsPickup -%]
                                    Location
                                    [% else -%]
                                    Shipping Address
                                    [% endif -%]
                                </b>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                [% if Model.LAddress1 != null and Model.LAddress1 != "" -%]
                                [[Model.LAddress1]] <br />
                                [% endif -%]
                                [% if Model.LAddress2 != null and Model.LAddress2 != "" -%]
                                [[Model.LAddress2]] <br />
                                [% endif -%]
                                [% if Model.LAddress3 != null and Model.LAddress3 != "" -%]
                                [[Model.LAddress3]] <br />
                                [% endif -%]
                                [[Model.LCity]], [[Model.LState]] [[Model.LPostalCode]]
                            </td>
                        </tr>
                    </table>
                </div>
                [% else -%]
                <div class="billing-info-wrapper">
                    <table cellspacing="0" cellspacing="5">
                        <tr>
                            <th>
                                <b>
                                    [% if Model.ShipMethodIsPickup -%]
                                    Sold To
                                    [% else -%]
                                    Ship To
                                    [% endif -%]
                                </b>
                            </th>
                        </tr>
                        <tr>
                            <td>[[Model.STDisplayName]]</td>
                        </tr>
                        <tr>
                            <td>
                                [% if Model.STAddress1 != null and Model.STAddress1 != "" -%]
                                [[Model.STAddress1]] <br />
                                [% endif -%]
                                [% if Model.STAddress2 != null and Model.STAddress2 != "" -%]
                                [[Model.STAddress2]] <br />
                                [% endif -%]
                                [% if Model.STAddress3 != null and Model.STAddress3 != "" -%]
                                [[Model.STAddress3]] <br />
                                [% endif -%]
                                [[Model.STCity]], [[Model.STState]] [[Model.STPostalCode]]
                            </td>
                        </tr>
                    </table>
                </div>
                [% endif -%]

                [% if Model.HasWarehouse -%]
                <div class="billing-info-wrapper">
                    <table cellspacing="0" cellspacing="5">
                        <tr>
                            <th>
                                <b>Delivery Method</b>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                [% if Model.ShipMethodIsPickup -%]
                                Pickup in store
                                [% else -%]
                                Mingledorff Delivery
                                [% endif -%]
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="billing-info-wrapper">
                    <table cellspacing="0" cellspacing="5">
                        <tr>
                            <th>
                                <b>My Store</b>
                            </th>
                        </tr>
                        <tr>
                            <td>[[Model.WDisplayName]]</td>
                        </tr>
                        <tr>
                            <td>
                                [% if Model.WAddress1 != null and Model.WAddress1 != "" -%]
                                [[Model.WAddress1]] <br />
                                [% endif -%]
                                [% if Model.WAddress2 != null and Model.WAddress2 != "" -%]
                                [[Model.WAddress2]] <br />
                                [% endif -%]
                                [% if Model.WAddress3 != null and Model.WAddress3 != "" -%]
                                [[Model.WAddress3]] <br />
                                [% endif -%]
                                [[Model.WCity]], [[Model.WState]] [[Model.WPostalCode]]
                            </td>
                        </tr>
                    </table>
                </div>
                [% endif -%]
                [% if Model.ShipMethodIsPickup == false -%]
                <div class="billing-info-wrapper">
                    <table cellspacing="0" cellpadding="0" border="0" class="table-info">
                        <tr>
                            <th>
                                <b>Requested Delivery Date</b>
                            </th>
                        </tr>
                        <tr>
                            <td>[[Model.RequestedDeliveryDate]]</td>
                        </tr>
                    </table>
                </div>
                <div class="billing-info-wrapper">
                    <table cellspacing="0" cellpadding="0" border="0" class="table-info">
                        <tr><th><b>Ship Complete</b></th></tr>
                        <tr>
                            <td>
                            [% if Model.ShipComplete -%]
                                All items will be combined in a single shipment
                            [% else -%]
                                Items may be split in multiple shipments
                            [% endif -%]
                            </td>
                        </tr>
                    </table>
                </div>
                [% endif -%]
            </div>
            <div class="subtotal">
                <table border="0" cellpadding="0" cellspacing="5" style="margin-left:12px">
                    <tr>
                        <td class="summury-label">Order Sub Total&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: grey;">[[Model.OrderSubTotalDisplay]]</td>
                    </tr>
                    [% if Model.PromotionProductDiscountTotal > 0 -%]
                    <tr>
                        <td class="summury-label">Product Discounts Applied&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: #A5222B;">[[Model.PromotionProductDiscountTotalDisplay]]</td>
                    </tr>
                    [% endif -%]
                    [% if Model.PromotionOrderDiscountTotal > 0 -%]
                    <tr>
                        <td class="summury-label">Order Discounts Applied&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: #A5222B;">[[Model.PromotionOrderDiscountTotalDisplay]]</td>
                    </tr>
                    [% endif -%]
                    <tr>
                        <td class="summury-label">Shipping Amount&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: grey;">[[Model.FullShippingChargeDisplay]]</td>
                    </tr>
                    [% if Model.Handling > 0 -%]
                    <tr>
                        <td class="summury-label">Handling Amount&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: grey;">[[Model.HandlingDisplay]]</td>
                    </tr>
                    [% endif -%]
                    [% if Model.PromotionShippingDiscountTotal > 0 -%]
                    <tr>
                        <td class="summury-label">Shipping Discounts Applied&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: #A5222B;">[[Model.PromotionShippingDiscountTotalDisplay]]</td>
                    </tr>
                    [% endif -%]
                    [% if Model.CustomerOrderTaxes.size > 0 -%]
                    [% for customerOrderTax in Model.CustomerOrderTaxes -%]
                    <tr>
                        [% if customerOrderTax.TaxDescription != null customerOrderTax.TaxDescription != "" -%]
                        <td class="summury-label">[[customerOrderTax.TaxDescription]]&nbsp;</td>
                        [% else -%]
                        <td class="summury-label">Tax&nbsp;</td>
                        [% endif -%]
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: grey;">[[customerOrderTax.TaxAmountDisplay]]</td>
                    </tr>
                    [% endfor -%]
                    [% else -%]
                    <tr>
                        <td class="summury-label">Tax&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: grey;">[[Model.TotalTaxDisplay]]</td>
                    </tr>
                    [% endif -%]
                    [% if Model.CreditCardWillBeCharged -%]
                    <tr>
                        <td class="black label" colspan="2">
                            <span style="font-size: 9px; height: 14px; white-space: nowrap;">THIS AMOUNT WILL BE CHARGED TO YOUR CREDIT CARD</span>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    [% endif -%]
                    <tr>
                        <td class="summury-label">Order Total&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: grey;">[[Model.OrderGrandTotalDisplay]]</td>
                    </tr>
                    [% if Model.GiftCardTotal > 0 -%]
                    <tr>
                        <td class="summury-label">Less Gift Certificates&nbsp;</td>
                        <td width="50%">&nbsp;</td>
                        <td class="summury-value" style="color: #A5222B;">[[Model.GiftCardTotalDisplay]]</td>
                    </tr>
                    [% endif -%]
                </table>
            </div>
            [% if Model.Notes != null and Model.Notes != "" -%]
            <div class="order-notes">
                <b>Order Notes</b>
                <div>
                    [[Model.Notes]]
                </div>
            </div>
            [% endif -%]
            [% if Model.HasBackOrder %]
            <div class="additional-notes">
                <b>Additional Notes</b>
                <div>
                    [% if Model.ShipMethodIsPickup -%]
                    * Please call before going to store
                    [% else -%]
                    * Not in stock items may delay order
                    [% endif -%]
                </div>
            </div>
            [% endif -%]
            <div class="bottom-notes-padding"></div>
        </div>
    </div>
</body>
</html>