﻿#dropzone-container .bbm-modal {
    padding: 20px;
}

#drop-zone #dropzone-buttons {
    display: none;
}

    #drop-zone #dropzone-buttons a {
        cursor: pointer;
    }

    #drop-zone {
        margin-top: 20px;
    }

.dropzone-button {
    cursor: pointer;
/*    height: 114px;*/

    padding: 10px;
    background: #ffffff; /* Old browsers */
 
}

#lightboard .dropzone-button {
    background: none;
    border-radius: 5px;
    
    /*border: 1px solid #ccc;*/
    margin-top: -4px;
        opacity: 0.5;
}

.dz-text {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    clear: both;
    font-size: 22px;
    color: #2d2d2c;
}