﻿@{
    ViewBag.Title = "Portal";
}

<div id="appmenu-container"></div>
<div id="modalWindow" style="display: none"></div>
<div id="loading-spinner-container">
    <img src="~/Images/nine-squares-32x32.gif" />
</div>
<div id="main-container">
</div>

<footer></footer>
<script data-main="../../Scripts/portal/js/main" src="~/Scripts/libs/require/require.js"></script>
