
/* -----------------------------------------------------------------------------
    R E S E T
----------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
body
{
    line-height: 1;
}
ol, ul
{
    list-style: none;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------------------------------------------
    G E N E R A L
----------------------------------------------------------------------------- */
html
{
    overflow-y: scroll;
}
body
{
    font: 12px/24px Georgia, Serif;
    font-family: 'Lucida Grande' , 'Lucida Sans Unicode' , 'Lucida Sans' , Verdana, Sans-serif;
    color: #454545;
}
/* Links */
a:link, a:visited
{
    text-decoration: none;
    color: #147DB6;
    outline: 0;
}
a:hover, a:focus, a:active
{
    color: #CC3300;
}
a:link.more, a:visited.more
{
    font-family: 'Lucida Grande' , 'Lucida Sans Unicode' , 'Lucida Sans' , Verdana, Sans-serif;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    padding: 6px 10px;
    border: 1px solid #2177A5;
    background-color: #227bad;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
}
a:hover.more
{
    border: 1px solid #B32D00;
    background-color: #CC3300;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
}

/*#loading {
    display: block;
    position: relative;
    padding-left: 45%;
    padding-top: 20%;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}*/

#loading {
  display: none;
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Attribute set*/

#addAttributeSetButton
{
	margin-left: 15px;	
}

/* Attribute set chain*/
.multiSelectOptions label input
{
	width: 20px;	
}

#attributeSetsChainTable
{
	margin-left: 20px;	
}

.addAttributeSetTD:hover
{
	background-color: #efefef;	
}

.selectedTD
{
	background-color: #efefef;
	border: 1px solid #cccccc;
}

/*Attribute*/

#attributeAllFieldsTableDiv
{
	width: 240px;	
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}

#attributeAllFieldsTable
{
	width: 200px;
}

#addAttributeTable
{
	margin-left: 20px;	
}

#inputMetaAttribute
{
	float:left;	
}


/*User*/

#userPasswordIncorrect
{
    visibility: hidden;
    color: #fa3f3f;
}

/* Headers */
h1, h2, h3, h4
{
    font: bold 1em/1.5em Arial, Helvetica, Sans-Serif;
    margin-bottom: 14px;
    color: #0d4163;
}
h1
{
    font-size: 38px;
    line-height: 42px;
    margin-top: 2px;
    margin-bottom: 4px;
    letter-spacing: -2px;
}
h2
{
    font-size: 30px;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h3
{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 12px;
    margin-bottom: 12px;
}
h4
{
    font-size: 18px;
}

h5
{
    font-size: 13px;
    font-weight:600;
     color: #2C76A6;
}

/* Lists */
ul, ol
{
    margin: 0 0 24px 0;
    padding: 0 20px;
}
ul
{
    list-style: disc;
}
ol
{
    list-style: decimal;
}

dt
{
    font-weight: bold;
    color: #1980AF;
}
dd
{
    padding-left: 20px;
}

p, dl
{
    margin: 0 0 24px 0;
}

blockquote
{
    margin: 12px 0;
    padding: 40px 30px 20px 70px;
    border: 1px solid #E4E6E9;
    background: #F3F4F5 url(../images/quote.png) no-repeat 20px 32px;
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman' , Times, Serif;
    color: #555;
    overflow: hidden;
}
blockquote .author
{
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1.5px;
    text-align: right;
    font-size: 12px;
}
code
{
    font-family: Consolas, 'Lucida Console' , Monaco, Monospace;
    font-size: 14px;
    line-height: 1.5em;
}
pre
{
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0 0 24px 0;
    padding: 0 25px;
    display: block;
    clear: both;
    border: 1px solid #E4E6E9;
    background: #F3F4F5;
}
abbr[title], dfn[title]
{
    border-bottom: 1px dotted;
    cursor: help;
}
mark
{
    background-color: #FDD2B3;
}
strong, b
{
    font-weight: bold;
}
.no-border
{
    border: none;
}

/* Images */
img
{
    background: #F3F4F5;
    border: 1px solid #DEDFE0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
img.align-right
{
    margin: 6px 0px 6px 15px;
}
img.align-left
{
    margin: 6px 15px 6px 0px;
}

/* Table */
table
{
    border-collapse: collapse;
    margin: 0;
}
tr
{
    background: #FFF;
}
th, td
{
    text-align: left;
    border-width: 1px;
    border-style: solid;
    margin-right: 16px;
}

th
{
    padding: .2em .4em;
    border-color: #cccccc;
    background-color: #efefef;
    color: #2C76A6;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-right: 16px;
}

td
{
    border-color: #cccccc;
    padding: .2em .4em;
}


/* Clearing and Alignment */
.align-left
{
    float: left;
}
.align-right
{
    float: right;
}
.clearfix:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.ie7 .clearfix
{
    zoom: 1;
}
/* IE7 */


/* --------------------------------------------------------------------------
    S T R U C T U R E
--------------------------------------------------------------------------- */
#header-wrap
{
    float: left;
    height: 100px;
    width: 100%;
    background: url(../images/header-bg.png) repeat-x;
}
header
{
    position: relative;
    margin: 0 250px;
    width: 1200px;
}

#content-wrap
{
    margin: 0;
    padding: 0;
    width: 100%;
}
#content
{
    width: 1200px;
    margin: 0 250px;
    padding: 0 0 24px 0;
}
#main
{
    float: left;
    margin: 20px 0 0 0;
    padding: 0;
    width: 1200px;
}
#main .main-content
{
    padding-right: 30px;
    padding-left: 5px;
}


/* --------------------------------------------------------------------------
    H E A D E R
---------------------------------------------------------------------------- */


/*  Main Navigation  */
header nav
{
    position: absolute;
    left: 0;
    top: 0;
    width: 650px;
    height: 60px;
}
header nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
}
header nav ul li
{
    position: relative;
    float: left;
}
header nav ul a:link, header nav ul a:visited
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0 11px;
    height: 60px;
    color: #efefef;
    text-shadow: 0 -1px 0 rgba(10, 10, 10, 1);
    line-height: 68px;
}
header nav ul li a:hover, header nav ul li a:active
{
    border: none;
    color: #D67630;
}
header nav ul li#current a
{
    color: #D67630;
}
header nav ul li#current span
{
    position: absolute;
    display: block;
    background: url(../images/selected.png) no-repeat 50% 0;
    bottom: -9px;
    height: 10px;
    width: 100%;
}

/* Subscribe */
header div.subscribe
{
    position: absolute;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    width: 150px;
    height: 30px;
    color: #000;
    /*text-shadow: 0 -1px 0 rgba(10, 10, 10, 1);*/
    background: url(../images/login.png) no-repeat 0 center;
    padding-left: 20px;
    right: 68px;
    top: 18px;
}
header div.subscribe a
{
    padding-right: 3px;
    padding-left: 3px;
    color: #fff;
}
header div.subscribe a:hover, header div.subscribe a:active
{
    color: #D67630;
}

/* Page Navigation */
.navigation
{
    margin: 20px 0 20px 5px;
    padding: 0;
}
.navigation a:link, .navigation a:visited
{
    font-family: 'Lucida Grande' , 'Lucida Sans Unicode' , 'Lucida Sans' , Verdana, Sans-serif;
    float: left;
    display: block;
    margin: 10px 10px 0 0;
    padding: 5px 7px;
    text-transform: lowercase;
    text-decoration: none;
    border: 1px solid #2177A5;
    background: #227bad;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
}
.navigation a:hover
{
    border: 1px solid #B32D00;
    background: #CC3300;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
}


/* Topmenu */
.topmenu ul
{
    margin: 0;
    padding: 0;
    color: #959595;
}
.topmenu ul li
{
    list-style: none;
    margin: 0;
    display: inline;
    padding: 0px 10px 0px 0px; /*  padding: 7px 5px;  border-bottom:  1px  solid #E5E5E5;*/
}
.topmenu ul li a:link, .topmenu ul li a:visited
{
    color: #33799B;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lucida Grande' , 'Lucida Sans' , 'Lucida Sans Unicode' , Verdana, Sans-Serif;
    font-size: 12px;
}

.topmenu ul li a:hover
{
    color: #D67630;
}

#selected a
{
    color: #D67630;
}

/* -------------------------------------------------------------------------
    M A I N
--------------------------------------------------------------------------- */
#main h2
{
    font-size: 34px;
    letter-spacing: -0.5px;
}
#main h2 a
{
    color: #353535;
}


/* -------------------------------------------------------------------------
   S E R V E R
--------------------------------------------------------------------------- */

/* Server status*/

.error-icon
{
    background: url(../images/error.png) no-repeat 0 center;
    padding-right: 24px;
}

.warning-icon
{
    background: url(../images/warning.png) no-repeat 0 center;
    padding-right: 24px;
}

.information-icon
{
    background: url(../images/info.png) no-repeat 0 center;
    padding-right: 24px;
}

#MainContent_serverStatusContainer
{
    text-align: center;
}

.error-status
{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    background-color: #FAB6B6;
    border: 1px solid #FA0505;
}

.information-status
{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #cccccc;
    color: #0d4163;
}

/* end Server status*/

.centerContent
{
    text-align: center;
}

.tableFooter
{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #efefef;
    border: 1px solid #cccccc;
}

.tableColumn-min-width
{
    width: 150px;
}

.tableColumn-checkbox
{
}

#selectedFileName
{
    width: 150px;
}

/* -------------------------------------------------------------------------
   B U T T O N S
--------------------------------------------------------------------------- */

.imageButton
{
    border: 1px solid #2C76A6;
    padding: 5px;
    background-color: #ffffff;
}

.imageButton:hover
{
    background-color: #efefef;
}

.imageButton img
{
    padding: 2px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
}

.imageButton span
{
    vertical-align: middle;
    font-weight: 600;
    font-size: 11px;
}


/* -------------------------------------------------------------------------
  E ND  B U T T O N S
--------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
   M O D A L
--------------------------------------------------------------------------- */

#simplemodal-container
{
    background-color: #fff; /*min-height: 500px;     min-width: 800px;*/
}

#simplemodal-overlay
{
    background-color: #000;
    cursor: default;
}

.simplemodal-data
{
    /*width: 400px;	*/
}

.modal-header
{
    padding: .4em .4em;
    background-color: #efefef;
    color: #2C76A6;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
}

.modal-content
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.modal-footer
{
    border-top: 1px solid #cccccc;
    text-align: right;
}

.modal-button
{
    border: 1px solid #2C76A6;
    padding: 5px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-button:hover
{
    background-color: #efefef;
}

.modal-table td
{
    border: 1px solid #ffffff;
}

.modal-table td input
{
    width: 220px;
}

/* -------------------------------------------------------------------------
  E N D  M O D A L
--------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
  Table Sorter
--------------------------------------------------------------------------- */

th.headerSortUp
{
    background-image: url(../images/sort_descending.png);
    background-repeat: no-repeat;
    background-position: center right;
    color: #D67630;
    margin-right: 16px;
}

th.headerSortDown
{
    background-image: url(../images/sort_ascending.png);
    background-repeat: no-repeat;
    background-position: center right;
    color: #D67630;
}

/*.header
{
	margin-right: 16px;
}*/

th.header:hover
{
    color: #D67630;
}


/* -------------------------------------------------------------------------
  E N D G R I D
--------------------------------------------------------------------------- */

#MainContent_fileupload
{
    padding: 9px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 11px;
}


#MainContent_fileupload:hover
{
    background-color: #efefef;
}

.folderPath {
    width: 350px;
}

table tr td input
{
    /* vertical-align: middle;*/
    margin-top: 3px;
}

.changedInput
{
    background-color: #b6cfe3;
}

.left-aligned-checkbox
{
    text-align: left;
    width: 13px;
}

/* -------------------------------------------------------------------------
  Login
--------------------------------------------------------------------------- */

.subscribeContent ul
{
    position: absolute;
}

.subscribeContent ul li
{
    height: 0;
    overflow: hidden;
    padding: 0;
}

.subscribeContent ul li div
{
    width: 160px;
}

.subscribeContent ul li
{
    overflow: visible;
    z-index: 110;
    padding: 0;
    height: auto;
}

.subscribe ul
{
    list-style: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: auto;
}


#LoginDivDropdown div:hover > #LoginSubscription span
{
    color: #0d679a;
}

#LoginDivDropdown
{
    padding: 5px 5px 3px 5px;
    background-color: #efefef;
    border: 1px solid #cccccc;
}

#LoginDivDropdown div
{
    display: inline-block;
}

#LoginDivDropdown label
{
    color: #0d679a;
}

#LoginDivDropdown .rem
{
    color: #000;
    font-weight: normal;
}


#TableErrorLabelAndLoginButton
{
    right: 10px;
}

#TableErrorLabelAndLoginButton td
{
    background-color: #0d679a;
    border: 0px;
}

#ErrorLabel
{
    visibility: hidden;
    color: Red;
    font-weight: normal;
}

#LoginPasswordInput
{
    width: 150px;
    border: 1px solid #cccccc;
    height: 20px;
}

#LoginUsernameInput
{
    width: 150px;
    border: 1px solid #cccccc;
    height: 20px;
}

#ButtonLogin
{
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 5px;
    margin-right: 5px;
}

#ButtonLogin:hover
{
    background-color: #cccccc;
    color: #ffffff;
}

#login-footer
{
    text-align: right;
}

/*END LOGIN*/

.tableHeader-margin
{
    margin-right: 16px;
}

.event-info-img
{
    margin-top: 3px;
    border: none;
}

.event-table-error-row td
{
    color: Red;
}

/* ---------------------------

T A B S

--------------------------- */

.tabsWrapper
{
}

.idTabs
{
    border-bottom: 1px solid #efefef;
}

.idTabs li
{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
    padding-top: 5px;
 
    padding-right: 10px;
   
    margin: 0px;
}

.selected
{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 10px;
     border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-top: 1px solid #efefef;
     border-bottom: 2px solid #ffffff;
}



/*** END TABS ***/

.snippet
{
    width:600px;
    height:400px;
     overflow-y: auto;
     border: 1px solid #efefef;
     padding:2px;
     
}


/*#simplemodal-container
{
	width:300px;
	height:500px;
    border: 1px solid #efefef;
    border-bottom: 0px solid #efefef;
    padding:2px;
     
}*/

/* ---------------------------

AttributeSet Implementations attributes

--------------------------- */

#attributeSetWithTypeTableMappingTable tr:hover
{
	background-color: #efefef; 
}

.selectedColumn
{
	background-color: #efefef;	
}

.selectedRow
{
	background-color: #efefef;
	/*background-color: #0d679a;
	color: #fafdff;*/	
}

#formattingTable tr:hover
{
	background-color: #efefef; 		
}

/* ---------------------------

Formatting

--------------------------- */

#formatterAttributeMappingTable tr td
{
	border: 0px;
		
}

.tdToAdjustValign{
	vertical-align: top;
}

#testPatternContentTable tbody tr td
{
	border: 0px;
		
}

.selectedRowFormatter
{
	background-color: #efefef;		
}

/* ---------------------------

Correcting a bugg related to multiSelect controll where TD pushes down after selecting a value in multiSelectcontroll

--------------------------- */

#rolePermissionsMultivalue Span
{
	height: 24px;	
}

#userRolesMultivalue Span
{
	height: 24px;		
}

#attributesMultivalue Span
{
	height: 24px;		
}

#editionsMultivalue Span
{
	height: 24px;	
}

#attributeSetsChanMultivalue Span
{
	height: 24px;	
}

.restrictedFieldsSelect {
	width: 200px;
}

.cellError {
    background-color: #FF3333;
}

.completenessDefinitionRow {
    background-color: #efefef;	
}

/* Connector Monitor */

.filterControl {
    background-color: #efefef;
    padding: 10px;
    margin-bottom: 15px;
    width: 790px;
}

#queuedTable {
    width: 810px;
}

#pastEvents {
    overflow: auto;
    max-height: 340px;
    width: 810px;
}

#textareaXml {
    font-size: 12px;
    width: 760px;
    background: #ffffff;
}

#filterButton {
    display: inline-table;
    margin-top: 10px;
}

#connectorDiv {
    border: 1px solid #cccccc;
    padding: 10px;
    width: 750px;
}

#refreshDiv {
    display: inline-block;
    margin-left: 10px;
}

/* Connector Monitor end */

#inputPriority {
    width: 178px;
}