<div id="edit-panel"></div>
<div class="main">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-users icon-header"></i>Roles</h2>
                <div class="box-actions">
                    <span title="Create Role" class="row-icon-button query-action-button" id="newRole">
                        <i class="fa fa-plus"></i>
                        <span class="workarea-tool-text">Create Role</span>
                    </span>
                </div>
            </div>
            <div class="box-content">
                <div id="roles-list"></div>
            </div>
        </div>
    </div></div>