﻿<div id="main-client-area" class="modal-fixed-details">
    <div>
        <table id="revisions" style="text-align: left">
            <tr>
                <th>Value</th>
                <% if (fieldDataType=="LocaleString") { %>
                <th>Language</th>
                <% } %>
                <th>Modified</th>
                <th>ModifiedBy</th>
                <th>
                    <% if (!isReadOnly) { %>
                    Restore
                    <% } %>
                </th>
            </tr>
        </table>
    </div>
</div>