﻿
    <td><%= data.DisplayValue %></td>
     <% if (fieldDataType=="LocaleString") { %>
        <td><%= data.Language%></td>
    <% } %>
    <td><%= data.LastModified %></td>
    <td><%= data.LastModifiedBy %></td>
<td>
    <% if (!isReadOnly) { %>
    <span title="Restore value" class="icon-entypo-fix-ccw std-entypo-fix-icon control-row-icon-button" id="restore-button"></span>
    <% } %>
</td>
