﻿#channels-top-area {
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 50px;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    padding: 5px 20px 0 20px;
    line-height: 61px;
    border-bottom: #eee solid 1px;
}

#channels-overview-dataview, #publications-overview-dataview, #latest-events-overview-dataview {
    padding: 5px;
    display: inline-block;
}

.channel-main-header {
    font-size: 35px;
    color: #999999;
    margin: 0 auto;
    letter-spacing: -2px;
}

.flat-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.wpr-width-limited-container {
    margin: 0 auto 0 auto;
}

.channel-entity-card-wrap, .publication-entity-card-wrap, .connector-event-wrap {
    position: relative;
    float: left;
    width: 285px;
    color: black;
    margin-bottom: 5px;
    padding: 5px;
    border-style: solid;
    height: 50px;
    overflow: hidden;
}

.channel-entity-card-wrap, .publication-entity-card-wrap {
    cursor: pointer;
    overflow: visible;
}

.channel-entity-card-wrap .card-picture-area, .publication-entity-card-wrap .card-picture-area {
  	position: relative;
    bottom: 0;
    left: 0;
}

.connector-event-wrap .control-row-icon-button {
    color: #2d2d2c;
    cursor: default;
}

.connector-event-header .connector-event-icon {
    float: left;
}

.connector-event-header .connector-event-connector {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 5px;
}

.card-wrap-large {
    cursor: default;
}

.channel-entity-card-wrap:hover, .publication-entity-card-wrap:hover, .connector-event-wrap:hover {
    -webkit-box-shadow: 0 0 3px #000000;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
    box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.175);
    color: black;
}

.connector-event-time {
    float: right;
    font-size: smaller;
}

.connector-event-message {
    margin: 8px;
    font-size: smaller;
    clear: left;
}

.connector-event-icon {
    float: left;
}

.connector-event-text-area-normal {
    color: #000000;
    width: 100%;
    overflow: hidden;
}

.connector-event-text-area-alert {
    color: #dd0000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.red-icon-button {
    color: #dd4444;
    font-size: 16px;
    padding: 8px;
    font-weight: normal;
}

#contextmenu {
    cursor: pointer;
}

#node-area #contextmenu i {
    color: #333 !important;
}

#card-tools-container {
    right: 21px;
}

.channel-entity-card-wrap #card-tools-container,
.publication-entity-card-wrap #card-tools-container  {
    width: 150px;
}
.channel-entity-card-wrap #card-tools-container .control-row-icon-button,
.publication-entity-card-wrap #card-tools-container .control-row-icon-button {
    display: inline-block;
    padding: 5px;
    width: 17px;
}

.channel-entity-card-wrap .card-tool-area {
    margin: 8px;
}

.wpr-app-tools-container {
      position: absolute;
    z-index: 10;
    background-color: white;
    padding: 10px;
    border: 1px solid #999999;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #999;
    font-size: 13px;
    width: 250px !important;
    right: 153px;
    top: 40px;
    cursor: pointer;
}


#treemenu {
    position: absolute;
    z-index: 20;
    top: 1000px;
    left: 20000px;
    
}

#treemenu .control-row-icon-button {
    font-size: 15px;
}

#dropresult {
      display: inline-block !important;
}

.relation-wrap {
    width: 200px;
}


#control-row-content #channel-area-content {
    display: inline-block;
    margin-top: 23px;
}

#control-row-content {
    overflow-x: visible;
}

#showsubnodes {
    padding-left: 12px;
}


.subnodes {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: #ffffff;
    border: 1px solid #999999;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
}

.contentareaa {
    -moz-min-width: 350px;
    -ms-min-width: 350px;
    -o-min-width: 350px;
    -webkit-min-width: 350px;
    min-width: 350px;
    margin-top: 10px;
}

.treearea {
    /*  float: left;*/
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
    max-width: 350px;
    margin-top: 10px;
}

.contentarea {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #cccccc;
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
     bottom: 0; /*34px;*/
    position: absolute;
    top: 10px;
    left: 340px;
    right: 0;
    display: none;
    background-color: #ffffff;
}


.filter {
    margin: 12px 0 0 10px;
    width: 200px;
}
.node-content-activate {
    margin-top: 24px;
     margin-left: 20px; 
}
.viewmode {
    margin-left: 20px; 
}
.node-area-small {
    display: inline;
    float: right;
    left: 0;
    right: 0;
    position: absolute;
    overflow: auto;
    height: 100%;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 30px;
    margin-left: 15px;
    /*border-left: 1px solid #999999;*/ 
}

.node-view-title-text {
    display: inline-block;
    float: left;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    padding: 2px 0;

}

.node-view-title-text img {
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: bottom;
}

#node-info-container {
    position: relative;
    border-top: 1px solid #ccc; 
    top: 40px; 
}

.node-tab-button {
    bottom: 0;
    padding: 10px 15px 6px 15px;
    float: left;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #2d2d2c;
    font-weight: bold;
}
.node-tab-button-active {
    border-bottom: 3px solid #2d2d2c;
}

.node-tab-button-active:hover {
    color: #333333;
}


#node-control-row-content {
    display: block;
    height: 100%;
    color: #2d2d2c;
    font-weight: normal;
    font-size: 12px;
    padding: 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
}

#row-indicator-area .completeness {
    display: none;
}

#node-control-row-content .control-row-tab-area {
    display: inline;
    float: left;
    position: absolute;
    left: 25px;
    top: 10px;
}

.node-row-icon-button {
    cursor: pointer;
    padding: 8px;
    font-weight: normal;
    font-size: 15px;
}

#node-control-row-content  .control-row-tool-area .card-tools {
    color: #2d2d2c;
}


#node-control-row-content .control-row-tool-area #contextmenu {
    margin-top: 29px;
    margin-left: 4px; 
    float: left;
}


.node-content-activate, .contentFilter, .viewmode {
    display: inline-block; 
}

.control-row-tool-area #tools {
    color: #2d2d2c;
}
.nodeHeader {
    height: 45px;
    width: 100%;
    -moz-min-width: 495px;
    -ms-min-width: 495px;
    -o-min-width: 495px;
    -webkit-min-width: 495px;
    min-width: 495px;
}

.node-content {
    overflow-y: auto;
    bottom: 10px;
    right: 0;
    left: 0;
}

.rule {
    clear: both;
    padding: 5px; 
}

#query-remove-row {
    cursor: pointer; 
}

.nodeConfigHeader {
    margin-top: 10px;
    height: 40px;
    width: 100%; 
}
.nodeConfigureType {
    margin-bottom: 5px;
    width: 100%;
    margin-left: 25px;
    margin-top: 10px;
}

.nodeConfigureOperator {
    margin-bottom: 10px;
    width: 100%; 
    margin-left: 25px;
}

.nodeConfigureType select,.nodeConfigureType select option, .nodeConfigureType span {
    padding: 2px; 
}
.ruletitle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px; 
}
#rulearea .query-link-container {
    margin-left: 10px;
    margin-bottom: 10px; 
}

#rulearea {
    margin-top: 10px;
    margin-left: 25px;
    overflow-y: auto;
}

.buttons {
    margin-bottom: 15px; 
}

.control-row-tool-area #contextmenu i{
    padding-left: 8px;
    color: #fff;
}

#details-view-wrap {
    overflow-y: visible;
    top: 40px;
}

.details-view-tools-row {
    padding-left: 0;
    padding-right: 0;
}

#work-area-link {
    margin: 0 0 0 10px;
}

.planandrelease-entity-tab #main-client-area .jstree {
    display: block;
    position: absolute;
    top: 80px;
    bottom: 18px;
    overflow: auto;
    width: 339px;
}

.planandrelease-entity-tab #main-client-area #work-area-selection,
.planandrelease-entity-tab #main-client-area #queryEditorViewContainer {
    top: 8px !important;
    bottom: 0 !important;
    position: relative !important;
    margin-bottom: 10px;
}

.treearea .content-area-tools-row {
    padding-left: 0;
}