﻿@model Insite.ContentLibrary.Pages.TemplatePage

<div class="row main-row">
    <div class="medium-12 large-12 columns">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div class="cm">
                    @Html.Zone(Model, "Content")
                </div>
            </div>
        </div>
    </div>
</div>