﻿@using Insite.ContentLibrary.Pages
@model Insite.ContentLibrary.Pages.TemplatePage

@{
    var page = CurrentPage as NewsPage;
    if (page == null)
    {
        page = new NewsPage();
    }
}

<div class="row main-row news-page">
    <div class="medium-12 large-12 columns">
        <div class="medium-12 large-12 columns">
            <div class="news-list-header">
                @Html.Zone(Model, "News Header")
            </div>
            <div class="news-page-full">
                <h2 class="news-heading">@page.Title</h2>
                <div class="news-publish-info"><strong>@page.Author</strong> <em>@(page.PublishDate.HasValue ? page.PublishDate.Value.LocalDateTime.ToShortDateString() : "")</em></div>
                <div class="news-page-content">
                    @Html.Raw(page.NewsContents)
                </div>
            </div>
            <div class="news-list-footer">
                @Html.Zone(Model, "News Footer")
            </div>
        </div>
    </div>
</div>