﻿<div id="app-background"></div>  
<div id="appMenu">
    <ul class="apps">
        <% if(items.length == 0) {
        %>
        <li><div class="no-items-text">No apps found</div></li>
        <% } %>
        <% _.each(items, function (item) {
        %>
        <li>
            <a class="" id="<%= item.name %>" title="<%= item.name %>" href="<%= item.url %> ">
                <div class="app-title">
                    <%if (item.icon){ %>
                    <i class="<%= item.icon %> fa-2x"></i> <div><%= item.name %></div>
                    <% } else if (item.iconImage){%>
                    <img src="<%=item.iconImage%>"/><div><%= item.name %></div>
                    <%} %>
                </div>
            </a>
        </li>
        <% }) %>
    </ul>
</div>